{% extends "base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block headtitle %}Gaming{% endblock %}

{% block head %}
<!--<link rel="stylesheet" media="screen" href="/static/css/feature{% if prod %}.min{% endif %}.css" />-->
{% endblock %}

{% block body %}
<div data-import-html>
  <header class="two_columns clearfix pattern-bg-lighter">
    <hgroup>
      <img src="/static/images/banner-gaming.png" width="462" height="176">
      <h1>
        The Future of Games<br>
        <span>Is In Your Browser</span>
      </h1>
    </hgroup>

    <section>
      <p>It's official: with HTML5 today the browser has become a full-fledged gaming platform.
      Features like high performance 2D and 3D graphics, offline asset storage, rich audio APIs,
      and socket-based networking let you create compelling modern games with a reach like never before.
      Connect with users wherever they are by creating HTML5 games that can be played in browsers
      across desktop or mobile devices. HTML5 has the tools you need to create amazing games that
      engage with users seamlessly. Get started today!</p>
    </section>
  </header>

  <article class="sectioned">
    <section class="feed one_half">
      <h3>{% trans "Gaming" %} {% trans "Updates" %}</h3>
      <ul id="updates_list">
        {% for tut in tutorials %}
          {% if tut.type != 'tutorial' and tut.type != 'article' %}
            <li data-pubdate="{{tut.publication_date}}">
              <span class="date">{{tut.publication_date.month}}/{{tut.publication_date.day}}</span> <span class="author" data-author_id="{{ tut.author.key.name }}"><img src="/static/images/profiles/75/{{tut.author.key.name}}.75.png" alt="{{ tut.author.given_name }} {{ tut.author.family_name }}" title="{{ tut.author.given_name }} {{ tut.author.family_name }}"></span>
              <span class="title"><a href="{{tut.url}}">{{tut.title|safe}}</a></span>
              <span class="classes">
                {% for tag in tut.classes %}
                  <span class="class {{tag}}"><span class="class_name">{{tag}}</span></span>
                {% endfor %}
              </span>
            </li>
          {% endif %}
        {% empty %}
          Sorry, nothing available yet. Become a <a href="http://code.google.com/p/html5rocks/wiki/ContributorsGuide" target="_blank">contributor</a>.
        {% endfor %}
      </ul>
      <div><a href="/{{LANGUAGE_CODE}}/tutorials#audience:gaming">{% trans "Give me everything" %} &rarr;</a></div>
    </section>

    <section class="one_half">
      <h3>{% trans "Gaming" %} {% trans "Tutorials" %}</h3>
      <ul class="definitions">
      {% for r in tutorials %}
        {% if forloop.counter0 < 10 %}
          {% if r.type == 'tutorial' or r.type == 'article' %}
          <li>
            <a href="{{r.url}}">{{r.title}}</a><br>
            <span>{{r.description|safe|truncatewords:15}}</span>
            </a>
          </li>
          {% endif %}
        {% endif %}
      {% empty %}
        <p>Sorry, nothing available yet. Become a <a href="http://code.google.com/p/html5rocks/wiki/ContributorsGuide" target="_blank">contributor</a>.</p>
      {% endfor %}
      </ul>
      <div><a href="/{{LANGUAGE_CODE}}/tutorials#audience:gaming">{% trans "Give me everything" %} &rarr;</a></div>
    </section>

    <section class="resources">
      <hgroup>
        <h3>{% trans "Tools &amp; Frameworks" %}</h3>
      </hgroup>
      <div>
        <ul class="two_columns">
          <li><a href="http://www.mandreel.com/">Mandreel</a></li>
          <li><a href="https://github.com/mrdoob/three.js/">three.js</a></li>
          <li><a href="http://benvanik.github.com/WebGL-Inspector/">WebGL Inspector</a></li>
          <li><a href="https://github.com/facebook/jsgamebench">JS Games Benchmark</a></li>
          <li><a href="http://impactjs.com/">Impact.js</a></li>
          <li><a href="https://developers.google.com/playn/">PlayN</a></li>
          <li><a href="http://processingjs.org/">Processing.js</a></li>
          <li><a href="http://www.scirra.com/">Scirra</a></li>
          <li><a href="http://learningthreejs.com/">learningthreejs.com</a></li>
          <li><a href="http://box2d-js.sourceforge.net/">Box2D</a> physics engine</li>
        </ul>
      </div>
    </section>

    <section class="contributors">
      <hgroup>
        <h3>{% trans "Recent Contributors" %}</h3>
      </hgroup>
      <ul class="authors">
        {% for a in authors %}
          {% if forloop.counter0 < 10 %}
          <li class="profile" id="{{ a.key.name }}" itemscope itemtype="http://microformats.org/profile/hcard">
            <a href="/{{LANGUAGE_CODE}}/profiles#{{ a.key.name }}">
              <img itemprop="photo" alt="{{ a.given_name }} {{ a.family_name }}" title="{{ a.given_name }} {{ a.family_name }}" src="/static/images/profiles/75/{{a.key.name}}.75.png">
              <h2>
                <div itemprop="fn">
                  <div itemprop="n" itemscope>
                    <span itemprop="given-name">{{ a.given_name }}</span>
                    <span itemprop="family-name">{{ a.family_name }}</span>
                  </div>
                </div>
              </h2>
              <h3 itemprop="org" itemscope>
                <div itemprop="organization-unit">{{ a.unit }}</div>
                <div itemprop="organization-name">{{ a.org}}</div>
              </h3>
            </a>
          </li>
          {% endif %}
          {% empty %}
          Sorry, nothing available yet. Become a <a href="http://code.google.com/p/html5rocks/wiki/ContributorsGuide" target="_blank">contributor</a>.
        {% endfor %}
      </ul>
    </section>
  </div>
</div>

<script>
  var selfPage = '{{self_pagename}}'; // Need to pass in current page id to persona.js via template.
</script>
<script defer src="/static/js/handlebars-1{% if prod %}.min{% endif %}.js"></script>
<script defer src="/static/js/persona{% if prod %}.min{% endif %}.js"></script>
{% endblock %}