{% extends "tutorial.html" %}
{% load mixin from templatefilters %}

{% block pagebreadcrumb %}{{ tut.title }}{% endblock %}

{% block head %}
<!-- CSS/JS can go here or at the bottom of the article just before the content -->
{% endblock %}

{% block iscompatible %}
  return !!(window.WebSocket)
{% endblock %}

{% block html5badge %}
<img src="/static/images/identity/html5-badge-h-connectivity.png" width="133" height="64" alt="This article is powered by HTML5 Connectivity / Realtime" title="This article is powered by HTML5 Connectivity / Realtime" />
{% endblock %}

{% block share_image %}
<!--<meta itemprop="image" content="images/your_social_sharing_img.png">-->
{% endblock %}


{% block content %}

<!-- Uncomment if this is a bleeding edge feature
  <p>{% include "warning.html" %}</p>
-->

<p><a href="http://chrome.com/maze/">World Wide Maze</a> はスマートフォンを使ってボールを転がし、3D 迷路化された Web サイト上でゴールを目指すゲームです。</p>

<p><img src="/static/images/screenshots/casestudies/world_wide_maze/wwm.jpg" alt="" /></p>

<p>スマートフォンから DeviceOrientation イベントで取得された傾き情報を WebSocket を通じて PC に送信し、<a href="http://www.khronos.org/registry/webgl/specs/latest/">WebGL</a> や <a href="http://www.w3.org/TR/workers/">Web Workers</a> で構築された 3D 空間をかけめぐる、といったように HTML5 の機能をふんだんに使ったゲームになっています。</p>

<p>この記事では、それらの機能を具体的にどのように使っているか・制作フロー・最適化ポイントなどについて解説していきす。</p>

<h2 id="deviceorientation">DeviceOrientation</h2>

<p>スマートフォンの傾き情報を取得するには <a href="http://dev.w3.org/geo/api/spec-source-orientation.html#deviceorientation">DeviceOrientation イベント</a>を使います。<code>deviceorientation</code> イベントを <code>addEventListener</code> すると、一定時間ごとに引数に <code>DeviceOrientationEvent</code> オブジェクトを持ったコールバックが呼ばれます。このコールバックは一定時間ごとに呼ばれますが、その間隔はデバイスによって異なってきます。iOS + Chrome, iOS + Safari だと 1/20 秒ごとぐらい、Android 4 + Chrome だと 1/10 秒ぐらいです。</p>

<pre><code>window.addEventListener(‘deviceorientation’, function (e) {
  // do something here..
});
</code></pre>

<p><code>DeviceOrientationEvent</code> オブジェクトにはデバイスの <code>XYZ</code> 軸それぞれの傾きが度単位（ラジアンではない）で入っています。（XYZ 軸がそれぞれ何を表すかは上記  w3c のページを参照してください。）ただし、これもデバイスとブラウザの組み合わせによって返ってくる値が異なります。実際に返ってくる値の範囲を調査し、まとめた表が以下になります。</p>

<p><img src="/static/images/screenshots/casestudies/world_wide_maze/deviceorientation.png" alt="" /></p>

<p>一番上のブルーのところの値が W3C の仕様で定義されてる値、グリーンが仕様どおりになっている値です。赤が仕様と違う値。驚くことに仕様通りの値を返してくるのは Android の Firefox だけでした。いくら Firefox が正しいとはいえ、実装でいうと多数に合わす方が合理的なので、World Wide Maze では iOS で返ってくる値を基準に、Android の方をズラして対応する仕組みにしています。</p>

<pre><code>if android and event.gamma &gt; 180 then event.gamma -= 360
</code></pre>

<p>実はそれでも Nexus 10 は対応できません。Nexus 10 の返す値は、範囲的には他の Android と同じですが、beta と gamma が逆になるというバグがあり、それも別途対応しています。（横位置をデフォルト位置としてる？）</p>

<p>このように、物理デバイスが絡む API では、仕様が決まっていたとしても、そのとおりの値が返ってくる保証はなく、想定されるデバイスすべてで実際に動作させて値を確認するという作業が必須になります。そしてそれは想定外の値が入力されうるということなので、その場合の対処もあわせて仕組みを作らなければなりません。World Wide Maze では初回プレイ時のチュートリアルの STEP 1 としてデバイスのキャリブレーションをさせていますが、傾き値が想定外の場合、絶対にゼロ位置に合わせられないので、内部的に制限時間を設け、制限時間内に合わせられない場合、キーボード操作に切り替えるように誘導しています。</p>

<h2 id="websocket">WebSocket</h2>

<p>WWM では、スマートフォンと PC は WebSocket で接続されています。正確には、スマートフォン→サーバー→PC のように、間に中継用のサーバーが存在します。WebSocket には直接ブラウザ同士を接続する機能はないのでこのようになっています。（WebRTC の Data Channels をつかうと P2P 接続できるので中継サーバーは不要になりますが、実装時点では Chrome Canary と Firefox Nightly でしか<a href="https://hacks.mozilla.org/2013/03/webrtc-data-channels-for-great-multiplayer/">利用できませんでした</a>。）</p>

<p>実装には、接続タイムアウトや切断時の再接続などの機能をもった Socket.IO (v0.9.11) を採用しました。サーバーサイドは複数の WebSocket 実装をテストした結果、最もパフォーマンスのよかった NodeJS + Socket.IO の組み合わせを採用しました。</p>

<h3>番号によるペアリング</h3>

<ol>
<li>PC がサーバーに接続。</li>
<li>ランダムに生成した番号を PC に渡す。 <br />
サーバーは番号と PC のペアを覚えておく。</li>
<li>モバイルから番号を指定してサーバーに接続。</li>
<li>指定した番号に対応する PC が存在すれば、それとペアを作る。 <br />
なければエラー。</li>
<li>モバイルからデータが流れてきたら、ペアとなる PC に送る。逆も。</li>
</ol>

<p>最初の接続はモバイルからも可能ですが、単純に動作が逆になるだけです。</p>

<h3 id="tab-sync">Tab Sync</h3>

<p>番号によるペアリングをさらに簡単にする方法として、Chrome 特有の機能である Tab Sync を使用しました。Tab Sync 機能を使うと、PC で開いていたものと同じ URL をモバイル側でも簡単に開くことができます（逆ももちろん可能）。PC 側でサーバーから発行された接続番号を <code>history.replaceState</code> を使って URL にくっつけます。</p>

<pre><code>history.replaceState(null, null, ‘/maze/’ + connectionNumber)
</code></pre>

<p>Tab Sync が有効であればこの URL が数秒後に同期され、モバイル側で同じ URL が開けるようになります。モバイル側では開かれた URL をチェックして、番号がついていればすぐに接続を開始します。この方法では番号を手動で入力することもカメラで QR コードを読み取る必要もありません。</p>

<h3 id="-2">レイテンシー</h3>

<p>日本からアクセスした場合、中継用のサーバーがアメリカに存在するため、実際にスマートフォンから送られた傾きデータが PC に到着するまでに、おおよそ 200ms 程度の遅延が発生します。開発時にローカル環境で動かしていた状況と比較すると明らかに反応が鈍いのですが、ローパスフィルタのようなもの（具体的には<a href="http://ja.wikipedia.org/wiki/%E7%A7%BB%E5%8B%95%E5%B9%B3%E5%9D%87#.E6.8C.87.E6.95.B0.E7.A7.BB.E5.8B.95.E5.B9.B3.E5.9D.87">指数移動平均</a>）を挟むことであまり気にならないレベルにすることができました。（実際、傾きセンサーが返す値はノイズもかなり含まれていて、そのまま傾きの値を画面に反映させるとすごくガタガタするので、見栄え的にもローパスフィルタは必要でした。）ジャンプに関してはそういう訳にはいかないので、明らかに遅延してるのが分かりますが、これについてはどうしようもありませんでした。</p>

<p>当初からレイテンシーが発生することは分かっていたので、中継用サーバーを世界各地に配置して、各クライアントから一番近い＝レイテンシーが少ないサーバーに接続しにいく方法を考えていましたが、今回使用することになった <a href="https://cloud.google.com/products/compute-engine">GCE (Google Compute Engine)</a> が当時 US しか存在しなかったため、この仕様になりました。</p>

<h3 id="nagle">Nagle アルゴリズム問題</h3>

<p>普通の OS では、TCP レベルでバッファリングすることで、効率良く通信するための <a href="http://ja.wikipedia.org/wiki/Nagle%E3%82%A2%E3%83%AB%E3%82%B4%E3%83%AA%E3%82%BA%E3%83%A0">Nagle アルゴリズム</a> という仕組みがが実装されているのですが、このアルゴリズムが有効なままだとリアルタイムにデータを送信することができないという現象がありました。（正確にはこれに加えて <a href="http://ja.wikipedia.org/wiki/TCP%E9%81%85%E5%BB%B6ACK">TCP 遅延 ACK</a> が組み合わさった場合。遅延 <code>ACK</code> でなくても、サーバーが海外にあったりして <code>ACK</code> がある一定レベル遅れる場合には同様の問題が発生します。）</p>

<p>Chrome for Android の WebSocket 実装では Nagle を無効にするための <code>TCP_NODELAY</code> オプションが付いているので、Nagle 遅延問題は発生しませんでしたが、Chrome for iOS につかわれている WebKit の WebSocket 実装には、このオプションが指定されておらず、遅延問題が発生します。同じ WebKit を使っている Safari も同様。<a href="https://bugs.webkit.org/show_bug.cgi?id=102079">この問題は Google を通して Apple に報告され、開発バージョンの WebKit ではすでに修正されている</a> とのこと。</p>

<p>実際、この問題が発生すると、100ms ごとに送信している傾きデータが、500ms ごとにまとめて PC 側に届きます。これではゲームとして成立しないので、サーバーサイドから短い間隔（50msぐらい）でデータを送り続けることで遅延を回避しています。これはおそらく <code>ACK</code> が短い間隔で届くために、Nagle アルゴリズム的に送信可能な状態になるからだと考えています。</p>

<p><img src="/static/images/screenshots/casestudies/world_wide_maze/nagle1.png" alt="" /></p>

<p>これは実際にデータを受信した間隔をグラフにしたものです。前のパケットとの時間間隔を表していて、緑が送信間隔、で赤が受信間隔。下が 54ms、上が 158ms で、中心がほぼ 100ms です。iPhone で日本にある中継サーバーをつかったときのものになります。送受信ともにほぼ 100ms なので、動きはスムースです。</p>

<p><img src="/static/images/screenshots/casestudies/world_wide_maze/nagle2.png" alt="" /></p>

<p>そしてこれが US にあるサーバーでやってみたときのグラフです。緑の送信間隔はちゃんと 100msですが、受信間隔は下が 0ms で上が 500ms という具合に、いくつかのデータがまとめられて PC 側に届いていることが分かると思います。</p>

<p><img src="/static/images/screenshots/casestudies/world_wide_maze/nagle3.png" alt="" /></p>

<p>そしてこれがサーバーからダミーのデータを送り続けることで遅延回避したときのグラフです。日本のサーバーほどではないですが、受信間隔がほぼ 100ms 付近に安定したのが分かるでしょうか？</p>

<h3 id="-3">バグ？</h3>

<p>Android 4 (ICS) のデフォルトブラウザは WebSocket の API が存在するにもかかわらず、接続することができないという問題があります。その場合、Socket.IO の connect_failed イベントが発生します。内部的にはタイムアウトしているのですが、サーバーサイドでも接続が確認できない状態です。（生 WebSocket では試していないので、もしかすると Socket.IO の問題かもしれない。）</p>

<h3 id="-4">中継サーバーのスケーリング</h3>

<p>中継サーバーがやっていることはさほど難しいものではないので、同じ番号のソケットが同じサーバーに繋がるようにさえ気を使えば、サーバーを増やすこと自体はそれほど難しくありません。</p>

<h2 id="physics">Physics</h2>

<p>ゲーム内のボールの動き（重力に応じて転がる、床にぶつかる、壁にぶつかる、アイテムを取得するなどなど）は、すべて 3 次元の物理シミュレーションを行なっています。実装には、様々なゲームなどでの採用実績がある <a href="http://bulletphysics.org/wordpress/">Bullet</a> を <a href="http://emscripten.org/">Emscripten</a> を用いて JavaScript に移植した <a href="https://github.com/kripken/ammo.js/">Ammo.js</a> と、さらにそれを Web Worker として実行させる <a href="http://chandlerprall.github.com/Physijs/">Physijs</a> を使用しました。</p>

<h3 id="web-workershttpdevw3orghtml5workers"><a href="http://dev.w3.org/html5/workers/">Web Workers</a></h3>

<p>Web Workers は、JavaScript ファイルを別スレッドとして並列に実行できる機能です。Web Worker として起動された JavaScript は呼び出し元のスレッドとは別のスレッドとして動作するので、重い処理をさせても画面が固まったりすることはありません。Physijs はこの Web Worker をうまくつかうことで、通常では負荷の高い 3D 物理演算をスムーズに動作させることができます。World Wide Maze では物理演算と WebGL の描画を完全に別のフレームレートで動かすことで、WebGL の描画負荷が高くフレームレートが落ちてしまう低スペックマシンでも、物理演算自体は極力 60fps を維持し、ゲームの操作感が損なわれないよう配慮しています。</p>

<p><img src="/static/images/screenshots/casestudies/world_wide_maze/fps.png" alt="" /></p>

<p>画像は <a href="http://shopap.lenovo.com/jp/products/laptops/essential/g-series/g570/index.html">Lenovo G570</a> での動作時のフレームレートです。上が WebGL（画面描画）で、下が物理演算のフレームレートをそれぞれ表しています。GPU が Intel HD Graphics 3000 という CPU 内蔵のもののため、想定フレームレートの 60fps には達していませんが、物理演算フレームレートは想定通りのため、ゲームプレイは高スペックのものとさほど変わりありません。</p>

<p>Web Worker が動作するスレッドには console オブジェクトが存在しないため、デバッグログを取るためには postMessage でメインスレッドに送信しないといけません。<a href="http://blog.jetienne.com/blog/2011/09/12/console4worker/">console4Worker</a> を使うと、Worker 内に通常の console オブジェクトと同等のものを用意してくれるので、デバッグが格段にやりやすくなります。</p>

<p><img src="/static/images/screenshots/casestudies/world_wide_maze/workers.png" alt="" /></p>

<p>最近の Chrome では、Web Worker 起動時に Breakpoint 設定できたりするので、これも覚えておくと便利です。Developer Tools の Workers のパネルに表示されます。</p>

<h3 id="-5">パフォーマンス</h3>

<p>ステージ全体のポリゴン数は多い時で 10 万を超えることもありますが、それらをすべて <code>Physijs.ConcaveMesh</code> (Bullet でいうと <code>btBvhTriangleMeshShape</code>) として生成しても、特別パフォーマンスに問題は出ませんでした。</p>

<p>当初、当たり判定が必要なオブジェクトが増えるに連れて、フレームレートが落ちるという問題がありましたが、Physijs 内の無駄な処理を省くことによって、パフォーマンスが改善しました。改善したものは本家から <a href="https://github.com/Saqoosha/Physijs">fork</a> しています。</p>

<h3 id="ghost-object">Ghost object</h3>

<p>当たり判定はあるけど当たっても衝撃を受けたりせず、他に影響を与えないオブジェクトを、Bullet では Ghost object と呼びます。Physijs では正式にサポートされていませんが、<code>Physijs.Mesh</code> 生成後にフラグをいじることで、Physijs でも実現可能です。World Wide Maze ではアイテムとゴールの当たり判定に、この Ghost object を使用しています。</p>

<pre><code>hit = new Physijs.SphereMesh(geometry, material, 0)
hit._physijs.collision_flags = 1 | 4
scene.add(hit)
</code></pre>

<p><code>collision_flags</code> の 1 は <code>CF_STATIC_OBJECT</code>、4 は <code>CF_NO_CONTACT_RESPONSE</code>。このあたりの情報は Bullet の <a href="http://www.bulletphysics.org/Bullet/phpBB3/">forum</a> とか <a href="http://stackoverflow.com/">Stack Overflow</a> を探すと出てきます。あと、<a href="http://bulletphysics.org/Bullet/BulletFull/">Bullet のドキュメント</a>。Physijs は Ammo.js の wrapper で、Ammo.js は Bullet そのものなので、Bullet でできていることは大抵 Physijs でもできます。</p>

<h3 id="firefox-18">Firefox 18 問題</h3>

<p>Firefox が 17 から 18 にバージョンアップした際、Web Worker 間でデータをやり取りする方法に変更があったため、Physijs が動かなくなる問題が起こりました。GitHub に <a href="https://github.com/chandlerprall/Physijs/issues/62">Issue</a> 登録したら数日で解決。オープンソースってすごーい、と思うと同時に、多数のオープンソースフレームワークを用いて World Wide Maze が出来上がってることを再認識し、なんらかのフィードバックをすべきという思いでこの文章を書いています。</p>

<h3 id="asmjs">asm.js</h3>

<p>World Wide Maze とは直接関係ありませんが、先日 Mozilla が発表した <a href="http://asmjs.org/">asm.js</a> に Ammo.js が早速対応していました。（asm.js は Emscripten で生成された JS をさらに高速に動かすためのようなもので、Emscripten の作者 = Ammo.js の作者なので当然といえば当然。）Chrome も asm.js に対応すれば、物理演算部分の負荷がかなり減ると思われます。実際 Firefox Nightly で試した際は、実感できるレベルでかなり高速でした。高速化が必要な部分は C/C++ で書いて Emscripten で JS にするのがベスト？？</p>

<h2 id="webgl">WebGL</h2>

<p>WebGL の実装には一番活発に開発が進んでいる <a href="http://mrdoob.github.com/three.js/">three.js</a> (r53) を利用しました。開発後期には revision が 57 まで進んでいましたが、大幅な API 変更が入っていることがわかっていたので、最初に導入した revision のままリリースしました。</p>

<h3 id="glow-effect">Glow effect</h3>

<p>ボールのコア部分やアイテムなどがぼわーっと光るグロー表現は、いわゆる <a href="https://www.google.co.jp/search?q=%E5%B7%9D%E7%80%AC%E5%BC%8F">川瀬式 MGF</a> の簡易版によって実装されています。ただし通常の川瀬式が輝度の高い部分を bloom させているのに対し、World Wide Maze では光らせる部分を別のレンダーターゲットに描画する方式にしています。これは Web サイトのスクリーンショットをステージテクスチャに使用しなければならず、高輝度部分を単純に抽出してしまうと背景が白いサイトなどは全域にグローがかかってしまうため。HDR で全てを処理することも考えられましたが、実装がかなり複雑になりそうだったので今回は見送りました。</p>

<p><img src="/static/images/screenshots/casestudies/world_wide_maze/glow.jpg" alt="" /></p>

<p>左上が 1 pass 目、グロー部分別途描画後、ブラーかけたもの。右下 2 pass 目、1 pass 目を縦横半分に縮小してブラー適用。右上 3 pass 目、2pass 目をさらに縦横半分にしてブラー適用。左下がそれらを重ねあわせた最終映像。ブラーにつかってるのが three.js 付属の <code>VerticalBlurShader</code>, <code>HorizontalBlurShader</code> なのでここはもう少し最適化できそうです。</p>

<h3 id="reflective-ball">Reflective ball</h3>

<p>ボールの映り込み処理は three.js の<a href="http://mrdoob.github.com/three.js/examples/webgl_materials_cubemap_dynamic2.html">サンプル</a>をベースにしました。ボールの位置から全方位レンダリングしたものを環境マップとして使用しています。ボールの位置が変わるたびに環境マップをアップデートする必要がありますが、60fps でアップデートするのは負荷が高いため、3 フレームおきにアップデートするようにしています。毎フレーム更新するのと比べると、多少スムースさには欠けますが、言われなければわからないレベルです。</p>

<h3 id="shader-shader-shader">Shader, shader, shader....</h3>

<p>WebGL では全ての描画にシェーダー (vertex shader, fragment shader) が必要となります。three.js に用意されているものだけでも幅広い表現は可能ですが、より凝った表現をしたり最適化が必要になったりすると、自らシェーダーを書くことは避けられません。World Wide Maze では CPU が物理演算でビジーになりがちなので、CPU (JavaScript) で書くほうが簡単な処理でも、極力シェーダー (GLSL) で書くことで、GPU を使うようにしました。海の波の表現はもちろん、ボールが登場するときのメッシュや、ゴールの花火もほぼシェーダーで表現されています。</p>

<p><img src="/static/images/screenshots/casestudies/world_wide_maze/shader1.png" alt="" /></p>

<p>ボール登場時のメッシュの表現テスト。一番左が実際に使われているもので 320 ポリゴン。真ん中が 5000 ポリゴンぐらい。右が 30 万ポリゴンぐらい。これぐらい大量のポリゴンになってもシェーダーで処理すれば 30fps 維持できる。</p>

<p><img src="/static/images/screenshots/casestudies/world_wide_maze/shader2.png" alt="" /></p>

<p>ステージ上にちらばっている小さなアイテムは、全てがひとつのメッシュになっていて、個々の動きはそれぞれのポリゴンの頂点をシェーダーで移動させることで表現されています。これは大量に置いてみてパフォーマンスが落ちないかテストしているところ。だいたい 5000 個のオブジェクトが配置されています。ポリゴン数的には 2 万程度。全く問題ありません。</p>

<h3 id="poly2tri">poly2tri</h3>

<p>ステージ形状はサーバーから受け取ったアウトライン情報をもとに JavaScript 側でポリゴン化していますが、この処理の中で重要な三角形化 (triangulation) の three.js での実装があまりよくありません。高い確率で triagulation に失敗します。そこで別の triangulation ライブラリである <a href="https://code.google.com/p/poly2tri/">poly2tri</a> を自力で組み込もうと思ったのですが、どうやら three.js は過去に poly2tri を組み込もうとしたらしく、一部コメントアウトするだけで組み込むことができました。結果、エラーは大幅に減り、プレイできるステージが増えました。それでも低い確率でエラーは発生するのですが、なぜか poly2tri のエラーは alert を出す仕組みになっているため、その部分は例外を投げるように変更しました。</p>

<p><img src="/static/images/screenshots/casestudies/world_wide_maze/poly2tri.jpg" alt="" /></p>

<p>ブルーの外形を三角形分割して赤いポリゴンを生成しています。</p>

<h3 id="anisotropic-filteringhttpenwikipediaorgwikianisotropic_filtering"><a href="http://en.wikipedia.org/wiki/Anisotropic_filtering">Anisotropic filtering</a></h3>

<p>通常の mipmap では縦横等倍に縮小してしまうので、ポリゴンを極端な角度から見た場合、World Wide Maze でいうステージの奥の方のテクスチャは、解像度の低いテクスチャを横に伸ばしたような見え方になってしまいます。Wikipedia リンクの右上の絵がわかりやすいと思います。実際には横方向の解像度はもっと必要で、WebGL (OpenGL) では Anistoropic filtering という機能でその問題を解消しています。three.js では <code>THREE.Texture.anistorpy</code> に 1 より大きな値を設定すると anstropic filtering が有効になります。ただしこの機能は extension なので GPU によってはサポートされていない場合もあります。</p>

<h3 id="optimize">Optimize</h3>

<p>WebGL (OpenGL) の処理を軽くする一番重要な点は、<a href="https://developer.mozilla.org/en-US/docs/WebGL/WebGL_best_practices">WebGL best practices</a> にもあるように、draw call をいかに少なくするかというところ。開発当初は、ステージの島・橋・ガードレールすべてが別のオブジェクトだったため、draw call が 2000 を超えることもあって、複雑なステージだと重くなりがちでした。しかし、同じ種類のオブジェクトを全て一つのメッシュにまとめるようにしたところ、draw call は 50 程度まで減り、負荷もかなり軽減されました。</p>

<p>そしてさらなる最適化のために使ったのが Chrome の tracing 機能です。Chrome の Developer tools に含まれる Profiler でもメソッド単位の処理時間などがある程度把握できますが、tracing を使うことでさらにその中のどの部分がどれぐらいの時間かかっているかを 1/1000 秒単位で見ることができます。tracing そのものの使い方は <a href="http://www.html5rocks.com/en/tutorials/games/abouttracing/">この記事</a> を読むのがよいでしょう。</p>

<p><img src="/static/images/screenshots/casestudies/world_wide_maze/optimize-fs8.png" alt="" /></p>

<p>これはボールの映り込み用の環境マップを作っている部分の trace 結果です。three.js 内部の関連しそうなところに <code>console.time</code>, <code>console.timeEnd</code> を仕込むとこのようなグラフができあがります。左から右に時間がながれていて、各レイヤーは call stack のようなものです。<code>console.time</code> を入れ子にするとさらに内部の時間が測れます。上が最適化前、下が最適化後。上では render0 ~ 5 のそれぞれで <code>updateMatrix</code> (ちょっと見切れてるけど) が呼ばれていますが、これはオブジェクトの位置や回転が変更されたときだけに必要な処理なので、全体で一回呼ばれるように変更しました。</p>

<p>当然ながら trace することそのものが負荷になるので、必要以上に <code>console.time</code> を仕込むと実際のパフォーマンスとの差がひどくなって、最適化ポイントがわかりづらくなります。</p>

<h3 id="performance-adjuster">Performance adjuster</h3>

<p>Web の特性上、さまざまなスペックのマシンでプレイされることが想定されます。2 月はじめに公開された <a href="http://www.findyourwaytooz.com/">Find Your Way To OZ</a> では <code>[IFLAutomaticPerformanceAdjust](https://code.google.com/p/oz-experiment/source/browse/project/develop/coffee/ifl/IFLAutomaticPerformanceAdjust.coffee)</code> というクラスが、動作中の fps の変化にあわせてエフェクトなどを削減することで、スムースに再生することを助けていましたが、World Wide Maze ではこの <code>IFLAutomaticPerformanceAdjust</code> クラスを元に、以下の順でエフェクトを削減、ゲームプレイそのものが極力スムースに行われるように配慮しました。</p>

<ol>
<li>45 fps を切ったら、環境マップの更新をやめる。</li>
<li>それでも 40 fps を切ったら、レンダリング解像度を 70% にする。（面積比 50%）</li>
<li>それでも 40 fps を切ったら、FXAA (アンチエイリアス) をやめる。</li>
<li>それでも 30 fps を切ったら、グローをやめる。</li>
</ol>

<h3 id="memory-leak">Memory leak</h3>

<p>three.js はオブジェクトをきれいに削除するのがちょっと面倒です。かといって放っておくと当然ながらメモリリークを起こしてしまうので、以下のようなメソッドを用意しました。<code>@renderer</code> は <code>THREE.WebGLRenderer</code>。（three.js 最新リビジョンでは deallocation の方法がちょっと変わってるので、たぶんこのままでは使えません。）</p>

<pre><code>destructObjects: (object) =&gt;
  switch true
    when object instanceof THREE.Object3D
      @destructObjects(child) for child in object.children
      object.parent?.remove(object)
      object.deallocate()
      object.geometry?.deallocate()
      @renderer.deallocateObject(object)
      object.destruct?(this)

    when object instanceof THREE.Material
      object.deallocate()
      @renderer.deallocateMaterial(object)

    when object instanceof THREE.Texture
      object.deallocate()
      @renderer.deallocateTexture(object)

    when object instanceof THREE.EffectComposer
      @destructObjects(object.copyPass.material)
      object.passes.forEach (pass) =&gt;
        @destructObjects(pass.material) if pass.material
        @renderer.deallocateRenderTarget(pass.renderTarget) if pass.renderTarget
        @renderer.deallocateRenderTarget(pass.renderTarget1) if pass.renderTarget1
        @renderer.deallocateRenderTarget(pass.renderTarget2) if pass.renderTarget2
</code></pre>

<h2 id="html">HTML</h2>

<p>個人的に WebGL アプリでいちばんよいなーと思うのが HTML で画面レイアウトができることです。Flash や openFrameworks (OpenGL) だと、得点表示とかテキスト流し込みとか 2D 的な UI の構築が面倒です。Flash は IDE があるのでまだいいのですが、oF は慣れないとかなりつらい。（Cocos2D とかを使えば楽なのかな？） HTML であれば通常の Web ページを作るのと同様、CSS で全ての見た目を正確にコントロールできます。パーティクルが集まってロゴになる、みたいな演出は無理ですが CSS Transform の範囲であれば 3D 的な表現もできなくはありません。実際、“GOAL” や “TIME IS UP” の文字演出は CSS Transition で scale をアニメーションさせているだけです。（実装には <a href="http://ricostacruz.com/jquery.transit/">Transit</a> を使用しています。 ）（背景のグラデーションはもちろん WebGLですが。）</p>

<p>実装としては、各ページ（タイトルとか RESULT とか RANKING とか）ごとに別の html ファイルに分けたものをテンプレートとして読み込み、適切なタイミングで、表示すべき値をセットした上で <code>$(document.body).append()</code> しています。ちょっとハマったのは <code>append</code> してからじゃないとマウスやキーボードイベントが設定できないこと。append 前に <code>el.click (e) -&gt; console.log(e)</code> しても呼ばれません。</p>

<h3 id="internationalization-i18n">Internationalization (i18n)</h3>

<p>英語版を作る際にも HTML であることはかなり有利に働きます。今回、国際化機能をつけるにあたって使ったライブラリは、通常の Web を i18n するための <a href="http://jamuhl.github.com/i18next/">i18next</a> というものですが、これをそのまま使うことができました。</p>

<p>ゲーム内にでてくるテキストの編集および翻訳作業は Google Spreadsheet 上で行いました。実際に i18next で必要になる <a href="http://chrome.com/maze/locales/en/translation.json">JSON ファイル</a>へは、Spreadsheet から TSV で exporrt されたファイルを独自のコンバーターで変換しました。リリース間際はアップデートが頻発したので、Spreadsheet から export する部分も自動化した方が楽だったなーという印象。</p>

<p>Chrome 内蔵の<a href="http://support.google.com/chrome/bin/answer.py?answer=173424">自動翻訳機能</a>もページが HTML で構築されているので通常どおり機能します。ただし言語判定に失敗して使用していない言語（ベトナム語）などに判定されてしまうことがあるので現時点では無効にされています。（<a href="http://googlewebmastercentral.blogspot.jp/2008/10/helping-you-break-language-barrier.html">metatag で無効にできます。</a>）</p>

<h2 id="requirejs">RequireJS</h2>

<p>JavaScript のモジュールシステムとして採用したのが <a href="http://requirejs.org/">RequireJS</a>。10,000 行のソースコードは 60 ほどのクラス（= coffee ファイル）にわかれており、個別に js ファイルにコンパイルされる。RequireJS を使うとそれらを依存関係に基づいて適切な順序で読みこんでくれる。</p>

<pre><code>define -&gt;
  class Hoge
    hogeMethod: -&gt;
</code></pre>

<p>として定義されたクラス (hoge.coffee) は、</p>

<pre><code>define [‘hoge’], (Hoge) -&gt;
  class Moge
    constructor: -&gt;
      @hoge = new Hoge()
      @hoge.hogeMethod()
</code></pre>

<p>として使える。このとき hoge.js が必ず moge.js よりも前にロードされる必要がありますが、define の第 1 引数に hoge が指定されてるのでちゃんと hoge.js を先にロードしてくれます。（hoge.js のロードが終わった段階でコールバックされる。）この仕組みは <a href="https://github.com/amdjs/amdjs-api/wiki/AMD">AMD</a> と呼ばれていて、サードパーティのライブラリでも AMD に対応しているものであれば、同様の呼び出し方で使えます。AMD に対応していないライブラリ（three.js など）でも、あらかじめ別に<a href="http://requirejs.org/docs/api.html#config-shim">依存関係を指定しておけば</a>、これも同様に扱えます。</p>

<p>感覚的に AS3 の import に近いのでそれほど違和感なく使えます。依存するファイルが増えた場合は、<a href="http://requirejs.org/docs/whyamd.html#sugar">こういった対処方法</a> があるようです。</p>

<h3 id="rjs">r.js</h3>

<p>RequireJS には <a href="http://requirejs.org/docs/optimization.html">r.js</a> というオプティマイザが付属しています。これはメインとなる js と依存関係のあるすべての js ファイルをひとつにまとめて、さらに UglifyJS (または Closure Compiler) で minify してくれるというもの。これによってブラウザが読み込まなければいけないファイル数・データサイズが削減されます。World Wide Maze の全 JavaScript ファイルサイズが 2MB ぐらい、r.js で optimize すると 1MB ぐらいまで減ります。gzip で配信できれば実質転送データ量は 250KB まで減らせます。（GAE が 1MB 以上のファイルは gzip 転送してくれない問題があって、実際には plain text 1MB のまま配信されています。）</p>

<h2 id="stage-builder">Stage builder</h2>

<p>ステージデータの生成は以下の手順。全て US にある GCE のサーバー上で行われています。</p>

<ol>
<li>WebSocket 経由でステージ化する URL を送る。</li>
<li>PhantomJS でスクリーンショットを撮る。同時に div や img タグの位置も取得して JSON に出力。</li>
<li>2 で出力されたスクリーンショットと HTML 要素の位置情報をもとに、C++ (OpenCV, Boost) で書かれた独自プログラムによって、不要なエリアを削除、島を生成、橋で島を接続、ガードレール・アイテムの位置計算、ゴールの配置、などを行います。結果は JSON に出力され、これがブラウザに返されます。</li>
</ol>

<h3 id="phantomjshttpphantomjsorg"><a href="http://phantomjs.org/">PhantomJS</a></h3>

<p>画面が不要なブラウザ。ウィンドウを開いたりすることなく、Web ページが開けるので、今回のようにサーバーサイドでスクリーンショットをとったり、自動テストにも使われています。ブラウザエンジンは Chrome や Safari に使用されているものと同じ WebKit なので、レイアウトや JavaScript の実行結果も通常のブラウザとほぼ同様。</p>

<p>PhantomJS は JavaScript または CoffeeScript でやりたい処理を書きます。スクリーンショットをとるのは<a href="https://github.com/ariya/phantomjs/blob/master/examples/rasterize.coffee">サンプル</a>にもあるようにすごく簡単。今回のサーバー環境は Linux (CentOS) だったので、日本語表示のために別途フォント (<a href="http://mplus-fonts.sourceforge.jp/">M+ FONTS</a>) をインストールする必要がありました。それでも Windows や Mac とはフォントレンダリングの仕組みが違うので、同じフォントを入れても同じようには見えなかったりします。（実際にはほとんど気にはならない。）</p>

<p>img タグや div タグの位置を取得するのも、基本的には通常のページでやる方法と同じ。jQuery も普通に使うことができます。</p>

<h3 id="stage_builder">stage_builder</h3>

<p>当初はもうすこし DOM 的なことからステージ生成することを考えていたので（<a href="https://www.google.co.jp/search?q=firefox+3d+inspector&amp;tbm=isch">Firefox の 3D Inspector</a> のような）、PhantomJS で DOM 解析のようなことをしていましたが、最終的には画像処理的に生成することになりました。そのために書いたのが stage_buidler という OpenCV と Boost を使った C++ プログラム。この中で行われているのは以下の処理。</p>

<ol>
<li>スクリーンショットと JSON を読み込む。</li>
<li>画像や文字などが島になるようにする。</li>
<li>島同士をつなぐ橋をつくる。</li>
<li>不要な橋を削除して迷路にする。</li>
<li>大アイテムを配置する。</li>
<li>小アイテムを配置する。</li>
<li>ガードレールを配置する。</li>
<li>配置データを JSON で出力する。</li>
</ol>

<p>順番に解説します。</p>

<h3 id="json">スクリーンショットと JSON を読み込む</h3>

<p>スクリーンショットをロードするのは普通に <code>cv::imread</code>。JSON はいくつかのライブラリをためしてみたけど <a href="https://github.com/kazuho/picojson">picojson</a> が一番使い勝手がよい気がします。</p>

<h3 id="-6">画像や文字などが島になるようにする</h3>

<p><img src="/static/images/screenshots/casestudies/world_wide_maze/stage_build1s.jpg" alt="" /></p>

<p><a href="http://www.aid-dcc.com/">aid-dcc.com</a> の NEWS 付近のスクリーンショット（クリックで実寸）。このなかで島になってほしいのは画像とテキスト周辺。これがうまく残るようにそれ以外を削除するには、白い背景色、つまり画像内で一番たくさん使われている色を削除すればいい。そうして処理したのが次の絵。</p>

<p><img src="/static/images/screenshots/casestudies/world_wide_maze/stage_build2s.jpg" alt="" /></p>

<p>白が島候補地。</p>

<p>文字が細かく抜けすぎてるので、<code>cv::dilate</code>, <code>cv::GaussianBlur</code>, <code>cv::threshold</code> などで太らせます。画像の内部も抜けてしまってるので、PhantomJS から出力した img タグの情報をもとに白く塗りつぶします。で、できたのが次の絵。</p>

<p><img src="/static/images/screenshots/casestudies/world_wide_maze/stage_build3s.jpg" alt="" /></p>

<p>テキストがある一定のかたまりになって、画像もそれぞれがちゃんと島になっている。</p>

<h3 id="-7">島同士をつなぐ橋をつくる</h3>

<p>島ができたらそれぞれをつなぐ橋をかけます。各島から上下左右方向に隣の島を探します。一番近い島の、一番近い部分に橋をかけます。するとこんな感じ。</p>

<p><img src="/static/images/screenshots/casestudies/world_wide_maze/stage_build4s.jpg" alt="" /></p>

<h3 id="-8">不要な橋を削除して迷路にする</h3>

<p>このままだと自由に移動できすぎてしまうので、迷路になるように不要な橋を削除していきます。どれか一つ（たとえば左上とか）をスタートにして、その島につながっている橋を一つだけランダムに選択、残りを削除します。選択した橋につながってる次の島に移動して、同様にどれか選んで残りを削除します。行き止まりになったり、すでに行ったことがある島に戻ってきたりした場合は、行ったことがない島に繋がるところまで、戻る。というふうにして、全部の島をたどれば迷路完成。</p>

<p><img src="/static/images/screenshots/casestudies/world_wide_maze/stage_build5s.jpg" alt="" /></p>

<h3 id="-9">大アイテムを配置する</h3>

<p>島ごとにその島の面積に応じて、1 個または複数個、島の淵から一番遠い点をアイテム配置場所候補とする。ちょっと見難いけど、下図の赤い点。</p>

<p><img src="/static/images/screenshots/casestudies/world_wide_maze/stage_build6s.jpg" alt="" /></p>

<p>その全候補ポイントから、左上にあるものをスタート地点（赤いまる）、右下にあるものをゴール地点（緑のまる）に設定。残りのなかから、最大 6 個を大アイテム（紫のまる）としました。</p>

<h3 id="-10">小アイテムを配置する</h3>

<p><img src="/static/images/screenshots/casestudies/world_wide_maze/stage_build7s.jpg" alt="" /></p>

<p>小アイテムは島の淵から一定距離はなれたラインにそって適当な数を並べている。上図（aid-dcc.com のじゃない）のグレーのラインが配置候補のラインで、淵から一定距離ずつオフセットした位置にあります。赤い丸が小アイテム位置。この絵は途中バージョンのものなので一直線に並んでいるが、最終バージョンではラインの左右にもう少しバラけた状態にしています。</p>

<h3 id="-11">ガードレールを配置する</h3>

<p>ガードレールは基本的には島の外周に設置していますが、橋の部分は切り取らないといけません。ここで Boost の <a href="http://www.boost.org/doc/libs/1_53_0/libs/geometry/doc/html/index.html">Geometry library</a> が役に立ちました。島の外周データと橋の左右のラインが交差するポイントを求めたりといった、幾何計算が比較的簡単に実現できます。</p>

<p><img src="/static/images/screenshots/casestudies/world_wide_maze/stage_build8s.jpg" alt="" /></p>

<p>島の周囲に描いてある緑のラインがガードレールです。見づらいかもしれませんが、橋の部分には描かれていません。これはデバッグ時に使った、最終的に JSON に書き出されるオブジェクトがすべて書き込まれた画像で、水色の点が小アイテム、グレーの点がリスタート候補ポイントです。海に落下したときは、落下したポイントから一番近いリスタートポイントから再開します。リスタートポイントは小アイテムを配置するときに使った手法とほぼ同じで、淵から一定距離はなれたところに等間隔に置いています。</p>

<h3 id="json-2">配置データを JSON で出力する</h3>

<p>出力にも picojson を使いました。標準出力に書きだしたものを、呼び出し側 (Node.js) が受け取ります。</p>

<h3 id="linux-c-mac">Linux で動かすための C++ プログラムを Mac で作る</h3>

<p>開発環境が Mac、デプロイ環境が Linux という異なる環境でしたが、OpenCV, Boost ともに両環境に存在したので、コンパイル環境さえ整えれば開発自体はさほど難しいものではありませんでした。Mac では Xcode  で Command Line Tool としてビルド・デバッグし、それをそのまま Linux 上でコンパイルできるように、automake / autoconf を使って configure ファイルを作りました。Linux 側では configure &amp;&amp; make するだけで実行ファイルができあがる仕組みです。コンパイラのバージョンが違うことなどが原因で、Linux 上でのみ発生するバグに遭遇することもありましたが、gdb を使うことで比較的容易に解決できました。</p>

<h2 id="-12">まとめ</h2>

<p>Flash や Unity でもこのようなゲームは作ることはできます。その方がよい部分も多数あるのですが、プラグインが不要ですぐ体験できることや HTML5 + CSS3 のレイアウト機能は非常に強力で、やはり適材適所使い分けていくことが重要でしょう。HTML5 という環境でここまでのもが作り上げられたことは製作者自身も驚くところで、未熟な部分はまだたくさんありますが、これからの進化を楽しみにしています。</p>

{% endblock %}
