* { margin: 0; padding: 0; font-weight: normal; }
html { font-family: sans-serif; font-size: 10pt; 
       background: -webkit-gradient(radial, 65% 65%, 0, 70% 70%, 650, from(#fdf), to(#a8a)) no-repeat;
       background: -moz-radial-gradient(65% 65% 45deg, circle cover, #fdf 0%, #a8a 100%);
       text-align: center; }
body { margin: 20px; width: 960px; margin: 0 auto; text-align: left; }

header h1 a, header h1 a:visited { font-family: 'Slackey', arial, serif; color: #404; font-size: 2em; margin-bottom: 0; text-decoration: none; }
header h2 { font-family: 'Crimson text', 'Times New Roman', sans-serif; font-weight: normal; margin: 0; font-size: 0.6em; margin: -1em 0 0 0.3em; }
header { font-size: 2em; margin: 0 0 1em 20px; }
header div { display: inline; }
h2 { font-size: 1.2em; margin: 0 0 0.5em; }

.error { background: #f33; color: white; border: 1px solid #f00; padding: 1em; display: none; }

#clear { }
p { margin: 0 0 1em; }
section { margin: 0 0 0.3em; border-radius: 1em; }
#searchResults { margin-top: 1em; height: 370px; overflow-y: auto; }

body { text-align: center; }
#wrapper { display: inline; }
.prompt { font-family: Pacifico, arial, helvetica, sans-serif; }
#newCheckin { margin-bottom: 1em; font-size: 1.3em; }
#newCheckin select { margin-top: 0.5em; }
#newCheckin .location { margin-top: 0.3em; }
.label {  font-size: small; text-align: center; opacity: 0.4; }
button { padding: 0.5em; }

/* #controls { float: left; width: 340px; background: -webkit-linear-gradient(#fdf,#6a6); padding: 20px; border-radius: 10px; } */
#history { clear: both; width: 100%; background: #473AA4; color: white; padding: 20px; border-radius: 10px; height: 440px; }
#history .pseudolink { color: #99f; }
.total { float: left; font-size: x-small; }
.filter { clear: left; margin-top: 40px; }
#controls { float: left; width: 340px; }
#mapZone { float: left; margin-left: 40px; width: 520px; height: 400px; }
#controls { height: 400px; text-align: left; }
#mapZone { height: 440px; }
a,a:visited,.pseudolink { text-decoration: underline; color: #00b; cursor: pointer; }

footer { clear: both; padding-top: 50px; height: 50px; }
