@charset "UTF-8";
/* CSS Document */

*{
  margin:0;
  padding:0;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:10px;
}

body{
  background:#000;
  width:100%;
  height:100%;
  color:#FFF;
  overflow:hidden;
}

a {
  text-decoration:none;
  font-weight:bold;
  color:#fff;
  text-shadow: 0 0 3px #26F;
  
}

#webgl-canvas{
  display:block;
  border: none;
  position:absolute;
  z-index:1;
  top: 0px;
  left: 0px;
  width:100%;
  height:100%;
}
#statusBar{
  width:100%;
  position:absolute;
  display:none;
  z-index:3;
  background:#333;
  padding:5px 0;
  border-bottom:1px solid #fff;
}
#console{
  position:absolute;
  top:25px;
  min-width:265px;
  overflow-y:auto;
  overflow-x:hidden;
  height:100%;
  z-index:5;
  visibility:hidden;
}
#info{
  position:absolute;
  font-size:14px;
  top:40%;
  left:50%;
  margin:auto;
  margin-left:-175px;
  width:350px;
  padding:10px;
  border:1px solid #fff;
  z-index:5;
  background:#333;
}
#info a, #info strong{
  font-size:14px;
}

.console-field{
  background:#333;
  float:left;
  clear:left;
  min-width:235px;
  border:1px solid #fff;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding:0 10px 10px 20px;
  margin:0 0 2px -10px;
}

.console-field input{
  margin:1px 0 0 0;
  background:#000;
}
.console-field b{
  display:block;
  color:#fff;
  text-shadow: 0 0 3px #26F;
  margin: 10px 4px 5px 0;
}
.console-field span.input-section{
  display:inline-block;
  width:70px;
}
.textboxDebug{
  padding:0;
  width:32px;
  color:#fff;
  border:0px;
  height:12px;
  margin:0 0 -5px 0;
  z-index:3;
}
