{% extends "tutorial.html" %}

{% block headauthor %}Pete LePage <petele@google.com>{% endblock %}

{% block headtitle %}This End Up: Using Device Orientation and Device Motion As An Input Method{% endblock %}
{% block pagetitle %}This End Up: Using Device Orientation &amp; Device Motion{% endblock %}
{% block head %}

<style type="text/css">
figure.sample {
	width: 400px;
	border: 1px solid hsl(10, 50%, 80%);
	border-radius: 5px;
	display: inline-block;
	background-color: hsl(10, 50%, 98%);
	padding: 15px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	vertical-align: top;
}

figure.sample img {
	border: 1px solid hsl(10, 50%, 90%);
}

table {
	text-align: left;
	border-collapse: collapse;
	border-radius: 5px;
}

th {
	font-size: smaller;
	font-weight: bold;
	padding: 8px;
	background: hsl(10, 50%, 95%);
	border: 1px solid hsl(10, 50%, 80%);
}

td {
	padding: 8px; 
	border: 1px solid #000;
	color: #000;
	background: hsl(10, 50%, 99%);
	border: 1px solid hsl(10, 50%, 80%);
}

th.empty {
	border-top: 0px;
	border-left: 0px;
	background-color: inherit;
}

td.firstCol {
	font-weight: bold;
}

pre {
	background: hsla(10, 100%, 50%, 0.10);
	border: 1px solid hsla(10, 100%, 50%, 0.2);
}

</style>

{% endblock %}
{% block pagebreadcrumb %}This End Up: Using Device Orientation &amp; Device Motion{% endblock %}
{% block date %}April 29, 2011{% endblock %}
{% block update_date %}July 12, 2013{% endblock %}
{% block onload %}{% endblock %}

{% block iscompatible %}
  return !!(window.DeviceOrientationEvent) && !!(window.DeviceMotionEvent);
{% endblock %}

{% block html5badge %}
<img src="/static/images/identity/html5-badge-h-device.png" width="133" height="64" alt="This article is powered by HTML5 Device Access" title="This article is powered by HTML5 Device Access" />
{% endblock %}

{% block content %}
<h2 id="toc-intro">Introduction</h2>
<p>Many new computers, mobile phones and other devices are now shipping standard with accelerometers, gyroscopes, compasses and other hardware designed to determine capture motion and orientation data.  At the same time, web browsers are providing increasingly more access to that new hardware.  One example of that are the new <a href="http://dev.w3.org/geo/api/spec-source-orientation">HTML5 DeviceOrientation and DeviceMotion events</a>. These events provide developers with information about the orientation, motion and acceleration of the device.</p>
<p>Today, all modern mobile browsers support device orientation, and most support device motion, with Chrome for Android and Opera being the holdouts.  Thankfully they're working on it and we should see it soon.  Note, if you need to support older versions of Firefox, it has an implementation using a slightly different event model.</p>
<p>These events have a lot of fun uses, such as using orientation to control the direction of character in a game, or motion to determine how high a character should jump.  Additionally, you can use these events beyond gaming.  When used with GeoLocation, you can create a more accurate turn-by-turn navigation system.</p>
<p>In this article, we’ll take a look at the two different events, and use CSS to rotate an image based on the orientation of the device. </p>
<h2 id="toc-whichendisup">Which end is up?</h2>
<p>There are a couple of things that we need to make sure we understand before we can start using these events, which end is up and what are the axes we’re going to use?</p>
<h3>Device Orientation Data</h3>
<p>To answer this question, we need to align our device with the local earth frame.  To do that, take your device, and put it on flat, level surface with the top of the device pointing directly north.  To do this with a phone, turn around until you are facing north, and place the phone on a flat table, with the bottom of the phone closest to you and the top pointed north.  For a laptop, the situation is similar, except the screen is open at a 90&deg; angle, facing you and the keyboard in-line with the surface.</p> 
<figure>
  <img src="axes.png"><br />
  Phone is in its normal position, on a flat on a surface, with the screen facing up, the top of the phone pointed directly north and the bottom of the phone is closest to you.  The X, Y and Z values increase as you move to the right, forward or up respectively.
</figure>
<h3>Device Motion Data</h3>
<p>Acceleration data is returned as a coordinate frame with three axes, x, y and z.  The x-axis runs side-to-side across the mobile phone screen, or the laptop keyboard and is positive towards the right side.  The y-axis runs front-to-back across the mobile phone screen or the laptop keyboard and is positive towards as it moves away from you.  The z-axis comes straight up out of the mobile phone screen or the laptop keyboard and is positive as it moves up.</p>
<figure>
  <img src="rotation.png"><br />
  The phone is rotated on the Y-Axis by gamma degrees.
</figure>
<p>The rotation data uses Euler angles to represent the difference between the device in it’s normal position and it’s current position.  With the HTML5 device orientation events, the data is returned as the number of degrees different from normal.  An easier way to think about it is how much the device is tilted front-to-back, is referred to as beta.  How much its tilted side-to-side, is known as gamma.  And finally how much has it been rotated around the z-axis, is known as alpha.</p>
<p>One thing to keep in mind is that most people don’t use their phones when they’re in this flat position, and instead have rotated them around the x-axis so the screen is facing them, this will affect the acceleration data that is returned from the device motion events.</p>
<h3 id="toc-differences">Differences in Browsers</h3>
<p>As mentioned earlier, alpha, beta and gamma are determined based on the position the device is with the local earth frame.  For most browsers, alpha returns the compass heading, so when the device is pointed north, alpha is zero.  With Mobile Safari, alpha is based on the direction the device was pointing when device orientation was first requested.  The compass heading is available in the webkitCompassHeading parameter.</p>
<h2 id="toc-events">The events</h2>
<h3 id="toc-deviceorientation">Device orientation</h3>
<p>The device orientation event returns only the rotation data, which includes how much the device is leaning front-to-back (beta), side-to-side (gamma) and if the phone or laptop has a compass, the direction the device is facing (alpha). </p>
<p>Let’s see a couple examples:</p>
<figure class="sample">
  <img src="dm1.png"><br />
  You are looking down at a phone that is lying on a flat, horizontal surface, with north at the top of the frame.<br />
  <code>{evt.alpha: 0, evt.beta: 0, evt.gamma: 0}</code>
</figure>
<figure class="sample">
  <img src="dm2.png"><br />
  You are looking down at a phone that is lying on a flat, horizontal surface, with north at the top of the frame.  The phone has been rotated by 180&deg; so it is pointing south.<br />
  <code>{evt.alpha: 180, evt.beta: 0, evt.gamma: 0}</code>
</figure>
<figure class="sample">
  <img src="dm3.png"><br />
  You are looking down at a phone that is pointed north and tilted up by 45&deg; with the left side of the phone higer than the right.<br />
  <code>{evt.alpha: null, evt.beta: 0, evt.gamma: 45}</code>
</figure>
<figure class="sample">
  <img src="dm4.png"><br />
  You are looking down at a phone that is pointed north and tilted up by 45&deg; with the top of the phone higer than the bottom.<br />
  <code>{evt.alpha: 0, evt.beta: 45, evt.gamma: 0}</code>
</figure>
<h3 id="toc-devicemotion">Device motion</h3>
<p>The device motion event is a superset of the device orientation event; it returns data about the rotation information and also <a href="http://en.wikipedia.org/wiki/Acceleration">acceleration</a> information about the device.  The acceleration data is returned in three axes: x, y and z. They are measured in <a href="http://en.wikipedia.org/wiki/Metre_per_second_per_second">meters per second squared (m/s^2)</a>.  Because some devices might not have the hardware to exclude the effect of <a href="http://en.wikipedia.org/wiki/Gravity">gravity</a>, the event returns two properties, <code>accelerationIncludingGravity</code> and <code>acceleration</code>, which excludes the effects of gravity, (when this is the case, the acceleration data will be null).</p>
<p>A laptop in its normal position, with the screen facing up, the data returned would be:<br />
	<table>
		<thead>
			<tr>
				<th class="empty"></th>
				<th>Not accelerating</th>
				<th>Accelerating up</th>
				<th>Accelerating forward</th>
				<th>Accelerating right</th>
				<th>Accelerating up &amp; to the right</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="firstCol">acceleration</td>
				<td>{0, 0, 0}</td>
				<td>{0, 0, 5}</td>
				<td>{0, 2, 0}</td>
				<td>{3, 0, 0}</td>
				<td>{5, 0, 5}</td>
			</tr>
			<tr>
				<td class="firstCol">accelerationIncludingGravity</td>
				<td>{0, 0, 9.81}</td>
				<td>{0, 0, 14.81}</td>
				<td>{0, 2, 9.81}</td>
				<td>{3, 0, 9.81}</td>
				<td>{5, 0, 14.81}</td>
			</tr>
		</tbody>
	</table>
	<br />
</p>
<p>A mobile phone rotated along the x-axis so the screen is perpendicular to it’s normal position would return:<br />
	<table>
		<thead>
			<tr>
				<th class="empty"></th>
				<th>Not accelerating</th>
				<th>Accelerating up</th>
				<th>Accelerating forward</th>
				<th>Accelerating right</th>
				<th>Accelerating up &amp; to the right</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="firstCol">acceleration</td>
				<td>{0, 0, 0}</td>
				<td>{0, 5, 0}</td>
				<td>{0, 0, 2}</td>
				<td>{3, 0, 0}</td>
				<td>{5, 5, 0}</td>
			</tr>
			<tr>
				<td class="firstCol">accelerationIncludingGravity</td>
				<td>{0, 9.81, 0}</td>
				<td>{0, 14.81, 0}</td>
				<td>{0, 9.81, 2}</td>
				<td>{3, 9.81, 0}</td>
				<td>{5, 14.81, 0}</td>
			</tr>
		</tbody>
	</table>
</p>
<h2 id="toc-usingDO">Using the DeviceOrientation events</h2>
<h3 id="toc-do1">1. Check for compatibility</h3>
<p>Check to see if DeviceOrientationEvent supported.</p>
<pre class="prettyprint">
if (window.DeviceOrientationEvent) {
 console.log("DeviceOrientation is supported");
}
</pre>
<p>One thing to note, some devices (for example, the original iPad) say that they support the event when in fact they don’t.  In these cases, the event is fired only once, and all of the properties are null.</p>
<h3 id="toc-do2">2. Declare the markup</h3>
<p>For this example, we’re going to display the orientation data and then apply that information as a CSS3 transform to an image.</p>
<pre class="prettyprint">
&lt;div class="main"&gt;
  &lt;h2&gt;Device Orientation&lt;/h2&gt;
  &lt;table&gt;
    &lt;tr&gt;
      &lt;td&gt;Event Supported&lt;/td&gt;
      &lt;td id="doEvent"&gt;&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td&gt;Tilt Left/Right [gamma]&lt;/td&gt;
      &lt;td id="doTiltLR"&gt;&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td&gt;Tilt Front/Back [beta]&lt;/td&gt;
      &lt;td id="doTiltFB"&gt;&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td&gt;Direction [alpha]&lt;/td&gt;
      &lt;td id="doDirection"&gt;&lt;/td&gt;
    &lt;/tr&gt;
   &lt;/table&gt;
&lt;/div&gt;

&lt;div class="container" style="perspective: 300;"&gt;
  &lt;img src="html5_logo.png" id="imgLogo" class="logo"&gt;
&lt;/div&gt;
</pre>
<h3 id="toc-do3">3. Add an event listener</h3>
<p>Now that we know what events are supported, add the appropriate event listeners:</p> 
<pre class="prettyprint">
if (window.DeviceOrientationEvent) {
  // Listen for the event and handle DeviceOrientationEvent object
  window.addEventListener('deviceorientation', devOrientHandler, false);
}
</pre>
<h3 id="toc-do4">4. Handle the event</h3>
<p>The HTML5 DeviceOrientation event returns three pieces of data: 
  <ul>
    <li><code>alpha</code> the direction the device is facing according to the compass</li>
    <li><code>beta</code> the angle in degrees the device is tilted front-to-back</li>
    <li><code>gamma</code> the angle in degrees the device is tilted left-to-right.</li>
  </ul>  
  The angles values increase as you tilt the device to the right or towards you.</p> 
<pre class="prettyprint">
if (window.DeviceOrientationEvent) {
  document.getElementById("doEvent").innerHTML = "DeviceOrientation";
  // Listen for the deviceorientation event and handle the raw data
  window.addEventListener('deviceorientation', function(eventData) {
    // gamma is the left-to-right tilt in degrees, where right is positive
    var tiltLR = eventData.gamma;

    // beta is the front-to-back tilt in degrees, where front is positive
    var tiltFB = eventData.beta;

    // alpha is the compass direction the device is facing in degrees
    var dir = eventData.alpha

    // call our orientation event handler
    deviceOrientationHandler(tiltLR, tiltFB, dir);
  }, false);
} else {
  document.getElementById("doEvent").innerHTML = "Not supported."
}
</pre>
<h3 id="toc-do5">5. Respond to the data</h3>
<p>We’ll display it in the table we created in step 2, and also add rotate the image using a CSS3 transform.</p>
<pre class="prettyprint">
document.getElementById("doTiltLR").innerHTML = Math.round(tiltLR);
document.getElementById("doTiltFB").innerHTML = Math.round(tiltFB);
document.getElementById("doDirection").innerHTML = Math.round(dir);

// Apply the transform to the image
var logo = document.getElementById("imgLogo");
logo.style.webkitTransform =
  "rotate("+ tiltLR +"deg) rotate3d(1,0,0, "+ (tiltFB*-1)+"deg)";
logo.style.MozTransform = "rotate("+ tiltLR +"deg)";
logo.style.transform =
  "rotate("+ tiltLR +"deg) rotate3d(1,0,0, "+ (tiltFB*-1)+"deg)";
</pre>
<h3 id="toc-doFinal">The final product</h3>
<a href="deviceorientationsample.html"><img src="do.png"></a>
<p><a href="deviceorientationsample.html">Try it out</a>, and view the source to see it in action.</p>

<h2 id="toc-usingDM">Using the DeviceMotion events </h2>
<p>The <code>DeviceMotionEvent</code> provides the acceleration and rotation data of the device.  In our example, we’re going to use <code>accelerationIncludingGravity</code> to determine the orientation of the device and get a similar result to the sample we built with <code>DeviceOrientation</code>.  </p>
<h3 id="toc-dm1">1. Check for compatibility</h3>
<p>First thing we want to do is determine if the DeviceMotionEvent is supported using feature detection.  </p>
<pre class="prettyprint">
if (window.DeviceMotionEvent) {
  console.log("DeviceMotionEvent supported");
} 
</pre>
<p>Like <code>DeviceOrientationEvent</code>, if a browser cannot provide motion information, the event will be fired once and all properties will be null.</p>
<h3 id="toc-dm2">2. Add an event listener</h3>
<p>Now that we know that the browser and device supports the DeviceMotionEvent, we can add an event listener. </p>
<pre class="prettyprint">
if ((window.DeviceMotionEvent) {
  window.addEventListener('devicemotion', deviceMotionHandler, false);
} else {
  document.getElementById("dmEvent").innerHTML = "Not supported."
}
</pre>
<h3 id="toc-dm3">3. Declare the markup</h3>
<p>For this example, we’re just going to display data that we receive.</p>
<pre class="prettyprint">
&lt;div class="main"&gt;
  &lt;h2&gt;Device Motion&lt;/h2&gt;
  &lt;table&gt;
    &lt;tr&gt;
      &lt;td&gt;Event Supported&lt;/td&gt;
      &lt;td id="dmEvent"&gt;&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td&gt;acceleration&lt;/td&gt;
      &lt;td id="moAccel"&gt;&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td&gt;accelerationIncludingGravity&lt;/td&gt;
      &lt;td id="moAccelGrav"&gt;&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td&gt;rotationRate&lt;/td&gt;
      &lt;td id="moRotation"&gt;&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td&gt;interval&lt;/td&gt;
      &lt;td id="moInterval"&gt;&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/table&gt;
&lt;/div&gt;
</pre>
<h3 id="toc-dm4">4. Create an event handler</h3>
<p>We want to display the raw data that we get back.</p>
<pre class="prettyprint">
function deviceMotionHandler(eventData) {
  var info, xyz = "[X, Y, Z]";

  // Grab the acceleration from the results
  var acceleration = eventData.acceleration;
  info = xyz.replace("X", acceleration.x);
  info = info.replace("Y", acceleration.y);
  info = info.replace("Z", acceleration.z);
  document.getElementById("moAccel").innerHTML = info;

  // Grab the acceleration including gravity from the results
  acceleration = eventData.accelerationIncludingGravity;
  info = xyz.replace("X", acceleration.x);
  info = info.replace("Y", acceleration.y);
  info = info.replace("Z", acceleration.z);
  document.getElementById("moAccelGrav").innerHTML = info;

  // Grab the rotation rate from the results
  var rotation = eventData.rotationRate;
  info = xyz.replace("X", rotation.alpha);
  info = info.replace("Y", rotation.beta);
  info = info.replace("Z", rotation.gamma);
  document.getElementById("moRotation").innerHTML = info;

  // // Grab the refresh interval from the results
  info = eventData.interval;
  document.getElementById("moInterval").innerHTML = info;       
}
</pre>
<h3 id="toc-dmFinal">The final product</h3>
<p>When you load the page and move the device around, you should see the values change as the device moves through space and is affected by acceleration.</p>
<p><a href="devicemotionsample.html">Try it out</a>, and view the source to see it in action.</p>

<h2 id="toc-addRes">Additional resources</h2>
<p>Here are a few other resources and demos you can check out that use the HTML5 device orientation or device motion events.</p>

<h3>Physics</h3>
<ul>
 <li><a href="http://en.wikipedia.org/wiki/Acceleration">Acceleration</a></li>
 <li><a href="http://en.wikipedia.org/wiki/Acceleration_of_gravity">Acceleration of Gravity</a></li>
 <li><a href="http://en.wikipedia.org/wiki/Acceleration_of_gravity#Earth.27s_gravity">Acceleration of Gravity on Earth</a></li>
 <li><a href="http://en.wikipedia.org/wiki/Euler_angles">Euler Angles</a></li>
</ul>

<h3>The Specs</h3>
<ul>
<li><a href="http://dev.w3.org/geo/api/spec-source-orientation">W3C Device Orientation Event Specification</a></li>
<li><a href="https://developer.mozilla.org/en/XPCOM_Interface_Reference/nsIDOMOrientationEvent">Mozilla DOM Orientation Event</a></li>
<li><a href="https://developer.mozilla.org/en/Detecting_device_orientation#Processing_orientation_events">Mozilla Processing Orientation Events</a></li>
</ul>

<h3>Neat Demos</h3>
<a href="http://petelepage.com/scratch/pong/">Pong</a> An experiment to try out device orientation in gaming.
{% endblock %}