{% extends "tutorial.html" %}

{% block headauthor %}Paul Irish{% endblock %}

     {% block headtitle %}모바일을 위한 크롬 개발자도구: 스크린캐스트와 에뮬레이션<!-- Chrome DevTools for Mobile: Screencast and Emulation -->{% endblock %}
     {% block pagetitle %}모바일을 위한 크롬 개발자도구: 스크린캐스트와 에뮬레이션<!-- Chrome DevTools for Mobile: Screencast and Emulation -->{% endblock %}
{% block pagebreadcrumb %}모바일을 위한 크롬 개발자도구: 스크린캐스트와 에뮬레이션<!-- Chrome DevTools for Mobile: Screencast and Emulation -->{% endblock %}
{% block date %}December 2, 2013{% endblock %}

{% block browsersupport %}
<span class="browser opera"><span class="browser_name">Opera</span><span class="support">unsupported</span></span>
<span class="browser ie"><span class="browser_name">Internet Explorer</span><span class="support">unsupported</span></span>
<span class="browser safari "><span class="browser_name">Safari</span><span class="support">supported</span></span>
<span class="browser ff "><span class="browser_name">Firefox</span><span class="support">supported</span></span>
<span class="browser chrome supported"><span class="browser_name">Chrome</span><span class="support">supported</span></span>
{% endblock %}

{% block iscompatible %}

{% endblock %}

{% block head %}
<style>

.embed-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; max-width: 100%; height: auto; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.irishtalkinghead:before {
  background-image: url(/static/images/profiles/75/paulirish.75.png);
  background-position: 0px -4px !important;
}

</style>
{% endblock %}

{% block onload %}{% endblock %}

{% block content %}


<p>모바일을 위한 개발은 데스크탑의 그것만큼이나 쉬워야 합니다. 여러분이 일을 더 쉽게 할 수 있도록 만들기 위해 크롬 개발자도구에 매진해왔으며 이제 모바일 웹 개발을 드라마틱하게 개선해줄 몇가지 새로운 기능이 베일을 벗을 때입니다. <strong>우선 원격 디버깅(Remote Debugging)을 소개하고나서 적절한 모바일 에뮬레이션에 대해 공개하도록 하겠습니다.</strong><!-- Developing for mobile should be just as easy as it is developing for desktop. We've been working hard in the Chrome DevTools to make things easier for you and it's time to unveil some new features that should dramatically improve your mobile web development.  <strong>First up, remote debugging and then we'll unveil proper mobile emulation</strong>. --></p>

<h2 id="toc-screencast">디바이스 스크린에서 데스크탑으로의 스크린캐스트(Screencast)<!-- Screencast your device screen to desktop --></h2>

<div class='embed-container'><iframe allowfullscreen frameborder="0" height="315" src="http://www.youtube.com/embed/Q7rEFEMpwe4" width="560"><a href="https://www.youtube.com/watch?v=Q7rEFEMpwe4
">안드로이드 원격 디버깅 상에서 크롬을 이용한 스크린캐스트 비디오를 봅시다.<!-- View a video of Screencast with Chrome on Android remote debugging --></a></iframe></div>




<p>지금까지는 원격 디버깅을 하는 동안 여러분은 디바이스와 개발자도구 사이에서 눈을 왔다갔다해야 했습니다. 이제 <strong>스크린캐스트(Screencast)가 디바이스의 스크린을 개발자도구 오른쪽에 나란히 표시합니다.</strong> 보기에도 괜찮지만 이를 통한 인터랙션도 다음과 같이 더 좋습니다.<!-- Until now, while remote debugging you've had to shift your eyes back and forth between your device and your devtools. Now, <strong>Screencast displays your devices's screen right alongside your devtools</strong>. Seeing it is good, but interacting with it is even better: --></p>

<ul>
<li>스크린캐스트 상의 클릭들은 <storng>탭들로 번역되며</strong> 적절한 터치 이벤트가 디바이스에 발생됩니다.<!-- Clicks on the screencast are <strong>translated into taps</strong> and proper touch events are fired on the device. --></li>
<li>데스크탑 포인터를 이용하여 디바이스 상의 <strong>엘리먼트를 감시(Inspect)할 수 있습니다.</strong><!-- <strong>Inspect element</strong> on your device with your desktop pointer --></li>
<li>데스크탑 키보드를 쳐서 -<strong>모든 키입력은 디바이스로 전달됩니다.</strong>- 엄청난 절약되는 시간이 여러분의 손가락으로 타이핑을 끝내줄 것입니다.<!-- Type on your desktop keyboard--<strong>all keystrokes are sent to the device</strong>. A huge timesaver over typing with your thumbs. --></li>
<li>포인터를 내던지듯이 밀거나 랩탑 트랙패드 위를 슬라이드하는 것만으로도 페이지를 스크롤할 수 있습니다.<!-- Scroll the page by flinging it with your pointer or just sliding on your laptop trackpad. --></li>
</ul>


<p>이 모든 것과 핀치 줌 제스쳐를 보내는 것과 같은 더 자세한 내용은 <a href="https://developers.google.com/chrome-developer-tools/docs/remote-debugging">스크린캐스팅에 대한 전체 문서</a>에 담겨있습니다.<!-- The <a href="https://developers.google.com/chrome-developer-tools/docs/remote-debugging">full documentation on screencasting</a> captures all this and more, like sending a pinch zoom gesture. --></p>

<h2 id="toc-rawusb">설정 없는 원격 디버깅<!-- Zero Config Remote Debugging --></h2>

<p>18개월 전 크롬은 모바일 브라우저에 적합한 원격 디버깅을 소개했습니다만 만약 당시로 되돌아가서 그를 시도한다면 여러분은 400MB 안드로이드 SDK를 다운로드하고 <code>adb</code> 바이너리를 <code>$PATH</code>에 추가하고 몇가지 아주 특별한 커맨드 라인 주문과 씨름해야 할 것입니다.<!-- 18 months ago, Chrome introduced proper remote debugging for mobile browsers, but if you tried it out back then, you had to deal with a 400MB Android SDK download, adding the <code>adb</code> binary to your <code>$PATH</code> and some magical command line incantations. --></p>

<p>이제 여러분이 이 모든 것들을 잊어버리셔도 된다는 것을 알려드려서 기쁩니다. <strong>크롬은 USB로 연결된 디바이스를 이제 네이티브에서 탐색하고 통신합니다</strong>. <code>adb</code> 프로토콜이 USB를 통해 직접 이루어지도록 구현했으므로 여러분은 <code>Menu &gt; Tools &gt; Inspect Devices</code>로 쉽게 갈 수 있으며 원격 디버깅 세션을 즉시 시작할 수 있습니다.<!-- Now, we're happy to announce you can forget all that. <strong>Chrome can now natively discover and talk to your USB connected devices</strong>. We've implemented the <code>adb</code> protocol directly over USB in Chrome, so you you can easily head to <code>Menu &gt; Tools &gt; Inspect Devices</code> and immediately start your remote debugging session. --></p>

<figure><img src="discoverusb.png" alt=""  style="max-width: 400px;"/></figure>

<p>이것은 크롬 OS를 토함한 모든 플랫폼에서 훌륭하게 동작합니다만 윈도우에서 여러분은 첫번째로 <a href="http://developer.android.com/tools/extras/oem-usb.html">적합한 USB 드라이버들을 설치하는</a> 것이 필요할 것이라는데 주의하시기 바랍니다.<!-- This works great in all platforms, including Chrome OS, though do note that on Windows, you'll need to first <a href="http://developer.android.com/tools/extras/oem-usb.html">install proper USB drivers</a> to talk to the device. --></p>

<p class="notice fact">추가 보너스: 크롬은 이제 여러분의 스크린이 원격 디버깅 시에 잠자기(Sleep)으로 가는 것을 방지합니다. 디버깅을 위해서는 좋은 것이지만 디바이스를 잘 지키시기 바랍니다!<!-- Extra bonus: Chrome will now keep your screen from going to sleep while you're remote debugging. Good for debugging but keep a watch on your device! --></p>


<h3 id="toc-portforward">로컬 프로젝트를 위한 포트 포워드(Port-forward)<!-- Port-forward for local projects --></h3>

<p>여러분이 localhost:8000에서 개발 중이라면 휴대폰은 그에 닿지 못할 것입니다. 그러므로 원격 디버깅 작업흐름(Remote Debugging Workflow)에 직접 포트 포워딩 기능을 추가하였습니다. 이제, 어떠한 터널링 핵(hack)도 없이 전체 프로젝트에서 쉽게 동작합니다. <code>about:inspect</code>를 클릭하여 가능하길 원하는 포트가 어떤 것인지 포트 포워딩에 지정하고 나면 만약 실행해도 괜찮다면 녹색불이 들어올 것입니다.<!-- You're developing on localhost:8000 but your phone can't reach that. So, we added port forwarding directly into the remote debugging workflow. Now it's easy to work on your full projects, without any tunneling hacks. On <code>about:inspect</code> click into Port Forwarding to set what ports you want available, and they'll light up in green if they're good to go. --></p>

<figure><img src="portforward.png" alt="" style="max-width: 500px" /></figure>

<hr>


<h2 id="toc-mobile-emulation">모바일 에뮬레이션(Mobile Emulation)<!-- Mobile Emulation --></h2>

<p>여러분은 호환성 테스트에 필요한 디바이스를 항상 가지고 있는 것은 아닙니다, 그렇죠? 원격 디버깅 중 실제 디바이스는 성능과 터치를 위한 최고의 느낌을 줄 것이며 다양한 디바이스의 특성을 데스크탑에서 실제처럼 에뮬레이션할 수 있게 되어 시간을 절약하고 반복 작업을 훨씬 빠르게 만들어 줄 것입니다.<!-- You don't always have the devices you need to test for compatibility, do you? While remote debugging real devices is going to give you the best feel for performance and touch, you can now realistically emulate many device characteristics on desktop, saving you time and making your iteration loop much faster. --></p>


<div class='embed-container'><iframe src='http://www.youtube.com/embed/z7sTRdSpA04' frameborder='0' allowfullscreen></iframe></div>


<!-- <figure><img src="emulation.png" alt="" /></figure> -->

<h3 id="toc-emulate-screen">화면 사이즈, devicePixelRatio 그리고 전체 터치 이벤트 시뮬레이션과 <code>&lt;meta viewport&gt;</code>.<!-- Emulate screen size, devicePixelRatio, and <code>&lt;meta viewport&gt;</code> with full touch event simulation. --></h3>

<p>만약 이전의 Device Metrics 기능을 본적이 있다면 현재 가능한 것들이 엄청나게 업그레이드되었을 것입니다. (크롬)팀은 실제 디바이스에서 본 것을 실제와 근접하게 표현하는 새로운 모바일 에뮬레이션을 만들기 위해 열심히 일했습니다. 예를 들어 WebKit 브라우저들은 복잡한 텍스트 자동크기조절 알고리을 관리하고 (사실) 각 디바이스는 또렷한 텍스트를 유지하는 것을 도울 수 있도록 하는 텍스트 자동크기조절을 위해 특유의 "날조된 요인"을 가지고 있습니다.<!-- If you've seen the previous Device Metrics feature, what's now available is a huge upgrade.  The team has worked hard to make the new mobile emulation get a near-reality representation of what you'd see on real devices. For example, WebKit browsers maintain a complex text autosizing algorithm and, in fact, each device has a specific "fudge factor" for the text autosizing that changes to help keep text legible. In emulation mode you can confirm this behavior is being applied and see the results. --></p>

<h4 id="toc-dpr">Device Pixel Ratio</h4>
<p>현재까지 low-DPI 디바이스 상에서 hi-DPI 디바이스를 표시하는 것을 보는 것은 거의 불가능했습니다. 이제 개발자도구의 dPR 에뮬레이션은 여러분을 깊은 DPI 시나리오로 빠져들수 있도록 뷰를 적용할 것입니다. 추가로 <code>window.devicePixelRatio</code>, <code>@media (-webkit-min-device-pixel-ratio: 2)</code>, <code>image-set( url(pic2x.jpg) 2x, …)</code> 등 설정을 반영하고 앱이 DPI에 의존적인 각기 다른 애셋들을 로딩하는데 얼마나 적합한지 볼 수 있습니다.<!-- Until now, it's been nearly impossible to see what a hi-DPI device displays on a low-DPI device. Now, the dPR emulation in DevTools will adapt your view to let you zoom into a deep DPI scenario. In addition, you can expect <code>window.devicePixelRatio</code>, <code>@media (-webkit-min-device-pixel-ratio: 2)</code>, <code>image-set( url(pic2x.jpg) 2x, …)</code>, etc to reflect your setting, allowing you to view how your app adapts including loading different dpi-specific assets. --></p>

<figure><img src="dpr-switch-small.gif" alt="" /></figure>

<p class="notice tip">디바이스 에뮬레이션은 브라우저의 기능들이나 버그에 대해 모든 방향으로 확장하는 것은 아닙니다. 그러므로 iOS를 에뮬레이션하는 동안 WebGL은 여전히 동작할 것이며 <a href="https://github.com/scottjehl/Device-Bugs/issues/2">iOS 5의 오리엔테이션 줌 버그(Orientation zoom bug)</a>에 닿을 일도 없을 것입니다.<!-- The device emulation does not extend all the way to browser features or bugs. So, while emulating iOS, WebGL will still work and you won't hit the <a href="https://github.com/scottjehl/Device-Bugs/issues/2">iOS 5 orientation zoom bug</a>. To experience that variability, head to the device. --></p>

<h4 id="toc-viewport">Proper emulation of <code>&lt;meta viewport&gt;</code> (그리고 <code>@viewport</code>)의 적절한 에뮬레이션<!-- Proper emulation of <code>&lt;meta viewport&gt;</code> (and <code>@viewport</code>) --></h4>

<p><code>width=device-width</code> 그리고 <code>minimum-scale:1.0</code>이 무엇인지에 대한 동작 테스팅은 예전에 디바이스뿐인 게임이 되어버렸습니다. 이제 <a href="http://andreasbovens.github.io/understanding-viewport/">각기 다른 뷰포트들</a>을 빠르게 시도해볼 수 있으며 어떻게 렌더링되는지 관찰할 수 있습니다.<!-- Testing the behavior of what <code>width=device-width</code> and <code>minimum-scale:1.0</code> do has previously been a device-only game. Now you can quickly try out <a href="http://andreasbovens.github.io/understanding-viewport/">different viewports</a> and observe how they're rendered. --></p>



<blockquote class="commentary talkinghead irishtalkinghead"><b>프로의 팁<!-- Protip --></b>: 디바이스의 핀치줌을 흉내를 내기 위해서는 shift-drag나 shift-scroll를 사용하시기 바랍니다.<!-- use shift-drag or shift-scroll to mimic a pinch zoom on the device. --></blockquote>

<h4 id="toc-touch">터치 이벤트 시뮬레이션<!-- Touch Event simulation --></h4>
<p><em>터치스크린</em>의 설정을 <em>에뮬레이션하는</em> 것은 클릭들이 확실하게 <code>touchstart</code> 등의 형식으로 번역되도록 만들어 줄 것입니다. 핀치-줌(Pinch-zoom)을 하기 위해서는 간단하게 <kbd>shift</kbd>+drag or <kbd>shift</kbd>+scroll로 컨텐츠의 줌을 할 수 있습니다. 뷰포트 뒤의 컨텐츠 스케일에 대한 훌륭한 뷰를 가지게 될 것입니다.<!-- The <em>emulate touch screen</em> setting will make sure your clicks are interpretted as <code>touchstart</code> and so on. Plus, synthetic events like zoom, scroll and pan will work. To pinch-zoom, simply <kbd>shift</kbd>+drag or <kbd>shift</kbd>+scroll to zoom into the content. You'll get a great view of the content scaling beyond the viewport. --></p>

<figure><img src="scrolling-emu.gif" alt="" /></figure>

<p>마지막으로 준비된 (요청 헤더와 <code>window.navigator</code> 수준 모두에서의) useragent 위장(Spoofing), 위치정보(Geolocation), 방향(Orientation) 에뮬레이션은 디바이스의 전체 기능을 탐색할 수 있도록 할 것입니다.<!-- Lastly, your standbys of useragent spoofing (both at the request header and <code>window.navigator</code> level), geolocation, and orientation emulation let you explore your device's full functionality. --></p>

<h4 id="toc-presets">디바이스 프리셋<!-- Device Presets --></h4>
<p>에뮬레이션 프리셋은 여러분이 폰이나 태블릿을 선택하고 해당 디바이스에서 적용된 올바른 화면 크기, <abbr title="devicePixelRatio">dPR</abbr>, UA와 더불어 전체 터치 이벤트와 뷰포트 에뮬레이션 역시도 가지게 해줍니다. 여러분은 특정한 프리셋을 시도할 수도 있고 하나씩 이 특성들을 쉽게 조정해갈 수도 있습니다. <!-- The emulation presets let you select a phone or tablet and get the correct screen size, <abbr title="devicePixelRatio">dPR</abbr>, UA applied for that device, along with full touch events and viewport emulated as well. You can try particular presets or easily can tweak these characteristics one by one. --></p>

<figure><img src="presets.png" alt="" style="max-width: 400px" /></figure>

<p><a href="https://developers.google.com/chrome-developer-tools/docs/mobile-emulation">개발자도구를 이용한 모바일 에뮬레이션에 대한 전체 문서</a>는 devtools.chrome.com를 방문해보시기 바랍니다.<!-- Hop over to devtools.chrome.com for the <a href="https://developers.google.com/chrome-developer-tools/docs/mobile-emulation">full docs on Mobile Emulation with DevTools</a> --></p>

<h2 id="toc-devtools-mobile-demo">데모<!-- Demo --></h2>
<p><b>동작되는 이 모든 기능들</b>의 전체 데모를 보시려면, 다음과 같이 제가 크롬 개발자 서밋에서 '모바일을 위한 개발자도구'에 대해 얘기한 23분간의 발표를 확인해보시기 바랍니다.<!-- To get the full demo of <b>all these features in action</b>, check out my 23 minute talk from Chrome Dev Summit on the DevTools for mobile: --></p>


<div class='embed-container'><iframe src='http://www.youtube.com/embed/gZH1d2Co1X0' frameborder='0' allowfullscreen></iframe></div>

{% endblock %}
