{% extends "tutorial.html" %}

{% block html5badge %}
<img src="/static/images/identity/html5-badge-h-graphics.png" width="133" height="64" alt="This article is powered by HTML5 Graphics, 3D &amp; Effects" title="This article is powered by HTML5 Graphics, 3D &amp; Effects" />
{% endblock %}

{% block iscompatible %}
  return true;
{% endblock %}

{% block content %}

<h2 id="toc-creating">Creating the Google Photography Prize Gallery</h2>

<figure>
  <a href="http://www.google.com/landing/photographyprize/" target="_blank"><img src="gpp_frontpage.jpg" height="400"></a>
  <figcaption><a href="http://www.google.com/landing/photographyprize/" target="_blank">Google Photography Prize website</a></figcaption>
</figure>

<p>We recently launched the <a href="http://www.google.com/landing/photographyprize/gallery.html" target="_blank">Gallery section</a> on the <a href="http://www.google.com/landing/photographyprize/">Google Photography Prize</a> site. The gallery shows an infinite scrolling list of photos fetched from Google+. It gets the list of photos from an <a href="http://appengine.google.com">AppEngine</a> app that we use for moderating the list of photos in the gallery. We also released the gallery app as an open source project on <a href="http://code.google.com/p/galleryplus">Google Code</a>.

<figure>
  <a href="http://www.google.com/landing/photographyprize/gallery.html" target="_blank"><img src="gpp_gallery.jpg" height="400"></a>
  <figcaption><a href="http://www.google.com/landing/photographyprize/gallery.html" target="_blank">The gallery page</a></figcaption>
</figure>

<p>The backend of the gallery is an AppEngine app that uses the Google+ API to search for posts with one of the Google Photography Prize hashtags on it (e.g. #megpp and #travelgpp). The app then adds those posts to its list of unmoderated photos. Once a week, our content team goes through the list of unmoderated photos and flags ones that break our content guidelines. After hitting the Moderate-button, the unflagged photos are added to the list of photos shown on the gallery page.

<figure>
  <img src="gpp_backend.jpg" height="400">
  <figcaption>The moderation backend</figcaption>
</figure>


<h2 id="toc-frontend">Gallery frontend</h2>

<p>The Gallery frontend is built using the <a href="http://code.google.com/closure/library/">Google Closure library</a>. The Gallery widget itself is a Closure component. At the top of the source file we tell Closure that this file provides a component named <code>photographyPrize.Gallery</code> and require the parts of the Closure library used by the app:

<pre class="prettyprint">
goog.provide('photographyPrize.Gallery');

goog.require('goog.debug.Logger');
goog.require('goog.dom');
goog.require('goog.dom.classes');
goog.require('goog.events');
goog.require('goog.net.Jsonp');
goog.require('goog.style');
</pre>

<p>The gallery page has a bit of JavaScript that uses JSONP to retrieve the list of photos from the AppEngine app. JSONP is a simple cross-origin JavaScript hack that injects a script that looks like <code>jsonpcallback("responseValue")</code>. To handle the JSONP stuff, we’re using the <code>goog.net.Jsonp</code> component in the Closure library.

<p>The gallery script goes through the list of photos and generates HTML elements for them to show them on the gallery page. The infinite scrolling works by hooking up to the window scroll event and loading a new batch of photos when the window scroll is close to the bottom of the page. After loading the new photo list segment, the gallery script creates elements for the photos and adds them to the gallery element to display them.

<h2 id="toc-imagelist">Displaying the list of images</h2>

<p>The image list display method is pretty basic stuff. It goes through the image list, generates HTML elements and +1 buttons. The next step is to add the generated list segment to the gallery's main gallery element. You can see some Closure compiler conventions in the code below, note the type definitions in the JSDoc comment and the @private visibility. Private methods have an underscore (_) after their name.
<pre class="prettyprint">
/**
 * Displays images in imageList by putting them inside the section element.
 * Edits image urls to scale them down to imageSize x imageSize bounding
 * box.
 *
 * @param {Array.&lt;Object>} imageList List of image objects to show. Retrieved
 *                                   by loadImages.
 * @return {Element} The generated image list container element.
 * @private
 */
<a href="http://code.google.com/p/galleryplus/source/browse/js/gallery.js?r=877a829e30768d994a81f689253e9e312d608ae5#303">photographyPrize.Gallery.prototype.displayImages_</a> = function(imageList) {
  
  // find the images and albums from the image list
  for (var j = 0; j &lt; imageList.length; j++) {
    // change image urls to scale them to photographyPrize.Gallery.MAX_IMAGE_SIZE
  }

  // Go through the image list and create a gallery photo element for each image.
  // This uses the Closure library DOM helper, goog.dom.createDom:
  // element = goog.dom.createDom(tagName, className, var_childNodes);

  var category = goog.dom.createDom('div', 'category');
  for (var k = 0; k &lt; items.length; k++) {
    var plusone = goog.dom.createDom('g:plusone');
    plusone.setAttribute('href', photoPageUrl);
    plusone.setAttribute('size', 'standard');
    plusone.setAttribute('annotation', 'none');

    var photo = goog.dom.createDom('div', {className: 'gallery-photo'}, ...)
    photo.appendChild(plusone);

    category.appendChild(photo);
  }
  this.galleryElement_.appendChild(category);
  return category;
};

</pre>


<h2 id="toc-scrolling">Handling scroll events</h2>

<p>To see when the visitor has scrolled the page to the bottom and we need to load new images, the gallery hooks up to the window object's scroll event. To paper over differences in browser implementations, we're using some handy utility functions from the Closure library: <code>goog.dom.getDocumentScroll()</code> returns an <code>{x, y}</code> object with the current document scroll position, <code>goog.dom.getViewportSize()</code> returns the window size, and <code>goog.dom.getDocumentHeight()</code> the height of the HTML document.

<pre class="prettyprint">
/**
 * Handle window scroll events by loading new images when the scroll reaches
 * the last screenful of the page.
 *
 * @param {goog.events.BrowserEvent} ev The scroll event.
 * @private
 */
<a href="http://code.google.com/p/galleryplus/source/browse/js/gallery.js?r=877a829e30768d994a81f689253e9e312d608ae5#575">photographyPrize.Gallery.prototype.handleScroll_</a> = function(ev) {
  var scrollY = goog.dom.getDocumentScroll().y;
  var height = goog.dom.getViewportSize().height;
  var documentHeight = goog.dom.getDocumentHeight();
  if (scrollY + height >= documentHeight - height / 2) {
    this.tryLoadingNextImages_();
  }
};

/**
 * Try loading the next batch of images objects from the server.
 * Only fires if we have already loaded the previous batch.
 *
 * @private
 */
<a href="http://code.google.com/p/galleryplus/source/browse/js/gallery.js?r=877a829e30768d994a81f689253e9e312d608ae5#591">photographyPrize.Gallery.prototype.tryLoadingNextImages_</a> = function() {
  // ...
};
</pre>

<h2 id="toc-loadingimages">Loading images</h2>

<p>To load the images from the server, we're using the <code>goog.net.Jsonp</code> component. It takes a <code>goog.Uri</code> to query. Once created, you can send a query to the Jsonp provider with a query parameter object and a success callback function.

<pre class="prettyprint">
/**
 * Loads image list from the App Engine page and sets the callback function
 * for the image list load completion.
 *
 * @param {string} tag Fetch images tagged with this.
 * @param {number} limit How many images to fetch.
 * @param {number} offset Offset for the image list.
 * @param {function(Array.&lt;Object>=)} callback Function to call
 *        with the loaded image list.
 * @private
 */
<a href="http://code.google.com/p/galleryplus/source/browse/js/gallery.js?r=877a829e30768d994a81f689253e9e312d608ae5#285">photographyPrize.Gallery.prototype.loadImages_</a> = function(tag, limit, offset, callback) {
  var jsonp = new goog.net.Jsonp(
      new goog.Uri(photographyPrize.Gallery.IMAGE_LIST_URL));
  jsonp.send({'tag': tag, 'limit': limit, 'offset': offset}, callback);
};
</pre>

<p>As mentioned above, the gallery script uses the Closure compiler for compiling and minifying the code. The Closure compiler is also useful in enforcing correct typing (you use <cod>@type foo</code> JSDoc notation in your comments to set the type of a property) and it also tells you when you don’t have comments for a method. 

<h2 id="toc-unittests">Unit tests</h2>

<p>We also needed unit tests for the gallery script, so it’s handy that the Closure library has an unit testing framework built into it. It follows the jsUnit conventions, so it’s easy to get started with.

<p>To help me in writing the unit tests, I wrote a small Ruby script that parses the JavaScript file and generates a failing unit test for each method and property in the gallery component. Given a script like:
<pre class="prettyprint">
Foo = function() {}
Foo.prototype.bar = function() {}
Foo.prototype.baz = "hello";
</pre>

<p>The test generator generates an empty test for each of the properties:
<pre class="prettyprint">
function testFoo() {
  fail();
  Foo();
}

function testFooPrototypeBar = function() {
  fail();
  instanceFoo.bar();
}

function testFooPrototypeBaz = function() {
  fail();
  instanceFoo.baz;
}
</pre>

<p>These autogenerated tests gave me an easy start in writing tests for the code, and all the methods and properties were covered by default. The failing tests create a nice psychological effect where I had to go through the tests one by one and write proper tests. Coupled with a code coverage meter, it’s a fun game to make the tests and coverage all green. 

<h2 id="toc-summary">Summary</h2>
<p>Gallery+ is an open source project to display a moderated list of Google+ photos matching a #hashtag. It was built using Go and the Closure library. The backend runs on App Engine. Gallery+ is used on the Google Photography Prize website to display the submission gallery.
<p>In this article we walked through the juicy bits of the frontend script. My collague Johan Euphrosine from the App Engine Developer Relations team is writing a second article talking about the backend app. The backend is written in Go, Google's new server-side language. So if you're interested in seeing a production example of Go code, stay tuned!

<h2 id="toc-references">References</h2>
<ul>
  <li><a href="http://google.com/landing/photographyprize/">Google Photography Prize</a></li>
  <li><a href="http://code.google.com/p/galleryplus/">Gallery+</a> project page</li>
  <li><a href="http://code.google.com/closure/library/">Closure library</a></li>
  <li><a href="http://code.google.com/closure/compiler/">Closure compiler</a></li>
</ul>

{% endblock %}
