{% extends "tutorial.html" %}

{% block head %}{% endblock %}
{% block onload %}{% endblock %}

{% block iscompatible %}
  return !!Modernizr.webgl && !!window.webkitAudioContext;
{% endblock %}


{% block content %}
<section id='main-text'>

<link href='/tutorials/doodles/lem/styles.css' rel='stylesheet'>

<style type="text/css">
/* Removes unwanted "." in color demo inherited from existing stylesheet */
#main-text .illo ul > li::before {
  content: "";
}
#main-text img, #main-text canvas, div.illo.color-mixed {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
#main-text img { max-width: 100%; }
</style>



  <figure>
    <a href="http://www.technitone.com"><img src="assets/images/technitone-article-header.jpg" alt="Technitone — viva o áudio na Web." /></a>
    <figcaption><a href="http://www.technitone.com">Technitone.com</a></figcaption>
  </figure>

  <p><a href="http://www.technitone.com">Technitone.com</a> é uma fusão de WebGL, Canvas, Web Sockets, CSS3, Javascript, Flash e a nova <a href="https://dvcs.w3.org/hg/audio/raw-file/tip/webaudio/specification.html">API de áudio da Web</a> no Chrome.</p>

  <p>Este artigo abrange todos os aspectos da produção: o planejamento, o servidor, os sons, a aparência e parte do fluxo de trabalho que aprimoramos no projeto para interação. A maioria das seções contém snippets de códigos, uma demonstração e um download. Ao final deste artigo, há um link para download; você pode obter todos eles como um único arquivo zip. </p>

  <img src="assets/images/avatars.png" alt="Equipe de produção do gskinner.com." />

  <h2 id="toc-thegig">a arte.</h2>

  <p>Não somos, de forma alguma, engenheiros de áudio na gskinner.com — mas desafie-nos e faremos um plano:</p>

  <ul style="padding-left:25px">
    <li>Os usuários <a href="http://www.technitone.com/view/68k21dr24vb">posicionam tons em uma grade</a>, “inspirados” pelo <a href="http://lab.andre-michelle.com/"></a> <a href="http://lab.andre-michelle.com/tonematrix">ToneMatrix</a> do Andre</li>
    <li>Os tons estão ligados a samplers de amostra, baterias ou até mesmo gravações dos próprios <a href="http://www.technitone.com/view/m923dgxnwbg">usuários</a></li>
    <li>Vários usuários conectados tocam na mesma grade simultaneamente</li>
    <li>&hellip;ou passam para o modo solo para explorarem por si próprios</li>
    <li>Sessões para convidados permitem que os usuários organizem uma banda e tenham uma transmissão improvisada</li>
  </ul>

  <p>Oferecemos aos usuários a oportunidade de explorar a API de áudio da Web por meio de um painel de ferramentas que aplica filtros e efeitos de áudio em seus tons.</p>

  <img src="assets/images/technitone-feature-screenshot.png" alt="Technitone da gskinner.com" />

  <p>Nós também:</p>

  <ul style="padding-left:25px">
    <li>armazenamos as composições e efeitos dos usuários como dados e os sincronizamos entre os clientes;</li>
    <li>fornecemos algumas opções de cores para que eles possam criar <a href="http://www.technitone.com/view/8vec1djzfxv">canções com efeitos visuais bacanas</a>;</li>
    <li>oferecemos uma galeria para que as pessoas possam ouvir, admirar ou até mesmo editar o trabalho de outras pessoas;</li>
  </ul>

  <p>escolhemos ficar com a familiaridade da metáfora de grades, inserimos espaço 3D, adicionamos iluminação, textura e efeitos de partículas, hospedamo-na em uma interface flexível (ou tela inteira) orientada por CSS e JS.</p>

  <h2 id="toc-roadtrip">a viagem.</h2>

  <p>Os dados relativos a instrumentos, efeitos e grades são consolidados e serializados no cliente e, em seguida, enviados ao nosso backend personalizado <a href="http://nodejs.org/">Node.js</a> para resolver vários usuários à la <a href="http://socket.io/">Socket.io</a>. Esses dados são enviados de volta ao cliente, incluindo as contribuições de cada instrumentista, antes de serem distribuídos às camadas relativas de CSS, WebGL e WebAudio responsáveis pelo processamento da interface de usuário, amostras e efeitos durante a reprodução por vários usuários.</p>

  <p>Comunicação em tempo real com JavaScript de feeds de soquetes no cliente e JavaScript no servidor.</p>

  <img src="assets/images/serverdiagram.png" alt="Diagrama do servidor do Technitone " />

  <p>Usamos o Node em cada aspecto do servidor. É um servidor da Web estático e nosso servidor de soquetes reunidos em um só. Acabamos usando o <a href="http://expressjs.com/">Express</a>, que é um servidor da Web completo, totalmente integrado ao Node. É super escalonável, altamente personalizável e cuida dos aspectos de baixo nível do servidor (da mesma forma que o Apache ou o Windows Server faria). Assim, você, desenvolvedor, só precisa se preocupar em criar seu aplicativo. <a href="assets/demos/ServerDiagram.pdf" class="button-download pdf">Fazer download de um diagrama mais detalhado da comunicação entre servidor e cliente</a></p>

  <h3 id="toc-multiuserdemo">Demonstração para vários usuários (bem, é apenas uma captura de tela)</h3>

  <p>Esta demonstração deve ser executada a partir de um servidor Node e, como este artigo não é um, incluímos uma captura de tela para você ver como fica a demonstração depois que você instala o Node.js, configura seu servidor da Web e o executa localmente. Cada vez que um novo usuário visita a instalação da sua demonstração, uma nova grade é adicionada e o trabalho de todas as pessoas fica visível para os demais.</p>
      
      <img src="assets/images/nodeDemo.gif" alt="Captura de tela da demonstração do Node.js" />
      <p><a href="assets/demos/nodejsDemo.zip" class="button-download">Fazer download da demonstração para vários usuários. <em>requer servidor Node.js</em></a> Verifique o arquivo LEIA-ME; ele contém informações sobre como instalar o Node.js, configurar o servidor e executar a demonstração localmente.</p>
      
      <p>O Node é simples. Aliando o Socket.io e solicitações POST personalizadas, não precisávamos criar rotinas complexas para sincronização. O Socket.io faz isso de forma transparente; <a href="http://en.wikipedia.org/wiki/JSON">O JSON</a> vai sendo transmitido.</p>

  <p>Quão fácil? Veja isto.</p>

  <p>Com três linhas de JavaScript, colocamos um servidor para funcionar com o Express.</p>

    <pre src='code/node_snippets.js#1-8'></pre>
      
    <p>Mais algumas para combinar o socket.io para comunicação em tempo real.</p>

    <pre src='code/node_snippets.js#14-20'></pre>
      
    <p>Agora, é só começar a observar as conexões recebidas da página HTML.</p>
      
      <pre src='code/node_snippets.js#22-32'></pre>
      
      <h2 id="toc-soundcheck">verificação segura.</h2>

  <p>Uma grande incógnita era o trabalho que dava para usar a API de áudio da Web. Nossas descobertas iniciais confirmaram que o <a href="http://pt.wikipedia.org/wiki/Processamento_de_sinal">Processamento Digital de Sinais</a> (DSP) é muito complexo e provavelmente estávamos nos metendo em um belo espinheiro. Segunda descoberta: <a href="http://chromium.googlecode.com/svn/trunk/samples/audio/index.html">Chris Rogers</a> já havia feito o trabalho mais pesado na API.</p>
  <p>O Technitone não usa nenhuma matemática maluca ou bitolação em áudio; essa funcionalidade pode ser facilmente acessada pelos desenvolvedores interessados. Precisávamos esclarecer alguns termos e <a href="https://dvcs.w3.org/hg/audio/raw-file/tip/webaudio/specification.html">ler a documentação</a>. Nosso conselho? Não "passe os olhos" simplesmente. Leia tudo. De cabo a rabo. Eles estão ilustrados com diagramas e fotos e são muito interessantes.</p>

  <p>Se essa é a primeira vez que você ouviu falar da API de áudio da Web ou não conhece todas as suas possibilidades, acesse as <a href="http://chromium.googlecode.com/svn/trunk/samples/audio/index.html">demonstrações</a> de Chris Rogers. Precisa de inspiração? Pode ter certeza de que aqui você encontra.</p>

  <h3 id="toc-webaudiodemo">Demonstração da API de áudio da Web</h3>

  <p>
    <span id="webAudioNotSupportedLabel" style="color: red;">Seu navegador não oferece suporte para a API de áudio da Web. Tente executar esta demonstração no Google Chrome.<br /></span> <input id="loadSampleBtn" type="button" value="Carregar sample"  />
    <label><input class="delay" type="checkbox" disabled="disabled" /> tocar sample com atraso</label>
    <input id="loadImpulseResponseBtn" type="button" value="Carregar resposta ao impulso"  />
    <label style="display:inline-block; vertical-align: text-top;"><input class="impulseResponse" type="checkbox" disabled="disabled" /> tocar sample com convolução <br /><span style="margin-left: 20px;">(usando resposta ao impulso)</span></label>
  </p>

  <p><a href="assets/demos/webAudioDemo.zip" class="button-download">Fazer download da demonstração da API de áudio da Web.<em>Só funciona quando hospedada em um servidor</em></a><p>

  <p><br />Segue uma visão geral do que você encontrará na fonte:</p>

  <p class="note">Carregar um sample (arquivo de som)&hellip;</p>

  <pre src='code/wa_snippets.js#5-39'></pre>

  <p class="note">&hellip;configurar roteamento modular&hellip;</p>

  <pre src='code/wa_snippets.js#46-59'></pre>

  <p class="note">&hellip;aplicar um efeito de tempo de execução (convolução usando uma resposta ao impulso)&hellip;</p>

  <pre src='code/wa_snippets.js#66-73'></pre>

  <p class="note">&hellip;aplicar outro efeito de tempo de execução (atraso)&hellip;</p>

  <pre src='code/wa_snippets.js#80-104'></pre>

  <p class="note">&hellip;e torná-lo audível.</p>

  <pre src='code/wa_snippets.js#110-126'></pre>

  <p>Nossa técnica de reprodução no Technitone é basicamente programar o tempo. Em vez de definir um intervalo para o timer que fosse igual ao nosso andamento para processar sons a cada tempo, definimos um intervalo menor que gerencia e programa sons em uma fila. Isso permite que a API execute o trabalho inicial de resolver os dados de áudio e processar filtros e efeitos antes de encarregar a CPU de torná-lo efetivamente audível. Quando tudo isso acontece, já se têm todas as informações necessárias para apresentar o resultado final às caixas de som.</p>

  <p>De modo geral, tudo precisava ser otimizado. Quando exigíamos muito da nossa CPU, alguns processos eram ignorados (abrir, clicar, riscar) para seguir o cronograma; nos esforçamos seriamente para parar com toda a loucura se você passar para outra guia no Chrome.</p>

  <h2 id="toc-lightshow">show de luzes.</h2>

  <p>Nosso túnel de grades e partículas é frontal e central. Esta é a camada <a href="http://www.khronos.org/webgl/">WebGL</a> do Technitone.</p>

  <p>O WebGL oferece desempenho consideravelmente superior à maioria dos outros métodos de renderização de elementos visuais na Web, encarregando a GPU de trabalhar juntamente com o processador. Esse ganho de desempenho é contrabalançado pela necessidade de um trabalho de desenvolvimento significativamente maior, com uma curva de aprendizagem muito mais acentuada. Assim, se você realmente tem paixão pela interatividade na Web e deseja o mínimo possível de restrições ao desempenho, o WebGL oferece uma solução <a href="http://www.airtightinteractive.com/2011/10/stage3d-vs-webgl-performance/">comparável ao Flash.</a></p>

  <h3 id="toc-webgldemo">Demonstração do WebGL </h3>

  <p>

    <canvas id="webglcanvas" width="750" height="480">
      <font color="#FF0000">Seu navegador não oferece suporte para Canvas HTML5. Certifique-se de que o navegador esteja na versão mais atual e que seja compatível com Canvas HTML5. <a href="http://support.google.com/chrome/bin/answer.py?hl=pt-br&answer=95346">Recomendamos o Google Chrome.</a></font>
    </canvas>

    <div id="webglDefault" hidden="true" style="font-style: italic; border: solid 1px; padding: 5px">
      Seu navegador não oferece suporte para WebGL. Certifique-se de que o navegador esteja na versão mais atual e que seja compatível com WebGL. <a href="http://support.google.com/chrome/bin/answer.py?hl=pt-br&answer=95346">Recomendamos o Google Chrome.</a><br />
    </div>

  <select id="webglDemoNumber" onchange="onNewWebGLDemo(event)">
      <option value="1">Demonstração 1 - Planos e cubos</option>
      <option value="2">Demonstração 2 - Iluminação</option>
      <option value="3">Demonstração 3 - Texturas</option>
      <option value="4">Demonstração 4 - Partículas</option>
      <option value="5">Demonstração 5 - Normais</option>
    </select><br />
  <div id="webglDemo1" hidden="true">
    Os planos são desenhados juntando-se quatro vértices com dois triângulos interligados. <br />
    <label>
      <input id="wire" type="checkbox" value="false" onchange="onToggleWireframe(event)">
      Wireframe
    </label>
  </div>
  <div id="webglDemo2" hidden="true">
    A luz é criada ajustando-se a cor nos shaders de acordo com o vértice normal. <br />
    Posição da luz local: <br />
    X: <input id="inputX" type="text" value="-5" />
    Y: <input id="inputY" type="text" value="-5" />
    Z: <input id="inputZ" type="text" value="-5" />
  </div>
  <div id="webglDemo3" hidden="true">
    As texturas são mapeadas nos planos pelas coordenadas UV (de 0 para 1, da esquerda para a direita, de cima para baixo). <br />
    Escolher textura: <br />
    Caixas: 
    <select id="crateTexture" onchange="onChangeCrateTexture(event)">
      <option value="0">Madeira</option>
      <option value="1">Metal</option>
      <option value="2">Holograma</option>
    </select>
  </div>
  <div id="webglDemo4" hidden="true">
    Cada partícula é desenhada com dois triângulos e as próprias referências a uma textura. Defina o Z máximo como 1 para ver. <br />
    Contagem de partículas: <input id="count" type="text" value="10000" />
    Frequência de partículas: <input id="freq" type="text" value="2" /><br />
    Velocidade das partículas: <br />
    MÍN --- X: <input id="minX" type="text" value="-1" />
    Y: <input id="minY" type="text" value="1" />
    Z: <input id="minZ" type="text" value="0" /> <br />
    
    MÁX --- X: <input id="maxX" type="text" value="1" />
    Y: <input id="maxY" type="text" value="1" />
    Z: <input id="maxZ" type="text" value="0" />
  </div>
  <div id="webglDemo5" hidden="true">
    As normais usam um mapa de normais para refletir a luz de forma diferente para cada pixel, criando um efeito 3D aproximado <br />
  <input id="useTextureNormal" type="checkbox" checked="false" onchange="onToggleNormal(event)">Usar normal de textura</input><br />
  </div>
  </p>

  <p>A demonstração apresenta sombreamento, texturas, animação, efeitos com partículas e interatividade. Cada demonstração é uma sequência linear do conceito anterior.</p>
  <a href="webgl/WebGL_Demos.zip" class="button-download">Fazer download da demonstração do WebGL<em>As demonstrações baseadas em texturas funcionam somente em um servidor</em></a>

  <p class="note">Observação: o WebGL segue um protocolo de segurança que evita o carregamento e a manipulação de texturas diretamente da unidade de disco local.</p>

  <p>O conteúdo do WebGL é renderizado em uma tela (literalmente, o HTML5 Canvas) e compreende os seguintes componentes básicos:</p>

   <ul style="padding-left:25px">
    <li>vértices de objetos (geometria)</li>
    <li>matrizes de posição (coordenadas 3D)</li>
      <li>shaders (descrição de aparência geométrica, vinculados diretamente à GPU)</li>
      <li>contexto (“atalhos” para os elementos aos quais a GPU faz referência)</li>
      <li>buffers (canais para transmitir dados de contexto à GPU)</li>
      <li>código principal (a lógica de negócio específica da interação desejada)</li>
      <li>o método de “desenho” (ativa os shaders e desenha pixels nas telas)</li>
  </ul>

  <p>O processo básico para renderizar conteúdo WebGL na tela é basicamente este:</p>

  <ol style="padding-left:25px">
    <li>Definir a matriz de perspectiva (ajusta as configurações para a câmera voltada para o espaço 3D, definindo o plano da foto).</li>
    <li>Definir a matriz de posição (declara uma origem nas coordenadas 3D em relação às quais as posições são marcadas).</li>
    <li>Preencher os buffers com dados (posição das vértices, cor, texturas&hellip;) a serem transmitidos ao contexto por meio dos shaders.</li>
    <li>Extrair dados dos buffers e organizá-los com os shaders para transmiti-los para a GPU.</li>
    <li>Chamar o método de desenho para instruir o contexto a ativar os shaders, processar os dados e atualizar as telas.</li>
   </ol>
   
  <p>Quando está em ação, fica mais ou menos assim:</p>

  <p class="note">Definir a matriz de perspectiva&hellip;</p>

  <pre src='webgl/source/Demo01.js#213-222'></pre>

  <p class="note">&hellip;definir a matriz de posição&hellip;</p>

  <pre src='webgl/source/Demo01.js#224-231'></pre>

  <p class="note">&hellip;definir geometria e aparência&hellip;</p>

  <pre src='webgl/source/Demo02.js#124-136'></pre>

  <p class="note">&hellip;preencher os buffers com dados e transmiti-los ao contextot&hellip;</p>

  <pre src='webgl/source/Demo02.js#138-148'></pre>

  <p class="note">&hellip;e chamar o método de desenho</p>

  <pre src='webgl/source/Demo02.js#196-198'></pre>

  <p>Em cada quadro, lembre-se de limpar a tela se não quiser que elementos visuais em alfa fiquem empilhados uns sobre os outros.</p>

  <h2 id="toc-thevenue">o ambiente.</h2>

  <p>Além do túnel de partículas e grades, cada elemento da interface de usuário foi desenvolvido em HTML/CSS e lógica interativa em Javascript.</p>

  <p>Desde o início, decidimos que os usuários deveriam interagir com a grade o mais rápido possível. Sem tela de apresentação, sem instruções, sem tutoriais... Se a interface está carregada, não deve haver nada que faça o usuário esperar.</p>

  <p>Isso exigiu que analisássemos cuidadosamente a forma de orientar um usuário iniciante em suas interações. Incluímos dicas simples, como, por exemplo, a alteração da propriedade do cursor CSS com base na posição do mouse do usuário no espaço WebGL. Se o cursor está sobre a grade, nós o trocamos para um cursor em forma de mão (porque eles podem interagir gerando tons). Se ele passar pelo espaço em branco ao redor da grade, mudamos o cursor para uma cruz direcional (para indicar que eles podem girar ou explodir a grade em camadas).</p>

  <h3 id="toc-gettingready">Preparando-se para o show</h3>
  <p><a href="http://lesscss.org/">LESS</a> (um pré-processador CSS) e <a href="http://incident57.com/codekit/">CodeKit</a> (desenvolvimento web super poderoso) realmente reduzem o tempo necessário para converter arquivos de designs em HTML/CSS. Isso nos permitiu organizar, gerar e otimizar o CSS de uma maneira muito mais versátil, aproveitando variáveis, misturas (funções) e até mesmo a matemática!</p>

  <h3 id="toc-stageeffects">Efeitos de palco</h3>

  <p>Com o uso das <a href="http://www.w3schools.com/css3/css3_transitions.asp">transições CSS3</a> e <a href="http://documentcloud.github.com/backbone/">backbone.js</a>, criamos alguns efeitos bem simples que ajudam a dar mais vida ao aplicativo e a fornecer aos usuários filas visuais que indicam quais instrumentos eles estão usando.</p>

  <img src="assets/images/color-shift-ui-01.jpg" alt="As cores do Technitone" />

  <p>O Backbone.js permite detectar eventos de alteração de cor e aplicar a nova cor aos elementos DOM correspondentes. As transições CSS3 aceleradas por GPU processavam as alterações nos estilos das cores com pouco ou nenhum impacto sobre o desempenho.</p>

  <p>A maioria das transições de cores ocorridas em elementos da interface foi criada com a transição das cores de fundo. Além das cores de fundo, colocamos imagens de fundo com áreas estratégicas de transparência para que as cores de fundo se sobressaiam.</p>

  <h3 id="toc-colortransdemo">Demonstração das transições de cores - Quantas cores você pode criar?</h3>

  <p>Esta demonstração mostra um ótimo exemplo de o que pode ser feito com esta técnica. Escolha as cores e veja os cientistas malucos misturando-as para criar uma terceira cor exclusiva. </p>

  <img src="assets/images/color-shift-demo-header.png" alt="Demonstração de transição de cores a seguir." style="display:block;" />

  <!-- Color Transition Demo HTML -->
  <div class="illo color-mixed">
      
    <div class="illo color-primary"></div>
    <div class="illo color-secondary"></div>

    <!-- Primary Color Selection -->
    <ul class="picker color-primary">
      <li class="color-1"></li>
      <li class="color-2"></li>
      <li class="color-3"></li>
      <li class="color-4"></li>
      <li class="color-5"></li>
      <li class="color-6 selected"></li>
      <li class="color-7"></li>
      <li class="color-8"></li>
    </ul>

    <!-- Secondary Color Selection -->
    <ul class="picker color-secondary">
      <li class="color-1"></li>
      <li class="color-2"></li>
      <li class="color-3 selected"></li>
      <li class="color-4"></li>
      <li class="color-5"></li>
      <li class="color-6"></li>
      <li class="color-7"></li>
      <li class="color-8"></li>
    </ul>

  </div>
  <!-- END Color Transition Demo HTML -->

  <p><a href="assets/demos/colorShiftDemo.zip" class="button-download">Fazer download da demonstração da transição de cores</a></p>

  <p>Vamos ver mais de perto o que acontece dentro do HTML, CSS, Javascript e como preparar materiais de artes para o efeito.</p>

  <h3 id="toc-htmlfound">HTML: Princípios básicos</h3>

  <p>Precisávamos de três regiões de cores para a demonstrações: duas regiões de cores selecionadas pelo usuário e uma terceira região de cores mistas. Criamos a estrutura DOM mais simples possível que suportasse transições CSS3 e a menor quantidade de solicitações HTTP para nossa ilustração.</p>
  <pre>
&lt;!-- Basic HTML Setup -->
&lt;div class="illo color-mixed">   
  &lt;div class="illo color-primary">&lt;/div>
  &lt;div class="illo color-secondary">&lt;/div>
&lt;/div>
  </pre>

  <h3 id="toc-css">CSS: estrutura simples, com estilo</h3>

  <p>Usamos posicionamento absoluto para colocar cada região no local correto e ajustamos a propriedade de posicionamento de fundo para alinhar a ilustração de fundo em cada região. Isso faz com que todas as regiões (cada uma com a mesma imagem de fundo) pareçam um único elemento.</p>

  <pre src='assets/demos/colorShiftDemo/css/styles.css#52-71'></pre>

  <p>Foram aplicadas transições aceleradas por GPU que detectam eventos de alteração de cores. Aumentamos a duração e <a href="http://cubic-bezier.com/#.78,0,.53,1" title="Ferramenta personalizada de suavização criada por Lea Verou">modificamos a suavização</a> em .color-mixed para criar a impressão de que demorava algum tempo para as cores se misturarem.</p>

  <pre src='assets/demos/colorShiftDemo/css/styles.css#33-49'></pre>

  <p><a href="http://html5please.us/#transition">Visite o HTML5please para obter suporte ao navegador atual e recomendações de uso para transições CSS3.</a></p>

  <h3 id="toc-js">Javascript: Como colocá-lo para funcionar</h3>

  <p>A atribuição dinâmica de cores é simples. Pesquisamos o DOM em busca de elementos com nossa classe de cores e definimos as cores de fundo com base nas seleções de cores do usuário. Aplicamos nosso efeito de transição a qualquer elemento no DOM adicionando uma classe.</p>
  <p>Isso cria uma arquitetura leve, flexível e escalonável.</p>

  <pre src='assets/demos/colorShiftDemo/js/ColorShifting.js#58-72'></pre>

  <p>Depois que as cores primárias e secundárias são escolhidas, calculamos o valor das cores misturadas e atribuímos o valor resultante ao elemento DOM adequado.</p>

  <pre src='assets/demos/colorShiftDemo/js/ColorShifting.js#91-107'></pre>

  <h3 id="toc-arch">Ilustração da arquitetura HTML/CSS: dando um toque de personalidade para três caixas que trocam de cor</h3>

  <p>Nosso objetivo era criar um efeito de luz divertido e realista que mantivesse sua integridade quando cores contrastantes fossem colocadas em regiões de cores adjacentes.</p>

  <p>Um PNG de 24 bits permite que a cor de fundo de nossos elementos HTML aparecam através das áreas transparentes da imagem.</p>

  <img src="assets/images/color-alpha.png" alt="Transparências da imagem" />
                                          
  <p>As caixas coloridas criam bordas nítidas quando cores diferentes se misturam. Isso afeta o realismo dos efeitos de luz e era um dos maiores desafios à ilustração.</p>

  <img src="assets/images/color-regions.png" alt="Regiões de cor" />

  <p>A solução foi criar a ilustração de modo que as bordas das regiões de cores nunca aparecessem nas áreas transparentes.</p>

  <img src="assets/images/color-region-edges.png" alt="Bordas das regiões de cores" />

  <p>O planejamento foi fundamental para chegarmos a esta versão. Uma rápida reunião de planejamento entre o projetista, o desenvolvedor e o ilustrador ajudou a equipe a entender como tudo precisava ser criado para funcionar em conjunto após a montagem.</p>

  <p>Veja o arquivo do Photoshop para ter um exemplo de como a nomenclatura de camadas pode trazer informações sobre a criação em CSS.</p>

  <img src="assets/images/color-layer-setup.png" alt="Bordas das regiões de cores" />

  <p><a href="assets/demos/colorShiftDemo.zip" class="button-download">Fazer download da demonstração da transição de cores</a></p>

  <h2 id="toc-encore">bis.</h2>

  <p>Para usuários que não usam o Chrome, definimos uma meta para sintetizar a essência do aplicativo em uma única imagem estática. O nó da grade tornou-se o herói, os blocos de fundo fazem alusão à finalidade do aplicativo e a perspectiva presente no reflexo sugere o ambiente de imersão 3D da grade.</p>

  <a href="http://www.technitone.com"> <img src="assets/images/only-in-chrome.png" alt="Bordas das regiões de cores" /> </a>

  <p>Se desejar saber mais sobre o Technitone, visite nosso <a href="http://www.gskinner.com/blog">blog</a>.</p>

  <p><a href="assets/demos/AllDemos.zip" class="button-download">Fazer download de todas as demonstrações em um único arquivo</a></p>

  <h2 id="toc-theband">a banda.</h2>

  <p>Obrigado por ler nosso material; quem sabe <a href="http://www.technitone.com">trabalhemos juntos</a> em breve!</a></p>





  <!-- WebGL code -->

  <script type="text/javascript" src="webgl/code/shaders/ShaderColor.js"></script>
  <script type="text/javascript" src="webgl/code/shaders/ShaderDetailed.js"></script>
  <script type="text/javascript" src="webgl/code/shaders/ShaderParticle.js"></script>
  <script type="text/javascript" src="webgl/code/shaders/ShaderSolo.js"></script>
  <script type="text/javascript" src="webgl/code/shaders/ShaderTexture.js"></script>
  
  <script type="text/javascript" src="webgl/code/shapes/ColorCube.js"></script>
  <script type="text/javascript" src="webgl/code/shapes/Particle.js"></script>
  <script type="text/javascript" src="webgl/code/shapes/ParticleEmitter.js"></script>
  <script type="text/javascript" src="webgl/code/shapes/Plane.js"></script>
  <script type="text/javascript" src="webgl/code/shapes/TextureCube.js"></script>
  
  <script type="text/javascript" src="webgl/code/utils/glMatrix-0.9.5.min.js"></script>
  <script type="text/javascript" src="webgl/code/utils/webgl-utils.js"></script>
  
  <script type="text/javascript" src="webgl/code/demos/Demo01.js"></script>
  <script type="text/javascript" src="webgl/code/demos/Demo02.js"></script>
  <script type="text/javascript" src="webgl/code/demos/Demo03.js"></script>
  <script type="text/javascript" src="webgl/code/demos/Demo05.js"></script>
  <script type="text/javascript" src="webgl/code/demos/Demo06.js"></script>

  <!-- End of WebGL code. -->
  

  <script type="text/javascript" src="assets/demos/webAudio/js/Voice.js"></script>
  <script type="text/javascript" src="assets/demos/webAudio/js/NodeChain.js"></script>
  <script type="text/javascript" src="assets/demos/webAudio/js/VoiceLoader.js"></script>

  <!-- COLOR SHIFTING DEMO -->
  <link href='assets/demos/colorShiftDemo/css/styles.css' rel='stylesheet'>
  <script type="text/javascript" src="assets/demos/colorShiftDemo/js/ColorShifting.js"></script>
  <script type="text/javascript">
    var loadSampleBtn = null;
    var loadImpulseResponseBtn = null;

    var context = null;
    var compressorNode = null;
    var sampleNodeChain = null;

    var voiceLoader = null;
    var sampleVoice = null;
    var impulseResponseVoice = null;

    function init() {
      // don't double load.
      if (init.run) return;
      init.run = true;

      onNewWebGLDemo();

      if (typeof webkitAudioContext != "function") {
        $("input[type='button']").attr("disabled", "disabled");
      } else {
        $("#webAudioNotSupportedLabel").remove();
      }
      wa_demo1_initWebAudio();
      wa_demo1_configUI();

      sampleVoice = new Voice("painoC4", "Piano", "assets/demos/webAudio/audio/Piano.ff.C4.wav"); // http://theremin.music.uiowa.edu/MISpiano.html
      impulseResponseVoice = new Voice("rythm1", "Rythym", "assets/demos/webAudio/audio/filter-rhythm1.mp3"); // http://chromium.googlecode.com/svn/trunk/samples/audio/impulse-responses/
      voiceLoader = new VoiceLoader();
    }

    function wa_demo1_initWebAudio() {
      context = new webkitAudioContext();

      Voice.CONTEXT = context;
      VoiceLoader.CONTEXT = context;
      NodeChain.CONTEXT = context;

      // Setup Routing:
      compressorNode = context.createDynamicsCompressor();
      compressorNode.connect(context.destination);

      sampleNodeChain = new NodeChain();
      sampleNodeChain.connect(compressorNode);
    }

    function wa_demo1_configUI() {
      loadSampleBtn = $("#loadSampleBtn");
      loadSampleBtn.click(function (event) {
        loadSampleBtn.unbind("click");
        loadSampleBtn.val("Loading Sample...");
        voiceLoader.loadVoice(sampleVoice, wa_demo1_onVoiceSuccess, null, wa_demo1_onVoiceFail);
      });

      loadImpulseResponseBtn = $("#loadImpulseResponseBtn");
      loadImpulseResponseBtn.click(function (event) {
        loadImpulseResponseBtn.unbind("click");
        loadImpulseResponseBtn.val("Loading Impulse Response...");
        voiceLoader.loadVoice(impulseResponseVoice, wa_demo1_onVoiceSuccess, null, wa_demo1_onVoiceFail);
      });

      $(".impulseResponse").change(function (event) {
        sampleNodeChain.convolve = $(event.target)[0].checked;
      });

      $(".delay").change(function (event) {
        sampleNodeChain.delay = $(event.target)[0].checked;
      });
    }

    function wa_demo1_onVoiceSuccess (voice) {
      //TD: I put a short delay in so the users with fast internet connections wouldn't see a quick blinking loading button.
      setTimeout(function () {

        if (voice == sampleVoice) {
          sampleNodeChain.voice = voice;

          loadSampleBtn.val("Play Sample");
          loadSampleBtn.click(function (event) {
            sampleNodeChain.noteOn(0);
          });

          $(".delay").removeAttr("disabled");
          if (impulseResponseVoice.loaded) {
            $(".impulseResponse").removeAttr("disabled");
          }
        } else {
          sampleNodeChain.impulseResponseVoice = voice;

          loadImpulseResponseBtn.val("Play Impulse Response");
          loadImpulseResponseBtn.click(function (event) {
            var sourceNode = context.createBufferSource();
            sourceNode.buffer = impulseResponseVoice.buffer;
            sourceNode.connect(compressorNode);
            sourceNode.noteOn(0);
          });

          if (sampleVoice.loaded) {
            $(".impulseResponse").removeAttr("disabled");
          }
        }

      }, 300);
    }

    function wa_demo1_onVoiceFail (voice) {
      if (voice == sampleVoice) {
        loadSampleBtn.val("Sample Load Fail");
        loadSampleBtn.attr("disabled", "disabled");
      } else {
        loadImpulseResponseBtn.val("Impulse Response Load Fail");
        loadImpulseResponseBtn.attr("disabled", "disabled");
      }
    }
  </script>
  
  <!-- WebGL -->
  
  <script type="text/javascript">      
      function onNewWebGLDemo(event) {
        var canvas = document.getElementById("webglcanvas");
        var webglDemo = parseInt(document.getElementById("webglDemoNumber").value);
        
        document.getElementById("webglDefault").hidden = true;
        document.getElementById("webglDemo1").hidden = true;
        document.getElementById("webglDemo2").hidden = true;
        document.getElementById("webglDemo3").hidden = true;
        document.getElementById("webglDemo4").hidden = true;
        document.getElementById("webglDemo5").hidden = true;
        
        if (this.webglDemo) {
           this.webglDemo.destroy();        
           
           switch (webglDemo) {
             case 1:
               document.getElementById("webglDemo1").hidden = false;
               this.webglDemo = new Demo01(canvas); 
               break;
             case 2:
               document.getElementById("webglDemo2").hidden = false;
               this.webglDemo = new Demo02(canvas); 
               break;
             case 3:
               document.getElementById("webglDemo3").hidden = false;
               this.webglDemo = new Demo03(canvas); 
               break;
             case 4:
               document.getElementById("webglDemo4").hidden = false;
               this.webglDemo = new Demo05(canvas); 
               break;
             case 5:
               document.getElementById("webglDemo5").hidden = false;
               document.getElementById("useTextureNormal").checked = false;
               this.webglDemo = new Demo06(canvas); 
               break;
             default:
               break;
           }
        
           this.webglDemo.paused = false;
           this.webglDemo.tick();
        } else { // Start with Demo01. Otherwise, indicate the browser's not compatable.
          this.webglDemo = new Demo01(canvas);
          document.getElementById("webglDemoNumber").value = 1;
          if (this.webglDemo.gl && this.webglDemo.shader.program) {
            document.getElementById("webglDemo1").hidden = false;
          } else {
        canvas.hidden = true;
        $('#webglDemoNumber').attr("disabled", "disabled");
            document.getElementById("webglDefault").hidden = false;
          }
        }
        
      }
      
      function onKeyboardDown(event) {
        if (!this.webglDemo.paused) {
          this.webglDemo.keyDown(event.keyCode);
        }
      }
      function onKeyboardUp(event) {
        if (!this.webglDemo.paused) {
          this.webglDemo.keyUp(event.keyCode);
        }
      }      
      function onToggleWireframe(event) {
        var toggle = document.getElementById("wire").checked;
        this.webglDemo.wireframe = toggle;
      }
      function onChangeCrateTexture(event) {
          var splr = document.getElementById("crateTexture").value;
          this.webglDemo.setCrateTexture(splr);
        }     
        
      function onToggleNormal(event) {
          this.webglDemo.useNormal = document.getElementById("useTextureNormal").checked;
        }      
     
    </script>




  <script src='/tutorials/doodles/lem/prettify-newer.js'></script>  <!-- //mg: Downloaded from HTML5Rocks.com, Doodle Case Study -->
  <script src='/tutorials/doodles/lem/scripts.js'></script>       <!-- //mg: Downloaded from HTML5Rocks.com, Doodle Case Study -->

  <script>
    initialize(); 
    window.addEventListener('load',init, false);
    setTimeout(function(){
      init();
    }, 7*1000); // random double run to attempt to fix init() not running..
  </script>


</script>
{% endblock %}