{% extends "tutorial.html" %}

{% block headauthor %}Eric Bidelman <ericbidelman@chromium.org>{% endblock %}
{% block pageauthor %}{% profilelinks ericbidelman %}{% endblock %}
{% block headtitle %}Novos truques em XMLHttpRequest2{% endblock %}
{% block pagetitle %}Novos truques em XMLHttpRequest2{% endblock %}
{% block head %}
<style>
figure {
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}
figure img {
  border: 1px solid #ccc;
}
.example {
  padding: 10px;
  border: 1px solid #ccc;
}
.button {
  height: 30px;
  width: 96px;
  vertical-align: middle;
}
.button::-webkit-file-upload-button,
.button::-moz-file-upload-button {
  visibility: hidden;
}
.button:before {
  content: 'Select a file';
  display: inline-block;
  background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#F9F9F9), to(#E3E3E3));
  background: -webkit-linear-gradient(#F9F9F9 40%, #E3E3E3 70%);
  background: -moz-linear-gradient(#F9F9F9 40%, #E3E3E3 70%);
  background: -ms-linear-gradient(#F9F9F9 40%, #E3E3E3 70%);
  background: -o-linear-gradient(#F9F9F9 40%, #E3E3E3 70%);
  background: linear-gradient(#F9F9F9 40%, #E3E3E3 70%);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.button:hover:before {
  border-color: black;
}
.button:active:before {
  background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#E3E3E3), to(#F9F9F9));
  background: -webkit-linear-gradient(#E3E3E3 40%, #F9F9F9 70%);
  background: -moz-linear-gradient(#E3E3E3 40%, #F9F9F9 70%);
  background: -ms-linear-gradient(#E3E3E3 40%, #F9F9F9 70%);
  background: -o-linear-gradient(#E3E3E3 40%, #F9F9F9 70%);
  background: linear-gradient(#E3E3E3 40%, #F9F9F9 70%);
}
#afile {
  width: 125px;
}
#afile:before {
  content: 'Select a BIG file';
}
</style>
{% endblock %}
{% block pagebreadcrumb %}Novos truques em XHR2{% endblock %}
{% block date %}27 de maio de 2011{% endblock %}
{% block updated %}{% endblock %}
{% block onload %}{% endblock %}

{% block browsersupport %}
<span class="browser opera"><span class="browser_name">Opera</span><span class="support">incompatível</span></span> <span class="browser ie"><span class="browser_name">Internet Explorer</span><span class="support">incompatível</span></span> <span class="browser safari supported"><span class="browser_name">Safari</span><span class="support">compatível</span></span> <span class="browser ff supported"><span class="browser_name">Firefox</span><span class="support">compatível</span></span> <span class="browser chrome supported"><span class="browser_name">Chrome</span><span class="support">compatível</span></span>
{% endblock %}

{% block iscompatible %}
  var xhr = new XMLHttpRequest(); return 'responseType' in xhr && 'response' in xhr && 'withCredentials' in xhr;
{% endblock %}

{% block html5badge %}
<img src="/static/images/identity/html5-badge-h-performance.png" width="133" height="64" alt="Este artigo tem tecnologia de desempenho e integração HTML5" title="Este artigo tem tecnologia de desempenho e integração HTML5"  />
{% endblock %}


{% block content %}
  <h2 id="toc-introduction">Introdução</h2>

  <p>Um dos heróis não reconhecidos do universo HTML5 é <code>XMLHttpRequest</code>. Estritamente falando, XHR2 não é HTML5. No entanto, ele faz parte dos aprimoramentos incrementais que os fornecedores de navegador estão fazendo na plataforma central. Estou incluindo o XHR2 em nosso pacote de novidades porque ele é parte integrante dos complexos aplicativos da web de hoje.</p>

  <p>Nosso velho amigo tem muita experiência, mas muitos colegas não conhecem os novos recursos. O <a href="http://dev.w3.org/2006/webapi/XMLHttpRequest-2/">XMLHttpRequest nível 2</a> introduz uma gama de novos recursos que colocam fim aos loucos esquemas de nossos aplicativos da web, coisas como solicitações de origem cruzada, upload de eventos de progresso e suporte para upload/download de dados binários. Isso permite que o AJAX funcione junto com muitas APIs de HTML5 de sangria como <a href="/tutorials/file/filesystem/">API de sistema de arquivos</a>, <a href="http://chromium.googlecode.com/svn/trunk/samples/audio/specification/specification.html">API de áudio da web</a> e WebGL.</p>

  <p>Esse tutorial destaca alguns dos novos recursos do <code>XMLHttpRequest</code>, especialmente os que podem ser usados para <a href="/tutorials/file/dndfiles/">trabalhar com arquivos</a>.</p>

  <h2 id="toc-bin-data">Busca de dados</h2>

  <p>Tem sido difícil buscar um arquivo como um blob binário com XHR. Tecnicamente, isso nunca foi possível. Um truque que tem sido bem documentado envolve a substituição do tipo de mime por um conjunto de caracteres definido pelo usuário, conforme mostrado abaixo.</p>

  <p id="toc-old-download">O modo antigo de buscar uma imagem:</p>

<pre class="prettyprint">
var xhr = new XMLHttpRequest();
xhr.open('GET', '/path/to/image.png', true);

// Hack to pass bytes through unprocessed.
<b>xhr.overrideMimeType('text/plain; charset=x-user-defined');</b>

xhr.onreadystatechange = function(e) {
  if (this.readyState == 4 &amp;&amp; this.status == 200) {
    var binStr = this.responseText;
    for (var i = 0, len = binStr.length; i &lt; len; ++i) {
      <b>var c = binStr.charCodeAt(i);</b>
      <b>//String.fromCharCode(c &amp; 0xff);</b>
      <b>var byte = c &amp; 0xff;  // byte at offset i</b>
    }
  }
};

xhr.send();
</pre>

  <p>Embora isso funcione, o que você realmente obtém em <code>responseText</code> não é um blob binário. É uma string binária que representa o arquivo de imagem. Estamos enganando o servidor para retornar os dados não processados. Embora essa pequena preciosidade funcione, vou chamá-la de magia negra e criticá-la. Sempre que você reclassifica os cortes do código de caracteres e manipula as strings para obrigar os dados a ficar em um formato desejável, encontra um problema.</p>

  <h3 id="toc-response">Especificação de um formato de resposta</h3>

  <p>No exemplo anterior, fizemos download da imagem como um "arquivo" binário substituindo o tipo de mime do servidor e processando o texto de resposta como uma string binária. Em vez disso, vamos aproveitar as propriedades <code>responseType</code> e <code>response</code> do novo <code>XMLHttpRequest</code> para informar ao navegador qual deve ser o formato dos dados retornados.</p>

  <dl>
    <dt>xhr.<strong>responseType</strong><dt>
    <dd>Antes de enviar uma solicitação, defina <code>xhr.responseType</code> como "text", "arraybuffer", "blob" ou "document", dependendo de suas necessidades de dados. A definição de <code>xhr.responseType = ''</code> (ou sua omissão) padroniza a resposta para "text".</dd>
    <dt>xhr.<strong>response</strong></dt>
    <dd>Depois de uma solicitação bem-sucedida, a propriedade de resposta do xhr terá os dados solicitados como <code>DOMString</code>, <code>ArrayBuffer</code>, <code>Blob</code> ou <code>Document</code> (dependendo do que foi definido para <code>responseType</code>).</dd>
  </dl>

  <p>Com esse novo conhecimento, podemos retrabalhar no exemplo anterior e, dessa vez, buscar a imagem como <code>ArrayBuffer</code> em vez de uma string. A execução do buffer na API <code>BlobBuilder</code> cria um <code>Blob</code>:</p>

  <pre class="prettyprint">
BlobBuilder = window.MozBlobBuilder || window.WebKitBlobBuilder || window.BlobBuilder;

var xhr = new XMLHttpRequest();
xhr.open('GET', '/path/to/image.png', true);
<b>xhr.responseType = 'arraybuffer';</b>

<b>xhr.onload</b> = function(e) {
  if (this.status == 200) {
    var bb = new BlobBuilder();
    bb.append(<b>this.response</b>); // Note: not xhr.responseText

    var blob = bb.getBlob('image/png');
    ...
  }
};

xhr.send();
</pre>

    <p>Muito mais legal!</p>

    <h4 id="toc-reponseTypeArrayBuffer">Respostas ArrayBuffer</h4>

    <p>Um <a href="https://developer.mozilla.org/en/JavaScript_typed_arrays/ArrayBuffer"><code>ArrayBuffer</code></a> é um recipiente genérico de comprimento fixo para dados binários. Ele é muito útil quando você precisa de um buffer generalizado de dados brutos, mas a grande vantagem dele é a possibilidade de criar "visualizações" dos dados subjacentes usando <a href="https://developer.mozilla.org/en/JavaScript_typed_arrays">matrizes tipo JavaScript</a>. Na realidade, várias visualizações podem ser criadas a partir de uma única origem <code>ArrayBuffer</code>. Por exemplo, você pode criar uma matriz de inteiros de 8 bits que compartilhe o mesmo <code>ArrayBuffer</code> como uma matriz de inteiros de 32 bits existentes a partir dos mesmos dados. Os dados subjacentes continuam iguais; apenas criamos representações diferentes deles.</p>

    <p>Por exemplo, a operação a seguir busca a mesma imagem como <code>ArrayBuffer</code>, mas, dessa vez, cria uma matriz de inteiros de 8 bits não assinada a partir desse buffer de dados:</p>

    <pre class="prettyprint">
var xhr = new XMLHttpRequest();
xhr.open('GET', '/path/to/image.png', true);
<b>xhr.responseType = 'arraybuffer';</b>

<b>xhr.onload</b> = function(e) {
  var uInt8Array = new <b>Uint8Array</b>(<b>this.response</b>); // this.response == uInt8Array.buffer
  // var byte3 = uInt8Array[4]; // byte at offset 4
  ...
};

xhr.send();
</pre>

  <h4 id="toc-reponseTypeBlob">Respostas Blob</h4>

  <p>Se desejar trabalhar diretamente com um <a href="https://developer.mozilla.org/en/DOM/Blob"><code>Blob</code></a> e/ou não precisar manipular nenhum byte do arquivo, use <code>xhr.responseType='blob'</code>:</p>

  <pre class="prettyprint">
window.URL = window.URL || window.webkitURL;  // Take care of vendor prefixes.

var xhr = new XMLHttpRequest();
xhr.open('GET', '/path/to/image.png', true);
<b>xhr.responseType = 'blob';</b>

<b>xhr.onload</b> = function(e) {
  if (this.status == 200) {
    var blob = <b>this.response</b>;

    var img = document.createElement('img');
    img.onload = function(e) {
      <b>window.URL.revokeObjectURL(img.src);</b> // Clean up after yourself.
    };
    img.src = <b>window.URL.createObjectURL(blob);</b>
    document.body.appendChild(img);
    ...
  }
};

xhr.send();
</pre>

<p>Um <code>Blob</code> pode ser usado em diversos lugares, inclusive sendo salvo em <a href="/tutorials/indexeddb/todo/">indexedDB</a>, gravado no <a href="/tutorials/file/filesystem/">sistema de arquivos</a> HTML5 ou <a href="/tutorials/workers/basics/#toc-inlineworkers-bloburis">criando um URL de blog</a>, como mostra este exemplo.</p>

  <h2 id="toc-sending">Envio de dados</h2>

  <p>A possibilidade de <a href="#toc-response">fazer download dos dados em formatos diferentes</a> é ótima, mas não nos leva a lugar nenhum se não conseguimos enviar esses formatos avançados de volta para a base inicial (o servidor). <code>XMLHttpRequest</code> nos limitou a enviar dados <code>DOMString</code> ou <code>Document</code> (XML) por algum tempo. Chega disso. Um método <code>send()</code> reformulado foi substituído para aceitar um dos seguintes tipos: <code>DOMString</code>, <code>Document</code>, <code>FormData</code>, <code>Blob</code>, <code>File</code> e <code>ArrayBuffer</code>. Os exemplos do restante desta seção demonstram como enviar dados usando cada tipo.</p>

  <h3 id="toc-send-string">Envio de dados de string: xhr.send(DOMString)</h3>

<pre class="prettyprint" style="display:inline-block;margin-right:10px;vertical-align:top">
function sendText(txt) {
  var xhr = new XMLHttpRequest();
  xhr.open('POST', '/server', true);
  xhr.onload = function(e) {
    if (this.status == 200) {
      console.log(<b>this.responseText</b>);
    }
  };

  xhr.send(txt);
}

sendText(<b>'test string'</b>);
</pre>

<pre class="prettyprint"  style="display:inline-block">
function sendTextNew(txt) {
  var xhr = new XMLHttpRequest();
  xhr.open('POST', '/server', true);
  <b>xhr.responseType = 'text';</b>
  xhr.onload = function(e) {
    if (this.status == 200) {
      console.log(<b>this.response</b>);
    }
  };
  xhr.send(txt);
}

sendText2(<b>'test string'</b>);
</pre>

  <p>Não há nenhuma novidade aqui, embora o snippet correto seja ligeiramente diferente. Ele define <code>responseType='text'</code> para comparação. Novamente, a omissão dessa linha gera os mesmos resultados.</p>

  <h3 id="toc-send-formdata">Envio de formulários: xhr.send(FormData)</h3>

  <p>Muitas pessoas provavelmente estão acostumadas a usar <a href="http://jquery.malsup.com/form/">plug-ins jQuery</a> ou outras bibliotecas para manipular envio de formulários AJAX. Em vez disso, podemos usar <a href="https://developer.mozilla.org/en/XMLHttpRequest/FormData"><code>FormData</code></a>, outro novo tipo de dados desenvolvido para XHR2. <code>FormData</code> é prático para criar um <code>&lt;form&gt;</code> HTML instantaneamente, em JavaScript. Esse formulário pode ser enviado com o uso de AJAX:</p>

<pre class="prettyprint">
function sendForm() {
  var formData = new <b>FormData</b>();
  <b>formData.append</b>('username', 'johndoe');
  <b>formData.append</b>('id', 123456);

  var xhr = new XMLHttpRequest();
  xhr.open('POST', '/server', true);
  xhr.onload = function(e) { ... };

  xhr.send(<b>formData</b>);
}
</pre>

  <p>Basicamente, estamos apenas criando um <code>&lt;form&gt;</code> de modo dinâmico e associando valores de <code>&lt;input&gt;</code> a ele chamando o método append.</p>

  <p>Obviamente, você não precisa criar um <code>&lt;form&gt;</code> do zero. Os objetos <code>FormData</code> podem ser inicializados a partir do <code>HTMLFormElement</code> existente na página. Por exemplo:</p>

  <pre class="prettyprint">
&lt;form id="myform" name="myform" action="/server">
  &lt;input type="text" name="username" value="johndoe">
  &lt;input type="number" name="id" value="123456">
  &lt;input type="submit" onclick="<b>return sendForm(this.form);</b>">
&lt;/form>
</pre>
<pre class="prettyprint">
function sendForm(form) {
  var formData = new <b>FormData</b>(form);

  <b>formData.append</b>('secret_token', '1234567890'); // Append extra data before send.

  var xhr = new XMLHttpRequest();
  xhr.open('POST', form.action, true);
  xhr.onload = function(e) { ... };

  xhr.send(<b>formData</b>);

  return false; // Prevent page from submitting.
}
</pre>

  <p>Um formulário HTML pode incluir uploads de arquivo (por exemplo, <code>&lt;input type="file"&gt;</code>) e <code>FormData</code> também pode manipular isso. Basta anexar os arquivos, e o navegador criará uma solicitação <code>multipart/form-data</code> quando <code>send()</code> for chamado:</p>

<pre class="prettyprint">
function uploadFiles(url, files) {
  var formData = new <b>FormData</b>();

  for (var i = 0, file; file = files[i]; ++i) {
    <b>formData.append(file.name, file);</b>
  }

  var xhr = new XMLHttpRequest();
  xhr.open('POST', url, true);
  xhr.onload = function(e) { ... };

  xhr.send(<b>formData</b>);  // multipart/form-data
}

document.querySelector('input[type="file"]').addEventListener('change', function(e) {
  uploadFiles('/server', this.files);
}, false);
</pre>

  <h3 id="toc-send-blob">Upload de um arquivo ou blob: xhr.send(Blob)</h3>

  <p>Também podemos enviar dados <code>File</code> ou <code>Blob</code> usando XHR. Tenha em mente que todos os <code>File</code>s são <code>Blob</code>s, ou seja, qualquer um funciona aqui.</p>

  <p>Esse exemplo cria um novo arquivo de texto dos zero usando a API <code>BlobBuilder</code> e envia esse <code>Blob</code> para o servidor. O código também configura um gerenciador para informar o usuário sobre o progresso do upload:</p>

<pre class="prettyprint">
&lt;progress min="0" max="100" value="0">0% complete&lt;/progress>
</pre>
<pre class="prettyprint">
function upload(blobOrFile) {
  var xhr = new XMLHttpRequest();
  xhr.open('POST', '/server', true);
  xhr.onload = function(e) { ... };

  // Listen to the upload progress.
  var progressBar = document.querySelector('progress');
  <b>xhr.upload.onprogress</b> = function(e) {
    if (e.lengthComputable) {
      progressBar.value = (e.loaded / e.total) * 100;
      progressBar.textContent = progressBar.value; // Fallback for unsupported browsers.
    }
  };

  xhr.send(<b>blobOrFile</b>);
}

// Take care of vendor prefixes.
BlobBuilder = window.MozBlobBuilder || window.WebKitBlobBuilder || window.BlobBuilder;

var bb = new <b>BlobBuilder</b>();
<b>bb.append</b>('hello world');

upload(<b>bb.getBlob('text/plain')</b>);
</pre>

  <h3 id="toc-send-arraybuffer">Upload de um grupo de bytes: xhr.send(ArrayBuffer)</h3>

  <p>Finalmente, mas não menos importante, podemos enviar <code>ArrayBuffer</code>s como a carga útil do XHR.</p>

<pre class="prettyprint">
function sendArrayBuffer() {
  var xhr = new XMLHttpRequest();
  xhr.open('POST', '/server', true);
  xhr.onload = function(e) { ... };

  <b>var uInt8Array = new <b>Uint8Array</b>([1, 2, 3]);</b>

  xhr.send(<b>uInt8Array.buffer</b>);
}
</pre>

  <h2 id="toc-cors">CORS (Compartilhamento de recursos de origem cruzada)</h2>

  <p>O <a href="http://dev.w3.org/2006/waf/access-control/">CORS</a> permite que aplicativos da web de um domínio façam solicitações AJAX de domínio cruzado para outro domínio. É muito fácil ativar; o servidor só precisa enviar um único cabeçalho de resposta.</p>

  <h3 id="toc-enable-cors">Ativação de solicitações CORS</h3>

  <p>Digamos que seu aplicativo resida em <code>example.com</code> e você queira receber dados de <code>www.example2.com</code>. Normalmente, se você tentasse fazer esse tipo de chamada AJAX, a solicitação falharia, e o navegador lançaria um erro de não correspondência de origem. Com o CORS, <code>www.example2.com</code> pode optar por permitir solicitações de <code>example.com</code> simplesmente adicionando um cabeçalho:</p>

  <pre class="prettyprint">
Access-Control-Allow-Origin: http://example.com
</pre>

  <p><code>Access-Control-Allow-Origin</code> pode ser adicionado a um único recurso em um site ou no domínio inteiro. Para permitir que <i>qualquer</i> domínio faça uma solicitação para você, defina:

  <pre class="prettyprint">
Access-Control-Allow-Origin: <b>*</b>
</pre>

  <p>Na realidade, este site (html5rocks.com) ativou o CORS em todas as suas páginas. Acione as ferramentas de desenvolvedor e você verá <code>Access-Control-Allow-Origin</code> em nossa resposta:</p>

  <figure>
    <img src="access_control_header.png" alt="Access-Control-Allow-Origin header on html5rocks.com" title="Cabeçalho Access-Control-Allow-Origin em html5rocks.com">
    <figcaption>Cabeçalho <code>Access-Control-Allow-Origin</code> em html5rocks.com</figcaption>
  </figure>

  <p>É fácil ativar solicitações de origem cruzada. <a href="http://enable-cors.org/">Ative o CORS</a> se seus dados forem públicos.</p>

  <h3 id="toc-request-cors">Como fazer uma solicitação de domínio cruzado</h3>

  <p>Se o ponto de extremidade do servidor tiver ativado o CORS, fazer a solicitação de origem cruzada será o mesmo que fazer uma solicitação <code>XMLHttpRequest</code> normal. Por exemplo, eis uma solicitação que <code>example.com</code> agora pode fazer para <code>www.example2.com</code>:</p>

<pre class="prettyprint">
var xhr = new XMLHttpRequest();
xhr.open('GET', 'http://www.example2.com/hello.json');
xhr.onload = function(e) {
  var data = JSON.parse(<b>this.response</b>);
  ...
}
xhr.send();
</pre>


  <h2 id="toc-examples">Exemplos práticos</h2>

  <h3 id="toc-example-savingimages">Fazer download e salvar arquivos no sistema de arquivos HTML5</h3>

  <p>Digamos que você tenha uma galeria de imagens e queira buscar um grupo de imagens a serem salvas localmente com o <a href="/tutorials/file/filesystem/">sistema de arquivos HTML5</a>. Uma maneira de fazer isso seria solicitar imagens como <code>ArrayBuffer</code>s, criar um <code>Blob</code> a partir dos dados e gravar o blob usando <code>FileWriter</code>:</p>

<pre class="prettyprint">
window.requestFileSystem  = window.requestFileSystem || window.webkitRequestFileSystem;

function onError(e) {
  console.log('Error', e);
}

var xhr = new XMLHttpRequest();
xhr.open('GET', '/path/to/image.png', true);
<b>xhr.responseType = 'arraybuffer';</b>

<b>xhr.onload</b> = function(e) {

  <b>window.requestFileSystem</b>(TEMPORARY, 1024 * 1024, function(fs) {
    fs.root.getFile('image.png', {create: true}, function(fileEntry) {
      fileEntry.createWriter(function(writer) {

        writer.onwrite = function(e) { ... };
        writer.onerror = function(e) { ... };

        <b>var bb = new BlobBuilder();</b>
        <b>bb.append</b>(<b>xhr.response</b>);

        <b>writer.write</b>(bb.getBlob('image/png'));

      }, onError);
    }, onError);
  }, onError);
};

xhr.send();
</pre>

  <p><strong>Observação:</strong> para usar esse código, consulte <a href="/tutorials/file/filesystem/#toc-support">suporte do navegador e limitações de armazenamento</a> no tutorial "<a href="/tutorials/file/filesystem/">Como explorar as APIs FileSystem</a>".</p>

  <h3 id="toc-example-slicingfiles">Divisão de um arquivo e upload de cada parte</h3>

  <p>Usando as <a href="/tutorials/file/dndfiles/">APIs de File</a>, podemos minimizar o trabalho de upload de um arquivo grande. A técnica é dividir o upload em vários blocos, designar um XHR para cada parte e colocar o arquivo junto no servidor. É semelhante ao modo como o Gmail faz upload de anexos grandes tão rapidamente. Essa técnica também poderia ser usada para resolver a limitação das solicitações http de 32 MB do mecanismo do Google Apps.</p>

<pre class="prettyprint">
window.BlobBuilder = window.MozBlobBuilder || window.WebKitBlobBuilder ||
                     window.BlobBuilder;

function upload(blobOrFile) {
  var xhr = new XMLHttpRequest();
  xhr.open('POST', '/server', true);
  xhr.onload = function(e) { ... };
  xhr.send(blobOrFile);
}

document.querySelector('input[type="file"]').addEventListener('change', function(e) {
  var blob = this.files[0];

  const BYTES_PER_CHUNK = 1024 * 1024; // 1MB chunk sizes.
  const SIZE = blob.size;

  var start = 0;
  var end = BYTES_PER_CHUNK;

  while(start &lt; SIZE) {

    // Note: blob.slice has changed semantics and been prefixed. See http://goo.gl/U9mE5.
    if ('mozSlice' in blob) {
      var chunk = blob.mozSlice(start, end);
    } else {
      var chunk = blob.webkitSlice(start, end);
    }

    upload(chunk);

    start = end;
    end = start + BYTES_PER_CHUNK;
  }
}, false);

})();
</pre>

  <p>Aqui não será mostrado o código que reconstrói o arquivo no servidor.</p>

  <p><strong>Experimente!</strong></p>
  <div class="example">
    #bytes/chunk: <input type="number" min="1048576" value="1048576" id="numChunks">
    <input type="file" id="afile" class="button">
    <div id="bars"></div>
  </div>

  <h2 id="toc-references">Referências</h2>
  <ul>
    <li>Especificação <a href="http://dev.w3.org/2006/webapi/XMLHttpRequest-2/">XMLHttpRequest nível 2</a></li>
    <li>Especificação <a href="http://dev.w3.org/2006/waf/access-control/">CORS (Compartilhamento de recursos de origem cruzada)</a></li>
    <li>Especificação de API <a href="http://www.w3.org/TR/file-upload/"></a>de arquivos</li>
    <li>Especificação da <a href="http://dev.w3.org/2009/dap/file-system/pub/FileSystem/">API de FileSystem</a></li>
  </ul>

<script>
(function() {
var progress = document.querySelector('progress');
var bars = document.querySelector('#bars');

var uploaders = [];

function upload(blobOrFile) {

  var progress = document.createElement('progress');
  progress.min = 0;
  progress.max = 1;
  progress.value = 0;
  bars.appendChild(progress);

  var xhr = new XMLHttpRequest();
  xhr.open('POST', '/echoserver', true);
  xhr.onload = function(e) {
    progress.value = 1; // Insure final value is 100%.

    uploaders.pop();

    if (!uploaders.length) {
      bars.appendChild(document.createElement('br'));
      bars.appendChild(document.createTextNode('DONEZO :)'));
    }
  };

  // Listen to the upload progress for each upload.
  xhr.upload.onprogress = function(e) {
    if (e.lengthComputable) {
      progress.value = e.loaded / e.total;
      progress.textContent = parseFloat(progress.value) * 100; // Fallback for unsupported browsers.
    }
  };

  uploaders.push(xhr);

  xhr.send(blobOrFile);
}

document.querySelector('#afile').addEventListener('change', function() {
  window.BlobBuilder = window.MozBlobBuilder || window.WebKitBlobBuilder || window.BlobBuilder;

  var blob = this.files[0];

  const BYTES_PER_CHUNK = parseInt(document.querySelector('#numChunks').value);
  const SIZE = blob.size;
  const NUM_CHUNKS = Math.max(Math.floor(SIZE / BYTES_PER_CHUNK), 1);

  // Reset from previous runs.
  bars.innerHTML = '';
  bars.innerHTML = 'Sending <b>' + NUM_CHUNKS + '</b> chunks:<br>';

  var start = 0;
  var end = BYTES_PER_CHUNK;

  while(start < SIZE) {

    // Note: blob.slice has changed semantics and been prefixed.
    // See http://groups.google.com/a/chromium.org/group/chromium-apps/browse_thread/thread/5bd921ad25449471/40a69d12b69072ec
    if ('mozSlice' in blob) {
      var chunk = blob.mozSlice(start, end);
    } else {
      var chunk = blob.webkitSlice(start, end);
    }

    upload(chunk);

    start = end;
    end = start + BYTES_PER_CHUNK;
  }
}, false);

})();
</script>

{% endblock %}