{% extends "tutorial.html" %}

{% block head %}
<style>
  iframe { width: 100%; height: 340px; border: 0; overflow: hidden; }
</style>
{% endblock %}

{% block browsersupport %}
<span class="browser opera supported"><span class="browser_name">Opera</span><span class="support">unsupported</span></span>
<span class="browser ie supported"><span class="browser_name">Internet Explorer</span><span class="support">unsupported</span></span>
<span class="browser safari supported"><span class="browser_name">Safari</span><span class="support">supported</span></span>
<span class="browser ff supported"><span class="browser_name">Firefox</span><span class="support">unsupported</span></span>
<span class="browser chrome supported"><span class="browser_name">Chrome</span><span class="support">supported</span></span>
{% endblock %}

{% block content %}
<h1>Easy High DPI Images</h1>

<p>Displays with high pixel density are quickly becoming the norm. Content
creators need to adapt to this fact. This is a short guide on how to
serve high quality images on the web today, without polyfills,
JavaScript, CSS hacks, and browser features that aren't quite implemented
yet. In a word: without drastic changes to your workflow. </p>

<p>There are many responsive image proposals today, many of which involve
significant changes for the web developer. The standards-track <code>srcset</code>
<code>&lt;img&gt;</code> attribute is difficult to implement, especially with the
complexity of <code>srcset</code>'s additional viewport-based selection:</p>

<pre class="prettyprint"><code>banner-HD.jpeg 2x, banner-phone.jpeg 100w, banner-phone-HD.jpeg 100w 2x
</code></pre>

<p>Even though the <code>image-set</code> CSS property only uses <code>devicePixelRatio</code> to
decide which image to load, it still forces developers to write a lot
of extra markup for every image.</p>

<p>Other proposals, like the <code>&lt;picture&gt;</code> element are even more verbose.
Furthermore, they are not standards-track, so their ubiquitous
availability is even further out than the srcset attribute. JavaScript
and server side solutions are the only other alternative, but these
approaches have their own drawbacks as covered in <a href="http://www.html5rocks.com/en/mobile/high-dpi/">other
articles</a>.</p>

<p>This article will go through several uses of images commonly found on
the web and propose simple solutions that work on screens with high
pixel densities as well as ordinary ones. For the purposes of this
discussion, any device that reports <code>window.devicePixelRatio</code> greater
than 1 can be considered high DPI, since that means that CSS pixels
aren't the same as device pixels, and that images are being scaled up.</p>

<p>Here a summary in <strong>tl;dr</strong> format:</p>

<ul>
<li>Use CSS/SVG rather than raster imagery if possible.</li>
<li>Use 2x images by default.</li>
<li>Use PNGs for simple drawings and pixel art (eg. logos).</li>
<li>Use compressed JPEGs for images with a variety of colors (eg. photos).</li>
<li>Always set explicit sizes on all image elements.</li>
</ul>

<!--more-->

<h2 id="toc-simple">Simple drawings and pixel art</h2>

<p>Small images can often be avoided entirely by using CSS features or SVG.
There is no need to use images for rounded corners, for example, since
the <code>border-radius</code> CSS property is widely supported. Similarly, custom
fonts are widely supported, so using "imaged" text is unadvisable.</p>

<p>However, in some cases, like logos, an image may be the only way
forward. For example, this Chrome logo has a natural size of 256x256. On
a retina display, you can see the line aliasing at diagonals and curves,
which looks chunky and bad, especially when compared to crisply rendered
text:</p>

<p><img src="/static/images/tutorials/easy-hidpi/chrome1x.png" style="width: 256px; height: 256px;"/>
<img src="/static/images/tutorials/easy-hidpi/png1x.png" style="width: 200px; height: 200px;"/></p>

<p><strong>Natural dimensions: <code>256x256px</code>, asset size: <code>31K</code>, format: <code>PNG</code></strong></p>

<p>Convinced? Good. Now let's use a retina image. You might be tempted to
save space by storing your logo as a JPEG, but this may not be a good
idea, since saving logos and other graphics, as a lossy format tends to
introduce artifacts. In this case, I've exaggerated the problem by using
a very high compression, but notice the banding on the gradients, the
speckles on white backgrounds and the messy lines:</p>

<p><img src="/static/images/tutorials/easy-hidpi/chrome2x.jpg" style="width: 256px; height: 256px;"/>
<img src="/static/images/tutorials/easy-hidpi/jpg2x.png" style="width: 200px; height: 200px;"/></p>

<p><strong>Natural dimensions: <code>512x512px</code>, asset size: <code>13K</code>, format: <code>JPEG</code></strong></p>

<p>The thing to do for relatively small images is to use 2x PNGs. Be aware
that the difference in size between a 1x and 2x PNG is generally quite
high (52K in this case). However, in the case of a logo, it is your
website's face and the first thing your visitors will see. By skimping
too much on quality in exchange for size, it will also be the last thing
your visitors will see!</p>

<p>Here is the Chrome logo in all its glory, sized down to half its natural
dimensions for 2x displays:</p>

<p><img src="/static/images/tutorials/easy-hidpi/chrome2x.png" style="width: 256px; height: 256px;"/>
<img src="/static/images/tutorials/easy-hidpi/png2x.png" style="width: 200px; height: 200px;"/></p>

<p><strong>Natural dimensions: <code>512x512px</code>, asset size: <code>83K</code>, format: <code>PNG</code></strong></p>

<p>The markup to make the above render is the following:</p>

<pre class="prettyprint"><code>&lt;img src="chrome2x.png" style="width: 256px; height: 256px;"/&gt;
</code></pre>

<p>Note that I have specified a width and height on the image. This is
necessary because the natural size of the image is 512px. It's also good
for performance because the rendering engine has a good grasp on the
size of the element and won't need to work too hard to compute it.</p>

<p>One possible optimization that might work is to reduce the 24-bit PNG to
paletted 8-bit one. This works for images with small numbers of colors,
the Chrome logo included. To do this optimization, you can use a tool
such as <a href="http://pngquant.org/">http://pngquant.org/</a>. You can see a bit of banding here, but this
file is just 13K, which is a whopping 6x size savings compared to the
original 512x512 PNG.</p>

<p><img src="/static/images/tutorials/easy-hidpi/chrome2x-8bit.png" style="width: 256px; height: 256px;"/>
<img src="/static/images/tutorials/easy-hidpi/png2x-8bit.png" style="width: 200px; height: 200px;"/></p>

<p><strong>Natural dimensions: <code>512x512px</code>, asset size: <code>13K</code>, format: <code>PNG,
8-bit palette</code></strong></p>

<h2 id="toc-color-variety">Images with a variety of colors</h2>

<p>I wrote an HTML5Rocks article <a href="http://www.html5rocks.com/en/mobile/high-dpi/">surveying a number of different responsive
image techniques</a>, and did some research around compressing
1x and 2x JPEG and comparing resulting sizes and visual quality. Here's
one such tile from the above article:</p>

<p><img src="/static/images/tutorials/easy-hidpi/tile.jpg" style="width: 100%;"/></p>

<p>I've labeled the images with their compression (indicated by JPEG
quality), their sizes (in bytes), and my subjective opinion on their
comparative visual fidelity (ranked by numbers). The interesting bit
here is that the highly compressed 2x image (labeled 3) is <strong>smaller in
size</strong> and <strong>looks better</strong> than the uncompressed 1x image (labeled 4).
In other words, between images 4 and 3, we've managed to improve the
quality of the image by doubling each dimension and significantly
increasing the compression, while at the same time, reducing the size by
2kb.</p>

<h2 id="toc-quality">Compression, dimensions and visual quality</h2>

<p>I wanted to get a bit more insight into tradeoffs between compression
level, image dimensions, visual quality and image size. I ran a study
with the following hypothesis based on the study above:</p>

<h4>Hypothesis</h4>

<p>With enough compression, a 2x image will look equivalent to the same
image in 1x size at some other (lower) compression. However, in this
case, the highly compressed 2x image will be smaller in size than the 1x
image.</p>

<h4>Process</h4>

<ul>
<li>Given a 2x image, generate the 1x one.</li>
<li>Compress both images at various levels.</li>
<li>Create a test page that shows both image sets side-by-side.</li>
<li>Find the place in the two sets where the images are equivalent.</li>
<li>Note equivalent image sizes and compression levels.</li>
<li>Try it on both a 1x and a 2x display.</li>
</ul>

<p>I built a side-by-side image comparison app similar to <a href="http://laurashoe.com/2011/10/21/lightroom-quick-tip-of-the-week-viewing-and-zooming-in-on-two-photos-side-by-side/">Lightroom's
compare view</a>. The intention is to show a 1x and a 2x
images side-by-side, but also allow you to zoom into any section of the
image to get more detail. You can also select between JPEG and WEBP
formats and change compression quality to see file size and image
quality comparisons. The idea is to tweak settings over several images,
figure out what compression quality, scaling and format vs. image
quality tradeoff you are comfortable with, and use that setting for all
of your images.</p>

<p><img src="/static/images/tutorials/easy-hidpi/screenshot.png" style="width: 100%;"/></p>

<p>The tool itself is <a href="http://borismus.github.com/image-zoom">available for you to play with</a>. You can
<strong>zoom into the image</strong> by selecting a sub-area to zoom into.</p>

<h4>Analysis</h4>

<p>I'll say up front that image quality is a subjective thing. Also, your
particular use case will likely dictate where your priorities lie in the
visual fidelity vs. filesize spectrum. Additionally, different kinds of
image features react differently to scaling and compression quality, so
a one-size-fits-all solution may not necessarily work here. The point of
the tool is to help you build up an intuition for image quality
compressions, scales and formats.</p>

<p>From playing with the image zoomer, a few things quickly became apparent
to me. Firstly, I prefer <code>quality=30 dpr=2x</code> images to <code>quality=90
dpr=1x</code> images for the increase in detail. These images are comparable
in file size as well (in the plane case, the compressed 2x image is 76K
whereas the uncompressed 1x is 80K).</p>

<p>An exception to this rule are highly compressed (<code>quality&lt;30</code>) images with
gradients. These tend to suffer from color banding, which is equally bad
regardless of image scale. The bird and car samples are examples of
this.</p>

<p>WebP images look way cleaner than JPEG, especially at low compression
levels. This color banding seems to be much less of an issue. Lastly,
WebP images are much more compact.</p>

<h2 id="toc-caveats">Caveats and fin</h2>

<p>I deliberately avoided the topic of art direction to focus on high DPI
images only. Generally speaking, this problem can be solved either with
media queries and background images, via JS, or via some new features
like <code>image-set</code>, which are covered in <a href="http://www.html5rocks.com/en/mobile/high-dpi/">High DPI Images for Variable
Pixel Densities</a>.</p>

<p>I'll sign off with a few open issues:</p>

<ul>
<li>Effects of high compression on performance. What are the penalties of
decoding highly compressed images?</li>
<li>What are the performance penalties of having to resize the image down
when a 2x image is loaded on a 1x display?</li>
</ul>

<p>To summarize, opt for CSS and SVG instead of using images. If images are
strictly required, use PNGs for small important images, and use JPEGs
for large images like photos. The great thing about this approach is
that your markup is virtually unchanged. All that is required of the web
developer is to generate 2x assets and size your images properly in the
DOM.</p>

<p>For further reading, check out <a href="http://filamentgroup.com/lab/rwd_img_compression/">Scott Jehl's article</a> on a
similar topic.  May your images look sharp and your cell data usage be
low!</p>
{% endblock %}
