{% extends "tutorial.html" %}

{% block head %}
<style>
figure img { border: 1px solid #ccc; }
</style>
{% endblock %}

{% block html5badge %}
<img src="/static/images/identity/html5-badge-h-performance.png" width="133" height="64" alt="This article is powered by HTML5 Performance &amp; Integration" title="This article is powered by HTML5 Performance &amp; Integration" />
{% endblock %}

{% block iscompatible %}
return Modernizr.draganddrop;
{% endblock %}


{% block content %}

  <h2 id="toc-introduction">Introduction</h2>
 
  <p>Drag and Drop (DnD) is one of the many great features of HTML 5, and it is supported in Firefox 3.5, Safari, Chrome and IE.
  Google recently rolled out a <a href="http://gmailblog.blogspot.com/2010/08/drag-and-drop-attachments-to-save-them.html">new feature</a>
  that allows Google Chrome users to drag and drop files from the browser to the desktop.
  It is an extremely convenient feature, but it was not widely known until Ryan Seddon posted an article on
  the <a href="http://www.thecssninja.com/javascript/gmail-dragout">discoveries</a> of his reverse engineering on this new feature.</p>

  <p>At Box.net, we are very excited about how these new capabilities are enabling us to improve
  our cloud content management solution, as well as contribute more to the developer community.
  I am pleased to announce that DnD Download has been integrated into our product.
  Now, Box users can drag files directly from a Chrome browser to their desktop to download and save the file.</p>

  <p>I would like to share how I went through several iterations during the development of this new feature.</p>

  <h2 id="toc-check-for-support">Check for Drag and Drop API Support</h2>

  <p>The first thing to do is check that your browser fully supports HTML5 drag and drop.
  An easy way to do that is use a library called <a href="http://www.modernizr.com/">Modernizr</a> 
  to check for a certain feature:</p>

  <pre class="prettyprint">
if (Modernizr.draganddrop) {
  // Browser supports native HTML5 DnD.
} else {
  // Fallback to a library solution.
}
</pre> 

  <h2 id="toc-interarion1">Iteration 1</h2>

  <p>I first tried the approach that Seddon found in Gmail. I added a new attribute
  called &#8216;data-downloadurl&#8217; to anchor links of files. This process uses HTML5&#8217;s
  <a href="http://ejohn.org/blog/html-5-data-attributes/">custom data attributes</a>.
  In data-downloadurl, you need to include the MIME type of the file, the destination file name
  (the desired file name of the downloaded file), and the download URL of the file.
  Thus, this is added to the HTML template:</p>

  <pre class="prettyprint">&lt;a href="#" class="dnd"
   data-downloadurl="{$item.mime}:{$item.filename}:{$item.url}"&gt;&lt;/a&gt;</pre>

  <p>which would create an output like the following:</p>

  <pre class="prettyprint">&lt;a href="#" class="dnd" data-downloadurl=
  "image/jpeg:Penguins.jpg:https://www.box.net/box_download_file?file_id=f66690"&gt;&lt;/a&gt;</pre>

  <p>Based on a jQuery <a href="http://dev.blog.salesking.eu/coding/jquery-plugin-to-drag-files-from-browser-onto-desktop/">plugin</a>
  that von Schorsch created, which is based on Seddon&#8217;s article,
  I added a jQuery plugin that does a bit of browser feature detection.
  Highlighted are the lines that I added to von Schorsch&#8217;s version:</p>

<pre class="prettyprint">(function($) {

$.fn.extend({
  dragout: function() {
    var files = this;
    if (files.length > 0) {
      $(files).each(function() {
        var url = (this.dataset && this.dataset.downloadurl) ||
                   this.getAttribute("data-downloadurl");
        if (this.addEventListener) {
          this.addEventListener("dragstart", function(e) {
            if (e.dataTransfer && e.dataTransfer.constructor == Clipboard &&
                e.dataTransfer.setData('DownloadURL', 'http://www.box.net')) {
              e.dataTransfer.setData("DownloadURL", url);
            }
          },false);
        }
      });
    }
  }
});

})(jQuery);
</pre>

  <p>The reason I did this is because without prior browser detection, doing addEventListener()
  to a HTML element in IE will create a JavaScript error because IE uses its own attachEvent() method.
  e.dataTransfer is undefined in IE (as of now), e.dataTransfer.constructor returns DataTransfer
  in Firefox (Mozilla), while Webkit browsers (Chrome and Safari) implements the Clipboard constructor.
  In Safari, e.dataTransfer.setData('DownloadURL','http://www.box.net') returns false, and Chrome returns
  true for this statement. Doing all of the tests mentioned above leave the feature only available to Chrome.
  You may argue that I could simply do the following:</p>

  <pre class="prettyprint">/chrome/.test( navigator.userAgent.toLowerCase() )</pre>

  <p>But I prefer feature detection to browser detection, though this technically does not detect that DnD download will work.</p>

  <h3 id="toc-problems-of-interation1">Problems of iteration 1</h3>

  <p>1) Because we currently have on-page DnD enabled for moving/copying files between folders,
  we need a way to distinguish DnD Download and on-page DnD. Technically, we cannot combine these
  two actions. We cannot predict whether the user wants to move a file to another folder within
  the Box.net account or drag it to their desktop. These two actions are completely different.
  Moreover, there is no easy way to detect if the cursor is outside the browser window.
  You could use window.onmouseout (IE) and document.onmouseout (other browsers) to attach mouseout
  event to the document, and check if e.relatedTarget.nodeName == &#8220;HTML&#8221; (e is the mouseout event
  or window.event, whichever is available). But this is quite difficult due to event bubbling.
  The event may trigger randomly when you are over an image or layer, especially in a complex web app like Box.net.</p>

  <p>2) We want the user to explicitly do something to prevent them from dragging something out
  to the desktop by mistake. Potentially, an editor of a Box folder can upload an executable file
  that does something undesirable on the computer of whoever downloads it. We want the user to know
  exactly when a file would be downloaded to the desktop.</p>

  <h2 id="toc-interarion2">Iteration 2</h2>

  <p>We decided to experiment with control + drag (dragging a file when the Windows Ctrl key is pressed).
  This action is consistent with what people can do on a Windows desktop to duplicate a file.
  It also requires extra work (but not an extra step) from the user to prevent files from downloaded by mistake.</p>

  <p>The jQuery plugin in iteration 1 is abandoned now because we need to tightly integrate DnD Download
  with the on-page DnD. For those who are interested, we use a modified version of jQuery UI&#8217;s
  <a href="http://jqueryui.com/demos/draggable/">Draggable plugin</a>.
  Inside the mousedown event of a target element, we put the following code:</p>

  <pre class="prettyprint">// DnD to desktop when the Ctrl key is pressed while dragging
if (e.ctrlKey) {
  var that = $(e.target);
  // make sure it is not IE (attachEvent).
  if (that[0].addEventListener) {
      that[0].addEventListener("dragstart",function(e) {
         // e.dataTransfer in Firefox uses the DataTransfer constructor
         // instead of Clipboard
         // make sure it's Chrome and not Safari (both webkit-based).
         // setData on DownloadURL returns true on Chrome, and false on Safari
         if (e.dataTransfer && e.dataTransfer.constructor == Clipboard &&
             e.dataTransfer.setData('DownloadURL','http://www.box.net')) {
           var url = (this.dataset && this.dataset.downloadurl) ||
                      this.getAttribute("data-downloadurl");
           e.dataTransfer.setData("DownloadURL", url);
         }
      }, false);
      return;
  }
}</pre>

  <p>Other than enabling the Ctrl key, we also added a little toaster tooltip,
  which shows up when the user performs a regular on-page drag. It tells the user
  that files can be downloaded if the file icon is dragged to the desktop
  while the Ctrl key is being held.</p>

  <h3 id="toc-problems-of-interation2">Problems of iteration 2</h3>

  <p>Due to security concerns, Box.net does not expose permanent URLs to directly access
  static files. This is not unique to Box.net. Any online storage service should not
  expose permanent URLs without an extra layer of security to check if the file is public
  and whether the intended download is requested by a user with appropriate permissions.</p>

  <p>When following the &#8220;download URL&#8221; (e.g. https://www.box.net/box_download_file?file_id=f_60466690)
  of an item, it returns a &#8220;302 Found&#8221; status code, and redirects to a random URL
  (e.g. https://www.box.net/dl/6045?a=1f1207a084&m=168299,11211&t=2&b=aca15820d924e3b) that is the temporary
  &#8220;actual URL&#8221; of the file. The challenge is that it expires every few minutes, and so placing it in
  the HTML output is impractical. It could return &#8220;404&#8221; when the user tries to download the file
  at the link in the HTML output generated several minutes ago.</p>

  <p>DnD Download only works on actual URLs that point directly to a resource.
  If redirection is involved, it is currently not smart enough to follow the chain
  (and it should never follow the chain due to security). Therefore, although the
  link <a href="https://www.box.net/box_download_file?file_id=f_60466690">https://www.box.net/box_download_file?file_id=f_60466690</a> from above would let you download the file when you enter it in the browser location bar, it would not work with DnD.</p>

  <p>To better illustrate the differences between an &#8220;actual URL&#8221; and a &#8220;redirect URL&#8221;, see the screenshots:</p>
  
  <figure class="center">
    <img src="/static/images/screenshots/casestudies/box/redirect-url.png" style="max-width: 100%" title="302 redirect URL" alt="302 redirect URL" />
    <figcaption>302 redirect URL</figcaption>
  </figure>
  
  <figure class="center">
    <img src="/static/images/screenshots/casestudies/box/actual-url.png" style="max-width: 100%" title="Actual URL" alt="Actual URL" />
    <figcaption>Actual URL</figcaption>
  </figure>

  <h2 id="toc-interarion2">Iteration 3</h2>

  <p>Let&#8217;s try Ajax.</p>

  <p>We slightly modified the code in the previous iteration and came up with the following:</p>
  <pre class="prettyprint">// DnD to desktop when the Ctrl key is pressed while dragging
if (e.ctrlKey) {
  var that = $(e.target);
  // make sure it is not IE (attachEvent).
  if (that[0].addEventListener) {
    that[0].addEventListener("dragstart", function(e) {
      // e.dataTransfer in Firefox uses the DataTransfer constructor
      // instead of Clipboard
      // make sure it's Chrome and not Safari (both webkit-based).
      // setData on DownloadURL returns true on Chrome, and false on Safari
      if (e.dataTransfer && e.dataTransfer.constructor == Clipboard &&
          e.dataTransfer.setData('DownloadURL', 'http://www.box.net')) {
        var url = (this.dataset && this.dataset.downloadurl) ||
                   this.getAttribute("data-downloadurl");
        $.ajax({
          complete: function(data) {
            e.dataTransfer.setData("DownloadURL", data.responseText);
          },
          type:'GET',
          url: url
        });
      }
    }, false);
    return;
  }
}</pre>

  <p>This makes sense. Upon dragstart, it immediately makes an Ajax call to the server to
  retrieve the latest download URL of the file. However, it does not work.</p>

  <p>It turns out that it needs to be a synchronous call (or as I like to call it, Sjax).
  Seems like setData has to be done at the time when the event listener is attached.
  According to jQuery&#8217;s API, the highlighted lines become:</p>

<pre class="prettyprint">
$.ajax({
  async: false,
  complete: function(data) {
    e.dataTransfer.setData("DownloadURL", data.responseText);
  },
  type: 'GET',
  url: url
});</pre>

  <p>And it works fine... until I unplugged the network connection. Because it does
  a synchronous call, the browser freezes until the call is successful.
  If the Ajax call fails (404, or if it does not respond at all), the browser would not
  defrost at all as if it had crashed.</p>

  <p>It is much safer to do something like the following:</p>

<pre class="prettyprint">
$.ajax({
  async: false,
  complete: function(data) {
    e.dataTransfer.setData("DownloadURL", data.responseText);
  },
  error: function(xhr) {
    if (xhr.status == 404) {
      xhr.abort();
    }
  },
  type: 'GET',
  timeout: 3000,
  url: url
});</pre>


  <p>For a demo of this feature, feel free to upload a static file to a Box.net account.
  Drag the file icon out to your desktop while holding the Ctrl key. If you do not have an account,
  it literally takes less than 30 seconds to create one.</p>

  <p>With this feature, you can be creative and make a lot of things possible.
  Dragging an image to a Windows printer dialog will immediately have the image printed.
  You can copy a song from Box to your mobile phone&#8217;s drive, drag a file from Box
  to your IM client in order to transfer it directly to your friend...
  This opens up endless possibilities to increase your productivity.</p>

  <figure class="center">
    <img src="/static/images/screenshots/casestudies/box/drag-file-to-printer.png" style="max-width: 100%" title="Dragging a file to the printer" alt="Dragging a file to the printer" />
    <figcaption>Dragging a file to the printer.</figcaption>
  </figure>

  <figure class="center">
    <img src="/static/images/screenshots/casestudies/box/drag-file-to-skype.png" style="max-width: 100%" title="Dragging a file to IM client" alt="Dragging a file to IM client" />
    <figcaption>Dragging a file to IM client.</figcaption>
  </figure>

  <h2 id="toc-future">Thoughts, and future improvements</h2>

  <p>This is still less than ideal, as a synchronous call could lock up the browser
  for a brief moment. The HTML 5 Web Worker does not help either, as a Web Worker has
  to be asynchronous. It does seem like setData has to be done at the time when
  the event listener is attached.</p>

  <p>In reality, the performance is pretty acceptable. The synchronous Ajax (Sjax)
  call merely retrieves an URL string, which should be pretty fast. It does come with big
  overhead in the HTTP header, which can possibly be addressed by WebSockets.
  However, until we see more usage of this kind of technology, it is not worth using WebSockets
  to send every little update down to the client.</p>

  <p>I also hope that the capability of multi-file download will be added to the API
  in the future. Combined with custom checkboxes to select multiple files on the user
  interface, this would be incredible. Furthermore, it would be even nicer if client-generated files,
  such as text files generated from the result of a form submitted, can be downloaded in this way.</p>
 
  <ul>
    <li>Column dnd</li> 
    <li>Rearrange list</li>
    <li>Creating an image gallery</li> 
    <li>Exporting a canvas image</li> 
  </ul> 
 
  <h2 id="toc-references">References</h2> 
  <ul> 
    <li><a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/dnd.html#dnd">Drag and Drop</a> specification</li> 
  </ul> 
{% endblock %}
