html, body {
	font-family: Helvetica, sans-serif;
}

h1 {
	margin: 2em 0 0.5em 0;
	font-size: 16px;
}

/* Do the typical thing
 * of setting the image to be
 * a proportion of its natural dimensions
 */
#pic {
	width: 300px;
	height: 90px;
}

#canvas {
	border: 1px solid #CCC;
}