{% extends "tutorial.html" %}
{% load mixin from templatefilters %}

{% block pagebreadcrumb %}{{ tut.title }}{% endblock %}

{% block head %}
<style>
button a {
  color: inherit !important;
}
.centered {
  text-align: center;
}
figure img {
  border: 1px solid #ccc;
  padding: 10px;
}
article.tutorial section {
  overflow: visible;
}
.talkinghead:before {
  background-image: url(/static/images/profiles/75/ericbidelman.75.png);
  background-position: 0px 0px !important;
}
blockquote {
  position: relative;
}
blockquote:not(.talkinghead) {
  background: rgb(238, 238, 238);
  padding: 1px 15px;
}
blockquote:not(.talkinghead):before {
  content: '“';
  top: -25px;
  left: -15px;
}
blockquote:not(.talkinghead):after {
  content: '”';
  right: -5px;
  bottom: -55px;
}
blockquote:not(.talkinghead):before,
blockquote:not(.talkinghead):after {
  font-size: 75px;
  position: absolute;
  color: rgb(204, 204, 204);
}

.disabledemos .demoarea {
  display: none !important;
}
.demoarea {
  margin-top: 20px;
}
.demoarea {
  padding: 10px;
  background: #fff;
  border: 1px dashed #000;
  display: inline-block;
  position: relative;
}
.demoarea:before {
  content: 'Live demo:';
  position: absolute;
  top: -20px;
  left: 0;
  font-weight: bold;
  text-transform: uppercase;
}
</style>
{% endblock %}

{% block iscompatible %}
  return 'import' in document.createElement('link');
{% endblock %}

{% block html5badge %}
<!-- Your HTML5 badge (tech class icons used in the article) goes here -->
{% endblock %}

{% block share_image %}
<!--<meta itemprop="image" content="images/your_social_sharing_img.png">-->
{% endblock %}

{% block content %}

