{% extends "tutorial.html" %}

{% block headauthor %}Boris Smus{% endblock %}
{% block pageauthor %}{% profilelinks smus %}{% endblock %}
{% block headtitle %}HTML5 canvas のパフォーマンスを向上させる{% endblock %}
{% block pagetitle %}HTML5 canvas のパフォーマンスを向上させる{% endblock %}
{% block pagebreadcrumb %}HTML5 canvas のパフォーマンスを向上させる{% endblock %}
{% block date %}2011 年 8 月 16 日{% endblock %}

{% block head %}
<style>
  iframe { width: 100%; height: 340px; border: 0; overflow: hidden; }
</style>
{% endblock %}

{% block browsersupport %}
<span class="browser opera supported"><span class="browser_name">Opera</span><span class="support">サポート済み</span></span> <span class="browser ie"><span class="browser_name">Internet Explorer</span><span class="support">未サポート</span></span> <span class="browser safari supported"><span class="browser_name">Safari</span><span class="support">サポート済み</span></span> <span class="browser ff supported"><span class="browser_name">Firefox</span><span class="support">サポート済み</span></span> <span class="browser chrome supported"><span class="browser_name">Chrome</span><span class="support">サポート済み</span></span>
{% endblock %}

{% block iscompatible %}
  return !!Modernizr.canvas
{% endblock %}

{% block html5badge %}
<img src="/static/images/identity/html5-badge-h-graphics.png" width="133" height="64" alt="この記事は HTML5 Graphics, 3D &amp; Effects を利用しています" title="この記事は HTML5 Graphics, 3D &amp; Effects を利用しています"  />
{% endblock %}

{% block content %}

<h2 id="toc-intro">はじめに</h2>

<p>Apple の実験から始まった HTML5 canvas は、ウェブの 2D <a href="http://en.wikipedia.org/wiki/Immediate_mode">即時モード グラフィックス</a>（リンク先は英語）に対して最も広くサポートされている標準仕様です。この標準仕様は、さまざまなマルチメディア プロジェクト、視覚化、ゲームを実装するために多くのデベロッパーにとって今や不可欠なものとなっていますが、構築するアプリケーションが複雑になるにつれ、これまで予想していなかったパフォーマンスの壁が立ちはだかるようになりました。 </p>
<p>canvas のパフォーマンスを最適化する方法については多くの知恵や工夫が生まれていますが、それらは断片的なものばかりです。この記事は、これらの断片を集めて体系化し、デベロッパー向けの読みやすい資料としてまとめることを目的としたものです。この記事では、あらゆるコンピュータ グラフィックス環境に使用できる基本的な最適化手法に加え、canvas 特有の手法を紹介します。canvas 特有の手法は、canvas の実装が改善されると変わっていく可能性があります。とりわけ、ブラウザに canvas GPU アクセラレーションが実装されるようになると、ここで紹介するパフォーマンスの最適化手法のいくつかはそれほど効果的でなくなることが考えられます。該当する部分については注記しています。</p>
<p>この記事では、HTML5 canvas の使用方法は説明しません。HTML5 canvas の使用方法について詳しくは、HTML5Rocks の <a href="http://www.html5rocks.com/ja/tutorials/#canvas">canvas 関連記事</a>、<a href="http://diveintohtml5.info/canvas.html">Dive into HTML5 の章</a>（英語）、<a href="https://developer.mozilla.org/ja/canvas_tutorial">MDN Canvas チュートリアル</a> をご覧ください。</p>
<h2 id="toc-perf">パフォーマンス テスト</h2>

<p>HTML5 canvas を取り巻く状況は刻々と変化します。そのため、<a href="http://jsperf.com/">JSPerf</a>（<a href="http://jsperf.com/">jsperf.com</a>（英語））のテストによって、ここで提案している最適化手法の 1 つ 1 つが現在有効かどうかを確認することができます。JSPerf は、デベロッパーが JavaScript パフォーマンスのテスト コードを入力できるウェブ アプリケーションです。それぞれのテストでは、達成しようとしている結果（canvas をクリアするなど）に対し、その結果を達成する複数の方法を比較できます。JSPerf ではそれぞれの方法が短時間で可能な限り何度も実行され、1 秒あたりの反復回数として統計上有意な数が返されます。このスコアが高いほどパフォーマンスが高いことになります。</p>
<p>JSPerf パフォーマンス テスト ページには、普段使っているブラウザでアクセスしてテストを実行できます。JSPerf により、標準化されたテスト結果が <a href="http://www.browserscope.org/">Browserscope</a>（<a href="http://www.browserscope.org/">browserscope.org</a>（英語））に格納されます。この記事で紹介している最適化手法は JSPerf でのテスト結果によって裏付けられているため、この記事に戻って最新情報をチェックし、手法が現在でも有効かどうかをご確認ください。記事の随所には、それぞれの結果をグラフで表示する小さな<a href="https://github.com/borismus/jsperfview">ヘルパー アプリケーション</a>（リンク先は英語）を埋め込んでいます。</p>

<p>この記事では、すべてのパフォーマンス テスト結果をブラウザのバージョン別に示しています。パフォーマンス テスト実行時にブラウザが動作していた OS の種類、さらに重要なこととして HTML5 canvas にハードウェア アクセラレーションが適用されていたかどうかについてまでは考慮していません。Chrome の HTML5 canvas にハードウェア アクセラレーションが適用されているかどうかは、アドレスバーに「<code>about:gpu</code>」と入力すると確認できます。</p>

<h2 id="toc-pre-render">画面領域外の canvas にプリレンダリングする</h2>

<p>ゲームの作成時によく行われることですが、複数フレームからなる画面に同じようなプリミティブを再描画する場合は、シーンの大きな部分をプリレンダリングすると高いパフォーマンスが得られます。プリレンダリングとは、画面領域外に別途用意した canvas に一時的な画像をレンダリングしておき、その画面領域外の canvas を可視領域にレンダリングすることをいいます。この手法は、コンピュータ グラフィックスの世界では<a href="http://en.wikipedia.org/wiki/Display_list">ディスプレイ リスト</a>（リンク先は英語）とも呼ばれています。</p>
<p>たとえば、60 fps で動作するマリオを再描画する場合は、帽子、ひげ、「M」のロゴの部分をフレームごとに再描画する方法と、アニメーション実行前にマリオをプリレンダリングする方法があります。 </p>
<p>プリレンダリングしない場合:</p>
<pre class="prettyprint"><code>// canvas, context are defined
function render() {
  drawMario(context);
  requestAnimationFrame(render);
}
</code></pre>
<p>プリレンダリングする場合:</p>
<pre class="prettyprint"><code>var m_canvas = document.createElement('canvas');
m_canvas.width = 64;
m_canvas.height = 64;
var m_context = m_canvas.getContext(‘2d’);
drawMario(m_context);

function render() {
  context.drawImage(m_canvas, 0, 0);
  requestAnimationFrame(render);
}
</code></pre>
<p><code>requestAnimationFrame</code> の使用に注目してください（後ほど詳しく説明します）。次のグラフは、プリレンダリングを使用した場合のパフォーマンス上のメリットを表したものです（<a href="http://jsperf.com/render-vs-prerender">jsperf</a>（英語））:</p>
<iframe src="embed.html?id=agt1YS1wcm9maWxlcnINCxIEVGVzdBiDqJQHDA">
</iframe>

<p>この手法は、レンダリング処理（上記の例では <code>drawMario</code>）が負荷の大きいものである場合に特に効果的です。この良い例がテキスト レンダリングです。これは負荷の大きい処理ですが、プリレンダリングを使用すると次のようなパフォーマンスの大幅な向上を期待できます（<a href="http://jsperf.com/render-vs-prerender/3">jsperf</a>（英語））:</p>
<iframe src="embed.html?id=agt1YS1wcm9maWxlcnINCxIEVGVzdBjPoK8HDA">
</iframe>

<p>ただし、上記の例で「pre-rendered loose（余白の多いプリレンダリング）」テスト ケースに低いパフォーマンス結果があることに注目してください。プリレンンダリングを行う際は、一時的な canvas のサイズを描画画像にできるだけ近いサイズにすることが重要です。そうしないと、画面領域外のレンダリングでパフォーマンスが向上しても、大きな canvas を別の canvas にコピーする分パフォーマンスが低下してしまいます（コピー元とコピー先のサイズに応じて程度は異なります）。上記のテストで余白が少ない canvas は次のような小さいサイズです:</p>
<pre class="prettyprint"><code>can2.width = 100;
can2.height = 40;
</code></pre>
<p>これに比べて、余白が多くパフォーマンスが低い canvas は次のような大きいサイズです:</p>
<pre class="prettyprint"><code>can3.width = 300;
can3.height = 100;
</code></pre>
<h2 id="toc-batch">canvas を一括して呼び出す</h2>

<p>描画は負荷の大きい処理なので、長いコマンド セットを含む描画のステート マシンを読み込んでおき、それを使ってすべてを動画バッファにダンプするようにすると効率的です。</p>

<p>たとえば、複数の線を描画する場合は、すべての線を含むパスを 1 つ作成しておき、1 回の描画呼び出しでそのパスを描画すると効率が上がります。つまり、線を個別に描画する次のような例があるとします:</p>
<pre class="prettyprint"><code>for (var i = 0; i &lt; points.length - 1; i++) {
  var p1 = points[i];
  var p2 = points[i+1];
  context.beginPath();
  context.moveTo(p1.x, p1.y);
  context.lineTo(p2.x, p2.y);
  context.stroke();
}
</code></pre>
<p>これを次のようにして、1 つのポリラインを描画する方が高いパフォーマンスを得られます:</p>
<pre class="prettyprint"><code>context.beginPath();
for (var i = 0; i &lt; points.length - 1; i++) {
  var p1 = points[i];
  var p2 = points[i+1];
  context.moveTo(p1.x, p1.y);
  context.lineTo(p2.x, p2.y);
}
context.stroke();
</code></pre>
<p>これは HTML5 canvas の場合にも当てはまります。たとえば、複雑なパスを描画するときは、セグメントを個別にレンダリングするのではなくすべてのポイントをパスにまとめる方が効率的です（<a href="http://jsperf.com/batching-line-drawing-calls/2">jsperf</a>（英語））。</p>
<iframe src="embed.html?id=agt1YS1wcm9maWxlcnINCxIEVGVzdBjf9K4HDA">
</iframe>

<p>ただし、canvas に関してはこのルールに重要な例外があり、目的のオブジェクトを描画する際のプリミティブに小さな境界ボックス（水平線と垂直線など）がある場合は、個別にレンダリングする方が実際には効率的なことがあります（<a href="http://jsperf.com/batching-line-drawing-calls">jsperf</a>（英語））:</p>
<iframe src="embed.html?id=agt1YS1wcm9maWxlcnINCxIEVGVzdBjRzK4HDA">
</iframe>

<h2 id="toc-avoid-state-change">canvas の状態を不必要に変更しない</h2>

<p>HTML5 の canvas 要素はステート マシンの最上位に実装され、塗りつぶしやストロークのスタイル、現在のパスを構成する過去のポイントなどをトラッキングします。グラフィックのパフォーマンスを最適化しようとするときにはグラフィックのレンダリングのみに注目しがちですが、ステート マシンを操作することもパフォーマンスのオーバーヘッドを招きます。</p>
<p>たとえば、複数の塗りつぶし色でシーンをレンダリングする場合は、canvas 上の配置順ではなく色ごとにレンダリングする方が負荷がかかりません。ピンストライプの柄をレンダリングする方法として、1 本のストライプをレンダリングして色を変更し、次のストライプをレンダリングする、という処理の繰り返しが挙げられるとします:</p>
<pre class="prettyprint"><code>for (var i = 0; i &lt; STRIPES; i++) {
  context.fillStyle = (i % 2 ? COLOR1 : COLOR2);
  context.fillRect(i * GAP, 0, GAP, 480);
}
</code></pre>
<p>もう 1 つの方法として、奇数のストライプを全部レンダリングしてから偶数のストライプを全部レンダリングする方法が挙げられるとします:</p>
<pre class="prettyprint"><code>context.fillStyle = COLOR1;
for (var i = 0; i &lt; STRIPES/2; i++) {
  context.fillRect((i*2) * GAP, 0, GAP, 480);
}
context.fillStyle = COLOR2;
for (var i = 0; i &lt; STRIPES/2; i++) {
  context.fillRect((i*2+1) * GAP, 0, GAP, 480);
}
</code></pre>
<p>次のパフォーマンス テストでは、上記 2 つの方法を使ってピンストライプの柄を描画しています（<a href="http://jsperf.com/changing-canvas-state/3">jsperf</a>（英語））:</p>
<iframe src="embed.html?id=agt1YS1wcm9maWxlcnINCxIEVGVzdBiG69oHDA">
</iframe>

<p>予想どおり、交互に描画する方法ではステート マシンを変更することになり、負荷が大きくなるため処理速度が遅くなります。</p>
<h2 id="toc-render-diff">新しい状態の画面全体ではなく画面の差分のみをレンダリングする</h2>

<p>当然のことながら、レンダリングする領域が少ないほど負荷は小さくなります。再描画の際、異なる部分が少しであれば、その差分のみを描画する方法でパフォーマンスは大幅に向上します。つまり、描画の前に画面全体をクリアする次のような例があるとします:</p>
<pre class="prettyprint"><code>context.fillRect(0, 0, canvas.width, canvas.height);
</code></pre>
<p>そうではなく、描画済みの境界ボックスを記憶しておき、その部分のみをクリアします。</p>
<pre class="prettyprint"><code>context.fillRect(last.x, last.y, last.width, last.height);
</code></pre>
<p>このどちらが良いかは、画面を横切る白い点の描画パフォーマンスをテストした次の結果から見てとることができます（<a href="http://jsperf.com/partial-re-rendering/2">jsperf</a>（英語））:</p>
<iframe src="embed.html?id=agt1YS1wcm9maWxlcnINCxIEVGVzdBivw8wHDA">
</iframe>

<p>コンピュータ グラフィックスに詳しい方であれば、この手法は、以前レンダリングした境界ボックスを保存してレンダリングのたびにクリアする「再描画領域」としてもご存知かと思います。</p>
<p>この手法はピクセルでレンダリングを行う状況でも使用できます。JavaScript <a href="http://jsconf.eu/2010/speaker/lessons_learnt_pushing_browser.html">Nintendo エミュレーターに関するプレゼンテーション動画</a>（英語）に説明がありますのでご覧ください。</p>
<h2 id="toc-mul-canvas">複雑なシーンには複数の canvas をレイヤーにして使用する</h2>

<p>これまでで説明したように、大きな画像の描画は負荷が大きいので極力避けたいものです。プリレンダリングのセクションでは画面領域外でのレンダリング用に別の canvas を使用することについて説明しましたが、他に canvas をレイヤーとして重ねて使用することもできます。前面の canvas で透明度を使用すると、レンダリング時に GPU でアルファを合成することができます。これは次のように、2 つの canvas を絶対位置で重ね合わせてセットアップできます。</p>
<pre class="prettyprint"><code>&lt;canvas id="bg" width="640" height="480" style="position: absolute; z-index: 0"&gt;
&lt;/canvas&gt;
&lt;canvas id="fg" width="640" height="480" style="position: absolute; z-index: 1"&gt;
&lt;/canvas&gt;
</code></pre>
<p>canvas を 1 つしか使わない方法に比べ、この方法では前面の canvas を描画またはクリアするときに背景を変更しなくて済むという利点があります。ゲームやマルチメディア アプリを前景と背景に分割できる場合は、これらを別々の canvas にレンダリングするとパフォーマンスが大幅に向上するのでおすすめです。次のグラフでは、1 つのネイティブ canvas を使用する場合と、前景を再描画またはクリアするだけの場合を比べることができます（<a href="http://jsperf.com/layered-canvases/3">jsperf</a>（英語））:</p>
<iframe src="embed.html?id=agt1YS1wcm9maWxlcnINCxIEVGVzdBjeg68HDA">
</iframe>

<p>背景を 1 度だけレンダリングするか前景より遅い速度でレンダリングしても、見た目にはわからないことが多くあります（ユーザーの注意は前景にあることがほとんどです）。たとえば、前景は毎回レンダリングし、背景は N 番目のフレームごとにレンダリングするということもできます。</p>
<p>アプリケーションがこのような構造で滑らかに動く場合、canvas を何枚組み合わせても基本的にはうまくいきます。</p>
<h2 id="toc-avoid-blur">shadowBlur の使用を控える</h2>

<p>他の多くのグラフィック環境と同様に、HTML5 canvas ではプリミティブにぼかしの効果を加えることができますが、この処理にはかなりの負荷がかかります:</p>
<pre class="prettyprint"><code>context.shadowOffsetX = 5;
context.shadowOffsetY = 5;
context.shadowBlur = 4;
context.shadowColor = 'rgba(255, 0, 0, 0.5)';
context.fillRect(20, 20, 150, 100);
</code></pre>
<p>次のパフォーマンス テストでは、同じシーンをシャドウあり/なしでレンダリングした場合、パフォーマンスに大きな違いがあることがわかります（<a href="http://jsperf.com/shadowblur-performance">jsperf</a>（英語））:</p>
<iframe src="embed.html?id=agt1YS1wcm9maWxlcnINCxIEVGVzdBiwja8HDA">
</iframe>

<h2 id="toc-clear-canvas">canvas をクリアする各種の方法を知っておく</h2>

<p>HTML5 canvas は<a href="http://en.wikipedia.org/wiki/Immediate_mode">即時モード</a>（リンク先は英語）による描画を特長としているので、シーンの再描画はフレームごとに明示的に行う必要があります。このため、canvas のクリアは HTML5 canvas のアプリやゲームで根本的に重要な処理となります。</p>
<p><a href="#avoid-canvas-state-changes">canvas の状態を不必要に変更しない</a>で説明したとおり、canvas 全体のクリアは避けることが望ましい場合も多くあります。やむをえず行う場合は、<em></em><code>context.clearRect(0, 0, width, height)</code> を呼び出すか canvas 特有の裏技 <code>canvas.width = canvas.width;</code> を使用します。</p>
<p>記事執筆時点では、幅のリセットより <code>clearRect</code> の方が概して高いパフォーマンスが得られましたが、Chrome 14 のように <code>canvas.width</code> でのリセットの方が断然速いケースもありました（<a href="http://jsperf.com/canvas-clear-speed">jsperf</a>（英語））:</p>
<iframe src="embed.html?id=agt1YS1wcm9maWxlcnINCxIEVGVzdBj_2JEGDA">
</iframe>

<p>この方法は、前提となる canvas の実装に大きく依存し、また変更が生じやすいため、慎重にご検討ください。詳しくは、<a href="http://simonsarris.com/blog/346-how-you-clear-your-canvas-matters">canvas のクリアに関する Simon Sarris 氏の記事</a>（英語）をご覧ください。</p>
<h2 id="toc-avoid-float">浮動小数点座標の使用を控える</h2>

<p>HTML5 canvas ではサブピクセルのレンダリングがサポートされていますが、この機能を無効にすることはできません。整数以外の座標で描画すると、線が滑らかになるように自動的にアンチエイリアスが使用されます。その結果、視覚効果は次のようになります（<a href="http://sebleedelisle.com/2011/02/html5-canvas-sprite-optimisation">サブピクセルを使った canvas のパフォーマンスに関する Seb Lee-Delisle 氏の記事</a>（英語）からの画像）:</p>
<p><img alt="サブピクセル" src="bunny.png"  /></p>
<p>滑らかなスプライト効果を意図しているのでなければ、<code>Math.floor</code> または <code>Math.round</code> を使って座標を整数に変換する方が高速です（<a href="http://jsperf.com/drawimage-whole-pixels">jsperf</a>（英語））:</p>
<iframe src="embed.html?id=agt1YS1wcm9maWxlcnINCxIEVGVzdBiRk-kDDA">
</iframe>

<p>浮動小数点座標を整数に変換するにはいくつかのテクニックがありますが、最もパフォーマンスが高いのは、対象の数値に 0.5 を加え、その結果をビット演算して端数を切り捨てる方法です。</p>
<pre class="prettyprint"><code>// With a bitwise or.
rounded = (0.5 + somenum) | 0;
// A double bitwise not.
rounded = ~~ (0.5 + somenum);
// Finally, a left bitwise shift.
rounded = (0.5 + somenum) &lt;&lt; 0;
</code></pre>
<p>パフォーマンスの内訳は次のようになります（<a href="http://jsperf.com/math-round-vs-hack/3">jsperf</a>（英語））:</p>
<iframe src="embed.html?id=agt1YS1wcm9maWxlcnINCxIEVGVzdBj36qAEDA">
</iframe>

<p>ただし、canvas の実装で GPU アクセラレーションが使用されるようになれば整数以外の座標も高速レンダリングが可能になるので、このような最適化は特に必要ではなくなります。</p>
<h2 id="toc-raf">requestAnimationFrame を使ってアニメーションを最適化する</h2>

<p>比較的新しい <code>requestAnimationFrame</code> API は、ブラウザにインタラクティブなアプリケーションを実装する場合におすすめの方法です。ここでは、特定の固定チック レートでレンダリングするようブラウザに命令するのではなく、レンダリング ルーチンを呼び出すようブラウザにリクエストしてブラウザが使用可能になったときに呼び出されるようにします。この場合、ページが前面になければブラウザではそのことが認識されレンダリングが行われないというメリットもあります。</p>
<p><code>requestAnimationFrame</code> のコールバックは 60 fps の間隔が目安になっていますが、確実にこの間隔で行われる保証はありません。そのため、前回のレンダリングからの経過時間を記録しておく必要があります。このコードは次のようになります:</p>
<pre class="prettyprint"><code>var x = 100;
var y = 100;
var lastRender = new Date();
function render() {
  var delta = new Date() - lastRender;
  x += delta;
  y += delta;
  context.fillRect(x, y, W, H);
  requestAnimationFrame(render);
}
render();
</code></pre>
<p><code>requestAnimationFrame</code> のこの用法は、canvas だけでなく WebGL など他のレンダリング技術にも適用できます。</p>
<p>記事執筆時において、この API は Chrome、Safari、Firefox でのみ使用可能です。<a href="http://paulirish.com/2011/requestanimationframe-for-smart-animating/">こちらの対応策</a>（リンク先は英語）を使用してください。</p>
<h2 id="toc-mobile">処理速度が遅いモバイルの canvas 実装</h2>

<p>モバイルに関してですが、残念ながら記事執筆時点では、モバイルで GPU アクセラレーションにより canvas が実装されているブラウザは iOS 5.0 ベータ版の Safari 5.1 のみでした。GPU アクセラレーションがない場合、モバイル ブラウザの CPU の処理能力では近年の canvas ベースのアプリケーションに対応できないことがほとんどです。ここまでで挙げたような多くの JSPerf テスト結果でも、モバイルのパフォーマンスはデスクトップに比べて 1 桁低く、異種端末間で正常に動作するアプリの種類は大幅に少ないといえます。</p>
<h2 id="toc-conclusion">まとめ</h2>

<p>この記事では、パフォーマンスの高い HTML5 canvas プロジェクトを開発するために役立つ最適化手法をまとめました。この包括的な資料から新しい知識を得て、成果物に最適化を取り入れていただければ幸いです。最適化するゲームやアプリケーションを現在開発していない場合は、<a href="http://www.chromeexperiments.com/">Chrome Experiments</a> と <a href="http://creativejs.com/">Creative JS</a>（リンク先はいずれも英語）をヒントとしてご活用ください。</p>
<h2 id="toc-ref">参考資料</h2>

<ul>
<li><a href="http://en.wikipedia.org/wiki/Immediate_mode">即時</a>モードと<a href="http://en.wikipedia.org/wiki/Retained_mode">保持</a>モード（いずれも英語）。</li>
<li>HTML5 Rocks の <a href="http://www.html5rocks.com/ja/tutorials/#canvas">canvas に関するその他の記事</a>。</li>
<li>Dive into HTML5 の <a href="http://diveintohtml5.info/canvas.html">canvas のセクション</a>（英語）。</li>
<li><a href="http://jsperf.com/">JSPerf</a>（英語）: JS パフォーマンス テストを作成できるデベロッパー向けページです。</li>
<li><a href="http://www.browserscope.org/">Browserscope</a>（英語）: ブラウザのパフォーマンス データを確認できます。</li>
<li><a href="https://github.com/borismus/jsperfview">JSPerfView</a>（英語）: JSPerf テスト結果をグラフで確認できます。</li>
<li>canvas のクリアに関する Simon Sarris 氏の<a href="http://simonsarris.com/blog/346-how-you-clear-your-canvas-matters">ブログ投稿</a>（英語）。</li>
<li>サブピクセル レンダリングのパフォーマンスに関する Seb Lee-Delisle 氏の <a href="http://sebleedelisle.com/2011/02/html5-canvas-sprite-optimisation">ブログ投稿</a>（英語）。</li>
<li><code>requestAnimationFrame</code> の使い方に関する Paul Irish 氏の <a href="http://paulirish.com/2011/requestanimationframe-for-smart-animating/">ブログ投稿</a>（英語）。</li>
<li>JS NES エミュレーターの最適化に関する Ben Firshman 氏の<a href="http://jsconf.eu/2010/speaker/lessons_learnt_pushing_browser.html">プレゼンテーション動画</a>（英語）。</li>
{% endblock %}