{% extends "tutorial.html" %}

{% block head %}{% endblock %}
{% block onload %}{% endblock %}

{% block iscompatible %}
  return !!Modernizr.webgl && !!window.webkitAudioContext;
{% endblock %}


{% block content %}
<section id='main-text'>

<link href='/tutorials/doodles/lem/styles.css' rel='stylesheet'>

<style type="text/css">
/* Removes unwanted "." in color demo inherited from existing stylesheet */
#main-text .illo ul > li::before {
  content: "";
}
#main-text img, #main-text canvas, div.illo.color-mixed {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
#main-text img { max-width: 100%; }
</style>



  <figure>
    <a href="http://www.technitone.com"><img src="assets/images/technitone-article-header.jpg" alt="Technitone, una experiencia de audio en la Web" /></a>
    <figcaption><a href="http://www.technitone.com">Technitone.com</a></figcaption>
  </figure>

  <p><a href="http://www.technitone.com">Technitone.com</a> es un proyecto de fusión de varias tecnologías (WebGL, Canvas, Web Sockets, CSS3, JavaScript, Flash y la nueva <a href="https://dvcs.w3.org/hg/audio/raw-file/tip/webaudio/specification.html">API de Web Audio</a>) en Chrome.</p>

  <p>En este artículo se tratarán todos los aspectos de la producción: la elaboración del plan, el servidor, los efectos visuales y sonoros y parte del flujo de trabajo utilizado para el diseño de contenido interactivo. La mayoría de las secciones contienen fragmentos de código, una demo y un enlace de descarga. Al final del artículo, aparece un enlace de descarga que incluye todo el contenido almacenado en un archivo .zip.</p>

  <img src="assets/images/avatars.png" alt="El equipo de producción de gskinner.com" />

  <h2 id="toc-thegig">El concierto</h2>

  <p>En gskinner.com, no somos ingenieros de sonido, pero podemos desarrollar un plan para cualquier reto que se nos plantee:</p>

  <ul style="padding-left:25px">
    <li>Los usuarios <a href="http://www.technitone.com/view/68k21dr24vb">representan tonos en un panel</a>, siguiendo el ejemplo de la aplicación <a href="http://lab.andre-michelle.com/"></a> <a href="http://lab.andre-michelle.com/tonematrix">ToneMatrix</a> de André Michelle.</li>
    <li>Los tonos se conectan a instrumentos de muestra, a kits de baterías e, incluso, a <a href="http://www.technitone.com/view/m923dgxnwbg">grabaciones de los propios usuarios</a>.</li>
    <li>Varios usuarios conectados tocan simultáneamente en el mismo panel</li>
    <li>&hellip;o prueban con un solo.</li>
    <li>Las sesiones de invitación permiten que los usuarios organicen un grupo musical y realicen actuaciones improvisadas.</li>
  </ul>

  <p>Ofrecemos a los usuarios la oportunidad de explorar el API de Web Audio a través de un panel de herramientas que aplica efectos y filtros de audio a sus tonos.</p>

  <img src="assets/images/technitone-feature-screenshot.png" alt="Technitone (de gskinner.com)" />

  <p>También:</p>

  <ul style="padding-left:25px">
    <li>Almacenamos los efectos y las composiciones de los usuarios como datos y los sincronizamos en diferentes clientes.</li>
    <li>Proporcionamos algunas opciones de color para que los usuarios puedan crear <a href="http://www.technitone.com/view/8vec1djzfxv">canciones con un diseño atractivo</a>.</li>
    <li>Ofrecemos una galería en la que se puede escuchar, admirar e, incluso, editar el trabajo de otros usuarios.</li>
  </ul>

  <p>Hemos mantenido la familiar metáfora del panel, la hemos trasladado a un espacio 3D, le hemos añadido algunos efectos de partículas, textura e iluminación y hemos alojado el resultado en una interfaz flexible (o de pantalla completa) basada en JavaScript y CSS.</p>

  <h2 id="toc-roadtrip">El recorrido</h2>

  <p>Los datos del panel, de los efectos y de los instrumentos se agrupan y se serializan en el cliente y, a continuación, se envían a nuestro servidor <a href="http://nodejs.org/">Node.js</a> personalizado para resolverlos para varios usuarios en <a href="http://socket.io/">Socket.io</a>. Estos datos se vuelven a enviar al cliente con las aportaciones de los diferentes músicos antes de distribuirse entre las capas de CSS, WebGL y WebAudio correspondientes encargadas de la representación de la interfaz de usuario, de las muestras y de los efectos durante una sesión de reproducción de varios usuarios.</p>

  <p>Para la comunicación en tiempo real con los conectores, se utiliza JavaScript en el cliente y en el servidor.</p>

  <img src="assets/images/serverdiagram.png" alt="Diagrama de servidor de Technitone" />

  <p>Utilizamos el término "nodo" para referirnos a los distintos aspectos del servidor: un servidor web estático y nuestro servidor de conexión (todo en uno). Finalmente, acabamos utilizando <a href="http://expressjs.com/">Express</a>, un servidor web completo totalmente integrado en el nodo. Se trata de un servidor con una máxima escalabilidad y grandes posibilidades de personalización que se encarga de los aspectos más básicos del servidor (como el servidor de Windows o Apache, por ejemplo) para que los desarrolladores puedan olvidarse de esas tareas y centrarse en la creación de sus aplicaciones. <a href="assets/demos/ServerDiagram.pdf" class="button-download pdf">Descargar un diagrama de comunicación cliente-servidor más detallado</a></p>

  <h3 id="toc-multiuserdemo">Demo de varios usuarios (sí, solo es una captura de pantalla)</h3>

  <p>Como esta demo se debe ejecutar en un servidor de nodo y este artículo no lo es, hemos incluido una captura de pantalla en la que se ve el aspecto de la demo después de instalar Node.js, configurar el servidor web y ejecutar la demo de forma local. Cada vez que un nuevo usuario acceda a la instalación de tu demo, se añadirá un nuevo panel y se podrá ver el trabajo de todos los participantes.</p>
      
      <img src="assets/images/nodeDemo.gif" alt="Captura de pantalla de demo de Node.js" />
      <p><a href="assets/demos/nodejsDemo.zip" class="button-download">Descargar la demo de varios usuarios <em>Se necesita el servidor Node.js.</em></a> Asegúrate de consultar el archivo README, que contiene información sobre la instalación de Node.js, la configuración del servidor y la ejecución local de la demo.</p>
      
      <p>La organización del nodo es sencilla. Utilizando una combinación de Socket.io y solicitudes POST personalizadas, evitamos tener que crear complejas rutinas para la sincronización. Socket.io lleva a cabo este proceso de forma transparente; <a href="http://es.wikipedia.org/wiki/JSON">JSON</a> es el formato que se utiliza para la transmisión de datos.</p>

  <p>El procedimiento es muy sencillo:</p>

  <p>Con tres líneas de JavaScript, tenemos un servidor web listo para funcionar con Express.</p>

    <pre src='code/node_snippets.js#1-8'></pre>
      
    <p>Utilizamos unas cuantas líneas más para establecer la vinculación de socket.io para la comunicación en tiempo real.</p>

    <pre src='code/node_snippets.js#14-20'></pre>
      
    <p>Una vez hecho esto, solo hay que empezar a detectar las conexiones entrantes procedentes de la página HTML.</p>
      
      <pre src='code/node_snippets.js#22-32'></pre>
      
      <h2 id="toc-soundcheck">La comprobación del sonido</h2>

  <p>Nadie se puede imaginar los grandes esfuerzos que conlleva el uso del API de Web Audio. Nuestros primeros descubrimientos confirmaron que el sistema de <a href="http://es.wikipedia.org/wiki/Procesamiento_digital_de_se%C3%B1ales">procesamiento digital de señales (Digital Signal Processing, DSP)</a> era muy complejo y que probablemente estaba por encima de nuestras posibilidades. Segundo descubrimiento: <a href="http://chromium.googlecode.com/svn/trunk/samples/audio/index.html">Chris Rogers</a> ya había hecho el trabajo duro en el API.</p>
  <p>Technitone no utiliza ningún descabellado procedimiento matemático ni audioholístico: los desarrolladores interesados pueden acceder fácilmente a esta funcionalidad. Lo único que tuvimos que hacer fue repasar alguna terminología y <a href="https://dvcs.w3.org/hg/audio/raw-file/tip/webaudio/specification.html">leer la documentación</a>. Nuestro consejo es que no te limites a echarle un vistazo rápido, sino que la leas de principio a fin. Es un material muy bueno que incluye diagramas y fotos.</p>

  <p>Si es la primera vez que has oído hablar del API de Web Audio o no sabes lo que puede hacer, consulta las <a href="http://chromium.googlecode.com/svn/trunk/samples/audio/index.html">demos</a> de Chris Rogers. Si buscas ideas, sin duda las encontrarás allí.</p>

  <h3 id="toc-webaudiodemo">Demo del API de Web Audio</h3>

  <p>
    <span id="webAudioNotSupportedLabel" style="color: red;">Tu navegador no admite el API de Web Audio. Prueba a ejecutar la demo en Chrome.<br /></span> <input id="loadSampleBtn" type="button" value="Cargar muestra"  />
    <label><input class="delay" type="checkbox" disabled="disabled" /> reproducir muestra con retraso</label>
    <input id="loadImpulseResponseBtn" type="button" value="Cargar respuesta a impulso"  />
    <label style="display:inline-block; vertical-align: text-top;"><input class="impulseResponse" type="checkbox" disabled="disabled" /> reproducir muestra con convolución <br /><span style="margin-left: 20px;">(utilizando respuesta a impulso)</span></label>
  </p>

  <p><a href="assets/demos/webAudioDemo.zip" class="button-download">Descargar demo del API de Web Audio<em>Solo funciona si se aloja en un servidor.</em></a><p>

  <p><br />A continuación se ofrece una visión general del contenido de la fuente:</p>

  <p class="note">Se carga una muestra (archivo de sonido)&hellip;</p>

  <pre src='code/wa_snippets.js#5-39'></pre>

  <p class="note">&hellip;se configura un enrutamiento modular&hellip;</p>

  <pre src='code/wa_snippets.js#46-59'></pre>

  <p class="note">&hellip;se aplica un efecto de tiempo de ejecución (convolución utilizando una respuesta a impulso)&hellip;</p>

  <pre src='code/wa_snippets.js#66-73'></pre>

  <p class="note">&hellip;se aplica otro efecto de tiempo de ejecución (retraso)&hellip;</p>

  <pre src='code/wa_snippets.js#80-104'></pre>

  <p class="note">&hellip;y, por último, se crea el efecto sonoro.</p>

  <pre src='code/wa_snippets.js#110-126'></pre>

  <p>Nuestro enfoque de la reproducción en Technitone está totalmente centrado en la planificación. En lugar de establecer un intervalo de temporización equivalente al tempo para el procesamiento de los sonidos con cada compás, configuramos un intervalo más reducido que gestiona y planifica los sonidos en una cola. De esta forma, el API puede realizar la tarea inicial de resolución de los datos de audio  y procesamiento de filtros y efectos antes de que se asigne a la CPU la tarea de creación del efecto sonoro. Cuando finalmente llega el compás, ya contiene toda la información necesaria para presentar el resultado definitivo a los altavoces.</p>

  <p>En general, hay que optimizarlo todo. Al forzar demasiado las CPU, fue necesario omitir algunos procesos (ventanas emergentes, clics, borrados...) para no salirse de la planificación; hicimos todo lo posible por resolver el lío que se organizaba al saltar de una pestaña de Chrome a otra.</p>

  <h2 id="toc-lightshow">La iluminación</h2>

  <p>La parte frontal y central componen el panel y el túnel de partículas. Esta es la capa de <a href="http://www.khronos.org/webgl/">WebGL</a> de Technitone.</p>

  <p>WebGL ofrece un rendimiento considerablemente superior al de otros sistemas utilizados para la representación de efectos visuales en la Web, al hacer que la GPU y el procesador funcionen conjuntamente. El coste de ese mayor rendimiento es un trabajo más intenso de desarrollo con una curva de aprendizaje mucho más pronunciada. No obstante, si eres un auténtico apasionado del contenido interactivo en la Web y quieres conseguir el mayor rendimiento posible, WebGL te ofrece una solución <a href="http://www.airtightinteractive.com/2011/10/stage3d-vs-webgl-performance/">comparable a Flash</a>.</p>

  <h3 id="toc-webgldemo">Demo de WebGL</h3>

  <p>

    <canvas id="webglcanvas" width="750" height="480">
      <font color="#FF0000">Tu navegador no admite el elemento canvas de HTML5. Asegúrate de tener instalada la versión más reciente del navegador y de que sea compatible con el elemento canvas de HTML5. <a href="http://support.google.com/chrome/bin/answer.py?hl=es&answer=95346">Se recomienda utilizar Google Chrome.</a></font>
    </canvas>

    <div id="webglDefault" hidden="true" style="font-style: italic; border: solid 1px; padding: 5px">
      Tu navegador no admite WebGL. Asegúrate de tener instalada la versión más reciente del navegador y de que sea compatible con WebGL. <a href="http://support.google.com/chrome/bin/answer.py?hl=en&answer=95346">Se recomienda utilizar Google Chrome.</a><br />
    </div>

  <select id="webglDemoNumber" onchange="onNewWebGLDemo(event)">
      <option value="1">Demo 1: planos y cubos</option>
      <option value="2">Demo 2: iluminación</option>
      <option value="3">Demo 3: texturas</option>
      <option value="4">Demo 4: partículas</option>
      <option value="5">Demo 5: mapeados normales</option>
    </select><br />
  <div id="webglDemo1" hidden="true">
    Los planos se dibujan uniendo cuatro vértices con dos triángulos conectados. <br />
    <label>
      <input id="wire" type="checkbox" value="false" onchange="onToggleWireframe(event)">
      Esquema
    </label>
  </div>
  <div id="webglDemo2" hidden="true">
    La luz se crea ajustando el color en los fragmentos de sombreado de acuerdo con el vértice normal. <br />
    Posición de luz local: <br />
    X: <input id="inputX" type="text" value="-5" />
    Y: <input id="inputY" type="text" value="-5" />
    Z: <input id="inputZ" type="text" value="-5" />
  </div>
  <div id="webglDemo3" hidden="true">
    Las texturas se aplican a los planos mediante sus coordenadas UV (de 0 a 1, de izquierda a derecha y de arriba abajo). <br />
    Elegir textura: <br />
    Cajas: 
    <select id="crateTexture" onchange="onChangeCrateTexture(event)">
      <option value="0">Madera</option>
      <option value="1">Metal</option>
      <option value="2">Holograma</option>
    </select>
  </div>
  <div id="webglDemo4" hidden="true">
    Las partículas se dibujan con dos triángulos y su propia referencia a una textura. Establece el valor máximo de Z en 1 para permitir la visualización. <br />
    Número de partículas: <input id="count" type="text" value="10000" />
    Frecuencia de partículas: <input id="freq" type="text" value="2" /><br />
    Velocidad de partículas: <br />
    MÍN. --- X: <input id="minX" type="text" value="-1" />
    Y: <input id="minY" type="text" value="1" />
    Z: <input id="minZ" type="text" value="0" /> <br />
    
    MÁX. --- X: <input id="maxX" type="text" value="1" />
    Y: <input id="maxY" type="text" value="1" />
    Z: <input id="maxZ" type="text" value="0" />
  </div>
  <div id="webglDemo5" hidden="true">
    En los mapeados normales se utilizan mapas normales para reflejar la luz de una forma distinta para cada píxel, creando un leve efecto 3D. <br />
  <input id="useTextureNormal" type="checkbox" checked="false" onchange="onToggleNormal(event)">Uso de mapeado normal de textura</input><br />
  </div>
  </p>

  <p>En esta demo se presentan varios conceptos, como los de sombreado, textura, animación, efectos de partículas e interactividad. Cada demo se basa en el concepto anterior siguiendo una progresión lineal.</p>
  <a href="webgl/WebGL_Demos.zip" class="button-download">Descargar demo de WebGL<em>Las demos basadas en texturas solo funcionan en un servidor.</em></a>

  <p class="note">Nota: WebGL se ajusta a un protocolo de seguridad que impide que cargue y manipule texturas directamente desde la unidad de disco duro local.</p>

  <p>El contenido de WebGL se representa en un elemento canvas (concretamente, en el elemento canvas de HTML5) y se compone de los siguientes elementos principales:</p>

   <ul style="padding-left:25px">
    <li>vértices de objetos (elemento geométrico),</li>
    <li>matrices de posición (coordenadas 3D),</li>
      <li>sombreadores (descripción de aspecto de elemento geométrico, vinculado directamente a la GPU),</li>
      <li>contexto ("accesos directos" a los elementos a los que hace referencia la GPU),</li>
      <li>búferes (canales de transmisión de datos de contexto a la GPU),</li>
      <li>código principal (lógica empresarial específica del contenido interactivo deseado),</li>
      <li>método de "dibujo" (activa los sombreadores y representa píxeles en el elemento canvas).</li>
  </ul>

  <p>A continuación se indican los pasos que integran el proceso básico que se lleva a cabo para mostrar contenido WebGL en la pantalla:</p>

  <ol style="padding-left:25px">
    <li>Se define la matriz de perspectiva (ajustando la configuración de la cámara que se introduce en el espacio 3D para definir el plano de la imagen).</li>
    <li>Se define la matriz de posición (declarando en las coordenadas 3D el origen respecto al que se deben calcular las posiciones).</li>
    <li>Se incluyen en los búferes los datos que se deben transmitir al contexto a través de los sombreadores (posición de vértice, color, texturas&hellip).</li>
    <li>Los datos de los búferes se extraen y organizan con los sombreadores y se transmiten a la GPU.</li>
    <li>Se activa el método de dibujo para indicarle al contexto que active los sombreadores, que utilice los datos y que actualice el elemento canvas.</li>
   </ol>
   
  <p>El proceso sería algo así:</p>

  <p class="note">Se define la matriz de perspectiva&hellip;</p>

  <pre src='webgl/source/Demo01.js#213-222'></pre>

  <p class="note">&hellip;se define la matriz de posiciónx&hellip;</p>

  <pre src='webgl/source/Demo01.js#224-231'></pre>

  <p class="note">&hellip;se definen algunos elementos geométricos y de diseño&hellip;</p>

  <pre src='webgl/source/Demo02.js#124-136'></pre>

  <p class="note">&hellip;se incluyen en los búferes una serie de datos, que se transmiten al contexto&hellip;</p>

  <pre src='webgl/source/Demo02.js#138-148'></pre>

  <p class="note">&hellip;y, por último, se activa el método de dibujo.</p>

  <pre src='webgl/source/Demo02.js#196-198'></pre>

  <p>Recuerda que en cada marco se debe borrar el elemento canvas para evitar un apilamiento de elementos visuales de tipo alfabético.</p>

  <h2 id="toc-thevenue">El lugar de actuación</h2>

  <p>Además del panel y del túnel de partículas, todos los demás elementos de la interfaz de usuario se crearon en HTML/CSS, y la lógica del contenido interactivo se creó en JavaScript.</p>

  <p>Desde un principio, decidimos que los usuarios debían interactuar con el panel lo más rápidamente posible y empezar a utilizarlo directamente, sin pantallas de bienvenida, instrucciones ni tutoriales. Si la interfaz está cargada, no debe haber nada que la ralentice.</p>

  <p>Para ello, debíamos pensar detenidamente cómo podíamos guiar al usuario la primera vez que interactuaba con el panel, así que incluimos algunas pistas sutiles, como el cambio de la propiedad del cursor CSS en función de la posición del ratón en el espacio WebGL. Si el cursor se encuentra sobre el panel, se convierte en un cursor de mano (porque el usuario puede interactuar con el panel representando tonos). Si se coloca en el espacio blanco que rodea el panel, se convierte en un cursor de cruz de direcciones (para indicar que el usuario puede realizar un giro o dividir el panel en capas).</p>

  <h3 id="toc-gettingready">Preparación del espectáculo</h3>
  <p><a href="http://lesscss.org/">LESS</a> (un preprocesador de CSS) y <a href="http://incident57.com/codekit/">CodeKit</a> (un programa que se ha convertido en los esteroides de los desarrolladores web) reducen verdaderamente el tiempo de conversión de los archivos de diseño en contenido HTML/CSS acabado. Esto permite organizar, crear y optimizar el contenido CSS de una forma mucho más versátil, aprovechando variables, combinaciones (funciones) e incluso elementos matemáticos.</p>

  <h3 id="toc-stageeffects">Efectos escénicos</h3>

  <p>Utilizando <a href="http://www.w3schools.com/css3/css3_transitions.asp">transiciones CSS3</a> y <a href="http://documentcloud.github.com/backbone/">backbone.js</a>, hemos creado algunos efectos realmente sencillos que animan la aplicación y proporcionan a los usuarios algunas pistas visuales del instrumento que están usando.</p>

  <img src="assets/images/color-shift-ui-01.jpg" alt="Los colores de Technitone" />

  <p>Backbone.js permite capturar eventos de cambio de color y aplicar el nuevo color a los elementos DOM adecuados. Las transiciones CSS3 aceleradas por GPU permitieron llevar a cabo los cambios de estilo de color con un impacto reducido o nulo en el rendimiento.</p>

  <p>La mayoría de las transiciones de color de los elementos de la interfaz se crearon mediante transición de colores de fondo. Sobre este color de fondo, colocamos imágenes de fondo con zonas de transparencia estratégicas de forma que el color de fondo pudiera resaltar.</p>

  <h3 id="toc-colortransdemo">Demo de transición de color:  ¿cuántos colores puedes crear?</h3>

  <p>Esta demo muestra un fantástico ejemplo de lo que se puede hacer con esta técnica. Elige colores y observa cómo los mezcla el científico loco para crear un tercer color único. </p>

  <img src="assets/images/color-shift-demo-header.png" alt="Demo de cambio de color abajo" style="display:block;" />

  <!-- Color Transition Demo HTML -->
  <div class="illo color-mixed">
      
    <div class="illo color-primary"></div>
    <div class="illo color-secondary"></div>

    <!-- Primary Color Selection -->
    <ul class="picker color-primary">
      <li class="color-1"></li>
      <li class="color-2"></li>
      <li class="color-3"></li>
      <li class="color-4"></li>
      <li class="color-5"></li>
      <li class="color-6 selected"></li>
      <li class="color-7"></li>
      <li class="color-8"></li>
    </ul>

    <!-- Secondary Color Selection -->
    <ul class="picker color-secondary">
      <li class="color-1"></li>
      <li class="color-2"></li>
      <li class="color-3 selected"></li>
      <li class="color-4"></li>
      <li class="color-5"></li>
      <li class="color-6"></li>
      <li class="color-7"></li>
      <li class="color-8"></li>
    </ul>

  </div>
  <!-- END Color Transition Demo HTML -->

  <p><a href="assets/demos/colorShiftDemo.zip" class="button-download">Descargar demo de cambio de color</a></p>

  <p>Vamos a examinar más detenidamente el funcionamiento de HTML, CSS y JavaScript y ver cómo se pueden preparar los elementos artísticos para conseguir el efecto deseado.</p>

  <h3 id="toc-htmlfound">HTML: la base</h3>

  <p>Necesitábamos tres regiones de color para la demo: dos regiones de color seleccionadas por el usuario y una tercera región de color combinado. Creamos la estructura DOM más sencilla que se pudiera imaginar para las transiciones CSS3 y unas pocas solicitudes HTTP para nuestra ilustración.</p>
  <pre>
&lt;!-- Basic HTML Setup -->
&lt;div class="illo color-mixed">   
  &lt;div class="illo color-primary">&lt;/div>
  &lt;div class="illo color-secondary">&lt;/div>
&lt;/div>
  </pre>

  <h3 id="toc-css">CSS: estructura sencilla con estilo</h3>

  <p>Utilizamos el posicionamiento absoluto para situar cada región en su ubicación correcta y ajustamos la propiedad de posición de fondo para alinear la ilustración de fondo en cada región. De esa forma, todas las regiones (cada una de ellas con la misma imagen de fondo) parecían un único elemento.</p>

  <pre src='assets/demos/colorShiftDemo/css/styles.css#52-71'></pre>

  <p>Aplicamos transiciones aceleradas por GPU que detectaban eventos de cambio de color. Aumentamos la duración y <a href="http://cubic-bezier.com/#.78,0,.53,1" title="herramienta de curvatura personalizada creada por Lea Verou">modificamos la curvatura</a> en .color-mixed para crear la impresión de que los colores tardaban algún tiempo en mezclarse.</p>

  <pre src='assets/demos/colorShiftDemo/css/styles.css#33-49'></pre>

  <p><a href="http://html5please.us/#transition">Consulta la página de HTML5please para obtener información sobre navegadores compatibles y usos recomendados para las transiciones CSS3.</a></p>

  <h3 id="toc-js">JavaScript: puesta en marcha</h3>

  <p>Asignar colores de forma dinámica es sencillo. Buscamos en el DOM cualquier elemento que tenga nuestra clase de color y establecemos el color de fondo en función de los colores seleccionados por el usuario. Aplicamos el efecto de transición a cualquier elemento del DOM añadiendo una clase.</p>
  <p>De esta forma, se crea una arquitectura ligera, flexible y escalable.</p>

  <pre src='assets/demos/colorShiftDemo/js/ColorShifting.js#58-72'></pre>

  <p>Una vez que se han seleccionado los colores primarios y secundarios, calculamos el valor de color combinado y asignamos el valor resultante al elemento DOM correspondiente.</p>

  <pre src='assets/demos/colorShiftDemo/js/ColorShifting.js#91-107'></pre>

  <h3 id="toc-arch">Ilustración para la arquitectura HTML/CSS: cómo dar personalidad a tres cuadros de color cambiante</h3>

  <p>Nuestro objetivo era crear un efecto de iluminación realista y divertido que mantuviera su integridad al incluir colores de contraste en regiones de color adyacentes.</p>

  <p>Una imagen PNG de 24 bits permite que el color de fondo de los elementos HTML se vea a través de las zonas transparentes de la imagen.</p>

  <img src="assets/images/color-alpha.png" alt="Zonas transparentes de la imagen" />
                                          
  <p>Los cuadros de color generan bordes muy marcados en los que confluyen diferentes colores. Esto interfiere con la creación de efectos de iluminación realistas y fue uno de los mayores retos que tuvimos que afrontar al diseñar la ilustración.</p>

  <img src="assets/images/color-regions.png" alt="Regiones de color" />

  <p>La solución fue diseñar la ilustración de forma que nunca se pudieran mostrar los bordes de las regiones de color a través de las zonas transparentes.</p>

  <img src="assets/images/color-region-edges.png" alt="Bordes de regiones de color" />

  <p>La planificación de la compilación fue un paso crucial. Una rápida sesión de planificación en la que participaron el diseñador, el desarrollador y el ilustrador ayudó al equipo a determinar cómo se debía componer todo para que funcionara correctamente.</p>

  <p>En el archivo de Photoshop, puedes ver un ejemplo de la información sobre la construcción CSS que puede transmitir la nomenclatura de las capas.</p>

  <img src="assets/images/color-layer-setup.png" alt="Bordes de regiones de color" />

  <p><a href="assets/demos/colorShiftDemo.zip" class="button-download">Descargar demo de cambio de color</a></p>

  <h2 id="toc-encore">Bonus</h2>

  <p>Para los usuarios que no utilizan Chrome, intentamos trasladar la esencia de la aplicación a una única imagen estática. El nodo del panel se convierte en el elemento principal, los mosaicos de fondo hacen referencia al objetivo de la aplicación y la perspectiva presente en el reflejo sugiere el envolvente entorno 3D del panel.</p>

  <a href="http://www.technitone.com"> <img src="assets/images/only-in-chrome.png" alt="Bordes de regiones de color" /> </a>

  <p>Si quieres obtener más información sobre Technitone, no te pierdas las novedades de nuestro <a href="http://www.gskinner.com/blog">blog</a>.</p>

  <p><a href="assets/demos/AllDemos.zip" class="button-download">Descargar todas las demos como un único archivo</a></p>

  <h2 id="toc-theband">El grupo</h2>

  <p>Te agradecemos que hayas leído este artículo y esperamos ver pronto una de tus <a href="http://www.technitone.com">actuaciones</a>.</a></p>





  <!-- WebGL code -->

  <script type="text/javascript" src="webgl/code/shaders/ShaderColor.js"></script>
  <script type="text/javascript" src="webgl/code/shaders/ShaderDetailed.js"></script>
  <script type="text/javascript" src="webgl/code/shaders/ShaderParticle.js"></script>
  <script type="text/javascript" src="webgl/code/shaders/ShaderSolo.js"></script>
  <script type="text/javascript" src="webgl/code/shaders/ShaderTexture.js"></script>
  
  <script type="text/javascript" src="webgl/code/shapes/ColorCube.js"></script>
  <script type="text/javascript" src="webgl/code/shapes/Particle.js"></script>
  <script type="text/javascript" src="webgl/code/shapes/ParticleEmitter.js"></script>
  <script type="text/javascript" src="webgl/code/shapes/Plane.js"></script>
  <script type="text/javascript" src="webgl/code/shapes/TextureCube.js"></script>
  
  <script type="text/javascript" src="webgl/code/utils/glMatrix-0.9.5.min.js"></script>
  <script type="text/javascript" src="webgl/code/utils/webgl-utils.js"></script>
  
  <script type="text/javascript" src="webgl/code/demos/Demo01.js"></script>
  <script type="text/javascript" src="webgl/code/demos/Demo02.js"></script>
  <script type="text/javascript" src="webgl/code/demos/Demo03.js"></script>
  <script type="text/javascript" src="webgl/code/demos/Demo05.js"></script>
  <script type="text/javascript" src="webgl/code/demos/Demo06.js"></script>

  <!-- End of WebGL code. -->
  

  <script type="text/javascript" src="assets/demos/webAudio/js/Voice.js"></script>
  <script type="text/javascript" src="assets/demos/webAudio/js/NodeChain.js"></script>
  <script type="text/javascript" src="assets/demos/webAudio/js/VoiceLoader.js"></script>

  <!-- COLOR SHIFTING DEMO -->
  <link href='assets/demos/colorShiftDemo/css/styles.css' rel='stylesheet'>
  <script type="text/javascript" src="assets/demos/colorShiftDemo/js/ColorShifting.js"></script>
  <script type="text/javascript">
    var loadSampleBtn = null;
    var loadImpulseResponseBtn = null;

    var context = null;
    var compressorNode = null;
    var sampleNodeChain = null;

    var voiceLoader = null;
    var sampleVoice = null;
    var impulseResponseVoice = null;

    function init() {
      // don't double load.
      if (init.run) return;
      init.run = true;

      onNewWebGLDemo();

      if (typeof webkitAudioContext != "function") {
        $("input[type='button']").attr("disabled", "disabled");
      } else {
        $("#webAudioNotSupportedLabel").remove();
      }
      wa_demo1_initWebAudio();
      wa_demo1_configUI();

      sampleVoice = new Voice("painoC4", "Piano", "assets/demos/webAudio/audio/Piano.ff.C4.wav"); // http://theremin.music.uiowa.edu/MISpiano.html
      impulseResponseVoice = new Voice("rythm1", "Rythym", "assets/demos/webAudio/audio/filter-rhythm1.mp3"); // http://chromium.googlecode.com/svn/trunk/samples/audio/impulse-responses/
      voiceLoader = new VoiceLoader();
    }

    function wa_demo1_initWebAudio() {
      context = new webkitAudioContext();

      Voice.CONTEXT = context;
      VoiceLoader.CONTEXT = context;
      NodeChain.CONTEXT = context;

      // Setup Routing:
      compressorNode = context.createDynamicsCompressor();
      compressorNode.connect(context.destination);

      sampleNodeChain = new NodeChain();
      sampleNodeChain.connect(compressorNode);
    }

    function wa_demo1_configUI() {
      loadSampleBtn = $("#loadSampleBtn");
      loadSampleBtn.click(function (event) {
        loadSampleBtn.unbind("click");
        loadSampleBtn.val("Loading Sample...");
        voiceLoader.loadVoice(sampleVoice, wa_demo1_onVoiceSuccess, null, wa_demo1_onVoiceFail);
      });

      loadImpulseResponseBtn = $("#loadImpulseResponseBtn");
      loadImpulseResponseBtn.click(function (event) {
        loadImpulseResponseBtn.unbind("click");
        loadImpulseResponseBtn.val("Loading Impulse Response...");
        voiceLoader.loadVoice(impulseResponseVoice, wa_demo1_onVoiceSuccess, null, wa_demo1_onVoiceFail);
      });

      $(".impulseResponse").change(function (event) {
        sampleNodeChain.convolve = $(event.target)[0].checked;
      });

      $(".delay").change(function (event) {
        sampleNodeChain.delay = $(event.target)[0].checked;
      });
    }

    function wa_demo1_onVoiceSuccess (voice) {
      //TD: I put a short delay in so the users with fast internet connections wouldn't see a quick blinking loading button.
      setTimeout(function () {

        if (voice == sampleVoice) {
          sampleNodeChain.voice = voice;

          loadSampleBtn.val("Play Sample");
          loadSampleBtn.click(function (event) {
            sampleNodeChain.noteOn(0);
          });

          $(".delay").removeAttr("disabled");
          if (impulseResponseVoice.loaded) {
            $(".impulseResponse").removeAttr("disabled");
          }
        } else {
          sampleNodeChain.impulseResponseVoice = voice;

          loadImpulseResponseBtn.val("Play Impulse Response");
          loadImpulseResponseBtn.click(function (event) {
            var sourceNode = context.createBufferSource();
            sourceNode.buffer = impulseResponseVoice.buffer;
            sourceNode.connect(compressorNode);
            sourceNode.noteOn(0);
          });

          if (sampleVoice.loaded) {
            $(".impulseResponse").removeAttr("disabled");
          }
        }

      }, 300);
    }

    function wa_demo1_onVoiceFail (voice) {
      if (voice == sampleVoice) {
        loadSampleBtn.val("Sample Load Fail");
        loadSampleBtn.attr("disabled", "disabled");
      } else {
        loadImpulseResponseBtn.val("Impulse Response Load Fail");
        loadImpulseResponseBtn.attr("disabled", "disabled");
      }
    }
  </script>
  
  <!-- WebGL -->
  
  <script type="text/javascript">      
      function onNewWebGLDemo(event) {
        var canvas = document.getElementById("webglcanvas");
        var webglDemo = parseInt(document.getElementById("webglDemoNumber").value);
        
        document.getElementById("webglDefault").hidden = true;
        document.getElementById("webglDemo1").hidden = true;
        document.getElementById("webglDemo2").hidden = true;
        document.getElementById("webglDemo3").hidden = true;
        document.getElementById("webglDemo4").hidden = true;
        document.getElementById("webglDemo5").hidden = true;
        
        if (this.webglDemo) {
           this.webglDemo.destroy();        
           
           switch (webglDemo) {
             case 1:
               document.getElementById("webglDemo1").hidden = false;
               this.webglDemo = new Demo01(canvas); 
               break;
             case 2:
               document.getElementById("webglDemo2").hidden = false;
               this.webglDemo = new Demo02(canvas); 
               break;
             case 3:
               document.getElementById("webglDemo3").hidden = false;
               this.webglDemo = new Demo03(canvas); 
               break;
             case 4:
               document.getElementById("webglDemo4").hidden = false;
               this.webglDemo = new Demo05(canvas); 
               break;
             case 5:
               document.getElementById("webglDemo5").hidden = false;
               document.getElementById("useTextureNormal").checked = false;
               this.webglDemo = new Demo06(canvas); 
               break;
             default:
               break;
           }
        
           this.webglDemo.paused = false;
           this.webglDemo.tick();
        } else { // Start with Demo01. Otherwise, indicate the browser's not compatable.
          this.webglDemo = new Demo01(canvas);
          document.getElementById("webglDemoNumber").value = 1;
          if (this.webglDemo.gl && this.webglDemo.shader.program) {
            document.getElementById("webglDemo1").hidden = false;
          } else {
        canvas.hidden = true;
        $('#webglDemoNumber').attr("disabled", "disabled");
            document.getElementById("webglDefault").hidden = false;
          }
        }
        
      }
      
      function onKeyboardDown(event) {
        if (!this.webglDemo.paused) {
          this.webglDemo.keyDown(event.keyCode);
        }
      }
      function onKeyboardUp(event) {
        if (!this.webglDemo.paused) {
          this.webglDemo.keyUp(event.keyCode);
        }
      }      
      function onToggleWireframe(event) {
        var toggle = document.getElementById("wire").checked;
        this.webglDemo.wireframe = toggle;
      }
      function onChangeCrateTexture(event) {
          var splr = document.getElementById("crateTexture").value;
          this.webglDemo.setCrateTexture(splr);
        }     
        
      function onToggleNormal(event) {
          this.webglDemo.useNormal = document.getElementById("useTextureNormal").checked;
        }      
     
    </script>




  <script src='/tutorials/doodles/lem/prettify-newer.js'></script>  <!-- //mg: Downloaded from HTML5Rocks.com, Doodle Case Study -->
  <script src='/tutorials/doodles/lem/scripts.js'></script>       <!-- //mg: Downloaded from HTML5Rocks.com, Doodle Case Study -->

  <script>
    initialize(); 
    window.addEventListener('load',init, false);
    setTimeout(function(){
      init();
    }, 7*1000); // random double run to attempt to fix init() not running..
  </script>


</script>
{% endblock %}