{% extends "tutorial.html" %}
{% load mixin from templatefilters %}

{% block pagebreadcrumb %}{{ tut.title }}{% endblock %}

{% block head %}
<style>
/*blockquote {
  background: rgb(238, 238, 238);
  padding: 1px 10px;
}*/
label.bad, label.good, label.sortof {
  padding: 4px;
  line-height: 1.7;
  border-radius: 50%;
  color: white;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
  box-shadow: -2px 2px 3px 3px rgba(0, 0, 0, 0.25) inset;
  width: 20px;
  height: 20px;
  font-size: 16px;
}
label.good::after,
label.bad::after,
label.sortof::after {
  position: relative;
  left: 2px;
  top: -5px;
}
label.bad {
  background-color: red;
}
label.bad::after {
  content: ':(';
}
label.good {
  background-color: green;
}
label.good::after {
  content: ':)';
}
label.sortof {
  background-color: rgb(230, 190, 32);
  line-height: 1.8;
}
label.sortof::after {
  content: ':|';
}
.talkinghead:before {
  background-image: url(/static/images/profiles/75/ericbidelman.75.png);
  background-position: 0px 0px !important;
}
.disabledemos .demoarea {
  display: none !important;
}
.demoarea {
  margin-top: 1em;
}
.demoarea:before {
  content: 'Live demo:';
  position: absolute;
  top: -30px;
  left: 0;
  font-weight: bold;
  text-transform: uppercase;
}
.demoarea {
  padding: 10px;
  background: #fff;
  border: 1px dashed #000;
  display: inline-block;
  position: relative;
}
</style>

<script>
HTMLElement.prototype.createShadowRoot = HTMLElement.prototype.createShadowRoot || HTMLElement.prototype.webkitCreateShadowRoot;
</script>

{% endblock %}

{% block iscompatible %}
  return 'HTMLTemplateElement' in window;
{% endblock %}

{% block html5badge %}
<!-- Your HTML5 badge (tech class icons used in the article) goes here -->
{% endblock %}

{% block share_image %}
<!--<meta itemprop="image" content="images/your_social_sharing_img.png">-->
{% endblock %}

{% block translator %}
<div class="translator">
  <strong>Translator:</strong> <a href="http://cwdoh.github.io">도창욱 (Chang W. Doh)</a>
</div>
{% endblock %}

{% block content %}
