{% extends "base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block headtitle %}{% trans "Author Profiles" %}{% endblock %}
{% block head %}
<!--
<link type="text/css" rel="stylesheet" href="/static/css/profiles{% if prod %}.min{% endif %}.css"/>
-->
<!--<script defer src="/static/js/jquery.scrollTo-min.js"></script>-->
<script src="/static/js/profiles{% if prod %}.min{% endif %}.js"></script>
{% endblock %}
{% block onload %}scrollToProfile();{% endblock %}
{% block body %}
<div data-import-html>
  <header class="clearfix pattern-bg-lighter">
    <hgroup>
      <h1>{% trans "HTML5 Rocks" %}</h1>
      <h2>{% trans "Authors" %}</a></h2>
    </hgroup>

    <section>
      <p class="intro">
        {% blocktrans %}Our honorable contributors.{% endblocktrans %}
      </p>
      <p>
        {% blocktrans %}
          You can <a href="http://twitter.com/ChromiumDev" target="_blank">follow us on Twitter</a>,
          read the <a href="/{{LANGUAGE_CODE}}/tos">Terms of Service</a> or <a href="/{{LANGUAGE_CODE}}/privacy">Privacy Policy</a>,
          or <a href="http://code.google.com/p/html5rocks/issues/entry" target="_blank">report a bug or request a feature</a>.
          <small>This site contains information on APIs that are not part of the W3C HTML5 specification.</small>
        {% endblocktrans %}
      </p>
      <p>
        {% blocktrans %}
          <strong>HTML5 Rocks</strong> is a <strong><img src="/static/images/google_logo_small.png" alt="Google logo" title="Google"></strong> project.
        {% endblocktrans %}
      </p>

      <div id="google_plus_page_link">
        <a href="https://plus.google.com/102860501900098846931?prsrc=3" target="_blank">
          {% trans "<strong>Follow us</strong> on <span>Google+</span>" %}
        </a>
      </div>

    </section>

    {% if not is_mobile %}
    <span class="share">
      <ul>
        <li class="googleplus"><div class="g-plusone" data-size="medium" data-count="true" data-href="{{disqus_url}}"></div></li>
        <li class="facebook" data-url="{{disqus_url}}"></li>
        <li class="twitter"><a href="http://twitter.com/share" class="twitter-share-button" data-url="{{disqus_url}}" data-lang="{{LANGUAGE_CODE}}" data-related="ChromiumDev:News and announcements for developers from the Google Chrome team and makers of HTML5 Rocks.">{% trans "Tweet" %}</a></li>
      </ul>
    </span>
    {% endif %}
  </header>

  <article class="sectioned">
    <!-- see http://microformats.org/wiki/microdata -->
    <!-- http://www.whatwg.org/specs/web-apps/current-work/multipage/links.html#vcard -->

    <div id="profiles">
      {% for profile in sorted_profiles %}

      <article class="profile one_third" id="{{profile.id}}" itemscope itemtype="http://microformats.org/profile/hcard">
        <section class="pattern-bg-lighter">
          <img itemprop="photo" alt="{{profile.given_name}} {{profile.family_name}}" title="{{profile.given_name}} {{profile.family_name}}" src="/static/images/profiles/75/{{profile.id}}.75.png">
          <hgroup>
            <h2>
              <div itemprop="fn">
                <div itemprop="n" itemscope>
                  <span itemprop="given-name">{{profile.given_name}}</span>
                  <span itemprop="family-name">{{profile.family_name}}</span>
                </div>
              </div>
            </h2>
            <h3 itemprop="org" itemscope>
              {% if profile.unit %}<div itemprop="organization-unit">{{profile.unit}}</div>{% endif %}
              {% if profile.org %}<div itemprop="organization-name">{{profile.org}}</div>{% endif %}
            </h3>
            <h3 itemprop="adr" itemscope>
              {% if profile.city %}<span itemprop="city">{{profile.city}},</span>{% endif %}
              {% if profile.state %}<span itemprop="state">{{profile.state}},</span>{% endif %}
              {% if profile.country %}<span itemprop="country-name">{{profile.country}}</span>{% endif %}
            </h3>
          </hgroup>
          <ul class="urls">
            {% if profile.homepage %}
            <li><a data-type="homepage" itemprop="url" href="{{profile.homepage}}" target="_blank">&nbsp;</a></li>
            {% endif %}
            {% if profile.google_account and profile.google_account != 'None' %}
            <li><a data-type="google" itemprop="url" href="http://www.google.com/profiles/{{profile.google_account}}" target="_blank">&nbsp;</a></li>
            {% endif %}
            {% if profile.twitter_account %}
            <li><a data-type="twitter" itemprop="url" href="http://twitter.com/{{profile.twitter_account}}" target="_blank">&nbsp;</a></li>
            {% endif %}
            {% if profile.lanyrd %}
            <li><a data-type="lanyrd" itemprop="url" href="http://www.lanyrd.com/people/{{profile.twitter_account}}" target="_blank">&nbsp;</a></li>
            {% endif %}
          </ul>
          {% if not is_mobile %}
            <div class="list-articles">{% trans "Contributions" %} <span>&rarr;</span></div>

            {% if profile.geo_location %}
            <div itemprop="geo" class="map active">
              <img src="http://maps.google.com/maps/api/staticmap?center={{profile.geo_location}}&markers=color:red|label:|{{profile.geo_location}}&zoom=14&size=278x125&sensor=false" alt="" />
            </div>
            {% endif %}

            <ul class="articles">
              {% for tut in profile.tuts_by_author %}
                <li><a href="{{ tut.url }}">{{ tut.title }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </section>
      </article>

      {% endfor %}

    </div>
  </article>
</div>
{% endblock %}

