{% extends "base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block headtitle %}{% trans "Resources" %}{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
<div data-import-html>
  <header class="clearfix pattern-bg-lighter">
    <hgroup>
      <h1>{% trans "HTML5 Rocks" %}</h1>
      <h2>{% trans "Resources" %}</h2>
    </hgroup>

    <section>
      <p class="intro">
        {% blocktrans %}All HTML5, all the time.{% endblocktrans %}
      </p>
      <p>
        {% blocktrans %}
          You can <a href="http://twitter.com/ChromiumDev">follow us on Twitter</a>,
          read the <a href="/{{LANGUAGE_CODE}}/tos">Terms of Service</a> or <a href="/{{LANGUAGE_CODE}}/privacy">Privacy Policy</a>,
          or <a href="http://code.google.com/p/html5rocks/issues/entry">report a bug or request a feature</a>.
          <small>This site contains information on APIs that are not part of the W3C HTML5 specification.</small>
        {% endblocktrans %}
      </p>
      <p>
        {% blocktrans %}
          <strong>HTML5 Rocks</strong> is a <strong><img src="/static/images/google_logo_small.png" alt="Google"></strong> project.
        {% endblocktrans %}
      </p>
    </section>

    {% if not is_mobile %}
    <span class="share">
      <ul>
        <li class="googleplus"><div class="g-plusone" data-size="medium" data-count="true" data-href="{{disqus_url}}"></div></li>
        <li class="facebook" data-url="{{disqus_url}}"></li>
        <li class="twitter"><a href="http://twitter.com/share" class="twitter-share-button" data-url="{{disqus_url}}" data-lang="{{LANGUAGE_CODE}}" data-related="ChromiumDev:News and announcements for developers from the Google Chrome team and makers of HTML5 Rocks.">{% trans "Tweet" %}</a></li>
      </ul>
    </span>
    {% endif %}
  </header>

  <article class="sectioned">

    <section class="one_third">
      <h2>{% trans "Contribute" %}</h2>
      <p>
        {% blocktrans %}
          This site and all of its tutorials and presentation slides are <a href="http://code.google.com/p/html5rocks/" rel="external">open source projects</a>. Tweak the code or <a href="http://code.google.com/p/html5rocks/wiki/ContributorsGuide" rel="external">contribute</a> new guides!
        {% endblocktrans %}
      </p>
    </section>

    <section class="two_thirds">
    <h2>{% trans "Chrome Frame" %}</h2>
      <p>
        {% blocktrans %}
          Ready to develop in HTML5 but worried about supporting older versions of Internet Explorer? Learn how <a href="http://code.google.com/chrome/chromeframe/">Google Chrome Frame</a> can help. It's easy to include on your site:
        {% endblocktrans %}
        <strong>&lt;meta http-equiv="X-UA-Compatible" content="chrome=1"&gt;</strong>
      </p>
    </section>

    <section>
      <h2>{% trans "Reference" %}</h2>
      <ul class="figures">
        <li>
          <a href="http://html5readiness.com">
            <img data-resource="http://html5readiness.com" src="/static/images/screenshots/html5readiness.png" alt="" />
            <strong>HTML5 Readiness</strong>
            <p>{% trans "Visual timeline of HTML5 feature support." %}</p>
          </a>
        </li>
        <li>
          <a href="http://caniuse.com">
            <img data-resource="http://caniuse.com" src="/static/images/screenshots/whencaniuse.png" alt="" />
            <strong>When Can I Use...</strong>
            <p>{% trans "Up to date HTML5 feature browser support reference." %}</p>
          </a>
        </li>
        <li>
          <a href="http://beta.html5test.com/">
            <img data-resource="http://beta.html5test.com/" src="/static/images/screenshots/html5tests.png" alt="" />
            <strong>HTML5 Test</strong>
            <p>{% trans "Series of browser tests to evaluate feature support." %}</p>
          </a>
        </li>

        <li>
          <a href="http://dev.chromium.org/developers/web-platform-status">
            <img data-resource="http://dev.chromium.org/developers/web-platform-status" src="/static/images/screenshots/status.png" alt="" />
            <strong>Chrome Implementation Status</strong>
            <p>{% trans "Follow the engineering effort for cutting edge support from the Chrome team." %}</p>
          </a>
        </li>
        <li>
          <a href="http://www.opera.com/docs/specs/presto2.10/">
            <img data-resource="http://www.opera.com/docs/specs/presto2.10/" src="/static/images/screenshots/opera-presto.png" alt="" />
            <strong>Web specifications support in Opera Presto 2.10</strong>
            <p>{% trans "Opera's support for HTML5 standards" %}</p>
          </a>
        </li>
        <li>
          <a href="http://en.wikipedia.org/wiki/Comparison_of_layout_engines_(HTML5)">
            <img data-resource="http://en.wikipedia.org/wiki/Comparison_of_layout_engines_(HTML5)" src="/static/images/screenshots/wikipedia.png" alt="" />
            <strong>HTML5: Comparison of Layout Engines</strong>
            <p>{% trans "If the Wikipedia says it then it must be true." %}</p>
          </a>
        </li>
        <li>
          <a href="http://kangax.github.com/es5-compat-table/">
            <img data-resource="http://kangax.github.com/es5-compat-table/" src="/static/images/screenshots/kangax.png" alt="" />
            <strong>ECMAScript 5 table</strong>
            <p>{% trans "Detailed table of ES5 support across browsers." %}</p>
          </a>
        </li>
        <li>
          <a href="http://www.quirksmode.org/compatibility.html">
            <img data-resource="http://www.quirksmode.org/compatibility.html" src="/static/images/screenshots/quirks.png" alt="" />
            <strong>Compatibility Tables</strong>
            <p>{% trans "Results of DOM and CSS properties tests in major browsers." %}</p>
          </a>
        </li>
        <li>
          <a href="http://html5demos.com">
            <img data-resource="http://html5demos.com" src="/static/images/screenshots/html5demos.png" alt="" />
            <strong>HTML5 Demos</strong>
            <p>{% trans "html5demos.com is a demo site with cross-browser demos." %}</p>
          </a>
        </li>
        <li>
          <a href="http://html5-demos.com">
            <img data-resource="http://html5-demos.com" src="/static/images/screenshots/html5-demos.png" alt="" />
            <strong>HTML5-Demos</strong>
            <p>{% trans "html5-demos.com is another demo site with cutting-edge demos and slide decks." %}</p>
          </a>
        </li>
        <li>
          <a href="/webappfieldguide/">
            <img data-resource="http://www.html5rocks.com/webappfieldguide/" src="/static/images/screenshots/wafg.png" alt="" />
            <strong>Field Guide to Web Applications</strong>
            <p>{% trans "A guide to help developers build great web applications." %}</p>
          </a>
        </li>
      </ul>
    </section>

    <section>
      <h2>{% trans "Documentation" %}</h2>
      <ul class="figures">
        <li>
          <a href="http://developers.whatwg.org/">
            <img data-resource="http://developers.whatwg.org/" src="/static/images/screenshots/w3devview.png" alt="" />
            <strong>WHATWG HTML5 for Developers</strong>
            <p>{% trans "WHATWG HTML5 Spec, only author info preserved. Perfect for web developers." %}</p>
          </a>
        </li>

        <li>
          <a href="http://diveintohtml5.info/">
            <img data-resource="http://diveintohtml5.info/" src="/static/images/screenshots/diveinto.png" alt="" />
            <strong>Dive into HTML5 by Mark Pilgrim</strong>
            <p>{% trans "Learn HTML5 and have a laugh at the same time." %}</p>
          </a>
        </li>

        <li>
          <a href="http://developer.apple.com/safari/">
            <img data-resource="http://developer.apple.com/safari/" src="/static/images/screenshots/safaridocs.png" alt="" />
            <strong>Safari HTML5 Guides</strong>
            <p>{% trans "Excellent WebKit-oriented development documentation." %}</p>
          </a>
        </li>
        <li>
          <a href="https://developer.mozilla.org/en/HTML/HTML5">
            <img data-resource="https://developer.mozilla.org/en/HTML/HTML5" src="/static/images/screenshots/mdc.png" alt="" />
            <strong>Mozilla Development Center HTML5 Reference</strong>
            <p>{% trans "Excellent documentation and guides." %}</p>
          </a>
        </li>
        <li>
          <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/">
            <img data-resource="http://www.whatwg.org/specs/web-apps/current-work/multipage/" src="/static/images/screenshots/wgfullspec.png" alt="" />
            <strong>WhatWG Web Apps Spec (HTML5 plus the kitchen sink)</strong>
            <p>{% trans "Working draft spec of everything under the larger HTML5 umbrella." %}</p>
          </a>
        </li>
      </ul>
    </section>

    <section>
      <h2>{% trans "Tools" %}</h2>
      <ul class="figures">
        <li>
          <a href="http://www.modernizr.com/">
            <img data-resource="http://www.modernizr.com/" src="/static/images/screenshots/modernizr.png" alt="" />
            <strong>Modernizr</strong>
            <p>{% trans "Javascript library for feature detection and control fallback cases of HTML5." %}</p>
          </a>
        </li>
        <li>
          <a href="http://code.google.com/p/html5shiv/">
            <img data-resource="http://code.google.com/p/html5shiv/" src="/static/images/screenshots/html5shiv.png" alt="" />
            <strong>html5 shiv</strong>
            <p>{% trans "Javascript patch to make IE support, and print, the new tag elements." %}</p>
          </a>
        </li>
        <li>
          <a href="http://html5boilerplate.com/">
            <img data-resource="http://html5boilerplate.com/" src="/static/images/screenshots/html5boilerplate.png" alt="" />
            <strong>HTML5 Boilerplate</strong>
            <p>{% trans "An set of HTML/CSS/JS templates with best practices for HTML5 and front-end dev built in." %}</p>
          </a>
        </li>
        <li>
          <a href="https://github.com/Modernizr/Modernizr/wiki/HTML5-Cross-browser-Polyfills">
            <img data-resource="https://github.com/Modernizr/Modernizr/wiki/HTML5-Cross-browser-Polyfills" src="/static/images/screenshots/polyfills.png" />
            <strong>HTML5 Cross-browser Polyfills</strong>
            <p>{% trans "The collection of scripts that enable HTML5 features in all browsers." %}</p>
          </a>
        </li>
        <li>
          <a href="http://css-tricks.com/examples/ButtonMaker/">
            <img data-resource="http://css-tricks.com/examples/ButtonMaker/" src="/static/images/screenshots/buttongen.png" alt="" />
            <strong>CSS Button Maker</strong>
            <p>{% trans "Preview CSS buttons with a fancy interface to play with the parameters." %}</p>
          </a>
        </li>
        <li>
          <a href="http://css3generator.com/">
            <img data-resource="http://css3generator.com/" src="/static/images/screenshots/cssgen.png" alt="" />
            <strong>CSS3 Generator</strong>
            <p>{% trans "Preview CSS buttons with a fancy interface to play with the parameters." %}</p>
          </a>
        </li>
        <li>
          <a href="http://www.westciv.com/tools/gradients/index.html">
            <img data-resource="http://www.westciv.com/tools/gradients/index.html" src="/static/images/screenshots/sandbox.png" alt="" />
            <strong>CSS3 Sandbox</strong>
            <p>{% trans "Test and get the code of the fanciest CSS features." %}</p>
          </a>
        </li>
        <li>
          <a href="http://gradients.glrzad.com/">
            <img data-resource="http://gradients.glrzad.com/" src="/static/images/screenshots/gradientgen.png" alt="" />
            <strong>CSS3 Gradient Generator</strong>
            <p>{% trans "Generate CSS code for gradients on the fly." %}</p>
          </a>
        </li>
        <li>
          <a href="http://css3please.com/">
            <img data-resource="http://css3please.com/" src="/static/images/screenshots/css3please.png" alt="" />
            <strong>CSS3 Please</strong>
            <p>{% trans "Use CSS3 without having to worry about xbrowser differences." %}</p>
          </a>
        </li>
        <li>
          <a href="http://labs.thecssninja.com/font_dragr/">
            <img data-resource="http://labs.thecssninja.com/font_dragr/" src="/static/images/screenshots/font_dragr.png" alt="" />
            <strong>Font Dragr</strong>
            <p>{% trans "Test your fonts using drag and drop." %}</p>
          </a>
        </li>
        <li>
          <a href="http://www.fontsquirrel.com/fontface/generator">
            <img data-resource="http://www.fontsquirrel.com/fontface/generator" src="/static/images/screenshots/squirrel.png" alt="" />
            <strong>Font Squirrel Generator</strong>
            <p>{% trans "Most complete tool to generate code for you font-face support." %}</p>
          </a>
        </li>
        <li>
          <a href="http://code.google.com/speed/tools.html">
            <img data-resource="http://code.google.com/speed/tools.html" src="/static/images/screenshots/speed.png" alt="" />
            <strong>Let's make the web faster</strong>
            <p>{% trans "Complete list of tools related to web performance." %}</p>
          </a>
        </li>
      </ul>
    </section>

    <section>
      <h2>{% trans "Community" %}</h2>
      <ul class="figures">
        <!--<li>
          <a href="http://html5watch.tumblr.com/"><img data-resource="http://html5watch.tumblr.com/" src="/static/images/screenshots/html5watch.png" alt="" />
            <strong><a href="http://html5watch.tumblr.com/">HTML5 Watch</strong>
          </a>
        </li>-->
        <li>
          <a href="http://html5doctor.com/">
            <img data-resource="http://html5doctor.com/" src="/static/images/screenshots/doctor.png?sryrich" alt="" />
            <strong>HTML5 Doctor</strong>
          </a>
        </li>
        <li>
          <a href="http://blog.whatwg.org">
            <img data-resource="http://blog.whatwg.org" src="/static/images/screenshots/whatwgblog.png" alt="" />
            <strong>WhatWG Blog</strong>
          </a>
        </li>
        <li>
          <a href="https://groups.google.com/a/chromium.org/group/chromium-html5/topics">
            <img data-resource="https://groups.google.com/a/chromium.org/group/chromium-html5/topics" src="/static/images/screenshots/chromium.png" />
            <strong>Chromium HTML5 Discussion Group</strong>
          </a>
        </li>
        <li>
          <a href="http://hacks.mozilla.org/">
            <img data-resource="http://hacks.mozilla.org/" src="/static/images/screenshots/hackmozilla.png" alt="" />
            <strong>Mozilla Hacks</strong>
          </a>
        </li>
        <li>
          <a href="http://developer.apple.com/safaridemos/">
            <img data-resource="http://developer.apple.com/safaridemos/" src="/static/images/screenshots/safaridemos.png" alt="" />
            <strong>Safari HTML5 Demos</strong>
          </a>
        </li>
        <li>
          <a href="http://ie.microsoft.com/testdrive/">
            <img data-resource="http://ie.microsoft.com/testdrive/" src="/static/images/screenshots/ie9testdrivedemos.png" alt="" />
            <strong>Internet Explorer Test Drive</strong>
          </a>
        </li>
        <li>
          <a href="http://dev.opera.com/articles/tags/open%20web/">
            <img data-resource="http://dev.opera.com/articles/tags/open%20web/" src="/static/images/screenshots/opera.png" alt="" />
            <strong>Open Web - Opera Developer Community</strong>
          </a>
        </li>
        <li>
          <a href="http://www.chromeexperiments.com/">
            <img data-resource="http://www.chromeexperiments.com/" src="/static/images/screenshots/experiments.png" alt="" />
            <strong>Chrome Experiments</strong>
          </a>
        </li>



      </ul>
    </section>

    <section>
      <h2>{% trans "Books" %}</h2>
      <ul class="figures books">
        <li>
          <a href="http://shop.oreilly.com/product/0636920021360.do">
            <img data-resource="http://shop.oreilly.com/product/0636920021360.do" src="/static/images/screenshots/book-bidelman.png" alt="" />
            <strong>Using the HTML5 Filesystem API [Eric Bidelman]</strong>
          </a>
        </li>
        <li>
          <a href="http://www.amazon.com/HTML5-Up-Running-Mark-Pilgrim/dp/0596806027">
            <img data-resource="http://www.amazon.com/HTML5-Up-Running-Mark-Pilgrim/dp/0596806027" src="/static/images/screenshots/book-pilgrim.png" alt="" />
            <strong>HTML5 [Mark Pilgrim]</strong>
          </a>
        </li>
        <li>
          <a href="http://apress.com/book/view/1430227907">
            <img data-resource="http://apress.com/book/view/1430227907" src="/static/images/screenshots/book-lubbers.png" alt="" />
            <strong>Pro HTML5 Programming [Peter Lubbers, Brian Albers, Frank Salim]</strong>
          </a>
        </li>
        <li>
          <a href="http://introducinghtml5.com/">
            <img data-resource="http://introducinghtml5.com/" src="/static/images/screenshots/book-lawson.png" alt="" />
            <strong>Introducing HTML5 [Bruce Lawson, Remy Sharp]</strong>
          </a>
        </li>
        <li>
          <a href="http://books.alistapart.com/">
            <img data-resource="http://books.alistapart.com/" src="/static/images/screenshots/book-keith.png" alt="" />
            <strong>HTML5 For Web Designers [Jeremy Keith]</strong>
          </a>
        </li>
        <li>
          <a href="http://www.amazon.com/HTML5-Now-Step-Step-Tutorial/dp/0321719913">
            <img data-resource="http://www.amazon.com/HTML5-Now-Step-Step-Tutorial/dp/0321719913" src="/static/images/screenshots/book-tantek.png" alt="" />
            <strong>HTML5 Now [Tantek Celik]</strong>
          </a>
        </li>
      </ul>
    </section>
  </article>
</div>
{% endblock %}
