{% extends "base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block headtitle %}{% trans "Terms of Service" %}{% endblock %}

{% block body %}
<div data-import-html>

  <article class="pattern-bg-lighter">
    <hgroup>
    <h1>{% trans "HTML5 Rocks <span>Terms of Service</span>" %}</h1>
    </hgroup>

    <p>
      {% blocktrans %}
        The HTML5ROCKS website (the "Website") is hosted by Google. By using and/or visiting the Website, you consent to be bound by these terms of service as well as Google's general <a href="http://www.google.com/accounts/TOS">Terms of Service</a> and Google's general <a href="http://www.google.com/privacy.html">Privacy Policy</a>.
      {% endblocktrans %}
    </p>
  </article>

</div>
{% endblock %}
