{% extends "tutorial.html" %}

{% block headauthor %}Eric Bidelman <e.bidelman@chromium.org>{% endblock %}

{% block headtitle %}JavaScript භාවිතයෙන් පරිශීලක ගොනු කියවීම{% endblock %}
{% block pagetitle %}JavaScript භාවිතයෙන් පරිශීලක ගොනු කියවීම{% endblock %}
{% block head %}
<style>
.example {
  padding: 10px;
  border: 1px solid #ccc;
}
#drop_zone {
  border: 2px dashed #bbb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  font: 20pt bold 'Vollkorn';
  color: #bbb;
}
.thumb {
  height: 75px;
  border: 1px solid #000;
  margin: 10px 5px 0 0;
}
#progress_bar {
  margin: 10px 0;
  padding: 3px;
  border: 1px solid #000;
  font-size: 14px;
  clear: both;
  opacity: 0;
  -o-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
  -ms-transition: opacity 1s linear;
}
#progress_bar.loading {
  opacity: 1.0;
}
#progress_bar .percent {
  background-color: #99ccff;
  height: auto;
  width: 0;
}
#byte_content {
  margin: 5px 0;
  max-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
}
#byte_range {
  margin-top: 5px;
}
</style>
{% endblock %}

{% block html5badge %}
<img src="/static/images/identity/html5-badge-h-performance.png" width="133" height="64" alt="This article is powered by HTML5 Performance &amp; Integration" title="This article is powered by HTML5 Performance &amp; Integration" />
{% endblock %}

{% block iscompatible %}
  return !!(window.File) && !!(window.FileReader) && !!(window.FileList) && !!(window.Blob);
{% endblock %}

{% block content %}
  <h2 id="toc-introduction">Introduction</h2>

  <p>අවසානයේ HTML5 විසින් පරිශීලක ගොනු භාවිතය සඳහා, <a href="http://www.w3.org/TR/file-upload/">File API</a> පිරිවිතරය ඔස්සේ සම්මත ක්‍රමයක් 
හඳුන්වා දෙයි. එහි හැකියාවන්ට උදාහරණ වශයෙන්, සර්වරයට ජයාරූප යැවීමේ දී ඒවායේ පෙර දසුන් පෙන්වීමට File API භාවිත කළ හැකිය, නැතහොත් පරිශීලකයා නොබැදී 
සිටින අවස්ථාවක දී ගොනු යොමුවක් තැන්පත් කිරීම සඳහා භාවිත කළ හැකිය. තව ද, උඩුගත කිරීමක mime වර්ගය ගොනු ඇසුරුම සමඟ සැසඳේ දැයි හඳුනා ගැනීමට හෝ 
උඩුගත කිරීමක ප්‍රමාණය සීමා කිරීමට ද භාවිත කළ හැකිය.
</p>
  <p>'පරිශීලක' ගොනු පද්ධතියක ගොනු වෙත ප්‍රවේශ වීම සඳහා, පිරිවිතරය අතුරුමුහුණත් කිහිපයක් සපයයි:</p>
  <ol>
    <li><code>File</code>- තනි ගොනුවකි; නම, ගොනුවේ ප්‍රමාණය, mime වර්ගය, ගොනු හැසිරුමට යොමුවක් ආදී කියවීමට පමණක් හැකි තොරතුරු සපයයි.</li>
    <li><code>FileList</code> - අරාවක් වැනි <code>File</code> වස්තූන් පෙළකි.( පරිගණකයෙන් ෆෝල්ඩරයක් ඇදීම හෝ <code>&lt;input type="file" multiple&gt;</code> පිළිබඳ සිතන්න)</li>
    <li><code>Blob</code> - ගොනුවක් බයිට් පරාසයන්ට බිඳීමට ඉඩ දෙයි</li>
  </ol>
  <p>ඉහත දත්ත ව්‍යුහ සමඟ භාවිත කිරීමේදී, සමීප JavaScript අවස්ථා හැසිරවීම ඔස්සේ අසමමුහුර්තව ගොනුවක් කියවීම සඳහා, <a href="http://dev.w3.org/2006/webapi/FileAPI/#filereader-interface"><code>FileReader</code></a> අතුරුමුහුණත භාවිත කළ හැකිය. එමනිසා, දෝෂ හඳුනා ගැනීමට, කියවීමක ප්‍රගතිය නිරීක්ෂණ කිරීමට සහ කියවීමක් සම්පූර්ණ දැයි පරීක්ෂා කිරීමට මෙමඟින් හැකියාව ලැබේ.
අතුරුමුහුණත, බොහෝ ආකාරවලින්, <code>XMLHttpRequest</code>' හි අවස්ථා මොඩලය ට සමානකම් දක්වයි.</p>

  <h2 id="toc-selecting-files">ගොනු තේරීම</h2>
  <p>පළමුවෙන් ම,  ඔබේ පිරික්සුම File API සඳහා සම්පුර්ණ සහය දක්වන්නේ දැයි පරීක්ෂා කරන්න:</p>
  <pre class="prettyprint">// විවිධ File API සහයන් සඳහා පරීක්ෂා කරන්න.
if (window.File && window.FileReader && window.FileList && window.Blob) {
  // විශිෂ්ටයි සියලු File අතුරුමුහුණත් සහය දක්වයි.
} else {
  alert('මෙම පිරික්සුම, File අතුරුමුහුණත් සඳහා සම්පූර්ණ සහය නොදක්වයි');
}
</pre>

  <p>පැහැදිලිවම, ඔබේ යෙදුම මින් අතුරුමුහුණත් කිහිපයක් පමණක් භාවිත කරන්නේ නම්, මෙම පිටපත සුදුසු පරිදි සංශෝධනය කර ගන්න.</p>

  <h3 id="toc-selecting-files-input">තේරීම සඳහා ආකෘති ප්‍රදාන භාවිත කිරීම</h3>
  <p>ගොනුවක් නැංවීමට වඩාත්ම සරල ක්‍රමය නම් සම්මත <code>&lt;input type="file"&gt;</code> අවයවය භාවිත කිරීමයි. JavaScript විසින්, තෝරා ගත් 
  <code>File</code> වස්තූන් ලැයිස්තුව, <code>FileList</code> ලෙස ප්‍රතිදානය කරයි.
මෙය, එකවර ගොනු කිහිපයක් තෝරා ගැනීම සඳහා 'multiple' ගුණාංගය භාවිත කරන උදාහරණයකි:</p>
  <pre class="prettyprint">&lt;input type="file" id="files" name="files[]" multiple /&gt;
&lt;output id="list"&gt;&lt;/output&gt;

&lt;script&gt;
  function handleFileSelect(evt) {
    var files = evt.target.files; // FileList වස්තුව

    // files යනු File වස්තූන් ඇතුළත් FileList එකකි. ගුණ කිහිපයක් ලැයිස්තුගත කරන්න.
    var output = [];
    for (var i = 0, f; f = files[i]; i++) {
      output.push('&lt;li&gt;&lt;strong&gt;', escape(f.name), '&lt;/strong&gt; (', f.type || 'n/a', ') - ',
                  f.size, ' bytes, last modified: ',
                  f.lastModifiedDate ? f.lastModifiedDate.toLocaleDateString() : 'n/a',
                  '&lt;/li&gt;');
    }
    document.getElementById('list').innerHTML = '&lt;ul&gt;' + output.join('') + '&lt;/ul&gt;';
  }

  document.getElementById('files').addEventListener('change', handleFileSelect, false);
&lt;/script&gt;
</pre>

  <p><strong>Example</strong>: තේරීම සඳහා ආකෘති ප්‍රදානය භාවිත කිරීම. උත්සාහ කරන්න!</p>
  <div class="example">
    <input type="file" id="files1" name="files1[]" multiple />
    <output id="file_list"></output>
  </div>

  <h3 id="toc-selecting-files-dnd">තේරීම සඳහා  ඇද දැමීම භාවිත කිරීම</h3>
  <p>ගොනු නැංවීමට ඇති තවත් ක්‍රමයක් නම් ස්ථාපිත පරිගණකයෙන් පිරික්සුමට ඇද දැමීමයි. ඇද දැමීම ඇතුළත් කිරීම සඳහා, අපට ඉහත උදාහරණය සුළු වශයෙන් සංශෝධනය කළ හැකිය.</p>
  <pre class="prettyprint">&lt;div id="drop_zone">ගොනු මෙහි දමන්න&lt;/div&gt;
&lt;output id="list"&gt;&lt;/output&gt;

&lt;script&gt;
  function handleFileSelect(evt) {
    evt.stopPropagation();
    evt.preventDefault();

    var files = evt.dataTransfer.files; // FileList වස්තුව.

    // files යනු File වස්තූන් ඇතුළත් FileList එකකි. ගුණ කිහිපයක් ලැයිස්තුගත කරන්න.
    var output = [];
    for (var i = 0, f; f = files[i]; i++) {
      output.push('&lt;li&gt;&lt;strong&gt;', escape(f.name), '&lt;/strong&gt; (', f.type || 'n/a', ') - ',
                  f.size, ' bytes, last modified: ',
                  f.lastModifiedDate ? f.lastModifiedDate.toLocaleDateString() : 'n/a',
                  '&lt;/li&gt;');
    }
    document.getElementById('list').innerHTML = '&lt;ul&gt;' + output.join('') + '&lt;/ul&gt;';
  }

  function handleDragOver(evt) {
    evt.stopPropagation();
    evt.preventDefault();
    evt.dataTransfer.dropEffect = 'copy'; // මෙය පිටපතක් බව පැහැදිලිව දක්වන්න
  }

  // ඇද දැමීමට සවන් දෙන්නන් සකසන්න.
  var dropZone = document.getElementById('drop_zone');
  dropZone.addEventListener('dragover', handleDragOver, false);
  dropZone.addEventListener('drop', handleFileSelect, false);
&lt;/script&gt;</pre>

  <p><strong>Example</strong>: තේරීම සඳහා  ඇද දැමීම භාවිත කිරීම. මෙය උත්සාහ කරන්න!</p>
  <div class="example">
    <div id="drop_zone">ගොනු මෙහි දමන්න</div>
    <output id="file_list2"></output>
  </div>

  <p>සටහන: සමහර පිරික්සුම් විසින් <code>&lt;input type="file"&gt;</code> අවයව, ස්ථාපිත දැමුම්  ඉලක්ක ලෙස සලකයි. 
  පෙර උදාහරණයේ ප්‍රදාන ක්ෂේත්‍රය මතට ගොනු ඇදීමට උත්සාහ කරන්න</p>

  <h2 id="toc-reading-files">ගොනු කියවීම</h2>
  <p>විනෝදමත් කොටසට පැමිණෙන්නේ මෙහිදී ය.</p>
  <p>ඔබ <code>File</code> යොමුවක් ලබා ගැනීමෙන් පසු, එහි අන්තර්ගතය මතකයට කියවීම සඳහා, 
  <a href="http://dev.w3.org/2006/webapi/FileAPI/#filereader-interface"><code>FileReader</code></a> වස්තුවක් නිර්මාණය කරන්න. 
  නැංවීම අවසන් වන විට, කියවන්නාගේ <code>onload</code> අවස්ථාව උද්දීපනය වන අතර ගොනු දත්ත වෙත ප්‍රවේශ වීම සඳහා
  <code>result</code>.ගුණය භාවිත කළ හැකිය.</p>
  <p><code>FileReader</code> සතුව, අසමමුහුර්තව ගොනු කියවීම සඳහා ක්‍රම 4ක් අන්තර්ගත වේ.:</p>
  <ul>
    <li><code>FileReader.readAsBinaryString(Blob|File)</code> - <code>result</code> ගුණය සතුව ගොනුවේ/ද්විමය වස්තුවේ තොරතුරු ද්විමය  පෙළක් ලෙස අන්තර්ගත වනු ඇත. 
    සෑම බයිටයක් ම  [0..255] පරාසයේ නිඛිලයක් මඟින් නිරූපණය කෙරේ.</li>
    <li><code>FileReader.readAsText(Blob|File, opt_encoding)</code> - <code>result</code> ගුණය සතුව ගොනුවේ/ද්විමය වස්තුවේ තොරතුරු පෙළ ලෙස අන්තර්ගත වනු ඇත. 
    පෙරනිමියෙන්, පෙළ, 'UTF-8' ලෙස විකේතනය වේ.  අභිමත ආකේතන පරාමිතිය භාවිතයෙන් වෙනස් ආකෘතියක් නිශ්චය කළ හැක.</li>
    <li><code>FileReader.readAsDataURL(Blob|File)</code> -  <code>result</code> ගුණය සතුව ගොනුවේ/ද්විමය වස්තුවේ තොරතුරු, 
    <a href="http://en.wikipedia.org/wiki/Data_URI_scheme">දත්ත URL</a> එකක් ලෙස අන්තර්ගත වනු ඇත. </li>
    <li><code>FileReader.readAsArrayBuffer(Blob|File)</code> -  <code>result</code> ගුණය සතුව ගොනුවේ/ද්විමය වස්තුවේ තොරතුරු, 
    <a href="https://www.khronos.org/registry/typedarray/specs/latest/#5">ArrayBuffer</a> වස්තුවක් ලෙස අන්තර්ගත වනු ඇත. </li>
  </ul>

  <p>මෙම කියවුම් විධි වලින් එකක් ඔබේ <code>FileReader</code> වස්තුව මත ක්‍රියාත්මක කළ විට, එහි ප්‍රගතිය නිරීක්ෂණය සඳහා <code>onloadstart</code>,
  <code>onprogress</code>, <code>onload</code>, <code>onabort</code>, <code>onerror</code>, සහ <code>onloadend</code> භාවිත කළ හැකිය.
</p>
  
  <p>පහත උදාහරණය, පරිශීලකයාගේ තේරීමෙන් ජායාරූප පෙරා, ගොනුව මත <code>reader.readAsDataURL()</code> අමතන අතර 
  'src' ගුණය දත්ත URL එකකට සැකසීමෙන් පෙරදසුනක් නිර්මාණය කරයි.</p>
  <pre class="prettyprint">&lt;style&gt;
  .thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
  }
&lt;/style&gt;

&lt;input type="file" id="files" name="files[]" multiple /&gt;
&lt;output id="list"&gt;&lt;/output&gt;

&lt;script&gt;
  function handleFileSelect(evt) {
    var files = evt.target.files; // FileList වස්තුව

    // FileList ගවේෂණය කර ජායාරූප ගොනු, පෙරදසුන් ලෙස දක්වන්න
    for (var i = 0, f; f = files[i]; i++) {

      // ජායාරූප ගොනු පමණක් සකසන්න.
      if (!f.type.match('image.*')) {
        continue;
      }

      var reader = new FileReader();

      // ගොනු තොරතුරු ග්‍රහණය කිරීම සඳහා වැස්ම.
      reader.onload = (function(theFile) {
        return function(e) {
          // Render thumbnail.
          var span = document.createElement('span');
          span.innerHTML = ['&lt;img class="thumb" src="', e.target.result,
                            '" title="', escape(theFile.name), '"/&gt;'].join('');
          document.getElementById('list').insertBefore(span, null);
        };
      })(f);
      
      // ද්විමය පෙළ ලෙස ජායාරූපය කියවන්න.
      reader.readAsDataURL(f);
    }
  }

  document.getElementById('files').addEventListener('change', handleFileSelect, false);
&lt;/script&gt;</pre>

  <p><strong>Example</strong>: ගොනු කියවීම. මෙය උත්සාහ කරන්න.!</p>
  <div class="example">
    <p>මෙම උදාහරණය ජයාරූප ෆෝල්ඩරයක් භාවිතයෙන් උත්සාහ කරන්න.!</p>
    <input type="file" id="files3" name="files3[]" multiple /><br>
    <output id="thumbnails"></output>
  </div>

  <h3 id="toc-slicing-files">ගොනුවක් කැබලි කිරීම</h3>

  <p>සමහර අවස්ථාවලදී, මුළු ගොනුව ම මතකයට නැංවීම හොඳම විසඳුම නොවේ.
උදාහරණයක් වශයෙන්, ඔබට අසමමුහුර්ත ගොනු උඩුගතකරණයක් රචනා කිරීමට අවශ්‍ය වුයේ යයි සිතමු. ගොනුව වෙනස් බයිට් පරාසවල කොටස් ලෙස කියවා යැවීම, 
උඩුගත කිරීම වේගවත් කිරීමට එක ක්‍රමයක් විය හැකිය. මෙවිට, ගොනුව නිවැරදි පිළිවේලට නැවත සකසා ගැනීම සර්වරයේ කාර්යය වේ.
</p>
  <p>අපගේ වාසනාවට, <code>File</code> අතුරුමුහුණත, මෙම භාවිතයට සහය දැක්වීම සඳහා කැබලි කරන විධියකට සහය දක්වයි.මෙම විධිය විසින්, 
  ආරම්භක බයිටය පළමු පරාමිතිය ලෙසත්, අවසාන බයිටය දෙවන පරාමිතිය ලෙසත්, අන්තර්ගත වර්ගය, අභිමත පෙළ පරාමිතියක් ලෙසත් ගනු ලබයි.</p>

  <pre class="prettyprint">
var blob = file.slice(<var>startingByte</var>, <var>endindByte</var>);
reader.readAsBinaryString(blob);</pre>

  <p>පහත උදාහරණය, ගොනුවකින් එක එක කොටස් කියවීම ආදර්ශනය කරයි. හඳුනා ගත යුතු වැදගත් දෙයක් නම් එය <code>onloadend</code> භාවිත කරන අතර, 
  <code>onload</code> අවස්ථාව භාවිත කරනු වෙනුවට <code>evt.target.readyState</code> පරීක්ෂා කිරීමයි.</p>

<pre class="prettyprint">&lt;style&gt;
  #byte_content {
    margin: 5px 0;
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  #byte_range { margin-top: 5px; }
&lt;/style&gt;

&lt;input type="file" id="files" name="file" /&gt; බයිට් කියවන්න: 
&lt;span class="readBytesButtons"&gt;
  &lt;button data-startbyte="0" data-endbyte="4"&gt;1-5&lt;/button&gt;
  &lt;button data-startbyte="5" data-endbyte="14"&gt;6-15&lt;/button&gt;
  &lt;button data-startbyte="6" data-endbyte="7"&gt;7-8&lt;/button&gt;
  &lt;button&gt;සම්පූර්ණ ගොනුව&lt;/button&gt;
&lt;/span&gt;
&lt;div id="byte_range"&gt;&lt;/div&gt;
&lt;div id="byte_content"&gt;&lt;/div&gt;

&lt;script&gt;
  function readBlob(opt_startByte, opt_stopByte) {

    var files = document.getElementById('files').files;
    if (!files.length) {
      alert('Please select a file!');
      return;
    }

    var file = files[0];
    var start = parseInt(opt_startByte) || 0;
    var stop = parseInt(opt_stopByte) || file.size - 1;

    var reader = new FileReader();

   // අප onloadend භාවිත කරන්නේ නම්, readyState පරීක්ෂා කිරීම අවශ්‍යය
    reader.onloadend = function(evt) {
      if (evt.target.readyState == FileReader.DONE) { // DONE == 2
        document.getElementById('byte_content').textContent = evt.target.result;
        document.getElementById('byte_range').textContent = 
            ['Read bytes: ', start + 1, ' - ', stop + 1,
             ' of ', file.size, ' byte file'].join('');
      }
    };

    var blob = file.slice(start, stop + 1);
    reader.readAsBinaryString(blob);
  }
  
  document.querySelector('.readBytesButtons').addEventListener('click', function(evt) {
    if (evt.target.tagName.toLowerCase() == 'button') {
      var startByte = evt.target.getAttribute('data-startbyte');
      var endByte = evt.target.getAttribute('data-endbyte');
      readBlob(startByte, endByte);
    }
  }, false);
&lt;/script&gt;</pre>

  <p><strong>Example</strong>: ගොනුවක් කැබලි කිරීම. මෙය උත්සාහ කරන්න!</p>
  <div class="example">
    <input type="file" id="file4" name="file4" /> බයිට් කියවන්න: 
    <span class="readBytesButtons">
      <button data-startbyte="0" data-endbyte="4">1-5</button>
      <button data-startbyte="5" data-endbyte="14">6-15</button>
      <button data-startbyte="6" data-endbyte="7">7-8</button>
      <button>සම්පුර්ණ ගොනුව</button>
    </span>
    <div id="byte_range"></div>
    <div id="byte_content"></div>
  </div>

  <h3 id="toc-monitoring-progress">කියවීමක ප්‍රගතිය නිරීක්ෂණය කිරීම</h3>

  <p>අසමමුහුර්ත අවස්ථා හැසිරවීමේදී අපට නිතැතින් ම ලැබෙන හොඳ අවස්ථාවන්ගෙන් එකක් නම් ගොනු කියවීමක ප්‍රගතිය නිරීක්ෂණය කිරීමට ඇති හැකියාවයි. මෙය, 
  විශාල ගොනු උඩුගත කිරීමේදී, දෝෂ හඳුනා ගැනීමේදී, සහ කියවීමක් සම්පූර්ණ වී දැයි හඳුනා ගැනීමේදී වැදගත් වේ.</p>

  <p>ගොනු කියවීමක ප්‍රගතිය නිරීක්ෂණය කිරීම සඳහා <code>onloadstart</code> සහ <code>onprogress</code> අවස්ථා භාවිත කළ හැකිය.</p>

  <p>පහත උදාහරණය, කියවීමක තත්වය නිරීක්ෂණය සඳහා ප්‍රගති දර්ශකයක් පෙන්වීම ආදර්ශනය කරයි. 
මෙම ප්‍රගති දර්ශකයේ ක්‍රියාකාරීත්වය පැහැදිලිව දැකීම සඳහා, විශාල ගොනුවක් හෝ දුරස්ථ ගබඩාවක සම්පතක් භාවිතයෙන් උත්සාහ කරන්න</p>

<pre class="prettyprint">&lt;style&gt;
  #progress_bar {
    margin: 10px 0;
    padding: 3px;
    border: 1px solid #000;
    font-size: 14px;
    clear: both;
    opacity: 0;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
  }
  #progress_bar.loading {
    opacity: 1.0;
  }
  #progress_bar .percent {
    background-color: #99ccff;
    height: auto;
    width: 0;
  }
&lt;/style&gt;

&lt;input type="file" id="files" name="file" /&gt;
&lt;button onclick="abortRead();"&gt;Cancel read&lt;/button&gt;
&lt;div id="progress_bar"&gt;&lt;div class="percent"&gt;0%&lt;/div&gt;&lt;/div&gt;

&lt;script&gt;
  var reader;
  var progress = document.querySelector('.percent');

  function abortRead() {
    reader.abort();
  }

  function errorHandler(evt) {
    switch(evt.target.error.code) {
      case evt.target.error.NOT_FOUND_ERR:
        alert('ගොනුව සොයාගත නොහැක!');
        break;
      case evt.target.error.NOT_READABLE_ERR:
        alert('ගොනුව කියවිය නොහැකිය');
        break;
      case evt.target.error.ABORT_ERR:
        break; // noop
      default:
        alert('මෙම ගොනුව කියවීමේදී දෝෂයක් ඇතිවුණි.');
    };
  }

  function updateProgress(evt) {
    // evt යනු ProgressEvent කි.
    if (evt.lengthComputable) {
      var percentLoaded = Math.round((evt.loaded / evt.total) * 100);
      // ප්‍රගති දර්ශකයේ දිග වැඩි කරන්න.
      if (percentLoaded &lt; 100) {
        progress.style.width = percentLoaded + '%';
        progress.textContent = percentLoaded + '%';
      }
    }
  }

  function handleFileSelect(evt) {
    // නව ගොනුවක් තේරීමේදී ප්‍රගති දර්ශකය ප්‍රතිස්ථාපනය කරන්න.
    progress.style.width = '0%';
    progress.textContent = '0%';

    reader = new FileReader();
    reader.onerror = errorHandler;
    reader.onprogress = updateProgress;
    reader.onabort = function(e) {
      alert('ගොනු කියවීම අවලංගු විය');
    };
    reader.onloadstart = function(e) {
      document.getElementById('progress_bar').className = 'loading';
    };
    reader.onload = function(e) {
      // ප්‍රගති දර්ශකය අවසානයේ 100% පෙන්වන්නේ දැයි සහතික වන්න.
      progress.style.width = '100%';
      progress.textContent = '100%';
      setTimeout("document.getElementById('progress_bar').className='';", 2000);
    }
    
    // ද්විමය පෙළ ලෙස ජායාරූපය කියවන්න.
    reader.readAsBinaryString(evt.target.files[0]);
  }

  document.getElementById('files').addEventListener('change', handleFileSelect, false);
&lt;/script&gt;</pre>

  <p><strong>Example</strong>: කියවීමක ප්‍රගතිය නිරීක්ෂණය කිරීම. මෙය උත්සාහ කරන්න!</p>
  <div class="example">
    <input type="file" id="file5" name="file5" />
    <button onclick="example5.abortRead();">කියවීම අවලංගු කරන්න</button>
    <div id="progress_bar"><div class="percent">0%</div></div>
    <p><strong>Tip</strong>: මෙම ප්‍රගති දර්ශකයේ ක්‍රියාකාරීත්වය පැහැදිලිව දැකීම සඳහා, විශාල ගොනුවක් හෝ දුරස්ථ ගබඩාවක සම්පතක් භාවිතයෙන් උත්සාහ කරන්න.</p>
  </div>

  <h2 id="toc-references">යොමුව</h2>
  <ul>
    <li><a href="http://www.w3.org/TR/file-upload/">File</a> යෙදුම් ක්‍රමලේඛ අතුරුමුහුණත් පිරිවිතරය</li>
    <li><a href="http://www.w3.org/TR/file-upload/#dfn-filereader">FileReader</a> අතුරුමුහුණත් පිරිවිතරය </li>
    <li><a href="http://www.w3.org/TR/file-upload/#dfn-Blob">Blob</a> අතුරුමුහුණත් පිරිවිතරය</li>
    <li><a href="http://www.w3.org/TR/file-upload/#dfn-fileerror">FileError</a> අතුරුමුහුණත් පිරිවිතරය</li>
    <li><a href="http://www.w3.org/TR/progress-events/#Progress">ProgressEvent</a> පිරිවිතරය</li>
  </ul>

<script>
var get = function(id) { return document.getElementById(id); }

var example1 = example1 || {};
example1.handleFileSelect = function(evt) {
  var files = evt.target.files;
  var output = [];
  for (var i = 0, f; f = files[i]; i++) {
    output.push('<li><strong>', escape(f.name), '</strong> (', f.type || 'n/a', ') - ',
                f.size, ' bytes, last modified: ',
                f.lastModifiedDate ? f.lastModifiedDate.toLocaleDateString() : 'n/a',
                '</li>');
  }
  get('file_list').innerHTML = '<ul>' + output.join('') + '</ul>';
}
get('files1').addEventListener('change', example1.handleFileSelect, false);

var example2 = example2 || {};
example2.onDragOver = function(evt) {
  evt.stopPropagation();
  evt.preventDefault();
  evt.dataTransfer.dropEffect = 'copy'; // මෙය පිටපතක් බව පැහැදිලිව පෙන්වන්න.
}

example2.onDragFileDrop = function(evt) {
  evt.stopPropagation();
  evt.preventDefault();

  var files = evt.dataTransfer.files;
  var output = [];
  for (var i = 0, f; f = files[i]; i++) {
    output.push('<li><strong>', escape(f.name), '</strong> (', f.type || 'n/a', ') - ',
                f.size, ' bytes, last modified: ',
                f.lastModifiedDate ? f.lastModifiedDate.toLocaleDateString() : 'n/a',
                '</li>');
  }
  get('file_list2').innerHTML = '<ul>' + output.join('') + '</ul>';
}

// ඇද දැමීමට සවන් දෙන්නන් සකසන්න
get('drop_zone').addEventListener('dragover', example2.onDragOver, false);
get('drop_zone').addEventListener('drop', example2.onDragFileDrop, false);


var example3 = example3 || {};
example3.handleFileSelect = function(evt) {
  var files = evt.target.files; // FileList object.

  // FileList ගවේෂණය කර ජායාරූප ගොනු, පෙරදසුන් ලෙස දක්වන්න
  for (var i = 0, f; f = files[i]; i++) {

    // ජායාරූප පමණක් සකසන්න.
    if (!f.type.match('image.*')) {
      continue;
    }

    var reader = new FileReader();

    // ගොනු තොරතුරු ග්‍රහණය කිරීම සඳහා වැස්මක් අවශ්‍යය.
    reader.onload = (function(theFile) {
      return function(e) {
        // පෙරදසුන දක්වන්න
        var span = document.createElement('span');
        span.innerHTML = ['<img class="thumb" src="', e.target.result,
                          '" title="', escape(theFile.name), '"/>'].join('');
        get('thumbnails').insertBefore(span, null);
      };
    })(f);

    // දත්ත URL එකක් ලෙස ජායාරූපය කියවන්න
    reader.readAsDataURL(f);
  }
}
get('files3').addEventListener('change', example3.handleFileSelect, false);

var example4 = example4 || {};
example4.readBlob = function(opt_startByte, opt_stopByte) {
  var files = get('file4').files;
  if (!files.length) {
    alert('Please select a file!');
    return;
  }

  var file = files[0];
  var start = parseInt(opt_startByte) || 0;
  var stop = parseInt(opt_stopByte) || file.size - 1;

  var reader = new FileReader();

  reader.onloadend = function(evt) {
    if (evt.target.readyState == FileReader.DONE) { // DONE == 2
      get('byte_content').textContent = evt.target.result;
      get('byte_range').textContent = ['Read bytes: ', start + 1, ' - ', stop + 1,
                                       ' of ', file.size, ' byte file'].join('');
    }
  };
  reader.readAsBinaryString(file.slice(start, stop + 1));
};
document.querySelector('.readBytesButtons').addEventListener('click', function(evt) {
  if (evt.target.tagName.toLowerCase() == 'button') {
    var startByte = evt.target.getAttribute('data-startbyte');
    var stopByte = evt.target.getAttribute('data-endbyte');
    example4.readBlob(startByte, stopByte);
  }
}, false);

function Example5(id) {
  var reader_;
  var progress_ = document.querySelector('.percent');
  var self = this;

  this.abortRead = function() {
    reader_.abort();
  };

  this.errorHandler = function(evt) {
    switch(evt.target.error.code) {
      case evt.target.error.NOT_FOUND_ERR:
        alert('ගොනුව සොයාගත නොහැක!');
        break;
      case evt.target.error.NOT_READABLE_ERR:
        alert('ගොනුව කියවිය නොහැකිය');
        break;
      case evt.target.error.ABORT_ERR:
        break; // noop
      default:
        alert('මෙම ගොනුව කියවීමේදී දෝෂයක් ඇතිවුණි.');
    };
  };

  this.updateProgress = function(evt) {
    // evt යනු ProgressEvent කි.
    if (evt.lengthComputable) {
      var percentLoaded = Math.round((evt.loaded / evt.total) * 100);
      // ප්‍රගති දර්ශකයේ දිග වැඩි කරන්න.
      if (percentLoaded < 100) {
        progress_.style.width = percentLoaded + '%';
        progress_.textContent = percentLoaded + '%';
      }
    }
  };

  this.handleFileSelect = function(evt) {
    // නව ගොනුවක් තේරීමේදී ප්‍රගති දර්ශකය ප්‍රතිස්ථාපනය කරන්න.
    progress_.style.width = '0%';
    progress_.textContent = '0%';

    reader_ = new FileReader();
    reader_.onerror = self.errorHandler;
    reader_.onprogress = self.updateProgress;
    reader_.onabort = function(e) {
      alert('File read cancelled');
    };
    reader_.onloadstart = function(e) {
      get('progress_bar').className = 'loading';
    };
    reader_.onload = function(e) {
      // ප්‍රගති දර්ශකය අවසානයේ 100% පෙන්වන්නේ දැයි සහතික වන්න.
      progress_.style.width = '100%';
      progress_.textContent = '100%';
      setTimeout("get('progress_bar').className='';", 2000);
    }

    // ද්විමය පෙළ ලෙස ජායාරූපය කියවන්න.
    reader_.readAsBinaryString(evt.target.files[0]);
  };

  get(id).addEventListener('change', self.handleFileSelect, false);
};
var example5 = new Example5('file5');
</script>

{% endblock %}
