{% extends "tutorial.html" %}
{% load mixin from templatefilters %}

{% block head %}
  <style>
    .talkinghead:before {
      background-image: url(/static/images/profiles/75/agektmr.75.png);
      background-position: 0px -4px !important;
    }
    table {
      width: 100%;
      font-size: 80%;
      table-layout: fixed;
    }
    th, td {
      background-color: #fff;
      border: solid 1px #ccc;
      padding: 0 5px;
    }
    th {
      background-color: #eee;
    }
    tr > td:first-child {
      font-weight: bold;
      background-color: #DA421C;
      color: white;
    }
    .empty {
      background-color: #ccc;
    }
    .mb {
      font-size: 70%;
    }
  </style>
{% endblock %}

{% block content %}

<h2 id="toc-introduction">Introduction</h2>

<p>One of the biggest evolutions happening around HTML5 today is the availability of persistent storage on browsers. Before HTML5, we had no choice other than using cookies to store some kind of data on client side. With HTML5, you have several choices for storing your data, depending on what you want to store.</p>

<p>The most broadly used technology is called <strong>WebStorage</strong>, an API for persistent key-value data storage which most major browsers have supported for a while. WebStorage has persistent storage called <strong>LocalStorage</strong>, and temporary storage called <strong>SessionStorage</strong> which will be cleared after a session.</p>

<p><strong>WebSQL Database</strong> is a relational database solution for browsers. Even though it is essentially deprecated and the W3C no longer maintains the specification, meaning browsers may or may not continue to support it, people still use it because it is the only common answer for structured data storage on mobile browsers.</p>

<p><strong>Indexed Database</strong> is an object store. Since it's considered to be the final solution for storing structured data on browsers, its support and usage is gradually expanding.</p>

<p><strong>FileSystem API</strong> is a file system solution for the web. Developers can store large objects in a sandboxed part of the user's file system and directly link to them via URL. Although Chrome and Opera are the only browsers that currently implement the feature, its standardization is ongoing.</p>

<p><strong>Application Cache</strong> is a powerful cache mechanism targeting single page applications on browsers. Although there were number of complaints about this spec and an alternative spec called <a href="https://github.com/slightlyoff/ServiceWorker/blob/master/explainer.md" target="_blank">ServiceWorker</a> is being proposed, there is no real offline webapp solutions other than this as of January 2014.</p>

<p>As web apps get richer and richer, more and more developers are using browser-side storage. However, there hasn't been a major study comparing the limitations of the various storage mechanisms. It is time consuming for developers to research each method and browser. So in this article, I'm going to show you the results of my research on the upper limit of each browser's storage implementation, as well as how you can inspect them.</p>

<h2 id="toc-overview">Overview</h2>

<p>To do this research, I have built a tool called <a href="http://demo.agektmr.com/storage/" target="_blank">Browser Storage Abuser</a> to minimize the manual work. You can store as much data as possible to see the limit of each storage on your browser.</p>

<figure><img src="bsa-screenshot.png" /></figure>

<p>Following is a quick summary of results from this research using the tool.</p>

<p class="notice"><b>Note</b>: Opera is not listed here because it uses Blink, the same browser engine that Chrome uses, and so my research results using Opera were very similar to my results with Chrome.</p>

<h3 id="toc-mobile">Mobile</h3>

<table>
  <tbody>
    <tr>
      <th></th>
      <th>Chrome</th>
      <th>Android Browser</th>
      <th>Firefox</th>
      <th>Safari</th>
      <th>iOS WebView</th>
    </tr>
    <tr>
      <th></th>
      <th>40</th>
      <th>4.3</th>
      <th>34</th>
      <th>6, 7</th>
      <th>6, 7</th>
    </tr>
    <tr>
      <td>Application Cache</td>
      <td>up to quota</td>
      <td>Unlimited?</td>
      <td>5<span class="mb">MB</span>, Unlimited</td>
      <td>300<span class="mb">MB</span>?</td>
      <td>100<span class="mb">MB</span>?</td>
    </tr>
    <tr>
      <td>FileSystem</td>
      <td>up to quota</td>
      <td class="empty"></td>
      <td class="empty"></td>
      <td class="empty"></td>
      <td class="empty"></td>
    </tr>
    <tr>
      <td>IndexedDB</td>
      <td>up to quota</td>
      <td class="empty"></td>
      <td>5<span class="mb">MB</span>, Unlimited</td>
      <td class="empty"></td>
      <td class="empty"></td>
    </tr>
    <tr>
      <td>WebSQL</td>
      <td>up to quota</td>
      <td>200<span class="mb">MB</span>~</td>
      <td class="empty"></td>
      <td>5<span class="mb">MB</span>, 10<span class="mb">MB</span>, 25<span class="mb">MB</span>, 50<span class="mb">MB</span></td>
      <td>50<span class="mb">MB</span></td>
    </tr>
    <tr>
      <td>LocalStorage</td>
      <td>10<span class="mb">MB</span></td>
      <td>2<span class="mb">MB</span></td>
      <td rowspan="2">10<span class="mb">MB</span></td>
      <td>5<span class="mb">MB</span></td>
      <td>5<span class="mb">MB</span></td>
    </tr>
    <tr>
      <td>SessionStorage</td>
      <td>10<span class="mb">MB</span></td>
      <td>Unlimited</td>
      <td>5<span class="mb">MB</span></td>
      <td>5<span class="mb">MB</span></td>
    </tr>
  </tbody>
</table>

<h3 id="toc-desktop">Desktop</h3>

<table>
  <tbody>
    <tr>
      <th></th>
      <th>Chrome</th>
      <th>Firefox</th>
      <th>Safari</th>
      <th>IE</th>
      <th>IE</th>
    </tr>
    <tr>
      <th></th>
      <th>40</th>
      <th>34</th>
      <th>6, 7</th>
      <th>9</th>
      <th>10, 11</th>
    </tr>
    <tr>
      <td>Application Cache</td>
      <td>up to quota</td>
      <td>500<span class="mb">MB</span>, Unlimited</td>
      <td>Unlimited?</td>
      <td class="empty"></td>
      <td>100<span class="mb">MB</span>?</td>
    </tr>
    <tr>
      <td>FileSystem</td>
      <td>up to quota</td>
      <td class="empty"></td>
      <td class="empty"></td>
      <td class="empty"></td>
      <td class="empty"></td>
    </tr>
    <tr>
      <td>IndexedDB</td>
      <td>up to quota</td>
      <td>50<span class="mb">MB</span>, Unlimited</td>
      <td class="empty"></td>
      <td class="empty"></td>
      <td>10<span class="mb">MB</span>, 250<span class="mb">MB</span> (~999<span class="mb">MB</span>)</td>
    </tr>
    <tr>
      <td>WebSQL</td>
      <td>up to quota</td>
      <td class="empty"></td>
      <td>5<span class="mb">MB</span>, 10<span class="mb">MB</span>, 50<span class="mb">MB</span>, 100<span class="mb">MB</span>, 500<span class="mb">MB</span>, 600<span class="mb">MB</span>, 700<span class="mb">MB</span>...</td>
      <td class="empty"></td>
      <td class="empty"></td>
    </tr>
    <tr>
      <td>LocalStorage</td>
      <td>10<span class="mb">MB</span></td>
      <td rowspan="2">10<span class="mb">MB</span></td>
      <td>5<span class="mb">MB</span></td>
      <td>10<span class="mb">MB</span></td>
      <td>10<span class="mb">MB</span></td>
    </tr>
    <tr>
      <td>SessionStorage</td>
      <td>10<span class="mb">MB</span></td>
      <td>Unlimited</td>
      <td>10<span class="mb">MB</span></td>
      <td>10<span class="mb">MB</span></td>
    </tr>
  </tbody>
</table>

<h2 id="toc-working_with_real_world_browsers">Details: Working with real world browsers</h2>

<p>OK, now you have a summary of storage limitations. Let's dive into the details of each browser's implementation and see how you can inspect and debug each storage.</p>

<h2 id="toc-chrome">Chrome / Chrome for Android</h2>

<table>
<tr>
<th></th>
<th>AppCache</th>
<th>FileSystem</th>
<th>IndexedDB</th>
<th>WebSQL</th>
<th>LocalStorage</th>
<th>SessionStorage</th>
</tr>
<tr>
<td>Chrome 40</td>
<td>up to quota</td>
<td>up to quota</td>
<td>up to quota</td>
<td>up to quota</td>
<td>10<span class="mb">MB</span></td>
<td>10<span class="mb">MB</span></td>
</tr>
<tr>
<td>Chrome for Android 40</td>
<td>up to quota</td>
<td>up to quota</td>
<td>up to quota</td>
<td>up to quota</td>
<td>10<span class="mb">MB</span></td>
<td>10<span class="mb">MB</span></td>
</tr>
</table>

<p>Chrome can use all of the types of storage listed here including Application Cache, FileSystem API, IndexedDB, WebSQL, LocalStorage and SessionStorage. All of the storage mechanisms except LocalStorage and SessionStorage, which use asynchronous input and output, are under managed by <strong>Quota Management API</strong>; their limitation varies depending on the amount of storage the device has left. </p>

<p>Current quota rule is as follows:</p>

<ul>
<li>On Temporary Storage (Default), you can use up to 10% of remaining disk space per domain. If you exceed quota, the browser starts clearing out your storage, starting with the oldest domain.</li>
<li>On Persistent Storage, you can request arbitrary size if the user permits. Going over quota will cause an error. Keep in mind that on Chrome's (and Opera's) implementation, this only applies to FileSystem API as of version 33. All other storage mechanisms will still use Temporary Storage as its storage.</li>
</ul>

<p>Please refer to <a href="http://updates.html5rocks.com/2011/11/Quota-Management-API-Fast-Facts">this 
page</a> for further information regarding Quota Management API (as of January 2014). The Quota Management API specification is under active discussion and subject to change in the future.</p>

<h3 id="toc-chrome_inspect">How to inspect</h3>

<p>You can inspect details of Application Cache, IndexedDB, WebSQL, LocalStorage and SessionStorage if you open DevTools' Resources panel. <br />
For inspecting FileSystem API, you need to</p>

<ol>
<li>Turn on "Enable Developer Tools experiments" flag in <cod3>about:flags</cod3> page.</li>
<li>Restart Chrome and open DevTools.</li>
<li>Select "Experiments" in the Settings and check the box next to "FileSystem inspection".</li>
<li>Reopen DevTools.</li>
</ol>

<p>You should now see "FileSystem" in the Resources panel.</p>

<figure><img src="chrome-inspect.png" /></figure>

<p>For clearing and initializing storage content including cookies, follow instructions below. <br />
Desktop:</p>

<ol>
<li>Open <code>chrome://settings/cookies</code></li>
<li>Select the domain you want to clear</li>
<li>Click on the cookie or the storage resource you wish to delete, then click "Remove"</li>
</ol>

<p>Or</p>

<ol>
<li>You can also delete individual items on DevTools Resources panel</li>
</ol>

<p>Android:</p>

<ol>
<li>Open "Settings"</li>
<li>Open "Content settings"</li>
<li>Open "Website settings"</li>
<li>Tap the domain</li>
<li>Tap on "Clear stored data"</li>
</ol>

<p>On Chrome for Android, you can inspect storage types by following the same procedure as desktop version described above. Refer to "<a href="https://developers.google.com/chrome-developer-tools/docs/remote-debugging#remote-debugging-overview">Remote debugging</a>" article to learn how to debug Chrome for Android.</p>

<h2 id="toc-firefox">Firefox / Firefox for Android</h2>

<table>
<tr>
<th></th>
<th>AppCache</th>
<th>FileSystem</th>
<th>IndexedDB</th>
<th>WebSQL</th>
<th>LocalStorage</th>
<th>SessionStorage</th>
</tr>
<tr>
<td>Firefox 34</td>
<td>500<span class="mb">MB</span>, Unlimited</td>
<td class="empty"></td>
<td>50<span class="mb">MB</span>, Unlimited</td>
<td class="empty"></td>
<td colspan="2">10<span class="mb">MB</span></td>
</tr>
<tr>
<td>Firefox for Android 34</td>
<td>5<span class="mb">MB</span>, Unlimited</td>
<td class="empty"></td>
<td>5<span class="mb">MB</span>, Unlimited</td>
<td class="empty"></td>
<td colspan="2">10<span class="mb">MB</span></td>
</tr>
</table>

<p>Firefox can use IndexedDB, LocalStorage and SessionStorage. LocalStorage and SessionStorage can use up to 10MB of storage but the number is actually the sum of both. <br />
For IndexedDB, you can use up to 50MB on desktop, 5MB on mobile for free. However, the user can allow the limit to be removed by granting permission.</p>

<p>For Application Cache, you can use up to 500MB on desktop, 5MB on mobile for free. Same for user permission.
A user can also change the warning quota by changing <code>about:config</code>'s <code>dom.indexedDB.warningQuota</code> for IndexedDB, <code>browser.cache.offline.capacity</code> for Application Cache.</p>

<figure><img src="ff-premission.png" /></figure>

<figure><img src="ff-android-permission.png" /></figure>

<blockquote class="commentary talkinghead"><b>Note</b>: Firefox actually stores the IndexedDB data in sqlite as a compressed BLOB, so the size of original object won't be reflected).</blockquote>

<h3 id="toc-firefox_inspect">How to inspect</h3>

<p>If you are running Firefox later than version 34, you can inspect details of IndexedDB, LocalStorage and SessionStorage if you open DevTools' Storage panel. <br />
In order to use it, you'll first need to check a box next to "Storage" under "Default Firefox Developer Tools" section in the DevTools' Settings. You can inspect actual contents stored in the storage.</p>

<figure><img src="ff-inspect.png" /></figure>

<p>If you want to manipulate those data, you need to use <a href="http://www.sqlite.org/">sqlite</a> command against the raw database. The sqlite files are located under idb folder under profile directory of respective OSes.</p>

<p><strong>Windows:</strong> <code>%AppData%\Mozilla\Firefox\Profiles\xxxxxxxx.default\storage\persistent</code><br />
<strong>Mac:</strong> <code>~/Library/Application Support/Firefox/Profiles/xxxxxxxx.default/storage/persistent</code></p>

<p>Add-on called <a href="http://sqlite-manager.googlecode.com">SQLite Manager</a> might be a good choice for this purpose using GUI. </p>

<figure><img src="sqlite-manager.png" /></figure>

<p>If you want to remove permissions per domain, click on the icon left to the URL on the page. Then choose "More Information...".</p>

<figure><img src="ff-more-info.png" /></figure>

<p>You can then change permission status of the page's storage from "Maintain Offline Storage" under "Permissions" tab. You can clear the stored data for this page as well.</p>

<figure><img src="ff-page-info.png" /></figure>

<p>For Android version, you can inspect storage using similar technique as desktop version once you get the remote debugging working. To learn more about debugging mobile Firefox, see <a href="https://developer.mozilla.org/en-US/docs/Tools/Remote_Debugging/Firefox_for_Android">this document</a>. Note that manipulation on raw database is still not possible.</p>

<h2 id="toc-android">Android Browser</h2>

<table>
<tr>
<th></th>
<th>AppCache</th>
<th>FileSystem</th>
<th>IndexedDB</th>
<th>WebSQL</th>
<th>LocalStorage</th>
<th>SessionStorage</th>
</tr>
<tr>
<td>Android Browser</td>
<td>Unlimited?</td>
<td class="empty"></td>
<td class="empty"></td>
<td>200<span class="mb">MB</span>~?</td>
<td>2<span class="mb">MB</span></td>
<td>Unlimited</td>
</tr>
</table>

<p>Android Browser can use Application Cache, WebSQL, LocalStorage and SessionStorage. <br />
Compared to the other browsers, Android Browser has rather small 2MB for LocalStorage. SessionStorage is unlimited since it stores data on memory instead of disks. <br />
It is tough to examine WebSQL on Android Browser. Storing around 500KB data in one transaction returns an error, but dividing it into multiple transactions seemed to work ok. I could store up to around 200MB without permission, before it crashed.<br />
Though unconfirmed, Application Cache is said to have no limit on storing data.</p>

<h3 id="toc-android_inspect">How to inspect</h3>

<p>You can inspect stored data on WebSQL, LocalStorage and SessionStorage by using an open source tool called <a href="http://people.apache.org/~pmuellr/weinre/docs/latest/">weinre</a>, which can interact with the browser remotely using <a href="https://developers.google.com/chrome-developer-tools/docs/debugger-protocol">the DevTools protocol</a>. </p>

<figure><img src="weinre.png" /></figure>

<p>You can delete those data individually on weinre. If you don't have weinre installed, you need to follow the instructions below to delete them. Note that you can't delete per domain.</p>

<p>Open system's "Settings" > "Apps" > "Browser" and tap "Clear data"</p>

<h2 id="toc-safari">Safari / Safari for iOS</h2>

<table>
<tr>
<th></th>
<th>AppCache</th>
<th>FileSystem</th>
<th>IndexedDB</th>
<th>WebSQL</th>
<th>LocalStorage</th>
<th>SessionStorage</th>
</tr>
<tr>
<td>Safari 6, 7</td>
<td>Unlimited?</td>
<td class="empty"></td>
<td class="empty"></td>
<td>5<span class="mb">MB</span>, 10<span class="mb">MB</span>, 50<span class="mb">MB</span>, 100<span class="mb">MB</span>, 500<span class="mb">MB</span>, 600<span class="mb">MB</span>, 700<span class="mb">MB</span>...</td>
<td>5<span class="mb">MB</span></td>
<td>Unlimited</td>
</tr>
<tr>
<td>Mobile Safari 6, 7</td>
<td>300<span class="mb">MB</span>?</td>
<td class="empty"></td>
<td class="empty"></td>
<td>5<span class="mb">MB</span>, 10<span class="mb">MB</span>, 25<span class="mb">MB</span>, 50<span class="mb">MB</span></td>
<td>5<span class="mb">MB</span></td>
<td>5<span class="mb">MB</span></td>
</tr>
<tr>
<td>iOS WebView</td>
<td>100<span class="mb">MB</span>?</td>
<td class="empty"></td>
<td class="empty"></td>
<td>50<span class="mb">MB</span></td>
<td>5<span class="mb">MB</span></td>
<td>5<span class="mb">MB</span></td>
</tr>
</table>

<p>Safari can use Application Cache, WebSQL, LocalStorage and SessionStorage. <br />
For desktop, you can use up to 5MB for LocalStorage. Similar to Android Browser, SessionStorage is unlimited since it stores data on memory instead of disks. <br />
WebSQL's quota policy is a bit unique here. Safari asks a user for permissions in multiple size points as described above. But if <code>openDatabase</code> is called with more than 5MB of size, Safari will ask the user for a permission of the closest upper limit on database creation. If granted, it won't ask the user another permission until actual data size is about to exceed that number.<br />
Though unconfirmed, Application Cache on Safari is said to have no limit on storing data.</p>

<p>For mobile, the rules are similar but the upper limits are different. <br />
The SessionStorage's limit is 5MB as it is on LocalStorage. On WebSQL, it asks a user for permissions but you can't store data any more than 50MB.<br/>
I've seen an information that Application Cache's upper limit is 10MB, however, I could successfully store data up to 300MB at least.</p>

<blockquote class="commentary talkinghead"><b>Note</b>: iOS 7 Safari has <a href="http://www.mobilexweb.com/blog/safari-ios7-html5-problems-apis-review" target="_blank">a bug that throws an exception when requesting more than 5MB on database creation</a>. This is not fixed as of iOS 7.0.4. Work around is to request less than 5MB and let Safari ask for permissions. This is annoying for users, but there's no way around.<br>
<b>Update</b>: This problem seems to have been solved at iOS 7.1. See details <a href="http://www.mobilexweb.com/blog/ios-7-1-safari-minimal-ui-bugs" target="_blank">here</a>.</blockquote>

<p>On iOS WebView, WebSQL's upper limit is also 50MB but it won't ask for permission and generates an error.</p>

<h3 id="toc-safari_inspect">How to inspect</h3>

<p>On desktop, you can use Web Inspector to inspect LocalStorage, SessionStorage and WebSQL.</p>

<figure><img src="safari-inspector.png" /></figure>
<p>On mobile, you can inspect LocalStorage and SessionStorage. To learn more about debugging mobile Safari, see <a href="https://developer.apple.com/library/safari/documentation/AppleApplications/Conceptual/Safari_Developer_Guide/GettingStarted/GettingStarted.html#//apple_ref/doc/uid/TP40007874-CH2-SW8">this document</a>.</p>

<h2 id="toc-ie">Internet Explorer</h2>

<table>
<tr>
<th></th>
<th>AppCache</th>
<th>FileSystem</th>
<th>IndexedDB</th>
<th>WebSQL</th>
<th>LocalStorage</th>
<th>SessionStorage</th>
</tr>
<tr>
<td>IE 9</td>
<td class="empty"></td>
<td class="empty"></td>
<td class="empty"></td>
<td class="empty"></td>
<td>10<span class="mb">MB</span></td>
<td>10<span class="mb">MB</span></td>
</tr>
<tr>
<td>IE 10, 11</td>
<td>100<span class="mb">MB</span>?</td>
<td class="empty"></td>
<td>10<span class="mb">MB</span>, 250<span class="mb">MB</span> (~999<span class="mb">MB</span>)</td>
<td class="empty"></td>
<td>10<span class="mb">MB</span></td>
<td>10<span class="mb">MB</span></td>
</tr>
</table>

<p>Internet Explorer supports LocalStorage and SessionStorage after version 9. Version 10 started to support Application Cache and IndexedDB as well. <br />
On LocalStorage and SessionStorage, users can store up to 10MB each. <br />
On IndexedDB, the browser asks users for permission at 10MB, then allows up to 250MB by default. It can store up to 999MB without permission but requires the user to change their settings to allow it; a developer cannot change this setting.<br />
On Application Cache, I got an error when storing around 100MB but it's difficult to tell that it was caused by going over quota.</p>

<figure><img src="ie-settings.png" /></figure>

<h3 id="toc-ie_inspect">How to inspect</h3>

<p>Unfortunately, there's no good way to inspect any of supported storage on Internet Explorer yet. <br />
You can still delete stored data per domain by</p>

<ol>
<li>Open "Internet Options"</li>
<li>Click on "Settings" under "Browsing history" in "General" tab.</li>
</ol>

<h2 id="toc-how_to_handle_going_over_quota">How to handle going over quota?</h2>

<p>What should you do when your app is over quota? Of course, it's up to app's design, but it's important to understand how APIs respond. I would like to share some sample code here since there's not much existing examples on the internet.</p>

<h3 id="toc-appcache">Application Cache</h3>

<p>The most tough storage to debug on is Application Cache. Some browsers kindly tell a reason of the error in console when something happens, but since there's no <code>DOMError</code> object associated with the event handler, there's no way to programmatically know what is going on.</p>

<pre class="prettyprint"><code>var appCache = window.applicationCache;
appCache.addEventListener('error', function(e) {
  // It's difficult to tell cause of this error since there's no information associated with the callback argument.
});</code></pre>

<h3 id="toc-filesystem">FileSystem API</h3>

<p>There are multiple cases where <a href="http://www.html5rocks.com/en/tutorials/file/filesystem/">FileSystem</a> generates quota exceeded error.</p>
<p>When quota exceeds on <code>FileEntry</code> or <code>DirectoryEntry</code>'s <code>getFile()</code>, <code>copyTo()</code> or <code>moveTo()</code> functions, an error calls the second function argument with <code>FileError</code> as an argument.
</p>
<p>When quota exceeds on <code>FileWriter</code>'s <code>write()</code> function, an error calls <code>onerror()</code> function with <code>ProgressEvent</code> as an argument. <code>FileError</code> (planned to be replaced with <code>DOMError</code>) is attached as <code>ProgressEvent.target.error</code>.</p>
<p>To determine if the error is caused by over quota, check if the <code>name</code> property of the <code>FileError</code> object is "<code>QuotaExceededError</code>" or not.</p>

<p>Note that FileSystem will throw a <code>DOMException</code> if you use sync version of the API (<a href="http://www.html5rocks.com/en/tutorials/file/filesystem-sync/">FileSystemSync</a>).</p>

<pre class="prettyprint"><code>filesystem.root.getDirectory(dirName, {create:true, exclusive:false},
function getDirectorySuccess(dirEntry) {
  dirEntry.getFile(fileName, {create:true, exclusive:false},
  function getFileSuccess(fileEntry) {
    fileEntry.createWriter(function(writer) {
      writer.onwriteend = function() {
        ...
      };
      writer.onerror = function(progressEvent) {
        var fileError = progressEvent.target.error;
        if (fileError.name === 'QuotaExceededError') {
          // Fallback code comes here.
        }
      };
      writer.write(blob);
    });
  },
  // argument will be DOMError in the future
  function getFileError(fileError) {
    if (fileError.name == 'QuotaExceededError') {
      // Fallback code comes here.
    }
  });
},
// argument will be DOMError in the future
function getDirectoryError(fileError) {
  if (fileError.name == 'QuotaExceededError') {
    // Fallback code comes here.
  }
});</code></pre>

<h3 id="toc-indexeddb">IndexedDB API</h3>

<p>When quota exceeds on <a href="http://www.html5rocks.com/en/tutorials/indexeddb/todo/">IndexedDB API</a>, the error calls the transaction's <code>onabort()</code> function with <code>Event</code> as an argument. To determine if the error is caused by a quota exceed, check if <code>name</code> property of <code>DOMError</code> object is "<code>QuotaExceededError</code>" or not.</p>

<p>When a browser requests user a permission for extending storage size, all browsers call this function only when the user doesn't allow it, otherwise, continue the transaction.</p>

<pre class="prettyprint"><code>var transaction = idb.transaction(['entries'], 'readwrite');
transaction.oncomplete = function(e) {
  ...
};
transaction.onerror = function(e) {
  ...
};
transaction.onabort = function(event) {
  var error = event.target.error; // DOMError
  if (error.name == 'QuotaExceededError') {
    // Fallback code comes here
  }
};
var req = transaction.objectStore('entries').put(data);
req.onerror = function(e) {
  // Quota error won't call this function
};</code></pre>

<h3 id="tos-websql">WebSQL Database</h3>

<p><a href="http://www.html5rocks.com/en/tutorials/webdatabase/todo/">WebSQL</a> is a bit tricky. When quota exceeds on WebSQL, the error calls the transaction's second function argument with <code>SQLError</code> as an argument. To determine if the error is caused by a quota exceed, check if <code>code</code> property of <code>SQLError</code> object matches <code>SQLError.QUOTA_ERR</code> or not.</p>

<p>Unfortunately, Safari calls this function regardless of if the user granted extending storage size permission or not. Also, there's no way for a developer to know if the user has actually given a permission.</p>

<pre class="prettyprint"><code>db.transaction(function onTransaction(t) {
  t.executeSql('INSERT INTO entries (name, size, date, payload) VALUES(?, ?, ?, ?)', data,
  function onExecuteSqlCallback(t, results) {
    ...
  },
  function onExecuteSqlError(t, e) {
    // Returning true to rollback, false to continue the transaction;
    return false;
  });
},
function onTransactionError(sqlError) {
  // Safari calls this function regardless if user permits more quota or not.
  // And there's no way for a developer to know user's reaction.
  if (sqlError.code === sqlError.QUOTA_ERR) {
    // Start over the transaction again to check if user permitted or not.
  }
},
function onTransactionSuccess() {
  ...
});</code></pre>

<h3 id="tos-localstorage">LocalStorage</h3>

<p>When quota exceeds on <a href="http://www.w3.org/TR/webstorage/">LocalStorage or SessionStorage</a>, catch exception using <code>try catch</code>. To determine if the error is caused by over quota, check if the <code>name</code> property of <code>DOMException</code> is either "<code>QuotaExceededError</code>" or "<code>NS_ERROR_DOM_QUOTA_REACHED</code>" (on Firefox).</p>

<pre class="prettyprint"><code>try {
  localStorage.setItem(data.name, JSON.stringify(data));
} catch(domException) {
  if (domException.name === 'QuotaExceededError' ||
      domException.name === 'NS_ERROR_DOM_QUOTA_REACHED') {
    // Fallback code comes here.
  }
}</code></pre>

<h2 id="toc-conclusion">Conclusion</h2>

<p>As you can see above, each browser has unique characteristics when it comes to storage, quota, and limits. It is important to make sure your app won't fail on exceeding quota and gracefully fall back to a meaningful result. Also, check out the <a href="http://www.youtube.com/watch?v=Z7sRMg0f5Hk">ServiceWorker</a> and the <a href="http://www.w3.org/TR/quota-api/">new Quota Management API</a> which specifications are under discussion. They will drastically change the way you will interact with the limitations this article described when implemented.</p>

<p>Lastly, please feel free to send us <a href="https://github.com/html5rocks/www.html5rocks.com/issues?state=open" target="_blank">Pull Requests</a> if you find any correction or updates in this article.</p>

{% endblock %}
