{% extends "tutorial.html" %}

{% block headauthor %}Jan Kleinert <jkleinert@google.com>{% endblock %}

{% block headtitle %}Como criar formulários incríveis com HTML5{% endblock %}
{% block pagetitle %}Como criar formulários incríveis com HTML5{% endblock %}
{% block head %}
<style>
  article > section :invalid { 
    border-color: #e88;
    -webkit-box-shadow: 0 0 5px rgba(255, 0, 0, .8);
    -moz-box-shadow:0 0 5px rbba(255, 0, 0, .8);
    -o-box-shadow:0 0 5px rbba(255, 0, 0, .8);
    -ms-box-shadow:0 0 5px rbba(255, 0, 0, .8);
    box-shadow:0 0 5px rgba(255, 0, 0, .8);
  }

  article > section :required {
    border-color: #88a;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
    -o-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
    -ms-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
    box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  }

  article > section form {
    width:300px;
    margin: 20px auto;
  }

  article > section input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border:1px solid #ccc;
    font-size:20px;
    width:300px;
    min-height:30px;
    display:block;
    margin-bottom:15px;
    margin-top:5px;
    outline: none;

    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    -ms-border-radius:5px;
    border-radius:5px;
  }

  article > section input[type=submit] {
    padding:10px;
    background:none;
  }

  table.alternating {
    table-layout: fixed;
    width: 100%; 
    text-align: left;
    border-collapse: collapse;
    border: 1px solid #eee;
  }

  table.alternating tr:nth-child(even) {
    background-color: #eee;
  }

  table.alternating thead {
    background-color: #eee;
  }

    
</style>
{% endblock %}
{% block pagebreadcrumb %}Como criar formulários incríveis com HTML5{% endblock %}
{% block date %}1º de junho de 2011{% endblock %}
{% block updated %}{% endblock %}
{% block onload %}{% endblock %}

{% block browsersupport %}
<span class="browser opera supported"><span class="browser_name">Opera</span><span class="support">compatível</span></span> <span class="browser ie"><span class="browser_name">Internet Explorer</span><span class="support">não compatível</span></span> <span class="browser safari supported"><span class="browser_name">Safari</span><span class="support">compatível</span></span> <span class="browser ff supported"><span class="browser_name">Firefox</span><span class="support">compatível</span></span> <span class="browser chrome supported"><span class="browser_name">Google Chrome</span><span class="support">compatível</span></span>
{% endblock %}

{% block iscompatible %}
  voltar !!(Modernizr.inputtypes.number && Modernizr.inputtypes.email && Modernizr.inputtypes.date && Modernizr.input.placeholder && Modernizr.input.pattern);
{% endblock %}

{% block html5badge %}
<img src="/static/images/identity/html5-badge-h-css3-semantics.png" width="165" height="64" alt="Este artigo foi elaborado com tecnologia HTML5 CSS3 &amp; Styling and Semantics" title="Este artigo foi elaborado com tecnologia HTML5 CSS3 &amp; Styling and Semantics"  />
{% endblock %}

{% block content %}
  <h2 id="toc-introduction">Introdução</h2>
  <p>Nem todo mundo gosta de formulários, mas o HTML5 traz grandes melhorias, tanto para os desenvolvedores que criam formulários quanto para os usuários que os preenchem. Com os novos elementos, atributos e tipos de entrada de formulário, a validação baseada no navegador, as técnicas de estilo CSS3 e o objeto FormData, ficou mais fácil e, espera-se, mais agradável criar formulários.</p>

  <p class="notice tip">
    There is even more up to date forms guidance on our new
    <a href="https://developers.google.com/web/fundamentals/user-input/form-input/">Web Fundamentals</a> site.
  </p>

  <h3 id="toc-intro-support">Suporte a navegadores</h3>

  <p>Até a data deste artigo, o suporte para todos os novos elementos, atributos e tipos de formulário e entrada varia muito entre os navegadores. Até mesmo entre os navegadores que suportam determinado recurso, o comportamento pode ser diferente de um navegador para outro. Contudo, o estado do suporte de formulários em HTML5 vem mudando rapidamente e está cada vez melhor. Até a data do artigo, <a href="http://wufoo.com/html5/" 
  target="_blank">estes gráficos</a> (link em inglês) eram os mais atualizados que foi possível encontrar e apresentavam detalhes sobre o estado do suporte dos navegadores aos formulários em HTML5.</p>

  <h2 id="toc-inputs-attributes">Visão geral do que mudou</h2>

  <h3 id="toc-inputs-attributes-elements">Novos elementos</h3>

  <p>O HTML5 apresenta cinco novos elementos relacionados às entradas e aos formulários. 
  <table class="alternating">
    <thead>
      <tr>
        <th scope="col">Elemento</th>
        <th scope="col">Finalidade</th>
        <th scope="col">Observações</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code><a href="http://dev.w3.org/html5/spec/Overview.html#the-progress-element" 
        target="_blank">progress</a></code> (link em inglês)</td>
        <td>Representa o andamento da execução de uma tarefa.</td>
        <td>O elemento <code>progress</code> pode representar o andamento do upload de um arquivo.</td>
      </tr>
      <tr>
        <td><code><a href="http://dev.w3.org/html5/spec/Overview.html#the-meter-element" 
        target="_blank">meter</a></code> (link em inglês)</td>
        <td>Representa uma medida escalar dentro de um intervalo conhecido.</td>
        <td>O elemento <code>meter</code> pode ser usado para representar algo como uma medida de temperatura ou peso.</td>
      </tr>
      <tr>
        <td><code><a href="http://dev.w3.org/html5/spec/Overview.html#the-datalist-element" 
        target="_blank">datalist</a></code> (link em inglês)</td>
        <td>Representa um conjunto de elementos <code>option</code> que podem ser usados em combinação com o novo atributo <code>list</code> para entrada de criação de menus suspensos.</td>
        <td>Quando a entrada com a lista de dados associada fica em destaque, um menu suspenso aparece e apresenta os valores de <code>datalist</code>.
        </td>
      </tr>
      <tr>
        <td><code><a href="http://dev.w3.org/html5/spec/Overview.html#the-keygen-element" 
        target="_blank">keygen</a></code> (link em inglês)</td>
        <td>Um controle para geração de um par de chaves.</td>
        <td>Quando o formulário é enviado, a chave privada fica armazenada no keystore, e a chave pública é enviada ao servidor.</td>
      </tr>
      <tr>
        <td><code><a href="http://dev.w3.org/html5/spec/Overview.html#the-output-element" 
        target="_blank">output</a></code> (link em inglês)</td>
        <td>Exibe os resultados de um cálculo.</td>
        <td>Um exemplo do uso do elemento <code>output</code> é a exibição da soma dos valores de dois elementos de entrada</code>.</td>
      </tr>
    </tbody>
  </table>
  </p>

  <h3 id="toc-inputs-attributes-types">Novos tipos de entrada</h3>

  <p>O HTML5 apresenta 13 novos tipos de entrada. Quando visualizados em um navegador sem suporte, estes tipos de entrada são convertidos em entrada de texto.

  <table class="alternating">
    <thead>
      <tr>
        <th scope="col">Tipo de entrada</th>
        <th scope="col">Finalidade</th>
        <th scope="col">Observações</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>tel</code></td>
        <td>Usado para inserir um número de telefone.</td>
        <td>O <code>tel</code> não impõe nenhuma sintaxe particular, portanto, se quiser determinar um formato específico, use <code>pattern</code> ou <code>setCustomValidity()</code> para validação adicional.</td>
      </tr>
      <tr>
        <td><code>search</code></td>
        <td>Solicita aos usuários que digitem o texto pelo qual desejam buscar.</td>
        <td>A diferença entre <code>search</code> e <code>text</code> é basicamente estilística. O uso de uma entrada do tipo <code>search</code> pode fazer com que o campo de entrada fique com o mesmo estilo dos campos de pesquisa da plataforma usada.</td>
      </tr>
      <tr>
        <td><code>url</code></td>
        <td>Usado para inserir um URL único.</td>
        <td>A função do <code>url</code> é inserir um URL único e <a href="http://www.w3.org/TR/html5/urls.html#absolute-url" target="_blank">absoluto</a> (link em inglês), que representa uma grande extensão de valores.</td>
      </tr>
      <tr>
        <td><code>email</code></td>
        <td>Usado para inserir um único endereço de e-mail ou uma lista de endereços de e-mail.</td>
        <td>Se for especificado o atributo <code>multiple</code>, podem ser inseridos vários endereços de e-mail, separados por vírgulas.</td>
      </tr>
      <tr>
        <td><code>datetime</code></td>
        <td>Usado para inserir data e hora com o fuso horário em UTC.</td>
        <td></td>
      </tr>
      <tr>
        <td><code>date</code></td>
        <td>Usado para inserir uma data sem fuso horário.</td>
        <td></td>
      </tr>
      <tr>
        <td><code>month</code></td>
        <td>Usado para inserir uma data com ano e mês, sem fuso horário.</td>
        <td></td>
      </tr>
      <tr>
        <td><code>week</code></td>
        <td>Para inserir uma data formada por um número de ano e um número de semana, mas sem fuso horário.</td>
        <td>Um exemplo deste formato é 2011-W05 para a quinta semana de 2011.
        </td>
      </tr>
      <tr>
        <td><code>time</code></td>
        <td>Usado para inserir um valor de horário com hora, minuto, segundos e fração de segundos, mas sem fuso horário.</td>
        <td></td>
      </tr>
      <tr>
        <td><code>datetime-local</code></td>
        <td>Para inserir data e hora sem fuso horário.</td>
        <td></td>
      </tr>
      <tr>
        <td><code>number</code></td>
        <td>Para entrada numérica.</td>
        <td>Os valores válidos são <a href="http://www.w3.org/TR/html5/common-microsyntaxes.html#valid-floating-point-number" 
        target="_blank">números de ponto flutuantes</a> (link em inglês).</td>
      </tr>
      <tr>
        <td><code>range</code></td>
        <td>Para entrada numérica, mas ao contrário de <code>number</code>, o valor real não é importante.</td>
        <td>A implementação do controle de intervalo é um controle deslizante na maioria dos navegadores que têm suporte.</td>
      </tr>
      <tr>
        <td><code>color</code></td>
        <td>Usado para escolher a cor em um controle de cores.</td>
        <td>O valor deve ser uma <a href="http://www.w3.org/TR/html5/common-microsyntaxes.html#valid-lowercase-simple-color" 
        target="_blank">cor simples, válida e em minúscula</a> (link em inglês) como #ffffff.</td>
      </tr>
    </tbody>
  </table>
  </p>

  <h3 id="toc-inputs-attributes-attributes">Novos atributos de entrada</h3>

  <p>O HTML5 também apresenta vários novos atributos para os elementos de formulário e entrada.
  <table class="alternating">
    <thead>
      <tr>
        <th scope="col">Atributo</th>
        <th scope="col">Finalidade</th>
        <th scope="col">Observações</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>autofocus</code></td>
        <td>Foca a entrada no elemento quando a página é carregada.</td>
        <td><code>autofocus</code> pode ser aplicado para entrada, seleção, área de texto e botão.</td>
      </tr>
      <tr>
        <td><code>placeholder</code></td>
        <td>Dá ao usuário a dica sobre qual tipo de dado inserir.</td>
        <td>O valor do placeholder aparece em texto claro até que o elemento seja destacado e o usuário insira alguns dados. Pode ser especificado na entrada e área de texto.</td>
      </tr>
      <tr>
        <td><code>form</code></td>
        <td>Especifica um ou mais formulários aos quais o elemento de entrada pertence.</td>
        <td>Usando o atributo <code>form</code>, os elementos de entrada podem ser colocados em qualquer lugar da página, não apenas no elemento de formulário. Além disso, um único elemento de entrada também pode ser associado a mais de um formulário.</td>
      </tr>
      <tr>
        <td><code>required</code></td>
        <td>Um atributo boleano que significa que o elemento é obrigatório.</td>
        <td>O atributo <code>required</code> é útil para realizar a validação baseada no navegador sem usar JavaScript personalizado.</td>
      </tr>
      <tr>
        <td><code>autocomplete</code></td>
        <td>Especifica que um campo não deve ser preenchido automaticamente ou pré-preenchido pelo navegador de acordo com as entradas anteriores de um usuário.</td>
        <td>O atributo <code>autocomplete</code> serve para campos como número de cartão de crédito ou senha de autenticação, casos em que o preenchimento automático não é recomendável. Por padrão, <code>autocomplete</code> possui o estado <code>on</code>, portanto, se desejar desativá-lo, coloque-o em <code>off</code>.</td>
      </tr>
      <tr>
        <td><code>pattern</code></td>
        <td>Usado para validar o valor de um elemento com relação a uma expressão regular.</td>
        <td>Ao usar um <code>pattern</code>, você deve especificar também um valor <code>title</code> para dar ao usuário uma descrição do padrão esperado.</td>
      </tr>
      <tr>
        <td><code>dirname</code></td>
        <td>Usado para enviar a direcionalidade do controle com o formulário.</td>
        <td>Por exemplo, se o usuário inserir dados de texto com direcionalidade da direita para a esquerda e o elemento de entrada contiver o atributo <code>dirname</code>, então, uma indicação da direcionalidade da direita para a esquerda será enviada junto com o valor de entrada.</td>
      </tr>
      <tr>
        <td><code>novalidate</code></td>
        <td>Usado para desativar a validação de envio de formulário quando especificado em um elemento de formulário.</td>
        <td></td>
      </tr>
      <tr>
        <td><code>formaction</code></td>
        <td>Usado para substituir o atributo action no elemento de formulário.</td>
        <td>Este atributo é suportado nos elementos <code>input</code> e <code>button</code>.</td>
      </tr>
      <tr>
        <td><code>formenctype</code></td>
        <td>Usado para substituir o atributo enctype no elemento de formulário.</td>
        <td>Este atributo é suportado nos elementos <code>input</code> e <code>button</code>.</td>
      </tr>
      <tr>
        <td><code>formmethod</code></td>
        <td>Usado para substituir o atributo method no elemento de formulário.</td>
        <td>Este atributo é suportado nos elementos <code>input</code> e <code>button</code>.</td>
      </tr>
      <tr>
        <td><code>formnovalidate</code></td>
        <td>Usado para substituir o atributo novalidate no elemento de formulário.</td>
        <td>Este atributo é suportado nos elementos <code>input</code> e <code>button</code>.</td>
      </tr>
      <tr>
        <td><code>formtarget</code></td>
        <td>Usado para substituir o atributo target no elemento de formulário.</td>
        <td>Este atributo é suportado nos elementos <code>input</code> e <code>button</code>.</td>
      </tr>
    </tbody>
  </table> 
  </p>
  
  <h3 id="toc-form-data-object">Objeto FormData</h3>

  <p>Um dos aprimoramentos do <code><a href="http://dev.w3.org/2006/webapi/XMLHttpRequest-2" 
  target="_blank">XMLHttpRequest</a></code> (link em inglês) é a introdução do objeto <code> <a href="http://dev.w3.org/2006/webapi/XMLHttpRequest-2/#the-formdata-interface" 
  target="_blank">FormData</a></code> (link em inglês). Com o objeto <code>FormData</code>, você pode criar e enviar um conjunto de pares de chave/valor e, opcionalmente, arquivos usando <code>XMLHttpRequest</code>. Quando essa técnica é usada, os dados são enviados no mesmo formato em que seriam enviados pelo método <code>submit()</code> do formulário com o tipo de codificação <code>multipart/form-data</code>.</p>

  <p><code>FormData</code> fornece uma maneira de criar formulários em HTML durante a execução usando JavaScript e, então, enviá-los usando<code>XMLHttpRequest.send()</code>. Segue um exemplo simples:</p>
  <pre class="prettyprint">var formData = new FormData();
formData.append("part_num", "123ABC"); 
formData.append("part_price", 7.95);
formData.append("part_image", somefile)

var xhr = new XMLHttpRequest();
xhr.open("POST", "http://some.url/");  
xhr.send(formData);</pre>

  <p>Você pode usar <code>FormData</code> para incluir dados adicionais em um formulário existente antes de enviá-lo.</p>
  <pre class="prettyprint">var formElement = document.getElementById("someFormElement");
var formData = new FormData(formElement);
formData.append("part_description", "The best part ever!");

var xhr = new XMLHttpRequest();
xhr.open("POST", "http://some.url/");
xhr.send(formData);</pre>

  <h2 id="toc-validation">Validação baseada em navegador</h2>

  <p>Sejamos honestos. Validar dados de formulário é uma tarefa bem chata, mas que precisa ser feita de qualquer maneira. Para realizar a validação de formulário do lado do cliente, é provável que você escreva algum código de JavaScript personalizado ou use uma biblioteca para executar tarefas como confirmar se as entradas são válidas ou garantir que os campos obrigatórios sejam preenchidos antes de enviar o formulário.
  </p>

  <p>Com os novos atributos de entrada, como <code>required</code> e <code>pattern</code>, usados em combinação com seletores de pseudoclasse CSS, fica mais fácil criar as confirmações e exibir feedback para o usuário. Existem outras técnicas de validação avançada que permitem usar JavaScript para configurar regras e mensagens de validade personalizadas ou para determinar se um elemento é inválido e o motivo.</p>

  <h3 id="toc-required">Atributo required</h3>

  <p>Se o atributo <code>required</code> estiver presente, o campo deve conter um valor quando o formulário for enviado. Segue um exemplo de um campo de entrada para endereço de e-mail obrigatório, que garante que o campo tenha um valor e que o valor seja um endereço de e-mail válido, como definido <a href="http://dev.w3.org/html5/spec/Overview.html#valid-e-mail-address" 
  target="_blank">aqui</a> (link em inglês).<br>
  <pre class="prettyprint">&lt;input type="email" id="email_addr" name="email_addr" required /&gt;</pre>
  </p>

  <h3 id="toc-pattern">Atributo pattern</h3>

  <p>O atributo <code>pattern</code> especificou uma expressão regular usada para validar um campo de entrada. Esse exemplo representa um campo de entrada de texto obrigatório para um número de peça. Para efeito desse exemplo, digamos que um número de peça seja formado por três letras maiúsculas seguidas de quatro dígitos. O uso de <code>required</code> e <code>pattern</code> garante que o campo tenha um valor e que o valor corresponda ao formato correto para um número de peça. Se o usuário passar o mouse no campo, a mensagem no atributo title é exibida.
  <br>
  <pre class="prettyprint">&lt;input type="text" id="part" name="part" required pattern="[A-Z]{3}[0-9]{4}"
       title="Part numbers consist of 3 uppercase letters followed by 4 digits."/&gt;</pre>
  </p>

  <p>De acordo com o exemplo anterior, você pode contornar o campo de entrada em vermelho se um número de peça inválido for inserido. Para fazer isso, adicione este CSS para fazer com que o campo de entrada apareça com contorno vermelho se o valor for inválido.
  <br>
  <pre class="prettyprint">:invalid {
  border: 2px solid #ff0000;
}</pre>

  <h3 id="toc-formnovalidate">Atributo formnovalidate</h3>
  <p>O atributo <code>formnovalidate</code> pode ser aplicado aos elementos <code>input</code> ou <code>button</code>. Se estiver presente, a validação de envio do formulário é desativada. Este é um exemplo em que o envio de um formulário pelo botão Enviar exige uma entrada válida, mas o envio pelo botão Salvar não exige.
  <br>
  <pre class="prettyprint">&lt;input type="text" id="part" name="part" required pattern="[A-Z]{3}[0-9]{4}"
       title="Part numbers consist of 3 uppercase letters followed by 4 digits."/&gt;
&lt;input type="submit" formnovalidate value="Save"&gt;
&lt;input type="submit" value="Submit"&gt;</pre>
  </p>

  <h3 id="toc-constraint-validation">API de validação de restrição</h3>

  <p>A <a href="http://dev.w3.org/html5/spec/association-of-controls-and-forms.html#the-constraint-validation-api" 
  target="_blank">API de validação de restrição</a> (link em inglês) fornece ferramentas avançadas para trabalhar com validação personalizada. A API permite executar tarefas como configurar um erro personalizado, confirmar se um elemento é válido e determinar o motivo pelo qual o elemento é inválido. Este exemplo mostra um erro personalizado se os valores em dois campos não corresponderem.
  <br>
  <pre class="prettyprint">&lt;label&gt;Email:&lt;/label&gt;
&lt;input type="email" id="email_addr" name="email_addr"&gt;

&lt;label&gt;Repeat Email Address:&lt;/label&gt;
&lt;input type="email" id="email_addr_repeat" name="email_addr_repeat" oninput="check(this)"&gt;

&lt;script&gt;
function check(input) {
  if (input.value != document.getElementById('email_addr').value) {
    input.setCustomValidity('The two email addresses must match.');
  } else {
    // input is valid -- reset the error message
    input.setCustomValidity('');
  }
}
&lt;/script&gt;</pre>
  </p>

  <h2 id="toc-example-form">Tudo junto</h2>

  <p>Este é um exemplo de formulário de solicitação de reserva que reúne vários tipos de entrada, validação de formulário e seletores de CSS e estilo.</p>
  <form oninput="total.value = (nights.valueAsNumber * 99) + 
   ((guests.valueAsNumber - 1) * 10)">
    <label>Nome completo:</label>
    <input type="text" id="full_name" name="full_name" placeholder="Jane Doe" 
    required>

    <label>Endereço de e-mail:</label>
    <input type="email" id="email_addr" name="email_addr" required>

    <label>Confirmar endereço de e-mail:</label>
    <input type="email" id="email_addr_repeat" name="email_addr_repeat" required
    oninput="check(this)">

    <label>Data de chegada:</label>
    <input type="date" id="arrival_dt" name="arrival_dt" required>
    
    <label>Número de noites (quartos a R$ 99 por noite):</label>
    <input type="number" id="nights" name="nights" value="1" min="1" max="30" 
    required>

    <label>Números de hóspedes (cada hóspede adicional custa R$ 10 a mais por noite):</label>
    <input type="number" id="guests" name="guests" value="1" min="1" max="4" 
    required>

    <label>Total estimado:</label>
    $<output id="total" name="total">99</output>.00
    <br><br>

    <label>Código promocional:</label>
    <input type="text" id="promo" name="promo" pattern="[A-Za-z0-9]{6}" 
    title="Promo codes consist of 6 alphanumeric characters.">

    <input type="submit" value="Solicitar reserva"  /> 
  </form>

  <script>
  function check(input) {
    if (input.value != document.getElementById('email_addr').value) {
      input.setCustomValidity('The two email addresses must match.');
    } else {
      // input is valid -- reset the error message
      input.setCustomValidity('');
    }
  }
  </script>

  <p>Este é o HTML e o JavaScript para o formulário:</p>
  <pre class="prettyprint">&lt;form oninput="total.value = (nights.valueAsNumber * 99) + 
 ((guests.valueAsNumber - 1) * 10)"&gt;

  &lt;label&gt;Full name:&lt;/label&gt;
  &lt;input type="text" id="full_name" name="full_name" placeholder="Jane Doe" required&gt;

  &lt;label&gt;Email address:&lt;/label&gt;
  &lt;input type="email" id="email_addr" name="email_addr" required&gt;

  &lt;label&gt;Repeat email address:&lt;/label&gt;
  &lt;input type="email" id="email_addr_repeat" name="email_addr_repeat" required 
   oninput="check(this)"&gt;

  &lt;label&gt;Arrival date:&lt;/label&gt;
  &lt;input type="date" id="arrival_dt" name="arrival_dt" required&gt;
  
  &lt;label&gt;Number of nights (rooms are $99.00 per night):&lt;/label&gt;
  &lt;input type="number" id="nights" name="nights" value="1" min="1" max="30" required&gt;

  &lt;label&gt;Number of guests (each additional guest adds $10.00 per night):&lt;/label&gt;
  &lt;input type="number" id="guests" name="guests" value="1" min="1" max="4" required&gt;

  &lt;label&gt;Estimated total:&lt;/label&gt;
  $&lt;output id="total" name="total"&gt;99&lt;/output&gt;.00
  &lt;br&gt;&lt;br&gt;

  &lt;label&gt;Promo code:&lt;/label&gt;
  &lt;input type="text" id="promo" name="promo" pattern="[A-Za-z0-9]{6}" 
   title="Promo codes consist of 6 alphanumeric characters."&gt;

  &lt;input type="submit" value="Request Reservation" /&gt; 
&lt;/form&gt;

&lt;script&gt;
function check(input) {
  if (input.value != document.getElementById('email_addr').value) {
    input.setCustomValidity('The two email addresses must match.');
  } else {
    // input is valid -- reset the error message
    input.setCustomValidity('');
  }
}
&lt;/script&gt;
</pre>

  <p>Este é o CSS que acompanha o código de formulário:</p>
  <pre class="prettyprint">:invalid { 
  border-color: #e88;
  -webkit-box-shadow: 0 0 5px rgba(255, 0, 0, .8);
  -moz-box-shadow: 0 0 5px rbba(255, 0, 0, .8);
  -o-box-shadow: 0 0 5px rbba(255, 0, 0, .8);
  -ms-box-shadow: 0 0 5px rbba(255, 0, 0, .8);
  box-shadow:0 0 5px rgba(255, 0, 0, .8);
}

:required {
  border-color: #88a;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -o-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -ms-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  box-shadow: 0 0 5px rgba(0, 0, 255, .5);
}

form {
  width:300px;
  margin: 20px auto;
}

input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border:1px solid #ccc;
  font-size:20px;
  width:300px;
  min-height:30px;
  display:block;
  margin-bottom:15px;
  margin-top:5px;
  outline: none;

  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  -ms-border-radius:5px;
  border-radius:5px;
}

input[type=submit] {
  background:none;
  padding:10px;
}</pre>

<h2 id="resources">Fontes</h2>
<ul>
  <li><a href="http://www.w3.org/TR/html5/forms.html">Especificação W3C</a> (link em inglês)</li>
  <li><a href="http://wufoo.com/html5/">Estado atual dos formulários HTML5</a> (link em inglês)</li>
</ul>
{% endblock %}