{% extends "tutorial.html" %}
{% load mixin from templatefilters %}

{% block pagebreadcrumb %}{{ tut.title }}{% endblock %}

{% block head %}
<style>
blockquote {
  background: rgb(238, 238, 238);
  padding: 1px 10px;
}
label.bad, label.good, label.sortof {
  padding: 4px;
  line-height: 1.7;
  border-radius: 50%;
  color: white;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
  box-shadow: -2px 2px 3px 3px rgba(0, 0, 0, 0.25) inset;
  width: 20px;
  height: 20px;
  font-size: 16px;
}
label.good::after,
label.bad::after,
label.sortof::after {
  position: relative;
  left: 2px;
  top: -5px;
}
label.bad {
  background-color: red;
}
label.bad::after {
  content: ':(';
}
label.good {
  background-color: green;
}
label.good::after {
  content: ':)';
}
label.sortof {
  background-color: rgb(230, 190, 32);
  line-height: 1.8;
}
label.sortof::after {
  content: ':|';
}
.talkinghead:before {
  background-image: url(/static/images/profiles/75/ericbidelman.75.png);
  background-position: 0px 0px !important;
}
.disabledemos .demoarea {
  display: none !important;
}
.demoarea {
  margin-top: 1em;
}
.demoarea:before {
  content: 'Live demo:';
  position: absolute;
  top: -20px;
  left: 0;
  font-weight: bold;
  text-transform: uppercase;
}
.demoarea {
  padding: 10px;
  background: #fff;
  border: 1px dashed #000;
  display: inline-block;
  position: relative;
}
</style>
{% endblock %}

{% block iscompatible %}
  return 'HTMLTemplateElement' in window;
{% endblock %}

{% block html5badge %}
<!-- Your HTML5 badge (tech class icons used in the article) goes here -->
{% endblock %}

{% block share_image %}
<!--<meta itemprop="image" content="images/your_social_sharing_img.png">-->
{% endblock %}

{% block content %}

<p>{% include "warning.html" %}</p>
<h2 id="toc-intro">Introduzione</h2>

<p>Il concetto di templating non è nuovo nell'ambito dello sviluppo web. Difatti, <a href="http://en.wikipedia.org/wiki/Template_engine_(web)">linguaggi/engine di templating</a> lato server come Django (Python), ERB/Haml (Ruby) e Smarty (PHP) si vedono in giro da parecchio tempo. Nell'ultimo paio d'anni comunque, si è assistito ad un'esplosione di nuovi framework MVC. Tra di loro sono tutti differenti, sebbene la maggior parte di loro condivida un meccanismo comune per il rendering del layer di presentazione (ovvero la view): i template.</p>

<p>Diciamoci la verità. I template sono fantastici. Chiedete in giro se volete. Anche la sola <a href="http://www.thefreedictionary.com/template">definizione</a> di template fa sentire coccolati e al sicuro:</p>
<blockquote>
<p><strong>template</strong> (n) - Un documento o un file con un formato predeterminato, utilizzato come punto di partenza per una determinata applicazione in modo che il formato non debba essere ricreato ogni volta che il file viene adoperato.</p>
</blockquote>
<p>"...non deve essere ricreato ogni volta..." Non so voi, ma io adoro evitare lavoro extra. Ma allora, perché le piattaforme web difettano di un supporto nativo per qualcosa cui gli sviluppatori sono chiaramente interessati?</p>

<p>La risposta si trova nella <a href="https://dvcs.w3.org/hg/webcomponents/raw-file/tip/spec/templates/index.html">specifica W3C dei Template HTML</a>. Questa definisce un nuovo elemento <code>&lt;template&gt;</code> il quale descrive un approccio standard e DOM-based per il templating lato client. I template consentono di creare frammenti di markup che vengono parsati come HTML e inutilizzati al caricamento della pagina, ma che possono essere istanziati in seguito durante l'esecuzione. Per citare <a href="https://plus.google.com/111386188573471152118/posts">Rafael Weinstein</a> (uno degli autori della specifica):</p>
<blockquote>
<p>"I template sono un posto in cui infilare un mucchietto di HTML con cui il browser non deve pasticciare... per nessun motivo."</p>
</blockquote>
<h3 id="toc-detect">Scoperta della funzionalità</h3>

<p>Per rilevare la funzionalità <code>&lt;template&gt;</code>, si crea un relativo elemento del DOM e si controlla che esista la proprietà <code>.content</code>:</p>
<pre class="prettyprint"><code>function supportsTemplate() {
  return 'content' in document.createElement('template');
}

if (supportsTemplate()) {
  // Good to go!
} else {
  // Use old templating techniques or libraries.
}
</code></pre>
<h2 id="toc-started">Dichiarazione del contenuto template</h2>

<p>L'elemento HTML <code>&lt;template&gt;</code> rappresenta un template nel markup. Esso contiene "contenuti template"; in sostanza si tratta di <strong>pezzi inerti di DOM clonabile</strong>. Si pensi ai template come a parti di una struttura che possono essere utilizzati (e riutilizzati) durante l'intero ciclo di vita dell'applicazione.</p>
<p>Per creare un contenuto template, si dichiarano degli elementi di markup e si impacchettano in un elemento <code>&lt;template&gt;</code>:</p>
<pre class="prettyprint"><code>&lt;template id="mytemplate"&gt;
  &lt;img src="" alt="great image"&gt;
  &lt;div class="comment"&gt;&lt;/div&gt;
&lt;/template&gt;
</code></pre>
<blockquote class="commentary talkinghead">
Il lettore attento avrà notato che il tag immagine è vuoto. Questa mancanza è del tutto adeguata e intenzionale. Un tag immagine non correttamente formato non genera un codice 404 e non produce errori nella console, perché non viene prelevato al caricamento della pagina. Siamo noi che più avanti nell'esecuzione possiamo generare dinamicamente la URL sorgente, come mostrato nelle <a href="#toc-pillars">fondamenta</a>.
</blockquote>

<h2 id="toc-pillars">Fondamenta</h2>

<p>Includere del contenuto in un <code>&lt;template&gt;</code> gode di alcune importanti proprietà.</p>
<ol>
<li>
<p>Il <strong>contenuto è effettivamente inerte fin quando non viene attivato</strong>. In poche parole, questo markup è nascosto e non viene renderizzato.</p>
</li>
<li>
<p>Qualsiasi contenuto all'interno di un template non ha effetti collaterali. <strong>Gli script non vengono eseguiti, le immagini non vengono caricate, l'audio non viene riprodotto</strong>,...fin quando il template non viene utilizzato.</p>
</li>
<li>
<p><strong>Il contenuto non è considerato interno al documento</strong>. Utilizzare <code>document.getElementById()</code> o <code>querySelector()</code> nella pagina principale non restituirà i nodi interni di un template.</p>
</li>
<li>
<p>I template <strong>possono</strong> essere posizionati ovunque in <code>&lt;head&gt;</code>, <code>&lt;body&gt;</code>, o <code>&lt;frameset&gt;</code> e possono contenere qualsiasi tipo di contenuto in essi consentito. Si consideri che "ovunque" significa che <code>&lt;template&gt;</code> può tranquillamente essere usato in posti non consentiti dal parser HTML...tutti tranne i figli dei <a href="http://www.w3.org/TR/html5-diff/#content-model">content model</a>. Un template può inoltre essere posizionato come figlio di <code>&lt;table&gt;</code> o <code>&lt;select&gt;</code>:</p>
<pre class="prettyprint"><code>&lt;table&gt;
&lt;tr&gt;
  &lt;template id="cells-to-repeat"&gt;
    &lt;td&gt;some content&lt;/td&gt;
  &lt;/template&gt;
&lt;/tr&gt;
&lt;/table&gt;
</code></pre>
</li>
</ol>
<h2 id="toc-using">Attivare un template</h2>

<p>Per usare un template, questo deve essere attivato, altrimenti il suo contenuto non sarà mai renderizzato. Il modo più semplice per attivare un template è creare una copia profonda del suo <code>.content</code>, utilizzando <code>cloneNode()</code>. <code>.content</code> è una proprietà in sola lettura cui fa riferimento <code>DocumentFragment</code>, contenente le interiora di un template.</p>
<pre class="prettyprint"><code>var t = document.querySelector('#mytemplate');
// Populate the src at runtime.
t.content.querySelector('img').src = 'logo.png';
document.body.appendChild(t.content.cloneNode(true));
</code></pre>
<p>Dopo aver eliminato un template, il suo contenuto "prende vita". Nell'esempio il contenuto viene clonato, viene eseguita la richiesta per l'immagine, e viene renderizzato il markup complessivo.</p>
<h2 id="toc-using">Demo</h2>

<h3 id="toc-demo-insert">Esempio: Script inerti</h3>

<p>Questo esempio mostra l'inerzia del contenuto di un template. Lo <code>&lt;script&gt;</code> viene eseguito solo quando si preme il pulsante, eliminando il template.</p>
<pre class="prettyprint"><code>&lt;button onclick="useIt()"&gt;Use me&lt;/button&gt;
&lt;div id="container"&gt;&lt;/div&gt;
&lt;script&gt;
  function useIt() {
    var content = document.querySelector('template').content;
    // Update something in the template DOM.
    var span = content.querySelector('span');
    span.textContent = parseInt(span.textContent) + 1;
    document.querySelector('#container').appendChild(
        content.cloneNode(true));
  }
&lt;/script&gt;

&lt;template&gt;
  &lt;div&gt;Template used: &lt;span&gt;0&lt;/span&gt;&lt;/div&gt;
  &lt;script&gt;alert('Thanks!')&lt;/script&gt;
&lt;/template&gt;
</code></pre>
<div class="demoarea">
<button onclick="useIt()">Use me</button>
<div id="container"></div>
<template id="inert-demo">
  <div>Template used <span>0</span></div>
  <script>if ('HTMLTemplateElement' in window) {alert('Thanks!')}</script>
</template>
<script>
  function useIt() {
    var content = document.querySelector('#inert-demo').content;
    var span = content.querySelector('span');
    span.textContent = parseInt(span.textContent) + 1;
    document.querySelector('#container').appendChild(content.cloneNode(true));
  }
</script>
</div>

<h3 id="toc-demo-sd">Esempio: Creare un DOM Shadow da un template</h3>

<p>Molte persone includono un <a href="tutorials/webcomponents/shadowdom/">DOM Shadow</a> ad un host settando una stringa di markup a <code>.innerHTML</code>:</p> 
<pre class="prettyprint"><code>&lt;div id="host"&gt;&lt;/div&gt;
&lt;script&gt;
  var shadow = document.querySelector('#host').webkitCreateShadowRoot();
  shadow.innerHTML = '&lt;span&gt;Host node&lt;/span&gt;';
&lt;/script&gt;
</code></pre>
<p>Il problema di questo approccio è che tanto più complesso diventa il DOM Shadow, tante più concatenazioni di stringhe devono essere fatte. Non essendo un approccio scalabile, le cose si complicano in fretta e i bambini iniziano a piangere. Questo approccio inoltre rappresenta il modo in cui XSS è nato! <code>&lt;template&gt;</code> ci viene a soccorrere.</p>
<p>Qualche volta sarebbe meglio lavorare direttamente sul DOM aggiungendo il contenuto di un template ad una root shadow:</p>
<pre class="prettyprint"><code>&lt;template&gt;
&lt;style&gt;
  @host {
    * {
      background: #f8f8f8;
      padding: 10px;
      -webkit-transition: all 400ms ease-in-out;
      box-sizing: border-box;
      border-radius: 5px;
      width: 450px;
      max-width: 100%;
    } 
    *:hover {
      background: #ccc;
    }
  }
  div {
    position: relative;
  }
  header {
    padding: 5px;
    border-bottom: 1px solid #aaa;
  }
  h3 {
    margin: 0 !important;
  }
  textarea {
    font-family: inherit;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid #aaa;
  }
  footer {
    position: absolute;
    bottom: 10px;
    right: 5px;
  }
&lt;/style&gt;
&lt;div&gt;
  &lt;header&gt;
    &lt;h3&gt;Add a Comment&lt;/h3&gt;
  &lt;/header&gt;
  &lt;content select="p"&gt;&lt;/content&gt;
  &lt;textarea&gt;&lt;/textarea&gt;
  &lt;footer&gt;
    &lt;button&gt;Post&lt;/button&gt;
  &lt;/footer&gt;
&lt;/div&gt;
&lt;/template&gt;

&lt;div id="host"&gt;
  &lt;p&gt;Instructions go here&lt;/p&gt;
&lt;/div&gt;

&lt;script&gt;
  var shadow = document.querySelector('#host').webkitCreateShadowRoot();
  shadow.appendChild(document.querySelector('template').content);
&lt;/script&gt;
</code></pre>
<p><template id="demo-sd-template">
<style>
  @host {
    * {
      background: #f8f8f8;
      padding: 10px;
      -webkit-transition: all 400ms ease-in-out;
      box-sizing: border-box;
      border-radius: 5px;
      width: 450px;
      max-width: 100%;
    } 
    *:hover {
      background: #ccc;
    }
  }
  #unsupportedbrowsersneedscoping {
    position: relative;
  }
  #unsupportedbrowsersneedscoping header {
    padding: 5px;
    border-bottom: 1px solid #aaa;
  }
  #unsupportedbrowsersneedscoping h3 {
    margin: 0 !important;
  }
  #unsupportedbrowsersneedscoping textarea {
    font-family: inherit;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid #aaa;
  }
  #unsupportedbrowsersneedscoping footer {
    position: absolute;
    bottom: 10px;
    right: 5px;
  }
</style>
<div id="unsupportedbrowsersneedscoping">
  <header>
    <h3>Add a Comment</h3>
  </header>
  <content select="p"></content>
  <textarea></textarea>
  <footer>
    <button>Post</button>
  </footer>
</div>
</template></p>
<div id="demo-sd-host">
  <p>Instructions go here</p>
</div>

<script>
(function() {
  var host = document.querySelector('#demo-sd-host');
  var compat = HTMLElement.prototype.webkitCreateShadowRoot ||
               HTMLElement.prototype.createShadowRoot ? true : false;
  if (compat && 'HTMLTemplateElement' in window) {
    var shadow = host.webkitCreateShadowRoot();
    shadow.applyAuthorStyles = true;
    shadow.appendChild(document.querySelector('#demo-sd-template').content);
  } else {
    document.querySelector('#unsupportedbrowsersneedscoping').style.display = 'none';
    host.style.display = 'none';
  }
})();
</script>

<h2 id="toc-gotcha">Guai in arrivo</h2>

<p>Riporto alcuni problemi in cui mi sono imbattuto utilizzando <code>&lt;template&gt;</code> allo stato brado:</p>
<ul>
<li>Se si utilizza <a href="http://code.google.com/p/modpagespeed/">modpagespeed</a>, bisogna fare attenzione a questo <a href="http://code.google.com/p/modpagespeed/issues/detail?id=625">bug</a>. I template che definiscono uno <code>&lt;style scoped&gt;</code> inline potrebbero essere spostati in testa grazie alla regola di riscrittura CSS PageSpeed.</li>
<li>Non c'è modo di "prerenderizzare" un template, il che significa che non è possibile precaricare gli asset, processare i JS, scaricare i CSS iniziali e così via. Questo vale sia per il server che per il client. L'unico momento in cui un template viene renderizzato è quando prende vita.</li>
<li>
<p>Attenzione ai template innestati. Questi non si comportano come ci si potrebbe aspettare. Ad esempio:</p>
<pre class="prettyprint"><code>&lt;template&gt;
  &lt;ul&gt;
    &lt;template&gt;
      &lt;li&gt;Stuff&lt;/li&gt;
    &lt;/template&gt;
  &lt;/ul&gt;
&lt;/template&gt;
</code></pre>
<p>L'attivazione del template più esterno non comporta l'attivazione del template interno. Ovvero, i template innestati richiedono che i figli siano attivati manualmente.</p>
</li>
</ul>
<h2 id="toc-old">Verso uno standard</h2>

<p>Non dimentichiamoci da dove veniamo. La strada per un templating HTML standard è di quelle lunghe. Durante gli anni sono stati messi a punto degli espedienti piuttosto ingegnosi per la creazione di template riusabili. Qui in basso ne sono presentati due piuttosto comuni in cui mi sono imbattuto. Li includo in questo articolo come termine di paragone.</p>
<h3 id="toc-offscreen">Metodo 1: DOM Offscreen</h3>

<p>Un approccio che è stato usato per lungo tempo prevede la creazione di un DOM "offscreen" e nasconderlo alla vista usando l'attributo <code>hidden</code> o <code>display:none</code>.</p>
<pre class="prettyprint"><code>&lt;div id="mytemplate" hidden&gt;
  &lt;img src="logo.png"&gt;
  &lt;div class="comment"&gt;&lt;/div&gt;
&lt;/div&gt;
</code></pre>
<p>Anche se questa tecnica funziona, essa presenta diversi svantaggi. Riassumendo:</p>
<ul>
<li><label class="good"></label> <em>Utilizza DOM</em> - il browser conosce DOM. Con DOM ci sa fare, e si può facilmente clonare.</li>
<li><label class="good"></label> <em>Nulla viene renderizzato</em> - l'aggiunta di <code>hidden</code> evita che il blocco venga visualizzato.</li>
<li><label class="bad"></label> <em>Non inerte</em> - anche se il contenuto è nascosto, una richiesta viene comunque eseguita per l'immagine.</li>
<li><label class="bad"></label> <em>Stili e temi poco agevoli</em> - una pagina incorporata deve prefissare tutte le sue regole CSS con <code>#mytemplate</code> al fine di includere gli stili nel template. Questo è un meccanismo piuttosto fragile e non ci sono garanzie di non generare eventuali collisioni di nomi. Ad esempio, siamo nei guai se la pagina interna ha già un elemento con quell'id.</li>
</ul>
<h3 id="toc-offscreen">Metodo 2: Overloading degli script</h3>

<p>Un'altra tecnica prevede l'overloading di <code>&lt;script&gt;</code> e la manipolazione del suo contenuto come se fosse una stringa. Probabilmente John Resig è stato il primo a mostrare questa tecnica nel 2008 con la sua <a href="http://ejohn.org/blog/javascript-micro-templating/">utility per Micro Templating</a>. Oggi ne esistono diverse altre, compresi alcuni nuovi arrivati come <a href="http://handlebarsjs.com/">handlebars.js</a>.</p>
<p>Ad esempio:</p>
<pre class="prettyprint"><code>&lt;script id="mytemplate" type="text/x-handlebars-template"&gt;
  &lt;img src="logo.png"&gt;
  &lt;div class="comment"&gt;&lt;/div&gt;
&lt;/script&gt;
</code></pre>
<p>Riassumendo:</p>
<ul>
<li><label class="good"></label> <em>Nulla viene renderizzato</em> - il browser non renderizza questi blocchi perché <code>&lt;script&gt;</code> è <code>display:none</code> di default.</li>
<li><label class="good"></label> <em>Inerte</em> - il browser non parsa il contenuto di uno script come JS perché il suo tipo viene impostato come qualcosa di diverso da "text/javascript".</li>
<li><label class="bad"></label> <em>Problemi di sicurezza</em> - questa tecnica incoraggia l'uso di <code>.innerHTML</code>. Il parsing a run-time di dati forniti dall'utente può facilmente portare a vulnerabilità XSS.</li>
</ul>
<h2 id="toc-conclusion">Conclusione</h2>

<p>Ricordate quando jQuery rese incredibilmente semplice lavorare con i DOM? Il risultato fu che <code>querySelector()</code>/<code>querySelectorAll()</code> vennero aggiunti alla piattaforma. Una vittoria evidente, no? Una libreria rese popolare il prelevamento di DOM con i selettori CSS e gli standard adottarono quella libreria. Non funziona sempre in questo modo, ma <em>amo</em> quando funziona in questo modo.</p>
<p>Penso che <code>&lt;template&gt;</code> rappresenti un caso simile. Questo tag standardizza il modo di fare templating lato client, e cosa ancora più importante elimina la necessità dei nostri <a href="#toc-old">folli hack del 2008</a>. Rendere l'intero precesso di sviluppo web più equilibrato, giù gestibile e sempre più ricco di funzionalità è a mio avviso sempre una buona cosa.</p>
<h2 id="toc-resources">Risorse aggiuntive</h2>

<ul>
<li><a href="https://dvcs.w3.org/hg/webcomponents/raw-file/tip/spec/templates/index.html">Specifica W3C</a></li>
<li><a href="https://dvcs.w3.org/hg/webcomponents/raw-file/tip/explainer/index.html#template-section">Introduzione ai Web Components</a></li>
<li><a href="http://html5-demos.appspot.com/static/webcomponents/index.html">&lt;web&gt;components&lt;/web&gt;</a> (<a href="http://www.youtube.com/watch?v=eJZx9c6YL8k">video</a>) - una presentazione davvero completa da parte del sottoscritto.</li>
</ul><script>
document.addEventListener('DOMContentLoaded', function(e) {
  if (!isCompatible()) {
    document.body.classList.add('disabledemos');
  }
});
</script>
{% endblock %}
