{% extends "tutorial.html" %}

{% block headauthor %}Boris Smus{% endblock %}
{% block pageauthor %}{% profilelinks smus %}{% endblock %}
{% block headtitle %}Improving HTML5 Canvas Performance{% endblock %}
{% block pagetitle %}Improving HTML5 Canvas Performance{% endblock %}
{% block pagebreadcrumb %}Improving HTML5 Canvas Performance{% endblock %}
{% block date %}August 16, 2011{% endblock %}

{% block head %}
<style>
  iframe { width: 100%; height: 340px; border: 0; overflow: hidden; }
</style>
{% endblock %}

{% block browsersupport %}
<span class="browser opera supported"><span class="browser_name">Compatible con </span><span class="support">Opera</span></span> <span class="browser ie"><span class="browser_name">No compatible con </span><span class="support">Internet Explorer</span></span> <span class="browser safari supported"><span class="browser_name">Compatible con </span><span class="support">Safari</span></span> <span class="browser ff supported"><span class="browser_name">Compatible con </span><span class="support">Firefox</span></span> <span class="browser chrome supported"><span class="browser_name">Compatible con </span><span class="support">Chrome</span></span>
{% endblock %}

{% block iscompatible %}
  return !!Modernizr.canvas
{% endblock %}

{% block html5badge %}
<img src="/static/images/identity/html5-badge-h-graphics.png" width="133" height="64" alt="En este artículo se utilizan efectos, contenido 3D y gráficos HTML5" title="En este artículo se utilizan efectos, contenido 3D y gráficos HTML5"  />
{% endblock %}

{% block content %}

<h2 id="toc-intro">Introducción</h2>

<p>El elemento canvas de HTML5, que comenzó como un experimento de Apple, es el estándar más compatible para <a href="http://en.wikipedia.org/wiki/Immediate_mode">gráficos de modo inmediato</a> en 2D en la Web. Actualmente, muchos desarrolladores lo utilizan para gran variedad de juegos, visualizaciones y proyectos multimedia. Sin embargo, a medida que las aplicaciones que creamos aumentan en complejidad, los desarrolladores superan la barrera del rendimiento de forma inadvertida. </p>
<p>Existen muchos conocimientos inconexos sobre cómo optimizar el rendimiento del elemento canvas. Con este artículo se pretende consolidar parte de este conjunto de conocimientos y convertirlo en un recurso más fácil de asimilar para los desarrolladores. En este artículo, se incluyen optimizaciones fundamentales que se aplican a todos los entornos relacionados con los gráficos por ordenador, así como técnicas específicas del elemento canvas que están sujetas a cambios a medida que mejoran las implementaciones de este elemento. En particular, a medida que los desarrolladores de navegadores implementan la aceleración por GPU del elemento canvas, aumentan las probabilidades de que algunas de las técnicas de rendimiento mencionadas tengan menos impacto. Este tema se tratará cuando corresponda.</p>
<p>Ten en cuenta que este artículo no trata sobre el uso del elemento canvas de HTML5. Para ello, consulta estos <a href="http://www.html5rocks.com/es/tutorials/#canvas">artículos relacionados con el elemento canvas</a> en HTML5Rocks, este <a href="http://diveintohtml5.info/canvas.html">capítulo de Dive into HTML5</a> y el Tutorial de <a href="https://developer.mozilla.org/es/canvas_tutorial">Canvas de Mozilla Developer Network</a>.</p>
<h2 id="toc-perf">Pruebas de rendimiento</h2>

<p>Para abordar los rápidos cambios que afectan al entorno del elemento canvas de HTML5, las pruebas de <a href="http://jsperf.com/">JSPerf</a> (<a href="http://jsperf.com/">jsperf.com</a>) verifican que cada una de las propuestas de optimización sigan funcionando. JSPerf es una aplicación web que permite a los desarrolladores crear pruebas de rendimiento mediante JavaScript. Cada prueba se centra en un resultado que se intenta conseguir (por ejemplo, borrar el elemento canvas) e incluye varios métodos con los que se obtiene el mismo resultado. JSPerf ejecuta cada método tantas veces como sea posible durante un breve período de tiempo y proporciona un número de iteraciones por segundo que resulta significativo desde el punto de vista estadístico. Las puntuaciones más altas siempre son las mejores.</p>
<p>Los usuarios de la página de pruebas de rendimiento de JSPerf pueden realizar la prueba en su propio navegador y obtienen los resultados normalizados de la prueba en <a href="http://www.browserscope.org/">Browserscope</a> (<a href="http://www.browserscope.org/">browserscope.org</a>). Debido a que las técnicas de optimización de este artículo están respaldadas por un resultado de JSPerf, puedes volver para obtener información actualizada sobre si la técnica se sigue aplicando. He creado una pequeña <a href="https://github.com/borismus/jsperfview">aplicación de ayuda</a> que muestra estos resultados en forma de gráficos, que se han incluido a lo largo de este artículo.</p>

<p>Todos los resultados de rendimiento de este artículo dependen de la versión del navegador. Esto acaba siendo una limitación, ya que no se sabe en qué sistema operativo se estaba ejecutando el navegador, o lo que es más importante, si el elemento canvas de HTML5 se había acelerado por hardware cuando se realizó la prueba de rendimiento. Para averiguar si el elemento canvas de HTML5 de Chrome se ha acelerado por hardware, introduce <code>about:gpu</code> en la barra de direcciones.</p>

<h2 id="toc-pre-render">Realiza una representación previa en un elemento canvas fuera de la pantalla</h2>

<p>Si estás dibujando de nuevo primitivas similares en la pantalla utilizando varios fotogramas, como sucede a menudo cuando se crea un juego, puedes obtener grandes beneficios de rendimiento al representar previamente partes de gran tamaño de la escena. Realizar una representación previa significa utilizar un elemento canvas (o varios elementos canvas) fuera de la pantalla independiente para representar imágenes temporales en él y luego volver a representar los elementos canvas fuera de la pantalla en el elemento canvas visible. Para los desarrolladores que estén familiarizados con los gráficos por ordenador, esta técnica también se conoce como <a href="http://es.wikipedia.org/wiki/Lista_de_despliegue">lista de despliegue</a>.</p>
<p>Por ejemplo, supongamos que estás redibujando a Mario ejecutándose a 60 fotogramas por segundo. Puedes redibujar su gorra, su bigote y la "M" en cada fotograma o representar previamente a Mario antes de ejecutar la animación. </p>
<p>Sin representación previa:</p>
<pre class="prettyprint"><code>// canvas, context are defined
function render() {
  drawMario(context);
  requestAnimationFrame(render);
}
</code></pre>
<p>Con representación previa:</p>
<pre class="prettyprint"><code>var m_canvas = document.createElement('canvas');
m_canvas.width = 64;
m_canvas.height = 64;
var m_context = m_canvas.getContext(‘2d’);
drawMario(m_context);

function render() {
  context.drawImage(m_canvas, 0, 0);
  requestAnimationFrame(render);
}
</code></pre>
<p>Ten en cuenta que debes utilizar <code>requestAnimationFrame</code>, que se explica más detalladamente en una sección posterior. El siguiente gráfico ilustra las ventajas de rendimiento que se obtienen al utilizar la representación previa (de esta prueba de <a href="http://jsperf.com/render-vs-prerender">jsperf</a>):</p>
<iframe src="embed.html?id=agt1YS1wcm9maWxlcnINCxIEVGVzdBiDqJQHDA">
</iframe>

<p>Esta técnica es especialmente efectiva cuando la operación de representación (<code>drawMario</code> en el ejemplo anterior) supone un desembolso económico elevado. Un buen ejemplo de esto es la representación de texto, ya que se trata de una operación muy costosa. A continuación, se muestra el drástico aumento del rendimiento que puedes esperar si representas previamente esta operación (procedente de esta prueba de <a href="http://jsperf.com/render-vs-prerender/3">jsperf</a>):</p>
<iframe src="embed.html?id=agt1YS1wcm9maWxlcnINCxIEVGVzdBjPoK8HDA">
</iframe>

<p>Sin embargo, en el ejemplo anterior se observa el bajo rendimiento del caso de prueba con "holgura en la representación previa". Al realizar la representación previa, es importante que te asegures de que el elemento canvas se ajuste perfectamente alrededor de la imagen que estés dibujando; de lo contrario, la mejora de rendimiento de la representación fuera de la pantalla se anulará por la pérdida de rendimiento que supone copiar un elemento canvas de gran tamaño en otro (que varía en función del tamaño de origen y de destino). Los canvas ajustados de la prueba anterior son simplemente más pequeños.</p>
<pre class="prettyprint"><code>can2.width = 100;
can2.height = 40;
</code></pre>
<p>En comparación con el canvas holgado que obtiene un rendimiento más bajo.</p>
<pre class="prettyprint"><code>can3.width = 300;
can3.height = 100;
</code></pre>
<h2 id="toc-batch">Agrupa las llamadas del elemento canvas</h2>

<p>Debido a que el proceso de dibujo es una operación costosa, es más eficiente cargar la máquina de estado de dibujo con un gran conjunto de comandos y, a continuación, volcarlos todos en el búfer de vídeo.</p>

<p>Por ejemplo, al dibujar varias líneas, resulta más eficiente crear un trazado que contenga todas las líneas y dibujarlo con una única llamada de dibujo. En otras palabras, en lugar de dibujar líneas por separado, realiza lo siguiente:</p>
<pre class="prettyprint"><code>for (var i = 0; i &lt; points.length - 1; i++) {
  var p1 = points[i];
  var p2 = points[i+1];
  context.beginPath();
  context.moveTo(p1.x, p1.y);
  context.lineTo(p2.x, p2.y);
  context.stroke();
}
</code></pre>
<p>Se obtiene mayor rendimiento si se dibuja una única polilínea:</p>
<pre class="prettyprint"><code>context.beginPath();
for (var i = 0; i &lt; points.length - 1; i++) {
  var p1 = points[i];
  var p2 = points[i+1];
  context.moveTo(p1.x, p1.y);
  context.lineTo(p2.x, p2.y);
}
context.stroke();
</code></pre>
<p>Esto también se aplica al entorno del elemento canvas de HTML5. Al dibujar un trazado complejo, por ejemplo, es más adecuado colocar todos los puntos dentro del trazado en lugar de representar los segmentos por separado (<a href="http://jsperf.com/batching-line-drawing-calls/2">jsperf</a>).</p>
<iframe src="embed.html?id=agt1YS1wcm9maWxlcnINCxIEVGVzdBjf9K4HDA">
</iframe>

<p>Ten en cuenta, sin embargo, que existe una excepción importante a esta regla en lo que respecta al elemento canvas: si las primitivas utilizadas para dibujar el objeto deseado tienen cuadros delimitadores pequeños (por ejemplo, líneas verticales y horizontales), es posible que sea más eficiente representarlos por separado (<a href="http://jsperf.com/batching-line-drawing-calls">jsperf</a>).</p>
<iframe src="embed.html?id=agt1YS1wcm9maWxlcnINCxIEVGVzdBjRzK4HDA">
</iframe>

<h2 id="toc-avoid-state-change">Evita cambios de estado innecesarios del elemento canvas</h2>

<p>El elemento canvas de HTML5 se implementa en una máquina de estado que controla aspectos como los estilos de relleno y de trazo, así como puntos anteriores que forman el trazado actual. Al intentar optimizar el rendimiento de los gráficos, se intenta centrar únicamente en los gráficos que está representando. Sin embargo, si se manipula la máquina de estado también se puede producir una sobrecarga de rendimiento.</p>
<p>Por ejemplo, si utilizas varios colores de relleno para representar una escena, es menos costoso representar cada uno de los colores que colocarlos en el elemento canvas. Para representar un patrón de raya diplomática, puedes representar una raya, cambiar los colores, representar la siguiente raya, etc.:</p>
<pre class="prettyprint"><code>for (var i = 0; i &lt; STRIPES; i++) {
  context.fillStyle = (i % 2 ? COLOR1 : COLOR2);
  context.fillRect(i * GAP, 0, GAP, 480);
}
</code></pre>
<p>O representar todas las rayas impares y luego todas las pares:</p>
<pre class="prettyprint"><code>context.fillStyle = COLOR1;
for (var i = 0; i &lt; STRIPES/2; i++) {
  context.fillRect((i*2) * GAP, 0, GAP, 480);
}
context.fillStyle = COLOR2;
for (var i = 0; i &lt; STRIPES/2; i++) {
  context.fillRect((i*2+1) * GAP, 0, GAP, 480);
}
</code></pre>
<p>En la siguiente prueba de rendimiento, se dibuja un patrón de raya diplomática intercalado utilizando los dos métodos (<a href="http://jsperf.com/changing-canvas-state/3">jsperf</a>).</p>
<iframe src="embed.html?id=agt1YS1wcm9maWxlcnINCxIEVGVzdBiG69oHDA">
</iframe>

<p>Tal y como se esperaba, el método intercalado es más lento debido a que al cambio de la máquina de estado resulta costoso.</p>
<h2 id="toc-render-diff">Representa únicamente las diferencias de pantalla, no todo el estado nuevo</h2>

<p>Como sería de esperar, representar una cantidad reducida de elementos en la pantalla es más barato que representar una cantidad mayor. Si solo dispones de diferencias incrementales entre redibujos, puedes obtener un aumento significativo del rendimiento simplemente dibujando la diferencia. En otras palabras, en lugar de borrar toda la pantalla antes de dibujar, realiza lo siguiente:</p>
<pre class="prettyprint"><code>context.fillRect(0, 0, canvas.width, canvas.height);
</code></pre>
<p>Controla el cuadro delimitador dibujado y borra únicamente eso.</p>
<pre class="prettyprint"><code>context.fillRect(last.x, last.y, last.width, last.height);
</code></pre>
<p>Esto se ilustra en la prueba de rendimiento que se muestra a continuación, en la que un punto blanco cruza la pantalla (<a href="http://jsperf.com/partial-re-rendering/2">jsperf</a>):</p>
<iframe src="embed.html?id=agt1YS1wcm9maWxlcnINCxIEVGVzdBivw8wHDA">
</iframe>

<p>Si estás familiarizado con los gráficos por ordenador, es posible que también conozcas esta técnica como "regiones de redibujo", mediante la cual se guarda el cuadro delimitador representado previamente y, a continuación, se borra en cada representación.</p>
<p>Esta técnica también se aplica a los contextos de representación basados en píxeles, tal y como se ilustra en esta <a href="http://jsconf.eu/2010/speaker/lessons_learnt_pushing_browser.html">charla sobre el emulador de Nintendo</a> en JavaScript.</p>
<h2 id="toc-mul-canvas">Utiliza elementos canvas de varias capas para escenas complejas</h2>

<p>Como ya se ha mencionado, dibujar imágenes grandes es costoso y se debe evitar en la medida de lo posible. Además de utilizar otro canvas para la representación fuera de la pantalla, tal y como se ha ilustrado en la sección sobre la representación previa, también podemos utilizar elementos canvas con capas superpuestos. Si el elemento canvas de primer plano es transparente, podremos confiar en que la GPU componga las capas alfa en el momento de la representación. Puedes configurarlo como se indica a continuación, utilizando dos canvas perfectamente superpuestos.</p>
<pre class="prettyprint"><code>&lt;canvas id="bg" width="640" height="480" style="position: absolute; z-index: 0"&gt;
&lt;/canvas&gt;
&lt;canvas id="fg" width="640" height="480" style="position: absolute; z-index: 1"&gt;
&lt;/canvas&gt;
</code></pre>
<p>La ventaja de tener solo un elemento canvas es que al dibujar o borrar el elemento canvas de primer plano, nunca se modifica el fondo. Si tu juego o aplicación multimedia se puede dividir en primer plano y fondo, considera representarlos en elementos canvas independientes para conseguir un aumento significativo del rendimiento. En el siguiente gráfico se compara el caso del elemento canvas simple con otro caso en el que únicamente se redibuja y se borra el primer plano (<a href="http://jsperf.com/layered-canvases/3">jsperf</a>):</p>
<iframe src="embed.html?id=agt1YS1wcm9maWxlcnINCxIEVGVzdBjeg68HDA">
</iframe>

<p>A menudo, podrás aprovechar la ventaja de que la percepción humana es imperfecta para representar el fondo una sola vez o a una velocidad más lenta en comparación con el primer plano (que probablemente requerirá la mayor parte de la atención del usuario). Por ejemplo, puedes representar el primer plano cada vez que se realice una representación, pero representar el fondo solo cada cierto número de fotogramas.</p>
<p>También debes tener en cuenta que, en general, este método se puede aplicar a cualquier número de elementos canvas compuestos si tu aplicación funciona mejor con este tipo de estructura.</p>
<h2 id="toc-avoid-blur">Evita shadowBlur</h2>

<p>Al igual que otros entornos gráficos, el elemento canvas de HTML5 permite a los desarrolladores desenfocar las primitivas, pero esta operación puede ser muy costosa.</p>
<pre class="prettyprint"><code>context.shadowOffsetX = 5;
context.shadowOffsetY = 5;
context.shadowBlur = 4;
context.shadowColor = 'rgba(255, 0, 0, 0.5)';
context.fillRect(20, 20, 150, 100);
</code></pre>
<p>La siguiente prueba de rendimiento muestra la misma escena representada con sombra y sin sombra y la enorme diferencia entre ambas representaciones (<a href="http://jsperf.com/shadowblur-performance">jsperf</a>):</p>
<iframe src="embed.html?id=agt1YS1wcm9maWxlcnINCxIEVGVzdBiwja8HDA">
</iframe>

<h2 id="toc-clear-canvas">Descubre distintas formas de borrar el elemento canvas</h2>

<p>Puesto que el elemento canvas de HTML5 es un paradigma de dibujo de <a href="http://en.wikipedia.org/wiki/Immediate_mode">modo inmediato</a>, es necesario redibujar la escena de forma explícita en cada fotograma. Por esta razón, borrar el elemento canvas es una operación extremadamente importante para aplicaciones y juegos elaborados mediante el elemento canvas de HTML5.</p>
<p>Tal y como se ha mencionado en la sección <a href="#avoid-canvas-state-changes">Evita cambios de estado innecesarios del elemento canvas</a>, normalmente no es recomendable borrar todo el elemento canvas, pero si <em>debes</em> hacerlo, dispones de dos opciones: ejecutar <code>context.clearRect(0, 0, width, height)</code> o utilizar un código de pirateo específico de canvas (<code>canvas.width = canvas.width</code>) para hacerlo.</p>
<p>En lo que respecta a la escritura de código, <code>clearRect</code> suele ofrecer mejores resultados que la versión de restablecimiento de ancho, pero en algunos casos, el uso del código de pirateo de restablecimiento <code>canvas.width</code> es significativamente más rápido en Chrome 14 (<a href="http://jsperf.com/canvas-clear-speed">jsperf</a>).</p>
<iframe src="embed.html?id=agt1YS1wcm9maWxlcnINCxIEVGVzdBj_2JEGDA">
</iframe>

<p>Ten cuidado con esta sugerencia, ya que depende en gran medida de la implementación del elemento canvas subyacente y está muy sujeta a cambios. Para obtener más información, consulta el <a href="http://simonsarris.com/blog/346-how-you-clear-your-canvas-matters">artículo de Simon Sarris sobre cómo borrar un elemento canvas</a>.</p>
<h2 id="toc-avoid-float">Evita coordenadas de puntos flotantes</h2>

<p>El elemento canvas de HTML5 admite la representación por subpíxeles y no es posible desactivarla. Si dibujas con coordenadas que no son números enteros, este elemento utiliza de forma automática antialiasing para tratar de suavizar las líneas. A continuación se muestra el efecto visual, tomado de <a href="http://sebleedelisle.com/2011/02/html5-canvas-sprite-optimisation">este artículo sobre el rendimiento del elemento canvas con subpíxeles publicado por Seb Lee-Delisle</a>.</p>
<p><img alt="subpíxeles" src="bunny.png"  /></p>
<p>Si la atenuación del sprite no es el efecto que buscas, puede ser más rápido convertir tus coordenadas en números enteros mediante <code>Math.floor</code> o <code>Math.round</code> (<a href="http://jsperf.com/drawimage-whole-pixels">jsperf</a>).</p>
<iframe src="embed.html?id=agt1YS1wcm9maWxlcnINCxIEVGVzdBiRk-kDDA">
</iframe>

<p>Para convertir las coordenadas de puntos flotantes en números enteros, puedes utilizar varias técnicas ingeniosas, la más eficiente de ellas implica añadir un medio al número de destino y, a continuación realizar operaciones a nivel de bit en el resultado para eliminar la parte fraccional.</p>
<pre class="prettyprint"><code>// With a bitwise or.
rounded = (0.5 + somenum) | 0;
// A double bitwise not.
rounded = ~~ (0.5 + somenum);
// Finally, a left bitwise shift.
rounded = (0.5 + somenum) &lt;&lt; 0;
</code></pre>
<p>A continuación, se muestra el desglose de rendimiento completo (<a href="http://jsperf.com/math-round-vs-hack/3">jsperf</a>):</p>
<iframe src="embed.html?id=agt1YS1wcm9maWxlcnINCxIEVGVzdBj36qAEDA">
</iframe>

<p>Ten en cuenta que este tipo de optimización ya no debe tener importancia una vez se aceleren por GPU las implementaciones del elemento canvas, ya que se podrán representar de forma rápida coordenadas que no sean números enteros.</p>
<h2 id="toc-raf">Optimiza tus animaciones con "requestAnimationFrame"</h2>

<p>El API relativamente nueva <code>requestAnimationFrame</code> es el método que se recomienda para implementar aplicaciones interactivas en el navegador. En lugar de indicar al navegador que realice una representación a una velocidad de marcado fija, puedes pedirle educadamente que ejecute tu rutina de representación y que reciba una llamada cuando se encuentre disponible. Como consecuencia, si la página no se encuentra en primer plano, el navegador es lo suficientemente listo como para no representarla.</p>
<p>La devolución de llamada de <code>requestAnimationFrame</code> se debe ejecutar a una velocidad de 60 fotogramas por segundo, pero eso no significa que siempre sea así, por lo que tendrás que controlar el tiempo transcurrido desde la última representación. Sería algo como esto:</p>
<pre class="prettyprint"><code>var x = 100;
var y = 100;
var lastRender = new Date();
function render() {
  var delta = new Date() - lastRender;
  x += delta;
  y += delta;
  context.fillRect(x, y, W, H);
  requestAnimationFrame(render);
}
render();
</code></pre>
<p>Ten en cuenta que este uso de <code>requestAnimationFrame</code> se aplica al elemento canvas y a otras tecnologías de representación como WebGL.</p>
<p>En lo que respecta a la escritura de código, esta API solo se encuentra disponible en Chrome, Safari y Firefox, por lo que debes utilizar <a href="http://paulirish.com/2011/requestanimationframe-for-smart-animating/"> estas correcciones de compatibilidad</a>.</p>
<h2 id="toc-mobile">La mayoría de las implementaciones del elemento canvas son lentas</h2>

<p>Hablemos de dispositivos móviles. Desafortunadamente, en lo que respecta a la escritura de código, solo el sistema operativo iOS 5.0 beta con Safari 5.1 cuenta con implementación de elementos canvas acelerada por GPU para dispositivos móviles. Sin aceleración por GPU, los navegadores para dispositivos móviles suelen disponer de CPU lo suficientemente potentes como para admitir aplicaciones modernas basadas en elementos canvas. Varias de las pruebas de JSPerf descritas anteriormente ejecutan una orden de menor magnitud en dispositivos móviles que en ordenadores, lo que reduce significativamente los tipos de aplicaciones de diferentes dispositivos que se espera que funcionen correctamente.</p>
<h2 id="toc-conclusion">Conclusión</h2>

<p>En resumen, en este artículo se ha tratado un completo conjunto de técnicas de optimización útiles que te ayudarán a desarrollar proyectos eficientes basados en elementos canvas de HTML5. Ahora que has aprendido algo nuevo, ve más allá y optimiza tus increíbles creaciones. O si todavía no tienes un juego o una aplicación que optimizar, puedes obtener algunas ideas en <a href="http://www.chromeexperiments.com/">Chrome Experiments</a> y en <a href="http://creativejs.com/">Creative JS</a>.</p>
<h2 id="toc-ref">Referencias</h2>

<ul>
<li>Modo <a href="http://en.wikipedia.org/wiki/Immediate_mode">inmediato</a> frente a modo <a href="http://en.wikipedia.org/wiki/Retained_mode">retenido</a></li>
<li>Otros artículos de HTML5Rocks <a href="http://www.html5rocks.com/es/tutorials/#canvas"> sobre el elemento canvas</a></li>
<li><a href="http://diveintohtml5.info/canvas.html">Sección sobre el elemento canvas</a> de Dive into HTML5</li>
<li><a href="http://jsperf.com/">JSPerf</a> (permite a los desarrolladores crear pruebas de rendimiento mediante JavaScript)</li>
<li><a href="http://www.browserscope.org/">Browserscope</a> (almacena datos de rendimiento del navegador)</li>
<li><a href="https://github.com/borismus/jsperfview">JSPerfView</a> (que representa pruebas de JSPerf en forma de gráficos)</li>
<li><a href="http://simonsarris.com/blog/346-how-you-clear-your-canvas-matters">Entrada de blog de</a> Simon sobre cómo borrar el elemento canvas</li>
<li><a href="http://sebleedelisle.com/2011/02/html5-canvas-sprite-optimisation">Entrada de blog</a> de Sebastian sobre el rendimiento de representación por subpíxeles</li>
<li><a href="http://paulirish.com/2011/requestanimationframe-for-smart-animating/">Entrada de blog</a> de Paul sobre cómo utilizar <code>requestAnimationFrame</code></li>
<li><a href="http://jsconf.eu/2010/speaker/lessons_learnt_pushing_browser.html">Charla</a> de Ben sobre cómo optimizar un emulador de NES en JavaScript</li>
{% endblock %}