html, body {
	padding: 0;
	margin: 0;
	font-family: Arial, sans-serif;
	color: #444;
}

.hidden {
	display: none;
}

header.strip {
	position: fixed;
	top: 0;
	left: 0;
	height: 40px;
	width: 100%;
	background: #74ADD0;
	z-index: 1;
}

header.strip .option {
	line-height: 40px;
	color: #FFF;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
	padding: 0 10px;
}

nav {
	width: 210px;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	font-family: 'Open Sans', sans-serif;
	background: #EEEEEE;
	box-shadow: 0 0 10px rgba(0,0,0,0.25);
}

nav header {
	padding: 145px 0 15px 20px;
	font-weight: 800;
	border-bottom: 1px solid #CCC;
	box-shadow: 0 1px 0 #FFF;
	font-size: 20px;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

nav ul li {
	border-bottom: 1px solid #CCC;
	box-shadow: 0 1px 0 #FFF;
	height: 52px;
	line-height: 52px;
}

nav ul li a {
	text-decoration: none;
	display: block;
	color: #444;
	padding-left: 20px;

	-webkit-transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out;
	-ms-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;

}

nav ul li a:hover {
	background: #333;
	color: #FFF;
}

section {
	padding: 75px 0 200px 0;
	margin: 0 30px 0 260px;
	max-width: 750px;
}

section figure {
	width: 100%;
	display: block;
	padding: 0;
	margin: 0 0 30px 0;
}

section figure img {
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.25);
	width: 100%;
}

section figure figcaption {
	text-align: center;
	width: 100%;
	padding: 0;
	margin: 5px 0 0 0;
	color: #00A3D9;
	font-size: 13px;
	font-weight: bold;
	font-style: italic;
}

section h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 80px;
	font-style: italic;
	color: #333;
	margin: 0 0 20px 0;
	padding: 0;
	letter-spacing: -0.07em;
	text-shadow: 0 1px 1px #FFFFFF;
}

section .content {

	vertical-align: top;

	-webkit-column-width: 360px;
	-moz-column-width: 360px;
	-ms-column-width: 360px;
	-o-column-width: 360px;
	column-width: 360px;

	-webkit-column-gap: 30px;
	-moz-column-gap: 30px;
	-ms-column-gap: 30px;
	-o-column-gap: 30px;
	column-gap: 30px;

	font-size: 14px;
	line-height: 130%;
}

section .content p {
	margin: 0 0 1em 0;
}

section hr {
	height: 1px;
	color: #CCC;
	border: none;
	border-bottom: 1px solid #CCC;
	margin: 1em 0 2em 0;
	padding: 0;
	box-shadow: 0 1px 0 #FFF;
}
