html, body {
  height: 100%;
  margin: 0;
}
body {
  display: -webkit-box;
  -webkit-box-orient: vertical;

  display: -moz-box;
  -moz-box-orient: vertical;

  display: box;
  box-orient: vertical;
}

.wrapper {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}

footer {
  height: 142px; /* absolute height of footer */
  
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
}


/*

Flexbox Sticky Footer by Paul Irish
http://html5rocks.com/tutorials/flexbox/quick/

*/



