body {
  text-align: center;
  width: 700px;
  margin: 0 auto;
}
.wrapper {
	position: relative;
	font-size: 0.9em;
	text-align: left;
}
header {
  display: block;
	height: 120px;
	margin-bottom: 50px;
	background: #00bbff ; /* url(header.png) no-repeat */
	color: white;
	font: 1.3em/1.4em arial,sans-serif;
	text-align: center;
}

h1 {
  font-weight: normal;
  padding: 38px 0 8px;
  margin: 0;
}
h3 { 
  font-weight: normal;
  margin: 10px 0 0;
}
h2 {
	padding: 0 0 0.6em;
	color: #d00;
	font: 1.4em helvetica,arial,sans-serif;
	text-shadow: #ddd 1px 1px 2px;
}
p {
	padding: 0 0 1em;
	color: #666;
	font: 1em/1.4em arial,sans-serif;
}
a {
	color: #000;
	text-decoration: none;
	border-bottom: 2px solid #0bf;
}
a:hover {
	color: #0bf;
}
strong {
	font-weight: normal;
}
.download {
	position: absolute;
	right: 0;
	top: 120px;
}
footer {
	background: url(footer.jpg) no-repeat;
	display: block;
}
footer a {
	color: #fff;
	text-decoration: underline;
	border: 0;
}
footer p {
	width: 700px;
	padding: 105px 0 0;
	color: #fff;
	font: 0.8em arial,sans-serif;
	text-align: center;
	margin: 0;
}