{% extends "tutorial.html" %}

{% block head %}{% endblock %}
{% block onload %}{% endblock %}

{% block iscompatible %}
  return !!Modernizr.webgl && !!window.webkitAudioContext;
{% endblock %}


{% block content %}
<section id='main-text'>

<link href='/tutorials/doodles/lem/styles.css' rel='stylesheet'>

<style type="text/css">
/* Removes unwanted "." in color demo inherited from existing stylesheet */
#main-text .illo ul > li::before {
  content: "";
}
#main-text img, #main-text canvas, div.illo.color-mixed {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
#main-text img { max-width: 100%; }
</style>



  <figure>
    <a href="http://www.technitone.com"><img src="assets/images/technitone-article-header.jpg" alt="Technitone - 网络音频体验。" /></a>
    <figcaption><a href="http://www.technitone.com">Technitone.com</a></figcaption>
  </figure>

  <p><a href="http://www.technitone.com">Technitone.com</a> 在 Chrome 浏览器中融合了 WebGL、Canva、Web Socket、CSS3、JavaScript、Flash 以及新的 <a href="https://dvcs.w3.org/hg/audio/raw-file/tip/webaudio/specification.html">Web Audio API</a>。</p>

  <p>本文将讨论制作的各个方面：方案、服务器、声音、图像以及我们用于交互式设计的部分工作流程。大多数部分包含代码段、演示和下载内容。文章最后会有下载链接，可让您下载一个包含所有这些内容的 zip 文件。</p>

  <img src="assets/images/avatars.png" alt="gskinner.com 制作小组。" />

  <h2 id="toc-thegig">演奏。</h2>

  <p>我们不是 gskinner.com 的音频工程师，但您可以出个难题考验下我们，我们会想出一个方案来：</p>

  <ul style="padding-left:25px">
    <li>用户<a href="http://www.technitone.com/view/68k21dr24vb">在网格上设计音调</a>，“灵感”源于 <a href="http://lab.andre-michelle.com/">Andre 的</a> <a href="http://lab.andre-michelle.com/tonematrix">ToneMatrix</a></li>
    <li>创作出来的音调用于采样乐器、架子鼓或用户<a href="http://www.technitone.com/view/m923dgxnwbg">自己录制的内容</a></li>
    <li>多个连线用户可同时在同一网格上进行演奏</li>
    <li>也可以进入独奏模式自行探索</li>
    <li>邀请会话可让用户组建乐队，并进行即兴合奏</li>
  </ul>

  <p>我们为用户提供的工具面板可对音调运用音频过滤器并添加特效，从而让用户探索 Web Audio API 的功能。</p>

  <img src="assets/images/technitone-feature-screenshot.png" alt="由 gskinner.com 推出的 Technitone" />

  <p>我们还提供以下功能：</p>

  <ul style="padding-left:25px">
    <li>以数据形式存储用户的作品和特效，并在不同客户端之间同步</li>
    <li>提供一些颜色选项，以便用户创作出<a href="http://www.technitone.com/view/8vec1djzfxv">外观酷炫的歌曲</a></li>
    <li>提供作品库供用户欣赏、称赞甚至修改他人的作品</li>
  </ul>

  <p>我们仍然使用熟悉的网格模型，并让其悬浮在 3D 空间中，另外还添加了一些照明、纹理和粒子效果，然后放入由 CSS 和 JavaScript 驱动的可调整（或全屏）界面中。</p>

  <h2 id="toc-roadtrip">传送路线。</h2>

  <p>在客户端上进行整合和序列化后，乐器、特效和网格数据会被发送到我们的自定义 <a href="http://nodejs.org">Node.js</a> 后端，以供多个用户使用，如 <a href="http://socket.io/">Socket.io</a>。在多用户播放期间，系统会将这些包含每个演奏者所作贡献的数据发送回客户端，然后再分发到负责呈现用户界面、采样和特效的相关 CSS、WebGL 和 WebAudio 层。</p>

  <p>与套接字之间的实时通信会传送至客户端和服务器上的 JavaScript。</p>

  <img src="assets/images/serverdiagram.png" alt="Technitone 服务器图表" />

  <p>我们的服务器全方位使用了 Node，且兼具静态网络服务器和我们的套接字服务器的功能。我们最后使用了 <a href="http://expressjs.com/">Express</a>，这是个完全基于 Node 的完整的网络服务器，具有超高的可扩展性和较强的自定义性，并能为您处理低级别的服务器事项（就像 Apache 或 Windows Server 一样）。然后，作为开发人员，您只需集中精力开发您的应用即可。<a href="assets/demos/ServerDiagram.pdf" class="button-download pdf">下载更详细的客户端-服务器通信图表</a></p>

  <h3 id="toc-multiuserdemo">多用户演示（仅提供屏幕截图）</h3>

  <p>该演示需要在 Node 服务器上运行；此外，由于本文并不提供实际演示，我们提供了屏幕截图，向您显示在您安装 Node.js、配置网络服务器并在本地运行后的演示效果。每次有新用户访问您的演示装置时，系统都会添加新的网格，且每个人的作品彼此可见。</p>
      
      <img src="assets/images/nodeDemo.gif" alt="Node.js 演示屏幕截图" />
      <p><a href="assets/demos/nodejsDemo.zip" class="button-download">下载多用户演示。需要 Node.js 服务器<em></em></a> 请务必查看自述文件 (README)，其中包含关于安装 Node.js、配置服务器和本地运行演示的信息。</p>
      
      <p>Node 非常简单。我们只需结合使用 Socket.io 和自定义 POST 请求，而无需建立复杂的同步例程。Socket.io 会自动进行处理，从而分发 <a href="http://zh.wikipedia.org/wiki/JSON">JSON</a>。</p>

  <p>有多简单？让我们来看一下。</p>

  <p>只需 3 行 JavaScript，我们就能设立网络服务器，且该服务器通过 Express 运行。</p>

    <pre src='code/node_snippets.js#1-8'></pre>
      
    <p>然后再添加几行 Javascript 关联 socket.io，以便进行实时通信。</p>

    <pre src='code/node_snippets.js#14-20'></pre>
      
    <p>现在，我们只需开始监听从 HTML 网页传入的连接即可。</p>
      
      <pre src='code/node_snippets.js#22-32'></pre>
      
      <h2 id="toc-soundcheck">声音检查。</h2>

  <p>一个很大的未知因素是使用 Web Audio API 需要投入的精力。根据我们的初步研究，<a href="http://zh.wikipedia.org/wiki/%E6%95%B0%E5%AD%97%E4%BF%A1%E5%8F%B7%E5%A4%84%E7%90%86">数字信号处理</a> (DSP) 极其复杂，我们几乎绞尽脑汁。了解的第二件事：<a href="http://chromium.googlecode.com/svn/trunk/samples/audio/index.html">克里斯·罗杰斯 (Chris Rogers)</a> 已完成该 API 中较繁重的部分。</p>
  <p>Technitone 并没有使用任何特别刁钻的数学或专业音频学；感兴趣的开发人员可以轻松使用这个功能。我们只需要熟悉一些术语并<a href="https://dvcs.w3.org/hg/audio/raw-file/tip/webaudio/specification.html">参阅文档</a>即可。我们建议您不要略读这些文档，而应该从头到尾地阅读并了解这些文档。文档中穿插了图表和照片，非常精彩。</p>

  <p>如果这是您第一次听说 Web Audio API，或者您不了解该 API 的功能，可参见克里斯·罗杰斯的<a href="http://chromium.googlecode.com/svn/trunk/samples/audio/index.html">演示</a>。如果您在寻找灵感，这个演示一定能够让您实现愿望。</p>

  <h3 id="toc-webaudiodemo">Web Audio API 演示</h3>

  <p>
    <span id="webAudioNotSupportedLabel" style="color: red;">您的浏览器不支持 Web Audio API，请尝试在 Chrome 浏览器中运行该演示。<br /></span> <input id="loadSampleBtn" type="button" value="加载示例"  />
    <label><input class="delay" type="checkbox" disabled="disabled" /> 播放延迟的示例</label>
    <input id="loadImpulseResponseBtn" type="button" value="加载脉冲响应"  />
    <label style="display:inline-block; vertical-align: text-top;"><input class="impulseResponse" type="checkbox" disabled="disabled" /> 播放带卷积的示例 <br /><span style="margin-left: 20px;">（使用脉冲响应）</span></label>
  </p>

  <p><a href="assets/demos/webAudioDemo.zip" class="button-download">下载 Web Audio API 演示。<em></em>只有托管到服务器后才能运行</a><p>

  <p><br />以下概述了您可能在源中看到的内容：</p>

  <p class="note">在示例（声音文件）中加载&hellip;</p>

  <pre src='code/wa_snippets.js#5-39'></pre>

  <p class="note">&hellip;设置模块化路由&hellip;</p>

  <pre src='code/wa_snippets.js#46-59'></pre>

  <p class="note">&hellip;应用运行时效果（使用脉冲响应的卷积）&hellip;</p>

  <pre src='code/wa_snippets.js#66-73'></pre>

  <p class="note">&hellip;应用另一个运行时效果（延迟）&hellip;</p>

  <pre src='code/wa_snippets.js#80-104'></pre>

  <p class="note">&hellip;然后令其发声。</p>

  <pre src='code/wa_snippets.js#110-126'></pre>

  <p>我们的 Technitone 播放原理在于调度。我们并没有将计时器的时间间隔设置成我们的节奏以处理每个节拍的声音，而是设置了一个更小的时间间隔，以队列的形式管理和调度声音。这样，API 就能在 CPU 实际接到发声指令之前执行解析音频数据和处理过滤器及特效的前期工作。当节拍最终形成时，向扬声器传递最终结果所需的所有信息均已准备完毕。</p>

  <p>总之，一切都需要优化。当 CPU 负担过重时，系统会跳过一些进程（弹出、点击、擦除）以维持进度；如果您跳转到 Chrome 浏览器的另一个标签页，我们会尽最大的努力停止一切异常。</p>

  <h2 id="toc-lightshow">照明展示。</h2>

  <p>前面和中间部分是我们的网格和粒子通道。这就是 Technitone 的 <a href="http://www.khronos.org/webgl/">WebGL</a> 层。</p>

  <p>WebGL 结合使用 GPU 和处理器，其性能远远高于其他大多数在网络上呈现视觉效果的方法。性能上的提升要求以更陡峭的学习曲线进行更复杂的开发。也就是说，如果您对网络互动极具热诚，且希望尽可能减少性能限制，WebGL 可以提供<a href="http://www.airtightinteractive.com/2011/10/stage3d-vs-webgl-performance/">与 Flash 相媲美</a>的解决方案。</p>

  <h3 id="toc-webgldemo">WebGL 演示</h3>

  <p>

    <canvas id="webglcanvas" width="750" height="480">
      <font color="#FF0000">很抱歉，您的浏览器不支持 HTML5 画布。请确保您的浏览器已更新到最新版本并且兼容 HTML5 画布。<a href="http://support.google.com/chrome/bin/answer.py?hl=zh-CN&answer=95346">建议使用 Google Chrome 浏览器。</a></font>
    </canvas>

    <div id="webglDefault" hidden="true" style="font-style: italic; border: solid 1px; padding: 5px">
      很抱歉，您的浏览器不支持 WebGL。请确保您的浏览器已更新到最新版本并且兼容 WebGL。<a href="http://support.google.com/chrome/bin/answer.py?hl=zh-CN&answer=95346">建议使用 Google Chrome 浏览器。</a><br />
    </div>

  <select id="webglDemoNumber" onchange="onNewWebGLDemo(event)">
      <option value="1">演示 1 - 平面与多维</option>
      <option value="2">演示 2 - 照明</option>
      <option value="3">演示 3 - 纹理</option>
      <option value="4">演示 4 - 粒子</option>
      <option value="5">演示 5 - 常规</option>
    </select><br />
  <div id="webglDemo1" hidden="true">
    平面的绘制方法是将两个相连三角形的 4 个顶点连接到一起。 <br />
    <label>
      <input id="wire" type="checkbox" value="false" onchange="onToggleWireframe(event)">
      线框
    </label>
  </div>
  <div id="webglDemo2" hidden="true">
    照明是通过按常规顶点调整明暗器中的颜色形成的。 <br />
    本地照明位置： <br />
    X： <input id="inputX" type="text" value="-5" />
    Y： <input id="inputY" type="text" value="-5" />
    Z： <input id="inputZ" type="text" value="-5" />
  </div>
  <div id="webglDemo3" hidden="true">
    纹理通过相应的 UV 坐标映射到平面（从 0 到 1，从左到右，从上到下）。 <br />
    选择纹理： <br />
    柳条箱： 
    <select id="crateTexture" onchange="onChangeCrateTexture(event)">
      <option value="0">木质</option>
      <option value="1">金属</option>
      <option value="2">全息</option>
    </select>
  </div>
  <div id="webglDemo4" hidden="true">
    每个粒子均通过两个三角形及其纹理绘制。将 Z 的最大值设为 1 查看效果。 <br />
    粒子数： <input id="count" type="text" value="10000" />
    粒子频率： <input id="freq" type="text" value="2" /><br />
    粒子速度： <br />
    最小值 --- X： <input id="minX" type="text" value="-1" />
    Y： <input id="minY" type="text" value="1" />
    Z： <input id="minZ" type="text" value="0" /> <br />
    
    最大值 --- X： <input id="maxX" type="text" value="1" />
    Y： <input id="maxY" type="text" value="1" />
    Z： <input id="maxZ" type="text" value="0" />
  </div>
  <div id="webglDemo5" hidden="true">
    常规使用常规映射分别反射每个像素的光线，从而粗略形成 3D 效果。 <br />
  <input id="useTextureNormal" type="checkbox" checked="false" onchange="onToggleNormal(event)">使用常规纹理</input><br />
  </div>
  </p>

  <p>该演示介绍了阴影、纹理、动画、粒子效果和交互性。每个演示介绍的都是前一个概念。</p>
  <a href="webgl/WebGL_Demos.zip" class="button-download">下载 WebGL 演示<em></em>基于纹理的演示只能再服务器上运行</a>

  <p class="note">请注意：WebGL 需遵守安全协议，因而不能直接从本地硬盘驱动器加载和处理纹理。</p>

  <p>系统会将 WebGL 内容渲染到画布（实际上是 HTML5 画布），且该内容由以下核心建筑块组成：</p>

   <ul style="padding-left:25px">
    <li>对象的顶点（几何）</li>
    <li>位置矩阵（3D 坐标）</li>
      <li>明暗器（描述几何外观，直接链接到 GPU）</li>
      <li>环境（GPU 引用元素的“快捷方式”）</li>
      <li>缓冲区（向 GPU 传递环境数据的路线）</li>
      <li>主代码（针对所需交互的业务逻辑）</li>
      <li>“draw”方法（激活明暗器并将像素转移到画布）</li>
  </ul>

  <p>将 WebGL 内容渲染到屏幕的过程如下所示：</p>

  <ol style="padding-left:25px">
    <li>设置透视矩阵（调整深入 3D 空间的镜头设置，规定图片平面）。</li>
    <li>设置位置矩阵（在 3D 坐标中设定原点，作为测量位置时的对照点）。</li>
    <li>在缓冲区填满数据（顶点位置、颜色、纹理&hellip;），以便将这些数据通过明暗器传递到环境中。</li>
    <li>使用明暗器从缓冲区提取并整理数据，然后将其传递到 GPU。</li>
    <li>调用 draw 方法，以便命令环境激活明暗器、运行数据和更新画布。</li>
   </ol>
   
  <p>实际情况如下所示：</p>

  <p class="note">设置透视矩阵&hellip;</p>

  <pre src='webgl/source/Demo01.js#213-222'></pre>

  <p class="note">&hellip;设置位置矩阵&hellip;</p>

  <pre src='webgl/source/Demo01.js#224-231'></pre>

  <p class="note">&hellip;规定一些几何图形和外观&hellip;</p>

  <pre src='webgl/source/Demo02.js#124-136'></pre>

  <p class="note">&hellip;在缓冲区填满数据，然后将数据传递到环境&hellip;</p>

  <pre src='webgl/source/Demo02.js#138-148'></pre>

  <p class="note">&hellip;然后调用 draw 方法</p>

  <pre src='webgl/source/Demo02.js#196-198'></pre>

  <p>如果您不希望基于 alpha 的视觉效果相互堆叠，请务必清除每一帧的画布。</p>

  <h2 id="toc-thevenue">场地。</h2>

  <p>除了网格和粒子通道外，其他所有用户界面元素都将置入 HTML/CSS 和 JavaScript 的互动逻辑。</p>

  <p>从一开始我们确定了一个理念，让用户以最快的速度与网格进行互动。没有闪屏、说明或者教程，只有“开始”。只要加载了界面，速度就不会减慢。</p>

  <p>这就要求我们格外关注如何指引初次使用的用户进行互动。我们添加了一些细微的提示，例如根据用户的鼠标在 WebGL 空间所处的位置改变 CSS 光标属性。如果光标位于网格上方，我们会将其转换成手形光标（因为用户可以通过设计音调进行互动）。如果光标位于网格周围的空白区域，我们会将其换成有方向性的十字光标（以表明用户可以旋转网格或将网格扩大成图层）。</p>

  <h3 id="toc-gettingready">演奏准备工作</h3>
  <p><a href="http://lesscss.org/">LESS</a>（一种 CSS 预处理程序）和 <a href="http://incident57.com/codekit/">CodeKit</a>（强大的网络开发工具）大大减少了将设计文件转换成存根化的 HTML/CSS 所需的时间，因此我们可以使用更灵活的方式整理、编写和优化 CSS：使用变量、混入（函数）甚至数学！</p>

  <h3 id="toc-stageeffects">舞台效果</h3>

  <p>我们使用 <a href="http://www.w3schools.com/css3/css3_transitions.asp">CSS3 过渡</a>和 <a href="http://documentcloud.github.com/backbone/">backbone.js</a> 设计了一些非常简单的特效，有助于将应用付诸于现实，并能向用户提供显示所用乐器的直观队列。</p>

  <img src="assets/images/color-shift-ui-01.jpg" alt="Technitone 具备的颜色" />

  <p>Backbone.js 可让我们捕获颜色变化时间，并将新的颜色应用到相应的 DOM 元素。经 GPU 加速的 CSS3 过渡在处理颜色样式变化时对性能几乎不会造成任何影响。</p>

  <p>界面元素的大部分颜色过渡都是由背景颜色过渡引起的。除了背景颜色以外，我们还放置了背景图片，该图片附带的战略性区域的透明度可表现出背景颜色。</p>

  <h3 id="toc-colortransdemo">颜色过渡演示 - 您可以创造出多少种颜色？</h3>

  <p>该演示很好地展示了可使用该技术完成的操作。挑选颜色，然后看科学狂人将这些颜色混合到一起，创造出第三种不同的颜色。 </p>

  <img src="assets/images/color-shift-demo-header.png" alt="颜色便宜演示如下所示。" style="display:block;" />

  <!-- Color Transition Demo HTML -->
  <div class="illo color-mixed">
      
    <div class="illo color-primary"></div>
    <div class="illo color-secondary"></div>

    <!-- Primary Color Selection -->
    <ul class="picker color-primary">
      <li class="color-1"></li>
      <li class="color-2"></li>
      <li class="color-3"></li>
      <li class="color-4"></li>
      <li class="color-5"></li>
      <li class="color-6 selected"></li>
      <li class="color-7"></li>
      <li class="color-8"></li>
    </ul>

    <!-- Secondary Color Selection -->
    <ul class="picker color-secondary">
      <li class="color-1"></li>
      <li class="color-2"></li>
      <li class="color-3 selected"></li>
      <li class="color-4"></li>
      <li class="color-5"></li>
      <li class="color-6"></li>
      <li class="color-7"></li>
      <li class="color-8"></li>
    </ul>

  </div>
  <!-- END Color Transition Demo HTML -->

  <p><a href="assets/demos/colorShiftDemo.zip" class="button-download">下载颜色偏移演示</a></p>

  <p>让我们来进一步了解下 HTML、CSS、Javascript 中的后台活动，以及如何为特效准备艺术资产。</p>

  <h3 id="toc-htmlfound">HTML：基础</h3>

  <p>该演示需要三个颜色区域：两个用户选定的颜色区域和一个混合颜色区域。我们创建了所能想到的支持 CSS3 过渡的最简单的 DOM 结构，并尽可能减少了针对我们的插图的 HTTP 请求。</p>
  <pre>
&lt;!-- Basic HTML Setup -->
&lt;div class="illo color-mixed">   
  &lt;div class="illo color-primary">&lt;/div>
  &lt;div class="illo color-secondary">&lt;/div>
&lt;/div>
  </pre>

  <h3 id="toc-css">CSS：带有样式的简单格式</h3>

  <p>我们使用绝对定位功能将每个区域定位到准确位置，并调整背景位置属性以便对齐各个区域中的背景插图。因此，所有区域（每个区域使用相同的背景图片）看起来都像是单个元素。</p>

  <pre src='assets/demos/colorShiftDemo/css/styles.css#52-71'></pre>

  <p>我们使用经 GPU 加速的过渡，以便监听颜色变化事件。我们延长了持续时间，并对 .color-mixed <a href="http://cubic-bezier.com/#.78,0,.53,1" title="莉·维拉 (Lea Verou) 创建的自定义缓和工具">作了缓和修改</a>，以便给人一种颜色混合需要时间的印象。</p>

  <pre src='assets/demos/colorShiftDemo/css/styles.css#33-49'></pre>

  <p><a href="http://html5please.us/#transition">访问 HTML5please 获取对当前浏览器的支持以及对 CSS3 过渡的推荐用法</a>。</p>

  <h3 id="toc-js">Javascript：使其发挥作用</h3>

  <p>动态分配颜色也很简单。我们在 DOM 中搜索所有带有我们的颜色类的元素，并根据用户选择的颜色设置背景颜色。我们通过添加类将过渡效果应用到 DOM 中的所有元素，</p>
  <p>从而创建出轻便、灵活、可扩展的架构。</p>

  <pre src='assets/demos/colorShiftDemo/js/ColorShifting.js#58-72'></pre>

  <p>选定主要颜色和次要颜色后，我们会计算两者的混合颜色值，并将得到的值分配到适当的 DOM 元素。</p>

  <pre src='assets/demos/colorShiftDemo/js/ColorShifting.js#91-107'></pre>

  <h3 id="toc-arch">HTML/CSS 架构图解：提供三种特色的颜色偏移框</h3>

  <p>我们的目标是创造有趣逼真的照明特效，当相邻的颜色区域中存在对比色时仍能保持图片的完整性。</p>

  <p>24 位 PNG 可让 HTML 元素的背景颜色透过图片的透明区域。</p>

  <img src="assets/images/color-alpha.png" alt="图片透明度" />
                                          
  <p>当不同颜色相遇时，彩色框的边缘会比较明显。这一点会对形成逼真的照明特效造成阻碍，是设计插图时一个较大的挑战。</p>

  <img src="assets/images/color-regions.png" alt="颜色区域" />

  <p>相应的解决方法是，在设计插图时不允许颜色区域的边缘透过透明区域。</p>

  <img src="assets/images/color-region-edges.png" alt="颜色区域边缘" />

  <p>构建规划非常重要。设计人员、开发人员和插图人员之间的快速规划会议为小组成员了解各项内容应采取的构建方式提供了帮助，使各项内容在整合后能够协调一致。</p>

  <p>以 Photoshop 文件为例，了解层命名如何显示关于 CSS 构建的信息。</p>

  <img src="assets/images/color-layer-setup.png" alt="颜色区域边缘" />

  <p><a href="assets/demos/colorShiftDemo.zip" class="button-download">下载颜色偏移演示</a></p>

  <h2 id="toc-encore">加演。</h2>

  <p>针对未安装 Chrome 浏览器的用户，我们设定了一个目标：将应用精髓凝炼成一幅静态图片。网格节点代表主体，背景瓦片暗指应用目的，倒影中的透视图暗示网格逼真的 3D 环境。</p>

  <a href="http://www.technitone.com"> <img src="assets/images/only-in-chrome.png" alt="颜色区域边缘" /> </a>

  <p>如果您想学习更多 Technitone 相关知识，请继续关注我们的<a href="http://www.gskinner.com/blog">博客</a>。</p>

  <p><a href="assets/demos/AllDemos.zip" class="button-download">下载一个包含所有演示的文件</a></p>

  <h2 id="toc-theband">乐队。</h2>

  <p>感谢您的阅读，也许我们很快又会<a href="http://www.technitone.com">叨扰您</a>！</a></p>





  <!-- WebGL code -->

  <script type="text/javascript" src="webgl/code/shaders/ShaderColor.js"></script>
  <script type="text/javascript" src="webgl/code/shaders/ShaderDetailed.js"></script>
  <script type="text/javascript" src="webgl/code/shaders/ShaderParticle.js"></script>
  <script type="text/javascript" src="webgl/code/shaders/ShaderSolo.js"></script>
  <script type="text/javascript" src="webgl/code/shaders/ShaderTexture.js"></script>
  
  <script type="text/javascript" src="webgl/code/shapes/ColorCube.js"></script>
  <script type="text/javascript" src="webgl/code/shapes/Particle.js"></script>
  <script type="text/javascript" src="webgl/code/shapes/ParticleEmitter.js"></script>
  <script type="text/javascript" src="webgl/code/shapes/Plane.js"></script>
  <script type="text/javascript" src="webgl/code/shapes/TextureCube.js"></script>
  
  <script type="text/javascript" src="webgl/code/utils/glMatrix-0.9.5.min.js"></script>
  <script type="text/javascript" src="webgl/code/utils/webgl-utils.js"></script>
  
  <script type="text/javascript" src="webgl/code/demos/Demo01.js"></script>
  <script type="text/javascript" src="webgl/code/demos/Demo02.js"></script>
  <script type="text/javascript" src="webgl/code/demos/Demo03.js"></script>
  <script type="text/javascript" src="webgl/code/demos/Demo05.js"></script>
  <script type="text/javascript" src="webgl/code/demos/Demo06.js"></script>

  <!-- End of WebGL code. -->
  

  <script type="text/javascript" src="assets/demos/webAudio/js/Voice.js"></script>
  <script type="text/javascript" src="assets/demos/webAudio/js/NodeChain.js"></script>
  <script type="text/javascript" src="assets/demos/webAudio/js/VoiceLoader.js"></script>

  <!-- COLOR SHIFTING DEMO -->
  <link href='assets/demos/colorShiftDemo/css/styles.css' rel='stylesheet'>
  <script type="text/javascript" src="assets/demos/colorShiftDemo/js/ColorShifting.js"></script>
  <script type="text/javascript">
    var loadSampleBtn = null;
    var loadImpulseResponseBtn = null;

    var context = null;
    var compressorNode = null;
    var sampleNodeChain = null;

    var voiceLoader = null;
    var sampleVoice = null;
    var impulseResponseVoice = null;

    function init() {
      // don't double load.
      if (init.run) return;
      init.run = true;

      onNewWebGLDemo();

      if (typeof webkitAudioContext != "function") {
        $("input[type='button']").attr("disabled", "disabled");
      } else {
        $("#webAudioNotSupportedLabel").remove();
      }
      wa_demo1_initWebAudio();
      wa_demo1_configUI();

      sampleVoice = new Voice("painoC4", "Piano", "assets/demos/webAudio/audio/Piano.ff.C4.wav"); // http://theremin.music.uiowa.edu/MISpiano.html
      impulseResponseVoice = new Voice("rythm1", "Rythym", "assets/demos/webAudio/audio/filter-rhythm1.mp3"); // http://chromium.googlecode.com/svn/trunk/samples/audio/impulse-responses/
      voiceLoader = new VoiceLoader();
    }

    function wa_demo1_initWebAudio() {
      context = new webkitAudioContext();

      Voice.CONTEXT = context;
      VoiceLoader.CONTEXT = context;
      NodeChain.CONTEXT = context;

      // Setup Routing:
      compressorNode = context.createDynamicsCompressor();
      compressorNode.connect(context.destination);

      sampleNodeChain = new NodeChain();
      sampleNodeChain.connect(compressorNode);
    }

    function wa_demo1_configUI() {
      loadSampleBtn = $("#loadSampleBtn");
      loadSampleBtn.click(function (event) {
        loadSampleBtn.unbind("click");
        loadSampleBtn.val("Loading Sample...");
        voiceLoader.loadVoice(sampleVoice, wa_demo1_onVoiceSuccess, null, wa_demo1_onVoiceFail);
      });

      loadImpulseResponseBtn = $("#loadImpulseResponseBtn");
      loadImpulseResponseBtn.click(function (event) {
        loadImpulseResponseBtn.unbind("click");
        loadImpulseResponseBtn.val("Loading Impulse Response...");
        voiceLoader.loadVoice(impulseResponseVoice, wa_demo1_onVoiceSuccess, null, wa_demo1_onVoiceFail);
      });

      $(".impulseResponse").change(function (event) {
        sampleNodeChain.convolve = $(event.target)[0].checked;
      });

      $(".delay").change(function (event) {
        sampleNodeChain.delay = $(event.target)[0].checked;
      });
    }

    function wa_demo1_onVoiceSuccess (voice) {
      //TD: I put a short delay in so the users with fast internet connections wouldn't see a quick blinking loading button.
      setTimeout(function () {

        if (voice == sampleVoice) {
          sampleNodeChain.voice = voice;

          loadSampleBtn.val("Play Sample");
          loadSampleBtn.click(function (event) {
            sampleNodeChain.noteOn(0);
          });

          $(".delay").removeAttr("disabled");
          if (impulseResponseVoice.loaded) {
            $(".impulseResponse").removeAttr("disabled");
          }
        } else {
          sampleNodeChain.impulseResponseVoice = voice;

          loadImpulseResponseBtn.val("Play Impulse Response");
          loadImpulseResponseBtn.click(function (event) {
            var sourceNode = context.createBufferSource();
            sourceNode.buffer = impulseResponseVoice.buffer;
            sourceNode.connect(compressorNode);
            sourceNode.noteOn(0);
          });

          if (sampleVoice.loaded) {
            $(".impulseResponse").removeAttr("disabled");
          }
        }

      }, 300);
    }

    function wa_demo1_onVoiceFail (voice) {
      if (voice == sampleVoice) {
        loadSampleBtn.val("Sample Load Fail");
        loadSampleBtn.attr("disabled", "disabled");
      } else {
        loadImpulseResponseBtn.val("Impulse Response Load Fail");
        loadImpulseResponseBtn.attr("disabled", "disabled");
      }
    }
  </script>
  
  <!-- WebGL -->
  
  <script type="text/javascript">      
      function onNewWebGLDemo(event) {
        var canvas = document.getElementById("webglcanvas");
        var webglDemo = parseInt(document.getElementById("webglDemoNumber").value);
        
        document.getElementById("webglDefault").hidden = true;
        document.getElementById("webglDemo1").hidden = true;
        document.getElementById("webglDemo2").hidden = true;
        document.getElementById("webglDemo3").hidden = true;
        document.getElementById("webglDemo4").hidden = true;
        document.getElementById("webglDemo5").hidden = true;
        
        if (this.webglDemo) {
           this.webglDemo.destroy();        
           
           switch (webglDemo) {
             case 1:
               document.getElementById("webglDemo1").hidden = false;
               this.webglDemo = new Demo01(canvas); 
               break;
             case 2:
               document.getElementById("webglDemo2").hidden = false;
               this.webglDemo = new Demo02(canvas); 
               break;
             case 3:
               document.getElementById("webglDemo3").hidden = false;
               this.webglDemo = new Demo03(canvas); 
               break;
             case 4:
               document.getElementById("webglDemo4").hidden = false;
               this.webglDemo = new Demo05(canvas); 
               break;
             case 5:
               document.getElementById("webglDemo5").hidden = false;
               document.getElementById("useTextureNormal").checked = false;
               this.webglDemo = new Demo06(canvas); 
               break;
             default:
               break;
           }
        
           this.webglDemo.paused = false;
           this.webglDemo.tick();
        } else { // Start with Demo01. Otherwise, indicate the browser's not compatable.
          this.webglDemo = new Demo01(canvas);
          document.getElementById("webglDemoNumber").value = 1;
          if (this.webglDemo.gl && this.webglDemo.shader.program) {
            document.getElementById("webglDemo1").hidden = false;
          } else {
        canvas.hidden = true;
        $('#webglDemoNumber').attr("disabled", "disabled");
            document.getElementById("webglDefault").hidden = false;
          }
        }
        
      }
      
      function onKeyboardDown(event) {
        if (!this.webglDemo.paused) {
          this.webglDemo.keyDown(event.keyCode);
        }
      }
      function onKeyboardUp(event) {
        if (!this.webglDemo.paused) {
          this.webglDemo.keyUp(event.keyCode);
        }
      }      
      function onToggleWireframe(event) {
        var toggle = document.getElementById("wire").checked;
        this.webglDemo.wireframe = toggle;
      }
      function onChangeCrateTexture(event) {
          var splr = document.getElementById("crateTexture").value;
          this.webglDemo.setCrateTexture(splr);
        }     
        
      function onToggleNormal(event) {
          this.webglDemo.useNormal = document.getElementById("useTextureNormal").checked;
        }      
     
    </script>




  <script src='/tutorials/doodles/lem/prettify-newer.js'></script>  <!-- //mg: Downloaded from HTML5Rocks.com, Doodle Case Study -->
  <script src='/tutorials/doodles/lem/scripts.js'></script>       <!-- //mg: Downloaded from HTML5Rocks.com, Doodle Case Study -->

  <script>
    initialize(); 
    window.addEventListener('load',init, false);
    setTimeout(function(){
      init();
    }, 7*1000); // random double run to attempt to fix init() not running..
  </script>


</script>
{% endblock %}