body.article {
  background: #F2F2F2;
}

.article .title h1 {
  -webkit-font-smoothing: antialiased;
  color: #555555;
  text-shadow: 0 1px 2px rgba(255,255,255,0.7);
  font-size: 56px;
  font-family: 'Open Sans';
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -0.06em;
}

.article .title-text {
  padding: 75px 2% 90px 2%;
}

.article .title h1 {
  margin: 0;
  padding: 0;
}

.article .byline {
  min-height: 75px;
  padding: 12px 2%;
  background: #444444;
}

.article .byline img {
  outline: 3px solid #FFF;
  margin-right: 40px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.4);
}

.article .author-images {
  display: none;
}

.article .meta {
  display: block;
}

.article .toc {
  display: none;
}

.article .content-wrapper {
  background: #FFF;
  padding: 2em 0 0 0;

  font-family: 'Myriad Pro';
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  line-height: 1.45;
  color: #666;
}

.article .content-wrapper section {
  display: block;
  width: 98%;
  margin: 0 auto;
}

.article h2,
.article h3,
.article h4 {
  color: #444;
  font-family: 'Open Sans';
  font-weight: 800;
  font-size: 32px;
  border-bottom: 1px solid #DDD;
  margin: 2em 0 1em 0;
}

.article h3 {
  color: #666;
  font-size: 28px;
}

.article h4 {
  color: #666;
  font-size: 24px;
}

.article figure {
  text-align: center;
  display: block;
}

.article figure img {
  outline: 1px solid #CCC;
}

.article figcaption {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 17px;
  font-style: italic;
}

.article blockquote {
  font-size: 24px;
  font-style: italic;
  color: #888;
  padding: 0 2em;
}

.article blockquote.talkinghead {
  width: 50%;
  float: right;

  border: 1px solid red;
}

.article blockquote.talkinghead:nth-child(2n) {
  float: left;
}

.article blockquote:after,
.article blockquote:before {
  clear: both;
}

@media (min-width: 500px) {
  .article .author-images,
  .article .meta {
    display: inline-block;
  }
}
