/* still some pages use base.html as their base. this is an rtl patch for them */

pre, code, kbd, samp {
	direction: ltr;
}

/* to fix rtl for base.html based pages */
.page header hgroup{
	float: right;
	padding-right: 0px;
	padding-left: 2%;
}

.feature_icon{
	left: auto;
	right:-50px;
}

/* to fix rtl for watermark on the top left(Now right!) */
.watermark{
	right: 50%;
	margin-right: -605px;
}

.tutorial_listing .date, 
.tutorial_listing .author, 
.tutorial_listing .tags, 
.tutorial_listing .tag{
	float:right;
}

.tutorial_listing .classes{
	float:none;
}


/* to fix rtl for performance page, paginator*/
nav.paginator {
	left:auto;
	right: 50%;
	margin-right: 500px;
	margin-left: 0px;
}
.outline_nav_toggle{
	left: auto;
	right: 50%;
	margin-right: 525px;
	margin-left: 0px;
}
nav.outline{
	right:auto;
	left:50%;
}
nav.outline.features li a{
	background-position: right !important;
	padding-left: 0px !important;
	padding-right: 18px !important;
}

/* to fix rtl for tag a */
.page header a[href^='http']:not([href*='html5rocks.']), 
.tutorials a[href^='http']:not([href*='html5rocks.']), 
.feed-section a[href^='http']:not([href*='html5rocks']), 
.info-section a[href^='http']:not([href*='html5rocks.']), 
article section a[href^='http']:not([href*='html5rocks']), 
a[rel='external']{
	padding-right: 0px;
	padding-left: :;px;
	background-position: left !important;
}


/* to rtl for fix "in the wild" cards */
article.feature figure img, 
section.figures figure img, 
ul.figures li a img{
	float: right;
}
article.feature figcaption, 
section.figures figcaption, 
ul.figures li a strong, 
ul.figures li a p{
	margin: 0 150px 0 0;
}