/*@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);

a, h1,h2,h3,h4,h5,h6, p{
	font-family: "Droid Arabic Naskh", Tahoma !important;
}*/

pre, code, kbd, samp {
	direction: ltr;
}

/* to fix rtl for top menu */
#sitenav ul li{
	margin-right: 0px;
	margin-left: 10px;
	float:right;
}

#sitenav ul:after{
	/* to fix clear */
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* to fix title alignment */
.article .title h1{
	padding-right: 0px;
	padding-left: 100px;
	margin-right: 100px;
}

.title section a{
	left:none;
	right:10px;
}


/* to fix main body blocks alignment */
.article .content-wrapper .content{
	margin-left: 0px;
	margin-right: 315px;
}
#article-meta{
	right: 17px;
}

#article-meta.sticky{
	margin-right: 17px;
}

/* to fix byline */
.article .author-images, .article .meta{
	float:right;
}
.article .author-images a:last-of-type{
	margin-right: 0px;
	margin-left: 25px;
}
.article .author-images, .article .meta{
	text-align: right
}


/* to fix article-meta element directions */
.article .article-meta li, .article footer .panel li{
	padding-left: 0px;
	padding-right: 17px;
	background-position-x: right;
}

/* to fix footer blocks*/
.article footer .panel{
	float:right;
	margin-right: 0px;
	margin-left: 3%;
}
.article footer .panel.share a{
	margin-right: 0px;
	margin-left: 14px;
}
.article footer .panel.rss h2{
	padding-left: 0px;
	padding-right: 40px;
	background: url(/static/images/rss.png) no-repeat right; /* I had to change this for RTL */
	background-size:30px 30px;
}


/* to fix main page search button */
.search #search-button{
	right: auto;
	left: 1%;
}


.prettyprint, code{
	direction: ltr;
}

/* to fix article list in tutorials screen */
.articles-list .left{ /*namings are a bit funny for RTL :D */
	float:right;
}
.articles-list .right{
	float:right;
}

/* to fix main header */
.masthead .container #image{
	left: auto;
	right: 5%;
}

.masthead .container span.learnmore{
	right: auto;
	left: 5%;
}

.masthead .container span.small{
	left:auto;
	right: 34%
}

.masthead .container span.large{
	left:auto;
	right: 44%;
	width: auto;
}

.masthead .container span.learnmore:after {
    content: ' ←';
}

/* to fix articles list in main screen */
.latest-articles ul li{
	margin: 0 0 20px 2%;
}
.latest-articles .right, .latest-articles .left{
	float:right;
}
.latest-articles .right{
	margin-left: 0px;
	margin-right: 1%;
}


/* to fix bottom cards in main screen */
.landing-pages .panel .left, .landing-pages .panel .right{
	float:right;
}

/* to fix RSS link in main screen */
.latest-articles .rss-feed{
	right: auto;
	left:1%;
}

/* to fix main screen articles' title */
.latest-articles h2{
	padding-right: 2%;
	padding-left: 0px;
}

/* to fix ul */
section ul{
	margin-left: 0em;
	margin-right: 1.75em;
}

