/* to fix rtl for top menu */
#sitenav ul li{
	margin-right: 0px;
	margin-left: 10px;
	float:right;
}

#sitenav ul:after{
	/* to fix clear */
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* to fix title alignment */
.article .title h1{
	padding-right: 0px;
	padding-left: 100px;
	margin-right: 100px;
}

.title section a{
	left:none;
	right:10px;
}


/* to fix main body blocks alignment */
.article .content-wrapper .content{
	margin-left: 0px;
	margin-right: 315px;
}
#article-meta{
	right: 17px;
}

#article-meta.sticky{
	margin-right: 17px;
}






