.listing.article .content-wrapper {
  line-height: 1.2;
}

.listing .pager {
  font-size: 18px;
  margin: 0 0 2em 0;
  text-align: center;
}

.listing.article .content-wrapper section.search {
  margin: -2em 0 1em 0;
  z-index: 2;
}

.articles-list {
  position: relative;
}

.articles-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.articles-list ul li {
  margin: 0 0 20px 0;
  padding: 20px 0 20px 0;
  border-top: 1px solid #DDD;
  list-style: none;
  width: 100%;
  background: #FFF;
  display: block;
  float: left;
}

.articles-list ul li:nth-child(1),
.articles-list ul li:nth-child(2) {
  border-top: none;
  padding-top: 0;
}

.articles-list ul li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.articles-list ul li a {
  display: block;
  background: #FFF;
}

.articles-list .left {
  display: block;
  float: left;
  width: 7%;
  min-width: 70px;
  padding-left: 4%;
}

.articles-list .right {
  display: block;
  float: left;
  width: 70%;
  margin: 0 0 0 1%;
}

.articles-list .author img {
  border: 2px solid #FFF;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.articles-list .title {
  background: none;
  color: #333;
  font-size: 17px;
  font-family: 'Open Sans';
  font-weight: 800;
  display: block;
  margin-bottom: 0.6em;
  transition: color 0.3s ease-out;
}

.articles-list .date {
  display: block;
  margin-bottom: 0.4em;
  line-height: 1;
  color: #666;
  font-size: 14px;
  font-weight: 600;
}

.articles-list a:hover .title {
  color: #666;
}

.articles-list .description {
  color: #666;
  font-size: 15px;
  line-height: 1.2;
  display: block;
  margin-bottom: 0.6em
}

.articles-list .tag {
  font-size: 12px;
  text-transform: uppercase;
  margin-right: 5px;
}

@media (max-width: 999px) {
  .listing.article .title h1 {
    width: 100%;
    padding-left: 4%;
  }
}

@media (min-width: 1000px) {
  .articles-list .left {
    padding-left: 2%;
  }

  .articles-list ul li {
    float: left;
    width: 48%;
  }

  .articles-list ul li:nth-child(2n+1) {
    clear: left;
    margin-right: 3%;
  }
}
