{% extends "tutorial.html" %}
{% load mixin from templatefilters %}

{% block pagebreadcrumb %}{{ tut.title }}{% endblock %}

{% block head %}
<style>
.disabledemos .demoarea {
  display: none !important;
}
.demoarea, .demodevtools {
  margin-top: 20px;
}
.demodevtools {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-right: 1em;
}
.demodevtools:before {
  content: 'DevTools rendering:';
  position: absolute;
  top: -20px;
  left: 0;
  font-weight: bold;
  text-transform: uppercase;
}
.demoarea {
  padding: 10px;
  background: #fff;
  border: 1px dashed #000;
  display: inline-block;
  position: relative;
}
.demoarea:before {
  content: 'Live Demo:';
  position: absolute;
  top: -20px;
  left: 0;
  font-weight: bold;
  text-transform: uppercase;
}
.talkinghead:before {
  background-image: url(/static/images/profiles/75/ericbidelman.75.png);
  background-position: 0px 0px !important;
}
</style>
<script>
HTMLElement.prototype.createShadowRoot = HTMLElement.prototype.createShadowRoot ||
                                         HTMLElement.prototype.webkitCreateShadowRoot;
</script>
{% endblock %}

{% block iscompatible %}
  return HTMLElement.prototype.webkitCreateShadowRoot || HTMLElement.prototype.createShadowRoot ? true : false;
{% endblock %}

{% block html5badge %}
<!-- Your HTML5 badge (tech class icons used in the article) goes here -->
{% endblock %}

{% block share_image %}
<!--<meta itemprop="image" content="images/your_social_sharing_img.png">-->
{% endblock %}

{% block content %}

