{% extends "tutorial.html" %}

{% block head %}
<!--<meta name='viewport' content='width=800'>-->
<link href='styles.css' rel='stylesheet'>
{% endblock %}

{% block html5badge %}
<img src="/static/images/identity/html5-badge-h-css3-graphics-storage.png" width="197" height="64" alt="This article is powered by HTML5 Graphics, 3D &amp; Effects, CSS3, and Offline/Storage" title="This article is powered by HTML5 Graphics, 3D &amp; Effects, CSS3, and Offline/Storage" />
{% endblock %}

{% block iscompatible %}
  return !!Modernizr.canvas
{% endblock %}

{% block content %}
<section id='main-text'>
  <h2 id='hello-strange-world'>
    Hello, (strange) world
  </h2>
  <p>
    The Google homepage is a fascinating environment to code within. It comes
    with many challenging restrictions: particular focus on speed and latency,
    having to cater to all sorts of browsers and work under various
    circumstances, and… yes, surprise and delight.
  </p>
  <p>
    I’m talking about <a href='http://www.google.com/doodles/'>Google
    doodles</a>, the special illustrations that occasionally replace our logo.
    And while my relationship with pens and brushes has long had that
    distinctive flavour of a restraining order, I often contribute to the
    interactive ones.
  </p>
  <p>
    Every interactive doodle I coded (<a
    href='http://www.google.com/doodles/30th-anniversary-of-pac-man'>Pac-Man</a>, <a
    href='http://www.google.com/doodles/jules-vernes-183rd-birthday'>Jules Verne</a>, <a
    href='http://www.google.com/doodles/160th-anniversary-of-the-first-worlds-fair'>World’s Fair</a>)
    – and many I helped with – were in equal parts futuristic and
    anachronistic: great opportunities for pie-in-the-sky applications of
    cutting-edge Web features… and gritty pragmatism of cross-browser
    compatibility.
  </p>

  <figure>
    <div id='doodle' style='margin: 0 auto; position: relative; width: 520px; height: 170px'></div>
    <figcaption>
      Stanisław Lem doodle; click to activate<br>
      (also available on <a href='/static/demos/lemdoodle/examples/lem-standalone/index.html'>a separate page</a>)
    </figcaption>
  </figure>
  <p>
    We learn a lot from each interactive doodle, and the recent
    <span id='bird-perch'>Stanisław Lem</span>
    mini-game was no exception, with its 17,000 lines of JavaScript code
    trying many things for the first time in doodle history. Today, I want to
    share that code with you – perhaps you'll find something interesting
    there, or point out my mistakes – and talk a bit about it.
  </p>
  <p>
    <a class='important' href='https://code.google.com/p/stanislaw-lem-google-doodle/'>View Stanisław Lem doodle code »</a>
  </p>
  <p>
    A thing worth keeping in mind is that Google's homepage is not a place for
    tech demos. With our doodles, we want to celebrate specific people and
    events, and we want to do that using the best art and the best
    technologies we can summon – but never celebrate technology for
    technology's sake. This means carefully looking at whatever part of
    broadly understood <abbr>HTML5</abbr> is available, and whether it helps us make the
    doodle better without distracting from it or overshadowing it.
  </p>
  <p>
    So, let's go through some of the modern Web technologies that found their
    place – and some that didn't – in the Stanisław Lem doodle.
  </p>
  <p class='note'>
    Note: Brown links in this article show excerpts of code in pop-ups or
    in a new window, depending on your choice.
    <a href='code/engine-main.js#1-282'>Try and
    <span class='hidden-touch'>click</span><span class='hidden-mouse'>tap</span> me!</a>
  </p>

  <h2 id='graphics-via-dom-and-canvas'>
    Graphics via <abbr>DOM</abbr> and canvas
  </h2>
  <p>
    <a href='https://developer.mozilla.org/en/HTML/Canvas'>Canvas</a> is
    powerful and created for exactly the kind of things we wanted to do in
    this doodle. However, some of the older browsers we cared about didn't
    support it – and even though I am literally sharing an office with the
    person who put together an otherwise excellent <a
    href='http://excanvas.sourceforge.net/'>excanvas</a>, I decided to choose
    a different way.
  </p>
  <p>
    I put together <a href='code/engine-rects.js#1-25'>a
    graphic engine</a> that abstracts away
    graphic primitives called “rects,” and then renders them using either
    canvas, <a href='code/engine-rects.js#54-64'>or
    <abbr>DOM</abbr></a> if canvas is unavailable.
  </p>
  <p>
    This approach comes with some interesting challenges – for example, moving
    or changing an object in <abbr>DOM</abbr> has <a
    href='code/engine-rects.js#888-1062'>immediate consequences</a>, whereas
    for canvas there’s a specific moment when <a
    href='code/engine-main.js#1433-1454'>everything’s drawn at the same
    time</a>. (I decided to have just one canvas, and clear it and draw from
    scratch with every frame. Too many, literally, moving parts on one hand –
    and on the other not enough complexity to warrant splitting into multiple
    overlapping canvases and updating them selectively.)
  </p>
  <p>
    Unfortunately, switching to canvas is not as simple as just mirroring <abbr>CSS</abbr>
    backgrounds with <code>drawImage()</code>: you lose a number of things
    that come for free when putting things together
    <span class='foreign'>via</span> <abbr>DOM</abbr> – most
    importantly layering with z-indexes, and mouse events.
  </p>
  <p>
    I already abstracted away the z-index with a concept called “planes.” The
    doodle defined <a href='code/lem-const.js#94-111'>a
    number of planes</a> – from the sky far behind, to the mouse
    pointer in front of everything – and every actor within the doodle had to
    decide which one it belonged to (small plus/minus corrections within a
    plane were possible by using <code>planeCorrection</code>).
  </p>

  <figure>
    <table class='compact'>
      <tr>
        <td>
          <iframe style='width: 470px; height: 600px'
                  id='lem-planes-iframe'
                  src='/static/demos/lemdoodle/examples/lem-planes/index.html'></iframe>
        <td style='width: 250px' id='lem-planes-options'>

          <!-- This extra div is for the checkboxes to work on iPad, they otherwise wouldn't for some reason -->
          <div style='white-space: nowrap; width: 200px; height: 320px'>
            <input type='checkbox' id='lem-plane-100' plane='100'
                   onclick='updateLemPlanes()'
                   checked><label onclick for='lem-plane-100'><code><span class='hidden-narrow'>PLANE_</span>BK_SKY</code></label>
            <br>
            <input type='checkbox' id='lem-plane-200' plane='200'
                  onclick='updateLemPlanes()'
                  checked><label onclick for='lem-plane-200'><code><span class='hidden-narrow'>PLANE_</span>SKY</code></label>
            <br>
            <input type='checkbox' id='lem-plane-300' plane='300'
                  onclick='updateLemPlanes()'
                  checked><label onclick for='lem-plane-300'><code><span class='hidden-narrow'>PLANE_</span>BK_MOUNTAINS</code></label>
            <br>
            <input type='checkbox' id='lem-plane-400' plane='400'
                  onclick='updateLemPlanes()'
                  checked><label onclick for='lem-plane-400'><code><span class='hidden-narrow'>PLANE_</span>BACKGROUND</code></label>
            <br>
            <input type='checkbox' id='lem-plane-500' plane='500'
                  onclick='updateLemPlanes()'
                  checked><label onclick for='lem-plane-500'><code><span class='hidden-narrow'>PLANE_</span>FW_MOUNTAINS</code></label>
            <br>
            <input type='checkbox' id='lem-plane-600' plane='600'
                  onclick='updateLemPlanes()'
                  checked><label onclick for='lem-plane-600'><code><span class='hidden-narrow'>PLANE_</span>GROUND</code></label>
            <br>
            <input type='checkbox' id='lem-plane-700' plane='700'
                  onclick='updateLemPlanes()'
                  checked><label onclick for='lem-plane-700'><code><span class='hidden-narrow'>PLANE_</span>FOREGROUND</code></label>
            <br>
            <input type='checkbox' id='lem-plane-800' plane='800'
                  onclick='updateLemPlanes()'
                  checked><label onclick for='lem-plane-800'><code><span class='hidden-narrow'>PLANE_</span>CLOSE_FOREGROUND</code></label>
            <br>
            <input type='checkbox' id='lem-plane-900' plane='900'
                  onclick='updateLemPlanes()'
                  checked><label onclick for='lem-plane-900'><code><span class='hidden-narrow'>PLANE_</span>THOUGHT_CLOUD</code></label>
            <br>
            <input type='checkbox' id='lem-plane-1000' plane='1000'
                  onclick='updateLemPlanes()'
                  checked><label onclick for='lem-plane-1000'><code><span class='hidden-narrow'>PLANE_</span>COVER</code></label>
            <br>
            <input type='checkbox' id='lem-plane-1100' plane='1100'
                  onclick='updateLemPlanes()'
                  checked><label onclick for='lem-plane-1100'><code><span class='hidden-narrow'>PLANE_</span>TOOLBAR</code></label>
            <br>
            <input type='checkbox' id='lem-plane-1200' plane='1200'
                  onclick='updateLemPlanes()'
                  checked><label onclick for='lem-plane-1200'><code><span class='hidden-narrow'>PLANE_</span>MOUSE_POINTER</code></label>
          </div>
    </table>
    <figcaption>Demonstration of Lem doodle planes.</figcaption>
  </figure>

  <p>
    Rendering through <abbr>DOM</abbr>, the planes are simply
    <a href='code/engine-rects.js#991-994'>translated into z-index</a>.
    But if we render <span class='foreign'>via</span> canvas, we need to
    <a href='code/engine-main.js#1402-1431'>sort rects based on
    their planes before drawing them</a>. Since it’s
    costly to do this every time, the order is recalculated only
    <a href='code/engine-main.js#1389-1400'>when an actor
    is added or when it moves to another plane</a>.
  </p>
  <p>
    For mouse events, I abstracted that too… sort of. For both <abbr>DOM</abbr> and canvas,
    I used <a href='code/engine-rects.js#367-520'>additional
    completely transparent floating <abbr>DOM</abbr> elements</a> with high
    z-index, whose function is only to react to mouse over/out, clicks and
    taps. If you are running the demo, you
    can visualize those elements in red by adding
    <a href='/static/demos/lemdoodle/examples/lem-standalone/index.html?doodle-debug&doodle-show-clickable'><span class='url'>?doodle-debug&doodle-show-clickable</span></a>
    to the <abbr>URL</abbr>.
  </p>

  <p>
    One of the things we wanted to try with this doodle was breaking the
    fourth wall. The above engine allowed us to combine canvas-based actors
    with <abbr>DOM</abbr>-based actors. For example, the explosions in the finale are both
    in canvas for <a href='code/lem-actors.js#6777-6882'>in-universe
    objects</a> and in <abbr>DOM</abbr> <a href='code/lem-actors.js#6884-7211'>for
    the rest of the Google homepage</a>. The bird, normally flying around and clipped by our
    jagged mask like any other actor, decides to stay out of trouble during
    the shooting level, and sits on the I’m Feeling Lucky button. The way it’s
    done is <a href='code/lem-actors.js#1379-1388'>for the bird
    to leave canvas and become a <abbr>DOM</abbr>
    element</a> (and <a href='code/lem-actors.js#1390-1397'><span class='foreign'>vice versa</span> later</a>),
    which I hoped to be <a href='code/lem-scenes.js#923-932'>completely
    transparent to our visitors</a>.
  </p>

  <h2 id='the-frame-rate'>
    The frame rate
  </h2>
  <p>
    Knowing the current frame rate, and reacting to when it's too slow (and
    too fast!) was an important part of our engine. Since the browsers don't
    report back the frame rate, we have to calculate it ourselves.
  </p>
  <p>
    I started with using <a href='https://developer.mozilla.org/en/DOM/window.requestAnimationFrame'>requestAnimationFrame</a>,
    falling back to the
    old-fashioned <code>setTimeout</code> if the former was not available.
    <code>requestAnimationFrame</code> cleverly saves the <abbr>CPU</abbr> in
    some situations – although we are doing some of that ourselves, as will be
    explained below – but also simply allows us to get a higher frame rate
    than <code>setTimeout</code>.
  </p>
  <pre src='code/engine-helpers.js#438-451'></pre>
  <p>
    <span class='foreign'>Nota bene:</span> Why a repeated <code>setTimeout</code> and not simply
    <code>setInterval</code>? We found out before that when the system is
    lagging, <code>setInterval</code>s become slightly unpredictable and can hog the CPU
    when the browser tries to catch up. If you’re using <code>setTimeout</code>, there’s
    only one timer event scheduled at any given time, so there is no danger of this
    happening.
  </p>
  <p>
    Calculating the current frame rate <a href='code/engine-main.js#1329-1338'>is simple</a>, but is
    subject to drastic changes – for example it can drop quickly when another
    application hogs the computer for a while. Therefore, we calculate a
    “rolling” (averaged) frame rate <a href='code/engine-main.js#1303-1327'>only across every 100 physical ticks</a>
    and make decisions based on that.
  </p>
  <p>
    What kind of decisions?
  </p>
  <ul>
    <li>
      If the frame rate is higher than 60fps, we <a href='code/engine-main.js#1194-1199'>throttle it</a>.
      Currently, <code>requestAnimationFrame</code> on some versions of Firefox has no
      upper cap on the frame rate, and there's no point in wasting the CPU.
      Note that we actually cap at 65fps, because of the rounding errors that
      make the frame rate just a bit higher than 60fps on other browsers – we
      don't want do start throttling that by mistake.
    <li>
      If the frame rate is lower than 10fps, we simply <a href='code/engine-main.js#1188-1192'>slow
      down the engine instead of dropping frames</a>.
      It’s a lose-lose proposition, but I felt that skipping frames
      excessively would be more confusing than simply having a slower (but still
      coherent) game. There’s another nice side effect of that –
      if the system gets slow temporarily, the user won’t experience a weird
      jump ahead as the engine is desperately catching up. (I did it slightly
      differently for Pac-Man, but the minimum frame rate is a better
      approach.)
    <li>
      Lastly, we can think of simplifying graphics when the frame rate gets
      dangerously low. We're not doing it for Lem doodle with the exception of
      mouse pointer (<a href='#customizing-the-mouse-pointer'>more on that
      below</a>), but hypothetically we could lose some of the extraneous
      animations just so that the doodle feels fluid even on slower computers.
  </ul>

  <p>
    We also have a concept of a <a href='code/engine-main.js#1162-1279'>physical tick</a>
    and a <a href='code/engine-main.js#1281-1301'>logical tick</a>. The former comes from
    <code>requestAnimationFrame</code>/<code>setTimeout</code>. The ratio in
    normal gameplay is 1:1, but for fast-forwarding, we just add more logical
    ticks per a physical tick (up to 1:5). This allows us to do all the
    necessary calculations for every logical tick, but only designate the last
    one to be the one updating things on the screen.
  </p>
  <p>
    You can see the current/rolling frame rate and some other real-time
    information by running the doodle with a special parameter
    <a href='/static/demos/lemdoodle/examples/lem-standalone/index.html?doodle-debug&doodle-show-debug'><span class='url'>?doodle-debug&doodle-show-debug</span></a>.
  </p>

  <h2 id='benchmarking'>
    Benchmarking
  </h2>
  <p>
    An assumption can be (and indeed, early on, was) made that canvas will be
    faster than <abbr>DOM</abbr> whenever it's available. That is not always true. While
    testing, we found out that Opera 10.0–10.1 on a Mac, and Firefox on Linux
    are actually faster when moving <abbr>DOM</abbr> elements.
  </p>
  <p>
    In the perfect world, the doodle would silently benchmark different
    graphic techniques – <abbr>DOM</abbr> elements moved using <code>style.left</code>
    and <code>style.top</code>,
    drawing on canvas, and maybe even <abbr>DOM</abbr> elements moved using <abbr>CSS3</abbr> transforms
    – and then switch to whichever one gave the highest frame rate. I started
    writing code for that, but found that at least my way of benchmarking was
    pretty unreliable and required a lot of time. Time that we don't have on
    our homepage – we care a lot about speed and we want the doodle to show up
    instantly and the gameplay to begin as soon as you click or tap.
  </p>
  <p>
    In the end, Web development sometimes boils down to having to do what you
    gotta do. I looked behind my shoulder to make sure no one was looking, and
    then I just <a href='code/engine-main.js#325-358'>hard-coded Opera 10
    and Firefox out of canvas</a>. In the next life, I will come back as a
    <code>&lt;marquee&gt;</code> tag.
  </p>

  <h2 id='conserving-cpu'>
    Conserving CPU
  </h2>
  <p>
    You know that friend who comes to your house, watches the season finale of
    <span class='title'>Breaking Bad,</span> spoils it for you and then
    deletes it from your <abbr>DVR</abbr>? You don't want to be that guy, do you?
  </p>
  <p>
    So, yes, the worst analogy ever. But we don't want our doodle to be that
    guy either – the fact we're allowed into someone's browser tab is a
    privilege, and hoarding <abbr>CPU</abbr> cycles or distracting the user
    would make us an unpleasant guest. Therefore, if <a
    href='code/engine-main.js#591-608'>no one’s playing with the doodle</a>
    (no taps, mouse clicks, mouse movements, or key presses), we want it to
    eventually go to sleep.
  </p>
  <p>
    When?
  </p>
  <ul>
    <li>after 18 seconds on the homepage (arcade games called this
      <a href='http://en.wikipedia.org/wiki/Attract_mode'>the attract mode</a>)
    <li>
      after 180 seconds if the tab has focus
    <li>
      after 30 seconds if the tab doesn’t have focus (e.g. the user switched
      to another window, but perhaps is still watching the doodle now in
      an inactive tab)
    <li>
      <em>immediately</em> if the tab becomes invisible (e.g. the user switched to
      another tab in the same window – no point in wasting cycles if we can't
      be seen)
  </ul>
  <p>
    How do we know the tab currently has focus? We attach ourselves to
    <a href='code/engine-main.js#765-771'><code>window.focus</code></a> and
    <a href='code/engine-main.js#773-779'><code>window.blur</code></a> How
    do we know the tab is visible? We’re using the new
    <a href='http://code.google.com/chrome/whitepapers/pagevisibility.html'>Page Visibility API</a> and
    react to the appropriate event:
  </p>
  <pre src='code/engine-main.js#850-859'></pre>
  <pre src='code/engine-main.js#732-749'></pre>
  <p>
    The time outs above are more forgiving than usual for us. I adapted them
    to this particular doodle, which has a lot of ambient animations (chiefly the
    sky and the bird). Ideally, the time outs would be gated on in-game
    interaction – e.g. right after landing, the bird could report back to the
    doodle that it can go to sleep now – but I didn't implement
    that in the end.
  </p>
  <p>
    Since the sky is always in motion, when falling asleep and waking up the
    doodle doesn’t just stop or start – it slows down before pausing, and <span class='foreign'>vice
    versa</span> for resuming, <a href='code/engine-main.js#1253-1276'>increasing or decreasing</a>
    the number logical ticks per a physical tick as necessary.
  </p>

  <h2 id='transitions-transforms-events'>
    Transitions, transforms, events
  </h2>
  <p>
    One of the powers of <abbr>HTML</abbr> has always been the fact you can make it better
    yourself: if something is not good enough in the regular portfolio of <abbr>HTML</abbr>
    and <abbr>CSS</abbr>, you can wrangle JavaScript into extending it. Unfortunately, it
    oftentimes means having to start from scratch. <abbr>CSS3</abbr> transitions are great,
    but you cannot add a new transition type or use transitions to do anything
    else than styling elements. Another example: <abbr>CSS3</abbr> transforms are great for
    <abbr>DOM</abbr>, but when you move to canvas, you're suddenly on your own.
  </p>
  <p>
    These issues, and more, are why Lem doodle has its own transition and
    transform engine. Yeah, I know, 2000s called, etc. – the capabilities I
    built in are nowhere near as powerful as <abbr>CSS3</abbr>, but whatever the engine
    does, it does consistently and gives us much more control.
  </p>
  <p>
    I started with a <a href='code/engine-actions.js#24-53'>simple action
    (event) system</a> – a timeline that fires events in the future without
    using <code>setTimeout</code>, since at any given point doodle time can
    become divorced from physical time as it gets faster (fast forward), slower
    (low frame rate or falling asleep to save CPU), or stops altogether
    (waiting for images to finish loading).
  </p>
  <p>
    <a href='code/engine-actions.js#55-153'>Transitions</a> are just another
    type of actions. In addition to basic movements and rotation, we also
    support <a href='code/engine-actions.js#183-208'>relative movements</a>
    (e.g. move something 10 pixels to the right),
    custom things like <a href='code/engine-actions.js#306-317'>shivering</a>,
    and also <a href='code/engine-actions.js#319-332'>keyframe image animations</a>.
  </p>
  <p>
    I mentioned rotations, and those are done manually too: we have sprites
    for various angles for the
    <a href='code/engine-main.js#1558-1582'>objects that need to be rotated</a>.
    The main reason is that both <abbr>CSS3</abbr> and canvas
    rotations were introducing visual artifacts that we found unacceptable –
    and on top of that, those artifacts varied per platform.
  </p>
  <figure>
    <iframe style='width: 420px; height: 555px'
            src='/static/demos/lemdoodle/examples/lem-css3-rotation/index.html'></iframe>
    <figcaption>
      Example of visual artifacts
      (<a href='http://en.wikipedia.org/wiki/Moir%C3%A9_pattern'>moiré</a>)
      in an early prototype: look at robot's arms and hands.
      Note: This prototype will work only on WebKit browsers.
  </figure>
  <p>
    Given that some objects which rotate are attached to other rotating
    objects – one example is a robot's hand connected to the lower arm, which
    itself is attached to a rotating upper arm – this meant I also needed to
    create a poor man’s transform-origin <a href='code/engine-rects.js#756-819'>in form of pivots</a>.
  </p>
  <p>
    All of this is a solid amount of work that ultimately covers the ground
    already taken care of by <abbr>HTML5</abbr> – but sometimes native support is not good
    enough and it's that time for wheel reinvention.
  </p>

  <h2 id='dealing-with-images-and-sprites'>
    Dealing with images and sprites
  </h2>
  <p>
    An engine is not just for running the doodle – it's also for working on
    it. I shared some debug parameters above: you can find the rest in
    <a href='code/engine-main.js#402-458'><code>engine.readDebugParams</code></a>.
  </p>
  <p>
    <a href='http://www.alistapart.com/articles/sprites'>Spriting</a>
    is a well-known technique that we too use for doodles. It allows us to
    save bytes and decrease load times, plus it makes pre-loading easier.
    However, it also makes development harder – every change to imagery would
    require re-spriting (largely automated, but still cumbersome). Therefore,
    the engine supports running on raw images for development as well as
    sprites for production <span class='foreign'>via</span> <code>engine.useSprites</code> – both are
    included with the source code.
  </p>
  <figure>
    <img alt='Sprites used by the Pac-Man doodle'
         class='black padded'
         src='http://www.google.com/logos/pacman10-hp-sprite-2.png'>
    <figcaption>
      Sprites used by the
      <a href='http://www.google.com/pacman/'>Pac-Man doodle</a>.
    </figcaption>
  </figure>
  <p>
    We also support <a href='code/engine-main.js#1668-1705'>pre-loading images
    as we go along</a> and halting the doodle <a
    href='code/engine-main.js#1615-1625'>if the images didn’t load in time</a>
    – complete with a <a href='code/lem-actors.js#6412-6444'><span class='foreign'>faux</span>
    progress bar</a>! (<span class='foreign'>Faux</span> because, unfortunately, not even <abbr>HTML5</abbr>
    can tell us how much of an image file has already been loaded.)
  </p>
  <figure>
    <img alt='A screenshot of loading graphic with the rigged progress bar'
         src='images/loading.png'>
    <figcaption>
      A screenshot of loading graphic with the rigged progress bar.
    </figcaption>
  </figure>
  <p>
    For some scenes, we use more than one sprite not as much to speed up
    loading using parallel connections, but simply because of
    <a href='http://developer.apple.com/library/IOs/#documentation/AppleApplications/Reference/SafariWebContent/CreatingContentforSafarioniPhone/CreatingContentforSafarioniPhone.html#//apple_ref/doc/uid/TP40006482-SW15'>3/5 million
    pixel limitation for images on iOS</a>.
  </p>
  <p>
    Where does <abbr>HTML5</abbr> fit into all this? There's not much of it above, but the
    tool I wrote for spriting/cropping was all new Web tech: canvas,
    <a href='https://developer.mozilla.org/en/DOM/Blob'>blobs</a>,
    <a href='http://updates.html5rocks.com/2011/08/Downloading-resources-in-HTML5-a-download'>a[download]</a>.
    One of the exciting things about <abbr>HTML</abbr> is that it
    slowly subsumes things that previously had to be done outside of the
    browser; the only part we needed do there was
    optimizing <abbr>PNG</abbr> files.
  </p>

  <h2 id='saving-state-in-between-games'>
    Saving state in between games
  </h2>
  <p>
    Lem's worlds always felt big and alive and realistic. His stories
    typically started without much in terms of explanation, the first page
    starting <span class='foreign'>in medias res,</span> with the reader having to find her or his way
    around.
  </p>
  <p>
    <span class='title'>The Cyberiad</span> was no exception and we wanted to replicate that feeling for
    the doodle. We start with trying not to over-explain the story. Another
    large part is randomization which we felt befitted the mechanic nature of
    the universe of the book; we have a number of
    <a href='code/engine-helpers.js#107-150'>helper functions dealing with randomness</a>
    that we use in many, many places.
  </p>
  <p>
    We also wanted to increase replayability in other ways. For that, we
    needed to know how many times the doodle was finished before. The
    historically correct technological solution to that is a cookie, but that
    doesn't work for Google homepage – every cookie increases every page's
    payload, and again, we care quite a lot about speed and latency.
  </p>
  <p>
    Fortunately, <abbr>HTML5</abbr> gives us
    <a href='https://developer.mozilla.org/en/DOM/Storage'>Web Storage</a>, trivial in use, allowing us to
    <a href='code/engine-main.js#1132-1142'>save</a> and
    <a href='code/engine-main.js#1103-1130'>recall</a> the
    general play count and the last scene played by the user – with much more
    grace than cookies would ever allow for.
  </p>

  <pre src='code/engine-main.js#386-392'></pre>
  <pre src='code/engine-main.js#1132-1142'></pre>
  <p>
    What do we do with this information?
  </p>
  <ul>
    <li>
      we <a href='code/engine-main.js#1015-1025'>show a fast-forward button</a>,
      allowing to zip through the cutscenes
      the user already saw before
    <li>
      we show <a href='code/lem-scenes.js#1308-1412'>different N items during the finale</a>
    <li>
      we slightly <a href='code/lem-actors.js#5975-5985'>increase
      the difficulty of the shooting level</a>
    <li>
      we show a little <a href='code/lem-scenes.js#1173-1178'>easter egg
      probability dragon</a> from a different story on
      your third and subsequent plays
  </ul>
  <p>
    There is <a href='code/engine-main.js#432-447'>a number of debug parameters</a>
    controlling this:
  </p>
  <ul>
    <li>
      <a href='/static/demos/lemdoodle/examples/lem-standalone/index.html?doodle-debug&doodle-first-run'><span class='url'>?doodle-debug&doodle-first-run</span></a> – pretend it’s a first run
    <li>
      <a href='/static/demos/lemdoodle/examples/lem-standalone/index.html?doodle-debug&doodle-second-run'><span class='url'>?doodle-debug&doodle-second-run</span></a> – pretend it’s a second run
    <li>
      <a href='/static/demos/lemdoodle/examples/lem-standalone/index.html?doodle-debug&doodle-old-run'><span class='url'>?doodle-debug&doodle-old-run</span></a> – pretend it’s an old run
  </ul>

  <h2 id='touch-devices'>
    Touch devices
  </h2>
  <p>
    We wanted the doodle to feel right at home on touch devices – the most
    modern ones are powerful enough so that the doodle runs really well, and
    experiencing the game <span class='foreign'>via</span> tapping is so
    much more fun than with clicking.
  </p>
  <p>
    Some upfront changes to the user experience needed to be made. Originally, our
    mouse pointer was the only place that communicated a
    cutscene/non-interactive part is taking place. We later added a little
    indicator in the lower-right corner, so we didn't have to rely on mouse
    pointer alone (given that those don't exist on touch devices).
  </p>
  <figure>
    <table>
      <tr>
        <th>
        <th>
          Normal
        <th>
          Busy
        <th>
          Clickable
        <th>
          Clicked
      <tr>
        <th>
          Work-in-progress
        <td>
          <img alt='Work-in-progress normal pointer'
               src='images/mouse-pointers/wip/normal-1.png'>
        <td>
          <img alt='Work-in-progress busy pointer'
               src='images/mouse-pointers/wip/wait-1.png'>
        <td>
          <img alt='Work-in-progress clickable pointer'
               src='images/mouse-pointers/wip/hover-1.png'>
        <td>
          <img alt='Work-in-progress clicked pointer'
               src='images/mouse-pointers/wip/click.png'>
      <tr>
        <th>
          Final
        <td>
          <img alt='Final normal pointer'
               src='images/mouse-pointers/final/normal-black-3.png'>
        <td>
          <img alt='Final busy pointer'
               src='images/mouse-pointers/final/wait-1.png'>
        <td>
          <img alt='Final clickable pointer'
               src='images/mouse-pointers/final/hover-1.png'>
        <td>
          <img alt='Final clicked pointer'
               src='images/mouse-pointers/final/click.png'>
    </table>
    <figcaption>
      Mouse pointers during development, and final equivalents.
    </figcaption>
  </figure>
  <p>
    Most of the stuff worked out of the box. However, quick impromptu
    usability tests of our touch experience showed two problems: some of the
    targets were too hard to press, and quick taps were ignored since we just
    overrode mouse click events.
  </p>
  <p>
    Having separate clickable transparent <abbr>DOM</abbr> elements helped a lot here, as I
    could resize them independently of the visuals. I introduced extra
    15-pixel padding for touch devices and used it
    <a href='code/engine-rects.js#821-853'>whenever clickable elements were created</a>.
    (I added 5-pixel padding for mouse environments too, just
    to make <a href="http://en.wikipedia.org/wiki/Fitts's_law">Mr. Fitts</a> happy.)
  </p>
  <pre src='code/engine-const.js#163-173'></pre>
  <p>
    As for the other problem, I just made sure to
    <a href='code/engine-rects.js#410-475'>attach and test proper touch
    start and end handlers</a>, instead of relying on mouse click.
  </p>
  <p>
    We’re also using more modern style properties to
    <a href='code/engine-rects.js#390-392'>remove some touch
    features</a> that WebKit browsers add by default (tap highlight, tap callout).
  </p>
  <p>
    And how do we detect whether a given device running the doodle supports
    touch? Lazily. Instead of figuring it out <span class='url'>a
    priori,</span> we just used our combined IQs to deduct that the device
    supports touch… after we get the <a
    href='code/engine-main.js#781-792'>first touch start event</a>.
  </p>

  <h2 id='customizing-the-mouse-pointer'>
    Customizing the mouse pointer
  </h2>
  <p>
    But not everything is touch-based. One of our guiding principles was to
    put as many things as we could within the universe of the doodle. The
    little sidebar UI (fast-forward, question mark), the tooltip, and even,
    yes, the mouse pointer.
  </p>
  <p>
    How to customize a mouse pointer? Some browsers allow changing the
    mouse cursor by linking to a bespoke image file. However, this is not
    supported well and it’s also somewhat restrictive.
  </p>
  <p>
    If not this, then what? Well, why not making a mouse pointer
    <a href='code/lem-actors.js#6639-6775'>just another
    actor in the doodle</a>? This works, but comes with a number of
    caveats, chiefly:
  </p>
  <ul>
    <li>
      you need to be able to remove the native mouse pointer
    <li>
      you need to be pretty good at keeping your mouse pointer in sync with
      the “real” one
  </ul>
  <p>
    The former is tricky. <abbr>CSS3</abbr> allows for <code>cursor: none</code>, but it
    too is not supported in some browsers. We needed to resort to some
    gymnastics:
    <a href='code/engine-const.js#143-149'>using empty <span class='url'>.cur</span>
    file as a fallback</a>,
    <a href='code/engine-helpers.js#425-436'>specifying concrete
    behavior for some browsers</a>, and even
    <a href='code/engine-main.js#313-323'>hard-coding others out of the
    experience whatsoever</a>.
  </p>
  <p>
    The other is relatively <a href='code/lem-actors.js#6669-6690'>trivial on its face</a>, but
    with the mouse pointer being just another part of the universe of the
    doodle, it will inherit all its problems too. The biggest one? If the
    frame rate of the doodle is low, the frame rate of the mouse pointer will
    be low too – and that has dire consequences since the mouse pointer, being
    a natural extension of your hand, needs to feel responsive no matter what.
    (People who used Commodore Amiga in their past are now nodding
    vigorously.)
  </p>
  <p>
    One somewhat complex solution to that problem is decoupling the mouse
    pointer from the regular update loop. We did just that – in an alternate
    universe where I don't need to sleep. A simpler solution for this one?
    Just reverting to the native mouse pointer
    <a href='code/engine-main.js#1317-1325'>if the rolling frame rate drops
    below 20fps</a>. (This is where the rolling
    frame rate comes in handy. If we reacted to the current frame rate, and if
    it happened to oscillate around 20fps, the user would see the custom mouse
    pointer hiding and showing all the time.) This brings us to:
  </p>

  <figure>
    <table class='text'>
      <tr>
        <th>
          Frame rate range
        <th>
          Behaviour
      <tr>
        <td>
          &lt;10fps
        <td>
          Slow down the game so that more frames are not dropped.
      <tr>
        <td>
          10–20fps
        <td>
          Use native mouse pointer instead of custom one.
      <tr>
        <td>
          20–60fps
        <td>
          Normal operation.
      <tr>
        <td>
          &gt;60fps
        <td>
          Throttle so that the frame rate doesn't exceed this value.
    </table>
    <figcaption>Summary of frame rate-dependent behaviour.</figcaption>
  </figure>

  <p>
    Oh, and our mouse pointer is <a href='code/lem-actors.js#6748-6753'>dark
    on a Mac, but white on a PC</a>. Why? Because platform wars need fuel even in
    fictional universes.
  </p>

  <h2 id='conclusion'>
    Conclusion
  </h2>

  <p>
    This is not a perfect engine, but it doesn't try to be one. It was
    developed alongside the Lem doodle, and is very specific to it. That's
    okay. “Premature optimization is the root of all evil,” as Don Knuth
    famously said, and I don't believe writing an engine in isolation first,
    and only applying it later makes sense – the practice informs theory just
    as much as theory informs practice. In my case, code was thrown away,
    several parts rewritten over and over again, and many common pieces
    noticed post, rather than ante factum. But in the end, what we have here
    allowed us to do what we wanted – celebrate the career of Stanisław Lem
    and the drawings by Daniel Mróz in the best way we could think of.
  </p>
  <p>
    I hope the above sheds light on some of the design choices and trade-offs
    that we needed to make – and how we used <abbr>HTML5</abbr> in a specific, real-life
    scenario. Now, play with the source code, take it for the spin, and let us
    know what you think.
  </p>
  <p>
    I did that myself – this below was live in the last days, counting down to
    the early hours of the 23th of November 2011 in Russia, which was the
    first time zone that saw the Lem doodle. A goofy thing, perhaps, but just
    like doodles, things that appear insignificant sometimes have a deeper
    meaning – this counter was really a nice “stress test” for the engine.
  </p>

  <figure>
    <img alt='A screenshot of Lem doodle in-universe countdown clock'
         src='images/counter.png'>
    <figcaption>
      A screenshot of Lem doodle in-universe countdown clock.
    </figcaption>
  </figure>

  <p>
    And that's one way of looking at the life of a Google doodle – months of
    work, weeks of testing, 48 hours of baking it in, all for something that
    people play for five minutes. Every one of those thousands of JavaScript
    lines is hoping that those 5 minutes will be time well spent. Enjoy.
</p>
</section>

<script src='prettify-newer.js'></script>
<script src='scripts.js'></script>
<script src='/static/demos/lemdoodle/examples/lem-embedded/combined.js'></script>
<script>
  initialize();
  engine.init();

  function updateLemPlanes() {
    var els = document.querySelectorAll('#lem-planes-options input[type="checkbox"]');

    var planes = [];

    for (var i = 0, el; el = els[i]; i++) {
      if (el.checked) {
        planes.push(parseInt(el.getAttribute('plane')));
      }
    }

    document.querySelector('#lem-planes-iframe').contentWindow.
        engine.debugSetLimitToPlane({ limitToPlane: planes });
  }
</script>

{% endblock %}
