{% extends "tutorial.html" %}
{% load mixin from templatefilters %}

{% block pagebreadcrumb %}{{ tut.title }}{% endblock %}

{% block head %}
<style>
/*blockquote {
  background: rgb(238, 238, 238);
  padding: 1px 10px;
}*/
label.bad, label.good, label.sortof {
  padding: 4px;
  line-height: 1.7;
  border-radius: 50%;
  color: white;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
  box-shadow: -2px 2px 3px 3px rgba(0, 0, 0, 0.25) inset;
  width: 20px;
  height: 20px;
  font-size: 16px;
}
label.good::after,
label.bad::after,
label.sortof::after {
  position: relative;
  left: 2px;
  top: -5px;
}
label.bad {
  background-color: red;
}
label.bad::after {
  content: ':(';
}
label.good {
  background-color: green;
}
label.good::after {
  content: ':)';
}
label.sortof {
  background-color: rgb(230, 190, 32);
  line-height: 1.8;
}
label.sortof::after {
  content: ':|';
}
.talkinghead:before {
  background-image: url(/static/images/profiles/75/ericbidelman.75.png);
  background-position: 0px 0px !important;
}
.disabledemos .demoarea {
  display: none !important;
}
.demoarea {
  margin-top: 1em;
}
.demoarea:before {
  content: 'Live demo:';
  position: absolute;
  top: -30px;
  left: 0;
  font-weight: bold;
  text-transform: uppercase;
}
.demoarea {
  padding: 10px;
  background: #fff;
  border: 1px dashed #000;
  display: inline-block;
  position: relative;
}
</style>

<script>
HTMLElement.prototype.createShadowRoot = HTMLElement.prototype.createShadowRoot || HTMLElement.prototype.webkitCreateShadowRoot;
</script>

{% endblock %}

{% block iscompatible %}
  return 'HTMLTemplateElement' in window;
{% endblock %}

{% block html5badge %}
<!-- Your HTML5 badge (tech class icons used in the article) goes here -->
{% endblock %}

{% block share_image %}
<!--<meta itemprop="image" content="images/your_social_sharing_img.png">-->
{% endblock %}

{% block content %}

<h2 id="toc-intro">Introduction</h2>

<p>The concept of templating is not new to web development. In fact, server-side
<a href="http://en.wikipedia.org/wiki/Template_engine_(web)">templating languages/engines</a> like Django (Python), ERB/Haml (Ruby), and Smarty (PHP)
have been around for a long time. In the last couple of years however, we've seen
an explosion of MVC frameworks spring up. All of them are slightly different,
yet most share a common mechanic for rendering their presentational layer (aka da view): templates.</p>
<p>Let's face it. Templates are fantastic. Go ahead, ask around. Even its <a href="http://www.thefreedictionary.com/template">definition</a> makes you feel warm and cozy:</p>
<blockquote>
<p><strong>template</strong> (n) - A document or file having a preset format, used as a starting point for a particular application so that the format does not have to be recreated each time it is used.</p>
</blockquote>
<p>"...does not have to be recreated each time...." Don't know about you, but I love
avoiding extra work. Why then does the web platform lack
native support for something developers clearly care about?</p>
<p>The <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/scripting-1.html#the-template-element">WhatWG HTML Templates specification</a> is the answer. It defines a
new <code>&lt;template&gt;</code> element which describes a standard DOM-based approach
for client-side templating. Templates allow you to declare fragments of markup which are parsed as HTML, go unused at page load, but can be instantiated
later on at runtime. To quote <a href="https://plus.google.com/111386188573471152118/posts">Rafael Weinstein</a>:</p>
<blockquote>
  They're a place to put a big wad of HTML that you don't want the browser to mess with at all...for any reason.
  <cite>Rafael Weinstein (spec author)</cite>
</blockquote>

<h3 id="toc-detect">Feature Detection</h3>

<p>To feature detect <code>&lt;template&gt;</code>, create the DOM element and check that the <code>.content</code> property exists:</p>
<pre class="prettyprint"><code>function supportsTemplate() {
  return 'content' in document.createElement('template');
}

if (supportsTemplate()) {
  // Good to go!
} else {
  // Use old templating techniques or libraries.
}
</code></pre>
<h2 id="toc-started">Declaring template content</h2>

<p>The HTML <code>&lt;template&gt;</code> element represents a template in your markup. It contains
"template contents"; essentially <strong>inert chunks of cloneable DOM</strong>.
Think of templates as pieces of scaffolding that you can use (and reuse) throughout
the lifetime of your app.</p>
<p>To create a templated content, declare some markup and wrap it in the <code>&lt;template&gt;</code> element:</p>
<pre class="prettyprint"><code>&lt;template id="mytemplate"&gt;
  &lt;img src="" alt="great image"&gt;
  &lt;div class="comment"&gt;&lt;/div&gt;
&lt;/template&gt;
</code></pre>
<blockquote class="commentary talkinghead">
The observant reader may notice the empty image. That's perfectly fine
and intentional. A broken image won't 404 or produce console errors because it
won't be fetched on page load. We can dynamically generate the source URL later on. See 
<a href="#toc-pillars">the pillars</a>.
</blockquote>

<h2 id="toc-pillars">The pillars</h2>

<p>Wrapping content in a <code>&lt;template&gt;</code> gives us few important properties.</p>
<ol>
<li>
<p>Its <strong>content is effectively inert until activated</strong>. Essentially,
your markup is hidden DOM and does not render.</p>
</li>
<li>
<p>Any content within a template won't have side effects. <strong>Script doesn't run,
images don't load, audio doesn't play</strong>,...until the template is used.</p>
</li>
<li>
<p><strong>Content is considered not to be in the document</strong>. Using
<code>document.getElementById()</code> or <code>querySelector()</code> in the main page won't return
child nodes of a template.</p>
</li>
<li>
<p>Templates <strong>can</strong> be placed anywhere inside of <code>&lt;head&gt;</code>, <code>&lt;body&gt;</code>, or <code>&lt;frameset&gt;</code> and can
contain any type of content which is allowed in those elements. Note that "anywhere" means
that <code>&lt;template&gt;</code> can safely be used in places that the HTML parser disallows...all
but <a href="http://www.w3.org/TR/html5-diff/#content-model">content model</a> children. It can  also be placed as a child of <code>&lt;table&gt;</code> or <code>&lt;select&gt;</code>:</p>
<pre class="prettyprint"><code>&lt;table&gt;
&lt;tr&gt;
  &lt;template id="cells-to-repeat"&gt;
    &lt;td&gt;some content&lt;/td&gt;
  &lt;/template&gt;
&lt;/tr&gt;
&lt;/table&gt;
</code></pre>
</li>
</ol>
<h2 id="toc-using">Activating a template</h2>

<p>To use a template, you need to activate it. Otherwise its content will never render.
The simplest way to do this is by creating a deep copy of its <code>.content</code> using <code>document.importNode()</code>. The <code>.content</code> property is a read-only <code>DocumentFragment</code> containing the guts of the template. </p>
<pre class="prettyprint"><code>var t = document.querySelector('#mytemplate');
// Populate the src at runtime.
t.content.querySelector('img').src = 'logo.png';

var clone = document.importNode(t.content, true);
document.body.appendChild(clone);
</code></pre>
<p>After stamping out a template, its content "goes live". In this particular example, the content is cloned, the image request is made, and the final markup is rendered.</p>
<h2 id="toc-using">Demos</h2>

<h3 id="toc-demo-insert">Example: Inert script</h3>

<p>This example demonstrates the inertness of template content. The <code>&lt;script&gt;</code> only
runs when the button is pressed, stamping out the template.</p>
<pre class="prettyprint"><code>&lt;button onclick="useIt()"&gt;Use me&lt;/button&gt;
&lt;div id="container"&gt;&lt;/div&gt;
&lt;script&gt;
  function useIt() {
    var content = document.querySelector('template').content;
    // Update something in the template DOM.
    var span = content.querySelector('span');
    span.textContent = parseInt(span.textContent) + 1;
    document.querySelector('#container').appendChild(
        document.importNode(content, true));
  }
&lt;/script&gt;

&lt;template&gt;
  &lt;div&gt;Template used: &lt;span&gt;0&lt;/span&gt;&lt;/div&gt;
  &lt;script&gt;alert('Thanks!')&lt;/script&gt;
&lt;/template&gt;
</code></pre>
<div class="demoarea">
<button onclick="useIt()">Use me</button>
<div id="container"></div>
<template id="inert-demo">
  <div>Template used <span>0</span></div>
  <script>if ('HTMLTemplateElement' in window) {alert('Thanks!')}</script>
</template>
<script>
  function useIt() {
    var content = document.querySelector('#inert-demo').content;
    var span = content.querySelector('span');
    span.textContent = parseInt(span.textContent) + 1;
    document.querySelector('#container').appendChild(document.importNode(content, true));
  }
</script>
</div>

<h3 id="toc-demo-sd">Example: Creating Shadow DOM from a template</h3>

<p>Most people attach <a href="/webcomponents/shadowdom/">Shadow DOM</a> to a host by setting a string of markup to <code>.innerHTML</code>:</p>
<pre class="prettyprint"><code>&lt;div id="host"&gt;&lt;/div&gt;
&lt;script&gt;
  var shadow = document.querySelector('#host').createShadowRoot();
  shadow.innerHTML = '&lt;span&gt;Host node&lt;/span&gt;';
&lt;/script&gt;
</code></pre>
<p>The problem with this approach is that the more complex your Shadow DOM gets,
the more string concatenation you're doing. It doesn't scale, things get messy
fast, and babies start to cry. This approach is also how XSS was born in the first
place! <code>&lt;template&gt;</code> to the rescue.</p>
<p>Something more sane would be to work with DOM directly by appending template
content to a shadow root:</p>
<pre class="prettyprint"><code>&lt;template&gt;
&lt;style&gt;
  :host {
    background: #f8f8f8;
    padding: 10px;
    transition: all 400ms ease-in-out;
    box-sizing: border-box;
    border-radius: 5px;
    width: 450px;
    max-width: 100%;
  } 
  :host(:hover) {
    background: #ccc;
  }
  div {
    position: relative;
  }
  header {
    padding: 5px;
    border-bottom: 1px solid #aaa;
  }
  h3 {
    margin: 0 !important;
  }
  textarea {
    font-family: inherit;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid #aaa;
  }
  footer {
    position: absolute;
    bottom: 10px;
    right: 5px;
  }
&lt;/style&gt;
&lt;div&gt;
  &lt;header&gt;
    &lt;h3&gt;Add a Comment&lt;/h3&gt;
  &lt;/header&gt;
  &lt;content select="p"&gt;&lt;/content&gt;
  &lt;textarea&gt;&lt;/textarea&gt;
  &lt;footer&gt;
    &lt;button&gt;Post&lt;/button&gt;
  &lt;/footer&gt;
&lt;/div&gt;
&lt;/template&gt;

&lt;div id="host"&gt;
  &lt;p&gt;Instructions go here&lt;/p&gt;
&lt;/div&gt;

&lt;script&gt;
  var shadow = document.querySelector('#host').createShadowRoot();
  shadow.appendChild(document.querySelector('template').content);
&lt;/script&gt;
</code></pre>
<p><template id="demo-sd-template">
<style>
  :host {
    background: #f8f8f8;
    padding: 10px;
    transition: all 400ms ease-in-out;
    box-sizing: border-box;
    border-radius: 5px;
    width: 450px;
    max-width: 100%;
  } 
  :host(:hover) {
    background: #ccc;
  }
  #unsupportedbrowsersneedscoping {
    position: relative;
  }
  #unsupportedbrowsersneedscoping header {
    padding: 5px;
    border-bottom: 1px solid #aaa;
  }
  #unsupportedbrowsersneedscoping h3 {
    margin: 0 !important;
  }
  #unsupportedbrowsersneedscoping textarea {
    font-family: inherit;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid #aaa;
  }
  #unsupportedbrowsersneedscoping footer {
    position: absolute;
    bottom: 10px;
    right: 5px;
  }
</style>
<div id="unsupportedbrowsersneedscoping">
  <header>
    <h3>Add a Comment</h3>
  </header>
  <content select="p"></content>
  <textarea></textarea>
  <footer>
    <button>Post</button>
  </footer>
</div>
</template></p>
<div id="demo-sd-host">
  <p>Instructions go here</p>
</div>

<script>
(function() {
  var host = document.querySelector('#demo-sd-host');
  var compat = HTMLElement.prototype.webkitCreateShadowRoot ||
               HTMLElement.prototype.createShadowRoot ? true : false;
  if (compat && 'HTMLTemplateElement' in window) {
    var shadow = host.createShadowRoot();
    shadow.applyAuthorStyles = true;
    shadow.appendChild(document.querySelector('#demo-sd-template').content);
  } else {
    document.querySelector('#unsupportedbrowsersneedscoping').style.display = 'none';
    host.style.display = 'none';
  }
})();
</script>

<h2 id="toc-gotcha">Gotchas</h2>

<p>Here are a few gotchas I've come across when using <code>&lt;template&gt;</code> in the wild:</p>
<ul>
<li>If you're using <a href="http://code.google.com/p/modpagespeed/">modpagespeed</a>, be careful
of this <a href="http://code.google.com/p/modpagespeed/issues/detail?id=625">bug</a>. Templates
that define inline <code>&lt;style scoped&gt;</code>, many be moved to the head with PageSpeed's CSS rewriting
rules.</li>
<li>There's no way to "prerender" a template, meaning you cannot preload assets,
process JS, download initial CSS, etc. That goes for both server and client.
The only time a template renders is when it goes live.</li>
<li>
<p>Be careful with nested templates. They don't behave as you might expect. For example:</p>
<pre class="prettyprint"><code>&lt;template&gt;
  &lt;ul&gt;
    &lt;template&gt;
      &lt;li&gt;Stuff&lt;/li&gt;
    &lt;/template&gt;
  &lt;/ul&gt;
&lt;/template&gt;
</code></pre>
<p>Activating the outer template will not active inner templates. That is to say,
nested templates require that their children also be manually activated.</p>
</li>
</ul>
<h2 id="toc-old">The road to a standard</h2>

<p>Let's not forget where we came from. The road to standards-based HTML templates
has been a long one. Over the years, we've come up with some pretty clever tricks
for creating reusable templates. Below are two common ones that I've come across.
I'm including them in this article for comparison.</p>
<h3 id="toc-offscreen">Method 1: Offscreen DOM</h3>

<p>One approach people have been using for a long time is to create "offscreen"
DOM and hide it from view using the <code>hidden</code> attribute or <code>display:none</code>.</p>
<pre class="prettyprint"><code>&lt;div id="mytemplate" hidden&gt;
  &lt;img src="logo.png"&gt;
  &lt;div class="comment"&gt;&lt;/div&gt;
&lt;/div&gt;
</code></pre>
<p>While this technique works, there are a number of downsides. The rundown of this technique:</p>
<ul>
<li><label class="good"></label> <em>Using DOM</em> - the browser knows DOM. It's good at it. We can easily clone it.</li>
<li><label class="good"></label> <em>Nothing is rendered</em> - adding <code>hidden</code> prevents the block from showing.</li>
<li><label class="bad"></label> <em>Not inert</em> - even though our content is hidden,
a network request is still made for the image.</li>
<li><label class="bad"></label> <em>Painful styling and theming</em> - an embedding page must prefix all of its
CSS rules with <code>#mytemplate</code> in order to scope styles down to the template. This 
is brittle and there are no guarantees we won't encounter future naming collisions.
For example, we're hosed if the embedding page already has an element with that id.</li>
</ul>
<h3 id="toc-overloadingscript">Method 2: Overloading script</h3>

<p>Another technique is overloading <code>&lt;script&gt;</code> and manipulating its content
as a string. John Resig was probably the first to show this back in 2008 with
his <a href="http://ejohn.org/blog/javascript-micro-templating/">Micro Templating utility</a>.
Now there are many others, including some new kids on the block like <a href="http://handlebarsjs.com/">handlebars.js</a>.</p>
<p>For example:</p>
<pre class="prettyprint"><code>&lt;script id="mytemplate" type="text/x-handlebars-template"&gt;
  &lt;img src="logo.png"&gt;
  &lt;div class="comment"&gt;&lt;/div&gt;
&lt;/script&gt;
</code></pre>
<p>The rundown of this technique:</p>
<ul>
<li><label class="good"></label> <em>Nothing is rendered</em> - the browser doesn't render this block because
<code>&lt;script&gt;</code> is <code>display:none</code> by default.</li>
<li><label class="good"></label> <em>Inert</em> - the browser doesn't parse the script content
as JS because its type is set to something other than "text/javascript".</li>
<li><label class="bad"></label> <em>Security issues</em> - encourages the use of <code>.innerHTML</code>.
Run-time string parsing of user-supplied data can easily lead to XSS vulnerabilities.</li>
</ul>
<h2 id="toc-conclusion">Conclusion</h2>

<p>Remember when jQuery made working with DOM dead simple? The result was <code>querySelector()</code>/<code>querySelectorAll()</code>
being added to the platform. Obvious win, right? A library popularized fetching DOM
with CSS selectors and standards later adopted it. It doesn't always work that way, but I <em>love</em> when it does.</p>
<p>I think <code>&lt;template&gt;</code> is a similar case. It standardizes the way we do client-side
templating, but more importantly, it removes the need for <a href="#toc-old">our crazy 2008 hacks</a>.
Making the entire web authoring process more sane, more maintainable, and more
full featured is always a good thing in my book.</p>
<h2 id="toc-resources">Additional resources</h2>

<ul>
<li><a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/scripting-1.html#the-template-element">WhatWG Specification</a></li>
<li><a href="http://w3c.github.io/webcomponents/explainer/#template-section">Introduction to Web Components</a></li>
<li><a href="http://html5-demos.appspot.com/static/webcomponents/index.html">&lt;web&gt;components&lt;/web&gt;</a> (<a href="http://www.youtube.com/watch?v=eJZx9c6YL8k">video</a>) - a fantastically comprehensive presentation by yours truly.</li>
</ul><script>
document.addEventListener('DOMContentLoaded', function(e) {
  if (!isCompatible()) {
    document.body.classList.add('disabledemos');
  }
});
</script>
{% endblock %}
