{% extends "tutorial.html" %}

{% block head %}
{% endblock %}

{% block html5badge %}
{% endblock %}

{% block iscompatible %}
return true;
{% endblock %}


{% block content %}

	<!-- Uncomment if this is a bleeding edge feature
	  <p>{% include "warning.html" %}</p>
	-->
	<p>
	  Hello! My name is Michael Chang and I work with Data Arts Team at Google. One of the latest projects we've completed is <a href="workshop.chromeexperiments.com/stars">100,000 Stars</a>, a <a href="chromeexperiments.com" target="_blank">Chrome Experiment</a> visualizing nearby stars. The project was built with <a href="https://github.com/mrdoob/three.js/" target="_blank">THREE.js</a>, coupled with CSS 3D. In this case study I will outline the discovery process, share the techniques used in its programming, and leave with some thoughts for future improvement.
	</p>

	<p>
		The topics involved here will be fairly broad, and most of it expect pre-existing knowledge of THREE.js, though it is my hope that you can still enjoy this as a technical post-mortem. Feel free to jump to an area of interest using the table of contents button on the right. First I'll show the rendering portion of the project, followed by shader management, and how to use CSS text labels in combination with WebGL.
	</p>

	<br>

	<figure class="center">
		<a href="http://workshop.chromeexperiments.com/stars"><img src="/static/images/screenshots/casestudies/100000stars/cover.png" title="100,000 Stars, a Chrome Experiment by Data Arts Team" /></a>
		<figcaption>100,000 Stars uses THREE.js to visualize nearby stars in the Milky Way</figcaption>
	</figure>	


	<h2 id="toc-introduction">Discovering Space</h2>

	<p>
		Shortly after we finished <a href="http://www.chromeexperiments.com/detail/arms-globe/" target="_blank">Small Arms Globe</a> I was experimenting with a THREE.js particle demo with depth of field.	I noticed that I could change the interpreted "scale" of the scene such that the particles could either represent macro-photography particles encased in liquid or deep space.
	</p>

	<p>
		I began hunting for data I could use to inject particle positions with, a path that lead me to <a href="http://astronexus.com/" target="_blank">astronexus.com</a> which has a star database called the HYG - Hipparcos, Yale Bright Star Catalog, and Gliese/Jahreiss Catalog - a compilation of the three accomapnied by pre-calculated xyz cartesian coordinates. Let's begin!
	</p>

	<figure class="center">
		<img src="/static/images/screenshots/casestudies/100000stars/starplot.png" title="Plotting star data." />
		<figcaption>The first step is to plot every star in the catalog as a single particle.</figcaption>
	</figure>	

	<br>

	<figure class="center">
		<img src="/static/images/screenshots/casestudies/100000stars/namedstars.png" title="The named stars." />
		<figcaption>Some stars in the catalog have proper names, labeled here.</figcaption>
	</figure>	

	<p>
		It took about an hour to hack together something that placed the star data in 3D space. There are exactly 119,617 stars the data-set, so representing each star with a particle isn't a problem for a modern GPU. There are also 87 named stars so I created CSS marker overlay using the same technique I <a href="http://mflux.tumblr.com/post/28367579774/armstradeviz" target="_blank">described</a> in Small Arms Globe.
	</p>

	<p>
		During this time I had just finished the <a href="http://masseffect.bioware.com/" target="_blank">Mass Effect</a> series. In the game the player is invited to explore the galaxy and <a href="http://www.youtube.com/watch?v=1g92-pgyJrU" target="_blank">scan various planets and read about</a> their completely fictional, wikipedia-sounding history; what species had thrived on the planet, its geological history, and so forth. 
	</p>

	<p>
		Knowing the wealth of actual data that's out there about stars, one could conceivably present space facts in the same way. The ultimate goal for this project would be to bring to life this data, allow the viewer to explore the galaxy a'la Mass Effect, to learn about stars and their distribution, and hopefully inspire a sense of awe and wonder about space. Phew!
	</p>

	<p>
		I should probably preface the rest of this case-study by saying that <i>I am by no means an astronomer, and that this is the work of amateur research</i> helped along with advice given to us by experts whom we have consulted with. This project should definitely be construed as "an artist interpretation of space".
	</p>

	<h2 id="toc-topic">Building a Galaxy</h2>

	<p>
		My plan was to procedurally generate a model of the galaxy that can put the star data in context -- and hopefully give an awesome view of our place in the Milky Way.
	</p>

	<figure class="center">
		<img src="/static/images/screenshots/casestudies/100000stars/earlygalaxy.png" title="An early prototype of the galaxy." />
		<figcaption>An early prototype of the Milky Way particle system.</figcaption>
	</figure>	

	<p>
		To generate the Milky Way, I spawned 100,000 particles and placed them in a spiral by emulating the way galactic arms are formed. I wasn't too worried about the specifics of spiral arm formation because this would be a representational model rather than a mathematical one. However I did try to get the number of spiral arms more or less correct, and spinning in the "right direction".
	</p>

	<p>
		In later versions of the Milky Way model I de-emphasized the use of particles in favor of a planar image of a galaxy to accompany the particles, hopefully giving it a more of a photographic appearance. The <a href="http://www.eso.org/public/images/ngc1232b/" target="_blank">actual image is of spiral galaxy NGC 1232</a> roughly 70 million light years away from us, image-manipulated to look like the Milky Way.
	</p>	

	<figure class="center">
		<img src="/static/images/screenshots/casestudies/100000stars/galaxy_sizing.png" title="Figuring out the scale of the galaxy." />
		<figcaption>Every GL unit is a light year. In this case the sphere is 110,000 light years wide, encompassing the particle system.</figcaption>
	</figure>		

	<p>
		I decided early on to represent one GL Unit as one light year, a convention that unified placement for everything visualized, and unfortunately gave me serious precision issues later on.
	</p>

	<p>
		Another convention I decided was to rotate the entire scene rather than moving the camera, something I've done in a few projects thus far. One advantage is that everything is placed onto a "turntable" so that mouse-dragging left and right rotates the object in question, but zooming in is only a matter of changing camera.position.z
	</p>

	<p>
		Field of view (or FOV) for the camera is also dynamic. As one trucks outwards, the field of view widens, taking in more and more of the galaxy. The opposite is true when diving inwards towards a star, the field of view narrows. This allows the camera to view things that are infinitesimal (in comparison to the galaxy) by squishing the FOV down to something of a god-like magnifying glass without having to deal with near-plane clipping issues.
	</p>

	<figure class="center">
		<img src="/static/images/screenshots/casestudies/100000stars/galaxy_methods_small.png" title="Different ways of rendering a galaxy." />
		<figcaption>(above) Early particle galaxy. (below) Particles accompanied by an image plane.</figcaption>
	</figure>			

	<p>
		From here I was able to "place" the sun at some number of units away from the galactic core. I was also able to visualize the relative size of the solar system by mapping out the radius of the <a href="http://en.wikipedia.org/wiki/Kuiper_cliff#.22Kuiper_cliff.22" target="_blank">"Kuiper Cliff"</a> (I eventually chose to visualize the <a href="http://en.wikipedia.org/wiki/Oort_cloud" target="_blank">Oort Cloud</a>) instead. Within this model solar system, I could also visualize a simplified orbit of Earth, and the actual radius of the sun in comparison.
	</p>

	<figure class="center">
		<img src="/static/images/screenshots/casestudies/100000stars/solarsystemplacement.png" title="The solar system." />
		<figcaption>The sun orbited by planets and a sphere representing the kuiper belt.</figcaption>
	</figure>			

	<p>
		The sun was extremely difficult to render. I had to cheat with as many real-time graphics techniques as I knew. The surface of the sun is a hot froth of plasma and needed to pulse and change over time. This was simulated via a bitmap texture of an infra-red image of the solar surface. The surface shader would do a color look-up based on the grayscale of this texture, and perform a look-up in a separate color ramp. When this look-up is shifted over time it creates this lava-like distortion.
	</p>

	<p>
		A similar technique was used for the corona of the Sun, except that it would be a flat sprite card that always faces the camera using <a href="https://github.com/mrdoob/three.js/blob/master/src/extras/core/Gyroscope.js" target="_blank">THREE.Gyroscope()</a>;
	</p>

	<figure class="center">
		<img src="/static/images/screenshots/casestudies/100000stars/earlysunprototype.png" title="Rendering Sol." />
		<figcaption>Early version of the sun.</figcaption>
	</figure>		

	<p>
		The solar flares were created via vertex and fragment shaders applied to a torus, spinning just around the edge of the solar surface. The vertex shader has a noise function causing it to weave in a blob-like fashion. 
	</p>

	<p>
		It was here that I was starting to experience some z-fighting issues due to GL precision. All of the variables for precision were pre-defined in THREE.js, so I couldn't realistically bump up the precision without a huge amount of work. Precision issues weren't as bad near the origin at however once I started modeling other star systems this became somewhat of an issue.
	</p>

	<figure class="center">
		<img src="/static/images/screenshots/casestudies/100000stars/finalstarmodel.png" title="Star model." />
		<figcaption>The code for rendering the sun was later generalized to render other stars.</figcaption>
	</figure>							

	<p>
		There were a few hacks I employed to mitigate z-fighting. THREE's <a href="https://github.com/mrdoob/three.js/blob/master/src/materials/Material.js" target="_blank">Material.polygonoffset</a> is a property that allows polygons to be rendered at a different percieved location (as far as I understood how it worked). This was used to force the corona plane to always render on top of the Sun's surface. Below this, a sun "halo" was rendered to give sharp light rays moving away from the sphere.
	</p>		

	<p>
		A different problem, although related to precision, was that star models would begin jittering as the scene zoomed in. To fix this I had to "zero out" the scene rotation and separately rotate the star model and environment map to give the illusion that you are orbiting the star.
	</p>


	<h3 id="toc-topic-subtopic">Creating Lensflare</h3>

	<figure class="center">
		<img src="/static/images/screenshots/casestudies/100000stars/lensflare.png" title="With great power comes great responsibility." />
		<figcaption>With great power comes great responsibility.</figcaption>
	</figure>	

	<p>
		Space visualizations are where I feel like I can get away with excessive use of lensflare. <a href="https://github.com/mrdoob/three.js/blob/master/src/extras/objects/LensFlare.js" target="_blank">THREE.LensFlare</a> serves this purposes, all I needed to do was throw in some anamorphic hexagons and a dash of JJ Abrams. The snippet below shows how to construct them in your scene.
	</p>			

	<pre class="prettyprint">
//	This function retuns a lesnflare THREE object to be .add()ed to the scene graph
function addLensFlare(x,y,z, size, overrideImage){
	var flareColor = new THREE.Color( 0xffffff );

	lensFlare = new THREE.LensFlare( overrideImage, 700, 0.0, THREE.AdditiveBlending, flareColor );

	//	we're going to be using multiple sub-lens-flare artifacts, each with a different size
	lensFlare.add( textureFlare1, 4096, 0.0, THREE.AdditiveBlending );
	lensFlare.add( textureFlare2, 512, 0.0, THREE.AdditiveBlending );
	lensFlare.add( textureFlare2, 512, 0.0, THREE.AdditiveBlending );
	lensFlare.add( textureFlare2, 512, 0.0, THREE.AdditiveBlending );

	//	and run each through a function below
	lensFlare.customUpdateCallback = lensFlareUpdateCallback;

	lensFlare.position = new THREE.Vector3(x,y,z);
	lensFlare.size = size ? size : 16000 ;
	return lensFlare;
}

//	this function will operate over each lensflare artifact, moving them around the screen
function lensFlareUpdateCallback( object ) {
    var f, fl = this.lensFlares.length;
    var flare;
    var vecX = -this.positionScreen.x * 2;
    var vecY = -this.positionScreen.y * 2;
    var size = object.size ? object.size : 16000;

    var camDistance = camera.position.length();

    for( f = 0; f &lt; fl; f ++ ) {
        flare = this.lensFlares[ f ];

        flare.x = this.positionScreen.x + vecX * flare.distance;
        flare.y = this.positionScreen.y + vecY * flare.distance;

        flare.scale = size / camDistance;
        flare.rotation = 0;
    }
}
	</pre>	


	<h3 id="toc-topic-subtopic">An easy way to do texture scrolling.</h3>

	<figure class="center">
		<img src="/static/images/screenshots/casestudies/100000stars/spaceplane.png" title="Inspired by Homeworld." />
		<figcaption>A cartesian plane to help with spatial orientation in space.</figcaption>
	</figure>		

	<p>
		For the "spatial orientation plane", a gigantic THREE.CylinderGeometry() was created and centered on the sun. To create the "wave of light" fanning outwards, I modified its texture offset over time like so:
	</p>

	<pre class="prettyprint">
mesh.material.map.needsUpdate = true;
mesh.material.map.onUpdate = function(){
	this.offset.y -= 0.001;
	this.needsUpdate = true;
}
	</pre> 

	<p>'map' is the texture belonging to the material, which get an onUpdate function you can over-write. Setting its offset causes the texture to be "scrolled" along that axis, and spamming needsUpdate = true would force this behavior to loop.</p>

	<h3 id="toc-topic-subtopic">Using color ramps.</h3>
	<p>
		Each star has a different color based on a "color-index" that astronomers have assigned them. In general red stars are cooler and blue/purple stars are hotter. A band of white and intermediate orange colors exist in this gradient.
	</p>

	<p>
		When rendering the stars I wanted to give each particle its own color based on this data. The way to do this was with shader "attributes", given to the shader material that the particles are applied with.
	</p>

	<pre class="prettyprint">
var shaderMaterial = new THREE.ShaderMaterial( {
	uniforms: 	datastarUniforms,
	attributes:     datastarAttributes,
	/* ... etc */
});
	</pre>	

	<pre class="prettyprint">
var datastarAttributes = {
	size: 		{ type: 'f', value: [] },
	colorIndex: 	{ type: 'f', value: [] },
};
	</pre>

	<p> 
		Filling up the colorIndex array would give each particle its unique color in the shader. Normally one would pass in a color vec3, but in this instance I'm passing in a float for the eventual color ramp look-up.
	</p>

	<figure class="center">
		<img src="/static/images/screenshots/casestudies/100000stars/star_color_modified.png" title="Color ramp." />
		<figcaption>A color ramp used to look up the visible color from a star's color index.</figcaption>
	</figure>			

	<p>
		The color ramp looked like this, however I needed to access its bitmap color data from javascript. The way I did this was to first load the image onto DOM, draw it into a canvas element, then access the canvas bitmap.
	</p>

	<pre class="prettyprint">
//	make a blank canvas, sized to the image, in this case gradientImage is a dom image element
gradientCanvas = document.createElement('canvas');
gradientCanvas.width = gradientImage.width;
gradientCanvas.height = gradientImage.height;

//	draw the image
gradientCanvas.getContext('2d').drawImage( gradientImage, 0, 0, gradientImage.width, gradientImage.height );

//	a function to grab the pixel color based on a normalized percentage value
gradientCanvas.getColor = function( percentage ){
	return this.getContext('2d').getImageData(percentage * gradientImage.width,0, 1, 1).data;
}
	</pre>	

	<p>
		This same method is then used for coloring individual stars in the star-model view.
	</p>

	<figure class="center">
		<img src="/static/images/screenshots/casestudies/100000stars/multicolor.png" title="My eyes!" />
		<figcaption>The same technique is used to do color-lookup for a star's spectral class.</figcaption>
	</figure>		

	<h2 id="toc-introduction">Shader wrangling</h2>	

	<p>
		Throughout the project I discovered that I needed to write more and more shaders to accomplish all of the visual effects. I wrote a custom shader-loader for this purpose because I was tired of having shaders live in index.html.
	</p>

	<pre class="prettyprint">
//	list of shaders we'll load
var shaderList = ['shaders/starsurface', 'shaders/starhalo', 'shaders/starflare', 'shaders/galacticstars', /*...etc...*/];

//	a small util to pre-fetch all shaders and put them in a data structure (replacing the list above)
function loadShaders( list, callback ){
	var shaders = {};	

	var expectedFiles = list.length * 2;
	var loadedFiles = 0;

	function makeCallback( name, type ){
		return function(data){
			if( shaders[name] === undefined ){
				shaders[name] = {};
			}
			
			shaders[name][type] = data;

			//	check if done
			loadedFiles++;
			if( loadedFiles == expectedFiles ){				
				callback( shaders );
			}

		};
	}
	
	for( var i=0; i&lt;list.length; i++ ){
		var vertexShaderFile = list[i] + '.vsh';
		var fragmentShaderFile = list[i] + '.fsh';	

		//	find the filename, use it as the identifier	
		var splitted = list[i].split('/');
		var shaderName = splitted[splitted.length-1];
		$(document).load( vertexShaderFile, makeCallback(shaderName, 'vertex') );
		$(document).load( fragmentShaderFile,  makeCallback(shaderName, 'fragment') );
	}
}		
	</pre>

	<p>
		The loadShaders() function takes a list of shader file names (expecting .fsh for fragment and .vsh for vertex shaders), attempts the load their data, and then just replaces the list with objects. The end result is in your THREE.js uniforms you could pass shaders to it like so:
	</p>

	<pre class="prettyprint">
var galacticShaderMaterial = new THREE.ShaderMaterial( {
	vertexShader:   shaderList.galacticstars.vertex,
	fragmentShader: shaderList.galacticstars.fragment,
	/*...*/
});		
	</pre>

	<p>
		I probably could have used require.js although that would have needed some code re-assembling just for this purpose. This solution, while much easier, could be improved upon I think, perhaps even as a THREE.js extension. If you have suggestions or ways to do this better, please let me know!
	</p>


	<h2 id="toc-introduction">CSS Text Labels on top of THREE.js</h2>

	<p>
		On our last project Small Arms Globe I toyed around with making text labels appear on top of a THREE.js scene. The method I was using calculates the absolute model position of where I want the text to appear, then resolving the screen position using THREE.Projector(), and finally using CSS "top" and "left" to place the CSS elements at the desired position.
	</p>

	<p>
		Early iterations on this project used this same technique, however I've been itching to try <a href="http://www.emagix.net/academic/mscs-project/item/camera-sync-with-css3-and-webgl-threejs" target="_blank">this other method described by Luis Cruz.</a>
	</p>

	<p>
		The basic idea: match the CSS3D's matrix transform to THREE's camera and scene, and you can "place" CSS elements in 3D as if it were on top of THREE's scene. There are limitations to this though, for example you won't be able to have text go underneath a THREE.js object. This is still much faster than trying to perform layout using "top" and "left" CSS attributes.
	</p>

	<figure class="center">
		<img src="/static/images/screenshots/casestudies/100000stars/textlabels1.png" title="Text labels." />
		<figcaption>Using CSS3D transforms to place text labels on top of WebGL.</figcaption>
	</figure>		

	<p>
		You can find the <a href="http://www.emagix.net/images/portfolio/academic/mscs-project/code_projects/projects/webgl-three-css3-sync01.html" target="_blank">demo (and code in view source) for this here.</a> However I did find that the matrix order has has since changed for THREE.js. The function I've updated:
	</p>

	<pre class="prettyprint">
/* Fixes the difference between WebGL coordinates to CSS coordinates    */
function toCSSMatrix(threeMat4, b) {
    var a = threeMat4, f;
    if (b) {
        f = [
            a.elements[0], -a.elements[1], a.elements[2], a.elements[3],
            a.elements[4], -a.elements[5], a.elements[6], a.elements[7],
            a.elements[8], -a.elements[9], a.elements[10], a.elements[11],
            a.elements[12], -a.elements[13], a.elements[14], a.elements[15]
        ];
    } else {
        f = [
            a.elements[0], a.elements[1], a.elements[2], a.elements[3],
            a.elements[4], a.elements[5], a.elements[6], a.elements[7],
            a.elements[8], a.elements[9], a.elements[10], a.elements[11],
            a.elements[12], a.elements[13], a.elements[14], a.elements[15]
        ];                 
    }
    for (var e in f) {
        f[e] = epsilon(f[e]);
    }
    return "matrix3d(" + f.join(",") + ")";
}		
	</pre>	

	<p>
		Since everything is transformed, the text no longer faces the camera. The solution was to use <a href="https://github.com/mrdoob/three.js/blob/master/src/extras/core/Gyroscope.js" target="_blank">THREE.Gyroscope()</a> which forces an Object3D to "lose" its inherited orientation from the scene. This technique is called "billboarding", and Gyroscope is perfect for doing this.
	</p>

	<p>
		What's really nice is that all of the normal DOM and CSS still played along, like being able mouse-over a 3D text label and have it glow with drop shadows.
	</p>

	<figure class="center">
		<img src="/static/images/screenshots/casestudies/100000stars/textlabels2.png" title="Text labels." />
		<figcaption>Having text labels always face the camera by attaching it to a THREE.Gyroscope().</figcaption>
	</figure>		

	<p>
		When zooming in I found the scaling of typography was causing issues with positioning. Perhaps is this due to the kerning and padding of the text? Another problem was that the text became pixelated when zoomed into since the DOM renderer treats the rendered text as a textured quad, something to be aware of when using this method. In retrospect I could have just used gigantic font-sized text, and perhaps this is something for future exploration. In this project I also used the "top/left" CSS placement text labels, described earlier, for really small elements that accompany planets in the solar system.
	</p>

	<h2 id="toc-introduction">Music playback and looping</h2>
	<p>
		The piece of music played during Mass Effect's 'Galactic Map' was by Bioware composers Sam Hulick and Jack Wall, and it had the kind of emotion I wanted the visitor to experience. We wanted some music in our project because we felt it was an important part of the atmosphere, helping create that sense of awe and wonderment we were trying to aim for.
	</p>

	<p>
		Our producer Valdean Klump contacted Sam who had a bunch of "cutting floor" music from Mass Effect which he graciously let us use, the track titled "In a Strange Land".
	</p>

	<p>
		I used the audio tag for music playback, however even in Chrome the "loop" attribute was unreliable. In the end this dual audio tag "hack" was used to check for end of playback and cycling to the other tag for playing. What was disappointing was that this *still* was not perfectly looping all the time, alas I feel like this was the best that I could do.
	</p>

	<pre class="prettyprint">
var musicA = document.getElementById('bgmusicA');
var musicB = document.getElementById('bgmusicB');
musicA.addEventListener('ended', function(){
	this.currentTime = 0;
	this.pause();
	var playB = function(){
		musicB.play();
	}
	//	make it wait 15 seconds before playing again
	setTimeout( playB, 15000 );
}, false);
	
musicB.addEventListener('ended', function(){
	this.currentTime = 0;
	this.pause();	
	var playA = function(){
		musicA.play();
	}
	//	otherwise the music will drive you insane
	setTimeout( playA, 15000 );
}, false);

//	okay so there's a bit of code redundancy, I admit it
musicA.play();		
	</pre>

	<h2 id="toc-introduction">Room for improvement</h2>
	<p>
		After having worked with THREE.js for a while, I feel like I've gotten to the point where my data was mixing too much with my code. For example when defining materials, textures, and geometry instructions in-line, I was essentially "3D modeling with code". This felt really bad, and is an area where future endeavors with THREE.js could greatly improve upon, for example defining material data in a separate file, preferably viewable and tweakable in some context, and can be brought back into the main project.
	</p>

	<p>
		Our friend and colleague Ray Mcclure also spent some time creating some awesome generative "space noises" which had to be cut due to the web audio API being unstable, crashing Chrome every so often. It's unfortunate... but it definitely got us thinking more in the sound space for future work.
	</p>

	<p>
		Typographical elements paired with WebGL still remains to be a challenge, and I'm not 100% sure what we're doing here is the correct way. It still feels like a hack. Perhaps future versions of THREE, with its <a href="https://plus.sandbox.google.com/113862800338869870683/posts/PnJB9fAQb6z" target="_blank">up and coming CSS Renderer</a>, can be used to better join the two worlds.
	</p>

	<h2 id="toc-introduction">Credits</h2>
	<p>
		Thanks to Aaron Koblin for letting me go to town with this project. Jono Brandel for the excellent UI design + implementation, type treatment, and tour implementation. Valdean Klump for giving the project a name and all of the copy. Sabah Ahmed for clearing the metric ton of use-rights for the data and image sources. Clem Wright for reaching out to the right people for publication. Doug Fritz for technical excellence. George Brower for teaching me JS and CSS. And of course Mr. Doob for THREE.js.
	</p>


	<h2 id="toc-references">References</h2>
	<ul>
	  <li><a href="https://github.com/mrdoob/three.js/">Three.js</a></li>
	  <li><a href="http://www.emagix.net/academic/mscs-project/item/camera-sync-with-css3-and-webgl-threejs">Camera Sync with CSS3 and WebGL THREE.js</a></li>
	  <li><a href="http://masseffect.bioware.com/">Mass Effect</a></li>
	</ul>

{% endblock %}
