body {
  background-color: #ddd;
  font-family: Arial;
}

h1 {
  margin-top: 0px;
}

#update {
  display:none;
}

#todoItems li {
  font-size: 1.6em;
}

#todoItems a {
  color: red;
}

#container {
  border: solid 3px white;
  background-color: rgba(0,0,0,0.9);
  color: white;
  margin: 10px 20% 0 20%;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 15px #000;
}

#nav {
  border-top: solid 1px #666;
  color: #666;
  margin: 10px 25% 0 25%;
  padding:10px;
}

#container input[type="text"] {
  font-size: 2em;
  height: 2em;
  width: 80%;
}

#container input[type="submit"] {
  font-size: 2em;
  border: solid 1px black;
  height: 2em;
}

