<?xml version="1.0"?>
<root fileName="config.xml">
    <config serverPath="">
        <swffiles>
            <file autoload="1" fileSize="472595">sounds_0.swf</file>
        </swffiles>
    </config>
    <global>
        <variables>
            <item id="doLog" val="1" />
        </variables>
    </global>
    <busData fileName="bus.xml">
        <master volume="0.8" pan="0" />
        <bus name="main" volume="0.8" pan="0" parent="_MasterBus" />
        <bus name="fx" volume="0.5" pan="0" parent="main" />
        <bus name="mainEngine" volume="0" pan="0" parent="fx" />
    </busData>
    <soundData fileName="sounds.xml">
        
        <sound>
            <name>idle.m4a</name>
            <length>5000</length>
            <load>5</load>
        </sound>       
        <sound>
            <name>accelerate_and_loop.m4a</name>
            <length>5000</length>
            <load>5</load>
        </sound>             
        <sound>
            <name>slow_down</name>
            <length>3000</length>
            <load>5</load>
        </sound>
        <soundObject>
            <name>AccelerateAndLoop</name>
            <mode>loop</mode>
            <volume>1</volume>
            <pan>0</pan>
            <parentBus>mainEngine</parentBus>
            <loop>1</loop>
            <loopStart>5000</loopStart>
            <loopEnd>9000</loopEnd>
            <sound offset="0">accelerate_and_loop.m4a</sound>
        </soundObject>
        <soundObject>
            <name>SlowDown</name>
            <mode>pattern</mode>
            <volume>1</volume>
            <pan>0</pan>
            <parentBus>mainEngine</parentBus>
            <loop>0</loop>
            <sound offset="0">slow_down</sound>
        </soundObject>
        <soundObject>
            <name>Idle</name>
            <mode>loop</mode>
            <volume>1</volume>
            <pan>0</pan>
            <parentBus>mainEngine</parentBus>
            <loop>1</loop>
            <loopStart>100</loopStart>
            <loopEnd>4900</loopEnd>
            <sound offset="0">idle.m4a</sound>
        </soundObject>
        <arrangement>
            <name>SlowDown</name>
            <domain>down</domain>
            <retrigg>0</retrigg>
            <soundObject>SlowDown</soundObject>
        </arrangement>
        <arrangement>
            <name>AccelerateAndLoop</name>
            <domain>drive</domain>
            <retrigg>0</retrigg>
            <soundObject>AccelerateAndLoop</soundObject>
        </arrangement>
        <arrangement>
            <name>Idle</name>
            <domain>idle</domain>
            <retrigg>0</retrigg>
            <soundObject>Idle</soundObject>
        </arrangement>
        
    </soundData>
    <eventData fileName="event.xml">
        
        <action>
            <event>new_engine</event>
            <targets>
                <target id="BusVolumeAction">
                    <arg key="name" value="mainEngine" />
                    <arg key="vol" value="0.7" />
                    <arg key="time" value="200" />
                </target>
                <target id="PlayArrAction">
                  <arg key="name" value="Idle"/>
                  <arg key="engine" value="1"/>
                </target>
            </targets>
        </action>
        <action>
            <event>stop_engine</event>
            <targets>
                <target id="FadeAndStopArrAction">
                    <arg key="name" value="AccelerateAndLoop" />
                    <arg key="fadeOutTime" value="200" />
                    <arg key="engine" value="1"/>
                </target>
                <target id="FadeAndStopArrAction">
                    <arg key="name" value="Idle" />
                    <arg key="fadeOutTime" value="200" />
                    <arg key="engine" value="1"/>
                </target>
                <target id="FadeAndStopArrAction">
                    <arg key="name" value="SlowDown" />
                    <arg key="fadeOutTime" value="200" />
                    <arg key="engine" value="1"/>
                </target>
                <target id="BusVolumeAction">
                    <arg key="name" value="mainEngine" />
                    <arg key="vol" value="0" />
                    <arg key="time" value="300" />
                </target>
            </targets>
        </action>
        <action>
            <event>throttle_on</event>
            <targets>
                <target id="PlayArrAction">
                    <arg key="name" value="AccelerateAndLoop"/>
                    <arg key="offsetSound" value="1"/>
                </target>
                <target id="FadeAndStopArrAction">
                    <arg key="name" value="Idle" />
                    <arg key="fadeOutTime" value="200" />
                </target>
                <target id="FadeAndStopArrAction">
                    <arg key="name" value="SlowDown" />
                    <arg key="fadeOutTime" value="200" />
                </target>
            </targets>
        </action>
        <action>
            <event>throttle_off</event>
            <targets>
                <target id="FadeAndStopArrAction">
                    <arg key="name" value="AccelerateAndLoop" />
                    <arg key="fadeOutTime" value="200" />
                </target>
                <target id="PlayArrAction">
                    <arg key="name" value="SlowDown" />
                </target>
                <target id="PlayArrAction">
                  <arg key="name" value="Idle"/>
                </target>
            </targets>
        </action>
        
    </eventData>
</root>