{% extends "tutorial.html" %}

{% block head %}

{% endblock %}

{% block browsersupport %}
<span class="browser opera supported"><span class="browser_name">Opera</span><span class="support">supported</span></span>
<span class="browser ie supported"><span class="browser_name">Internet Explorer</span><span class="support">supported</span></span>
<span class="browser safari supported"><span class="browser_name">Safari</span><span class="support">supported</span></span>
<span class="browser ff supported"><span class="browser_name">Firefox</span><span class="support">supported</span></span>
<span class="browser chrome supported"><span class="browser_name">Chrome</span><span class="support">supported</span></span>
{% endblock %}

{% block iscompatible %}
  return true;
{% endblock %}

{% block html5badge %}
<!--
<img src="/static/images/identity/html5-badge-h-multimedia.png" width="133" height="64" alt="This article is powered by HTML5 Graphics, 3D &amp; Effects" title="This article is powered by HTML5 Graphics, 3D &amp; Effects" />
-->
{% endblock %}

{% block content %}
<p>It&rsquo;s a fair bet you&rsquo;ve done some animation work in your time as a developer, whether that&rsquo;s smaller UI effects or large iteractive canvas pieces. Chances are you&rsquo;ve also come across <code>requestAnimationFrame</code>, or rAF (we say it <em>raff</em> around these parts), and hopefully you&rsquo;ve had a chance to use it in your projects. In case you don&rsquo;t know, <code>requestAnimationFrame</code> is the browser&rsquo;s native way of handling your animations. Because rAF is specifically designed to deal with animation and rendering, the browser can schedule it at the most appropriate time and, if we play our cards right, it will help us get a buttery smooth 60 frames per second.</p>

<p>What we want to do in this article is <strong>outline some additional ways to ensure you&rsquo;re getting the maximum benefit from your animation code.</strong> Even if you&rsquo;re using <code>requestAnimationFrame</code> there are other ways you can end up with bottlenecks in your animations. At 60 frames per second each frame that you draw has 16.67ms to get everything done. That&rsquo;s not a lot, so every optimisation counts!</p>

<blockquote>
  <p><strong>TL;DR</strong> Decouple your events from animations; avoid animations that result in reflow-repaint loops; update your rAF calls to expect a high resolution timestamp as the first parameter; only call rAF when you have visual updates to do.</p>
</blockquote>

<h2 id="debouncing-scroll-events">Debouncing Scroll Events</h2>

<p>Debouncing is the process of decoupling your animation from any inputs that affect it. Take, for example, an effect that is triggered when you scroll the page. The effect might check if some DOM elements are visible to the user and then, if they are, apply some CSS classes to those elements.</p>

<p>Or maybe you&rsquo;re coding a parallax scrolling effect where, as you scroll, background images change their position relative to page&rsquo;s scroll position. I&rsquo;ll go with the former of the two common uses, and the general gist of our code might be:</p>

<pre class="prettyprint"><code>function onScroll() {
	update();
}

function update() {

	// assume domElements has been declared
	// by this point :)
	for(var i = 0; i &lt; domElements.length; i++) {

		// read offset of DOM elements
		// to determine visibility - a reflow

		// then apply some CSS classes
		// to the visible items	- a repaint

	}
}

window.addEventListener('scroll', onScroll, false);
</code></pre>

<p>The main issue here is that we are triggering a reflow and repaint whenever we get a scroll event: we ask the browser to recalculate the <strong>real positions</strong> of DOM elements, an expensive reflow operation, and then we apply some CSS classes, which causes the browser to repaint. We end up ping-ponging between reflowing and repainting, and this is going to undermine your app&rsquo;s performance. We&rsquo;re picking on scroll events here, but the same applies to resize events. In fact, any event that you&rsquo;re going to make use of in this way can cause performance issues. Read Tony Gentilcore&rsquo;s Fastersite blog post for a <a href="http://gent.ilcore.com/2011/03/how-not-to-trigger-layout-in-webkit.html">breakdown of properties that cause a reflow in WebKit</a>.</p>

<p>What we now need to do is decouple the scroll event from the <code>update</code> function, and this is exactly where <code>requestAnimationFrame</code> steps in to help. We need to change things around so that we are listening to our scroll events, but we will only store the most recent value:</p>

<pre class="prettyprint"><code>var latestKnownScrollY = 0;

function onScroll() {
	latestKnownScrollY = window.scrollY;
}
</code></pre>

<p>Now we&rsquo;re in a better place: <code>onScroll</code> runs whenever the browser chooses to execute it, but all we&rsquo;re doing is storing the window&rsquo;s scroll position. This code could run once, twenty or a hundred times <em>before</em> we try to use the value in our animation and it wouldn&rsquo;t matter. The point is that we&rsquo;re keeping a track on the value but it&rsquo;s not using it to trigger potentially unnecessary draw calls. If your draw call is expensive then you&rsquo;ll really benefit from avoiding those extra calls.</p>

<p>The other part of this change is to use <code>requestAnimationFrame</code> to handle the visual updates at the most convenient time for the browser:</p>

<pre class="prettyprint"><code>function update() {
	requestAnimationFrame(update);

	var currentScrollY = latestKnownScrollY;

	// read offset of DOM elements
	// and compare to the currentScrollY value
	// then apply some CSS classes
	// to the visible items
}

// kick off
requestAnimationFrame(update);
</code></pre>

<p>Now we&rsquo;re just pulling the latest value from <code>lastKnownScrollY</code> when we need it and discarding everything else. If you need to capture all the event values since the last draw you could use an array and push all the values captured in <code>onScroll</code> onto it. When the time comes to do the drawing you could average the values or do whatever&rsquo;s most appropriate. In this case we&rsquo;re keeping it simple and only tracking the last value we captured.</p>

<p>What else can we do? Well for one thing we are constantly running <code>requestAnimationFrame</code> and that&rsquo;s not necessary if we haven&rsquo;t just scrolled since nothing will have changed. To fix that we have the onScroll initiate the <code>requestAnimationFrame</code>:</p>

<pre class="prettyprint"><code>var latestKnownScrollY = 0,
	ticking = false;

function onScroll() {
	latestKnownScrollY = window.scrollY;
	requestTick();
}

function requestTick() {
	if(!ticking) {
		requestAnimationFrame(update);
	}
	ticking = true;
}
</code></pre>

<p>Now whenever we scroll we will try and call <code>requestAnimationFrame</code>, but if one is already requested we <em>don&rsquo;t initiate another</em>. This is an important optimization, since the browser will stack all the repeated rAF requests and we would be back to a situation with more calls to <code>update</code> than we need.</p>

<p>Thanks to this setup we no longer need to call <code>requestAnimationFrame</code> at the top of update because we know it will only be requested when one or more scroll events has taken place. We also no longer need the kick off call at the bottom, either, so let&rsquo;s update accordingly:</p>

<pre class="prettyprint"><code>function update() {
	// reset the tick so we can
	// capture the next onScroll
	ticking = false;

	var currentScrollY = latestKnownScrollY;

	// read offset of DOM elements
	// and compare to the currentScrollY value
	// then apply some CSS classes
	// to the visible items
}

// kick off - no longer needed! Woo.
// update();
</code></pre>

<p>Hopefully you can see the benefits of debouncing the animations in your app from any scroll or resize events that influence it. If you&rsquo;re still in any doubt, John Resig wrote a great article about how <a href="http://ejohn.org/blog/learning-from-twitter/">Twitter was affected by scroll events</a> a while ago. Had rAF been around back then, the above technique would have probably been his recommendation.</p>

<h2 id="debouncing-mouse-events">Debouncing Mouse Events</h2>

<p>We&rsquo;ve gone through one common use-case for using rAF to decouple animations from scroll and resize events, now let&rsquo;s talk about another one: using it to deal with interactions. In this instance we&rsquo;re going to have something stick to the current mouse position, but only when the mouse button is pressed. When it&rsquo;s released we&rsquo;ll stop the animation.</p>

<p>Let&rsquo;s jump straight into the code, then we&rsquo;ll pick it apart:</p>

<pre class="prettyprint"><code>var mouseIsDown = false,
	lastMousePosition = { x: 0, y: 0 };

function onMouseDown() {
	mouseIsDown = true;
	requestAnimationFrame(update);
}

function onMouseUp() {
	mouseIsDown = false;
}

function onMouseMove(evt) {
	lastMousePosition.x = evt.clientX;
	lastMousePosition.y = evt.clientY;
}

function update() {
	if(mouseIsDown) {
		requestAnimationFrame(update);
	}

	// now draw object at lastMousePosition
}

document.addEventListener('mousedown', onMouseDown, false);
document.addEventListener('mouseup',   onMouseUp,   false);
document.addEventListener('mousemove', onMouseMove, false);
</code></pre>

<p>In this instance we are setting a boolean (<code>mouseIsDown</code>) depending on whether or not the mouse button is currently pressed. We can also piggy back on the <code>mousedown</code> event to initiate the first <code>requestAnimationFrame</code> call, which is handy. As we move the mouse we do a similar trick to the previous example where we simply store the last known position of the mouse, which we later use in the <code>update</code> function. The last thing to notice is that <code>update</code> requests the next animation frame until we&rsquo;ve called <code>onMouseUp</code> and <code>mouseIsDown</code> is set back to <code>false</code>.</p>

<p>Again our tactic here is to let the mouse events all proceed as often as the browser deems necessary, and we have the draw calls happen <em>independently</em> of those events. Not dissimilar to what we do with scroll events.</p>

<p>If things are a little more complex and you&rsquo;re animating something that carries on moving after <code>onMouseUp</code> has been called, you&rsquo;ll need to manage the calls to <code>requestAnimationFrame</code> differently. A suitable solution is to track the position of the animating object and when the change on two subsequent frames drops below a certain threshold you stop calling <code>requestAnimationFrame</code>. The changes to our code would look a little like this:</p>

<pre class="prettyprint"><code>var mouseIsDown = false,
	lastMousePosition = { x: 0, y: 0 },
	rAFIndex = 0;

function onMouseDown() {
	mouseIsDown = true;

	// cancel the existing rAF
	cancelAnimationFrame(rAFIndex);

	rAFIndex = requestAnimationFrame(update);
}

// other event handlers as above

function update() {

	var objectHasMovedEnough = calculateObjectMovement();

	if(objectHasMovedEnough) {
		rAFIndex = requestAnimationFrame(update);
	}

	// now draw object at lastMousePosition
}

function calculateObjectMovement() {

	var hasMovedFarEnough = true;

	// here we would perhaps use velocities
	// and so on to capture the object
	// movement and set hasMovedFarEnough
	return hasMovedFarEnough;
}
</code></pre>

<p>The main change in the above comes from the fact that if you release the mouse the rAF calls would continue until the object has come to a rest <em>but</em> you may start clicking and dragging again meaning you would get a second rAF call scheduled <em>as well as the original</em>. Not good. To combat this we make sure to cancel any scheduled <code>requestAnimationFrame</code> call (in <code>onMouseDown</code>) before we set about issuing a new one.</p>

<h2 id="requestanimationframe-and-high-resolution-timestamps">requestAnimationFrame and High Resolution Timestamps</h2>

<p>While we&rsquo;re spending some time talking about <code>requestAnimationFrame</code> it&rsquo;s worth noting to how callbacks are handled. The parameter passed to your callback function is a high resolution timestamp, accurate to a fraction of a millisecond. Two things about this:</p>

<ol>
  <li>It&rsquo;s awesome for your animations if they&rsquo;re time-based because now they can be really accurate</li>
  <li>You need to update any code you have written that expects an object or element to be the first parameter</li>
</ol>

<p>Get the full rundown of this at: <a href="http://updates.html5rocks.com/2012/05/requestAnimationFrame-API-now-with-sub-millisecond-precision">requestAnimationFrame API: now with sub-millisecond precision</a></p>

<h2 id="an-example">An Example</h2>

<p>OK, let&rsquo;s finish this article off with an example, just so you can see it all in action. It&rsquo;s slightly contrived, and we&rsquo;ll also throw in a bonus performance killer that we can fix as we go. Way too much fun!</p>

<p>We have a document with 800 DOM elements that we&rsquo;re going to move when you scroll the mouse. Because we&rsquo;re well-versed in modern web development we&rsquo;re going to use CSS transitions and <code>requestAnimationFrame</code> from the off. As we scroll down the page we&rsquo;ll determine which of our 800 DOM elements are now above the middle of the visible area of the screen and we&rsquo;ll move them over to the left hand side by adding a <code>left</code> class.</p>

<p>It&rsquo;s worth bearing in mind that we&rsquo;ve chosen such a large number of elements because it will allow us to really see any performance issues more easily. And there are some.</p>

<p>Here&rsquo;s what our JavaScript looks like:</p>

<pre class="prettyprint"><code>var movers = document.querySelectorAll('.mover');

/**
 * Set everthing up and position all the DOM elements
 * - normally done with the CSS but, hey, there's heaps
 * of them so we're doing it here!
 */
(function init() {

    for(var m = 0; m &lt; movers.length; m++) {
        movers[m].style.top = (m * 10) + 'px';
    }

})();

/**
 * Our animation loop - called by rAF
 */
function update() {

	// grab the latest scroll position
    var scrollY             = window.scrollY,
        mover               = null,
        moverTop            = [],
        halfWindowHeight    = window.innerHeight * 0.5,
        offset              = 0;

	// now loop through each mover div
	// and change its class as we go
    for(var m = 0; m &lt; movers.length; m++) {

        mover       = movers[m];
        moverTop[m] = mover.offsetTop;

        if(scrollY &gt; moverTop[m] - halfWindowHeight) {
            mover.className = 'mover left';
        } else {
            mover.className = 'mover';
        }

    }

	// keep going
    requestAnimationFrame(update);
}

// schedule up the start
window.addEventListener('load', update, false);
</code></pre>

<figure>
  <a href="pre.html">
  <img src="pre-particle.jpg" />
  </a>
  <figcaption>
  Our demo page before performance and rAF optimizations
  </figcaption>
</figure>

<p>If you check out the <a href="pre.html">pre-optimized page</a> you&rsquo;ll see it really struggle to keep up as you scroll, and there are a number of reasons why. Firstly we are brute force calling the <code>requestAnimationFrame</code>, whereas what we really should do is only calculate any changes when we get a scroll event. Secondly we are calling <code>offsetTop</code> which causes a reflow, but then we immediately apply the <code>className</code> change and that&rsquo;s going to cause a repaint. And then thirdly, for our bonus performance killer, we are using <code>className</code> rather than <code>classList</code>.</p>

<p>The reason using <code>className</code> is less performant than <code>classList</code> is that <code>className</code> will <em>always</em> affect the DOM element, even if the value of <code>className</code> hasn&rsquo;t changed. By just setting the value we trigger a repaint, which can be very expensive. Using <code>classList</code>, however, allows the browser to be much more intelligent about updates, and it will leave the element alone should the list already contain the class you&rsquo;re adding (which is <code>left</code> in our case).</p>

<p>If you want more information on using <code>classList</code> and the new-and-extremely-useful frame breakdown mode in Chrome&rsquo;s Dev Tools you should watch this video by Paul Irish:</p>

<iframe width="640" height="360" src="http://www.youtube.com/embed/hZJacl2VkKo?rel=0" frameborder="0" allowfullscreen=""></iframe>

<p>So let&rsquo;s take a look at what a better version of this would look like:</p>

<pre class="prettyprint"><code>var movers          = document.querySelectorAll('.mover'),
    lastScrollY     = 0,
    ticking         = false;

/**
 * Set everthing up and position all the DOM elements
 * - normally done with the CSS but, hey, there's heaps
 * of them so we're doing it here!
 */
(function init() {

    for(var m = 0; m &lt; movers.length; m++) {
        movers[m].style.top = (m * 10) + 'px';
    }

})();

/**
 * Callback for our scroll event - just
 * keeps track of the last scroll value
 */
function onScroll() {
    lastScrollY = window.scrollY;
    requestTick();
}

/**
 * Calls rAF if it's not already
 * been done already
 */
function requestTick() {
    if(!ticking) {
        requestAnimationFrame(update);
        ticking = true;
    }
}

/**
 * Our animation callback
 */
function update() {
    var mover               = null,
        moverTop            = [],
        halfWindowHeight    = window.innerHeight * 0.5,
        offset              = 0;

	// first loop is going to do all
	// the reflows (since we use offsetTop)
    for(var m = 0; m &lt; movers.length; m++) {

        mover       = movers[m];
        moverTop[m] = mover.offsetTop;
    }

	// second loop is going to go through
	// the movers and add the left class
	// to the elements' classlist
    for(var m = 0; m &lt; movers.length; m++) {

        mover       = movers[m];

        if(lastScrollY &gt; moverTop[m] - halfWindowHeight) {
            mover.classList.add('left');
        } else {
            mover.classList.remove('left');
        }

    }

	// allow further rAFs to be called
    ticking = false;
}

// only listen for scroll events
window.addEventListener('scroll', onScroll, false);
</code></pre>

<figure>
  <a href="post.html">
  <img src="post-particle.jpg" />
  </a>
  <figcaption>
  Our demo page after performance and rAF optimizations
  </figcaption>
</figure>

<p>If you look at <a href="post.html">our new optimized version of the demo</a> you will see much smoother animations as you scroll up and down the page. We&rsquo;ve stopped calling <code>requestAnimationFrame</code> indiscriminantly, we now only do it when we scroll (and we ensure there is only one call scheduled). We&rsquo;ve also moved the <code>offsetTop</code> property lookups into one loop and put the class changes into a second loop which means that we&rsquo;re avoiding the reflow-repaint problem. We&rsquo;ve decoupled our events from the draw call so they can happen as often as they like and we won&rsquo;t be doing unnecessary drawing. Finally we&rsquo;ve switched out <code>className</code> for <code>classList</code>, which is a massive performance saver.</p>

<p>Of course there are other things we can do to take this further, in particular not iterating through <em>all 800</em> DOM elements on each pass, but even just the changes we&rsquo;ve made have given us great performance improvements.</p>

<h1 id="conclusion">Conclusion</h1>

<p>It&rsquo;s important to not only use <code>requestAnimationFrame</code> for your animations, but also to use it in the right way. As you can hopefully see it&rsquo;s quite easy to inadvertently cause bottlenecks, but by understanding how the browser actually executes your code you can fix any problems quickly. Take some time with Chrome&rsquo;s Dev Tools, especially the frame mode, and see where your animations can be improved.</p>
{% endblock %}
