{% extends "tutorial.html" %}
{% load mixin from templatefilters %}

{% block pagebreadcrumb %}{{ tut.title }}{% endblock %}

{% block head %}
<style>
#ex4a {
  float: right;
  margin: 1em;
}

ol, ul {
  font-size: 14px;
}

.property, .method, .attribute {
  font-style: italic;
}

.small-notice {
  font-size: smaller;
}

span.unchanged {
  color: gray;
}

span.unchanged * {
  color: inherit;
}
.talkinghead:before {
  background-image: url(/static/images/profiles/75/dominiccooney.75.png);
}
</style>
{% endblock %}

{% block iscompatible %}
  return window.HTMLTemplateElement && HTMLElement.prototype.createShadowRoot ? true : false;
{% endblock %}

{% block html5badge %}
<!-- Your HTML5 badge (tech class icons used in the article) goes here -->
{% endblock %}

{% block share_image %}
<!--<meta itemprop="image" content="images/your_social_sharing_img.png">-->
{% endblock %}

{% block translator %}
<div class="translator">
  <strong>Translator:</strong> <a href="https://github.com/sunnylost">sunnylost</a>
</div>
{% endblock %}

{% block content %}

<p>{% include "warning.html" %}</p>

<h2 id="toc-introduction">介绍</h2>

<p>
Web 组件是一系列前沿规范，它：
</p>

<ol>
<li>使得构建部件(widget)成为可能</li>
<li>…重用更为可靠</li>
<li>
…即便后续版本的组件修改了内部实现细节也不会使页面出错。
</li>
</ol>

<p>
这是否意味着你得决定什么时候用 HTML/JavaScript，什么时候用 Web 组件？不！HTML 和 JavaScript 可以制作交互式可视化内容，
部件也是交互式可视化内容。在开发部件的过程中自然而然的就会利用你的 HTML 和 JavaScript 技巧。Web 组件标准就是以此为目的而设计的。
</p>

<blockquote class="commentary talkinghead">
若是使用别的技术来构建部件却也说不通。比如，我就肯定不会推荐你用 <code>&lt;canvas&gt;</code> 来写部件。它确实可靠——如果你修改绘制的内容也不会破坏页面——但它对可访问性(accessibility)，索引(indexing)，组合(composition)，分辨率无关(resolution independence)都不友好。
</blockquote>

<p>
但有个根本问题，导致 HTML 和 JavaScript 构建出来的部件难以使用：部件中的 DOM 树并没有封装起来。
封装的缺乏意味着文档中的样式表会无意中影响部件中的某些部分；
JavaScript 可能在无意中修改部件中的某些部分；你书写的 ID 也可能会把部件内部的 ID 覆盖。
</p>

<blockquote class="commentary">
缺乏封装的一个明显缺点在于：如果你更新了库或者部件的 DOM 更改了内部细节，你的样式和脚本就可能在不经意间遭到破坏。
</blockquote>

<p>
Web 组件由四部分组成：
</p>

<ol>
<li><a href="https://dvcs.w3.org/hg/webcomponents/raw-file/tip/spec/templates/index.html">Templates</a></li>
<li><a href="http://www.w3.org/TR/shadow-dom/">Shadow
DOM</a></li>
<li><a href="https://dvcs.w3.org/hg/webcomponents/raw-file/tip/spec/custom/index.html">Custom
Elements</a></li>
<li><a href="https://dvcs.w3.org/hg/webcomponents/raw-file/tip/explainer/index.html#external-custom-elements-and-decorators">Packaging</a></li>
</ol>

<p>
<b>Shadow DOM</b> 解决了 DOM 树的封装问题。Web 组件的四部分被设计成配合工作，但你也可以选择 Web 组件中的某个部分来使用。该教程将教会你如何使用 Shadow DOM。
</p>

<p class="notice">
<b>注意：</b> Chrome 25+ 支持 Shadow DOM，但 API 需要加 <code>webkit</code> 前缀。 在 Chrome 的最新版本中增加了无前缀的 API，可以通过开启 <code>about:flags</code> 下的 "实验性网络平台功能"来使用。
</p>

<h2 id="toc-hello-world">Hello, Shadow World</h2>

<p>
有了 Shadow DOM，元素就可以和一个新类型的节点关联。这个新类型的节点称为 <b>shadow root。</b>与一个 shadow root 关联的元素称作一个 <b>shadow host。</b>shadow host 的内容不会渲染；shadow root 的内容会渲染。
</p>

<p>
比如，你拥有如下的标记：
</p>

<pre class="prettyprint">
&lt;button&gt;Hello, world!&lt;/button&gt;
&lt;script&gt;
var host = document.querySelector('button');
<b>var root = host.createShadowRoot();</b>
root.textContent = 'こんにちは、影の世界!';
&lt;/script&gt;
</pre>

<p>因此，相比显示以下内容</p>

<button id="ex1a">Hello, world!</button>
<script>
function remove(selector) {
  Array.prototype.forEach.call(
      document.querySelectorAll(selector),
      function (node) { node.parentNode.removeChild(node); });
}

if (!HTMLElement.prototype.webkitCreateShadowRoot) {
  remove('#ex1a');
  document.write('<img src="SS1.png" alt="Screenshot of a button with \'Hello, world!\' on it.">');
}
</script>

<p>页面将会呈现如下内容</p>

<button id="ex1b">Hello, world!</button>
<script>
(function () {
  if (!HTMLElement.prototype.webkitCreateShadowRoot) {
    remove('#ex1b');
    document.write('<img src="SS2.png" alt="Screenshot of a button with \'Hello, shadow world!\' in Japanese on it.">');
    return;
  }
  var host = document.querySelector('#ex1b');
  var root = host.webkitCreateShadowRoot();
  root.textContent = 'こんにちは、影の世界!';
})();
</script>

<p>
不仅如此，若页面中的 JavaScript 想获得按钮的 <span class="property">textContent</span> 是什么，它不会得到 “こんにちは、影の世界!”，而是 “Hello, world!”，因为 shadow root 下的 DOM 子树被封装了起来。
</p>

<p>
介绍一个(可能不被遵守的)经验法则，
你不应该把<em>内容</em>放到 Shadow DOM 中。内容必须放入文档内以便屏幕阅读器，搜索引擎，扩展等类似程序可以访问到。
在创建一个吸引人的，可重用的部件时，那些无意义的标记要放进 Shadow DOM 中，可内容还得留在页面里。
</p>

<blockquote class="commentary talkinghead">
当然，这并不是必须遵守的；在 web 上你可以按照自己的喜好来做。但千万别过火。
</blockquote>

<h2 id="toc-separation">从展现中分离内容</h2>

<p>
现在我们来看看如何使用 Shadow DOM 来将内容从展现中分离出来。假设我们拥有如下姓名卡：
</p>

<style>
.ex2a.outer {
  border: 2px solid brown;
  border-radius: 1em;
  background: red;
  font-size: 20pt;
  width: 12em;
  height: 7em;
  text-align: center;
}
.ex2a .boilerplate {
  color: white;
  font-family: sans-serif;
  padding: 0.5em;
}
.ex2a .name {
  color: black;
  background: white;
  font-family: "Marker Felt", cursive;
  font-size: 45pt;
  padding-top: 0.2em;
}
</style>
<div class="ex2a outer">
  <div class="boilerplate">
    Hi! My name is
  </div>
  <div class="name">
    Bob
  </div>
</div>

<p>
以下是标记，它并没有使用 Shadow DOM：
</p>

<pre class="prettyprint">
&lt;style&gt;
.outer {
  border: 2px solid brown;
  border-radius: 1em;
  background: red;
  font-size: 20pt;
  width: 12em;
  height: 7em;
  text-align: center;
}
.boilerplate {
  color: white;
  font-family: sans-serif;
  padding: 0.5em;
}
.name {
  color: black;
  background: white;
  font-family: "Marker Felt", cursive;
  font-size: 45pt;
  padding-top: 0.2em;
}
&lt;/style&gt;
&lt;div class="outer"&gt;
  &lt;div class="boilerplate"&gt;
    Hi! My name is
  &lt;/div&gt;
  &lt;div class="name"&gt;
    Bob
  &lt;/div&gt;
&lt;/div&gt;
</pre>

<p>
因为 DOM 树缺乏封装，整个姓名卡的结构都暴露给了文档。若是页面里其他的元素不经意间使用了同样的类名来设置样式或操作脚本，那么我们可就有苦日子过了。
</p>

<p>我们完全可以避免这样的情况发生</p>

<h3 id="toc-separation-hide">第一步：隐藏展现细节</h3>

<p>
从语义上讲，我们可能只关心如下内容：
</p>

<ul>
<li>这是一个姓名卡。</li>
<li>名称是 “Bob”。</li>
</ul>

<p>
首先，我们先按照最接近我们关心的语义的方式来书写标记：
</p>

<pre class="prettyprint">
&lt;div id="nameTag"&gt;Bob&lt;/div&gt;
</pre>

<p>
接下来我们把所有和展现相关的样式和 div 都放入一个 <code>&lt;template&gt;</code> 元素内：
</p>

<pre class="prettyprint">
&lt;div id="nameTag"&gt;Bob&lt;/div&gt;
<b>&lt;template id="nameTagTemplate"&gt;</b>
<span class="unchanged">&lt;style&gt;
.outer {
  border: 2px solid brown;

  … 和上面一样 …

&lt;/style&gt;
&lt;div class="outer"&gt;
  &lt;div class="boilerplate"&gt;
    Hi! My name is
  &lt;/div&gt;
  &lt;div class="name"&gt;
    Bob
  &lt;/div&gt;
&lt;/div&gt;</span>
<b>&lt;/template&gt;</b>
</pre>

<p>
此时，‘Bob’ 是唯一被渲染的内容。因为我们把与展现有关的 DOM 元素移动到了一个 <code>&lt;template&gt;</code> 元素内，它们是不会被渲染的，但是它们<em>能够</em>通过 JavaScript 来访问。接下来我们就会通过脚本来填充 shadow root：
</p>

<pre class="prettyprint">
&lt;script&gt;
var shadow = document.querySelector('#nameTag').createShadowRoot();
var template = document.querySelector('#nameTagTemplate');
var clone = document.importNode(template.content, true);
shadow.appendChild(clone);
&lt;/script&gt;
</pre>

<blockquote class="commentary talkinghead">
Templates，和 Shadow DOM 一样，也是一个完善中的规范。Chrome Canary 支持 <code>&lt;template&gt;</code> 元素。你也可以选择使用 <span class="property">innerHTML</span>，<span class="method">appendChild</span>，<span class="method">getElementById</span> 这样的方法或属性来填充 shadow root。本文主要讨论 Shadow DOM，所以不会涉及太多 template 元素的工作原理。如果你想了解更多 <code>&lt;template&gt;</code> 的内容，查看 <a href="/tutorials/webcomponents/template/">HTML 的新 Template 标签</a>.
</blockquote>

<p>
我们建立了一个 shadow root，姓名卡被再次渲染。如果你右键点击标签，选择检查元素，你将看到漂亮并富于语义的标记：
</p>

<pre class="prettyprint">
&lt;div id="nameTag"&gt;Bob&lt;/div&gt;
</pre>

<p>
这便印证了，通过使用 Shadow DOM，我们可以将展现细节隐藏在姓名卡中。展现细节被封装在了 Shadow DOM 中。
</p>

<h3 id="toc-separation-separate">
第二步：从展现中分离内容
</h3>

<p>
现在我们的姓名卡可以从页面中隐藏展现细节了，但展现和内容却没有分离，
因为虽然内容(就是姓名“Bob”)显示在了页面里，但这个姓名是从 shadow root 中复制过来的。
如果我们想修改姓名卡的姓名，就得修改两个地方，这就可能造成它们不同步。
</p>

<p>
HTML 元素是可组合的 — 比如说你可以把一个按钮放进一个表格里。
在这儿我们就需要使用组合：姓名卡必须将红色背景，“Hi!”文本，和标签内容组合在一起。
</p>

<p>
作为组件作者的你定义了一个 <code>&lt;content&gt;</code> 元素来完成部件的组合工作。
这为部件的展现创建了一个插入点(insertion point)，而该插入点将挑选 shadow host 里的内容显示到该点所在的位置上。
</p>

<p>
如果我们把 Shadow DOM 里的标记做如下修改：
</p>

<pre class="prettyprint">
<span class="unchanged">&lt;template id="nameTagTemplate"&gt;
&lt;style&gt;
  …
&lt;/style&gt;</span>
&lt;div class="outer"&gt;
  &lt;div class="boilerplate"&gt;
    Hi! My name is
  &lt;/div&gt;
  &lt;div class="name"&gt;
    <b>&lt;content&gt;&lt;/content&gt;</b>
  &lt;/div&gt;
&lt;/div&gt;
<span class="unchanged">&lt;/template&gt;</span>
</pre>

<p>
当姓名卡渲染后，shadow host 的内容便投射(projected)到 <code>&lt;content&gt;</code> 元素出现的地方。
</p>

<p>
现在文档的结构简单了，因为名称只出现在了一个地方——就在文档里。如果想更新用户名称，你只需写：
</p>

<pre class="prettyprint">
document.querySelector('#nameTag').textContent = 'Shellie';
</pre>

<p>
这就足够了。浏览器会自动更新渲染的姓名卡，因为我们把姓名卡的内容<b>投射</b>到了 <code>&lt;content&gt;</code> 元素内。
</p>

<div id="ex2b">

<p>下面是使用 Shadow DOM 的实例：</p>

<div id="ex2bNameTag">Bob</div>

<p>
<label for="ex2bNewName">新名字：</label>
<input name="ex2bNewName" value="Shellie">
<button onclick="updateClicked('#ex2bNameTag', 'input[name=ex2bNewName]');">更新</button>
</p>

<script>
function updateClicked(nameTagSelector, textBoxSelector) {
  var text = document.querySelector(textBoxSelector);
  document.querySelector(nameTagSelector).textContent = text.value;
  text.value = '';
  text.focus();
}
</script>

<template id="ex2bNameTagTemplate">
<style>
.outer {
  border: 2px solid brown;
  border-radius: 1em;
  background: red;
  font-size: 20pt;
  width: 12em;
  height: 7em;
  text-align: center;
}
.boilerplate {
  color: white;
  font-family: sans-serif;
  padding: 0.5em;
}
.name {
  color: black;
  background: white;
  font-family: "Marker Felt", cursive;
  font-size: 45pt;
  padding-top: 0.2em;
  height: 55pt;
  overflow: hidden;
}
</style>
<div class="outer">
  <div class="boilerplate">
    Hi! My name is
  </div>
  <div class="name">
    &nbsp;<content></content>&nbsp;
  </div>
</div>
</template>
<script>
(function () {
  if (!window.HTMLTemplateElement ||
      !HTMLElement.prototype.webkitCreateShadowRoot) {
    remove('#ex2b');
    return;
  }

  var shadow = document.querySelector('#ex2bNameTag').webkitCreateShadowRoot();
  var template = document.querySelector('#ex2bNameTagTemplate');
  shadow.appendChild(template.content);
  template.remove();
})();
</script>
</div>


<p>
我们实现了分离内容和展现的目的。<b>内容在文档内；展现在 Shadow DOM 里。</b>
当需要更新的时候，浏览器会自动保持它们的同步。
</p>

<h3 id="toc-separation-profit">第三步：福利</h3>

<p>
通过分离内容和展现，我们可以简化操作内容的代码——在姓名卡的例子中，代码只需要和包含一个 <code>&lt;div&gt;</code> 标签的简单结构打交道，而不必操作多个标签。
</p>

<p>
如果此时我们修改展现，就不用动任何代码了！
</p>

<p>
比方说，我们想将姓名卡本地化。因为它仍然是一个姓名卡，所以它在文档中的语义内容没有改变：
</p>

<pre class="prettyprint">
&lt;div id="nameTag"&gt;Bob&lt;/div&gt;
</pre>

<p>
设置 shadow root 的代码保持不变。只是放进 shadow root 中的内容变了：
</p>

<pre class="prettyprint">
&lt;template id="nameTagTemplate"&gt;
&lt;style&gt;
.outer {
  border: 2px solid pink;
  border-radius: 1em;
  background: url(sakura.jpg);
  font-size: 20pt;
  width: 12em;
  height: 7em;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
}
.name {
  font-size: 45pt;
  font-weight: normal;
  margin-top: 0.8em;
  padding-top: 0.2em;
}
&lt;/style&gt;
&lt;div class="outer"&gt;
  &lt;div class="name"&gt;
    &lt;content&gt;&lt;/content&gt;
  &lt;/div&gt;
  と申します。
&lt;/div&gt;
&lt;/template&gt;
</pre>

<p>
现在我们有了一个日文的姓名卡：
</p>

<div id="ex3a">

<div id="ex3aNameTag">Bob</div>

<p>
<label for="ex3aNewName">新名字：</label>
<input name="ex3aNewName" value="基子">
<button onclick="updateClicked('#ex3aNameTag', 'input[name=ex3aNewName]');">更新</button>
</p>

<template id="ex3aNameTagTemplate">
<style>
.outer {
  border: 2px solid pink;
  border-radius: 1em;
  background: url(sakura.jpg);
  font-size: 20pt;
  width: 12em;
  height: 7em;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
}
.name {
  font-size: 45pt;
  font-weight: normal;
  margin-top: 0.8em;
  padding-top: 0.2em;
}
</style>
<div class="outer">
  <div class="name">
    <content></content>
  </div>
  と申します。
</div>
</template>

</div>

<script>
(function () {
  if (!window.HTMLTemplateElement ||
      !HTMLElement.prototype.webkitCreateShadowRoot) {
    remove('#ex3a');
    document.write('<img src="SS4.png" alt="A name tag with a watercolor painting of cherry blossoms on it.">');
    return;
  }
  var shadow = document.querySelector('#ex3aNameTag').webkitCreateShadowRoot();
  var template = document.querySelector('#ex3aNameTagTemplate');
  shadow.appendChild(template.content);
  template.remove();
})();
</script>

<p class="small-notice">
<a href="http://www.flickr.com/photos/mikedowman/5621169045/">背景图片来自于 Mike Dowman，</a> 基于 Creative Commons license 重用。
</p>

<p>
在当今的 web 环境下这是一个巨大的进步，因为更新名字的代码可以依赖于简单且一致的<em>组件</em>的结构，
<strong>而无需知晓用于渲染的结构。</strong> 比如说从渲染的角度考虑，在英文中名称应该出现在第二行(在 “Hi! My name is” 之后)，但是在日文中需要出现在第一行(在 “と申します” 之前)。从更新名称的角度来说，这个区别对于语义没有任何意义，因此名称更新代码并不需要了解这些细节。
</p>

<h2 id="toc-projection">额外福利：高级投射</h2>

<p>
在上面的例子中，<code>&lt;content&gt;</code> 元素挑选了 shadow host 的所有内容。通过使用
<span class="attribute">select</span> 特性，你可以控制 content 元素投射的内容。你也可以使用多个 content 元素。
</p>

<p>
比如说，如果你有一个包含如下内容的文档：
</p>

<pre class="prettyprint">
&lt;div id="nameTag"&gt;
  &lt;div class="first"&gt;Bob&lt;/div&gt;
  &lt;div&gt;B. Love&lt;/div&gt;
  &lt;div class="email"&gt;bob@&lt;/div&gt;
&lt;/div&gt;
</pre>

<p>
shadow root 使用 CSS 选择器来选择特定内容：
</p>

<pre class="prettyprint">
&lt;div style="background: purple; padding: 1em;"&gt;
  &lt;div style="color: red;"&gt;
    &lt;content <b>select=".first"</b>&gt;&lt;/content&gt;
  &lt;/div&gt;
  &lt;div style="color: yellow;"&gt;
    &lt;content <b>select="div"</b>&gt;&lt;/content&gt;
  &lt;/div&gt;
  &lt;div style="color: blue;"&gt;
    &lt;content <b>select=".email"&gt;</b>&lt;/content&gt;
  &lt;/div&gt;
&lt;/div&gt;
</pre>

<p class="notice"><b>注意：</b> <span class="attribute">select</span> 只能选择 host 节点的直接子元素。也就是说，你不能选择后代元素(例如 <code>select="table tr"</code>)。</p>

<p>
<code>&lt;div class="email"&gt;</code> 元素同时被 <code>&lt;content select="div"&gt;</code> 和 <code>&lt;content
select=".email"&gt;</code> 元素所匹配。那 Bob 的电子邮件地址会出现多少次，都是什么颜色？
</p>

<div id="ex4a">

<div id="ex4aNameTag">
  <div class="first">Bob</div>
  <div>B. Love</div>
  <div class="email">bob@</div>
</div>
<template id="ex4aNameTagTemplate">
<div style="background: purple; padding: 1em;">
  <div style="color: red;">
    <content select=".first"></content>
  </div>
  <div style="color: yellow;">
    <content select="div"></content>
  </div>
  <div style="color: blue;">
    <content select=".email"></content>
  </div>
</div>
</template>

</div>

<script>
(function () {
  if (!window.HTMLTemplateElement ||
      !HTMLElement.prototype.webkitCreateShadowRoot) {
    remove('#ex4a');
    document.write('<img src="SS5.png" alt="The rendered result. Bob’s email appears in yellow." id="ex4a">');
    return;
  }
  var shadow = document.querySelector('#ex4aNameTag').webkitCreateShadowRoot();
  var template = document.querySelector('#ex4aNameTagTemplate');
  shadow.appendChild(template.content);
  template.remove();
})();
</script>

<p>
答案是：Bob 的电子邮件地址仅显示一次，并且是黄色的。
</p>

<p>
为什么会这样？那些了解 Shadow DOM 原理的人们都知道，把最终渲染在屏幕上的内容构建成一棵树，就像举办一个盛大的舞会。
<strong>content 元素就是将文档中的内容邀请到 Shadow DOM 渲染舞会的请柬。</strong>
这些请柬按顺序发放；谁能收到邀请取决于请柬的地址(即 <span class="attribute">select</span> 特性。)，
一旦收到邀请，便会接受请柬(有谁不会呢？！)立即动身。如果接下来又有一封请柬发送到该地址，可现在家里没人，这个舞会也就去不了了。
</p>

<p>
在上面的例子中，<code>&lt;div class="email"&gt;</code> 同时匹配 <code>div</code> 选择器和 <code>.email</code> 选择器，但因为含有 <code>div</code> 选择器的 content 元素在文档中的位置靠前，
<code>&lt;div class="email"&gt;</code> 便去了黄色舞会，这样就没人去蓝色舞会了。
</p>

<p>
如果有内容<em>没有</em>被邀请参加任何舞会，那它就不会渲染。第一个例子中的 “Hello, world” 文本便属于这种情况。
这对于当你想彻底修改渲染内容时十分有效：在文档中书写语义模型，它能够被页面中的脚本访问到，但是基于渲染原因必须将它隐藏起来，使用 JavaScript 将它与 Shadow DOM 中的一个完全不同的渲染模型进行关联。
</p>

<p>
举个例子，HTML 有一个不错的日期选择器。如果你写下 <code>&lt;input
type="date"&gt;</code> 你将得到一个简洁的弹出式日历。但如果你想让用户为他们的<i>甜点</i>
岛旅行选择一段日期(你知道吗……岛上有红葡萄藤做的吊床。)，文档表面上是这么写的：
</p>

<pre class="prettyprint">
&lt;div class="dateRangePicker"&gt;
  &lt;label for="start"&gt;Start:&lt;/label&gt;
  &lt;input type="date" name="startDate" id="start"&gt;
  &lt;br&gt;
  &lt;label for="end"&gt;End:&lt;/label&gt;
  &lt;input type="date" name="endDate" id="end"&gt;
&lt;/div&gt;
</pre>

<p>
但实际上会创建一个 Shadow DOM，在里面使用表格生成一个能够高亮日期范围的日历。
当用户点击日历中的日期，组件会更新输入框的起始日期和结束日期；当用户提交表单，两个输入框元素的值就会被提交。
</p>

<p>
你可能会奇怪，为什么我明知道 label 元素不会被渲染还去写它呢？
原因在于如果用户通过一个不支持 Shadow DOM 的浏览器来访问表单，
那么表单还是保证可用的，只是不太漂亮。最终看起来可能是这样的：
</p>

<div class="dateRangePicker">
  <label for="start">Start:</label>
  <input type="date" name="startDate" id="start">
  <br>
  <label for="end">End:</label>
  <input type="date" name="endDate" id="end">
</div>

<h2 id="toc-conclusion">你通过了 Shadow DOM 101</h2>

<p>
这里介绍的是 Shadow DOM 的基础——你通过了 Shadow DOM 101！
你可以使用 Shadow DOM 实现更多事情，比方说在一个 shadow host 内使用多个 shadow DOM，
或是出于封装的缘故来嵌套 shadow DOM，或是使用 Model-Driven Views (MDV) 和 Shadow DOM 来架构页面。
而且 Web 组件可不仅仅包含 Shadow DOM。使用 Web 组件的另一部分：自定义元素，你就可以用声明的方式来设置部件的 Shadow DOM，而不必去写脚本了。
</p>

<p>
我们将在后续文章中解释这些内容。好了，请在<a href="https://plus.google.com/103330502635338602217/posts">Google+ 上关注 Web 组件吧。</a>
</p>

<p class="small-notice">
感谢 <a href="/profiles/#ericbidelman">Eric Bidelman，</a>Darin
Fisher，Dimitri Glazkov，Alex Komoroske，Alex Russell，和 <a href="/profiles/#paulirish">Paul Irish</a> 对本教程早期版本提出的建议。
</p>

{% endblock %}
