{% extends "tutorial.html" %}

{% block headauthor %}Paul Irish{% endblock %}
{% block pageauthor %}{% profilelinks paulirish %}{% endblock %}
{% block credits %}
 * Créditos: * - Paul Irish (autor) * - Stephen Hay (autor)
{% endblock %}

{% block headtitle %}Visão geral do Modelo de box flexível{% endblock %}
{% block pagetitle %}Visão geral do Modelo de box flexível{% endblock %}
{% block pagebreadcrumb %}Dicas sobre o Flexbox{% endblock %}
{% block date %}5 de outubro de 2010{% endblock %}

{% block browsersupport %}
<span class="opera "></span> <span class="ie "></span> <span class="browser safari supported"><span class="browser_name">Safari</span><span class="support">compatível</span></span> <span class="browser ff supported"><span class="browser_name">Firefox</span><span class="support">compatível</span></span> <span class="browser chrome supported"><span class="browser_name">Google Chrome</span><span class="support">compatível</span></span>
{% endblock %}

{% block html5badge %}
<img src="/static/images/identity/html5-badge-h-css3.png" width="133" height="64" alt="Este artigo tem tecnologia de estilo CSS3/HTML5" title="Este artigo tem tecnologia de estilo CSS3/HTML5"  />
{% endblock %}

{% block iscompatible %}
  retornar Modernizr.flexbox;
{% endblock %}

{% block head %}
  <style>
  /* handy helpers from http://infrequently.org/2009/08/css-3-progress/ 
     but i changed box-flex to 1 from 0.. 
  */
  /* hbox and vbox classes */

  .hbox {
    width: 100%;
    
  	display: -webkit-box;
  	-webkit-box-orient: horizontal;
  	-webkit-box-align: stretch;

  	display: -moz-box;
  	-moz-box-orient: horizontal;
  	-moz-box-align: stretch;

  	display: box;
  	box-orient: horizontal;
  	box-align: stretch;
  }

  .hbox > * {
  	-webkit-box-flex: 1;
  	-moz-box-flex: 1;
  	box-flex: 1;
  	display: block;
  }

  .vbox {
  	display: -webkit-box;
  	-webkit-box-orient: vertical;
  	-webkit-box-align: stretch;

  	display: -moz-box;
  	-moz-box-orient: vertical;
  	-moz-box-align: stretch;

  	display: box;
  	box-orient: vertical;
  	box-align: stretch;
  }

  .vbox > * {
  	-webkit-box-flex: 1;
  	-moz-box-flex: 1;
  	box-flex: 1;
  	display: block;
  }

  .spacer {
  	-webkit-box-flex: 1;
  	-moz-box-flex: 1;
  	box-flex: 1;
  }

  .reverse {
  	-webkit-box-direction: reverse;
  	-moz-box-direction: reverse;
  	box-direction: reverse;
  }

  .boxFlex0 {
  	-webkit-box-flex: 0;
  	-moz-box-flex: 0;
  	box-flex: 0;
  }

  .boxFlex1, .boxFlex {
  	-webkit-box-flex: 1;
  	-moz-box-flex: 1;
  	box-flex: 1;
  }

  .boxFlex2 {
  	-webkit-box-flex: 2;
  	-moz-box-flex: 2;
  	box-flex: 2;
  }

  .boxGroup1 {
  	-webkit-box-flex-group: 1;
  	-moz-box-flex-group: 1;
  	box-flex-group: 1;
  }

  .boxGroup2 {
  	-webkit-box-flex-group: 2;
  	-moz-box-flex-group: 2;
  	box-flex-group: 2;
  }

  .start {
  	-webkit-box-pack: start;
  	-moz-box-pack: start;
  	box-pack: start;
  }

  .end {
  	-webkit-box-pack: end;
  	-moz-box-pack: end;
  	box-pack: end;
  }

  .center {
  	-webkit-box-pack: center;
  	-moz-box-pack: center;
  	box-pack: center;
  }
  </style>
{% endblock %}

{% block content %}



<h2 id="toc-intro">Introdução</h2>

<p>Aposto que você já gastou um bom tempo organizando elementos de maneira horizontal ou vertical em uma página. Até agora, no entanto, o <abbr>CSS</abbr> não oferecia um mecanismo adequado para a tarefa. Apresentamos o Modelo de box flexível <abbr>CSS</abbr>3, ou, resumidamente, <i>Flexbox</i>.</p> 

 
<p>Este <a href="http://dev.w3.org/csswg/css3-flexbox/">rascunho</a> descreve o Flexbox como:</p> 
 
<blockquote>[...] um modelo de box <abbr>CSS</abbr> otimizado para design de interfaces. Além disso, ele oferece um sistema adicional de criação de layout além dos já oferecidos no <abbr>CSS</abbr>. [CSS21] Neste novo modelo de boxes, os filhos de um box são organizados horizontal ou verticalmente e o espaço não utilizado pode ser atribuído a um filho específico ou distribuído entre os filhos por atribuição de "flex" aos filhos que devem ser expandidos. O aninhamento desses boxes (horizontal dentro de vertical ou vice-versa) pode ser utilizado para construir layouts em duas dimensões. Este modelo é baseado no modelo de box na linguagem de interface <abbr title="XML User Interface Language">XUL</abbr> utilizada para a interface do usuário de muitos aplicativos baseados no Mozilla (como o Firefox).</blockquote> 
 
<p>Ótimo. Para desenvolvedores, ou melhor, Arquitetos de Layout&trade; como você, isso significa:</p> 
 
<ol> 
    <li>Floats? Para onde vamos, não precisamos de floats. 
    <li>Layouts que costumavam ser desafiadores agora são mais práticos. 
    <li>Podemos criar layouts flexíveis e o navegador fará os cálculos por nós. 
</ol> 
 <!--
<p>Basically, Flexbox is a small part of <abbr>XUL</abbr> ported to <abbr>CSS</abbr>. Cool as it may be, I remain of the opinion that the power of Flexbox is in the layout of things like UI components (think forms and toolbars and such) rather than in general page layout. So let&#8217;s not get carried away and make Flexbox the new float. For general page layout, we need a true grid-based model; I&#8217;ll come back to that in the near future. For now, let&#8217;s dive in.</p> 
 -->
<p>O Flexbox fornece um novo valor para a propriedade <code>display</code> (o valor <i>box</i>) e oito novas propriedades:</p> 
 
<ul>    
  <li><code>box-orient </code></li>

  <li><code>box-pack</code> <!-- horiz --></li>
  <li><code>box-align </code><!-- vert --></li>

  <li><code>box-flex </code></li>
  <li><code>box-flex-group </code></li>
  <li><code>box-ordinal-group </code></li>

  <li><code>box-direction </code></li>
  <li><code>box-lines </code></li>
</ul> 

Oito novas propriedades? É muita coisa, não? Tudo bem, vamos por partes.

<h2 id="toc-common">Propriedades comuns de estilo em flexbox</h2>

<h4>Estilos utilizados no box</h4>

<dl>
  <dt><code>display: box</code></dt>
  <dd>Este novo valor para estilo de display configura este elemento e seus filhos imediatos no modelo de box flexível. O modelo flexbox só funciona com filhos imediatos.</dd>
  
  <dt><code>box-orient</code></td>
  <dd>Valores: <b><code>horizontal</code></b> | <code>vertical</code> | <code>inherit</code></dd>
  <dd>Como os filhos de um box devem ser alinhados? Existem dois valores adicionais <code>inline-axis</code> (o padrão real) e <code>block-axis</code>, que mapeiam como horizontal e vertical, respectivamente.</dd>
  
  <dt><code>box-pack</code></td>
  <dd>Valores: <b><code>start</code> </b>| <code>end</code> | <code>center</code> | <code>justify</code></dd>
  <dd>Determina o alinhamento do box ao longo do eixo de <code>box-orient</code>. Então, se <code>box-orient</code> for horizontal, determinará como os filhos do box serão alinhados horizontalmente e vice-versa.</small></dd>
  
  <dt><code>box-align</code></td>
  <dd>Valores: <code>start</code> | <code>end</code> | <code>center</code> | <code>baseline</code> | <b><code>stretch</code></b></dd>
  <dd>Basicamente, a propriedade irmã de <code>box-pack</code>. Determina como os filhos do box serão alinhados no box. Se a orientação for horizontal, determinará o alinhamento como vertical e vice-versa.</small></dd>

</dl>  

<h4>Estilos utilizados nos filhos do box</h4>  

<dl>

  <dt><code>box-flex</code></td>
  <dd>Valores: <b><code>0</code></b> | <i>Qualquer número inteiro</i></dd>
  <dd>A razão de flexibilidade para este filho.
Se um filho tiver <code>1</code> e outro filho <code>2</code>, qualquer espaço adicional no box que originou esses dois será consumido em dobro pelo segundo filho. O padrão é <code>0</code>, que é inflexível. </dd>

</dl>

<p>As propriedades <code>box-flex-group</code>, <code>box-ordinal-group</code>, <code>box-direction</code> e <code>box-lines</code> foram deixadas de fora das descrições acima porque não costumam ser necessárias na maior parte dos trabalhos com flexbox. Acesse os links no <a href="#toc-summary">resumo</a> para ver essas propriedades em uso.</p>

<p>Uma observação sobre a sintaxe: as implementações atuais de flexbox em WebKit e Gecko requerem o uso de prefixos de fornecedor. Esses casos não foram incluídos neste tutorial para manter a clareza. Para obter mais detalhes, leia a seção <a href="#toc-support">suporte a navegadores</a>.</p>

<h2 id="toc-flexibility">O que é flexibilidade?</h2>

A propriedade de estilo <code>box-flex</code> define se um filho de flexbox deve ser flexível ou não e ajuda a definir a razão de flexibilidade em relação a outros filhos. Vamos demonstrar o que isso quer dizer. Primeiro, começamos com três boxes. 

<pre class="prettyprint">&lt;div id="flexbox">
  &lt;p>child 1&lt;/p>
  &lt;p>child 2&lt;/p>
  &lt;p>child 3&lt;/p>
&lt;/div>
</pre> 
 
<p>Agora, vamos organizá-los horizontalmente lado a lado. Os valores de altura desses boxes devem sempre ser correspondentes, independentemente do conteúdo. Qual a melhor forma de abordar isso? A maioria das pessoas imediatamente deixaria esses parágrafos em float, talvez adicionando <code>overflow:hidden;</code> ao box pai para limpar os floats. Nada muito especial. Isso também pode ser feito facilmente com flexbox:</p> 
 
<pre class="prettyprint">#flexbox { 
  display: box;
  box-orient: horizontal;
}
</pre> 
 
<p>No código acima, simplesmente dizemos ao box pai para comportar-se conforme este modelo de flexbox e dispor todos os filhos ao longo do eixo horizontal. Sem floats. Isso aí.</p> 

<p>A largura dos filhos permanece como especificada (ou sua largura inerente, caso não seja especificada). Isso significa que, se a largura total de todos os filhos for menor que a largura total do pai, teremos algo assim:</p> 
 
<figure><img src="flex01.gif" alt="três elementos filhos que mantenham suas larguras inerentes dentro do elemento pai" title="flex01" width="475" height="297"   /></figure> 
 
<p>Por padrão, filhos de um flexbox mantêm-se inflexíveis. Isso pode soar um pouco estranho, mas permite que os filhos optem por uma experiência flexível. E se você quiser que os filhos um e dois tenham larguras específicas e o filho três se ajuste conforme o espaço disponível no pai? Flexbox vem ao resgate:</p> 
 
<pre class="prettyprint">#flexbox { 
  display: box;
  box-orient: horizontal;
}
#flexbox > p:nth-child(3) {
  box-flex: 1;
}
</pre> 
 
<p>Aqui, dizemos ao último filho que se torne flexível e ocupe o espaço disponível. Já que alocamos espaço apenas para um elemento, ele ocupará <i>todo</i> o espaço disponível:</p> 
 
<figure><img src="flex02.gif" alt="O terceiro elemento filho, configurado como flexbox, ocupa todo o espaço disponível." width="475" height="297"  /></figure> 
 
<p>O elemento só passa a ser flexível ao longo do eixo de orientação do box. Nesse caso, o elemento torna-se flexível somente na horizontal.</p> 
 
<p>O valor do box-flex é relativo. Para fazer com que o segundo e o terceiro filhos sejam flexíveis:</p> 
 
<pre class="prettyprint">#flexbox { 
  display: box;
  box-orient: horizontal;
}
#flexbox > p:nth-child(2),
#flexbox > p:nth-child(3) {
  box-flex: 1;
}
</pre>
 
<p>Eles tomariam a mesma quantidade de espaço disponível, dividindo-o igualmente entre si.</p> 
 
<figure><img src="flex03.gif" alt="dois entre os três elementos filho compartilham o espaço disponível no elemento pai."  width="475" height="297"   /></figure> 

Agora podemos também testar diferentes configurações de <code>box-flex</code> dos filhos 1, 2 e 3 para que sejam respectivamente<code>1</code>, <code>2</code>, <code>3</code> e absorvam o espaço extra do box pai nessa proporção. Mas, em vez disso, vamos testar na prática.

<h2 id="toc-basic">Um exemplo básico</h2>
{% if is_mobile %}
<style>
.box {
  width: 350px;
  height: 95px;
  font-size: 14px;
  border: 1px solid #555;

  display: -webkit-box;
  -webkit-box-orient: horizontal;

  display: -moz-box;
  -moz-box-orient: horizontal;

  display: box;
  box-orient: horizontal;
}

.box > div {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;

   -moz-transition: width 0.7s ease-out;  
     -o-transition: width 0.7s ease-out;  
-webkit-transition: width 0.7s ease-out;  
        transition: width 0.7s ease-out;
}

.box > div:nth-child(1){ background : #FCC;}
.box > div:nth-child(2){ background : #CFC;}
.box > div:nth-child(3){ background : #CCF;}
 
.box > div:hover { 
  width: 200px;
}
</style>

<p>Passe o cursor do mouse sobre um dos boxes abaixo para ver o box flexível em ação:</p>
<div class="box">
  <div>un</div>
  <div>deux</div>
  <div>trois</div>
</div>
<p>Ao passar o cursor, o alvo se expande e os boxes restantes diminuem em tamanho, mas a largura total é sempre exatamente igual ao tamanho do box pai. </p>

<p>O código para que isso aconteça é o seguinte:</p>

<div class="hbox">
  <pre class="prettyprint">
    
    
&lt;div class="box">
  &lt;div>un&lt;/div>
  &lt;div>deux&lt;/div>
  &lt;div>trois&lt;/div>
&lt;/div>
  </pre>
  <div clas=spacer></div>
  <pre class="prettyprint">
.box {
  /* basic styling */
  width: 350px; height: 95px; font-size: 14px; 
  border: 1px solid #555;

  /* flexbox setup */
  display: box;
  box-orient: horizontal;
}

.box > div {
  box-flex: 1;
  transition: width 0.7s ease-out;
}

/* our colors */
.box > div:nth-child(1){ background : #FCC; }
.box > div:nth-child(2){ background : #CFC; }
.box > div:nth-child(3){ background : #CCF; }

.box > div:hover { 
  width: 200px;
}
  </pre>
</div>
{% else %}
<p>Veja o código e o resultado abaixo:</p>

<p>Passe o cursor do mouse sobre um dos boxes abaixo para ver o box flexível em ação: Ao passar o cursor, o alvo se expande e os boxes restantes diminuem em tamanho, mas a largura total é sempre exatamente igual ao tamanho do box pai. </p>

<iframe src="http://playground.html5rocks.com/?mode=frame&hu=230&hl=150#flexible_box_model:_basic_example" style="border: none; width: 100%; height: 500px;"></iframe>
{% endif %}

<p>Apenas dois estilos estão em jogo aqui: o <code>display: box</code> põe os elementos no modo flexbox e o <code>box-flex: 1</code> nos filhos os faz operar no modo flexível, tomando todo o espaço extra disponível. A orientação padrão é horizontal, então o comando <code>box-orient: horizontal</code> não é realmente necessário. No entanto, é bom incluí-lo para manter a clareza e facilidade de manutenção. O valor padrão de <code>box-align</code> é a extensão e é por isso que estas divs ocupam integralmente a altura do box pai. Nada mal, hein? Você pode ver esta técnica usada em navegação nesta <a href="http://www.ie7nomore.com/fun/flexiblenav/">demonstração do flexiblenav por Raphael Goetter</a>.</p> 

<p>Vamos elaborar mais um pouco.</p>




<h2 id="toc-center">Centro das atenções: posicionamento no centro</h2>

<p>Centralizar algo horizontal ou verticalmente sempre foi um desafio no CSS. A melhor solução exclusiva para CSS que temos é <code>position:absolute; left: 50%; top: 50%;</code> aliada a margens negativas superiores e da esquerda que somam metade da largura/altura. Isso funciona somente com elementos de tamanhos especificados. Ai!

<p style="background-color: hsl(50, 84%, 91%)">James John Malcom escreveu para contar que existe uma forma, baseada em <code>display:table-cell;</code> que existe há, no mínimo, seis anos (Dušan Janovský escreveu sobre isso em 2004), para fazer o alinhamento vertical. <a href="http://james.gameover.com/index.php/2009/vertically-centring-in-css-without-hacks-and-multi-line-enabled/">James documentou aqui a solução horizontal e vertical completa</a>. Funciona até mesmo com elementos sem tamanho expresso.


<p> Com o flexbox, isso fica um pouco mais fácil:</p>

{% if is_mobile %}
<style>
.centerbox {
  width: 350px;
  height: 95px;
  font-size: 14px;
  border: 1px solid #555;
  background : #CFC;
    
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
 
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;
  
  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
}

</style>

<div class="centerbox">
  <textarea>mude meu tamanho</textarea>
</div>

<p>E a fonte:</p>

<div class="hbox">
  <pre class="prettyprint">
    
    
&lt;div class="centerbox">
  &lt;div>center me, please&lt;/div>
&lt;/div>
  </pre>
  <div clas=spacer></div>
  <pre class="prettyprint">
.centerbox {
  /* basic styling */
  width: 350px; height: 95px; background : #CFC;
  font-size: 14px; border: 1px solid #555;

  /* flexbox, por favor */
  display: box;
  /* this could be vertical, too */
  box-orient: horizontal; 
  /* these centers do the hard work */
  box-pack: center;
  box-align: center;
}
  </pre>
</div>

{% else %}

<iframe src="http://playground.html5rocks.com/?mode=frame&hu=180&hl=150#flexible_box_model:_center_stage" style="border: none; width: 100%; height: 450px;"></iframe>

{% endif %}
 
<p>Não configuramos <code>box-flex</code> no filho porque não queremos que ele utilize espaço extra. Só queremos que ele fique no centro, independentemente de seu tamanho. A grande vantagem é esta: não precisamos de dimensões especificadas para centralizá-lo. Poderíamos fazer isso com algo que seja tipicamente bloco ou in-line. Simplesmente funciona.</p> 
 
 
 
<h2 id="toc-support">Suporte a navegadores</h2> 
 

<p>Você pode usar o modelo de box flexível em seu trabalho atualmente? Ainda não, se você deseja compatibilidade com todos os navegadores. Até agora, não vimos o flexbox no IE9 ou no Opera 10.60, mas ele já está presente em um preview da Plataforma IE9, então é provável que a Microsoft o adicione em algum momento.</p>

<p>O <a href="http://caniuse.com/#feat=flexbox">Caniuse.com oferece o status atual de compatibilidade com navegadores</a>, que hoje inclui basicamente Firefox 3+, Safari 3+ e Google Chrome. Para desenvolvimento móvel com webkit, o flexbox é uma ótima alternativa para seus esquemas de layout padrão.</p>

<p>Como isso ainda está em fase experimental, prefixos de fornecedor são as melhores opções:</p>

<div class="hbox">
  <pre class="prettyprint">
/* i wish it was as easy as this: */

display: box;
box-orient: horizontal; 
box-pack: center;
box-align: center;
  </pre>
  <pre class="prettyprint">
/* but in reality you'll need to do this: */

display: -webkit-box;
-webkit-box-orient: horizontal;
-webkit-box-pack: center;
-webkit-box-align: center;

display: -moz-box;
-moz-box-orient: horizontal;
-moz-box-pack: center;
-moz-box-align: center;

display: box;
box-orient: horizontal;
box-pack: center;
box-align: center;
  </pre>
</div>

<p>Se isso parece exigir muita digitação, veja <a href="http://infrequently.org/2009/08/css-3-progress/">todas estas opções resumidas por Alex Russell em algumas classes auxiliares úteis</a> (link em inglês).</p>
 

<h2 id="toc-summary">Resumo</h2>

<p>Mesmo sem considerar as outras quatro propriedades, já dispomos de muitas opções. Para conhecer mais sobre o flexbox, veja <a href="http://blog.isotoma.com/2010/08/css3-flexbox/">as demonstrações do flexbox da Isotoma</a> e as <a href="http://hacks.mozilla.org/2010/04/the-css-3-flexible-box-model/">postagens do Mozilla Hacks sobre flexbox</a> (links em inglês). As <a href="http://dev.w3.org/csswg/css3-flexbox/">especificações do Flexbox pelo W3C</a> (link em inglês) oferecem ainda mais detalhes para os que ousam desbravar seus densos textos. Vá em frente e construa alguns layouts. Aproveite!</p> 

<footer><small>Partes do tutorial foram baseadas em um guia de <a href="http://www.the-haystack.com/">Stephen Hay</a>, que concordou em licenciar seu trabalho via Creative Commons.</small></footer>

{% endblock %}