{% extends "tutorial.html" %}

{% block headauthor %}Paul Irish{% endblock %}
{% block pageauthor %}{% profilelinks paulirish %}{% endblock %}
{% block credits %}
 * クレジット: * - Paul Irish（著者）* - Stephen Hay（著者）
{% endblock %}

{% block headtitle %}フレキシブル ボックス モデルを使ってみる{% endblock %}
{% block pagetitle %}フレキシブル ボックス モデルを使ってみる{% endblock %}
{% block pagebreadcrumb %}フレキシブル ボックス モデルを使ってみる{% endblock %}
{% block date %}2010 年 10 月 5 日{% endblock %}

{% block browsersupport %}
<span class="opera "></span> <span class="ie "></span> <span class="browser safari supported"><span class="browser_name">Safari</span><span class="support">サポート済み</span></span> <span class="browser ff supported"><span class="browser_name">Firefox</span><span class="support">サポート済み</span></span> <span class="browser chrome supported"><span class="browser_name">Chrome</span><span class="support">サポート済み</span></span>
{% endblock %}

{% block html5badge %}
<img src="/static/images/identity/html5-badge-h-css3.png" width="133" height="64" alt="この記事は HTML5 CSS3/Styling を利用しています" title="この記事は HTML5 CSS3/Styling を利用しています"  />
{% endblock %}

{% block iscompatible %}
  return Modernizr.flexbox;
{% endblock %}

{% block head %}
  <style>
  /* handy helpers from http://infrequently.org/2009/08/css-3-progress/ 
     but i changed box-flex to 1 from 0.. 
  */
  /* hbox and vbox classes */

  .hbox {
    width: 100%;
    
  	display: -webkit-box;
  	-webkit-box-orient: horizontal;
  	-webkit-box-align: stretch;

  	display: -moz-box;
  	-moz-box-orient: horizontal;
  	-moz-box-align: stretch;

  	display: box;
  	box-orient: horizontal;
  	box-align: stretch;
  }

  .hbox > * {
  	-webkit-box-flex: 1;
  	-moz-box-flex: 1;
  	box-flex: 1;
  	display: block;
  }

  .vbox {
  	display: -webkit-box;
  	-webkit-box-orient: vertical;
  	-webkit-box-align: stretch;

  	display: -moz-box;
  	-moz-box-orient: vertical;
  	-moz-box-align: stretch;

  	display: box;
  	box-orient: vertical;
  	box-align: stretch;
  }

  .vbox > * {
  	-webkit-box-flex: 1;
  	-moz-box-flex: 1;
  	box-flex: 1;
  	display: block;
  }

  .spacer {
  	-webkit-box-flex: 1;
  	-moz-box-flex: 1;
  	box-flex: 1;
  }

  .reverse {
  	-webkit-box-direction: reverse;
  	-moz-box-direction: reverse;
  	box-direction: reverse;
  }

  .boxFlex0 {
  	-webkit-box-flex: 0;
  	-moz-box-flex: 0;
  	box-flex: 0;
  }

  .boxFlex1, .boxFlex {
  	-webkit-box-flex: 1;
  	-moz-box-flex: 1;
  	box-flex: 1;
  }

  .boxFlex2 {
  	-webkit-box-flex: 2;
  	-moz-box-flex: 2;
  	box-flex: 2;
  }

  .boxGroup1 {
  	-webkit-box-flex-group: 1;
  	-moz-box-flex-group: 1;
  	box-flex-group: 1;
  }

  .boxGroup2 {
  	-webkit-box-flex-group: 2;
  	-moz-box-flex-group: 2;
  	box-flex-group: 2;
  }

  .start {
  	-webkit-box-pack: start;
  	-moz-box-pack: start;
  	box-pack: start;
  }

  .end {
  	-webkit-box-pack: end;
  	-moz-box-pack: end;
  	box-pack: end;
  }

  .center {
  	-webkit-box-pack: center;
  	-moz-box-pack: center;
  	box-pack: center;
  }
  </style>
{% endblock %}

{% block content %}



<h2 id="toc-intro">はじめに</h2>

<p>スタイリング要素をページ上で水平や垂直に配列することはよくありますが、これまで、 <abbr>CSS</abbr>  ではこの処理に適した機能が不足していました。そこで、 <abbr>CSS</abbr> 3 でフレキシブル ボックス モジュール（略して「フレックスボックス」）が導入されました。<i></i></p> 

 
<p><a href="http://dev.w3.org/csswg/css3-flexbox/">草案</a>では、フレックスボックスを次のように説明しています（以下、リンク先はすべて英語）。</p> 
 
<blockquote>[...] インターフェース設計用に最適化された  <abbr>CSS</abbr>  のボックス モデル。 <abbr>CSS</abbr> の既存のボックス モデルに基づいて、追加のレイアウト システムを提供します。[CSS21] この新しいボックス モデルでは、ボックスの子を水平または垂直にレイアウトできます。拡張すべき子に「flex」を指定すると、使用されていないスペースを特定の子に割り当てたり、複数の子に分配したりできます。これらのボックスの入れ子（垂直の中に水平、水平の中に垂直）を使用して 2 次元のレイアウトを作成できます。このモデルは、多くの Mozilla ベースのアプリケーション（Firefox など）のユーザー インターフェースで使用されている、 <abbr title="XML User Interface Language">XUL</abbr>  ユーザー インターフェース言語のボックス モデルに基づいています。</blockquote> 
 
<p>すばらしい機能ですね。開発者や Layout Architect&trade; にとっては次のようなメリットがあります。</p> 
 
<ol> 
    <li>今後はフロートの配置が不要になる可能性があります。 
    <li>これまで難しかったレイアウトを実現しやすくなりました。
    <li>非常にフレキシブルなレイアウトを作成可能で、ブラウザが代わりに計算してくれます。 
</ol> 
 <!--
<p>Basically, Flexbox is a small part of <abbr>XUL</abbr> ported to <abbr>CSS</abbr>. Cool as it may be, I remain of the opinion that the power of Flexbox is in the layout of things like UI components (think forms and toolbars and such) rather than in general page layout. So let&#8217;s not get carried away and make Flexbox the new float. For general page layout, we need a true grid-based model; I&#8217;ll come back to that in the near future. For now, let&#8217;s dive in.</p> 
 -->
<p>フレックスボックスには <code>display</code> プロパティの新しい値（<i>box</i> 値）と 8 つの新しいプロパティがあります。</p> 
 
<ul>    
  <li><code>box-orient </code></li>

  <li><code>box-pack</code> <!-- horiz --></li>
  <li><code>box-align </code><!-- vert --></li>

  <li><code>box-flex </code></li>
  <li><code>box-flex-group </code></li>
  <li><code>box-ordinal-group </code></li>

  <li><code>box-direction </code></li>
  <li><code>box-lines </code></li>
</ul> 

新しいプロパティが 8 つもあるので、少し多いと思われたでしょうか。それでは、詳しく見てみましょう。

<h2 id="toc-common">フレックスボックスの一般的なスタイル プロパティ</h2>

<h4>ボックスで使用されるスタイル</h4>

<dl>
  <dt><code>display: box</code></dt>
  <dd>display スタイル プロパティにこの新しい値を指定すると、要素とその直接の子がフレキシブル ボックス モデルになります。フレックスボックス モデルは直接の子のみに使用できます。</dd>
  
  <dt><code>box-orient</code></td>
  <dd>値: <b><code>horizontal</code></b> | <code>vertical</code> | <code>inherit</code></dd>
  <dd>ボックスの子の配置方法です。2 つの追加の値 <code>inline-axis</code>（実際のデフォルト）と <code>block-axis</code> がありますが、それぞれ horizontal と vertical にマッピングされます。</dd>
  
  <dt><code>box-pack</code></td>
  <dd>値: <b><code>start</code> </b>| <code>end</code> | <code>center</code> | <code>justify</code></dd>
  <dd><code>box-orient</code> の軸に沿ったボックスの配置を設定します。たとえば、<code>box-orient</code> が horizontal の場合は、ボックスの子が水平に配列されます。</small></dd>
  
  <dt><code>box-align</code></td>
  <dd>値: <code>start</code> | <code>end</code> | <code>center</code> | <code>baseline</code> | <b><code>stretch</code></b></dd>
  <dd>基本的には、<code>box-pack</code> の兄弟プロパティです。ボックス内でのボックスの子の配置方法を設定します。たとえば、方向が水平（horizontal）の場合は、水平に配置されます。</small></dd>

</dl>  

<h4>ボックスの子で使用されるスタイル</h4>  

<dl>

  <dt><code>box-flex</code></td>
  <dd>値: <b><code>0</code></b> | <i>任意の整数</i></dd>
  <dd>子のフレキシビリティ（柔軟性）の比率です。子に <code>1</code>、その兄弟に <code>2</code> を指定した場合、親ボックス内の余分なスペースは 1 対 2 で分配されます（兄弟のスペースの方が 2 倍になります）。デフォルトは <code>0</code>（フレキシブルなし）です。 </dd>

</dl>

<p><code>box-flex-group</code>、<code>box-ordinal-group</code>、<code>box-direction</code>、<code>box-lines</code> は実際のところ、フレックスボックスの処理にあまり必要ないため、ここでは説明を省略しました。これらのプロパティについて詳しくは、<a href="#toc-summary">まとめ</a>にあるリンクをご覧ください。</p>

<p>構文に関する注意事項: WebKit や Gecko でフレックスボックスの現在の実装を使用するには、ベンダー プレフィックスを付ける必要があります。このチュートリアルでは、わかりやすくするため、ベンダー プレフィックスをほぼ省略しています。詳しくは、<a href="#toc-support">ブラウザのサポート</a>をご覧ください。</p>

<h2 id="toc-flexibility">フレキシビリティとは</h2>

<code>box-flex</code> スタイル プロパティでは、フレックスボックスの子をフレキシブルにするかどうかを定義し、兄弟に対して相対的なフレキシビリティの比率を指定できます。それでは、実際の例を見てみましょう。まず、3 つのボックスから始めます。 

<pre class="prettyprint">&lt;div id="flexbox">
  &lt;p>child 1&lt;/p>
  &lt;p>child 2&lt;/p>
  &lt;p>child 3&lt;/p>
&lt;/div>
</pre> 
 
<p>3 つのボックスを順々に水平にレイアウトし、高さはそれぞれのコンテンツに関係なく常に同じにするとします。これまではどのように処理していたでしょうか。おそらく、ほとんどの場合は、これらのパラグラフにフロート（float）を使用し、フロートをクリアするために親ボックスに <code>overflow:hidden;</code> を追加していたのではないでしょうか。それが普通の方法でした。しかし、フレックスボックスを使うと、同じレイアウトを簡単に行えるようになります。</p> 
 
<pre class="prettyprint">#flexbox { 
  display: box;
  box-orient: horizontal;
}
</pre> 
 
<p>上記のコードでは、フレックスボックス モデルに従い、すべての子を水平軸に沿って配列するように親に指示しただけです。フロートは使用していません。</p> 

<p>子の幅は指定されたとおりになります（指定されていない場合は、それぞれの固有の幅になります）。つまり、すべての子の幅の合計は親の全体幅より小さくなり、次のようなレイアウトになります。</p> 
 
<figure><img src="flex01.gif" alt="親要素内で 3 つの子要素は固有の幅を維持している" title="flex01" width="475" height="297"   /></figure> 
 
<p>デフォルトでは、フレックスボックスの子はフレキシブルではありません。意外に感じるかもしれませんが、フレキシブルにするかどうか選択する余地があるということです。では、子 1 と子 2 は特定の幅にして、子 3 は親の空いているスペースに応じて自動調整する場合は、どうすればよいでしょうか。ここで、フレックスボックスが本領を発揮します。</p> 
 
<pre class="prettyprint">#flexbox { 
  display: box;
  box-orient: horizontal;
}
#flexbox > p:nth-child(3) {
  box-flex: 1;
}
</pre> 
 
<p>ここでは、子 3 をフレキシブルに設定し、空いているスペースを占めるように指示しています。1 つの要素にのみスペースを割り当てたので、その要素が空いているスペースを「すべて」占めることになります。<i></i></p> 
 
<figure><img src="flex02.gif" alt="3 番目の子要素がフレキシブルになり、空いているスペースを占める" width="475" height="297"  /></figure> 
 
<p>ボックスの方向軸のみに沿ってフレキシブルになる点に注目してください。この場合、要素は水平にフレキシブルになっています。</p> 
 
<p>box-flex の値は相対的です。そのため、子 2 と子 3 をフレキシブルにする場合は、次のようになります。</p> 
 
<pre class="prettyprint">#flexbox { 
  display: box;
  box-orient: horizontal;
}
#flexbox > p:nth-child(2),
#flexbox > p:nth-child(3) {
  box-flex: 1;
}
</pre>
 
<p>2 つの子は空いているスペースを同じ量だけ占めることになります。つまり、空いているスペースが両者の間で等しく分割されます。</p> 
 
<figure><img src="flex03.gif" alt="2 番目と 3 番目の子要素が親要素の空いているスペースを共有する"  width="475" height="297"   /></figure> 

また、子 1、2、3 の <code>box-flex</code> をそれぞれ <code>1</code>、<code>2</code>、<code>3</code> に設定して、親の空いているスペースがその比率で分配される様子を確かめることもできますが、その代わりに、次の例を見てみましょう。

<h2 id="toc-basic">基本的な例</h2>
{% if is_mobile %}
<style>
.box {
  width: 350px;
  height: 95px;
  font-size: 14px;
  border: 1px solid #555;

  display: -webkit-box;
  -webkit-box-orient: horizontal;

  display: -moz-box;
  -moz-box-orient: horizontal;

  display: box;
  box-orient: horizontal;
}

.box > div {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;

   -moz-transition: width 0.7s ease-out;  
     -o-transition: width 0.7s ease-out;  
-webkit-transition: width 0.7s ease-out;  
        transition: width 0.7s ease-out;
}

.box > div:nth-child(1){ background : #FCC;}
.box > div:nth-child(2){ background : #CFC;}
.box > div:nth-child(3){ background : #CCF;}
 
.box > div:hover { 
  width: 200px;
}
</style>

<p>下のボックスのいずれかにカーソルを置いて、フレキシブル ボックスの動きを確認してください。</p>
<div class="box">
  <div>1</div>
  <div>2</div>
  <div>3</div>
</div>
<p>カーソルを置くとそのボックスが拡張して、他のボックスのサイズが小さくなりますが、全体の幅は親ボックスのサイズと常に一致しています。</p>

<p>この動作をもたらすコードは次のとおりです。</p>

<div class="hbox">
  <pre class="prettyprint">
    
    
&lt;div class="box">
  &lt;div>un&lt;/div>
  &lt;div>deux&lt;/div>
  &lt;div>trois&lt;/div>
&lt;/div>
  </pre>
  <div clas=spacer></div>
  <pre class="prettyprint">
.box {
  /* basic styling */
  width: 350px; height: 95px; font-size: 14px; 
  border: 1px solid #555;

  /* flexbox setup */
  display: box;
  box-orient: horizontal;
}

.box > div {
  box-flex: 1;
  transition: width 0.7s ease-out;
}

/* our colors */
.box > div:nth-child(1){ background : #FCC; }
.box > div:nth-child(2){ background : #CFC; }
.box > div:nth-child(3){ background : #CCF; }

.box > div:hover { 
  width: 200px;
}
  </pre>
</div>
{% else %}
<p>コードを調べて、下の結果を見てみましょう。</p>

<p>ボックスのいずれかにカーソルを置いて、フレキシブル ボックスの動きを確認してください。カーソルを置くとそのボックスが拡張して、他のボックスのサイズが小さくなりますが、全体の幅は親ボックスのサイズと常に一致しています。</p>

<iframe src="http://playground.html5rocks.com/?mode=frame&hu=230&hl=150#flexible_box_model:_basic_example" style="border: none; width: 100%; height: 500px;"></iframe>
{% endif %}

<p>ここでは実際には 2 つのスタイルしか使っていません。<code>display: box</code> を指定すると要素がフレックスボックス モードになります。子に対して <code>box-flex: 1</code> を指定すると、子がフレキシブル モードで動作し、余分なスペースをすべて占有します。デフォルトの方向は水平なので、実際には <code>box-orient: horizontal</code> は必要ありませんが、指定しておくと明確で管理しやすくなります。デフォルトの <code>box-align</code> は stretch なので、これらの div（子ボックス）が親ボックスの高さ全体を占めています。いかがでしょうか。このテクニックをナビゲーションに活用した例として、Raphael Goetter 氏による<a href="http://www.ie7nomore.com/fun/flexiblenav/">こちらのデモ</a>をご覧いただけます。</p> 

<p>この手法をぜひご利用ください。</p>




<h2 id="toc-center">センター ステージ: 中央配置</h2>

<p>CSS では長い間、要素を水平または垂直に中央配置するのが難しい課題でした。最適で唯一の解決策は、「<code>position:absolute; left: 50%; top: 50%;</code>」と指定し、左と上の余白（margin）にそれぞれ幅と高さの半分に相当する負の値を指定する方法でした。そして、この方法は明示的にサイズを指定した要素にしか使用できません。

<p style="background-color: hsl(50, 84%, 91%)">James John Malcom 氏は <code>display:table-cell;</code> を使って垂直に配置する方法があると知らせてくれましたが、6 年以上前のことになります（Dušan Janovský 氏がこの件について 2004 年に投稿してくれました）。James 氏による水平および垂直の中央配置に関する詳しい解決策については、<a href="http://james.gameover.com/index.php/2009/vertically-centring-in-css-without-hacks-and-multi-line-enabled/">こちら</a>をご覧ください。明示的にサイズを指定した要素がなくても機能する方法です。


<p> フレックスボックスを使えば、簡単に行えるようになります。</p>

{% if is_mobile %}
<style>
.centerbox {
  width: 350px;
  height: 95px;
  font-size: 14px;
  border: 1px solid #555;
  background : #CFC;
    
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
 
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;
  
  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
}

</style>

<div class="centerbox">
  <textarea>サイズ変更してください</textarea>
</div>

<p>ソースは次のようになります。</p>

<div class="hbox">
  <pre class="prettyprint">
    
    
&lt;div class="centerbox">
  &lt;div>center me, please&lt;/div>
&lt;/div>
  </pre>
  <div clas=spacer></div>
  <pre class="prettyprint">
.centerbox {
  /* basic styling */
  width: 350px; height: 95px; background : #CFC;
  font-size: 14px; border: 1px solid #555;

  /* flexbox, por favor */
  display: box;
  /* this could be vertical, too */
  box-orient: horizontal; 
  /* these centers do the hard work */
  box-pack: center;
  box-align: center;
}
  </pre>
</div>

{% else %}

<iframe src="http://playground.html5rocks.com/?mode=frame&hu=180&hl=150#flexible_box_model:_center_stage" style="border: none; width: 100%; height: 450px;"></iframe>

{% endif %}
 
<p>空いているスペースを子に使わせたくないため、子に対して <code>box-flex</code> を設定していません。サイズに関係なく中央に配置するだけです。この方法の大きなメリットは、中央配置するためにサイズを明示的に指定する必要がない点です。一般的なブロックやインラインなどで、この方法を問題なく利用できます。</p> 
 
 
 
<h2 id="toc-support">ブラウザのサポート</h2> 
 

<p>フレキシブル ボックス モデルは今すぐに利用できるのでしょうか。すべてのブラウザを対象とする場合は、まだ難しいと言えます。IE9 や Opera 10.60 にはまだフレックスボックスが導入されていないようですが、確認したのは IE9 プラットフォームのプレビュー版だったため、Microsoft が今後追加する可能性があります。</p>

<p><a href="http://caniuse.com/#feat=flexbox">Caniuse.com では現在のブラウザのサポート状況</a>が報告されており、基本的には、Firefox 3 以上、Safari 3 以上、Chrome でサポートされています。モバイル ウェブキットの開発を行っている場合は、標準のレイアウト方法の代わりとしてフレックスボックスが大変役立ちます。</p>

<p>しかし、まだ試験的な段階のため、ベンダー プレフィックスを付けるようおすすめします。</p>

<div class="hbox">
  <pre class="prettyprint">
/* i wish it was as easy as this: */

display: box;
box-orient: horizontal; 
box-pack: center;
box-align: center;
  </pre>
  <pre class="prettyprint">
/* but in reality you'll need to do this: */

display: -webkit-box;
-webkit-box-orient: horizontal;
-webkit-box-pack: center;
-webkit-box-align: center;

display: -moz-box;
-moz-box-orient: horizontal;
-moz-box-pack: center;
-moz-box-align: center;

display: box;
box-orient: horizontal;
box-pack: center;
box-align: center;
  </pre>
</div>

<p>入力が大変だと思われた場合は、Alex Russell 氏が<a href="http://infrequently.org/2009/08/css-3-progress/">これらのオプションをすべて抽出した便利なヘルパー クラス</a>を作成してくれましたので、ご利用ください。</p>
 

<h2 id="toc-summary">まとめ</h2>

<p>今回は残りの 4 つのプロパティを検討しませんでしたが、それでも可能性が大きく広がりました。フレックスボックスをさらに調べるには、<a href="http://blog.isotoma.com/2010/08/css3-flexbox/">Isotoma のフレックスボックス デモ</a>や、<a href="http://hacks.mozilla.org/2010/04/the-css-3-flexible-box-model/">Mozilla Hacks のフレックスボックスに関する投稿</a>をご覧ください。<a href="http://dev.w3.org/csswg/css3-flexbox/">W3C のフレックスボックス仕様</a>にはさらに詳しく記述されていますので、よろしければご覧ください。すばらしいレイアウトの設計をどうぞお楽しみください。</p> 

<footer><small>このチュートリアルの一部は <a href="http://www.the-haystack.com/">Stephen Hay</a> 氏によるガイドに基づいています。同氏は自著について CC-by のライセンスを許可しています。</small></footer>

{% endblock %}