{% extends "tutorial.html" %}

{% block pagebreadcrumb %}{{ tut.title }}{% endblock %}

{% block head %}
{% endblock %}

{% block iscompatible %}
  //return !!((window.MutationObserver || window.WebKitMutationObserver) &&
{% endblock %}

{% block html5badge %}
<img src="/static/images/identity/html5-badge-h-connectivity-performance.png" width="165" height="64" alt="This article is powered by HTML5 Performance/Integration and Realtime/Connectivity" title="This article is powered by HTML5 Performance/Integration and Realtime/Connectivity" />
{% endblock %}

{% block content %}

