html, body {
	color: #AAA;
	font-size: 14px;
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
	height: 3000px;
	background: #131414;
}

section {
	width: 960px;
	margin: 0 auto;
}

section#content {
	width: 960px;
	overflow: hidden;
	height: 3000px;
	background: #1e2124 url("../../images/parallax-bg.jpg") center 0 no-repeat;
	position: relative;
	z-index: 0;
}

section h1 {
	position: absolute;
	display: block;
	width: 650px;
	height: 70px;
	margin: 0;
	padding: 0;
	background: url("../../images/parallaxing.png") center center no-repeat;
	text-indent: -30000px;
	top: 75px;
	z-index: 1;
	color: #FFF;
}

h2 {
	position: absolute;
	display: block;
	width: 650px;
	height: 43px;
	margin: 0;
	padding: 0;
	background: url("../../images/demosite.png") center center no-repeat;
	text-indent: -30000px;
	top: 160px;
	z-index: 1;
	color: #FFF;
}

h3 {
	font-family: 'Open Sans', Arial;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 30px;
	margin: 0 0 10px 0;
	color: #FFF;
}

p {
	margin: 0 0 1em 0;
	font-size: 14px;
	line-height: 130%;
	text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}

section#part-1 {
	position: absolute;
	top: 470px;
	z-index: 1;
}

section#part-2 {
	position: absolute;
	top: 1440px;
	z-index: 2;
}

section#part-3 {
	position: absolute;
	top: 2180px;
	z-index: 3;
}

header {
	display: block;
	width: 650px;
	margin: 0 auto;
}

.content {
	margin: 0 auto;
	width: 650px;
	vertical-align: top;

	-webkit-column-count: 2;
	-moz-column-count: 2;
	-ms-column-count: 2;
	-o-column-count: 2;
	column-count: 2;

	-webkit-column-gap: 30px;
	-moz-column-gap: 30px;
	-ms-column-gap: 30px;
	-o-column-gap: 30px;
	column-gap: 30px;
}

#blob-1,
#blob-2,
#blob-3,
#blob-4,
#blob-5,
#blob-6,
#blob-7,
#blob-8,
#blob-9 {
	position: absolute;
	display: none;
	z-index: 0;
}

#blob-container {
	position: absolute;
	left: 0;
	top: 0;
	width: 960px;
	height: 3000px;
	overflow: hidden;
}

.force-show {
	display: block !important;
}

aside {
	border-top: 3px solid #FFF;
	border-bottom: 3px solid #FFF;
	background: #00B2B2;
	height: 200px;
	width: 100%;
	z-index: 10;
	position: absolute;
	left: 0;
	font-size: 40px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.8);
	display: none;
}

aside h1 {
	font-family: 'Open Sans';
	text-transform: uppercase;
	color: #FFF;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}
