/* For browsers that do not yet support these elements */
section, article, header, footer, hgroup, figcaption, figure {
  display: block;
}
body {
  color: #222;
  background-color: #ddd;
  font: 14px Arial;
  margin: 0;
  padding: 0;
}
body a {
  color: #3D5C9D;
  text-decoration: none;
}
#wrap {
  margin: 0;
  padding: 0;
}
#content {
  background-color: #fff;
  /*width: 73.074em;*/
  max-width: 750px;
  margin: 0 auto;
  padding: 0 40px;
  -webkit-box-shadow: #ccc 4px 0px 10px, #ccc -4px 0px 10px, #aaa 0px 38px 36px -24px;
  -moz-box-shadow: #ccc 4px 0px 10px, #ccc -4px 0px 10px, #aaa 0px 38px 36px -24px;
  box-shadow: #ccc 4px 0px 10px, #ccc -4px 0px 10px, #aaa 0px 38px 36px -24px;
}
#content article figure img {
  max-width: 100%;
}
#content article dd {
  margin-left: 15px;
}
header {
  border-bottom: 2px solid #222;
  overflow: hidden;
  padding-top: 7px;
}
article header {
  border: none;
}
figure {
  text-align: center;
  padding: 10px;
}
figcaption {
  font-size: 90%;
  font-style: italic;
  text-align: center;
  margin-top: 5px;
}
#title {
  font-size: 50px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  float: left;
  letter-spacing: -0.09em;
}
#title a {
  color: inherit;
  text-decoration: none;
  outline: none;
}
#title img {
  width: 45px;
  height: 45px;
  position: relative;
  top: 5px;
  left: 1px;
}
#title .rocks {
  color: #3D5C9D;
  margin-left: -2px;
}
#cse-search-box {
  float: right;
  opacity: 0.5;
  -webkit-transition: opacity 0.10s ease-in-out;
  -moz-transition: opacity 0.10s ease-in-out;
  -o-transition: opacity 0.10s ease-in-out;
}
#cse-search-box:hover {
  opacity: 1;
}
#q {
 width: 150px;
 outline: none;
}
header nav {
  float: right;
}
header nav a {
  font-family: 'Droid Sans', Arial, sans-serif;
}
header nav ul {
  padding-left: 0;
  list-style: none;
  margin: 8px 0 5px 0;
}
header nav ul li {
  display: inline;
  margin-left: 10px;
}
a.current {
  color: #000;
  font-weight: bold;
  border-bottom: 2px solid #3D5C9D;
}
.breadcrumb {
  font-size: 90%;
}
.compatible-block {
  padding: 10px 0;
  text-align: center;
}
#notcompatible,
#compatible {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
}
#notcompatible {
  background: #de8b8b;
  color: #fff;
}
#compatible {
  background: #696;
  color: #fff;
}
a.buttonlink {
  text-decoration: none;
  margin-top: 10px;
}
a.buttonlink img {
  vertical-align: -30%;
}
a.buttonlink span {
  text-decoration: underline;
}
a img {
  border: 0;
}
article section h1, article section h2, article section h3 {
  margin: 30px 0 10px 0;
  padding: 0;
}
h1, h2, h3 {
  font-family: 'Droid Sans', Arial, sans-serif;
}
h1 {
  font-size: 195%;
}
h2 {
  font-size: 150%;
}
h3 {
  font-size: 100%;
}
p {
  padding: 0;
  margin: 10px 0;
}
pre {
  padding: 10px 20px;
  background: rgba(255, 0, 0, 0.05);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid rgba(255, 0, 0, 0.2);
}
code {
  font: 13px Monaco, monospace;
  color: #060;
}
script, style {
  white-space: pre;
  font: 10px Monaco, monospace;
  color: #060;
}
b code {
  font: bold 13px Monaco, monospace;
  color: #060;
}
pre code {
  display: block;
  overflow: auto;
  margin: 0;
  padding: 0;
}
em {
  font-weight: bold;
  color: #000;
  font-style: normal;
}
.date {
  font-size: 90%;
  color: #bbb;
  font-style: italic;
  float: left;
}
.date a {
  color: #bbb;
}
.date a:hover {
  text-decoration: underline;
}
.date > div {
  margin-top: 3px;
}
.date time.updated {
  font-size: 90%;
  font-style: italic;
  margin-left: 0.5em;
}
.date time.updated:empty {
  disply: none;
  margin-left: 0;
}
.date time.updated:not(:empty):before {
  content: '( updated: ';
}
.date time.updated:not(:empty):after {
  content: ' )';
}
article header.article_header {
  clear: both;
}
article.sample .tag,
aside > .tag {
  font-size: 75%;
  color: #696;
  padding: 4px;
  text-decoration: underline;
}
article.sample .date {
  padding: 4px 0;
  margin-right: 5px;
}
.hidden {
  display: none;
}
.center {
  text-align: center;
}
.sample_title, .last_p {
  margin-top: 30px;
}
.old {
  color: #696;
}
.new {
  font-weight: bold;
  color: #060;
}
.redirect_notification {
  background: #FF9;
  border: 2px solid #FC0;
  padding: 10px;
  margin-bottom: 1.4em;
}
.browser_support {
  float: left;
  font-size: 90%;
  color: #bbb;
  clear: both;
  margin-top: 10px;
}
.browser_support > span:first-child {
  float: left;
  margin-right: 5px;
}
.browser_logos span {
  float: right;
  height: 17px;
  width: 17px;
  background: transparent url('../images/browser_logos.png') no-repeat left top;
  opacity: 0.25;
  margin-top: -2px;
}
.browser_logos .chrome {
  background-position: left top;
}
.browser_logos .ff {
  background-position: -17px top;
}
.browser_logos .safari {
  background-position: -35px top;
}
.browser_logos .ie {
  background-position: -52px top;
}
.browser_logos .opera {
  background-position: -69px top;
}
.browser_logos .supported {
  opacity: 1;
}
#share_buttons {
  float: right;
}
#share_buttons ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#share_buttons li {
  display: inline-block;
  margin-left: 5px;
  vertical-align: top;
}
#share_buttons li:first-of-type {
  margin-left: 0;
}
#share_buttons a[href="#disqus_thread"] {
  font-size: 80%;
  text-align: right;
  display: block;
}

.footer {
  font-size: 80%;
  color: #bbb;
  padding: 15px 0;
}
.footer a {
  color: #bbb;
}
footer {
  clear: both;
  text-align: left;
  padding: 20px 0 10px 0;
  font-size: 12px; 
  border-top: 2px solid #222;
  display: inline-block;
  width: 100%;
  color: #bbb;
}
footer .footer-badge {
  width: 45px;
  height: 45px;
  margin-right: 5px;
}
.madeby {
  float: right;
  margin-top: -2px;
  text-align: right;
}
.madeby img {
  width: 50px;
  height: 20px;
  vertical-align: middle;
}
.cc {
  font-size: 80%;
  text-align: center;
  margin-top: 20px;
}
b, strong { 
  font-weight: bold;
}
.section-header {
  padding: 15px 0 7px 0;
  margin-top: 0;
  color: #000;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: normal;
}


@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: bold;
  src: local('Droid Sans Bold'), local('DroidSans-Bold'), url('http://themes.googleusercontent.com/font?kit=EFpQQyG9GqCrobXxL-KRMcBaWKZ57bY3RXgXH6dOjZ0') format('truetype');
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Droid Sans'), local('DroidSans'), url('http://themes.googleusercontent.com/font?kit=s-BiyweUPV0v-yRb-cjciMDdSZkkecOE1hvV7ZHvhyU') format('truetype');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: normal;
  src: local('Droid Serif'), local('DroidSerif'), url('http://themes.googleusercontent.com/font?kit=0AKsP294HTD-nvJgucYTaCwlidHJgAgmTjOEEzwu1L8') format('truetype');
}

/* originally from prettify.css */
.str{color:#080}.kwd{color:#008}.com{color:#800}.typ{color:#606}.lit{color:#066}.pun{color:#660}.pln{color:#000}.tag{color:#008;text-decoration:none;font-size: inherit; padding:0;}.atn{color:#606}.atv{color:#080}.dec{color:#606}@media print{.str{color:#060}.kwd{color:#006;font-weight:bold}.com{color:#600;font-style:italic}.typ{color:#404;font-weight:bold}.lit{color:#044}.pun{color:#440}.pln{color:#000}.tag{color:#006;font-weight:bold;}.atn{color:#404}.atv{color:#060}}
/* end prettify */

.tutorials a[href^='http']:not([href*='html5rocks.']), 
.description a[href^='http']:not([href*='html5rocks.']),
.feed-section a[href^='http']:not([href*='html5rocks']),
.info-section a[href^='http']:not([href*='html5rocks.']),
article section a[href^='http']:not([href*='html5rocks']),
a[rel='external'] {
  background: transparent url(data:image/png;base64,R0lGODlhCQAJAIABADNmzP///yH5BAEAAAEALAAAAAAJAAkAAAISDI5niRYPgYNP0pioVdFJVl0FADs=) no-repeat center right;
  padding-right: 14px;
}

#html5badge {
  float: right;
  padding: 10px 0 5px 17px;
  -webkit-box-shadow: 1px 1px 10px #ccc inset;
  -moz-box-shadow: 1px 1px 10px #ccc inset;
  -o-box-shadow: 1px 1px 10px #ccc inset;
  box-shadow: 1px 1px 10px #ccc inset;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}

figcaption samp {
  white-space: nowrap;
}

button {
  display: inline-block;
  background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#F9F9F9), to(#E3E3E3));
  background: -webkit-linear-gradient(#F9F9F9 40%, #E3E3E3 70%);
  background: -moz-linear-gradient(#F9F9F9 40%, #E3E3E3 70%);
  background: -ms-linear-gradient(#F9F9F9 40%, #E3E3E3 70%);
  background: -o-linear-gradient(#F9F9F9 40%, #E3E3E3 70%);
  background: linear-gradient(#F9F9F9 40%, #E3E3E3 70%);
  border: 1px solid #999;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
button:hover {
  border-color: black;
}
button:active {
  background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#E3E3E3), to(#F9F9F9));
  background: -webkit-linear-gradient(#E3E3E3 40%, #F9F9F9 70%);
  background: -moz-linear-gradient(#E3E3E3 40%, #F9F9F9 70%);
  background: -ms-linear-gradient(#E3E3E3 40%, #F9F9F9 70%);
  background: -o-linear-gradient(#E3E3E3 40%, #F9F9F9 70%);
  background: linear-gradient(#E3E3E3 40%, #F9F9F9 70%);
}

@media only screen and (min-width: 641px) and (max-width: 800px) { /*iPad*/
 #title {
   font-size: 50px !important;
   float: left !important;
   margin-right: 10px !important;
 }
 #title img {
   left: 1px !important;
   top: 5px !important;
   height: 45px !important;
   width: 45px !important;
 }
 header > div:first-of-type {
  width: 620px;
 }
 header nav {
   width: auto !important;
   margin-top: 20px !important;
 }
 header nav ul {
   margin-top: 0 !important;
 }
 #cse-search-box {
   margin-top: 17px !important;
 }
 article header > div:first-of-type {
   width: 100%;
 }
}


@media only screen and (max-device-width: 1024px) { /* iPad and smaller */
  #content {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

/* Localized */