
{% extends "tutorial.html" %}
{% load mixin from templatefilters %}

{% block pagebreadcrumb %}{{ tut.title }}{% endblock %}

{% block head %}
{% endblock %}

{% block iscompatible %}
{% endblock %}

{% block html5badge %}
<!-- Your HTML5 badge (tech class icons used in the article) goes here -->
{% endblock %}

{% block share_image %}
<!--<meta itemprop="image" content="images/your_social_sharing_img.png">-->
{% endblock %}


{% block content %}

<!-- Uncomment if this is a bleeding edge feature
  <p>{% include "warning.html" %}</p>
-->
<h2 id="toc-introduction">Introduzione</h2>

<p>L'effetto parallasse nei siti &egrave molto di moda nell'ultimo periodo, basta dare un'occhiata a questi:</p>

<ul>
<li><a href="http://www.rowtothepole.com/">Old Pulteney Row to the Pole</a></li>
<li><a href="http://www.adidas.com/com/apps/snowboarding/">Adidas Snowboarding</a></li>
<li><a href="http://www.bbc.co.uk/news/entertainment-arts-20026367">BBC News - James Bond: Cars, catchphrases and kisses</a></li>
</ul>

<p>Se non li conosci, essi sono siti in cui la struttura visuale della pagina cambia quando viene eseguito lo scroll. Generalmente gli elementi nella pagina vengono scalati, ruotati o mossi in modo proporzionale a tale scroll.</p>

<figure>
  <img src="/static/demos/parallax/parallax.jpg" alt="Una pagina demo" />
  <figcaption>La nostra pagina demo con l'effetto di parallasse completata.</figcaption>
</figure>

<p>Indipendentemente dal fatto che possa piacere o no l'introduzione dell'effetto di parallasse, possiamo dire abbastanza tranquillamente che essi rappresentano un buco nero di performance. La ragione &egrave che i browser tendono ad essere ottimizzati nel caso in cui nuovi contenuti appaiano in cima o in basso allo schermo (in base alla direzione) quando viene eseguito lo scroll e, in termini generali, essi lavorano al meglio quando visivamente non ci sono molti cambiamenti. Per un sito in parallasse questo caso &egrave raro, dal momento in cui molte volte grandi elementi visuali cambiano su tutta la pagina, obbligando il browser a ridisegnarla interamente.

<p>&Egrave possibile schematizzare un sito in parallasse in:</p>

<ul>
<li>Elementi sullo sfondo che, durante lo scroll, cambiano la propria posizione, rotazione e dimensione.</li>
<li>Contenuto della pagina, come ad esempio testo o immagini pi&ugrave piccole, che scrollano nella maniera tipica dall'alto verso il basso.</li>
</ul>


<p>Abbiamo gi&agrave precedentemente trattato le <a href="http://www.html5rocks.com/en/tutorials/speed/scrolling/">performance di scrolling</a> e le tecniche attraverso le quali &egrave possibile migliorare la reattivit&agrave della propria app. Questo articolo &egrave stato scritto su queste basi, quindi potrebbe essere importante leggerle.</p>

<p>Quindi la domanda &egrave: se stai costruendo un sito con scrolling in parallasse sei obbligato ad effettuare dispendiosi ridisegnamenti di pagine o &egrave possibile applicare approcci alternativi cos&igrave da migliorarne le prestazioni? Diamo uno sguardo alle varie opzioni.</p>

<h2 id="toc-option1">Opzione 1: utilizzo di elementi DOM e di posizioni assolute</h2>

<p>Questo risulta essere l'approccio di default utilizzato dalla maggior parte delle persone. C'&egrave un mucchio di elementi nella pagina e, nel caso venga sparato un evento di scroll, vengono effettuati un mucchio di aggiornamenti visuali per trasformarli. Ho creato una <a href="/static/demos/parallax/demo-1a/demo.html">pagina demo</a> in cui viene fatto questo.</p>

<p>Se esegui DevTools Timeline in modalit&agrave frame ed effettui uno scroll, noterai che verranno eseguite dispendiose operazioni di ridisegnamento dell'intera pagina. Aumentando il numero di scroll potrai vedere numerosi eventi all'interno di una singola frame, ciascuno dei quali innescher&agrave del lavoro sul layout.</p>

<figure>
  <img src="/static/demos/parallax/paints.png" alt="Chrome DevTools senza l'evento di scroll debounce." />
  <figcaption>DevTools mostra complessi ridisegnamenti e numerosi layout event-triggered in una frame.</figcaption>
</figure>

<p> La cosa importante da tenere a mente &egrave che per raggiungere i 60fps (corrispondenti al refresh rate di 60Hz di un classico monitor) abbiamo solo 16ms per fare tutto. In questa prima versione bisogna effettuare gli aggiornamenti visuali ogni volta che viene generato un evento di scroll, ma come abbiamo gi&agrave discusso nei precedenti articoli <a href="http://www.html5rocks.com/en/tutorials/speed/animations/">leaner, meaner animations with requestAnimationFrame</a> e <a href="http://www.html5rocks.com/en/tutorials/speed/scrolling/">scrolling performance</a>, questo non coincide con la schedulazione degli aggiornamenti del browser e quindi potremmo sia perdere frame che fare troppo lavoro. Come risultato si ottiene un effetto innaturale sul proprio sito, che porta alla disapprovazione degli utenti e gattini tristi.</p>


<p>Spostiamo il codice di aggiornamento dall'evento di scroll alla callback <code>requestAnimationFrame</code> e catturiamo il valore dello scroll dalla callback dell'evento di scroll. La nostra <a href="/static/demos/parallax/demo-1b/demo.html">seconda demo</a> mostra questa procedura in azione.</p>

<p>Se viene rpetuto il test dello scroll &egrave possibile notare un lieve miglioramento, anche se non eccessivo. La ragione &egrave che l'operazione sul layout che viene triggerata dallo scroll non &egrave molto dispendiosa, ma in altri casi potrebbe esserlo. Per ora stiamo esegendo una operazione di <em>un unico layout</em> per ciascun frame.</p>

<figure>
  <img src="/static/demos/parallax/paints-raf.png" alt="Chrome DevTools with debounced scroll events." />
  <figcaption>DevTools mostra grandi ridisegnamenti e molteplici event-triggered layout in un'unica frame.</figcaption>
</figure>

<p>&Egrave possibile gestire una o un centinaio di eventi di scroll per ciascuna frame, ma possiamo memorizzare unicamente il valore pi&ugrave recente per utilizzarlo quando la callback <code>requestAnimationFrame</code> viene eseguita e quindi effettuato l'aggiornamento della visuale. Il punto &egrave che si &egrave spostato dal tentativo di forzare gli aggiornamenti visuali ogni volta che un evento di scroll &egrave rilevato alla richiedere che il browser dia una finestra appropriata in cui farlo. Non &egrave carino?</p>

<p>Il problema principale con questo approccio, con <code>requestAnimationFrame</code> o no, &egrave che si ha un unico livello per l'intera pagina e spostando questi elementi visuali si ha bisogno grandi (ed onerosi) ridisegnamenti. Parlando in generale il ridisegnamento &egrave un operazione bloccante (sebben si stia <a href="http://www.chromium.org/developers/design-documents/impl-side-painting">cambiando</a>), significa che il browser non pu&ograve fare nient'altro e spesso si perde l'obiettivo dei 16ms e le cose rimangono pessime.</p>

<h2 id="toc-option2">Opzione 2: Utilizzo degli elementi DOM e delle trasformazioni 3D</h2>

<p>Invece di utilizzare la posizione assoluta un altro approccio &egrave quello di applicare la trasformazione 3D degli elementi. In questa situazione si vede che gli elementi su cui &egrave applicata la trasformazione 3D sono dichiarati come nuovi layer. Nell'opzione 1, di contrasto, si ha un unico grande layer per pagina che ha bisogno di essere ridisegnato quando qualcosa cambia.</p>

<p>Ci&ograve significa che con questo approccio le cose sono totalmente differenti: noi abbiamo un unico layer per ciascun elemento in cui abbiamo applicato la trasformazione 3D. Se a questo punto applichiamo delle trasformazioni sugli elementi, non abbiamo pi&ugrave bisogno di ridisegnare il layer e la GPU pu&ograve spostare gli elementi e contemporaneamente effettuare il compositing della pagina. Nel caso vi stiate domandando il perch&egrave vengano utilizzate le trasformazioni 3D invece delle trasformazioni 2D, la ragione &egrave che le trasformazioni 2D non garantiscono l'allocazione di un nuovo layer.</p>

<p>In <a href="/static/demos/parallax/demo-2/demo.html">quest'altra demo</a> &egrave mostrata la trasformazione 3D. Se si effettua lo scroll si vedr&agrave che la situazione &egrave migliorata molto.</p>

<p>Molte volte le persone utilizzano l'hack <code>-webkit-transform: translateZ(0);</code> per ottenere magici miglioramenti sulle performance, ma tale soluzione porta alcuni problemi:</p>

<ol>
<li>Non &egrave cross-platform.</li>
<li>Impone la creazione dei nuovi layer ad ogni elemento trasformato da parte del browser. Molti layer possono portare altri colli di bottiglia nelle performance, quindi deve essere usato con parsimonia!</li>
<li>&Egrave stato <a href="http://developer.apple.com/library/ios/#releasenotes/General/RN-iOSSDK-6_0/_index.html#//apple_ref/doc/uid/TP40012166-CH1-SW19">disabilitato per alcuni port del WebKit</a> (quarto punto dal basso!).</li>
</ol>


<p>Quindi, alla fine questa risulta essere una soluzione altamente temporanea! In un mondo perfetto non dovremmo considerarlo e i browser sono migliorati in continuazione ed un giorno tutto questo sarebbe non necessario!</p>

<h2 id="toc-option3">Opzione 3: Utilizzo di una canvas a posizione fissa o WebGL (opzione liscia come la seta)</h2>

<p>L'opzione finale che consideriamo &egrave l'utilizzo di una canvas a posizione fissa sul retro della pagina in cui andremo a disegnare le nostre immagini trasformate. A prima vista non sembra essere la soluzione pi&ugrave performante, ma ci sono una serie di benefici con questo approccio:</p>

<ul>
<li>Non &egrave necessario un gran lavoro di compositing poich&egrave vi &egrave un unico elemento.</li>
<li>Si ha a che fare con una sola bitmap <em>hardware accelerated</em>.</li>
<li>Le API Canvas2D sono molto adatte per il tipo di trasformazioni che vogliamo applicare, quindi lo sviluppo ed il mantenimento &egrave maggiormente gestibile.</li>
</ul>


<p>L'utilizzo di un elemento canvas ci fornisce un nuovo layer, ma esso &egrave solo <em>un</em> layer, mentre nell'opzione 2 abbiamo fornito un nuovo layer per <em>ogni</em> elemento applicandogli una trasformazione 3D, quindi abbiamo un carico nel compositing di tutti questi layer.</p>

<p>Se si da uno sguardo alla <a href="/static/demos/parallax/demo-3/demo.html">demo</a> per questo approccio e la si testa con DevTools, si noter&agrave che le performance sono molto migliorate. Per questo approccio abbiamo semplicemente utilizzato la chiamata <code>drawImage</code> all'API di canvas, fornendo la nostra immagine di sfondo e ciascuno dei blob colorati nella giusta posizione dello schermo.</p>

<pre class="prettyprint"><code>
/**
 * Updates and draws in the underlying visual elements to the canvas.
 */
function updateElements () {

  var relativeY = lastScrollY / h;

  // Fill the canvas up
  context.fillStyle = "#1e2124";
  context.fillRect(0, 0, canvas.width, canvas.height);

  // Draw the background
  context.drawImage(bg, 0, pos(0, -3600, relativeY, 0));

  // Draw each of the blobs in turn
  context.drawImage(blob1, 484, pos(254, -4400, relativeY, 0));
  context.drawImage(blob2, 84, pos(954, -5400, relativeY, 0));
  context.drawImage(blob3, 584, pos(1054, -3900, relativeY, 0));
  context.drawImage(blob4, 44, pos(1400, -6900, relativeY, 0));
  context.drawImage(blob5, -40, pos(1730, -5900, relativeY, 0));
  context.drawImage(blob6, 325, pos(2860, -7900, relativeY, 0));
  context.drawImage(blob7, 725, pos(2550, -4900, relativeY, 0));
  context.drawImage(blob8, 570, pos(2300, -3700, relativeY, 0));
  context.drawImage(blob9, 640, pos(3700, -9000, relativeY, 0));

  // Allow another rAF call to be scheduled
  ticking = false;
}

/**
 * Calculates a relative disposition given the page’s scroll
 * range normalized from 0 to 1
 * @param {number} base The starting value.
 * @param {number} range The amount of pixels it can move.
 * @param {number} relY The normalized scroll value.
 * @param {number} offset A base normalized value from which to start the scroll behavior.
 * @returns {number} The updated position value.
 */
function pos(base, range, relY, offset) {
  return base + limit(0, 1, relY - offset) * range;
}

/**
 * Clamps a number to a range.
 * @param {number} min The minimum value.
 * @param {number} max The maximum value.
 * @param {number} value The value to limit.
 * @returns {number} The clamped value.
 */
function limit(min, max, value) {
  return Math.max(min, Math.min(max, value));
}
</code></pre>

<p>Questo approccio funziona davvero quando si ha a che fare con immagini grandi (o altri elementi che possono essere facilmente disegnati in una canvas), e sicuramente quando si ha a che fare con grandi blocchi di testo potrebbe diventare un p&ograve pi&ugrave impegnativo, ma in dipendenza dal proprio sito si pu&ograve dimostrare che questa sia la soluzione migliore. Se si deve avere a che fare con del testo nel canvas si pu&ograve usare il metodo <code>fillText</code>, ma a costo dell'accessibilit&agrave (il testo viene rasterizzato in un'immagine!) e si deve avere a che fare con la sovrapposizione delle righe ed un mucchio di altri problemi. Se si pu&ograve evitare, bisognerebbe farlo.</p>

<p>Dato che stiamo considerando questo caso come fattibile, non c'&egrave alcuna ragione di presumere che il lavoro di parallasse debba essere fatto all'interno di un elemento canvas. Se il browser lo supporta, si potrebbe utilizzare WebGL. La chiave &egrave che WebGL ha una strada diretta verso la scheda grafica e quindi &egrave la migliore candidata a raggiungere i 60fps, specialmente nel caso di effetti complessi.</p>

<p>La prima reazione potrebbe essere che WebGL sia eccessivo, o che non sia ovunque supportato, ma se si utilizza qualcosa come <a href="https://github.com/mrdoob/three.js/">Three.js</a> allora si pu&ograve sempre ripiegare sull'utilizzo di un elemento canvas ed il proprio codice risulta astratto in modo consistente e semplice. Tutto quello che bisogna fare &egrave utilizzare  <a href="http://modernizr.com/">Modernizr</a> per verificare che ci sia l'appropriato supporto delle API:</p>

<pre class="prettyprint"><code>
// check for WebGL support, otherwise switch to canvas
if (Modernizr.webgl) {
  renderer = new THREE.WebGLRenderer();
} else if (Modernizr.canvas) {
  renderer = new THREE.CanvasRenderer();
}
</code></pre>

<p>Qui una <a href="/static/demos/parallax/demo-4/demo.html">demo</a> che supporta entrambi i rendering, assumendo che anche il tuo browser lo faccia!</p>

<p>Infine, se non si &egrave un gran fan di aggiungere elementi extra alla pagina, si pu&ograve sempre  <a href="http://updates.html5rocks.com/2012/12/Canvas-driven-background-images">utilizzare un canvas come sfondo</a> sia in Firefox che nei browser Webkit-based. Questo non &egrave sempre possibile, quindi si deve usare sempre con cautela.</p>

<h2 id="toc-">Degradazione Progressiva</h2>

<p>La principale ragione per la quale gli sviluppatori utilizzino il posizionamento assoluto degli elementi rispetto a tutte le altre opzioni potrebbe essere il tentativo di ottenere il supporto universale. Questo, in un certo senso, &egrave illusorio, poich&egrave i browser pi&ugrave vecchi possono fornire un'esperienza di rendering pessima. In pi&ugrave i browser moderni che utilizzano il posizionamento assoluto degli elementi non ottengono buone performance!</p>

<p>Potrebbe essere vantaggioso, quindi, evitare di implemetare l'effetto di parallasse anche per i vecchi browser e focalizzarsi sui browser capaci di renderizzare il sito utilizzando le API giuste. Certamente utilizzando <a href="https://github.com/mrdoob/three.js/">Three.js</a> &egrave possibile cambiare molto facilmente tra i diversi tipi di rendering in dipendenza del supporto di cui si ha a disposizione.</p>

<h2 id="toc-">Conclusioni</h2>

<p>Sono stati valutati alcuni approcci per trattare il ridisegnamento di grandi aree, dal posizionamento assoluto degli elementi all'utilizzo dei canvas a posizione fissa. L'implementazione utilizzata, naturalmente, dipende da cosa si sta cercando di ottenere e dallo specifico design, ma &egrave sempre buona cosa conoscere l'esistenza di altre possibilit&agrave. Nel nostro caso siamo riusciti a passare da un relativamente pessimo 30fps ad un setoso 60fps!</p>

<p>E come sempre, qualsiasi approccio si scelga: <strong>non domandare, testalo</strong>.</p>

{% endblock %}
