.CodeMirror {
  color: white;
  text-shadow: rgba( 0, 0, 0, 1 ) 0px 1px 2px;
  background-color: transparent;
  position: absolute; left: 25px; top: 75px;
  padding: 12px;
  border: solid 1px transparent;
  border-radius: 5px;
  line-height: 1.1em;
  font-family: monospace;
  font-size: 14px;
  font-weight: bold;
  visibility: visible;
  
  /* transition between transparent and semi-transparent black on hover */
  transition: background-color 500ms;
  -webkit-transition: background-color 500ms;
  -o-transition: background-color 500ms;
  -moz-transition: background-color 500ms;
  -ms-transition: background-color 500ms;
}

.CodeMirror:hover {
  background-color:rgba(0,0,0,.5);
  border: solid 1px rgba(128,128,128,.4);
}

.CodeMirror-scroll {
  overflow: auto;
  height: 100%;
  /* This is needed to prevent an IE[67] bug where the scrolled content
     is visible outside of the scrolling box. */
  position: relative;
}

.CodeMirror-gutter {
  position: absolute; left: 0; top: 0;
  z-index: 10;
/*  background-color: #f7f7f7; */
/*  border-right: 1px solid black; */
  min-width: 2em;
  height: 100%;
}
.CodeMirror-gutter-text {
  color: #aaa;
  text-align: right;
  padding: .4em .4em .4em .4em;
  white-space: pre !important;
}
.CodeMirror-lines {
  padding: .4em;
}

.CodeMirror pre {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border-width: 0; margin: 0; padding: 0; background: transparent;
  font-family: inherit;
  font-size: inherit;
  padding: 0; margin: 0;
  white-space: pre;
  word-wrap: normal;
}

.CodeMirror-wrap pre {
  word-wrap: break-word;
  white-space: pre-wrap;
}
.CodeMirror-wrap .CodeMirror-scroll {
  overflow-x: hidden;
}

.CodeMirror textarea {
  font-family: inherit !important;
  font-size: inherit !important;
}

.CodeMirror-cursor {
  z-index: 10;
  position: absolute;
  visibility: hidden;
  border-left: 1px solid white !important;
}
.CodeMirror-focused .CodeMirror-cursor {
  visibility: visible;
}

span.CodeMirror-selected {
  background: #ccc !important;
  color: HighlightText !important;
}
.CodeMirror-focused span.CodeMirror-selected {
  background: Highlight !important;
}

.CodeMirror-matchingbracket {color: #0f0 !important;}
.CodeMirror-nonmatchingbracket {color: #f22 !important;}

.CodeMirror pre.errorMarker {
  color: #f00;
  font-weight: bold;
  background: rgba(200, 100, 0, 0.5);
  border-radius: 3px;
}
.CodeMirror:hover pre.errorLine {
  background: rgba(200, 50, 0, 0.2);
}

.CodeMirror .resizer {
	display: block;
	position: absolute;
	bottom: 3px;
	right: 3px;
	width: 11px;
	height: 11px;
	background-image: url('resizer.png');
	background-repeat: no-repeat;
	cursor: se-resize;
}