.cm-s-default span.cm-keyword {color: #bbf;}
.cm-s-default span.cm-number {color: #fbb;}
.cm-s-default span.cm-def {color: #55f;}
.cm-s-default span.cm-comment {color: #8ff;}
.cm-s-default span.cm-operator {color: #5b5;}
.cm-s-default span.cm-meta {color: #8f8;}
.cm-s-default span.cm-qualifier {color: #888;}
.cm-s-default span.cm-builtin {color: #fbf;}
.cm-s-default span.cm-bracket {color: #bbb;}
