{% extends "tutorial.html" %}
{% load mixin from templatefilters %}

{% block pagebreadcrumb %}{{ tut.title }}{% endblock %}

{% block head %}
<style>
label.bad, label.good, label.sortof {
  padding: 4px;
  line-height: 1.7;
  border-radius: 50%;
  color: white;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
  box-shadow: -2px 2px 3px 3px rgba(0, 0, 0, 0.25) inset;
  width: 20px;
  height: 20px;
  font-size: 16px;
}
label.good::after,
label.bad::after,
label.sortof::after {
  position: relative;
  left: 2px;
  top: -5px;
}
label.bad {
  background-color: red;
}
label.bad::after {
  content: ':(';
}
label.good {
  background-color: green;
}
label.good::after {
  content: ':)';
}
label.sortof {
  background-color: rgb(230, 190, 32);
  line-height: 1.8;
}
label.sortof::after {
  content: ':|';
}
button a {
  color: inherit !important;
}
.centered {
  text-align: center;
}
figure img {
  border: 1px solid #ccc;
  padding: 10px;
}
article.tutorial section {
  overflow: visible;
}
.talkinghead:before {
  background-image: url(/static/images/profiles/75/ericbidelman.75.png);
  background-position: 0px 0px !important;
}
/*blockquote:not(.talkinghead) {
  background: rgb(238, 238, 238);
  padding: 1px 15px;
  position: relative;
}*/
/*blockquote:not(.talkinghead):before {
  content: '“';
  top: -25px;
  left: -15px;
}
blockquote:not(.talkinghead):after {
  content: '”';
  right: -5px;
  bottom: -55px;
}
blockquote:not(.talkinghead):before,
blockquote:not(.talkinghead):after {
  font-size: 75px;
  position: absolute;
  color: rgb(204, 204, 204);
}
*/

/*
.tutorial table td,
.tutorial table th {
  border: 1px solid #ccc;
  padding: 5px;
}
.tutorial table th {
  background: #222;
  color: white;
  padding: 10px;
  font-weight: 600;
}*/

.disabledemos .demoarea {
  display: none !important;
}
.demoarea {
  margin-top: 20px;
}
.demoarea {
  padding: 10px;
  background: #fff;
  border: 1px dashed #000;
  display: inline-block;
  position: relative;
}
.demoarea:before {
  content: 'Live demo:';
  position: absolute;
  top: -20px;
  left: 0;
  font-weight: bold;
  text-transform: uppercase;
}
</style>
{% endblock %}

{% block iscompatible %}
  return 'import' in document.createElement('link');
{% endblock %}

{% block html5badge %}
<!-- Your HTML5 badge (tech class icons used in the article) goes here -->
{% endblock %}

{% block share_image %}
<!--<meta itemprop="image" content="images/your_social_sharing_img.png">-->
{% endblock %}

{% block content %}

<h2 id="why">Why imports?</h2>

<p>Think about how you load different types of resources on the web. For JS, we have <code>&lt;script src&gt;</code>. For CSS, your go-to is probably <code>&lt;link rel="stylesheet"&gt;</code>. For images it's <code>&lt;img&gt;</code>. Video has <code>&lt;video&gt;</code>. Audio, <code>&lt;audio&gt;</code>.... Get to the point! The majority of the web's content has a simple and declarative way to load itself. Not so for HTML. Here's your options:</p>
<ol>
<li><strong><code>&lt;iframe&gt;</code></strong> - tried and true but heavy weight. An iframe's content lives entirely in a separate context than your page. While that's mostly a great feature, it creates additional challenges (shrink wrapping the size of the frame to its content is tough, insanely frustrating to script into/out of, nearly impossible to style).</li>
<li><strong>AJAX</strong> - <a href="http://ericbidelman.tumblr.com/post/31140607367/mashups-using-cors-and-responsetype-document">I love <code>xhr.responseType="document"</code></a>, but you're saying I need JS to load HTML? That doesn't seem right.</li>
<li><strong>CrazyHacks&#8482;</strong> - embedded in strings, hidden as comments (e.g. <code>&lt;script type="text/html"&gt;</code>). Yuck!</li>
</ol>
<p>See the irony? <strong>The web's most basic content, HTML, requires the greatest amount
of effort to work with</strong>. Fortunately, <a href="http://w3c.github.io/webcomponents/explainer/">Web Components</a> are here to get us back on track.</p>
<h2 id="started">Getting started</h2>

<p><a href="http://w3c.github.io/webcomponents/spec/imports/">HTML Imports</a>, part of the <a href="http://w3c.github.io/webcomponents/explainer/">Web Components</a> cast, is a way to include HTML documents in other HTML documents. You're not limited to markup either. An import can also include CSS, JavaScript, or anything else an <code>.html</code> file can contain. In other words, this makes imports a <strong>fantastic tool for loading related HTML/CSS/JS</strong>.</p>
<h3 id="basics">The basics</h3>

<p>Include an import on your page by declaring a <code>&lt;link rel="import"&gt;</code>:</p>
<pre class="prettyprint"><code>&lt;head&gt;
  &lt;link rel="import" href="/path/to/imports/stuff.html"&gt;
&lt;/head&gt;
</code></pre>
<p>The URL of an import is called an <em>import location</em>. To load content from another domain, the import location needs to be CORS-enabled:</p>
<pre class="prettyprint"><code>&lt;!-- Resources on other origins must be CORS-enabled. --&gt;
&lt;link rel="import" href="http://example.com/elements.html"&gt;
</code></pre>
<p class="notice fact">The browser's network stack automatically de-dupes all requests from the same URL. This means that imports that reference the same URL are only retrieved once. No matter how many times an import at the same location is loaded, it only executes once.</p>

<h3 id="featuredetect">Feature detection and support</h3>

<p>To detect support, check if <code>.import</code> exists on the <code>&lt;link&gt;</code> element:</p>
<pre class="prettyprint"><code>function supportsImports() {
  return 'import' in document.createElement('link');
}

if (supportsImports()) {
  // Good to go!
} else {
  // Use other libraries/require systems to load files.
}
</code></pre>
<p>Browser support is still in the early days. Chrome 31 was the first browser to see an implementation. Since then, Chrome 36 was update with the latest spec. You can enable the flag by turning on <strong>Enable experimental Web Platform features</strong> in <code>about:flags</code> in Chrome Canary. For other browsers, <a href="http://www.polymer-project.org/platform/html-imports.html">Polymer's polyfill</a> works great until things are widely supported.</p>
<p class="notice tip">Also <b>Enable experimental Web Platform features</b> to get the other bleeding edge web component goodies.</p>

<h3 id="bundling">Bundling resources</h3>

<p>Imports provide convention for bundling HTML/CSS/JS (even other HTML Imports) into a single deliverable. It's an intrinsic feature, but a powerful one. If you're creating a theme, library, or just want to segment your app into logical chunks, giving users a single URL is compelling. Heck, you could even deliver an entire app via an import. Think about that for a second.</p>
<blockquote class="commentary talkinghead">Using only one URL, you can package together a single relocatable bundle of web goodness for others to consume.
</blockquote>

<p>A real-world example is <a href="http://getbootstrap.com/">Bootstrap</a>. Bootstrap is comprised of
individual files (bootstrap.css, bootstrap.js, fonts), requires JQuery for its plugins, and provides markup examples. Developers like à la carte flexibility. It allows them buy in to the parts of the framework <em>they</em> want to use. That said, I'd wager your typical JoeDeveloper&#8482; goes the easy route and downloads all of Bootstrap.</p>
<p>Imports make a ton of sense for something like Bootstrap. I present to you, the future of loading Bootstrap:</p>
<pre class="prettyprint"><code>&lt;head&gt;
  &lt;link rel="import" href="bootstrap.html"&gt;
&lt;/head&gt;
</code></pre>
<p>Users simply load an HTML Import link. They don't need to fuss with the scatter-shot
of files. Instead, the entirety of Bootstrap is managed and wrapped up in an import, bootstrap.html:</p>
<pre class="prettyprint"><code>&lt;link rel="stylesheet" href="bootstrap.css"&gt;
&lt;link rel="stylesheet" href="fonts.css"&gt;
&lt;script src="jquery.js"&gt;&lt;/script&gt;
&lt;script src="bootstrap.js"&gt;&lt;/script&gt;
&lt;script src="bootstrap-tooltip.js"&gt;&lt;/script&gt;
&lt;script src="bootstrap-dropdown.js"&gt;&lt;/script&gt;
...

&lt;!-- scaffolding markup --&gt;
&lt;template&gt;
  ...
&lt;/template&gt;
</code></pre>
<p>Let this sit. It's exciting stuff.</p>
<h3 id="events">Load/error events</h3>

<p>The <code>&lt;link&gt;</code> element fires a <code>load</code> event when an import is loaded successfully
and <code>onerror</code> when the attempt fails (e.g. if the resource 404s). </p>
<p>Imports try to load immediately. An easy way avoid headaches
is to use the <code>onload</code>/<code>onerror</code> attributes:</p>
<pre class="prettyprint"><code>&lt;script async&gt;
  function handleLoad(e) {
    console.log('Loaded import: ' + e.target.href);
  }
  function handleError(e) {
    console.log('Error loading import: ' + e.target.href);
  }
&lt;/script&gt;

&lt;link rel="import" href="file.html"
      onload="handleLoad(event)" onerror="handleError(event)"&gt;
</code></pre>
<p class="notice tip">Notice the event handlers are defined before the import is loaded on the page. The browser tries to load the import as soon as it encounters the tag. If the functions don't exist yet, you'll get console errors for undefined function names.</p>

<p>Or, if you're creating the import dynamically:</p>
<pre class="prettyprint"><code>var link = document.createElement('link');
link.rel = 'import';
link.href = 'file.html'
link.onload = function(e) {...};
link.onerror = function(e) {...};
document.head.appendChild(link);
</code></pre>
<h2 id="usingcontent">Using the content</h2>

<p>Including an import on a page doesn't mean "plop the content of that file here". It means "parser, go off an fetch this document so I can use it". To actually use the content, you have to take action and write script.</p>
<p>A critical <code>aha!</code> moment is realizing that an import is just a document. In fact, the content of an import is called an <em>import document</em>. You're able to <strong>manipulate the guts of an import using standard DOM APIs</strong>!</p>
<h3 id="importprop">link.import</h3>

<p>To access the content of an import, use the link element's <code>.import</code> property:</p>
<pre class="prettyprint"><code>var content = document.querySelector('link[rel="import"]').import;
</code></pre>
<p><code>link.import</code> is <code>null</code> under the following conditions:</p>
<ul>
<li>The browser doesn't support HTML Imports.</li>
<li>The <code>&lt;link&gt;</code> doesn't have <code>rel="import"</code>.</li>
<li>The <code>&lt;link&gt;</code> has not been added to the DOM.</li>
<li>The <code>&lt;link&gt;</code> has been removed from the DOM.</li>
<li>The resource is not CORS-enabled.</li>
</ul>
<p><strong>Full example</strong></p>
<p>Let's say <code>warnings.html</code> contains:</p>
<pre class="prettyprint"><code>&lt;div class="warning"&gt;
  &lt;style scoped&gt;
    h3 {
      color: red;
    }
  &lt;/style&gt;
  &lt;h3&gt;Warning!&lt;/h3&gt;
  &lt;p&gt;This page is under construction&lt;/p&gt;
&lt;/div&gt;

&lt;div class="outdated"&gt;
  &lt;h3&gt;Heads up!&lt;/h3&gt;
  &lt;p&gt;This content may be out of date&lt;/p&gt;
&lt;/div&gt;
</code></pre>
<p>Importers can grab a specific portion of this document and clone it into their page:</p>
<pre class="prettyprint"><code>&lt;head&gt;
  &lt;link rel="import" href="warnings.html"&gt;
&lt;/head&gt;
&lt;body&gt;
  ...
  &lt;script&gt;
    var link = document.querySelector('link[rel="import"]');
    var content = link.import;

    // Grab DOM from warning.html's document.
    var el = content.querySelector('.warning');

    document.body.appendChild(el.cloneNode(true));
  &lt;/script&gt;
&lt;/body&gt;
</code></pre>
<div class="demoarea" id="warning-example-area"></div>

<p><link rel="import" id="warning-example-link" href="warning.html">
<script>
  var link = document.querySelector('#warning-example-link');
  if ('import' in link) {
    var content = link.import;
    var alertDOM = content.querySelector('div.alert');
    document.querySelector('#warning-example-area').appendChild(alertDOM.cloneNode(true));
  }
</script></p>
<h3 id="includejs">Scripting in imports</h3>

<p>Imports are not in the main document. They're satellite to it. However, your import can still act on the main page even though the main document reigns supreme. An import can access its own DOM and/or the DOM of the page that's importing it:</p>
<p><strong>Example</strong> - import.html that adds one of its stylesheets to the main page</p>
<pre class="prettyprint"><code>&lt;link rel="stylesheet" href="http://www.example.com/styles.css"&gt;
&lt;link rel="stylesheet" href="http://www.example.com/styles2.css"&gt;

&lt;style&gt;
  /* Note: &lt;style&gt; in an import apply to the main
     document by default. That is, style tags don't need to be
     explicitly added to the main document. */
  #somecontainer {
    color: blue;
  }
&lt;/style&gt;
...

&lt;script&gt;
  // importDoc references this import's document
  var importDoc = document.currentScript.ownerDocument;

  // mainDoc references the main document (the page that's importing us)
  var mainDoc = document;

  // Grab the first stylesheet from this import, clone it,
  // and append it to the importing document.
  var styles = importDoc.querySelector('link[rel="stylesheet"]');
  mainDoc.head.appendChild(styles.cloneNode(true));
&lt;/script&gt;
</code></pre>
<p>Notice what's going on here. The script inside the import references the imported document (<code>document.currentScript.ownerDocument</code>), and appends part of that document to the importing page (<code>mainDoc.head.appendChild(...)</code>). Pretty gnarly if you ask me.</p>
<blockquote class="commentary talkinghead">A script in an import can either execute code directly, or define functions to be used by the importing page. This is similar to the way <a href="http://docs.python.org/2/tutorial/modules.html#more-on-modules">modules</a> are defined in Python.
</blockquote>

<p>Rules of JavaScript in an import:</p>
<ul>
<li>Script in the import is executed in the context of the window that contains the importing <code>document</code>. So <code>window.document</code> refers to the main page document. This has two useful corollaries:<ul>
<li>functions defined in an import end up on <code>window</code>.</li>
<li>you don't have to do anything crazy like append the import's <code>&lt;script&gt;</code> blocks to the main page. Again, script gets executed.</li>
</ul>
</li>
<li>Imports do not block parsing of the main page. However, scripts inside them are processed in order. This means you get defer-like behavior while maintaining proper script order. More on this below.</li>
</ul>
<h2 id="deliver-webcomponents">Delivering Web Components</h2>

<p>The design of HTML Imports lends itself nicely to loading reusable content on the web. In particular, it's an ideal way to distribute Web Components. Everything from basic <a href="/webcomponents/template/">HTML <code>&lt;template&gt;</code></a>s to full blown <a href="/tutorials/webcomponents/customelements/#registering">Custom Elements</a> with Shadow DOM [<a href="/tutorials/webcomponents/shadowdom/">1</a>, <a href="/tutorials/webcomponents/shadowdom-201/">2</a>, <a href="/tutorials/webcomponents/shadowdom-301/">3</a>]. When these technologies are used in tandem, imports become a <a href="http://en.cppreference.com/w/cpp/preprocessor/include"><code>#include</code></a> for Web Components.</p>
<h3 id="include-templates">Including templates</h3>

<p>The <a href="/tutorials/webcomponents/template/">HTML Template</a> element is a natural fit for HTML Imports. <code>&lt;template&gt;</code> is great for scaffolding out sections of markup for the importing app to use as it desires. Wrapping content in a <code>&lt;template&gt;</code> also gives you the added benefit of making the content inert until used. That is, scripts don't run until the template is added to the DOM). Boom!</p>
<p>import.html</p>
<pre class="prettyprint"><code>&lt;template&gt;
  &lt;h1&gt;Hello World!&lt;/h1&gt;
  &lt;!-- Img is not requested until the &lt;template&gt; goes live. --&gt;
  &lt;img src="world.png"&gt;
  &lt;script&gt;alert("Executed when the template is activated.");&lt;/script&gt;
&lt;/template&gt;
</code></pre>
<p>index.html</p>
<pre class="prettyprint"><code>&lt;head&gt;
  &lt;link rel="import" href="import.html"&gt;
&lt;/head&gt;
&lt;body&gt;
  &lt;div id="container"&gt;&lt;/div&gt;
  &lt;script&gt;
    var link = document.querySelector('link[rel="import"]');

    // Clone the &lt;template&gt; in the import.
    var template = link.import.querySelector('template');
    var clone = document.importNode(template.content, true);

    document.querySelector('#container').appendChild(clone);
  &lt;/script&gt;
&lt;/body&gt;
</code></pre>
<h3 id="include-elements">Registering custom elements</h3>

<p><a href="tutorials/webcomponents/customelements/">Custom Elements</a> is another Web Component technology that plays absurdly well with HTML Imports. <a href="#includejs">Imports can execute script</a>, so why not define + register your custom elements so users don't have to? Call it..."auto-registration". </p>
<p>elements.html</p>
<pre class="prettyprint"><code>&lt;script&gt;
  // Define and register &lt;say-hi&gt;.
  var proto = Object.create(HTMLElement.prototype);

  proto.createdCallback = function() {
    this.innerHTML = 'Hello, &lt;b&gt;' +
                     (this.getAttribute('name') || '?') + '&lt;/b&gt;';
  };

  document.registerElement('say-hi', {prototype: proto});
&lt;/script&gt;

&lt;template id="t"&gt;
  &lt;style&gt;
    ::content &gt; * {
      color: red;
    }
  &lt;/style&gt;
  &lt;span&gt;I'm a shadow-element using Shadow DOM!&lt;/span&gt;
  &lt;content&gt;&lt;/content&gt;
&lt;/template&gt;

&lt;script&gt;
  (function() {
    var importDoc = document.currentScript.ownerDocument; // importee

    // Define and register &lt;shadow-element&gt;
    // that uses Shadow DOM and a template.
    var proto2 = Object.create(HTMLElement.prototype);

    proto2.createdCallback = function() {
      // get template in import
      var template = importDoc.querySelector('#t');

      // import template into
      var clone = document.importNode(template.content, true);

      var root = this.createShadowRoot();
      root.appendChild(clone);
    };

    document.registerElement('shadow-element', {prototype: proto2});
  })();
&lt;/script&gt;
</code></pre>
<p>This import defines (and registers) two elements, <code>&lt;say-hi&gt;</code> and <code>&lt;shadow-element&gt;</code>. The first shows a basic custom element that registers itself inside the import. The second example shows how to implement a custom element that creates Shadow DOM from a <code>&lt;template&gt;</code>, then registers itself. </p>
<p>The best part about registering custom elements inside an HTML import is that the the importer simply declares your element on their page. No wiring needed.</p>
<p>index.html</p>
<pre class="prettyprint"><code>&lt;head&gt;
  &lt;link rel="import" href="elements.html"&gt;
&lt;/head&gt;
&lt;body&gt;
  &lt;say-hi name="Eric"&gt;&lt;/say-hi&gt;
  &lt;shadow-element&gt;
    &lt;div&gt;( I'm in the light dom )&lt;/div&gt;
  &lt;/shadow-element&gt;
&lt;/body&gt;
</code></pre>
<p><link rel="import" href="elements.html"></p>
<div class="demoarea">
  <say-hi name="Eric"></say-hi><br><br>
</div>

<div class="demoarea">
  <shadow-element>
    <div>( I'm in the light dom )</div>
  </shadow-element>
</div>

<p>In my opinion, this workflow alone makes HTML Imports an ideal way to share Web Components.</p>
<h3 id="depssubimports">Managing dependencies and sub-imports</h3>

<blockquote>
  Yo dawg. I hear you like imports, so I included an import <em>in</em> your import.
</blockquote>

<h4 id="sub-imports">Sub-imports</h4>

<p>It can be useful for one import to include another. For example, if you want to reuse or extend another component, use an import to load the other element(s).</p>
<p>Below is a real example from <a href="http://polymer-project.org">Polymer</a>. It's a new tab component (<code>&lt;polymer-ui-tabs&gt;</code>) that reuses a layout and selector component. The dependencies are managed using HTML Imports. </p>
<p>polymer-ui-tabs.html</p>
<pre class="prettyprint"><code>&lt;link rel="import" href="polymer-selector.html"&gt;
&lt;link rel="import" href="polymer-flex-layout.html"&gt;

&lt;polymer-element name="polymer-ui-tabs" extends="polymer-selector" ...&gt;
  &lt;template&gt;
    &lt;link rel="stylesheet" href="polymer-ui-tabs.css"&gt;
    &lt;polymer-flex-layout&gt;&lt;/polymer-flex-layout&gt;
    &lt;shadow&gt;&lt;/shadow&gt;
  &lt;/template&gt;
&lt;/polymer-element&gt;
</code></pre>
<p><a href="https://github.com/Polymer/polymer-ui-elements/blob/master/polymer-ui-tabs/polymer-ui-tabs.html">full source</a></p>
<p>App developers can import this new element using:</p>
<pre class="prettyprint"><code>&lt;link rel="import" href="polymer-ui-tabs.html"&gt;
&lt;polymer-ui-tabs&gt;&lt;/polymer-ui-tabs&gt;
</code></pre>
<p>When a new, more awesome <code>&lt;polymer-selector2&gt;</code> comes along in the future, you can swap out <code>&lt;polymer-selector&gt;</code> and start using it straight away. You won't break your users thanks to imports and web components.</p>
<h4 id="deps">Dependency management</h4>

<p>We all know that loading JQuery more than once per page causes errors. Isn't this
going to be a <em>huge</em> problem for Web Components when multiple components use the same library? Not if we use HTML Imports! They can be used to manage dependencies.</p>
<p>By wrapping libraries in an HTML Import, you automatically de-dupe resources.
The document is only parsed once. Scripts are only executed once. As an example, say you define an import, jquery.html, that loads a copy of JQuery.</p>
<p>jquery.html</p>
<pre class="prettyprint"><code>&lt;script src="http://cdn.com/jquery.js"&gt;&lt;/script&gt;
</code></pre>
<p>This import can be reused in subsequent imports like so:</p>
<p>import2.html</p>
<pre class="prettyprint"><code>&lt;link rel="import" href="jquery.html"&gt;
&lt;div&gt;Hello, I'm import 2&lt;/div&gt;
</code></pre>
<p>ajax-element.html</p>
<pre class="prettyprint"><code>&lt;link rel="import" href="jquery.html"&gt;
&lt;link rel="import" href="import2.html"&gt;

&lt;script&gt;
  var proto = Object.create(HTMLElement.prototype);

  proto.makeRequest = function(url, done) {
    return $.ajax(url).done(function() {
      done();
    });
  };

  document.registerElement('ajax-element', {prototype: proto});
&lt;/script&gt;
</code></pre>
<p>Even the main page itself can include jquery.html if it needs the library:</p>
<pre class="prettyprint"><code>&lt;head&gt;
  &lt;link rel="import" href="jquery.html"&gt;
  &lt;link rel="import" href="ajax-element.html"&gt;
&lt;/head&gt;
&lt;body&gt;

...

&lt;script&gt;
  $(document).ready(function() {
    var el = document.createElement('ajax-element');
    el.makeRequest('http://example.com');
  });
&lt;/script&gt;
&lt;/body&gt;
</code></pre>
<p>Despite jquery.html being included in many different import trees, it's document is only fetched and processed once by the browser. Examining the network panel proves this:</p>
<figure>
  <img src="requests-devtools.png">
  <figcaption>jquery.html is requested once</figcpation>
</figure>

<h2 id="performance">Performance considerations</h2>

<p>HTML Imports are totally awesome but as with any new web technology, you should
use them wisely. Web development best practices still hold true. Below are some things to keep in mind.</p>
<h3 id="perf-concat">Concatenate imports</h3>

<p>Reducing network requests is always important. If you have many top-level import
links, consider combining them into a single resource and importing that file!</p>
<p><a href="https://github.com/Polymer/vulcanize">Vulcanize</a> is an npm build tool from the <a href="http://www.polymer-project.org/">Polymer</a> team that recursively flattens a set of HTML Imports into a single file. Think of it as a concatenation build step for Web Components.</p>
<h3 id="perf-caching">Imports leverage browser caching</h3>

<p>Many people forget that the browser's networking stack has been finely tuned over the years. Imports (and sub-imports) take advantage of this logic too. The <code>http://cdn.com/bootstrap.html</code> import might have sub-resources, but they'll be cached.</p>
<h3 id="perf-inert">Content is useful only when you add it</h3>

<p>Think of content as inert until you call upon its services. Take a normal, dynamically created stylesheet:</p>
<pre class="prettyprint"><code>var link = document.createElement('link');
link.rel = 'stylesheet';
link.href = 'styles.css';
</code></pre>
<p>The browser won't request styles.css until <code>link</code> is added to the DOM:</p>
<pre class="prettyprint"><code>document.head.appendChild(link); // browser requests styles.css
</code></pre>
<p>Another example is dynamically created markup:</p>
<pre class="prettyprint"><code>var h2 = document.createElement('h2');
h2.textContent = 'Booyah!';
</code></pre>
<p>The <code>h2</code> is relatively meaningless until you add it to the DOM.</p>
<p>The same concept holds true for the import document. Unless you append it's content to the DOM, it's a no-op. In fact, the only thing that "executes" in the import document directly is <code>&lt;script&gt;</code>. See <a href="#includejs">scripting in imports</a>.</p>
<h3 id="perf-parsing">Optimizing for async loading</h3>

<p><strong>Imports don't block parsing of the main page</strong>. Scripts inside imports are processed in order but don't block the importing page. This means you get defer-like behavior while maintaining proper script order. One benefit of putting your imports in the <code>&lt;head&gt;</code> is that it lets the parser start working on the content as soon as possible. With that said, it's critical to remember <code>&lt;script&gt;</code> in the main document <em>still</em> continues to block the page:</p>
<pre class="prettyprint"><code>&lt;head&gt;
  &lt;link rel="import" href="/path/to/import_that_takes_5secs.html"&gt;
  &lt;script&gt;console.log('I block page rendering');&lt;/script&gt;
&lt;/head&gt;
</code></pre>
<p>Depending on your app structure and use case, there are several ways to optimize async behavior. The techniques below mitigate blocking the main page rendering.</p>
<p><strong>Scenario #1 (preferred): you don't have script in <code>&lt;head&gt;</code> or inlined in <code>&lt;body&gt;</code></strong></p>
<p>My recommendation for placing <code>&lt;script&gt;</code> is to avoid immediately following your imports. Move scripts as late in the game as possible...but you're already doing that best practice, AREN'T YOU!? ;)</p>
<p>Here's an example:</p>
<pre class="prettyprint"><code>&lt;head&gt;
  &lt;link rel="import" href="/path/to/import.html"&gt;
  &lt;link rel="import" href="/path/to/import2.html"&gt;
  &lt;!-- avoid including script --&gt;
&lt;/head&gt;
&lt;body&gt;
  &lt;!-- avoid including script --&gt;

  &lt;div id="container"&gt;&lt;/div&gt;

  &lt;!-- avoid including script --&gt;
  ...

  &lt;script&gt;
    // Other scripts n' stuff.

    // Bring in the import content.
    var link = document.querySelector('link[rel="import"]');
    var post = link.import.querySelector('#blog-post');

    var container = document.querySelector('#container');
    container.appendChild(post.cloneNode(true));
  &lt;/script&gt;
&lt;/body&gt;
</code></pre>
<p>Everything is at the bottom.</p>
<p><strong>Scenario 1.5: the import adds itself</strong></p>
<p>Another option is to have the import <a href="#includejs">add its own content</a>. If the
import author establishes a contract for the app developer to follow, the import can add itself to an area of the main page:</p>
<p>import.html:</p>
<pre class="prettyprint"><code>&lt;div id="blog-post"&gt;...&lt;/div&gt;
&lt;script&gt;
  var me = document.currentScript.ownerDocument;
  var post = me.querySelector('#blog-post');

  var container = document.querySelector('#container');
  container.appendChild(post.cloneNode(true));
&lt;/script&gt;
</code></pre>
<p>index.html</p>
<pre class="prettyprint"><code>&lt;head&gt;
  &lt;link rel="import" href="/path/to/import.html"&gt;
&lt;/head&gt;
&lt;body&gt;
  &lt;!-- no need for script. the import takes care of things --&gt;
&lt;/body&gt;
</code></pre>
<p><strong>Scenario #2: you <em>have</em> script in <code>&lt;head&gt;</code> or inlined in <code>&lt;body&gt;</code></strong></p>
<p>If you have an import that takes a long time to load, the first <code>&lt;script&gt;</code> that follows it on the page will block the page from rendering. Google Analytics for example, 
recommends putting the tracking code in the <code>&lt;head&gt;</code>, If you can't avoid putting <code>&lt;script&gt;</code> in the <code>&lt;head&gt;</code>, dynamically adding the import will prevent blocking the page:</p>
<pre class="prettyprint"><code>&lt;head&gt;
  &lt;script&gt;
    function addImportLink(url) {
      var link = document.createElement('link');
      link.rel = 'import';
      link.href = url;
      link.onload = function(e) {
        var post = this.import.querySelector('#blog-post');

        var container = document.querySelector('#container');
        container.appendChild(post.cloneNode(true));
      };
      document.head.appendChild(link);
    }

    addImportLink('/path/to/import.html'); // Import is added early :)
  &lt;/script&gt;
  &lt;script&gt;
    // other scripts
  &lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
   &lt;div id="container"&gt;&lt;/div&gt;
   ...
&lt;/body&gt;
</code></pre>
<p>Alternatively, add the import near the end of the <code>&lt;body&gt;</code>:</p>
<pre class="prettyprint"><code>&lt;head&gt;
  &lt;script&gt;
    // other scripts
  &lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
  &lt;div id="container"&gt;&lt;/div&gt;
  ...

  &lt;script&gt;
    function addImportLink(url) { ... }

    addImportLink('/path/to/import.html'); // Import is added very late :(
  &lt;/script&gt;
&lt;/body&gt;
</code></pre>
<p class="notice"><b>Note:</b> This very last approach is least preferable. The parser doesn't start to work on the import content until late in the page.</p>

<h2 id="tips">Things to remember</h2>

<ul>
<li>
<p>An import's mimetype is <code>text/html</code>.</p>
</li>
<li>
<p>Resources from other origins need to be CORS-enabled.</p>
</li>
<li>
<p>Imports from the same URL are retrieved and parsed once. That means script in an import is only executed the first time the import is seen.</p>
</li>
<li>
<p>Scripts in an import are processed in order, but do not block the main document parsing.</p>
</li>
<li>
<p>An import link doesn't mean "#include the content here". It means "parser, go off an fetch this document so I can use it later". While scripts execute at import time, stylesheets, markup, and other resources need to be added to the main page explicitly. Note, <code>&lt;style&gt;</code> don't need to be added explicitly. This is a major difference between HTML Imports and <code>&lt;iframe&gt;</code>, which says "load and render this content here".</p>
</li>
</ul>
<h2 id="conclusion">Conclusion</h2>

<p>HTML Imports allow bundling HTML/CSS/JS as a single resource. While useful by themselves, this idea becomes extremely powerful in the world of Web Components. Developers can create reusable components for others to consume and bring in to their own app, all delivered through <code>&lt;link rel="import"&gt;</code>.</p>
<p>HTML Imports are a simple concept, but enable a number of interesting use cases
for the platform.</p>
<h3 id="usecases">Use cases</h3>

<ul>
<li><strong>Distribute</strong> related <a href="#bundling">HTML/CSS/JS as a single bundle</a>. Theoretically, you could import an entire web app into another.</li>
<li><strong>Code organization</strong> - segment concepts logically into different files, encouraging modularity &amp; reusability**.</li>
<li><strong>Deliver</strong> one or more <a href="/tutorials/webcomponents/customelements/">Custom Element</a> definitions. An import can be used to <a href="/tutorials/webcomponents/customelements/#registering">register</a> and include them in an app. This practices good software patterns, keeping the element's interface/definition separate from how its used.</li>
<li><a href="#depssubimports"><strong>Manage dependencies</strong></a> - resources are automatically de-duped.</li>
<li>
<p><strong>Chunk scripts</strong> - before imports, a large-sized JS library would have its file wholly parsed in order to start running, which was slow. With imports, the library can start working as soon as chunk A is parsed. Less latency!</p>
<p><code>&lt;link rel="import" href="chunks.html"&gt;</code>:</p>
<pre class="prettyprint"><code>&lt;script&gt;/* script chunk A goes here */&lt;/script&gt;
&lt;script&gt;/* script chunk B goes here */&lt;/script&gt;
&lt;script&gt;/* script chunk C goes here */&lt;/script&gt;
...
</code></pre>
</li>
<li>
<p><strong>Parallelizes HTML parsing</strong> - first time the browser has been able to run two (or more) HTML parsers in parallel.</p>
</li>
<li>
<p><strong>Enables switching between debug and non-debug modes</strong> in an app, just by changing the import target itself. Your app doesn't need to know if the import target is a bundled/compiled resource or an import tree. </p>
</li>
</ul><script>
document.addEventListener('DOMContentLoaded', function(e) {
  if (!isCompatible()) {
    document.body.classList.add('disabledemos');
  }
});
</script>
{% endblock %}
