#main-text p.note {
  font-style: italic;
}

/*
a,
label,
input {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  color: rgb(0, 102, 204);
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 102, 204, .2);
}
a:visited {
  color: rgb(102, 102, 102);
  border-bottom: 1px solid rgba(102, 102, 102, .2);
}
*/
a.add-code-popup {
  color: rgb(150, 90, 40);
  font-weight: 600;
  text-decoration: none;
  border-bottom: 1px solid rgba(150, 90, 40, .2);

  background: inherit !important;
  padding-right: inherit !important;
}
a.add-code-popup:hover {
  color: rgb(120, 60, 30);
  border-bottom-color: rgba(150, 90, 40, .4);
}
a.add-code-popup.showing {
  color: black;
  border-bottom-color: rgba(0, 0, 0, .2);
}
/*
a:active {
  position: relative;
  top: 1px;
}*/

a.important {
  font-weight: 600;
}


#main-text abbr {
  font-size: 85%;
  font-weight: 600;
  letter-spacing: 1px;
}
#main-text em {
  letter-spacing: 1px;
}
span.title {
  font-style: italic;
}
span.url {
  font-style: italic;
}
span.foreign {
  font-style: italic;
}

#main-text label,
#main-text label * {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}


/* Lists */

#main-text ul,
#main-text ol {
  margin: 12px 0;
  padding: 0;
  list-style: none;
}
#main-text li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;

  counter-increment: number;
}
#main-text ul > li::before {
  content: '·';
  position: absolute;
  left: -1em;
  width: 1em;
  display: inline-block;
}
#main-text ol > li::before {
  content: counter(number) '.';
  position: absolute;
  left: -3.5em;
  width: 3em;
  display: inline-block;
  text-align: right;
}

#main-text figure > img {
  max-width: 100%;
  display: block;
  margin: 24px auto;
}

#main-text img.black {
  background: black;
}
#main-text img.padded {
  padding: 12px 18px;
  -moz-box-sizing: border-box;
  -o-sizing: border-box;
  box-sizing: border-box;
}

#main-text figure iframe {
  display: block;
  border: 0;
  margin: 0 auto;
}
#main-text figcaption a {
  color: rgb(60, 60, 60);
  border-bottom-color: rgba(60, 60, 60, .3);
}
#main-text figure table {
  max-width: 42em;
  margin: 0 auto;
  border-collapse: collapse;
}
#main-text figure td {
  text-align: center;
  padding: 12px 24px;
}
#main-text figure table.compact td {
  padding: 0;
  text-align: left;
}
#main-text figure th {
  font-weight: 400;
  text-align: left;
  line-height: 18px;
  font-size: 14px;
  padding: 12px 24px;
}
#main-text figure table.text td {
  text-align: left;
  padding: 6px 12px;
}
#main-text figure table.text th {
  text-align: left;
  padding: 6px 12px;
}

/* Code pop-up */

.code-popup {
  position: absolute;

  overflow: hidden;

  outline: none;

  -webkit-transition: opacity 150ms, margin 350ms, height 250ms;
  -moz-transition: opacity 150ms, margin 350ms, height 250ms;
  -o-transition: opacity 150ms, margin 350ms, height 250ms;
  transition: opacity 150ms, margin 350ms, height 250ms;
  opacity: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.code-popup.below .triangle {
  position: absolute;
  background: rgb(220, 180, 140);
  box-shadow: -2px -2px 1px rgba(0, 0, 0, .1);
  width: 14px;
  height: 14px;
  left: 49px;
  top: 7px;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.code-popup.above .triangle {
  position: absolute;
  z-index: 5000;
  background: rgb(248, 248, 248);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, .2);
  width: 14px;
  height: 14px;
  left: 49px;
  bottom: 7px;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.code-popup.aside .triangle {
  position: absolute;
  z-index: 5000;
  background: rgb(248, 248, 248);
  box-shadow: -2px 2px 1px rgba(0, 0, 0, .2);
  width: 14px;
  height: 14px;
  left: 6px;
  top: 38px;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.code-popup .content {
  border-radius: 5px;
  padding: 0;

  position: absolute;

  left: 12px;
  top: 12px;
  right: 12px;
  bottom: 12px;

  box-shadow: 0 2px 5px rgba(0, 0, 0, .35);

  overflow: hidden;
}

.code-popup.showing {
  -webkit-transition: none, width 250ms, height 250ms;
  -moz-transition: none, width 250ms, height 250ms;
  -o-transition: none, width 250ms, height 250ms;
  transition: none, width 250ms, height 250ms;
  opacity: 0;
  height: 0;
  overflow-y: hidden;
}
.code-popup.showing.below {
  margin-top: 10px;
}
.code-popup.showing.above {
  margin-top: -10px;
}
.code-popup.showing.aside {
  margin-left: 10px;
}
.code-popup.ready {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.code-popup.hiding {
  -webkit-transition: opacity 150ms;
  -moz-transition: opacity 150ms;
  -o-transition: opacity 150ms;
  transition: opacity 150ms;
  opacity: 0;
}

.code-popup .content h1 {
  font-family: Arial, sans-serif;
  font-size: 12px;
  letter-spacing: 0;

  padding: 0;
  margin: 0;

  padding-left: 9px;
  padding-right: 9px;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  padding-top: 2px;

  line-height: 22px;

  background: rgb(240, 200, 160);
  color: black;
}

.code-popup .content h1 a {
  display: inline-block;
  line-height: 14px;
}

.code-popup .content pre {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 18px !important;
  padding: 6px;

  padding-left: 50px;

  background: -webkit-linear-gradient(rgb(248, 248, 248), rgb(248, 248, 248), rgb(248, 248, 248), rgb(248, 248, 248), rgb(248, 248, 248), white, rgb(230, 230, 230), rgb(248, 248, 248), rgb(248, 248, 248), rgb(248, 248, 248), rgb(248, 248, 248), rgb(248, 248, 248), rgb(248, 248, 248), rgb(248, 248, 248), rgb(248, 248, 248), rgb(248, 248, 248), rgb(248, 248, 248), rgb(248, 248, 248));
  background: -moz-linear-gradient(rgb(248, 248, 248), rgb(248, 248, 248), rgb(248, 248, 248), rgb(248, 248, 248), rgb(248, 248, 248), white, rgb(230, 230, 230), rgb(248, 248, 248), rgb(248, 248, 248), rgb(248, 248, 248), rgb(248, 248, 248), rgb(248, 248, 248), rgb(248, 248, 248), rgb(248, 248, 248), rgb(248, 248, 248), rgb(248, 248, 248), rgb(248, 248, 248), rgb(248, 248, 248));
  background: -o-linear-gradient(rgb(248, 248, 248), rgb(248, 248, 248), rgb(248, 248, 248), rgb(248, 248, 248), rgb(248, 248, 248), white, rgb(230, 230, 230), rgb(248, 248, 248), rgb(248, 248, 248), rgb(248, 248, 248), rgb(248, 248, 248), rgb(248, 248, 248), rgb(248, 248, 248), rgb(248, 248, 248), rgb(248, 248, 248), rgb(248, 248, 248), rgb(248, 248, 248), rgb(248, 248, 248));
  background: linear-gradient(rgb(248, 248, 248), rgb(248, 248, 248), rgb(248, 248, 248), rgb(248, 248, 248), rgb(248, 248, 248), white, rgb(230, 230, 230), rgb(248, 248, 248), rgb(248, 248, 248), rgb(248, 248, 248), rgb(248, 248, 248), rgb(248, 248, 248), rgb(248, 248, 248), rgb(248, 248, 248), rgb(248, 248, 248), rgb(248, 248, 248), rgb(248, 248, 248), rgb(248, 248, 248));
  background-repeat: repeat-y;
  background-size: 100% 18px;

  position: absolute;
  left: 0;
  top: 24px !important;
  right: 0;
  bottom: 0;

  border: 0;
  border-radius: 0;

  overflow-x: auto;
  overflow-y: auto;

  -webkit-overflow-scrolling: touch;
}


.code-popup .content pre .line-numbers {
  width: 44px;
  line-height: 18px;
  padding-top: 9px;
}

#main-text pre {
  position: relative;
  padding-left: 50px;
  line-height: 17px;
}
pre .line-numbers {
  font-family: Arial, sans-serif;
  font-size: 12px;
  letter-spacing: 0;

  position: absolute;
  left: 0;
  top: 0;
  width: 43px;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 11px;
  padding-right: 8px;
  padding-bottom: 9px;
  text-align: right;
  color: rgb(160, 160, 160);

  line-height: 17px;

  border-right: 1px solid rgba(0, 0, 0, .1);
}

.code-popup .content h1 button {
  position: absolute;
  -webkit-appearance: none;
  border: none;
  background: none;
  padding: 6px 10px;
  right: -3px;
  top: -3px;

  cursor: pointer;
}

.code-popup .content h1 button:active {
  top: -2px;
}


.button-download {
  display:    block;
  position:   relative;
  padding:    10px 20px 10px 40px;
  margin:     10px 0;

  background: #1f1f1f !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#3d3d3d), to(#1f1f1f)) !important;
  background: -webkit-linear-gradient(top, #3d3d3d, #1f1f1f) !important;
  background: -moz-linear-gradient(top, #3d3d3d, #1f1f1f) !important;
  background: -ms-linear-gradient(top, #3d3d3d, #1f1f1f) !important;
  background: -o-linear-gradient(top, #3d3d3d, #1f1f1f) !important;

  border-top: 1px solid #c7c7c7;
  -webkit-border-radius:  10px;
  -moz-border-radius:   10px;
  border-radius:        10px;
  -webkit-box-shadow:   rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow:      rgba(0,0,0,1) 0 1px 0;
  box-shadow:           rgba(0,0,0,1) 0 1px 0;

  text-shadow:          rgba(0,0,0,.4) 0 1px 0;
  color:                #aaa;
  font-size:            16px;
  line-height:          20px;
  font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  vertical-align: middle;
}
.button-download:hover, .button-download:focus {
  border-top-color: #141414;
  background:       #141414;
  cursor:           pointer;
  color:            white;
 }

.button-download::before {
  content:  url('/tutorials/casestudies/technitone/assets/images/download-gem.png');
  position:       absolute;
  top:            8px;
  left:           10px;
}
.button-download::after {
  content:  ".zip";
  float:    right;
  position: relative;
  top:      -1px;
  color:    #666;
}
.button-download:hover::after {
  color:  #34bbce;
}
.button-download.pdf::after {
  content:  ".pdf";
}
.button-download.demo::after {
  content:  "";
}
.button-download:active {
  border-top-color: #8f8f8f;
  background: #8f8f8f;
}
.button-download em {
  position:   absolute;
  text-transform: uppercase;
  font-size:  10px;
  color:      #666;
  top:        2px;
  right:      60px;
}
.button-download:hover em {
    color: #ccc;
}

.button-download em::before {
  content:    "*";
  position:   relative;
  top:        12px;
  font-size:  30px;

}
.button-download:hover em::before {
  color:  #34bbce;
}


@media screen and (max-width: 480px) {
  .hidden-narrow {
    display: none;
  }/*
  #main-text ul > li {
    margin-left: 1em;
  }
  #main-text ol > li {
    margin-left: 2.5em;
  }
  #main-text ol > li::before {
    left: -2.5em;
    text-align: left;
  }
  #main-text figcaption {
    margin: 24px 0;
    line-height: 36px;
    font-size: 28px;
  }
  #main-text code {
    padding: 0 8px;
    margin: 0 4px;
    line-height: 36px;
  }
  #main-text code,
  #main-text pre {
    font-size: 28px;
  }
  #main-text pre {
    font-size: 28px;
    line-height: 36px;
    padding-top: 12px;
    padding-bottom: 12px;

    margin-left: -100px;
    padding-left: 200px;

    background-position: 0 12px;
    background-size: 100% 36px;

    -webkit-overflow-scrolling: touch;
  }
  .code-popup .content h1 {
    font-size: 24px;
    padding-top: 4px;
    line-height: 44px;

    padding-left: 18px;
    padding-right: 18px;
  }
  .code-popup .content h1 a {
    line-height: 28px;
  }
  .code-popup .content pre {
    font-size: 28px;
    line-height: 36px;
    padding: 12px;
    padding-left: 100px;
    top: 48px;
    background-size: 100% 36px;
    background-position: 0 18px;
  }
  .code-popup .content pre .line-numbers {
    width: 88px;
  }
  #main-text pre .line-numbers {
    font-size: 24px;
    width: 188px;
    padding-top: 14px;
    padding-right: 16px;
    padding-bottom: 8px;
  }
  .code-popup .content h1 button {
    font-size: 100%;
    padding: 12px 20px;
    right: -6px;
    top: -6px;
  }
  .code-popup .content h1 button:active {
    top: -5px;
  }*/
}
