{% extends "tutorial.html" %}

{% block headauthor %}Jan Kleinert <jkleinert@google.com>{% endblock %}

{% block headtitle %}Making Forms Fabulous with HTML5{% endblock %}
{% block pagetitle %}Making Forms Fabulous with HTML5{% endblock %}
{% block head %}
<style>
  article > section :invalid { 
    border-color: #e88;
    -webkit-box-shadow: 0 0 5px rgba(255, 0, 0, .8);
    -moz-box-shadow:0 0 5px rbba(255, 0, 0, .8);
    -o-box-shadow:0 0 5px rbba(255, 0, 0, .8);
    -ms-box-shadow:0 0 5px rbba(255, 0, 0, .8);
    box-shadow:0 0 5px rgba(255, 0, 0, .8);
  }

  article > section :required {
    border-color: #88a;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
    -o-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
    -ms-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
    box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  }

  article > section form {
    width:300px;
    margin: 20px auto;
  }

  article > section input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border:1px solid #ccc;
    font-size:20px;
    width:300px;
    min-height:30px;
    display:block;
    margin-bottom:15px;
    margin-top:5px;
    outline: none;

    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    -ms-border-radius:5px;
    border-radius:5px;
  }

  article > section input[type=submit] {
    padding:10px;
    background:none;
  }

  table.alternating {
    table-layout: fixed;
    width: 100%; 
    text-align: left;
    border-collapse: collapse;
    border: 1px solid #eee;
  }

  table.alternating tr:nth-child(even) {
    background-color: #eee;
  }

  table.alternating thead {
    background-color: #eee;
  }

    
</style>
{% endblock %}
{% block pagebreadcrumb %}Making Forms Fabulous with HTML5{% endblock %}
{% block date %}June 01, 2011{% endblock %}
{% block updated %}{% endblock %}
{% block onload %}{% endblock %}

{% block browsersupport %}
<span class="browser opera supported"><span class="browser_name">Opera</span><span class="support">supported</span></span> <span class="browser ie"><span class="browser_name">Internet Explorer</span><span class="support">unsupported</span></span> <span class="browser safari supported"><span class="browser_name">Safari</span><span class="support">supported</span></span> <span class="browser ff supported"><span class="browser_name">Firefox</span><span class="support">supported</span></span> <span class="browser chrome supported"><span class="browser_name">Chrome</span><span class="support">supported</span></span>
{% endblock %}

{% block iscompatible %}
  return !!(Modernizr.inputtypes.number && Modernizr.inputtypes.email && Modernizr.inputtypes.date && Modernizr.input.placeholder && Modernizr.input.pattern);
{% endblock %}

{% block html5badge %}
<img src="/static/images/identity/html5-badge-h-css3-semantics.png" width="165" height="64" alt="This article is powered by HTML5 CSS3 &amp; Styling and Semantics" title="This article is powered by HTML5 CSS3 &amp; Styling and Semantics"  />
{% endblock %}

{% block content %}
  <h2 id="toc-introduction">Введение</h2>
  <p>Интерес к формам невелик, однако в HTML5 реализованы существенные улучшения как для разработчиков, создающих их, так и для пользователей, их заполняющих. Новые элементы и атрибуты форм, типы элементов ввода, проверка на основе браузера, методики создания стилей CSS3 и объект FormData делают создание форм проще и приятнее.</p>

  <p class="notice tip">
    There is even more up to date forms guidance on our new
    <a href="https://developers.google.com/web/fundamentals/user-input/form-input/">Web Fundamentals</a> site.
  </p>

  <h3 id="toc-intro-support">Поддержка браузеров</h3>

  <p>На момент написания этой статьи поддержка всех новых форм, элементов ввода, атрибутов и типов существенно зависит от конкретного браузера. Реализация одной и той же функции в разных браузерах может существенно отличаться. При этом ситуация с поддержкой форм HTML5 быстро меняется и продолжает улучшаться. На момент написания статьи наиболее актуальными являются <a href="http://wufoo.com/html5/" 
  target="_blank">эти таблицы</a>, в которых приведены подробные сведения о поддержке различными браузерами форм HTML5.</p>

  <h2 id="toc-inputs-attributes">Обзор нововведений</h2>

  <h3 id="toc-inputs-attributes-elements">Новые элементы</h3>

  <p>В языке HTML5 представлено пять новых элементов, связанных с вводом данных и формами. 
  <table class="alternating">
    <thead>
      <tr>
        <th scope="col">Элемент</th>
        <th scope="col">Назначение</th>
        <th scope="col">Примечания</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code><a href="http://dev.w3.org/html5/spec/Overview.html#the-progress-element" 
        target="_blank">progress</a></code></td>
        <td>Представляет ход выполнения задачи.</td>
        <td>Элемент <code>progress</code> может представлять состояние загрузки файла.</td>
      </tr>
      <tr>
        <td><code><a href="http://dev.w3.org/html5/spec/Overview.html#the-meter-element" 
        target="_blank">meter</a></code></td>
        <td>Представляет значение по шкале в известном диапазоне.</td>
        <td>Элемент <code>meter</code> можно использовать, например, для измерения температуры или веса.</td>
      </tr>
      <tr>
        <td><code><a href="http://dev.w3.org/html5/spec/Overview.html#the-datalist-element" 
        target="_blank">datalist</a></code></td>
        <td>Представляет набор элементов <code>option</code>, которые могут использоваться в сочетании с новым атрибутом <code>list</code> для создания раскрывающихся меню.</td>
        <td>Когда пользователь переходит к вводу данных в области, связанной со списком данных, появляется раскрывающееся меню со значениями из перечня <code>datalist</code>.
        </td>
      </tr>
      <tr>
        <td><code><a href="http://dev.w3.org/html5/spec/Overview.html#the-keygen-element" 
        target="_blank">keygen</a></code></td>
        <td>Элемент управления для создания пар ключей.</td>
        <td>При отправке формы в локальное хранилище заносится закрытый ключ, а на сервер отправляется открытый ключ.</td>
      </tr>
      <tr>
        <td><code><a href="http://dev.w3.org/html5/spec/Overview.html#the-output-element" 
        target="_blank">output</a></code></td>
        <td>Отображает результаты расчета.</td>
        <td>Примером использования элемента <code>output</code> может служить вывод суммы значений двух введенных элементов</code>.</td>
      </tr>
    </tbody>
  </table>
  </p>

  <h3 id="toc-inputs-attributes-types">Новые типы элементов ввода</h3>

  <p>В HTML5 представлено 13 новых элементов ввода. В браузерах, которые их не поддерживают, они превращаются в обычные элементы для ввода текста.

  <table class="alternating">
    <thead>
      <tr>
        <th scope="col">Тип элемента ввода</th>
        <th scope="col">Назначение</th>
        <th scope="col">Примечания</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>tel</code></td>
        <td>Ввод номера телефона.</td>
        <td>Элемент <code>tel</code> не принуждает к вводу текста в определенном формате: для этого можно использовать элемент <code>pattern</code> или метод <code>setCustomValidity()</code>, осуществляющий дополнительную проверку.</td>
      </tr>
      <tr>
        <td><code>search</code></td>
        <td>Предлагает пользователю ввести текст, который необходимо найти.</td>
        <td>Разница между <code>search</code> и <code>text</code> заключается в основном в оформлении. Для типа <code>search</code> поле ввода можно оформить в соответствии с полями поиска данной платформы.</td>
      </tr>
      <tr>
        <td><code>url</code></td>
        <td>Ввод одного URL.</td>
        <td>Элемент <code>url</code> используется для ввода отдельного <a href="http://www.w3.org/TR/html5/urls.html#absolute-url" target="_blank">абсолютного URL</a>, который представляет довольно широкий диапазон значений.</td>
      </tr>
      <tr>
        <td><code>email</code></td>
        <td>Ввод одного адреса электронной почты или списка адресов.</td>
        <td>Если указан атрибут <code>multiple</code>, можно ввести несколько адресов электронной почты через запятую.</td>
      </tr>
      <tr>
        <td><code>datetime</code></td>
        <td>Ввод даты и времени в часовом поясе UTC.</td>
        <td></td>
      </tr>
      <tr>
        <td><code>date</code></td>
        <td>Ввод даты без часового пояса.</td>
        <td></td>
      </tr>
      <tr>
        <td><code>month</code></td>
        <td>Ввод даты с указанием года и месяца, но без часового пояса.</td>
        <td></td>
      </tr>
      <tr>
        <td><code>week</code></td>
        <td>Ввод даты, состоящей из номера недели и года, но без часового пояса.</td>
        <td>Пример этого формата – 2011-W05 для пятой недели 2011 года.
        </td>
      </tr>
      <tr>
        <td><code>time</code></td>
        <td>Ввод времени с указанием часов, минут, секунд и долей секунды, но без часового пояса.</td>
        <td></td>
      </tr>
      <tr>
        <td><code>datetime-local</code></td>
        <td>Ввод даты и времени без часового пояса.</td>
        <td></td>
      </tr>
      <tr>
        <td><code>number</code></td>
        <td>Ввод числовых данных.</td>
        <td>Допустимые значения – <a href="http://www.w3.org/TR/html5/common-microsyntaxes.html#valid-floating-point-number" 
        target="_blank">числа с плавающей запятой</a>.</td>
      </tr>
      <tr>
        <td><code>range</code></td>
        <td>Ввод числовых данных (в отличие от типа <code>number</code> само число не играет роли).</td>
        <td>Реализация этого элемента управления диапазона в большинстве поддерживающих его браузеров – ползунок.</td>
      </tr>
      <tr>
        <td><code>color</code></td>
        <td>Выбор цвета с помощью цветового круга.</td>
        <td>Значение должно быть <a href="http://www.w3.org/TR/html5/common-microsyntaxes.html#valid-lowercase-simple-color" 
        target="_blank">действительным простым цветом в нижнем регистре</a>, например #ffffff.</td>
      </tr>
    </tbody>
  </table>
  </p>

  <h3 id="toc-inputs-attributes-attributes">Новые атрибуты ввода</h3>

  <p>В HTML5 также представлено несколько новых атрибутов для элементов ввода и формы.
  <table class="alternating">
    <thead>
      <tr>
        <th scope="col">Атрибут</th>
        <th scope="col">Назначение</th>
        <th scope="col">Примечания</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>autofocus</code></td>
        <td>Фокусирование ввода на элементе, когда страница загружена.</td>
        <td>Атрибут <code>autofocus</code> может применяться к элементам input, select, textarea и button.</td>
      </tr>
      <tr>
        <td><code>placeholder</code></td>
        <td>Подсказка для пользователя о типе данных, которые необходимо ввести.</td>
        <td>Значение заполнителя отображается светлым текстом, пока элемент не будет выделен и пользователь не введет данные. Этот атрибут можно указывать в элементах input и textarea.</td>
      </tr>
      <tr>
        <td><code>form</code></td>
        <td>Указание одной или нескольких форм, которым принадлежит элемент ввода.</td>
        <td>С помощью атрибута <code>form</code> элементы ввода можно размещать в любой части страницы, а не только в объекте формы. Кроме того, отдельный элемент можно связать с несколькими формами.</td>
      </tr>
      <tr>
        <td><code>required</code></td>
        <td>Логический атрибут, который означает, что элемент обязателен.</td>
        <td>Атрибут <code>required</code> полезен при выполнении проверки на основе браузера без использования специального кода JavaScript.</td>
      </tr>
      <tr>
        <td><code>autocomplete</code></td>
        <td>Позволяет указать, что в поле не должно использоваться автозаполнение и в него не следует подставлять значения, ранее введенные пользователем.</td>
        <td>Атрибут <code>autocomplete</code> полезен для таких полей, как номер кредитной карты или одноразовый пароль, которые не следует заполнять автоматически. По умолчанию атрибут <code>autocomplete</code> имеет состояние <code>on</code> ("вкл."). Чтобы отключить его, установите значение <code>off</code> ("выкл.").</td>
      </tr>
      <tr>
        <td><code>pattern</code></td>
        <td>Проверка значения элемента на основе регулярного выражения.</td>
        <td>Если используется атрибут <code>pattern</code>, следует также указать значение <code>title</code>, описывающее для пользователя предполагаемый шаблон ввода.</td>
      </tr>
      <tr>
        <td><code>dirname</code></td>
        <td>Предназначен для отправки сведений о направлении элемента управления вместе с формой.</td>
        <td>Например, если пользователь ввел текст справа налево, а элемент ввода содержит атрибут <code>dirname</code>, то вместе с введенным значением будет отправлен параметр направления.</td>
      </tr>
      <tr>
        <td><code>novalidate</code></td>
        <td>Если в элементе формы указан этот атрибут, проверка ее отправки отключается.</td>
        <td></td>
      </tr>
      <tr>
        <td><code>formaction</code></td>
        <td>Переопределение атрибута action в элементе формы.</td>
        <td>Этот атрибут поддерживается в элементах <code>input</code> и <code>button</code>.</td>
      </tr>
      <tr>
        <td><code>formenctype</code></td>
        <td>Переопределение атрибута enctype в элементе формы.</td>
        <td>Этот атрибут поддерживается в элементах <code>input</code> и <code>button</code>.</td>
      </tr>
      <tr>
        <td><code>formmethod</code></td>
        <td>Переопределение атрибута method в элементе формы.</td>
        <td>Этот атрибут поддерживается в элементах <code>input</code> и <code>button</code>.</td>
      </tr>
      <tr>
        <td><code>formnovalidate</code></td>
        <td>Переопределение атрибута novalidate в элементе формы.</td>
        <td>Этот атрибут поддерживается в элементах <code>input</code> и <code>button</code>.</td>
      </tr>
      <tr>
        <td><code>formtarget</code></td>
        <td>Переопределение атрибута target в элементе формы.</td>
        <td>Этот атрибут поддерживается в элементах <code>input</code> и <code>button</code>.</td>
      </tr>
    </tbody>
  </table> 
  </p>
  
  <h3 id="toc-form-data-object">Объект FormData</h3>

  <p>Одно из усовершенствований технологии <code><a href="http://dev.w3.org/2006/webapi/XMLHttpRequest-2" 
  target="_blank">XMLHttpRequest</a></code> – появление объекта <code> <a href="http://dev.w3.org/2006/webapi/XMLHttpRequest-2/#the-formdata-interface" 
  target="_blank">FormData</a></code>. С помощью <code>FormData</code> можно создавать и отправлять наборы из пар "ключ/значение" и файлы с применением <code>XMLHttpRequest</code>. При использовании этого метода данные отправляются в том же формате, что и с помощью метода формы <code>submit()</code> с типом кодировки <code>multipart/form-data</code>.</p>

  <p>Объект <code>FormData</code> позволяет оперативно создавать формы HTML на языке JavaScript и отправлять их с помощью метода <code>XMLHttpRequest.send()</code>. Ниже приведен простой пример.</p>
  <pre class="prettyprint">var formData = new FormData();
formData.append("part_num", "123ABC"); 
formData.append("part_price", 7.95);
formData.append("part_image", somefile)

var xhr = new XMLHttpRequest();
xhr.open("POST", "http://some.url/");  
xhr.send(formData);</pre>

  <p>С помощью объекта <code>FormData</code> также можно вводить дополнительные данные в существующую форму перед их отправкой.</p>
  <pre class="prettyprint">var formElement = document.getElementById("someFormElement");
var formData = new FormData(formElement);
formData.append("part_description", "The best part ever!");

var xhr = new XMLHttpRequest();
xhr.open("POST", "http://some.url/");
xhr.send(formData);</pre>

  <h2 id="toc-validation">Проверка на основе браузера</h2>

  <p>Следует признать, что проверка данных формы – довольно скучное занятие, однако избежать его нельзя. Сегодня для проверки допустимости введенных данных и их наличия в обязательных полях формы перед ее отправкой на стороне клиента обычно используется код JavaScript или специальная библиотека.
  </p>

  <p>Новые атрибуты ввода, такие как <code>required</code> и <code>pattern</code>, в сочетании с селекторами псевдоклассов CSS, облегчают написание проверок и обратную связь с пользователями. Есть и другие усовершенствованные методы проверки, которые позволяют с помощью кода JavaScript задавать специальные правила и сообщения, а также определять недопустимость элемента и ее причины.</p>

  <h3 id="toc-required">Атрибут required</h3>

  <p>Если указан атрибут <code>required</code>, при отправке формы поле должно содержать значение. Ниже приведен пример поля ввода обязательного адреса электронной почты, в котором проверяется, введено ли значение и является ли им действительный адрес электронной почты, как описано <a href="http://dev.w3.org/html5/spec/Overview.html#valid-e-mail-address" 
  target="_blank">здесь</a>.<br>
  <pre class="prettyprint">&lt;input type="email" id="email_addr" name="email_addr" required /&gt;</pre>
  </p>

  <h3 id="toc-pattern">Атрибут pattern</h3>

  <p>Атрибут <code>pattern</code> задает регулярное выражение, используемое для проверки поля ввода. В этом примере показано обязательное поле ввода текста для номера детали. Предполагается, что такой номер состоит из трех букв верхнего регистра и четырех цифр. Использование атрибутов <code>required</code> и <code>pattern</code> позволяет убедиться, что в поле введено значение, которое соответствует этому формату. Если пользователь наводит указатель на поле, отображается сообщение в атрибуте заголовка.
  <br>
  <pre class="prettyprint">&lt;input type="text" id="part" name="part" required pattern="[A-Z]{3}[0-9]{4}"
       title="Part numbers consist of 3 uppercase letters followed by 4 digits."/&gt;</pre>
  </p>

  <p>Немного изменив предыдущий пример, можно выделить поле ввода красным цветом, если в него введен недопустимый номер детали. Для этого достаточно добавить стиль CSS, помещающий поле ввода в красную рамку, если значение недействительно.
  <br>
  <pre class="prettyprint">:invalid {
  border: 2px solid #ff0000;
}</pre>

  <h3 id="toc-formnovalidate">Атрибут formnovalidate</h3>
  <p>Атрибут <code>formnovalidate</code> можно применять к элементам <code>input</code> и <code>button</code>. Он включает проверку отправки формы. Ниже приведен пример, в котором для отправки формы с помощью кнопки "Отправить" требуется действительное значение, однако для ее отправки с помощью кнопки "Сохранить" оно не требуется.
  <br>
  <pre class="prettyprint">&lt;input type="text" id="part" name="part" required pattern="[A-Z]{3}[0-9]{4}"
       title="Part numbers consist of 3 uppercase letters followed by 4 digits."/&gt;
&lt;input type="submit" formnovalidate value="Save"&gt;
&lt;input type="submit" value="Submit"&gt;</pre>
  </p>

  <h3 id="toc-constraint-validation">API проверки ограничений</h3>

  <p>В <a href="http://dev.w3.org/html5/spec/association-of-controls-and-forms.html#the-constraint-validation-api" 
  target="_blank">API проверки ограничений</a> реализованы удобные инструменты для выполнения особых проверок. Он позволяет решать такие задачи, как установка персонализированной ошибки, проверка допустимости элемента и определение причины его недопустимости. Ниже приведен пример, в котором выдается персонализированное сообщение об ошибке, если значения в двух полях не совпадают.
  <br>
  <pre class="prettyprint">&lt;label&gt;Email:&lt;/label&gt;
&lt;input type="email" id="email_addr" name="email_addr"&gt;

&lt;label&gt;Repeat Email Address:&lt;/label&gt;
&lt;input type="email" id="email_addr_repeat" name="email_addr_repeat" oninput="check(this)"&gt;

&lt;script&gt;
function check(input) {
  if (input.value != document.getElementById('email_addr').value) {
    input.setCustomValidity('The two email addresses must match.');
  } else {
    // input is valid -- reset the error message
    input.setCustomValidity('');
  }
}
&lt;/script&gt;</pre>
  </p>

  <h2 id="toc-example-form">Сборка</h2>

  <p>Ниже приведен пример формы запроса на резервирование, в которой используются различные типы элементов ввода, проверка формы, а также селекторы и стили CSS.</p>
  <form oninput="total.value = (nights.valueAsNumber * 99) + 
   ((guests.valueAsNumber - 1) * 10)">
    <label>Полное имя:</label>
    <input type="text" id="full_name" name="full_name" placeholder="Jane Doe" 
    required>

    <label>Адрес электронной почты:</label>
    <input type="email" id="email_addr" name="email_addr" required>

    <label>Повторите адрес электронной почты:</label>
    <input type="email" id="email_addr_repeat" name="email_addr_repeat" required
    oninput="check(this)">

    <label>Дата прибытия:</label>
    <input type="date" id="arrival_dt" name="arrival_dt" required>
    
    <label>Количество суток (стоимость номера – 990 рублей в сутки):</label>
    <input type="number" id="nights" name="nights" value="1" min="1" max="30" 
    required>

    <label>Количество проживающих (плата за каждого дополнительного проживающего составляет 100 рублей в сутки):</label>
    <input type="number" id="guests" name="guests" value="1" min="1" max="4" 
    required>

    <label>Общая сумма:</label>
     <output id="total" name="total">990</output>,00 р.
    <br><br>

    <label>Код скидки:</label>
    <input type="text" id="promo" name="promo" pattern="[A-Za-z0-9]{6}" 
    title="Promo codes consist of 6 alphanumeric characters.">

    <input type="submit" value="Запрос на резервирование"  /> 
  </form>

  <script>
  function check(input) {
    if (input.value != document.getElementById('email_addr').value) {
      input.setCustomValidity('The two email addresses must match.');
    } else {
      // input is valid -- reset the error message
      input.setCustomValidity('');
    }
  }
  </script>

  <p>Код HTML и JavaScript для формы:</p>
  <pre class="prettyprint">&lt;form oninput="total.value = (nights.valueAsNumber * 99) + 
 ((guests.valueAsNumber - 1) * 10)"&gt;

  &lt;label&gt;Full name:&lt;/label&gt;
  &lt;input type="text" id="full_name" name="full_name" placeholder="Jane Doe" required&gt;

  &lt;label&gt;Email address:&lt;/label&gt;
  &lt;input type="email" id="email_addr" name="email_addr" required&gt;

  &lt;label&gt;Repeat email address:&lt;/label&gt;
  &lt;input type="email" id="email_addr_repeat" name="email_addr_repeat" required 
   oninput="check(this)"&gt;

  &lt;label&gt;Arrival date:&lt;/label&gt;
  &lt;input type="date" id="arrival_dt" name="arrival_dt" required&gt;
  
  &lt;label&gt;Number of nights (rooms are $99.00 per night):&lt;/label&gt;
  &lt;input type="number" id="nights" name="nights" value="1" min="1" max="30" required&gt;

  &lt;label&gt;Number of guests (each additional guest adds $10.00 per night):&lt;/label&gt;
  &lt;input type="number" id="guests" name="guests" value="1" min="1" max="4" required&gt;

  &lt;label&gt;Estimated total:&lt;/label&gt;
  $&lt;output id="total" name="total"&gt;99&lt;/output&gt;.00
  &lt;br&gt;&lt;br&gt;

  &lt;label&gt;Promo code:&lt;/label&gt;
  &lt;input type="text" id="promo" name="promo" pattern="[A-Za-z0-9]{6}" 
   title="Promo codes consist of 6 alphanumeric characters."&gt;

  &lt;input type="submit" value="Request Reservation" /&gt; 
&lt;/form&gt;

&lt;script&gt;
function check(input) {
  if (input.value != document.getElementById('email_addr').value) {
    input.setCustomValidity('The two email addresses must match.');
  } else {
    // input is valid -- reset the error message
    input.setCustomValidity('');
  }
}
&lt;/script&gt;
</pre>

  <p>CSS для кода формы:</p>
  <pre class="prettyprint">:invalid { 
  border-color: #e88;
  -webkit-box-shadow: 0 0 5px rgba(255, 0, 0, .8);
  -moz-box-shadow: 0 0 5px rbba(255, 0, 0, .8);
  -o-box-shadow: 0 0 5px rbba(255, 0, 0, .8);
  -ms-box-shadow: 0 0 5px rbba(255, 0, 0, .8);
  box-shadow:0 0 5px rgba(255, 0, 0, .8);
}

:required {
  border-color: #88a;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -o-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -ms-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  box-shadow: 0 0 5px rgba(0, 0, 255, .5);
}

form {
  width:300px;
  margin: 20px auto;
}

input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border:1px solid #ccc;
  font-size:20px;
  width:300px;
  min-height:30px;
  display:block;
  margin-bottom:15px;
  margin-top:5px;
  outline: none;

  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  -ms-border-radius:5px;
  border-radius:5px;
}

input[type=submit] {
  background:none;
  padding:10px;
}</pre>

<h2 id="resources">Ссылки</h2>
<ul>
  <li><a href="http://www.w3.org/TR/html5/forms.html">Спецификация W3C</a>.</li>
  <li><a href="http://wufoo.com/html5/">Текущее состояние форм HTML5</a>.</li>
</ul>
{% endblock %}