{% extends "feature.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block headtitle %}{% trans "Storage" %}{% endblock %}
{% block h2title   %}{% trans "Storage" %}{% endblock %}
{% block tuttags   %}storage,file,offline,webdatabase{% endblock %}
{% block caniuse   %}{% endblock %}
{% block supportblockstyle %}{% endblock %} <!-- 'multiple' if more than one caniuse class, 'none' if none. TODO: This logic should be moved out of the view!! -->

{% block header %}
  <section id="intro">
    <p class="intro">
      {% blocktrans %}
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse pharetra purus vitae elit. Praesent sodales dolor. Etiam congue. Fusce a felis in mi auctor rhoncus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse suscipit.
      {% endblocktrans %}
    </p>
  </section>
{% endblock %}


{% block description %}
  <section id="description">
    <h3>Lorem Ipsum</h3>
    <p>{% blocktrans %}Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse pharetra purus vitae elit. Praesent sodales dolor. Etiam congue. Fusce a felis in mi auctor rhoncus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse suscipit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum est. Cras felis diam, malesuada in, pellentesque vel, ornare ut, purus. Suspendisse eget libero.{% endblocktrans %}</p>

    <h3>{% trans "Foo" %}</h3>
    <p>{% blocktrans %}Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse pharetra purus vitae elit. Praesent sodales dolor. Etiam congue. Fusce a felis in mi auctor rhoncus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse suscipit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum est. Cras felis diam, malesuada in, pellentesque vel, ornare ut, purus. Suspendisse eget libero.{% endblocktrans %}</p>
  </section>
{% endblock %}


{% block support_details %}
  <!-- <p>Lorem ipsum.</p>  -->
{% endblock %}


{% block tutorials %}
  <li><a href="http://example.com/foo">Lorem Ipsum Dolor Sit Amet</a></li>
  <li><a href="http://example.com/bar">consectetuer Adipiscing Elit</a></li>
{% endblock %}


{% block content %}
  <section id="demos">
    <h3>{% trans "Demos" %}</h3>
    <figure>
      <a href="">
        <img src="/static/images/features/">
        <figcaption></figcaption>
      </a>
    </figure>
  </section>

  <section id="in_the_wild">
    <h3>{% trans "In the Wild" %}</h3>
    <figure>
      <a href="">
        <img src="/static/images/features/">
        <figcaption></figcaption>
      </a>
    </figure>
  </section>

  <section id="resources">
    <h3>{% trans "Resources" %}</h3>
    <dl>
      <dt><a href="http://example.com/foo/bar/baz">Foo</a></dt>
      <dd>{% trans "Lorem ipsum dolor sit amet, consectetuer adipiscing elit." %}</dd>
    </dl>
  </section>

  <!-- Add as many <section>s as you like! The three above are the most common. -->
  <!-- Make sure that new sections are given IDs and new entries in the master TOC navigator in the base template. -->
{% endblock %}