{% extends "feature.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block headtitle %}{% trans "Storage" %}{% endblock %}
{% block h2title   %}{% trans "Storage" %}{% endblock %}
{% block tuttags   %}storage,file,offline,webdatabase{% endblock %}
{% block caniuse   %}sql-storage,indexeddb,namevalue-storage{% endblock %}
{% block updatesblockstyle %}two_columns{% endblock %} <!-- 'one_half' if next to a browser support box. TODO: This logic should be moved out of the view!! -->
{% block supportblockstyle %}multiple{% endblock %} <!-- 'multiple' if more than one caniuse class, 'none' if none. TODO: This logic should be moved out of the view!! -->

{% block header %}
  <section id="intro">
    <p class="intro">
      {% blocktrans %}
        When web developers think of storing anything about the user, they immediately think of uploading to the server. HTML5 changes that, as there are now several technologies allowing the app to save data on the client device. It might also be sync'd back to the server, or it might only ever stay on the client: that's down to you, the developer.
      {% endblocktrans %}
    </p>
    <div class="two_columns">
    <p>
      {% blocktrans %}
        There are several reasons to use client-side storage. First, you can make your app work when the user is offline, possibly sync'ing data back once the network is connected again. Second, it's a performance booster; you can show a large corpus of data as soon as the user clicks on to your site, instead of waiting for it to download again. Third, it's an easier programming model, with no server infrastructure required. Of course, the data is more vulnerable and the user can't access it from multiple clients, so you should only use it for non-critical data, in particular cached versions of data that's also "in the cloud". See <a href="/tutorials/offline/whats-offline/">"Offline": What does it mean and why should I care?</a> for a general discussion of offline technologies, of which client-side storage is one component.
      {% endblocktrans %}
    </p>
    </div>
  </section>
{% endblock %}


{% block support_details %}
  <p>{% blocktrans %}While Web SQL Database is supported in Chrome, Safari &amp; Opera, Firefox and IE are unlikely to support it any time soon (Mozilla is <a href="http://hacks.mozilla.org/2010/06/beyond-html5-database-apis-and-the-road-to-indexeddb/">philosophically opposed</a>). Indexed Database has an early implementation in Firefox 4.0 Beta and Chrome dev channel. There's a good chance all browsers will support it in the future, but that's not yet clear.{% endblocktrans %}</p>
{% endblock %}


{% block tutorials %}
  <li><a href="http://html5tutorial.net/tutorials/working-with-html5-localstorage.html">4-part tutorial on Web Storage</a></li>
  <li><a href="http://hacks.mozilla.org/2010/06/comparing-indexeddb-and-webdatabase/">Firefox 4: An early walk-through of IndexedDB</a></li>
{% endblock %}


{% block content %}
  <section id="description">
    <h3>{% trans "Offline Technologies" %}</h3>

    <ul>
      <li>{% blocktrans %}<a href="http://dev.w3.org/html5/webstorage/">Web Storage</a> simply provides a key-value mapping, e.g. <code>localStorage["name"] = username;</code>.  Unfortunately, present implementations only support string-to-string mappings, so you need to serialise and de-serialise other data structures. You can do so using <code>JSON.stringify()</code> and <code>JSON.parse()</code>.{% endblocktrans %}</li>
      <li>{% blocktrans %}<a href="http://dev.w3.org/html5/webdatabase/">Web SQL Database</a> gives you all the power - and effort - of a structured SQL relational database.{% endblocktrans %}</li>
      <li>{% blocktrans %}<a href="http://www.w3.org/TR/IndexedDB/">Indexed Database</a> is somewhere in between Web Storage and Web SQL Database. Like Web Storage, it's a straightforward key-value mapping, but it supports indexes like those of relational databases, so searching objects matching a particular field is fast; you don't have to manually iterate through every object in the store.{% endblocktrans %}</li>
      <li>{% blocktrans %}<a href="http://www.w3.org/TR/FileAPI/">File Access</a> is an API for reading file content in JavaScript. Given a set of files the user has added to a "file" input element, you can read the content of the file or reference it as a URL, e.g. if the user has specified an image file, you can show the image. There are also proposals underway for file writing capabilities.{% endblocktrans %}</li>
    </ul>

    <p>{% blocktrans %}For a detailed comparison of client-side storage techniques with code demos, see our <a href="/tutorials/offline/storage/">Client-Side Storage</a> article.{% endblocktrans %}</p>
  </section>

  <section id="demos">
    <h3>{% trans "Demos" %}</h3>
    <figure>
      <a href="http://html5demos.com/storage">
        <img src="/static/images/features/html5demos-storage.jpg">
        <figcaption>HTML5 Demos: Storage</figcaption>
      </a>
    </figure>
    <figure>    
      <a href="http://www.ellipsetours.com/Demos/storage/">
        <img src="/static/images/features/sync-with-storage.png">
        <figcaption>Synchronization with localStorage</figcaption>
      </a>
    </figure>
    <figure>
      <a href="http://project.mahemoff.com/timer/timer.html">
        <img src="/static/images/features/timer.jpg">
        <figcaption>Timer demo</figcaption>
      </a>
    </figure>
  </section>

  <section id="in_the_wild">
    <h3>{% trans "In the Wild" %}</h3>
    <figure>
      <a href="http://googlecode.blogspot.com/2009/04/gmail-for-mobile-html5-series-using.html">
        <img src="/static/images/features/offline-gmail.png">
        <figcaption>Mobile Gmail</figcaption>
      </a>
    </figure>
    <figure>
      <a href="http://mugtug.com/darkroom/">
        <img src="/static/images/features/darkroom.png">
        <figcaption>MugTug Darkroom</figcaption>
      </a>
    </figure>
  </section>

  <section id="resources">
    <h3>{% trans "Resources" %}</h3>
    <ul class="definitions">
      <li>
        <a href="http://diveintohtml5.info/storage.html">Dive into HTML5: Storage</a>
        <span>{% trans "Mark Pilgrim dives into using the storage APIs." %}</span>
      </li>
      <li>
        <a href="https://developer.mozilla.org/en/DOM/Storage">MDC: DOM Storage</a>
        <span>{% trans "Mozilla Developer Center on Web Storage." %}</span>
      </li>
      <li>
        <a href="https://developer.mozilla.org/en/IndexedDB">MDC: IndexedDB</a>
        <span>{% trans "Mozilla Developer Center on IndexedDB." %}</span>
      </li>
      <li>
        <a href="http://hacks.mozilla.org/2010/01/offline-web-applications/">Mozilla Hacks: offline web applications</a>
        <span>{% trans "Creating a todo list manager using localStorage, app cache and offline events." %}</span>
      </li>
      <li>
        <a href="http://hacks.mozilla.org/2010/06/beyond-html5-database-apis-and-the-road-to-indexeddb/">Beyond HTML5: Database APIs and the Road to IndexedDB</a>
        <span>{% trans "Mozilla explains its views on Web SQL Database and Indexed Database" %}</span>
      </li>
    </ul>
  </section>
{% endblock %}