{% extends "tutorial.html" %}

{% block headauthor %}埃里克·比德尔曼 (Eric Bidelman) <ericbidelman@chromium.org>{% endblock %}
{% block pageauthor %}{% profilelinks ericbidelman %}{% endblock %}
{% block headtitle %}XMLHttpRequest2 新技巧{% endblock %}
{% block pagetitle %}XMLHttpRequest2 新技巧{% endblock %}
{% block head %}
<style>
figure {
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}
figure img {
  border: 1px solid #ccc;
}
.example {
  padding: 10px;
  border: 1px solid #ccc;
}
.button {
  height: 30px;
  width: 96px;
  vertical-align: middle;
}
.button::-webkit-file-upload-button,
.button::-moz-file-upload-button {
  visibility: hidden;
}
.button:before {
  content: 'Select a file';
  display: inline-block;
  background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#F9F9F9), to(#E3E3E3));
  background: -webkit-linear-gradient(#F9F9F9 40%, #E3E3E3 70%);
  background: -moz-linear-gradient(#F9F9F9 40%, #E3E3E3 70%);
  background: -ms-linear-gradient(#F9F9F9 40%, #E3E3E3 70%);
  background: -o-linear-gradient(#F9F9F9 40%, #E3E3E3 70%);
  background: linear-gradient(#F9F9F9 40%, #E3E3E3 70%);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.button:hover:before {
  border-color: black;
}
.button:active:before {
  background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#E3E3E3), to(#F9F9F9));
  background: -webkit-linear-gradient(#E3E3E3 40%, #F9F9F9 70%);
  background: -moz-linear-gradient(#E3E3E3 40%, #F9F9F9 70%);
  background: -ms-linear-gradient(#E3E3E3 40%, #F9F9F9 70%);
  background: -o-linear-gradient(#E3E3E3 40%, #F9F9F9 70%);
  background: linear-gradient(#E3E3E3 40%, #F9F9F9 70%);
}
#afile {
  width: 125px;
}
#afile:before {
  content: 'Select a BIG file';
}
</style>
{% endblock %}
{% block pagebreadcrumb %}XHR2 新技巧{% endblock %}
{% block date %}2011 年 5 月 27 日{% endblock %}
{% block updated %}{% endblock %}
{% block onload %}{% endblock %}

{% block browsersupport %}
<span class="browser opera"><span class="browser_name">Opera</span><span class="support">不支持</span></span> <span class="browser ie"><span class="browser_name">Internet Explorer</span><span class="support">不支持</span></span> <span class="browser safari supported"><span class="browser_name">Safari</span><span class="support">支持</span></span> <span class="browser ff supported"><span class="browser_name">Firefox</span><span class="support">支持</span></span> <span class="browser chrome supported"><span class="browser_name">Chrome 浏览器</span><span class="support">支持</span></span>
{% endblock %}

{% block iscompatible %}
  var xhr = new XMLHttpRequest(); return 'responseType' in xhr && 'response' in xhr && 'withCredentials' in xhr;
{% endblock %}

{% block html5badge %}
<img src="/static/images/identity/html5-badge-h-performance.png" width="133" height="64" alt="本文由 HTML5 性能与集成强力驱动" title="本文由 HTML5 性能与集成强力驱动"  />
{% endblock %}


{% block content %}
  <h2 id="toc-introduction">简介</h2>

  <p>HTML5 世界中有这样一位无名英雄：<code>XMLHttpRequest</code>。严格地说，XHR2 并不属于 HTML5。不过，它是浏览器供应商对于核心平台不断做出的改进中的一部分。我之所以将 XHR2 加入我们新的百宝囊中，就是因为它在如今复杂的网络应用中扮演了不可或缺的角色。</p>

  <p>结果呢，我们这位老朋友来了个大变身，很多人都不知道它的新功能了。<a href="http://dev.w3.org/2006/webapi/XMLHttpRequest-2/">2 级 XMLHttpRequest</a> 引入了大量的新功能（例如跨源请求、上传进度事件以及对上传/下载二进制数据的支持等），一举封杀了我们网络应用中的疯狂黑客。这使得 AJAX 可以与很多尖端的 HTML5 API 结合使用，例如 <a href="/tutorials/file/filesystem/">File System API</a>、<a href="http://chromium.googlecode.com/svn/trunk/samples/audio/specification/specification.html">Web Audio API</a> 和 WebGL。</p>

  <p>此教程重点介绍 <code>XMLHttpRequest</code> 中的新功能，尤其是可用于<a href="/tutorials/file/dndfiles/">处理文件</a>的功能。</p>

  <h2 id="toc-bin-data">抓取数据</h2>

  <p>以前通过 XHR 抓取二进制 blob 形式的文件是很痛苦的事情。从技术上来说，这甚至是不可能的实现。有一种广为流传的一种技巧，是将 MIME 类型替换为由用户定义的字符集，如下所示：</p>

  <p id="toc-old-download">提取图片的旧方法：</p>

<pre class="prettyprint">
var xhr = new XMLHttpRequest();
xhr.open('GET', '/path/to/image.png', true);

// Hack to pass bytes through unprocessed.
<b>xhr.overrideMimeType('text/plain; charset=x-user-defined');</b>

xhr.onreadystatechange = function(e) {
  if (this.readyState == 4 &amp;&amp; this.status == 200) {
    var binStr = this.responseText;
    for (var i = 0, len = binStr.length; i &lt; len; ++i) {
      <b>var c = binStr.charCodeAt(i);</b>
      <b>//String.fromCharCode(c &amp; 0xff);</b>
      <b>var byte = c &amp; 0xff;  // byte at offset i</b>
    }
  }
};

xhr.send();
</pre>

  <p>虽然这种方法可行，但是 <code>responseText</code> 中实际返回的并不是二进制 blob，而是代表图片文件的二进制字符串。我们要巧妙地让服务器在不作处理的情况下，将这些数据传递回去。虽然这个技巧有用，但是我不推荐大家走这种歪门邪道。只要是通过玩弄字符代码和字符串操控技巧，强行将数据转化成所需的格式，都会出现问题。</p>

  <h3 id="toc-response">指定响应格式</h3>

  <p>在前一个示例中，我们通过替换服务器的 MIME 类型并将响应文本作为二进制字符串处理，下载了二进制“文件”形式的图片。现在，让我们利用 <code>XMLHttpRequest</code> 新增的 <code>responseType</code> 和 <code>response</code> 属性，告知浏览器我们希望返回什么格式的数据。</p>

  <dl>
    <dt>xhr.<strong>responseType</strong><dt>
    <dd>在发送请求前，根据您的数据需要，将 <code>xhr.responseType</code> 设置为“text”、“arraybuffer”、“blob”或“document”。请注意，设置（或忽略）<code>xhr.responseType = ''</code> 会默认将响应设为“text”。</dd>
    <dt>xhr.<strong>response</strong></dt>
    <dd>成功发送请求后，xhr 的响应属性会包含 <code>DOMString</code>、<code>ArrayBuffer</code>、<code>Blob</code> 或 <code>Document</code> 形式（具体取决于 <code>responseTyp </code> 的设置）的请求数据。</dd>
  </dl>

  <p>凭借这个优秀的新属性，我们可以修改上一个示例：以 <code>ArrayBuffer</code> 而非字符串的形式抓取图片。将缓冲区移交给 <code>BlobBuilder</code> API 可创建 <code>Blob</code>： </p>

  <pre class="prettyprint">
BlobBuilder = window.MozBlobBuilder || window.WebKitBlobBuilder || window.BlobBuilder;

var xhr = new XMLHttpRequest();
xhr.open('GET', '/path/to/image.png', true);
<b>xhr.responseType = 'arraybuffer';</b>

<b>xhr.onload</b> = function(e) {
  if (this.status == 200) {
    var bb = new BlobBuilder();
    bb.append(<b>this.response</b>); // Note: not xhr.responseText

    var blob = bb.getBlob('image/png');
    ...
  }
};

xhr.send();
</pre>

    <p>好多了！</p>

    <h4 id="toc-reponseTypeArrayBuffer">ArrayBuffer 响应</h4>

    <p><a href="https://developer.mozilla.org/en/JavaScript_typed_arrays/ArrayBuffer"><code>ArrayBuffer</code></a> 是二进制数据通用的固定长度容器。如果您需要原始数据的通用缓冲区，ArrayBuffer 就非常好用，但是它真正强大的功能是让您使用 <a href="https://developer.mozilla.org/en/JavaScript_typed_arrays">JavaScript 类型数组</a>创建底层数据的“视图”。实际上，可以通过单个 <code>ArrayBuffer</code> 来源创建多个视图。例如，您可以创建一个 8 位整数数组，与来自相同数据的现有 32 位整数数组共享同一个 <code>ArrayBuffer</code>。底层数据保持不变，我们只是创建其不同的表示方法。</p>

    <p>例如，下面以 <code>ArrayBuffer</code> 的形式抓取我们相同的图片，但是现在，会通过该数据缓冲区创建无符号的 8 位整数数组。</p>

    <pre class="prettyprint">
var xhr = new XMLHttpRequest();
xhr.open('GET', '/path/to/image.png', true);
<b>xhr.responseType = 'arraybuffer';</b>

<b>xhr.onload</b> = function(e) {
  var uInt8Array = new <b>Uint8Array</b>(<b>this.response</b>); // this.response == uInt8Array.buffer
  // var byte3 = uInt8Array[4]; // byte at offset 4
  ...
};

xhr.send();
</pre>

  <h4 id="toc-reponseTypeBlob">Blob 响应</h4>

  <p>如果您要直接处理 <a href="https://developer.mozilla.org/en/DOM/Blob"><code>Blob</code></a> 且/或不需要操作任何文件的字节，可使用 <code>xhr.responseType='blob'</code>：</p>

  <pre class="prettyprint">
window.URL = window.URL || window.webkitURL;  // Take care of vendor prefixes.

var xhr = new XMLHttpRequest();
xhr.open('GET', '/path/to/image.png', true);
<b>xhr.responseType = 'blob';</b>

<b>xhr.onload</b> = function(e) {
  if (this.status == 200) {
    var blob = <b>this.response</b>;

    var img = document.createElement('img');
    img.onload = function(e) {
      <b>window.URL.revokeObjectURL(img.src);</b> // Clean up after yourself.
    };
    img.src = <b>window.URL.createObjectURL(blob);</b>
    document.body.appendChild(img);
    ...
  }
};

xhr.send();
</pre>

<p><code>Blob</code> 可用于很多场合，包括保存到 <a href="/tutorials/indexeddb/todo/">indexedDB</a>、写入 HTML5 <a href="/tutorials/file/filesystem/">文件系统</a> 或<a href="/tutorials/workers/basics/#toc-inlineworkers-bloburis">创建 Blob 网址</a>（如本例中所示）。</p>

  <h2 id="toc-sending">发送数据</h2>

  <p>能够<a href="#toc-response">下载各种格式的数据</a>固然是件好事，但是如果不能将这些丰富格式的数据送回本垒（服务器），那就毫无意义了。<code>XMLHttpRequest</code> 有时候会限制我们发送 <code>DOMString</code> 或 <code>Document</code> (XML) 数据。但是现在不会了。现已替换成经过修改的 <code>send()</code> 方法，可接受以下任何类型：<code>DOMString</code>、<code>Document</code>、<code>FormData</code>、<code>Blob</code>、<code>File</code>、<code>ArrayBuffer</code>。本部分的其余内容中的示例演示了如何使用各类型发送数据。</p>

  <h3 id="toc-send-string">发送字符串数据：xhr.send(DOMString)</h3>

<pre class="prettyprint" style="display:inline-block;margin-right:10px;vertical-align:top">
function sendText(txt) {
  var xhr = new XMLHttpRequest();
  xhr.open('POST', '/server', true);
  xhr.onload = function(e) {
    if (this.status == 200) {
      console.log(<b>this.responseText</b>);
    }
  };

  xhr.send(txt);
}

sendText(<b>'test string'</b>);
</pre>

<pre class="prettyprint"  style="display:inline-block">
function sendTextNew(txt) {
  var xhr = new XMLHttpRequest();
  xhr.open('POST', '/server', true);
  <b>xhr.responseType = 'text';</b>
  xhr.onload = function(e) {
    if (this.status == 200) {
      console.log(<b>this.response</b>);
    }
  };
  xhr.send(txt);
}

sendText2(<b>'test string'</b>);
</pre>

  <p>这没有新内容，只是正确的代码段略有不同。其中设置了 <code>responseType='text'</code> 作为对比。再次说明，省略此行会得到同样的结果。</p>

  <h3 id="toc-send-formdata">提交表单：xhr.send(FormData)</h3>

  <p>很多人可能习惯于使用 <a href="http://jquery.malsup.com/form/">jQuery 插件</a>或其他库来处理 AJAX 表单提交。而我们可以改用 <a href="https://developer.mozilla.org/en/XMLHttpRequest/FormData"><code>FormData</code></a>，这是另一种针对 XHR2 设计的新数据类型。使用 <code>FormData</code> 能够很方便地实时以 JavaScript 创建 HTML <code>&lt;form&gt;</code>。然后可以使用 AJAX 提交该表单：</p>

<pre class="prettyprint">
function sendForm() {
  var formData = new <b>FormData</b>();
  <b>formData.append</b>('username', 'johndoe');
  <b>formData.append</b>('id', 123456);

  var xhr = new XMLHttpRequest();
  xhr.open('POST', '/server', true);
  xhr.onload = function(e) { ... };

  xhr.send(<b>formData</b>);
}
</pre>

  <p>实质上，我们只是动态创建了 <code>&lt;form&gt;</code>，并通过调用 append 方法为其附加了 <code>&lt;input&gt;</code> 值。</p>

  <p>当然，您无需从一开始就创建 <code>&lt;form&gt;</code>。<code>FormData</code> 对象可通过页面上现有的 <code>HTMLFormElement</code> 进行初始化。例如：</p>

  <pre class="prettyprint">
&lt;form id="myform" name="myform" action="/server">
  &lt;input type="text" name="username" value="johndoe">
  &lt;input type="number" name="id" value="123456">
  &lt;input type="submit" onclick="<b>return sendForm(this.form);</b>">
&lt;/form>
</pre>
<pre class="prettyprint">
function sendForm(form) {
  var formData = new <b>FormData</b>(form);

  <b>formData.append</b>('secret_token', '1234567890'); // Append extra data before send.

  var xhr = new XMLHttpRequest();
  xhr.open('POST', form.action, true);
  xhr.onload = function(e) { ... };

  xhr.send(<b>formData</b>);

  return false; // Prevent page from submitting.
}
</pre>

  <p>HTML 表单可包含文件上传（例如 <code>&lt;input type="file"&gt;</code>），而 <code>FormData</code> 也可以处理此操作。只需附加文件，浏览器就会在调用 <code>send()</code> 时构建 <code>multipart/form-data</code> 请求。</p>

<pre class="prettyprint">
function uploadFiles(url, files) {
  var formData = new <b>FormData</b>();

  for (var i = 0, file; file = files[i]; ++i) {
    <b>formData.append(file.name, file);</b>
  }

  var xhr = new XMLHttpRequest();
  xhr.open('POST', url, true);
  xhr.onload = function(e) { ... };

  xhr.send(<b>formData</b>);  // multipart/form-data
}

document.querySelector('input[type="file"]').addEventListener('change', function(e) {
  uploadFiles('/server', this.files);
}, false);
</pre>

  <h3 id="toc-send-blob">上传文件或 blob：xhr.send(Blob)</h3>

  <p>我们也可以使用 XHR 发送 <code>File</code> 或 <code>Blob</code>。请注意，所有 <code>File</code> 都是 <code>Blob</code>，所以在此使用两者皆可。</p>

  <p>该示例使用 <code>BlobBuilder</code> API 从头开始创建新的文本文件，并将该 <code>Blob</code> 上传到服务器。该代码还设置了一个处理程序，用于通知用户上传进度：</p>

<pre class="prettyprint">
&lt;progress min="0" max="100" value="0">0% complete&lt;/progress>
</pre>
<pre class="prettyprint">
function upload(blobOrFile) {
  var xhr = new XMLHttpRequest();
  xhr.open('POST', '/server', true);
  xhr.onload = function(e) { ... };

  // Listen to the upload progress.
  var progressBar = document.querySelector('progress');
  <b>xhr.upload.onprogress</b> = function(e) {
    if (e.lengthComputable) {
      progressBar.value = (e.loaded / e.total) * 100;
      progressBar.textContent = progressBar.value; // Fallback for unsupported browsers.
    }
  };

  xhr.send(<b>blobOrFile</b>);
}

// Take care of vendor prefixes.
BlobBuilder = window.MozBlobBuilder || window.WebKitBlobBuilder || window.BlobBuilder;

var bb = new <b>BlobBuilder</b>();
<b>bb.append</b>('hello world');

upload(<b>bb.getBlob('text/plain')</b>);
</pre>

  <h3 id="toc-send-arraybuffer">上传字节：xhr.send(ArrayBuffer)</h3>

  <p>最后也是相当重要的一点就是，我们能以 XHR 的有效负载形式发送 <code>ArrayBuffer</code>。</p>

<pre class="prettyprint">
function sendArrayBuffer() {
  var xhr = new XMLHttpRequest();
  xhr.open('POST', '/server', true);
  xhr.onload = function(e) { ... };

  <b>var uInt8Array = new <b>Uint8Array</b>([1, 2, 3]);</b>

  xhr.send(<b>uInt8Array.buffer</b>);
}
</pre>

  <h2 id="toc-cors">跨源资源共享 (CORS)</h2>

  <p><a href="http://dev.w3.org/2006/waf/access-control/">CORS</a> 允许一个域上的网络应用向另一个域提交跨域 AJAX 请求。启用此功能非常简单，只需由服务器发送一个响应标头即可。</p>

  <h3 id="toc-enable-cors">启用 CORS 请求</h3>

  <p>假设您的应用已经在 <code>example.com</code> 上了，而您想要从 <code>www.example2.com</code> 提取数据。一般情况下，如果您尝试进行这种类型的 AJAX 调用，请求将会失败，而浏览器将会出现“源不匹配”的错误。利用 CORS，<code>www.example2.com</code> 只需添加一个标头，就可以允许来自 <code>example.com</code> 的请求：</p>

  <pre class="prettyprint">
Access-Control-Allow-Origin: http://example.com
</pre>

  <p>可将 <code>Access-Control-Allow-Origin</code> 添加到某网站下或整个域中的单个资源。要允许任何域向您提交请求，请设置如下：<i></i>

  <pre class="prettyprint">
Access-Control-Allow-Origin: <b>*</b>
</pre>

  <p>其实，该网站 (html5rocks.com) 已在其所有网页上均启用了 CORS。启用开发人员工具后，您就会在我们的响应中看到 <code>Access-Control-Allow-Origin</code> 了：</p>

  <figure>
    <img src="access_control_header.png" alt="Access-Control-Allow-Origin header on html5rocks.com" title="html5rocks.com 上的 Access-Control-Allow-Origin 标头">
    <figcaption>html5rocks.com 上的 <code>Access-Control-Allow-Origin</code> 标头</figcaption>
  </figure>

  <p>启用跨源请求是非常简单的，因此如果您的数据是公开的，请务必<a href="http://enable-cors.org/">启用 CORS</a>！</p>

  <h3 id="toc-request-cors">提交跨域请求</h3>

  <p>如果服务器端已启用了 CORS，那么提交跨域请求就和普通的 <code>XMLHttpRequest</code> 请求没什么区别。例如，现在 <code>example.com</code> 可以向 <code>www.example2.com</code> 提交请求了：</p>

<pre class="prettyprint">
var xhr = new XMLHttpRequest();
xhr.open('GET', 'http://www.example2.com/hello.json');
xhr.onload = function(e) {
  var data = JSON.parse(<b>this.response</b>);
  ...
}
xhr.send();
</pre>


  <h2 id="toc-examples">实际示例：</h2>

  <h3 id="toc-example-savingimages">下载文件并保存到 HTML5 文件系统</h3>

  <p>假设您有一个图片库，想要提取一些图片，然后使用 <a href="/tutorials/file/filesystem/">HTML5 文件系统</a>本地保存这些图片。一种方法是以 <code>ArrayBuffer</code> 形式请求图片，通过数据构建 <code>Blob</code>，并使用 <code>FileWriter</code> 写入 blob：</p>

<pre class="prettyprint">
window.requestFileSystem  = window.requestFileSystem || window.webkitRequestFileSystem;

function onError(e) {
  console.log('Error', e);
}

var xhr = new XMLHttpRequest();
xhr.open('GET', '/path/to/image.png', true);
<b>xhr.responseType = 'arraybuffer';</b>

<b>xhr.onload</b> = function(e) {

  <b>window.requestFileSystem</b>(TEMPORARY, 1024 * 1024, function(fs) {
    fs.root.getFile('image.png', {create: true}, function(fileEntry) {
      fileEntry.createWriter(function(writer) {

        writer.onwrite = function(e) { ... };
        writer.onerror = function(e) { ... };

        <b>var bb = new BlobBuilder();</b>
        <b>bb.append</b>(<b>xhr.response</b>);

        <b>writer.write</b>(bb.getBlob('image/png'));

      }, onError);
    }, onError);
  }, onError);
};

xhr.send();
</pre>

  <p><strong>请注意</strong>：要使用此代码，请参阅“<a href="/tutorials/file/filesystem/">探索 FileSystem API</a>”教程中的<a href="/tutorials/file/filesystem/#toc-support">浏览器支持和存储限制</a>。</p>

  <h3 id="toc-example-slicingfiles">分割文件并上传各个部分</h3>

  <p>使用 <a href="/tutorials/file/dndfiles/">File API</a>，我们可以将操作简化为上传大文件。我们采用的技术是：将要上传的文件分割成多个部分，为每个部分生成一个 XHR，然后在服务器上将各部分组合成文件。这类似于 Gmail 快速上传大附件的方法。使用这种技术还可以规避 Google 应用引擎对 http 请求的 32 MB 限制。</p>

<pre class="prettyprint">
window.BlobBuilder = window.MozBlobBuilder || window.WebKitBlobBuilder ||
                     window.BlobBuilder;

function upload(blobOrFile) {
  var xhr = new XMLHttpRequest();
  xhr.open('POST', '/server', true);
  xhr.onload = function(e) { ... };
  xhr.send(blobOrFile);
}

document.querySelector('input[type="file"]').addEventListener('change', function(e) {
  var blob = this.files[0];

  const BYTES_PER_CHUNK = 1024 * 1024; // 1MB chunk sizes.
  const SIZE = blob.size;

  var start = 0;
  var end = BYTES_PER_CHUNK;

  while(start &lt; SIZE) {

    // Note: blob.slice has changed semantics and been prefixed. See http://goo.gl/U9mE5.
    if ('mozSlice' in blob) {
      var chunk = blob.mozSlice(start, end);
    } else {
      var chunk = blob.webkitSlice(start, end);
    }

    upload(chunk);

    start = end;
    end = start + BYTES_PER_CHUNK;
  }
}, false);

})();
</pre>

  <p>用于在服务器上重组文件的代码并未在此显示。</p>

  <p><strong>赶快试试吧</strong>！</p>
  <div class="example">
    #bytes/chunk: <input type="number" min="1048576" value="1048576" id="numChunks">
    <input type="file" id="afile" class="button">
    <div id="bars"></div>
  </div>

  <h2 id="toc-references">参考</h2>
  <ul>
    <li><a href="http://dev.w3.org/2006/webapi/XMLHttpRequest-2/">2 级 XMLHttpRequest</a> 规范</li>
    <li><a href="http://dev.w3.org/2006/waf/access-control/">跨源资源共享 (CORS)</a> 规范</li>
    <li><a href="http://www.w3.org/TR/file-upload/">File API</a> 规范</li>
    <li><a href="http://dev.w3.org/2009/dap/file-system/pub/FileSystem/">FileSystem API</a> 规范</li>
  </ul>

<script>
(function() {
var progress = document.querySelector('progress');
var bars = document.querySelector('#bars');

var uploaders = [];

function upload(blobOrFile) {

  var progress = document.createElement('progress');
  progress.min = 0;
  progress.max = 1;
  progress.value = 0;
  bars.appendChild(progress);

  var xhr = new XMLHttpRequest();
  xhr.open('POST', '/echoserver', true);
  xhr.onload = function(e) {
    progress.value = 1; // Insure final value is 100%.

    uploaders.pop();

    if (!uploaders.length) {
      bars.appendChild(document.createElement('br'));
      bars.appendChild(document.createTextNode('DONEZO :)'));
    }
  };

  // Listen to the upload progress for each upload.
  xhr.upload.onprogress = function(e) {
    if (e.lengthComputable) {
      progress.value = e.loaded / e.total;
      progress.textContent = parseFloat(progress.value) * 100; // Fallback for unsupported browsers.
    }
  };

  uploaders.push(xhr);

  xhr.send(blobOrFile);
}

document.querySelector('#afile').addEventListener('change', function() {
  window.BlobBuilder = window.MozBlobBuilder || window.WebKitBlobBuilder || window.BlobBuilder;

  var blob = this.files[0];

  const BYTES_PER_CHUNK = parseInt(document.querySelector('#numChunks').value);
  const SIZE = blob.size;
  const NUM_CHUNKS = Math.max(Math.floor(SIZE / BYTES_PER_CHUNK), 1);

  // Reset from previous runs.
  bars.innerHTML = '';
  bars.innerHTML = 'Sending <b>' + NUM_CHUNKS + '</b> chunks:<br>';

  var start = 0;
  var end = BYTES_PER_CHUNK;

  while(start < SIZE) {

    // Note: blob.slice has changed semantics and been prefixed.
    // See http://groups.google.com/a/chromium.org/group/chromium-apps/browse_thread/thread/5bd921ad25449471/40a69d12b69072ec
    if ('mozSlice' in blob) {
      var chunk = blob.mozSlice(start, end);
    } else {
      var chunk = blob.webkitSlice(start, end);
    }

    upload(chunk);

    start = end;
    end = start + BYTES_PER_CHUNK;
  }
}, false);

})();
</script>

{% endblock %}