{% extends "tutorial.html" %}

{% block headauthor %}简·克莱纳特 (Jan Kleinert) <jkleinert@google.com>{% endblock %}

{% block headtitle %}利用 HTML5 美化表单{% endblock %}
{% block pagetitle %}利用 HTML5 美化表单{% endblock %}
{% block head %}
<style>
  article > section :invalid { 
    border-color: #e88;
    -webkit-box-shadow: 0 0 5px rgba(255, 0, 0, .8);
    -moz-box-shadow:0 0 5px rbba(255, 0, 0, .8);
    -o-box-shadow:0 0 5px rbba(255, 0, 0, .8);
    -ms-box-shadow:0 0 5px rbba(255, 0, 0, .8);
    box-shadow:0 0 5px rgba(255, 0, 0, .8);
  }

  article > section :required {
    border-color: #88a;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
    -o-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
    -ms-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
    box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  }

  article > section form {
    width:300px;
    margin: 20px auto;
  }

  article > section input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border:1px solid #ccc;
    font-size:20px;
    width:300px;
    min-height:30px;
    display:block;
    margin-bottom:15px;
    margin-top:5px;
    outline: none;

    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    -ms-border-radius:5px;
    border-radius:5px;
  }

  article > section input[type=submit] {
    padding:10px;
    background:none;
  }

  table.alternating {
    table-layout: fixed;
    width: 100%; 
    text-align: left;
    border-collapse: collapse;
    border: 1px solid #eee;
  }

  table.alternating tr:nth-child(even) {
    background-color: #eee;
  }

  table.alternating thead {
    background-color: #eee;
  }

    
</style>
{% endblock %}
{% block pagebreadcrumb %}利用 HTML5 美化表单{% endblock %}
{% block date %}2011 年 6 月 01 日{% endblock %}
{% block updated %}{% endblock %}
{% block onload %}{% endblock %}

{% block browsersupport %}
<span class="browser opera supported"><span class="browser_name">Opera</span><span class="support">支持</span></span> <span class="browser ie"><span class="browser_name">Internet Explorer</span><span class="support">不支持</span></span> <span class="browser safari supported"><span class="browser_name">Safari</span><span class="support">支持</span></span> <span class="browser ff supported"><span class="browser_name">Firefox</span><span class="support">支持</span></span> <span class="browser chrome supported"><span class="browser_name">Chrome 浏览器</span><span class="support">支持</span></span>
{% endblock %}

{% block iscompatible %}
  return !!(Modernizr.inputtypes.number && Modernizr.inputtypes.email && Modernizr.inputtypes.date && Modernizr.input.placeholder && Modernizr.input.pattern);
{% endblock %}

{% block html5badge %}
<img src="/static/images/identity/html5-badge-h-css3-semantics.png" width="165" height="64" alt="本文由 HTML5 CSS3 以及样式和语义强力驱动" title="本文由 HTML5 CSS3 以及样式和语义强力驱动"  />
{% endblock %}

{% block content %}
  <h2 id="toc-introduction">简介</h2>
  <p>对表单感兴趣的人并不多，但 HTML5 引入的一些重大改进却同时方便了创建表单的开发人员和填写表单的用户。全新的表单元素、属性、输入类型、基于浏览器的验证、CSS3 样式技术以及 FormData 对象让创建表单变得更轻松，甚至可能更富有趣味性。</p>

  <p class="notice tip">
    There is even more up to date forms guidance on our new
    <a href="https://developers.google.com/web/fundamentals/user-input/form-input/">Web Fundamentals</a> site.
  </p>

  <h3 id="toc-intro-support">浏览器支持</h3>

  <p>在撰写本文时，所有新的表单和输入元素以及属性和类型的支持情况都会因浏览器的不同而存在很大差异。甚至在支持特定功能的各个浏览器之间，它们的行为也会互不相同。但 HTML5 表单的支持情况变化很快，且仍在不断改进。在撰写本文时，<a href="http://wufoo.com/html5/" 
  target="_blank">这些图表</a>是我能找到的最新图表，它们详细说明了各个浏览器对 HTML5 表单的支持情况。</p>

  <h2 id="toc-inputs-attributes">新增内容概述</h2>

  <h3 id="toc-inputs-attributes-elements">新元素</h3>

  <p>HTML5 引入了 5 种有关输入和表单的新元素。 
  <table class="alternating">
    <thead>
      <tr>
        <th scope="col">元素</th>
        <th scope="col">用途</th>
        <th scope="col">注释</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code><a href="http://dev.w3.org/html5/spec/Overview.html#the-progress-element" 
        target="_blank">progress</a></code></td>
        <td>用于表示任务已完成。</td>
        <td><code>progress</code> 元素可用于表示文件的上传进程。</td>
      </tr>
      <tr>
        <td><code><a href="http://dev.w3.org/html5/spec/Overview.html#the-meter-element" 
        target="_blank">meter</a></code></td>
        <td>用于表示已知范围内的标量测量值。</td>
        <td><code>meter</code> 元素可用于表示温度或重量等测量值。</td>
      </tr>
      <tr>
        <td><code><a href="http://dev.w3.org/html5/spec/Overview.html#the-datalist-element" 
        target="_blank">datalist</a></code></td>
        <td>用于表示一组 <code>option</code> 元素，您可以将这些元素与新输入属性 <code>list</code> 配合使用，以制作下拉菜单。</td>
        <td>如果对焦到带有数据表的输入，系统就会显示一个下拉菜单，其中包含 <code>datalist</code> 中的值。
        </td>
      </tr>
      <tr>
        <td><code><a href="http://dev.w3.org/html5/spec/Overview.html#the-keygen-element" 
        target="_blank">keygen</a></code></td>
        <td>用于生成密钥对的控件。</td>
        <td>提交表单时，系统会将私钥保存在本地密钥库中，并将公钥发送到服务器。</td>
      </tr>
      <tr>
        <td><code><a href="http://dev.w3.org/html5/spec/Overview.html#the-output-element" 
        target="_blank">output</a></code></td>
        <td>用于显示计算结果。</td>
        <td>例如，<code>output</code> 元素可用于显示两个输入元素值的总和</code>。</td>
      </tr>
    </tbody>
  </table>
  </p>

  <h3 id="toc-inputs-attributes-types">新输入类型</h3>

  <p>HTML5 引入了 13 种新的输入类型。如果在不支持这些输入类型的浏览器中查看，系统就会使用后备的文字输入。

  <table class="alternating">
    <thead>
      <tr>
        <th scope="col">输入类型</th>
        <th scope="col">用途</th>
        <th scope="col">注释</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>tel</code></td>
        <td>用于输入电话号码。</td>
        <td><code>tel</code> 不执行特定语法，因此如果您想确保特定的格式，可以使用 <code>pattern</code> 或 <code>setCustomValidity()</code> 执行额外的验证。</td>
      </tr>
      <tr>
        <td><code>search</code></td>
        <td>用于提示用户输入要搜索的文字。</td>
        <td><code>search</code> 和 <code>text</code> 之间的区别主要在于样式上。使用 <code>search</code> 输入类型可能会导致输入字段的样式与平台的搜索字段相一致。</td>
      </tr>
      <tr>
        <td><code>url</code></td>
        <td>用于输入单个网址。</td>
        <td><code>url</code> 用于输入单个表示很大范围值的<a href="http://www.w3.org/TR/html5/urls.html#absolute-url" target="_blank">绝对网址</a>。</td>
      </tr>
      <tr>
        <td><code>email</code></td>
        <td>用于输入单个电子邮件地址或电子邮件地址列表。</td>
        <td>如果指定了 <code>multiple</code> 属性，就可以输入多个电子邮件地址，以逗号分隔。</td>
      </tr>
      <tr>
        <td><code>datetime</code></td>
        <td>用于输入时区设置为 UTC 的日期和时间。</td>
        <td></td>
      </tr>
      <tr>
        <td><code>date</code></td>
        <td>用于输入不含时区的日期。</td>
        <td></td>
      </tr>
      <tr>
        <td><code>month</code></td>
        <td>用于输入含年份和月份但不含时区的日期。</td>
        <td></td>
      </tr>
      <tr>
        <td><code>week</code></td>
        <td>用于输入含年份和周数但不含时区的日期。</td>
        <td>例如，此格式的日期 2011-W05 表示 2011 年的第 5 周。
        </td>
      </tr>
      <tr>
        <td><code>time</code></td>
        <td>用于输入含小时、分钟、秒和秒的小数部分但不含时区的时间值。</td>
        <td></td>
      </tr>
      <tr>
        <td><code>datetime-local</code></td>
        <td>用于输入不含时区的日期和时间。</td>
        <td></td>
      </tr>
      <tr>
        <td><code>number</code></td>
        <td>用于输入数字。</td>
        <td>有效值为<a href="http://www.w3.org/TR/html5/common-microsyntaxes.html#valid-floating-point-number" 
        target="_blank">浮点数</a>。</td>
      </tr>
      <tr>
        <td><code>range</code></td>
        <td>用于输入数字，但与 <code>number</code> 的区别在于无需输入具体数字。</td>
        <td>在大部分支持该类型的浏览器中，范围控件的实施形式为滑块。</td>
      </tr>
      <tr>
        <td><code>color</code></td>
        <td>用于通过颜色池控件选择颜色。</td>
        <td>值必须为<a href="http://www.w3.org/TR/html5/common-microsyntaxes.html#valid-lowercase-simple-color" 
        target="_blank">有效的小写简单颜色</a>，例如 #ffffff。</td>
      </tr>
    </tbody>
  </table>
  </p>

  <h3 id="toc-inputs-attributes-attributes">新输入属性</h3>

  <p>HTML5 还为输入和表单元素引入了几种新属性。
  <table class="alternating">
    <thead>
      <tr>
        <th scope="col">属性</th>
        <th scope="col">用途</th>
        <th scope="col">注释</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>autofocus</code></td>
        <td>用于在网页加载后对焦到相关元素上的输入。</td>
        <td><code>autofocus</code> 的目标可以是输入、选择、文本区域和按钮。</td>
      </tr>
      <tr>
        <td><code>placeholder</code></td>
        <td>用于提示用户应输入的数据类型。</td>
        <td>在对焦到相关元素以及用户输入数据之前，系统会以浅色文字显示占位符值。您可以在输入和文本区域中指定该值。</td>
      </tr>
      <tr>
        <td><code>form</code></td>
        <td>用于指定输入元素所属的一或多个表单。</td>
        <td>借助 <code>form</code> 属性，您可以将输入元素放在网页的任何位置上，而不是只能放在表单元素中。同时，单个输入元素可与多个表单关联。</td>
      </tr>
      <tr>
        <td><code>required</code></td>
        <td>用于表示必填元素的布尔值属性。</td>
        <td><code>required</code> 属性有助于在不使用自定义 JavaScript 的情况下执行基于浏览器的验证。</td>
      </tr>
      <tr>
        <td><code>autocomplete</code></td>
        <td>用于指定浏览器不应根据用户的历史记录自动填充或预先填充某个字段。</td>
        <td><code>autocomplete</code> 属性可用于信用卡号或一次性密码等您不想自动填充的字段。默认情况下，<code>autocomplete</code> 处于 <code>on</code> 状态，因此如果您想停用该属性，请将其设置为 <code>off</code>。</td>
      </tr>
      <tr>
        <td><code>pattern</code></td>
        <td>用于根据正则表达式验证元素的值。</td>
        <td>在使用 <code>pattern</code> 时，您也应指定 <code>title</code> 值，以便向用户提供预期模式的说明。</td>
      </tr>
      <tr>
        <td><code>dirname</code></td>
        <td>用于随表单提交控件的方向。</td>
        <td>例如，如果用户按从右到左的方向输入文本数据，且输入元素包含 <code>dirname</code> 属性，那么系统就会将指明从右到左方向的内容随输入值一起提交。</td>
      </tr>
      <tr>
        <td><code>novalidate</code></td>
        <td>在表单元素上指定该属性即可停用表单提交验证。</td>
        <td></td>
      </tr>
      <tr>
        <td><code>formaction</code></td>
        <td>用于覆盖表单元素上的 action 属性。</td>
        <td><code>input</code> 和 <code>button</code> 元素支持此属性。</td>
      </tr>
      <tr>
        <td><code>formenctype</code></td>
        <td>用于覆盖表单元素上的 enctype 属性。</td>
        <td><code>input</code> 和 <code>button</code> 元素支持此属性。</td>
      </tr>
      <tr>
        <td><code>formmethod</code></td>
        <td>用于覆盖表单元素上的 method 属性。</td>
        <td><code>input</code> 和 <code>button</code> 元素支持此属性。</td>
      </tr>
      <tr>
        <td><code>formnovalidate</code></td>
        <td>用于覆盖表单元素上的 novalidate 属性。</td>
        <td><code>input</code> 和 <code>button</code> 元素支持此属性。</td>
      </tr>
      <tr>
        <td><code>formtarget</code></td>
        <td>用于覆盖表单元素上的 target 属性。</td>
        <td><code>input</code> 和 <code>button</code> 元素支持此属性。</td>
      </tr>
    </tbody>
  </table> 
  </p>
  
  <h3 id="toc-form-data-object">FormData 对象</h3>

  <p>在对 <code><a href="http://dev.w3.org/2006/webapi/XMLHttpRequest-2" 
  target="_blank">XMLHttpRequest</a></code> 的多项改进中，有一项是引入了 <code><a href="http://dev.w3.org/2006/webapi/XMLHttpRequest-2/#the-formdata-interface" 
  target="_blank">FormData</a></code> 对象。借助 <code>FormData</code> 对象，您可以创建并发送一组密钥/值对，也可以选择使用 <code>XMLHttpRequest</code> 创建并发送文件。使用此技术时，数据的发送格式与您通过表单的带 <code>multipart/form-data</code> 编码类型的 <code>submit()</code> 方法提交的数据相同。</p>

  <p><code>FormData</code> 提供了一种方法，供您使用 JavaScript 即时创建 HTML 表单，然后使用 <code>XMLHttpRequest.send()</code> 提交表单。下面是一个简单的示例：</p>
  <pre class="prettyprint">var formData = new FormData();
formData.append("part_num", "123ABC"); 
formData.append("part_price", 7.95);
formData.append("part_image", somefile)

var xhr = new XMLHttpRequest();
xhr.open("POST", "http://some.url/");  
xhr.send(formData);</pre>

  <p>您也可以在提交表单前使用 <code>FormData</code> 将其他数据添加到现有表单中。</p>
  <pre class="prettyprint">var formElement = document.getElementById("someFormElement");
var formData = new FormData(formElement);
formData.append("part_description", "The best part ever!");

var xhr = new XMLHttpRequest();
xhr.open("POST", "http://some.url/");
xhr.send(formData);</pre>

  <h2 id="toc-validation">基于浏览器的验证</h2>

  <p>实话实说吧，验证表单数据是一项十分令人厌烦的任务，但无论如何您都要去做。现在，为了执行客户端表单验证，您可能会编写一些自定义 JavaScript 代码或使用库执行某些操作，例如检查有效输入或在表单提交前确保必填字段均已填写。
  </p>

  <p>与 CSS 伪类选择器配合使用的 <code>required</code> 和 <code>pattern</code> 等新输入属性可让您更轻松地编写检查代码并向用户显示反馈。借助其他一些先进的验证技术，您还可以使用 JavaScript 设置自定义验证规则和讯息，或者确定元素是否无效以及无效原因。</p>

  <h3 id="toc-required">required 属性</h3>

  <p>在提交表单时，带 <code>required</code> 属性的字段必须包含值。以下必填电子邮件地址输入字段的示例用于确保该字段包含一个值，且这个值是有效的电子邮件地址（具体定义请点击<a href="http://dev.w3.org/html5/spec/Overview.html#valid-e-mail-address" 
  target="_blank">此处</a>）。<br>
  <pre class="prettyprint">&lt;input type="email" id="email_addr" name="email_addr" required /&gt;</pre>
  </p>

  <h3 id="toc-pattern">pattern 属性</h3>

  <p>您可以通过 <code>pattern</code> 属性指定用于验证输入字段的正则表达式。此示例表示一个部件号的必填文本输入字段。在此示例中，我们假设部件号由三个大写字母和紧随其后的四个数字组成。使用 <code>required</code> 和 <code>pattern</code> 可确保该字段包含一个值，且这个值符合部件号的正确格式。如果用户将鼠标悬停在该字段上，系统就会显示 title 属性中的讯息。
  <br>
  <pre class="prettyprint">&lt;input type="text" id="part" name="part" required pattern="[A-Z]{3}[0-9]{4}"
       title="Part numbers consist of 3 uppercase letters followed by 4 digits."/&gt;</pre>
  </p>

  <p>在此示例的基础上，如果输入的部件号无效，您也可以将输入字段的边框描成红色。要在值无效的情况下在输入字段周围显示红色边框，请添加以下 CSS。
  <br>
  <pre class="prettyprint">:invalid {
  border: 2px solid #ff0000;
}</pre>

  <h3 id="toc-formnovalidate">formnovalidate 属性</h3>
  <p><code>formnovalidate</code> 属性适用于 <code>input</code> 或 <code>button</code> 元素。使用该属性可停用表单提交验证。在以下示例中，通过“提交”按钮提交表单需要有效输入，但通过“保存”按钮提交则不需要。
  <br>
  <pre class="prettyprint">&lt;input type="text" id="part" name="part" required pattern="[A-Z]{3}[0-9]{4}"
       title="Part numbers consist of 3 uppercase letters followed by 4 digits."/&gt;
&lt;input type="submit" formnovalidate value="Save"&gt;
&lt;input type="submit" value="Submit"&gt;</pre>
  </p>

  <h3 id="toc-constraint-validation">constraint validation API</h3>

  <p><a href="http://dev.w3.org/html5/spec/association-of-controls-and-forms.html#the-constraint-validation-api" 
  target="_blank">constraint validation API</a> 为您提供了处理自定义验证的强大工具。您可以通过该 API 执行设置自定义错误、检查元素是否有效以及确定元素无效原因等操作。在以下示例中，如果两个字段中的值不一致，系统就会显示自定义错误。
  <br>
  <pre class="prettyprint">&lt;label&gt;Email:&lt;/label&gt;
&lt;input type="email" id="email_addr" name="email_addr"&gt;

&lt;label&gt;Repeat Email Address:&lt;/label&gt;
&lt;input type="email" id="email_addr_repeat" name="email_addr_repeat" oninput="check(this)"&gt;

&lt;script&gt;
function check(input) {
  if (input.value != document.getElementById('email_addr').value) {
    input.setCustomValidity('The two email addresses must match.');
  } else {
    // input is valid -- reset the error message
    input.setCustomValidity('');
  }
}
&lt;/script&gt;</pre>
  </p>

  <h2 id="toc-example-form">综合使用</h2>

  <p>以下预订请求表单示例综合使用了各种输入类型、表单验证以及 CSS 选择器和样式。</p>
  <form oninput="total.value = (nights.valueAsNumber * 99) + 
   ((guests.valueAsNumber - 1) * 10)">
    <label>全名：</label>
    <input type="text" id="full_name" name="full_name" placeholder="Jane Doe" 
    required>

    <label>电子邮件地址：</label>
    <input type="email" id="email_addr" name="email_addr" required>

    <label>再次输入电子邮件地址：</label>
    <input type="email" id="email_addr_repeat" name="email_addr_repeat" required
    oninput="check(this)">

    <label>到达日期：</label>
    <input type="date" id="arrival_dt" name="arrival_dt" required>
    
    <label>住宿天数（房间每晚 $99.00）：</label>
    <input type="number" id="nights" name="nights" value="1" min="1" max="30" 
    required>

    <label>住宿人数（每晚每多住一人需加收 $10.00）：</label>
    <input type="number" id="guests" name="guests" value="1" min="1" max="4" 
    required>

    <label>预计总额：</label>
    $<output id="total" name="total">99</output>.00
    <br><br>

    <label>优惠码：</label>
    <input type="text" id="promo" name="promo" pattern="[A-Za-z0-9]{6}" 
    title="Promo codes consist of 6 alphanumeric characters.">

    <input type="submit" value="请求预订"  /> 
  </form>

  <script>
  function check(input) {
    if (input.value != document.getElementById('email_addr').value) {
      input.setCustomValidity('The two email addresses must match.');
    } else {
      // input is valid -- reset the error message
      input.setCustomValidity('');
    }
  }
  </script>

  <p>表单的 HTML 和 JavaScript 如下：</p>
  <pre class="prettyprint">&lt;form oninput="total.value = (nights.valueAsNumber * 99) + 
 ((guests.valueAsNumber - 1) * 10)"&gt;

  &lt;label&gt;Full name:&lt;/label&gt;
  &lt;input type="text" id="full_name" name="full_name" placeholder="Jane Doe" required&gt;

  &lt;label&gt;Email address:&lt;/label&gt;
  &lt;input type="email" id="email_addr" name="email_addr" required&gt;

  &lt;label&gt;Repeat email address:&lt;/label&gt;
  &lt;input type="email" id="email_addr_repeat" name="email_addr_repeat" required 
   oninput="check(this)"&gt;

  &lt;label&gt;Arrival date:&lt;/label&gt;
  &lt;input type="date" id="arrival_dt" name="arrival_dt" required&gt;
  
  &lt;label&gt;Number of nights (rooms are $99.00 per night):&lt;/label&gt;
  &lt;input type="number" id="nights" name="nights" value="1" min="1" max="30" required&gt;

  &lt;label&gt;Number of guests (each additional guest adds $10.00 per night):&lt;/label&gt;
  &lt;input type="number" id="guests" name="guests" value="1" min="1" max="4" required&gt;

  &lt;label&gt;Estimated total:&lt;/label&gt;
  $&lt;output id="total" name="total"&gt;99&lt;/output&gt;.00
  &lt;br&gt;&lt;br&gt;

  &lt;label&gt;Promo code:&lt;/label&gt;
  &lt;input type="text" id="promo" name="promo" pattern="[A-Za-z0-9]{6}" 
   title="Promo codes consist of 6 alphanumeric characters."&gt;

  &lt;input type="submit" value="Request Reservation" /&gt; 
&lt;/form&gt;

&lt;script&gt;
function check(input) {
  if (input.value != document.getElementById('email_addr').value) {
    input.setCustomValidity('The two email addresses must match.');
  } else {
    // input is valid -- reset the error message
    input.setCustomValidity('');
  }
}
&lt;/script&gt;
</pre>

  <p>表单代码所带的 CSS 如下：</p>
  <pre class="prettyprint">:invalid { 
  border-color: #e88;
  -webkit-box-shadow: 0 0 5px rgba(255, 0, 0, .8);
  -moz-box-shadow: 0 0 5px rbba(255, 0, 0, .8);
  -o-box-shadow: 0 0 5px rbba(255, 0, 0, .8);
  -ms-box-shadow: 0 0 5px rbba(255, 0, 0, .8);
  box-shadow:0 0 5px rgba(255, 0, 0, .8);
}

:required {
  border-color: #88a;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -o-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -ms-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  box-shadow: 0 0 5px rgba(0, 0, 255, .5);
}

form {
  width:300px;
  margin: 20px auto;
}

input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border:1px solid #ccc;
  font-size:20px;
  width:300px;
  min-height:30px;
  display:block;
  margin-bottom:15px;
  margin-top:5px;
  outline: none;

  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  -ms-border-radius:5px;
  border-radius:5px;
}

input[type=submit] {
  background:none;
  padding:10px;
}</pre>

<h2 id="resources">参考资料</h2>
<ul>
  <li><a href="http://www.w3.org/TR/html5/forms.html">W3C 规范</a></li>
  <li><a href="http://wufoo.com/html5/">HTML5 表单的当前情况</a></li>
</ul>
{% endblock %}