{% extends "tutorial.html" %}
{% load mixin from templatefilters %}

{% block pagebreadcrumb %}{{ tut.title }}{% endblock %}

{% block head %}
<style>
/*blockquote:not(.talkinghead) {
  background: rgb(238, 238, 238);
  padding: 1px 15px;
  position: relative;
}
blockquote:not(.talkinghead):before,
blockquote:not(.talkinghead):after {
  font-size: 75px;
  position: absolute;
  color: #ccc;
}
blockquote:not(.talkinghead):before {
  content: '“';
  top: -25px;
  left: -15px;
}
blockquote:not(.talkinghead):after {
  content: '”';
  right: -5px;
  bottom: -55px;
}*/
.talkinghead.singleline:before {
  top: 5px !important;
}
button a {
  color: inherit !important;
}
.centered {
  text-align: center;
}
figure img {
  border: 1px solid #ccc;
  padding: 10px;
}
article.tutorial section {
  overflow: visible;
}
.talkinghead:before {
  background-image: url(/static/images/profiles/75/ericbidelman.75.png);
  background-position: 0px 0px !important;
}

article.tutorial .notice.fact,
article.tutorial .notice.tip {
  position: relative;
  padding-left: 25px;
}
article.tutorial .notice.fact:before,
article.tutorial .notice.tip:before {
  position: absolute;
  top: -5px;
  left: -10px;
  text-transform: uppercase;
  -webkit-transform: rotateZ(-30deg);
  -moz-transform: rotateZ(-30deg);
  -o-transform: rotateZ(-30deg);
  -ms-transform: rotateZ(-30deg);
  transform: rotateZ(-30deg);
  color: rgb(237, 71, 50);
  font-weight: bold;
  content: "Fact";
}
article.tutorial .notice.tip {
  padding-left: 20px;
}
article.tutorial .notice.tip:before {
  content: "Tip";
  top: -5px;
  left: -5px;
}

.tutorial table td,
.tutorial table th {
  border: 1px solid #ccc;
  padding: 5px;
}
.tutorial table th {
  background: #222;
  color: white;
  padding: 10px;
  font-weight: 600;
}
.disabledemos .demoarea {
  display: none !important;
}
.demoarea {
  margin-top: 20px;
}
.demoarea {
  padding: 10px;
  background: #fff;
  border: 1px dashed #000;
  display: inline-block;
  position: relative;
}
.demoarea:before {
  content: 'Live demo:';
  position: absolute;
  top: -30px;
  left: 0;
  font-weight: bold;
  text-transform: uppercase;
}

/* Demos */
app-panel {
  display: flex;
  display: -webkit-flex;
}
[is="x-item"] {
  transition: opacity 400ms ease-in-out;
  opacity: 0.3;
  background: rgb(255, 0, 255);
  color: white;
  flex: 1;
  -webkit-flex: 1;
  text-align: center;
  border-radius: 50%;
}
[is="x-item"]:hover {
  opacity: 1.0;
}
app-panel > [is="x-item"] {
  padding: 5px;
  list-style: none;
  margin: 0 7px;
}

/* apply a dashed border to all unresolved elements */
x-panel:unresolved {
  border: 1px dashed red;
  display: inline-block;
}
/* x-panel's that are unresolved are red */
x-panel:unresolved {
  color: red;
}
/* once the definition of x-panel is registered, it becomes green */
x-panel {
  color: green;
  display: block;
  padding: 5px;
}

.kbd {
  padding: 0.1em 0.6em;
  border: 1px solid rgb(204, 204, 204);
  font-size: 11px;
  font-family: Arial,Helvetica,sans-serif;
  background-color: rgb(247, 247, 247);
  color: rgb(51, 51, 51);
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px rgb(255, 255, 255) inset;
  border-radius: 3px;
  display: inline-block;
  margin: 0 0.1em;
  text-shadow: 0 1px 0 rgb(255, 255, 255);
  line-height: 1.5;
  white-space: nowrap;
}
</style>
{% endblock %}

{% block iscompatible %}
  return 'registerElement' in document;
{% endblock %}

{% block html5badge %}
<!-- Your HTML5 badge (tech class icons used in the article) goes here -->
{% endblock %}

{% block share_image %}
<!--<meta itemprop="image" content="images/your_social_sharing_img.png">-->
{% endblock %}

{% block translator %}
<div class="translator">
  <strong>翻訳：</strong> <a href="/profiles/#agektmr">Eiji Kitamura</a>
</div>
{% endblock %}


{% block content %}

