* {
  margin: 0;
  padding: 0;
}

html {
  background-color: black;
}

body {
  overflow: hidden;
  font-family: sans-serif;
}

#container h1 {
  margin: 8px;
}

#container {
  background-color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 1080px;
  -webkit-transform-origin: 50% 0;
  overflow:hidden;
}

#demoFrameContainer {
  z-index: 1000000;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  color: white;
  -webkit-transition-duration: 0.8s;
  opacity: 1;
}

.demoFrame {
  border: 0px;
  -webkit-box-shadow: 0px 0px 20px #000;
  position: absolute;
  top: 30px;
  left: 40px;
  background-color: white;
  overflow:hidden;
}

#demoClose {
  width: 40px;
  font-size: 40px;
  position: absolute;
  text-align: center;
  right: 0px;
  top: 19px;
  cursor: pointer;
}

#demoMenu {
  z-index: 100;
  position: absolute;
  top: 0px;
  left: 0px;
  color: white;
  text-align: center;
  width: 100%;
  height: 100%;
  vertical-align: top;
  background-color: rgba(0,0,0,0);
  -webkit-transform-origin: 50% 0;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-perspective: 1920px;
  -webkit-perspective-origin: 50% 0;
}

#demoMenu > h1 {
  display: inline-block;
  margin: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-top: 16px;
  font-weight: normal;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 20px;
  margin-left: 46px;
  color: black;
  margin-bottom: 6px;
  padding-right: 60px;
  padding-left: 60px;
  -webkit-transform-origin: 50% 70%;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
}

#demoMenu > div {
  vertical-align: top;
  display: inline-block;
  font-size: 13px;
  width: 180px;
  height: 208px;
  padding: 0px;
  background-color: rgba(0,0,0,0.8);
  -webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.75);
  margin: 10px;
  -webkit-transform-origin: 50% 50%;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
}

#demoMenu .image {
  width: 180px;
  height: 120px;
  overflow: hidden;
  cursor: pointer;
}

#demoMenu a {
  color: black;
  display: block;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 4px;
  background-color: #30dfff;
  border-bottom: 1px solid black;
  text-shadow: 0px 1px 1px rgba(255,235,215,0.5);
  background: #ffa84c;
  background: -moz-linear-gradient(top, #ffa84c 0%, #df5b0d 100%);
  background: -o-linear-gradient(top, #ffa84c 0%,#ff7b0d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa84c), color-stop(100%,#df5b0d));
}

.author {
  display: block;
  font-size: 14px;
}

.info {
  margin-top: 4px;
  display: block;
  color: #ddd;
  font-size: 12px;
  margin-left: 4px;
  margin-right: 4px;
}

#container > iframe {
  background-color: white;
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0;
  opacity: 0;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-out;
}

#demoInfo {
  z-index: 3;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
}

