{% extends "tutorial.html" %}

{% block headauthor %}Paul Irish{% endblock %}
{% block pageauthor %}{% profilelinks paulirish %}{% endblock %}
{% block credits %}
 * Créditos: * - Paul Irish (autor) * - Stephen Hay (autor)
{% endblock %}

{% block headtitle %}Resultados rápidos con Flexible Box Model{% endblock %}
{% block pagetitle %}Resultados rápidos con Flexible Box Model{% endblock %}
{% block pagebreadcrumb %}Resultados rápidos con Flexbox{% endblock %}
{% block date %}5 de octubre de 2010{% endblock %}

{% block browsersupport %}
<span class="opera "></span> <span class="ie "></span> <span class="browser safari supported"><span class="browser_name">Compatible con </span><span class="support">Safari</span></span> <span class="browser ff supported"><span class="browser_name">Compatible con </span><span class="support">Firefox</span></span> <span class="browser chrome supported"><span class="browser_name">Compatible con </span><span class="support">Chrome</span></span>
{% endblock %}

{% block html5badge %}
<img src="/static/images/identity/html5-badge-h-css3.png" width="133" height="64" alt="En este artículo se utiliza CSS3 HTML5" title="En este artículo se utiliza CSS3 y HTML5"  />
{% endblock %}

{% block iscompatible %}
  return Modernizr.flexbox;
{% endblock %}

{% block head %}
  <style>
  /* handy helpers from http://infrequently.org/2009/08/css-3-progress/ 
     but i changed box-flex to 1 from 0.. 
  */
  /* hbox and vbox classes */

  .hbox {
    width: 100%;
    
  	display: -webkit-box;
  	-webkit-box-orient: horizontal;
  	-webkit-box-align: stretch;

  	display: -moz-box;
  	-moz-box-orient: horizontal;
  	-moz-box-align: stretch;

  	display: box;
  	box-orient: horizontal;
  	box-align: stretch;
  }

  .hbox > * {
  	-webkit-box-flex: 1;
  	-moz-box-flex: 1;
  	box-flex: 1;
  	display: block;
  }

  .vbox {
  	display: -webkit-box;
  	-webkit-box-orient: vertical;
  	-webkit-box-align: stretch;

  	display: -moz-box;
  	-moz-box-orient: vertical;
  	-moz-box-align: stretch;

  	display: box;
  	box-orient: vertical;
  	box-align: stretch;
  }

  .vbox > * {
  	-webkit-box-flex: 1;
  	-moz-box-flex: 1;
  	box-flex: 1;
  	display: block;
  }

  .spacer {
  	-webkit-box-flex: 1;
  	-moz-box-flex: 1;
  	box-flex: 1;
  }

  .reverse {
  	-webkit-box-direction: reverse;
  	-moz-box-direction: reverse;
  	box-direction: reverse;
  }

  .boxFlex0 {
  	-webkit-box-flex: 0;
  	-moz-box-flex: 0;
  	box-flex: 0;
  }

  .boxFlex1, .boxFlex {
  	-webkit-box-flex: 1;
  	-moz-box-flex: 1;
  	box-flex: 1;
  }

  .boxFlex2 {
  	-webkit-box-flex: 2;
  	-moz-box-flex: 2;
  	box-flex: 2;
  }

  .boxGroup1 {
  	-webkit-box-flex-group: 1;
  	-moz-box-flex-group: 1;
  	box-flex-group: 1;
  }

  .boxGroup2 {
  	-webkit-box-flex-group: 2;
  	-moz-box-flex-group: 2;
  	box-flex-group: 2;
  }

  .start {
  	-webkit-box-pack: start;
  	-moz-box-pack: start;
  	box-pack: start;
  }

  .end {
  	-webkit-box-pack: end;
  	-moz-box-pack: end;
  	box-pack: end;
  }

  .center {
  	-webkit-box-pack: center;
  	-moz-box-pack: center;
  	box-pack: center;
  }
  </style>
{% endblock %}

{% block content %}



<h2 id="toc-intro">Introducción</h2>

<p>Probablemente hayas trabajado más de una vez en la definición del estilo de los elementos que ocupan el espacio horizontal o vertical de una página. Sin embargo, <abbr>CSS</abbr> no cuenta todavía con un mecanismo adecuado para realizar esta tarea. Por ello, te recomendamos que utilices <abbr>el módulo Flexible Box</abbr>de CSS3 (o <i>Flexbox</i>, de forma abreviada).</p> 

 
<p>En el <a href="http://dev.w3.org/csswg/css3-flexbox/">borrador</a>, se describe Flexbox como:</p> 
 
<blockquote>[...] un <abbr>modelo de cajas de</abbr> CSS optimizado para diseño de interfaces. Flexbox proporciona un sistema de diseño adicional a los que ya ofrece <abbr>CSS</abbr>. [CSS21] En este nuevo modelo de cajas, los elementos secundarios de una caja se disponen tanto horizontal como verticalmente, y el espacio no utilizado puede asignarse a un elemento secundario específico o distribuirse entre los diferentes elementos secundarios mediante la asignación de "flex" a los elementos secundarios que se deben expandir. El anidamiento de estas cajas (horizontal dentro de vertical o vertical dentro de horizontal) se puede utilizar para crear diseños en dos dimensiones. Flexbox se basa en el modelo de cajas del <abbr title="XML User Interface Language">lenguaje de interfaz de usuario</abbr> XUL que se utiliza en la interfaz de usuario de un gran número de aplicaciones basadas en Mozilla (como Firefox).</blockquote> 
 
<p>Estupendo. Para ti (como desarrollador, no como creador de diseños), esto significa lo siguiente:</p> 
 
<ol> 
    <li>No hace falta incluir propiedades "float". 
    <li>Los diseños que antes suponían un difícil reto ahora parecen más viables.
    <li>Podemos crear diseños verdaderamente flexibles y dejar que el navegador haga los cálculos por nosotros. 
</ol> 
 <!--
<p>Basically, Flexbox is a small part of <abbr>XUL</abbr> ported to <abbr>CSS</abbr>. Cool as it may be, I remain of the opinion that the power of Flexbox is in the layout of things like UI components (think forms and toolbars and such) rather than in general page layout. So let&#8217;s not get carried away and make Flexbox the new float. For general page layout, we need a true grid-based model; I&#8217;ll come back to that in the near future. For now, let&#8217;s dive in.</p> 
 -->
<p>Flexbox ofrece un nuevo valor para la propiedad <code>display</code> (el valor <i>box</i>) y ocho propiedades nuevas:</p> 
 
<ul>    
  <li><code>box-orient </code></li>

  <li><code>box-pack</code> <!-- horiz --></li>
  <li><code>box-align </code><!-- vert --></li>

  <li><code>box-flex </code></li>
  <li><code>box-flex-group </code></li>
  <li><code>box-ordinal-group </code></li>

  <li><code>box-direction </code></li>
  <li><code>box-lines </code></li>
</ul> 

¿Ocho propiedades nuevas? Resulta un poco abrumador, ¿verdad? Vamos a explicarlo.

<h2 id="toc-common">Propiedades de estilo comunes de Flexbox</h2>

<h4>Estilos utilizados en la caja</h4>

<dl>
  <dt><code>display: box</code></dt>
  <dd>Este nuevo valor para el estilo de visualización habilita este elemento y los elementos secundarios directos dentro de Flexible Box Model. El modelo Flexbox solo funciona con elementos secundarios directos.</dd>
  
  <dt><code>box-orient</code></td>
  <dd>Valores: <b><code>horizontal</code></b> | <code>vertical</code> | <code>inherit</code></dd>
  <dd>¿Cómo se deben alinear los elementos secundarios de la caja? Hay dos valores adicionales (<code>inline-axis</code>, el valor real predeterminado, y <code>block-axis</code>), pero se asignan a la orientación horizontal y vertical, respectivamente.</dd>
  
  <dt><code>box-pack</code></td>
  <dd>Valores: <b><code>start</code> </b>| <code>end</code> | <code>center</code> | <code>justify</code></dd>
  <dd>Define la alineación del la caja a lo largo del eje definido por <code>box-orient</code>. Por tanto, si la orientación definida por <code>box-orient</code> es horizontal, esta propiedad determinará la forma de alineación horizontal de los elementos secundarios de la caja, y viceversa.</small></dd>
  
  <dt><code>box-align</code></td>
  <dd>Valores: <code>start</code> | <code>end</code> | <code>center</code> | <code>baseline</code> | <b><code>stretch</code></b></dd>
  <dd>Básicamente, es la propiedad secundaria de <code>box-pack</code>. Define la forma de alineación de los elementos secundarios en la caja. Si la orientación es horizontal, esta propiedad determinará la alineación vertical, y viceversa.</small></dd>

</dl>  

<h4>Estilos utilizados en los elementos secundarios de la caja</h4>  

<dl>

  <dt><code>box-flex</code></td>
  <dd>Valores: <b><code>0</code></b> | <i>Un número entero</i></dd>
  <dd>Indica el índice de flexibilidad del elemento secundario. Si el valor de un elemento secundario es <code>1</code> y el de otro elemento secundario es <code>2</code>, este último consumirá el doble de espacio adicional de la caja principal. El valor predeterminado es <code>0</code>, lo que indica que no es flexible. </dd>

</dl>

<p>No se han incluido las propiedades <code>box-flex-group</code>, <code>box-ordinal-group</code>, <code>box-direction</code> y <code>box-lines</code>, porque realmente no vas a necesitarlas para la mayor parte del trabajo que harás con Flexbox. Para ver cómo se utilizan estas propiedades, consulta los enlaces incluidos en la sección <a href="#toc-summary">Resumen</a>.</p>

<p>Nota sobre la sintaxis: actualmente, para implementar Flexbox en WebKit y Gecko, se deben utilizar prefijos del proveedor. En este tutorial, no se ha incluido casi ningún prefijo por claridad. Para obtener más información, consulta la sección <a href="#toc-support">Compatibilidad con el navegador</a>.</p>

<h2 id="toc-flexibility">¿Qué es la flexibilidad?</h2>

La propiedad de estilo <code>box-flex</code> determina si un elemento secundario de una caja flexible debe ser flexible o no y ayuda a definir su índice de flexibilidad en relación con el resto de elementos secundarios. Veamos un ejemplo práctico para entender lo que significa esto. Empezaremos con tres cajas. 

<pre class="prettyprint">&lt;div id="flexbox">
  &lt;p>child 1&lt;/p>
  &lt;p>child 2&lt;/p>
  &lt;p>child 3&lt;/p>
&lt;/div>
</pre> 
 
<p>A continuación, las colocaremos horizontalmente, una junto a otra. Las alturas de las cajas deben coincidir siempre, independientemente del contenido de cada una. ¿Cómo se puede conseguir esto? Aparentemente, lo más fácil sería hacer flotar estos párrafos añadiendo, por ejemplo, <code>overflow:hidden;</code> al elemento principal para eliminar los elementos flotantes. Este sistema no tiene mucho misterio. Sin embargo, podemos conseguir lo mismo fácilmente con Flexbox:</p> 
 
<pre class="prettyprint">#flexbox { 
  display: box;
  box-orient: horizontal;
}
</pre> 
 
<p>En el fragmento de código que aparece arriba, se indica al elemento principal que se comporte de acuerdo con este modelo Flexbox y que todos los elementos secundarios se coloquen a lo largo del eje horizontal. Como se puede comprobar, no se utilizan elementos flotantes.</p> 

<p>El ancho de los elementos secundarios se mantiene tal como se ha especificado (o se utiliza el ancho inherente, si no se ha especificado ninguno). Esto significa que, si el ancho total de todos los elementos secundarios es inferior al ancho total del elemento principal, obtendremos algo así:</p> 
 
<figure><img src="flex01.gif" alt="los tres elementos secundarios mantienen los valores de ancho inherentes dentro del elemento principal" title="flex01" width="475" height="297"   /></figure> 
 
<p>De forma predeterminada, los elementos secundarios de las cajas flexibles se mantienen inflexibles. Aunque esto pueda parecer algo extraño, de esta forma los elementos secundarios tienen la posibilidad de convertirse en flexibles. Pero, ¿qué ocurre si queremos que los elementos secundarios uno y dos tengan un ancho específico y que el elemento secundario tres ajuste su ancho en función del espacio disponible dentro del elemento principal? Flexbox es la solución:</p> 
 
<pre class="prettyprint">#flexbox { 
  display: box;
  box-orient: horizontal;
}
#flexbox > p:nth-child(3) {
  box-flex: 1;
}
</pre> 
 
<p>En este ejemplo, se indica al último elemento secundario que se haga flexible y que ocupe el espacio disponible. Como solo hemos asignado espacio a un elemento, este ocupará <i>todo</i> el espacio disponible:</p> 
 
<figure><img src="flex02.gif" alt="el tercer elemento secundario, convertido en flexible, ocupa el espacio disponible" width="475" height="297"  /></figure> 
 
<p>Ten en cuenta que el elemento solo se hace flexible a lo largo del eje de orientación de la caja (en este caso, el eje horizontal).</p> 
 
<p>El valor de "box-flex" es relativo. Por tanto, si queremos que los elementos secundarios segundo y tercero sean flexibles, debemos hacerlo así:</p> 
 
<pre class="prettyprint">#flexbox { 
  display: box;
  box-orient: horizontal;
}
#flexbox > p:nth-child(2),
#flexbox > p:nth-child(3) {
  box-flex: 1;
}
</pre>
 
<p>De esta forma, cada elemento ocupará la misma cantidad de espacio disponible, que se dividirá equitativamente entre los elementos.</p> 
 
<figure><img src="flex03.gif" alt="dos de los tres elementos secundarios comparten el espacio disponible en el elemento principal"  width="475" height="297"   /></figure> 

También podemos establecer los valores <code>1</code>, <code>2</code> y <code>3</code>, respectivamente, para la propiedad <code>box-flex</code> de los elementos secundarios uno, dos y tres, de forma que estos elementos ocupen proporcionalmente el espacio adicional del elemento principal. Veamos un caso práctico.

<h2 id="toc-basic">Un ejemplo básico</h2>
{% if is_mobile %}
<style>
.box {
  width: 350px;
  height: 95px;
  font-size: 14px;
  border: 1px solid #555;

  display: -webkit-box;
  -webkit-box-orient: horizontal;

  display: -moz-box;
  -moz-box-orient: horizontal;

  display: box;
  box-orient: horizontal;
}

.box > div {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;

   -moz-transition: width 0.7s ease-out;  
     -o-transition: width 0.7s ease-out;  
-webkit-transition: width 0.7s ease-out;  
        transition: width 0.7s ease-out;
}

.box > div:nth-child(1){ background : #FCC;}
.box > div:nth-child(2){ background : #CFC;}
.box > div:nth-child(3){ background : #CCF;}
 
.box > div:hover { 
  width: 200px;
}
</style>

<p>Coloca el cursor sobre una de las cajas que se muestran a continuación para ver cómo funciona Flexbox:</p>
<div class="box">
  <div>uno</div>
  <div>dos</div>
  <div>tres</div>
</div>
<p>A medida que una caja se expande, las demás se encogen, pero el ancho total siempre coincide con el tamaño de la caja principal.</p>

<p>Utiliza el siguiente código para conseguir este efecto:</p>

<div class="hbox">
  <pre class="prettyprint">
    
    
&lt;div class="box">
  &lt;div>un&lt;/div>
  &lt;div>deux&lt;/div>
  &lt;div>trois&lt;/div>
&lt;/div>
  </pre>
  <div clas=spacer></div>
  <pre class="prettyprint">
.box {
  /* basic styling */
  width: 350px; height: 95px; font-size: 14px; 
  border: 1px solid #555;

  /* flexbox setup */
  display: box;
  box-orient: horizontal;
}

.box > div {
  box-flex: 1;
  transition: width 0.7s ease-out;
}

/* our colors */
.box > div:nth-child(1){ background : #FCC; }
.box > div:nth-child(2){ background : #CFC; }
.box > div:nth-child(3){ background : #CCF; }

.box > div:hover { 
  width: 200px;
}
  </pre>
</div>
{% else %}
<p>Consulta el código que aparece a continuación y el resultado que se obtiene:</p>

<p>Coloca el cursor sobre una de las cajas para ver cómo funciona Flexbox. A medida que una caja se expande, los demás se encogen, pero el ancho total siempre coincide con el tamaño de la caja principal.</p>

<iframe src="http://playground.html5rocks.com/?mode=frame&hu=230&hl=150#flexible_box_model:_basic_example" style="border: none; width: 100%; height: 500px;"></iframe>
{% endif %}

<p>En realidad, solo se utilizan dos estilos: <code>display: box</code>, que hace que se utilice el modo de cajas flexibles, y <code>box-flex: 1</code>, que hace que los elementos secundarios funcionen en modo flexible ocupando todo el espacio sobrante. La orientación predeterminada es horizontal. Por tanto, aunque no es necesario utilizar el estilo <code>box-orient: horizontal</code>, se recomienda incluirlo por motivos de claridad y sostenibilidad. El estilo <code>box-align</code> predeterminado es alargado, por lo que los elementos "div" ocupan toda la altura de la caja principal. No está mal, ¿verdad? Para ver cómo se utiliza esta técnica en la navegación, consulta <a href="http://www.ie7nomore.com/fun/flexiblenav/">esta demostración de navegación flexible de Raphael Goetter</a>.</p> 

<p>Llevemos esta técnica a otro nivel.</p>




<h2 id="toc-center">Cómo colocar un elemento en el centro</h2>

<p>Siempre ha sido un reto centrar un elemento de forma horizontal y vertical en CSS. La mejor solución específica para CSS consiste en utilizar la fórmula <code>position:absolute; left: 50%; top: 50%;</code>, junto con valores negativos para los márgenes izquierdo y superior que sean iguales a la mitad de los valores de ancho/altura. Pero esta fórmula solo funciona con elementos de tamaño específico. ¡Vaya!

<p style="background-color: hsl(50, 84%, 91%)">James John Malcom escribió que existe una forma de alinear elementos verticalmente basada en <code>display:table-cell;</code> que se inventó hace al menos seis años (Dušan Janovský escribió sobre ello en 2004). Para consultar el artículo completo sobre esta solución de alineación horizontal y vertical, haz clic <a href="http://james.gameover.com/index.php/2009/vertically-centring-in-css-without-hacks-and-multi-line-enabled/">aquí</a>. Este método funciona incluso con elementos que no tienen un tamaño específico.


<p> Con Flexbox, podemos centrar un elemento con mayor facilidad:</p>

{% if is_mobile %}
<style>
.centerbox {
  width: 350px;
  height: 95px;
  font-size: 14px;
  border: 1px solid #555;
  background : #CFC;
    
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
 
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;
  
  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
}

</style>

<div class="centerbox">
  <textarea>ajustar tamaño</textarea>
</div>

<p>Código fuente:</p>

<div class="hbox">
  <pre class="prettyprint">
    
    
&lt;div class="centerbox">
  &lt;div>center me, please&lt;/div>
&lt;/div>
  </pre>
  <div clas=spacer></div>
  <pre class="prettyprint">
.centerbox {
  /* basic styling */
  width: 350px; height: 95px; background : #CFC;
  font-size: 14px; border: 1px solid #555;

  /* flexbox, por favor */
  display: box;
  /* this could be vertical, too */
  box-orient: horizontal; 
  /* these centers do the hard work */
  box-pack: center;
  box-align: center;
}
  </pre>
</div>

{% else %}

<iframe src="http://playground.html5rocks.com/?mode=frame&hu=180&hl=150#flexible_box_model:_center_stage" style="border: none; width: 100%; height: 450px;"></iframe>

{% endif %}
 
<p>No se establece la propiedad <code>box-flex</code> en el elemento secundario porque no queremos que utilice el espacio sobrante. Queremos colocarlo en el centro, independientemente de su tamaño. Esta es la gran ventaja que ofrece este sistema: no es necesario que un elemento tenga unas dimensiones específicas para poder centrarlo. Se pueden centrar elementos que normalmente se encuentran en bloque o integrados. Haz la prueba y verás como funciona.</p> 
 
 
 
<h2 id="toc-support">Compatibilidad con el navegador</h2> 
 

<p>¿Los usuarios podrían utilizar actualmente el modelo Flexbox en su trabajo? Depende del navegador que utilicen. Hasta ahora, no tenemos constancia de que Flexbox se haya utilizado en Internet Explorer 9 o en Opera 10.60, pero sí que ha aparecido en una de las vistas previas de la plataforma de Internet Explorer 9, por lo que es probable que Microsoft lo añada en algún momento.</p>

<p><a href="http://caniuse.com/#feat=flexbox">En la página Caniuse.com, podrás encontrar información sobre los navegadores compatibles</a>, que básicamente son Firefox 3 y versiones posteriores, Safari 3 y versiones posteriores y Chrome. Si te dedicas al desarrollo de WebKit para móviles, Flexbox puede ser una magnífica alternativa a tus esquemas de diseño estándares.</p>

<p>Como este modelo es experimental, te recomendamos que utilices los prefijos del proveedor:</p>

<div class="hbox">
  <pre class="prettyprint">
/* i wish it was as easy as this: */

display: box;
box-orient: horizontal; 
box-pack: center;
box-align: center;
  </pre>
  <pre class="prettyprint">
/* but in reality you'll need to do this: */

display: -webkit-box;
-webkit-box-orient: horizontal;
-webkit-box-pack: center;
-webkit-box-align: center;

display: -moz-box;
-moz-box-orient: horizontal;
-moz-box-pack: center;
-moz-box-align: center;

display: box;
box-orient: horizontal;
box-pack: center;
box-align: center;
  </pre>
</div>

<p>Si esto te parece demasiado complejo, puedes consultar un <a href="http://infrequently.org/2009/08/css-3-progress/">material de ayuda de gran utilidad que incluye un resumen de todas estas opciones</a>, preparado por Alex Russell.</p>
 

<h2 id="toc-summary">Resumen</h2>

<p>Flexbox ofrece una gran cantidad de posibilidades, incluso sin tener en cuenta las otras cuatro propiedades. Para obtener más información sobre Flexbox, consulta las <a href="http://blog.isotoma.com/2010/08/css3-flexbox/">demostraciones de Flexbox de la página Isotoma</a> y las <a href="http://hacks.mozilla.org/2010/04/the-css-3-flexible-box-model/">publicaciones de la página Mozilla Hacks sobre Flexbox</a>. Si tienes fuerzas suficientes para leer un texto denso, podrás encontrar más información en las <a href="http://dev.w3.org/csswg/css3-flexbox/">especificaciones de Flexbox de W3C</a>. ¡Anímate a crear algunos diseños!</p> 

<footer><small>Algunas partes de este tutorial se basan en una guía de <a href="http://www.the-haystack.com/">Stephen Hay</a>, que autorizó la distribución de su trabajo con una licencia CC-by.</small></footer>

{% endblock %}