a {
color: #6699ff;
text-decoration: none;
}
 
a:hover {
color: #99aaff;
text-decoration: underline;
}
 
body {
background: #666;
font-family: Arial, sans-serif;
overflow-y: scroll;
padding: 50px;
}
 
div#container {
background: #000;
color: white;
margin: 0 auto 0 auto;
padding: 20px 30px 30px 30px;
width: 1000px;
height: 798px;
}
  
h1 {
border-bottom: 1px solid #aaa;
color: white;
font-family: Arial, sans-serif;
margin: 0 0 30px 0;
padding: 0 0 10px 0;
}
 
img {
border: none;
}

input {
font-family: Arial, sans-serif;
}
 
p {
color: #eee;
font-size: 14px;
line-height: 1.5em;
}

div#blurb {
    margin: 0 0 30px 0;

    opacity: 0.9;
}

div#videoAndSearch {
float: left;
height: 428px;
margin: 0 20px 45px 0;
}

video {
float: left;
height: 360px;
margin: 0 14px 17px 0;
width: 640px;
border: 1px dotted #333;
}

div#searchContainer{
    margin: 0 0 20px 0;
}

div#searchContainer label {
font-weight: bold;
}

div#searchContainer input#searchInput {
border: 2px inset white;
font-size: 100%;
width: 498px;
margin:  0 0 10px 0;
padding: 3px 3px 1px 3px;
position: relative;
top: 1px;
text-overflow: ellipsis;
}

div#searchContainer div#searchHint {
color: #ccc;
font-size: 75%;
padding: 0 0 0 132px;
}

/* for jQuery UI autocomplete */
ul li {
font-size: 85%;
}

.warningMessage {
background: #333;
border: 1px dashed #ffff00;
color: #dddd00;
font-size: 135%;
font-weight: bold;
padding: 10px;
margin: 0 0 30px 0;
}

.warningMessage a {
}

.trackNotSupported {
display: none;
}

::-webkit-cue { color: white; background: black}


div#moreInformation {
background: #312C30;
float: left;
height: 510px;
padding: 20px 15px 0 20px;
width: 285px;
margin : 0 0 20px 0;
}

div#moreInformation h2 {
color: white;
font-size: 120%;
font-weight: bold;
margin: 0 0 30px 0;
padding: 0;
}

div#moreInformation p {
color: white;
font-size: 85%;
line-height: 1.5em;
margin: 0 0 20px 0;
}

div#moreInformation a {
color: #66eeff;
}

div#moreInformation a#originalArticle {
float: right;
margin: 20px 0 0 0;
}

div#carouselContainer {
clear: both;
}

div#copyright {

    clear: both;
    opacity: 0.5;
    

    font-size: 80%;

}

