{% extends "tutorial.html" %}

{% block pagebreadcrumb %}{{ tut.title }}{% endblock %}

{% block head %}
<style>
#example-download-links a {
  margin: 0 5px;
}
#file-import {
  border: 1px solid #ccc;
  padding: 5px;
  margin-left: 10px;
}
#piechart {
  display: inline-block;
  background: white;
}
</style>
{% endblock %}

{% block iscompatible %}
  var video = document.createElement('video');
  return !!(window.AudioContext || window.webkitAudioContext ||
            window.MediaSource);
{% endblock %}

{% block html5badge %}
<img src="/static/images/identity/html5-badge-h-connectivity-multimedia-performance.png" width="197" height="64" alt="This article is powered by HTML5 Performance/Integration, Multimedia, and Realtime/Connectivity" title="This article is powered by HTML5 Performance/Integration, Multimedia, and Realtime/Connectivity" />
{% endblock %}

{% block content %}

<p>{% include "warning.html" %}</p>
<h2 id="toc-into">Introduction</h2>

<p>In this article, I'll cover two techniques for streaming audio/video using a
few of the newer multimedia capabilities in web platform. The first method is the
<a href="http://dvcs.w3.org/hg/html-media/raw-file/tip/media-source/media-source.html">MediaSource API</a>, an API that allows JavaScript to dynamically construct and append media segments to an existing <code>&lt;audio&gt;</code> or <code>&lt;video&gt;</code> element.
The second is the collaboration of binary <a href="/tutorials/websockets/basics/">WebSocket</a> and
the <a href="/tutorials/webaudio/intro/">Web Audio API</a> to send, reconstruct, and schedule
audio chunks at precise times, producing seamless playback.</p>
<h2 id="toc-mediasource">Method 1: MediaSource API</h2>

<p>An API designed with streaming in mind is the <a href="http://dvcs.w3.org/hg/html-media/raw-file/tip/media-source/media-source.html">MediaSource API</a>.
It's an experimental feature that allows JavaScript to dynamically append media
to an <code>HTMLMediaElement</code>.</p>
<p>HTML <code>&lt;audio&gt;</code> and <code>&lt;video&gt;</code> are frighteningly trivial to use. Set a <code>src</code>
attribute to some URL, and boom, the browser does its thing: loads the media,
decodes it, buffers it, and handles codec issues.</p>
<p>The devil is in the details though. The cost of such simplicity is less flexibility.
First, we're dealing with the entire file for playback. We have little control
over what the browser does with our media after setting the <code>src</code>. For example,
what if we want to adaptively change the quality of video based on network conditions?
Or, splice in different sections of video from multiple sources? Aw shucks. Can't!</p>
<p><em>Without multiple media elements and JS hackery, doing anything
more complex than basic playback becomes a week-long chore when using
<code>&lt;audio&gt;</code>/<code>&lt;video&gt;</code>.</em></p>
<p>The MediaSource API is here to solve these issues. With it, we can tell
<code>&lt;audio&gt;</code>/<code>&lt;video&gt;</code> to behave differently.</p>
<h3 id="toc-mediasource-detect">Feature detection</h3>

<p>The MediaSource API is still experimental but is enabled by default in Chrome 23,
with a vendor prefix:</p>
<pre class="prettyprint"><code>function hasMediaSource() {
  return !!(window.MediaSource || window.WebKitMediaSource);
}

if (hasMediaSource()) {
  // Ready to (html5)rock!
} else {
  alert("Bummer. Your browser doesn't support the MediaSource API!");
}
</code></pre>
<h3 id="mediasource-init">Getting started</h3>

<p>To use MediaSource API, start off with your old buddy HTML5 <code>&lt;video&gt;</code>:</p>
<pre class="prettyprint"><code>&lt;video controls autoplay&gt;&lt;/video&gt;
</code></pre>
<p class="notice" style="text-align:center"><strong>Note:</strong> the examples in this section use <code>&lt;video&gt;</code>, but the same concepts apply to <code>&lt;audio&gt;</code>.</p>

<p>Next, create a <code>MediaSource</code> object:</p>
<pre class="prettyprint"><code>window.MediaSource = window.MediaSource || window.WebKitMediaSource;
var ms = new MediaSource();
</code></pre>
<p>The source is going to be the brains behind the <code>&lt;video&gt;</code>. Instead of setting
its <code>src</code> to a file, we're going to create a <a href="https://developer.mozilla.org/en-US/docs/DOM/window.URL.createObjectURL">blob: URL</a> as the <code>MediaSource</code>.  This makes the media element feel special
because it knows we're going to do more than just set a file. We're going to feed it
chunks of video data. Yum!</p>
<p>The rest of the setup looks like this:</p>
<pre class="prettyprint"><code>function onSourceOpen(e) {
  // this.readyState === 'open'. Add a source buffer that expects webm chunks.
  sourceBuffer = ms.addSourceBuffer('video/webm; codecs="vorbis,vp8"');

  ....
}

var ms = new MediaSource();
ms.addEventListener('webkitsourceopen', onSourceOpen.bind(ms), false);

var sourceBuffer = null;

// Use MediaSource to supply video data.
var video = document.querySelector('video');
video.src = window.URL.createObjectURL(ms); // blob URL pointing to the MediaSource.
</code></pre>
<p class="notice" style="text-align:center;">
Only the .webm container is supported at this time.
</p>

<p><code>sourceopen</code> fires after setting the blob URL. Once that happens, the <code>&lt;video&gt;</code>
is ready to accept incoming data. To hold those bytes, you create a new <code>SourceBuffer</code>
in the callback and inform the buffer what mimetype the <code>&lt;video&gt;</code> should
expect (webm in this case).</p>
<p>Chunks of .webm can now be dynamically appended to the <code>&lt;video&gt;</code>:</p>
<pre class="prettyprint"><code>// Append a portion of a webm file.
sourceBuffer.append(webmChunk);
</code></pre>
<p>Herein lies the flexibility of the Media Source API. <code>.append()</code> takes an <code>Uint8Array</code> <a href="/tutorials/webgl/typed_arrays/">typed array</a> of data. The format of that data is what we've
specified in <code>.addSourceBuffer()</code>. And the thing we're appending is a byte range
of video data, not an entire .webm movie. This is fundamentally different than how
<code>&lt;video&gt;</code> normally works.</p>
<p>Of course, if you wanted to, you could append an entire .webm movie in one go!</p>
<h3 id="toc-appending-chunks">Appending chunks of media</h3>

<p>The previous example appended a single chunk of webm to our <code>&lt;video&gt;</code>. However,
for the purposes of streaming, we need API functionality that lets us continuously
append new video chunks as they come in from the server. Most people
don't have their media split into a bunch of pieces, so there are a couple of ways
to do this.</p>
<p><strong><h4 id="toc-range-headers">Using range requests</h4></strong></p>
<p>If your server supports it, you can request portions of a file using the <code>Range</code> header. Two APIs that support partial resources out of the box are the <a href="https://developers.google.com/google-apps/documents-list/#downloading_documents_and_files">Google Drive API</a> and the <a href="https://developers.google.com/appengine/docs/python/blobstore/overview#Serving_a_Blob">App Engine BlobStore API</a> (via <code>X-AppEngine-BlobRange</code>).</p>
<p>You can set custom headers on an XHR request using <code>setRequestHeader()</code>. For instance, here's an example of requesting the first 500 bytes of a file:</p>
<pre class="prettyprint"><code>var xhr = new XMLHttpRequest();
xhr.open('GET', '/path/to/video.webm', true);
xhr.responseType = 'arraybuffer';
xhr.setRequestHeader('Range', 'bytes=0-500'); // Request first 500 bytes of the video.
xhr.onload = function(e) {
  var initializationWebMChunk = new Uint8Array(e.target.result);
  sourceBuffer.append(initializationWebMChunk);
}
xhr.send();
</code></pre>
<p>The first portion of a webm file is the "initialization chunk". It contains the
container's header information and should always be the first segment added.
Don't worry. If your videos are constructed correctly, there's nothing special
you need to do. Just make sure the initialization chunk is indeed the first one
you append.</p>
<p>For subsequent appends, request the appropriate byte range and go to town:</p>
<pre class="prettyprint"><code>sourceBuffer.append(webMChunk2);
sourceBuffer.append(webMChunk3);
...
</code></pre>
<p><strong><h4 id="toc-slicing-file">Slicing a file</h4></strong></p>
<p>The second way to dice a file is to do things ahead of time on the server.
However, for demonstration purposes, we can do the same thing client-side using
the File APIs. </p>
<p>For example, here's how to use XHR to request and slice a file into pieces:</p>
<pre class="prettyprint"><code>var FILENAME = 'test.webm';
var NUM_CHUNKS = 5;

function get(url, callback) {
  var xhr = new XMLHttpRequest();
  xhr.open('GET', url, true);
  xhr.responseType = 'blob';

  xhr.onload = function(e) {
    if (this.status == 200) {
      callback(this.response);
    }
  };

  xhr.send();
}

get(FILENAME, function(file) {
  var chunkSize = Math.ceil(file.size / NUM_CHUNKS);
  var fileNameParts = FILENAME.split('.');

  for (var i = 0; i &lt; NUM_CHUNKS; ++i) {
    var startByte = chunkSize * i;

    var chunk = file.slice(startByte, startByte + chunkSize, file.type);

    var a = document.createElement('a');
    a.download = [fileNameParts[0] + i, fileNameParts[1]].join('.');
    a.textContent = 'Download chunk ' + i;
    a.title = chunk.size + ' byte';
    // blob urls created from file parts use original file. See crbug.com/145156.
    a.href = window.URL.createObjectURL(chunk);
    document.body.appendChild(a);
  }
});
</code></pre>
<p>The important bits are:</p>
<ul>
<li><code>.responseType</code> is set to <code>"blob"</code> to inform the server we're
interested in the resource as a file rather than a string.</li>
<li><code>File.slice()</code> is used to break up the file into <code>NUM_CHUNKS</code> pieces.</li>
<li>For each chunk, fashion a <code>blob:</code> URL using <code>window.URL.createObjectURL()</code> and
create a downloadable anchor using <code>a[download]</code>.</li>
</ul>
<h3 id="toc-appending-closing">Closing the stream</h3>

<p>When there's no more data to append, call <code>.endOfStream()</code> to indicate you're done.
This also fires the <code>sourceended</code> event:</p>
<pre class="prettyprint"><code>ms.endOfStream();

ms.addEventListener('webkitsourceended', function(e) {
  // this.readyState === 'ended'
}, false);
</code></pre>
<p>Now we have everything needed for adaptive streaming. For that use case, we can
detect network changes in JS and append higher/lower quality video chunks based
on the connection.</p>
<h3 id="toc-example-chunks">Example: Chunking a file and appending for continuous playback</h3>

<p>To demonstrate appending video data onto a <code>&lt;video&gt;</code>, we need a .webm movie that's
split into multiple pieces. Since you probably don't one of these laying around,
I've created the following script to do that for you. It uses <code>file.slice()</code> to
break up a .webm file into <code>NUM_CHUNKS</code> pieces.</p>
<p><b>Select a .webm file:</b><input type="file" id="file-import">
<button id="example-split-file-button">Split file</button>
<p id="example-download-links"></p>
<div id="piechart"></div>
<video id="example-split-video" autoplay></video></p>
<p>Here, we're using XHR2 to pull down the entire webm movie. The important bits to note are:</p>
<p>https://github.com/acolwell/mse-tools</p>
<p>TODO: Link to DashPlayer
http://downloads.webmproject.org/adaptive-demo/adaptive/dash-player.html</p>
<h2 id="toc-binarywebsockets">Method 2: Binary WebSocket</h2>

<p>Todo</p>
<p>http://www.smartjava.org/content/record-audio-using-webrtc-chrome-and-speech-recognition-websockets</p>
<h3 id="toc-binarywebsockets-detect">Feature detection</h3>

<p>Todo</p>
<h2 id="toc-resources">Additional Resources</h2>

<ul>
<li><a href="http://html5-demos.appspot.com/static/media-source.html">MediaSource API Demo</a></li>
<li><a href="http://www.ioncannon.net/utilities/1515/segmenting-webm-video-and-the-mediasource-api/">Segmenting WebM Video and the MediaSource API</a></li>
<li><a href="http://dvcs.w3.org/hg/html-media/raw-file/tip/media-source/media-source.html">MediaSource API spec</a></li>
<li><a href="https://dvcs.w3.org/hg/audio/raw-file/tip/webaudio/specification.html">Web Audio API spec</a></li>
<li><a href="http://dev.w3.org/html5/websockets/">WebSocket API</a></li>
</ul>
<script>
</script><script src="raphael-min.js"></script>
<script>
(function() {
window.MediaSource = window.MediaSource || window.WebKitMediaSource;

var FILE = '/static/videos/mediasource_test.webm';
var NUM_CHUNKS = 5;
var chunks = [];

var WEBM_MANIFEST = {
  "type": "video/webm; codecs=\"vp8, vorbis\"",
  "duration": 6042.000000,
  "init": { "offset": 0, "size": 4238},
  "media": [
    { "offset": 4238, "size": 11830, "timecode": 0.000000 },
    { "offset": 16068, "size": 12588, "timecode": 0.385000 },
    { "offset": 28656, "size": 14588, "timecode": 0.779000 },
    { "offset": 43244, "size": 13023, "timecode": 1.174000 },
    { "offset": 56267, "size": 13127, "timecode": 1.592000 },
    { "offset": 69394, "size": 14456, "timecode": 1.987000 },
    { "offset": 83850, "size": 13458, "timecode": 2.381000 },
    { "offset": 97308, "size": 14566, "timecode": 2.776000 },
    { "offset": 111874, "size": 13201, "timecode": 3.171000 },
    { "offset": 125075, "size": 14068, "timecode": 3.566000 },
    { "offset": 139143, "size": 15346, "timecode": 3.984000 },
    { "offset": 154489, "size": 13618, "timecode": 4.378000 },
    { "offset": 168107, "size": 15094, "timecode": 4.773000 },
    { "offset": 183201, "size": 13069, "timecode": 5.168000 },
    { "offset": 196270, "size": 13788, "timecode": 5.563000 },
    { "offset": 210058, "size": 9009, "timecode": 5.957000 }
  ]
}

var downloadLinks = document.querySelector('#example-download-links');
var splitFileButton = document.querySelector('#example-split-file-button');
var splitVideo = document.querySelector('#example-split-video');
var fileImport = document.querySelector('#file-import');

var ms = new MediaSource();
ms.addEventListener('webkitsourceopen', function(e) {
  var sourceBuffer = ms.addSourceBuffer(WEBM_MANIFEST.type);
}, false);
ms.addEventListener('webkitsourceclose', function(e) {
  console.log('sourceclose', e);
}, false);

splitVideo.src = window.URL.createObjectURL(ms);

fileImport.addEventListener('change', function(e) {
  var f = e.target.files[0];
  if (!f.type.match('.*/webm')) {
    alert('Please select a .webm file');
    return;
  }
});

// ArrayBuffer
splitFileButton.addEventListener('click', function(e) {
  get(FILE, function(arrayBuffer) {
window.uInt8Array = new Uint8Array(arrayBuffer)


// Append initialization chunk.
var initChunk = uInt8Array.subarray(WEBM_MANIFEST.init.offset,
                                    WEBM_MANIFEST.init.offset + WEBM_MANIFEST.init.size);
ms.sourceBuffers[0].append(initChunk);

    var chunkSize = Math.ceil(uInt8Array.length / NUM_CHUNKS);

    console.log('num chunks:' + NUM_CHUNKS);
    console.log('chunkSize:' + chunkSize + ', totalSize:' + uInt8Array.length);

    var fileNameParts = FILE.substring(FILE.lastIndexOf('/') + 1).split('.');

    var data = [];
    var labels = [];
    chunks = [];
    downloadLinks.innerHTML = 'Download chunks:';

    for (var i = 0; i < NUM_CHUNKS; ++i) {
      var startByte = chunkSize * i;

      console.log(startByte, startByte + chunkSize);

      var chunk = uInt8Array.subarray(startByte, startByte + chunkSize);

      chunks.push(chunk);
      data.push(chunk.length);

      var a = document.createElement('a');
      a.download = 'chunk' + i + '.webm';
      labels.push(a.download);
      a.textContent = i + 1;
      a.title = chunk.size + ' byte';
      a.href = window.URL.createObjectURL(new Blob([chunk], {type: 'video/webm'}));
      downloadLinks.appendChild(a);
    }

    Raphael('piechart', 400, 300).pieChart(200, 150, 100, data, labels, '#000');
  });
});

function get(url, callback) {
  var xhr = new XMLHttpRequest();
  xhr.open('GET', url, true);
  xhr.responseType = 'arraybuffer';

  //xhr.setRequestHeader('Range', 'bytes=5-12');

  xhr.onload = function(e) {
    if (this.status != 200) {
      alert("Unexpected status code " + this.status + " for " + url);
      return false;
    }
    callback(this.response);
  };

  xhr.send();
}

Raphael.fn.pieChart = function(cx, cy, r, values, labels, stroke) {
  var paper = this,
      rad = Math.PI / 180,
      chart = this.set();

  function sector(cx, cy, r, startAngle, endAngle, params) {
    var x1 = cx + r * Math.cos(-startAngle * rad),
        x2 = cx + r * Math.cos(-endAngle * rad),
        y1 = cy + r * Math.sin(-startAngle * rad),
        y2 = cy + r * Math.sin(-endAngle * rad);
    return paper.path(["M", cx, cy, "L", x1, y1, "A", r, r, 0, +(endAngle - startAngle > 180), 0, x2, y2, "z"]).attr(params);
  }
  var angle = 0,
      total = 0,
      start = 0;

  function process(j) {
    var value = values[j],
        angleplus = 360 * value / total,
        popangle = angle + (angleplus / 2),
        color = Raphael.hsb(start, .75, 1),
        milliseconds = 500,
        delta = 5,
        bcolor = Raphael.hsb(start, 1, 1);

    var p = sector(cx, cy, r, angle, angle + angleplus,
                   {fill: "90-" + bcolor + "-" + color, stroke: stroke,
                   "stroke-width": 1}).data('val', labels[j]);

    var txt = paper.text(cx + (r + delta + 55) * Math.cos(-popangle * rad),
                         cy + (r + delta + 25) * Math.sin(-popangle * rad),
                         labels[j].split('.webm')[0]).attr({fill: bcolor, stroke: "none", opacity: 0, "font-size": 14});
    p.mouseover(function() {
      p.stop().animate({transform: "s1.1 1.1 " + cx + " " + cy}, milliseconds, "elastic");
      txt.stop().animate({opacity: 1}, milliseconds, "elastic");
    }).mouseout(function() {
      p.stop().animate({transform: ""}, milliseconds, "elastic");
      txt.stop().animate({opacity: 0}, milliseconds);
    }).click(function(e) {
      var name = this.data('val').split('.')[0];

      var arrayBufferChunk = chunks[parseInt(name.substring(name.length - 1))];

      // // Abort current segment append.
      // ms.sourceBuffers[0].abort();

      for (var i = 0, media; media = WEBM_MANIFEST.media[i]; ++i) {
        var chunk = uInt8Array.subarray(media.offset, media.offset + media.size);
        ms.sourceBuffers[0].append(chunk);
      }

      //ms.sourceBuffers[0].append(new Uint8Array(arrayBufferChunk));
    });

    angle += angleplus;
    chart.push(p);
    chart.push(txt);
    start += .1;
  };
  for (var i = 0, ii = values.length; i < ii; i++) {
    total += values[i];
  }
  for (i = 0; i < ii; i++) {
    process(i);
  }
  return chart;
};

})();
</script>

{% endblock %}
